{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}



<main role="main" class="l-page">
<div class="lc">

  <div class="l-content">
    <div class="maincontent">


    <div class="h4">Statistics dashboard</div>
    <h1>Provider name here</h1>

    <div class="section prototype-image">
      <br>
      <br>
      <br>
      <br>
      Large line graph goes here
      <br>
      <br>
      <br>
      <br>
    </div>

    <div class="section prototype-image">
      <br>
      <br>
      <br>
      <br>
      Large line graph goes here
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

    </div>
  </div>
  {{! END l-content }}


  <div class="l-sidebar">

  {{> molecules/charts/display-number(title: "Total Countries", value:"39") }}
  {{> molecules/charts/display-number(title: "Total Countries", value:"39") }}
  {{> molecules/charts/display-number(title: "Total Countries", value:"39") }}
  {{> molecules/charts/chart-pie(title: "Example Pie chart") }}

  </div>
  {{! end sidebar }}

</div>
</main>
<!-- End Main -->


{{> organisms/global/footer }}

