{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}


<div class="site-hero cf" style="background-image: url('{{image_root}}statistics/dashboard.jpg');" >

  <div class="hero-content">
      <h1 class="title">Europeana Statistics dashboard</h1>
      <h2 class="subtitle">Visualise Europeana statistics in an easy and intuitive way</h2>
  </div>

</div>

<div class="section quickinfo">
<div class="lc">

	<div class="l-primaryaction">
		<div class="primaryaction">


			<h2>How do people use Europeana?</h2>
			<p>Ever wondered what are the most popular items in Europeana or which country uses Europeana the most?</p>

			<a class="btn button-join pill" href="join">
				Browse the Europeana stats
			</a>

		</div>
	</div>


	<div class="l-usefulinfo usefulinfo">

		<h2>Quick links</h2>

		<div class="l-usefulinfo-item">
			<div class="usefulinfo-item">

				<h3>Find your Dashboard</h3>

				<ul class="usefulinfo-links">
				<li><a href="">Find an Aggregator</a></li>
				<li><a href="">Find an Institution</a></li>
				</ul>
			</div>
		</div>
		<div class="l-usefulinfo-item">
			<div class="usefulinfo-item">
				<h3>Browse Statistics:</h3>

				<ul class="usefulinfo-links">
					<li><a href="">By Country</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>
</div>


{{> organisms/global/footer }}

