{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}


<div class="site-hero cf" style="background-image: url('{{image_root}}statistics/tree-graph.jpg');" >

  <div class="hero-content">

      <h1 class="title">Europeana Statistics dashboard</h1>
      <h2 class="subtitle">Visualise Europeana statistics in an easy and intuitive way</h2>

  </div>

</div>

{{> organisms/sections/strapline }}

<div class="section quickinfo">
<div class="lc">

	<div class="l-primaryaction">

		<div class="primaryaction">

			<h2>Gain insights that work</h2>

			<ul>
				<li>Meet cultural sector professionals</li>
				<li>Share interests and insights</li>
				<li>Shape tomorrow's digital practices</li>
			</ul>

			<a class="btn button-join pill" href="join">
				Get Started
			</a>

		</div>

	</div>


	<div class="l-usefulinfo usefulinfo">


 		<h2>Quick Links</h2>

		<div class="l-usefulinfo-item">
			<div class="usefulinfo-item">
				<h3>Title here</h3>

				<ul class="usefulinfo-links">

					{{#listItems.three}}
					<li><a href="">{{headline.short}}</a></li>
					{{/listItems.three}}

				</ul>
			</div>
		</div>

		<div class="l-usefulinfo-item">
			<div class="usefulinfo-item">
				<h3>Title here</h3>

				<ul class="usefulinfo-links">

				{{#listItems.three}}
					<li><a href="">{{headline.short}}</a></li>
				{{/listItems.three}}

				</ul>
			</div>
		</div>
	</div>

</div>
</div>


{{> organisms/global/footer }}

