{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}


<div class="site-hero cf" style="background-image: url('{{image_root}}statistics/tree-graph.jpg');" >

  <div class="hero-content">

      <h1 class="title">Europeana Statistics dashboard</h1>
      <h2 class="subtitle">subtitle here Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cupiditate ab iste rem minima neque saepe quam, est nisi quae.</h2>

  </div>

</div>



{{> organisms/global/footer }}

