{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{{ gon }}}

{{> organisms/global/header_v2}}




<div class="map-hero">
  <div class="lc">

    {{! Main country map }}
    {{# content.charts.main_chart }}
    <div class="big-graph">
      {{> molecules/charts/pykchart }}
    </div>
    {{/ content.charts.main_chart }}

    <div class="hero-text">
      <h1 class="h2">Select a country from the map</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, cupiditate. Commodi a sed porro, non itaque provident assumenda tenetur.</p>
    </div>

  </div>
</div>

<main role="main" class="l-page">
<div class="lc">
  <div class="l-content">
    <div class="maincontent">
      <div class="textcontent">

          <h1 class="title">Additional info</h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis accusamus velit vero beatae natus sapiente adipisci eligendi cumque impedit maxime, rem ratione aspernatur nobis at debitis, unde, quaerat dolore fuga provident delectus totam. Nostrum dolore, adipisci placeat animi atque dolorum fuga, corrupti ex magni cum totam sit alias minus nihil.</p>

      </div>
    </div>
  </div>
  {{! END l-content }}


  <div class="l-sidebar sidebar cf"></div>
  {{! end sidebar }}

</div>
</main>
<!-- End Main -->


{{> organisms/global/footer }}

