// Statistics specific styles



.logo {
  background-image: url("../../images/statistics/europeana-logo-statistics.png");
  .svg &{
    background-image: url("../../images/statistics/europeana-logo-statistics.svg");
  }
}

.site-hero{
	height: 30%;

	.hero-content{
		padding: $space;
		color: $textcolour_heavy;
	}

	.title{
		font-weight: bold;
	}

	h2.subtitle{
		text-transform: initial;
		font-size: 1.4em;
		margin-bottom: 0;
	}
}


@media all and (min-width: $bp-med) and (min-height: 450px) {
	.site-hero{
		height: 50%;
	}

	.hero-content{
		position: absolute;
	    top: 50%;
	    left: 50%;
	    @include translate (-50%, -50%);
	    width: 80%;
		max-width: $max-width;
	}
}

// STATIC PAGES

// Generic page layout

.l-page{

	position: relative;
	background: $white; // fallback

	@media all and (min-width: $bp-med) {
		background: $offwhite; // fallback
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$offwhite), color-stop(50%,$offwhite), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1ee', endColorstr='#00ffffff',GradientType=1 );

	}

	&.no-sidebar{
		background: $white;

	}

	.textcontent, .l-sidebar, .l-breadcrumbs{
		position: relative;
		z-index: 10;
	}

	.l-content{
		background: $white;
		@media all and (min-width: $bp-med) {
		  @include span(18 of 24 wide no-gutter);
		}
	}

	.maincontent{
		background-color: $white;
		padding: $space-triple $space;
	}

	.textcontent{
		background-color: $white;
		padding-bottom: $space-triple;

		@media all and (min-width: $bp-med) {
		  max-width: 40em;
		}
	}

}

.l-sidebar{
	position: relative;
	z-index: 10;
	background: $offwhite;
	padding: $space;

	@media all and (min-width: $bp-med) {
	  @include span(last 6 of 24);
	  //min-height: 650px;
	}
}

.results-list,
.page-intro,
.articleheader{
	margin-bottom: $space-double;
}


.section {
	padding: $space;
}
@media all and (min-width: $bp-med) {
	.l-primaryaction{
		@include span(8 of 24);
	}
	.l-usefulinfo{
		@include span(last 16 of 24);
	}
}
@media all and (min-width: $bp-small) {
	.l-usefulinfo-item{
		@include span(8 of 16);
		&:last-child{
			margin-right: 0;
		}
	}
}

.big-graph figcaption{
	display: none;
}

.chart-wrapper{
	min-height: 10em;
	background-color: $gray-lighter;
}

.dashboard-title{
	margin-bottom: $space-half;

	h1,h2{
		display: inline;
	}

	.project-title{
		margin-right: $space-half;
	}

	.tooltip-container{
		vertical-align: top;
	}
}

.sidebar{
	.tooltip-container{
		float: right;
	}
	.tooltip{
		left: auto;
		right: -2em;
	}

	.stat-display{

		@media all and (min-width: $bp-small) {
			@include span(12 of 24);

			&:nth-child(even){
				margin-right: 0;
			}
		}

		@media all and (min-width: $bp-med) {
		  width: 100%;
		}
	}
}

.top25{
	margin-bottom: 0;

	a.show-all{
		display: block;
		text-align: center;
		margin-top: -2em;

		> span{
			display: block;
		}
	}

	.section-header{
		margin-bottom: $space;
	}
	.section-title{
		margin-bottom: 0;
		line-height: 2;
		@media all and (min-width: $bp-med) {
		  float: left;
		}
	}
	.results-filter{
		@media all and (min-width: $bp-med) {
		  float: right;
		}
	}
}

.madlib{
	display: inline;
	margin-right: 0.6em;
}

.results-list{

	border-bottom: 6px solid $black;

	li{
		@media all and (min-width: $bp-med) {
		  @include gallery(9 of 18);
		}
	}
	.listitem-image{
		width: span(3 of 9);
	}

	.listitem-text, .listitem-extra{
		font-size: $font-size-slightly-smaller;
	}
	.listitem-extra{
		color: $gray-light;
		font-weight: bold;
	}
}

.is-shortened{
	max-height: 30em;
	overflow: hidden;
}

.PykCharts-credits {
  display: none;
}


// Page specific

.page_dashboard{
	.maincontent{
		padding-top: 0;
	}
}

.page_home{
	.quickinfo{
		margin-bottom: 0;
	}
}

.page_static {
	.maincontent{
		min-height: 42em;
	}

	@media all and (min-width: $bp-med) {
		.l-sidebar{
			padding-top: $space * 3;
		}
	}

	.list-item{
		border-bottom: 1px solid $gray-lightest;
		padding: $space-half 0;
		display: block;
		margin-bottom: 0;
	}
}


// quick search
.search-controls{
	margin-bottom: $space;
	border: 1px solid $gray-lighter;
	border-width: 1px 0;
	padding: 1em 0;
}
.search-controls .sort{

	line-height: 1;

	&:after {
	  width: 0;
	  height: 0;
	  content: "";
	  position: relative;
	  top: -10px;
	  right: -4px;
	}

	&.asc:after {
	  border: 4px solid transparent;
	  border-top: 4px solid $gray-light;
	  top: 11px;
	}

	&.desc:after {
	  border: 4px solid transparent;
	  border-bottom: 4px solid $gray-light;
	  top: -9px;
	}

}

.list-search{
	border-radius: 30px;
	padding: 6px 12px;
	border-color: $gray-lighter;
	width: auto;
	margin-right: $space-half;
}


.page_countries {
 	main{
		padding-top: 0;
	}
}

.map-hero{

	position: relative;
	background-color: $gray-lightest;

	.chart-wrapper{
		min-height: 500px;
	}

	.hero-text{
		padding: $space;
		background-color: $black;
		color: $white;

		@media all and (min-width: $bp-med) {
			width: 60%;
			position: absolute;
			z-index: 5;
			bottom: 2em;
			right: 2em;
			background-color: rgba($black, 0.7);
			border-radius: 4px;
		}

		@media all and (min-width: $bp-large) {
			width: 35%;
		}

	   a{
			color: $white;
			border-bottom: 1px dotted $white;

			&:hover, &:focus{
				color: $accent;
				border-color: $accent;
			}
		}
	}


    @media all and (min-width: $bp-small) {
		margin-top: $globalnavheight;
	}

}