@charset "UTF-8";
/*
 EUROPEANA Statistics

 Requires: Sass, Compass, Susy
*/

// Sass stuff
@import "compass/css3";
@import "../scss/generic/variables";

// Mixins
@import "../scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu_pro;
$textcolour_highlight: $accent;


// Reset
@import "../scss/generic/reset";

/*------------------------------------*\
	$GLOBAL ELEMENTS
\*------------------------------------*/
@import "../scss/base/global-classes";
@import "../scss/base/main";
@import "../scss/base/links";
@import "../scss/base/headings_simple";
@import "../scss/base/text";
@import "../scss/base/lists";
@import "../scss/base/media";
@import "../scss/base/forms";
@import "../scss/base/utility";
@import "../scss/base/tables";


/*------------------------------------*\
	$GRIDS
\*------------------------------------*/

@import "../scss/grid/susy";
//module layout using susy grid

$susy: (
  columns: 24,
  gutters: 1/2,
  math: fluid,
  use-custom: (
    box-sizing: false,
  ),
  global-box-sizing: border-box
);

@import "../scss/layout/layout-common-susy";


/*------------------------------------*\
	$PAGE STRUCTURE
\*------------------------------------*/
@import "../scss/objects/header";
@import "../scss/objects/footer";
@import "../scss/objects/sections";
@import "../scss/objects/blocks";
@import "../scss/objects/page_header";
@import "../scss/objects/blocks/site-hero";
@import "../scss/objects/blocks/media-object";

/*------------------------------------*\
	PAGE/SECTION SPECIFIC
\*------------------------------------*/



/*------------------------------------*\
	$NAVIGATION
\*------------------------------------*/
//global nav styles - includes primary, secondary, tertiary and global offscreen navigation styles
@import "../scss/objects/nav";

//navigation types
@import "../scss/objects/navigation/pagination";

/*------------------------------------*\
	Buttons and text Styles
\*------------------------------------*/
@import "../scss/objects/buttons";
@import "../scss/objects/tags";



// Global icons (svg)
@import "../scss/objects/icons/svgicons";

/*------------------------------------*\
	Components
\*------------------------------------*/
@import "../scss/objects/controls/buttonbar";
@import "../scss/objects/lists/list-item";
@import "../scss/objects/tooltip";
@import "../scss/objects/lists-numbered";
@import "../scss/objects/charts/display-number";
@import "../scss/objects/charts/stats-bar";




/*------------------------------------*\
	JavaScript Components
\*------------------------------------*/
@import "../scss/objects/controls/dropdown";

/*------------------------------------*\
	SITE SPECIFIC - global
\*------------------------------------*/
@import "./statistics-site";

/*------------------------------------*\
	SITE SPECIFIC - modules
\*------------------------------------*/
// Search list item
//@import "./listitem";


/*------------------------------------*\
	Page specific
\*------------------------------------*/


