{{> organisms-header-labs }}

	
<div role="main" class="grid">

	<div class="block block-content-header">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
			<h3 class="headline" >Examples</h3>
			<p class="subhead">{{ excerpt.short }}</p>
		</div>
	</div>

	<div class="grid__item one-quarter palm--one-whole">
		{{> molecules-labs-subnav }}
	</div><!--

 --><div class="grid__item three-quarters palm--one-whole">

		<ul class="post-list grid" >

		{{# listItems.two }}<li class="grid__item one-whole desk--one-half">{{> molecules-labs-item-main }}</li><!-- 
		-->{{/ listItems.two }}

		{{# listItems.six }}<li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!-- 
		-->{{/ listItems.six }}

		</ul>


 		{{> molecules-pagination }}

 	</div>
 </div>

{{> organisms-footer-labs }}