// TODO: remove temp stylings.
.dashboard-wrapper {
  margin-top: 178px;
  height: 1600px;
}

.cf.loggedin-metis {
  flex: 1;
  display: flex;

  .metis-logo  {
    .logo {
      width: 100%;
      margin-left: 1.2rem;
    }
  }

  .dashboard-header-links {
    flex: 1;
    padding-top: 0.8rem;
    padding-right: 1rem;

    #settings-menu {
      float: right;

      .notifications {
        position: relative;

        .circle {
          position: absolute;
          width: 18px;
          height: 18px;
          background-color: $eu-jade;
          border-radius: 50%;
          color: white;
          font-size: 10px;
          font-weight: bold;
          line-height: 18px;
          margin: 0 auto 10px;
          left: -38px;
          text-align: center;
          top: 20px;
        }

        @-moz-document url-prefix() {
          .circle {
            left: -158px;
            top: 38px;
          }
        }
      }
    }
  }
}

.dashboard-header {
  flex: 2;
  margin-left: 1.2rem;
  padding-top: 0.4rem;

  .js-hitarea {
    order: 1;
    border: 1px solid $off-white;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 40%;

    ul {
      margin-top: 0.5rem;
      li {
        input {
          width: 50rem !important;
        }
      }
    }
  }

  .search-multiterm {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
  .submitarea {
    margin-left: 6px;
    order: 4;
  }
  .search-submit {
    height: 100%;
  }

  #browse-menu {
    margin-left: 0;

    .sub-arrow {
      border-color: $opacity-black transparent transparent;
    }

    li {
      background-color: $white;

      a {
        background-color: $white;
      }
    }
  }

  button, input[type="submit"] {
    background: $eu-jade;
  }

  .link-text {
    color: $light-gray;
  }

  nav {
    order: 3;
    background-color: $white;
    border: 1px solid $off-white;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: text;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    padding: 0.2rem 0.4rem;
  }
}
