.dashboard-wrapper {
  background-color: $off-white;
  min-height: 100vh; // TODO: remove temp stylings.
  margin-top: 4.8em;
  padding: 0 1.2rem;


  .btns-set {
    background-color: $white;
  }

  .metis-dashboard {
    padding: 1rem;
  }
}

.cf.loggedin-metis {
  display: flex;
  flex: 1;

  .metis-logo  {
    .logo {
      margin-left: 1.2rem;
      width: 100%;
    }
  }

  .dashboard-header-links {
    flex: 1;
    padding-right: 1rem;
    padding-top: .8rem;

    #settings-menu {
      float: right;
      min-width: 11.5rem;

      .metis-user {
        .sub-arrow {
          display: none;
        }
        ul li ul.menu-sublevel {
          &::before {
            left: 38px;
          }
          &::after {
            left: 39px;
          }
        }
      }

      .notifications {
        position: relative;

        .circle {
          background-color: $eu-jade;
          border-radius: 50%;
          color: $white;
          font-size: 10px;
          font-weight: bold;
          height: 18px;
          left: -36px;
          line-height: 18px;
          margin: 0 auto 10px;
          position: absolute;
          text-align: center;
          top: 21px;
          width: 18px;
        }

        @-moz-document url-prefix() {
          .circle {
            left: -97px;
            top: 40px;
          }
        }
      }
    }
  }
}

.dashboard-header {
  flex: 2;
  margin-left: 1.2rem;
  padding-top: .4rem;

  .js-hitarea {
    border: 1px solid $gray-lighter;
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
    box-shadow: none;
    order: 1;
    width: 40%;

    ul {
      margin-bottom: 8px;
      margin-top: 3px;
      min-width: 11rem;
      padding: 0;

      li {
        width: 100%;

        input {
          max-width: 50rem;
        }
      }
    }
  }

  .search-multiterm {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
  .submitarea {
    margin-left: 6px;
    order: 4;
  }
  .search-submit {
    height: 100%;
  }

  #browse-menu {
    margin-left: 0;

    .sub-arrow {
      border-color: $opacity-black transparent transparent;
    }

    li {
      background-color: $white;

      a {
        background-color: $white;
      }
    }
  }

  button,
  input[type="submit"] {
    background: $eu-jade;
  }

  .link-text {
    color: $light-gray;
  }

  nav {
    background-color: $white;
    border: 1px solid $gray-lighter;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: text;
    font-size: 1rem;
    line-height: 2rem;
    margin: 0;
    order: 3;
    padding: .2rem .4rem;

    #metis_search_menu{
      margin-top: 8px;
      min-width: 11rem;
      padding: 0;
      padding-left: 1px;

      &.nav-access > li {
        float: left;
        min-width: 10.5rem;

        a > .link-text {
          padding-left: 5px;
        }
      }

      .menu-sublevel.caret::before,
      .menu-sublevel.caret::after {
        content: none;
      }
    }
  }
}
