// dashboard wrapper
.dashboard-wrapper {
  background-color: $offwhite;
  display: inline-block;
  margin-top: 4.8em;
  min-height: 100vh; // TODO: remove temp stylings.
  padding: 0 1.2rem;
  width: 100%;

  .metis-dashboard {
    padding: 1rem;
  }

  .btns-set {
    background-color: $white;
  }
}
