@import '../scss/generic/variables';
@import './partials/fontawesome-custom-check-radio-btns';

.metis-form-container {
  background-color: $white;
  border: 1px solid $off-white;
  color: $gray-light;
  margin: 2em auto 0;
  max-width: 1440px;
  padding: 2em;
  width: 80%;

  // overwrite default icon styling.
  .svg-icon-form-field-calendar {
    background-position: 98% 50%;
    background-size: 25px 25px;
    margin-right: 0;
    padding-right: 48px;
    transform: none;

    &::placeholder {
      color: $gray-light;
    }
  }

  .flex-outer,
  .flex-inner {
    padding: 0;
  }

  .flex-outer {
    margin: 0 auto;
    max-width: 800px;

    .hide {
      display: none;
    }

    > div:not(:last-child) {
      margin-bottom: 20px;
    }

    div {
      label,
      p {
        margin: 0;
        padding-right: 1rem;
      }

      input:not([type='checkbox']),
      textarea {
        box-shadow: none;
        padding: 10px;

        &.icon-padding {
          padding-right: 50px;
        }
      }

      button {
        background: $eu-jade;
        border-radius: 2px;
        color: $white;
        letter-spacing: .09em;
        margin: 0 auto;
        padding: .8rem 7rem;

        &.submit,
        &.cancel {
          display: inline-block;
        }

        &.submit {
          margin-right: 1rem;
        }
      }

      > div > label,
      div p {
        flex: 1 0 120px;
        max-width: 190px;
      }

      > div > input {
        border: 1px solid $gray-light;
        color: $eu-blue;

        &::placeholder {
          color: $eu-blue;
        }

        &:read-only,
        &:read-only::placeholder {
          color: $gray-light;
        }
      }
    }
  }

  .flex-inner {
    justify-content: space-between;
    padding: 0 8px;

    div {
      width: 100px;
    }

  }

  .flex-outer div,
  .flex-inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .flex-outer > div > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }

  .buttons {
    align-items: center;
    display: flex;
    height: 7vh;
    justify-content: center;

    &.hidden {
      display: none;
    }
  }
  //  selection box stylings.
  select {
    background-color: $white;
    border: 1px solid $gray-light;
    color: $gray-light;
    height: 3rem;

    option {
      color: $gray-light;
    }
  }
}
