.metis-collapse-block {
  margin: 0 auto;
  margin-top: 6rem;
  max-width: 1440px;
  padding-top: 5px;
}

.metis-info-toggle {
  margin-right: 1rem;

  i.fa.fa-expand {
    margin-right: 1rem;
  }
}

.metis-dataset-name,
.metis-dataset-collapse-toggle {
  display: inline-block;
}

.metis-dataset-name {
 float: left;
}

.metis-dataset-collapse-toggle {
 float: right;
}

.metis-accordion-wrapper{

  margin:    auto;
  max-width: 1440px;

  .eu-accordion-tabs.as-tabs .tab-content{
    top: calc(4.2em - 5px);
  }

  .tab-content{
    background-color: $white;
    border-top:       5px solid $eu-jade;
  }

  .eu-accordion-tabs.as-tabs .tab-header{

    border-bottom:  5px solid $eu-jade;
    height:         4.2em;
    z-index:        1;

    &.active{
      background-color: $eu-jade;
      border-bottom:    5px solid $eu-jade;
      color:            $white;

      .tab-subtitle{
        color:            $white;
      }
    }
    &:not(.active)::before{
      background-color: transparent;
    }

    .tab-subtitle{
      transition: none;
    }
  }

}