@import '../scss/generic/variables';
@import './partials/fontawesome-custom-check-radio-btns';

.metis-form-container {
  background-color: $white;
  border: 1px solid $off-white;
  color: $gray-light;
  margin: 0 auto;
  margin-top: 2em;
  max-width: 1440px;
  padding: 2em;
  width: 80%;

  // overwrite default icon styling.
  .svg-icon-form-field-calendar {
    background-position: 98% 50%;
    background-size: 25px 25px;
    margin-right: 0;
    padding-right: 48px;
    transform: none;

    &::placeholder {
      color: $gray-light;
    }
  }

  .flex-outer,
  .flex-inner {
    padding: 0;
  }

  .flex-outer {
    margin: 0 auto;
    max-width: 800px;
  }

  .flex-outer div,
  .flex-inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .flex-inner {
    justify-content: space-between;
    padding: 0 8px;
  }

  .flex-outer > div:not(:last-child) {
    margin-bottom: 20px;
  }

  .flex-outer div label,
  .flex-outer div p {
    padding-right: 1rem;
  }

  .flex-outer > div > label,
  .flex-outer div p {
    flex: 1 0 120px;
    max-width: 190px;
  }

  .flex-outer > div > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }

  .flex-outer div p {
    margin: 0;
  }

  .flex-outer div input:not([type='checkbox']),
  .flex-outer div textarea {
    box-shadow: none;
    padding: 10px;

    &.icon-padding {
      padding-right: 50px;
    }
  }

  .flex-outer > div > input {
    border: 1px solid $gray-light;
    color: $eu-blue;

    &::placeholder {
      color: $eu-blue;
    }

    &:read-only,
    &:read-only::placeholder {
      color: $gray-light;
    }
  }

  .flex-outer div button {
    background: $eu-jade;
    border-radius: 2px;
    color: $white;
    letter-spacing: .09em;
    margin: 0 auto;
    padding: .8rem 7rem;

    &.submit,
    &.cancel {
      display: inline-block;
    }

    &.submit {
      margin-right: 1rem;
    }
  }

  .flex-inner div {
    width: 100px;
  }

  .buttons {
    align-items: center;
    display: flex;
    height: 7vh;
    justify-content: center;

    &.hidden {
      display: none;
    }
  }
  //  selection box stylings.
  select {
    background-color: $white;
    border: 1px solid $gray-light;
    color: $gray-light;
    height: 3rem;

    option {
      color: $gray-light;
    }
  }
}




