// mixin for multiline
@mixin multiLineEllipsis($maxWidth, $lineHeight: 1.2em, $lineCount: 1){
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;

  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;

  &::before {
    bottom: 0;
    color: #0000ff;
    content: '...';
    position: absolute;
    right: 0;
  }
  &::after {
    content: '';
    height: 1em;
    margin-top: 0.2em;
    position: absolute;
    right: 0;
    width: 1em;
  }
  &.eu-tooltip-container {
    &.block-with-text {
      &.showing {
        overflow: hidden;

        &:hover {
          overflow: visible;
        }
      }
    }

    &.showing {
      max-width: $maxWidth;
    }
  }
}

.block-with-text {
  @include multiLineEllipsis($maxWidth: 10.3em, $lineHeight: 1.2em, $lineCount: 3);
}
