@import '../scss/grid/susy/layout_susy';

//------------------------------------
//BANNER
//------------------------------------

// sets circles over hero.
.brand-circles svg {
  fill: $white;
}

// Hero box attribute
.attribution-content {
  max-width: 210px;
}

.metis-main-content {
  margin-top: 4.8rem;
  // keeping the footer at the bottom even when there is not enough content to push it down.
  min-height: calc(100vh - 52rem);
}

@-moz-document url-prefix() {
  .metis-main-content {
    // keeping the footer at the bottom even when there is not enough content to push it down.
    min-height: calc(100vh - 47rem);
  }
}

.hero-text {
  display: none;
}

.phase-flag.beta {
  background-color: $eu-orange;
}

.banner {
  background-color: $white;
  color: $black;
}

.btn.btn-light {
  border-color: $eu-jade;
  color: $eu-jade;

  &:hover {
    background-color: $eu-jade;
    color: $white;
  }

}

// link on homepage banner.
.info-link {
  color: $eu-jade;
  font-weight: bold;
}

.attribution-content {
  max-width: 300px;
}

// TEMP user icon on Metis homepage required the following styling to be modified accordingly
@media (min-width: 50em) {
  .nav-access > li {
    float: right;
  }
}

.icon {
  &.icon-users {
    display: none;
  }
}

.fa {
  &.fa-user {
    padding-right: 7px;
  }
}
