// ORGANIZATION'S SELECTION
.metis-style-select {
  margin: 10px; // margin only usable on pattern labs. Remove before including module.
  max-width: 800px;

  .subject-info-arrows {
    text-align: center;
  }

  label {
    background-color: $eu-blue;
    color: $white;
    padding: 10px;
  }

  input {
    border-radius: 6px;
    box-shadow: 0 1px 2px #999 inset;

    &#btnAllRight,
    &#btnRight,
    &#btnLeft,
    &#btnAllLeft{
      background-color: #1676aa;
      border: 0;
      color: $white;
    }
  }

  #lstBox1,
  #lstBox2 {
    width: 100%;
  }

  .add-btns {
    padding: 0;
    input {
      margin-top: 25px;
      width: 100%;
    }
  }

  .col-md-12 {
    max-width: 940px;
  }

  .selected-left {
    float: left;
    width: 88%;
  }

  .selected-right {
    float: left;
    button {
      display: block;
      margin-bottom: 2px;
      margin-left: 4px;
    }
  }

  .subject-info-box-1,
  .subject-info-box-2 {
    float: left;
    width: 45%;

    select {
      height: 400px;
      padding: 0;
      option {
        border-bottom: 1px dotted #f3f3f3;
        padding: 8px 10px;
      }
      option:hover {
        background: #eee;
      }
    }
  }

  .subject-info-arrows {
    float: left;
    width: 10%;

    input {
      margin-bottom: 5px;
      width: 70%;
    }
  }
}
