@import '../scss/generic/variables';

.logo {
  background-image: url('../../images/metis/europeana-metis-logo.png');

  .svg & {
    background-image: url('../../images/metis/europeana-metis-logo.svg');

    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
      background-image: url('../../images/europeana-logo-symbol.svg');
      max-width: 50px;
      min-width: 50px;
    }
  }
}

.hidden {
  display: none;
}

#settings-menu {
  .svg-icon-user-signin,
  .svg-icon-notifications,
  .svg-icon-loggedin-user,
  .svg-icon-configuration,
  .svg-icon-form-field-calendar   {
    float: left;
    height: 3em;
    margin-right: .8rem;
    width: 3em;
  }

  .svg-icon-user-signin {
    height: 2em;
    margin-bottom: -1em;
    margin-right: -.3em;
    transform: scale(.7) translateY(-.3em);
    width: 2em;
  }

  .svg-icon-notifications {
    transform: scale(0.6) translateY(-0.5em);
  }

  .svg-icon-loggedin-user,
  .svg-icon-configuration  {
    margin-bottom: -1em;
    transform: scale(.7) translateY(-.3em);
  }

  .svg-icon-form-field-calendar {
    transform: scale(.6) translateY(-.3em);
  }
}

.ve-anchor {
  margin-top: 3.5em;
}

.header-wrapper .header .cf {
  border-top-color: $eu-lightblue;
}

.nav-toggle-sites {
  background-color: $eu-lightblue;

  &:hover {
    background-color: $eu-blue;
    color: $eu-lightblue;
  }
}

.nav_primary a:hover::after {
  border-color: $eu-lightblue;
}

.theme_select .dropdown-trigger {
  padding: .4em;
}

.working-space {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-large {
  margin-left: auto;
  margin-right: auto;
}

.container-menu {
  background-color: $white;
  display: inline-block;
  float: left;
  font-size: .75em;
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 0;
  width: 11em;
}

.container-search-box {
  display: inline-block;
  float: left;
  font-size: 12px;
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 2px;
  width: 17.5em;
}

.container-search-box .inline-form .search-submit,
.container-search-box .inline-form .search-field {
  height: 32px;
}

.breadcrumbs {
  background-color: $eu-lightblue;
  border-top: .1em solid $white;
  margin-top: $globalnavheight;
  padding-left: 10px;
  padding-top: 0;

  a {
    color: $white;
  }
}

.dropdown {
  margin-left: -1em;
  margin-top: 10px;
}

.action_menu {
  background-color: $eu-blue;
  height: 2em;
  margin-bottom: 1.5em;
  width: 100%;
}

// COMMON FOR MAPPING CARD AND ITEM CARD
@import './partials/mapping-item-card';
// END OF COMMON FOR MAPPING CARD AND ITEM CARD

// MAPPING CARD
@import './partials/mapping-card';
// END OF MAPPING CARD

// ITEM CARD
@import './partials/item-card';
// END OF ITEM CARD

// FIELD VALUE
@import './partials/field-value';
// END OF FIELD VALUE

// GENERAL FORM STYLES
@import './partials/form';
// END OF GENERAL FORM STYLES

// LOGIN FORM
@import './partials/login-form';
// END OF LOGIN FORM

// PROFILE FORM
@import './partials/profile-form';
// END OF PROFILE FORM

// USER REQUESTS TABLE
@import './partials/user-requests-table';
// END OF USER REQUESTS TABLE

.error-message {
  color: $error;
}

// mapping card
.flex-container {
  display: flex;
  margin: 0;
  padding: 0;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
    float: left;
  }
}

.flex-item,
.flex-inner-item {
  color: $white;
  height: 50px;
  line-height: 50px;
  padding: 5px;
  text-align: center;
  width: 230px;
}

.indent {
  padding-left: 10px;
}

.flex-inner-item {
  padding: 5px;
  width: 70px;

  &:hover {
    background: $eu-blue;
  }
}

.color-blue {
  background: $eu-lightblue;
}

.color-deep-blue {
  background: $eu-blue;
}

.color-orange {
  background: $white;
  border: 1px solid $paper;
  color: $eu-blue;
}

.invalid-card {
  background: $brand-google;
}

.invalidOptionsBar {
  background: $brand-pinterest;
}
