@import "../scss/generic/variables";

.logo {
	background-image: url("../../images/metis/europeana-logo-metis.png");
	.svg &{
	  background-image: url("../../images/metis/europeana-metis-logo.svg");
	    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
	      background-image: url("../../images/europeana-logo-symbol.svg");
	      min-width:50px;
	      max-width:50px;
	    }
	}
}

.no-js {

  // style / hide things for no javascript

}

body {
	background-image: url("../../images/metis/inscription2.jpg");
	background-size: cover;
	@media all and (max-width: $bp-med){
	  background-color: red;  
	}
	@media all and (min-width: $bp-med) and (max-width: $bp-xl){
	  background-color: white;
	}
}

.ve-anchor {
	margin-top:3.5em;
}

.header-wrapper .header .cf {
	border-top-color: #4BC0F0;
}

.pusher {
	padding-top: 4.88em;
}

.nav-toggle-sites {
	background-color: #4BC0F0;
}

.nav-toggle-sites:hover {
	background-color: #1676AA;
	color: #4BC0F0;
}

.nav_primary a:hover:after {
	border-color: #4BC0F0;
}

.theme_select .dropdown-trigger {
	padding: 0.4em;
}

.working-space {
	/* background-color: #D9D4CA; */
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

.container-large {
	margin-left: auto;
	margin-right: auto;
}

.container-menu {
	width: 11em !important;
	padding-left: 0px;
	margin-left: 0px;
	display: inline-block;
	font-size: 0.75em;
	float: left;
	padding-bottom: 0em;
	background-color: white;
}

.container-search-box {
	width: 17.5em;
	padding-left: 2px;
	margin-left: 0px;
	display: inline-block;
	font-size: 12px;
	float: left;
	padding-bottom: 0px;
}

.container-search-box .inline-form .search-submit {
	height:32px;
}

.container-search-box .inline-form .search-field {
	height:32px;
}

.breadcrumbs {
	margin-top:0px;
	padding-left:10px;
	border-top: 0.1em solid #FFFFFF;
	background-color: #4BC0F0;
	padding-top: 0px;
}

.breadcrumbs a {
	color:#FFFFFF;
}

.indent {
	padding-left: 10px !important;
}

.dropdown {
	margin-top:10px;
	margin-left: -1em;
}

.action_menu {
	height: 2em;
	margin-bottom: 1.5em;
	background-color: #1676AA;
	width: 100%;
}

/*** COMMON FOR MAPPING CARD AND ITEM CARD ***/
.card-component {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0px !important;
	border: 0px;
	color: white !important;
	width: 60em;
	margin-left: 1em;
}

.card-component td {
	cellpadding: 0px;
	cellspacing: 0px;
	padding: 0px !important;
}

.normal-colored {
	background-color: #4BC0F0;
}

.normal-colored-dark {
	background-color: #1676AA;
}

.suspicious-colored {
	background-color: #FFAE00;
}

.suspicious-colored-dark {
	background-color: #d43900;
}

.invalid-colored {
	background-color: #F22F24;
}

.invalid-colored-dark {
	background-color: #293745;
}

.card-buttons {
	display: table;
}

.card-buttons div {
	height: 3.5em;
	width: 5em;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.card-buttons div:hover {
	cursor: pointer;
	background-color: #1676AA;
}

.values-collapse {
	width: 7em;
	line-height: 3.5em;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}

.card-controls-expanded .card-label {
	height: 3.5em;
	width: 20em;
	line-height: 3.5em;
	vertical-align: middle;
	display: inline-block;
}

.card-controls-expanded div {
	margin-left: -4px;
}

.card-controls-expanded > div:first-of-type {
	margin-left: 0px;
}

.mapping-card-controls, item-card-controls {
	width: 15em;
}

.card-button:hover {
	cursor: pointer;
	background-color: #095F90;
}

.normal-colored-dark.card-button:hover {
	cursor: pointer;
	background-color: #095F90;
}
/*** END OF COMMON FOR MAPPING CARD AND ITEM CARD ***/

/*** MAPPING CARD ***/
.mapping-card-controls-expanded {
	width: 60em;
}

.mapping-card-controls .card-label {
	height: 3.5em;
	width: 15em;
	line-height: 3.5em;
	vertical-align: middle;
}

.mapping-field-item-container {
	width: 45em;
	height: 10.5em;
	background-color: white;
}

.mapping-field-item-container > .mapping-field-item:nth-child(10) ~ .mapping-field-item {
    /* this rule targets the rows after the 10th .mapping-field-item */
    display: none;
}

.mapping-field-item-container-expanded {
	width: 60em;
	height: 60em;
	background-color: white;
}

.mapping-field-item {
	width: 9em;
	height: 5.25em;
	display: inline-block;
	font-size: 1em;
	border: 1px solid #D9D4CA;
	margin-right: -4px;
	margin-bottom: -7px;
}

.mapping-field-item-expanded {
	width: 10em;
	height: 5.25em;
	display: inline-block;
	font-size: 1em;
	border: 1px solid #D9D4CA;
	margin-right: -4px;
	margin-bottom: -7px;
}

.mapping-card-function {
	font-family: 'Times New Roman', Times, serif;
	width: 6em;
	height: 3.5em;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}

.if {
	width: 7em;
	line-height: 3.5em;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
	margin-left: -5px !important;
}

.mapping-card-f {
	font-style: italic; font-size:1.6em;
}

.mapping-card-x {
	font-size:0.8em;
}

.card-controls td:hover {
	background-color: #1676AA;
	color: #FFFFFF;
}

.mapping-card-values {
	width: 45em;
	height: 10.5em;
}

.pagination {
	margin-bottom: 0px !important;
	padding-top: 1rem;
}

.pagination a {
	color: #1676aa;
}

.pagination .current a, .pagination .is-current a {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #1676aa;
}

.mapping-card-dropdown .dropdown-trigger {
	display: none;
}
/*** END OF MAPPING CARD ***/

/*** ITEM CARD ***/
.item-card-controls .card-label {
	height: 3.5em;
	width: 15em;
	line-height: 3.5em;
	vertical-align: middle;
}

.item-card-values {
	column-span: 3;
	width: 45em;
	height: 7em;
}

.xml-view {
	overflow-x: scroll;
	overflow-y: scroll;
 	width: 45em;
}

.xml-view-short {
    height: 7em;
}

.xml-view-long {
    width: 60em;
    height: 45em;
}

.xml-view-source {
	display: none;
}

.item-button, .item-source-button {
	width: 16.4em;
	line-height: 3.5em;
	vertical-align: middle;
	display: inline-block;
	text-align: center;
}
/*** END OF ITEM CARD ***/

/*** FIELD VALUE ***/
.flag {
	vertical-align: baseline;
	float: right;
	color: #777777;
	font-size: 1em;
	padding-right: 0.20em;
	display: inline-block;
	hover {
		cursor: pointer;
	}
}

.mapping-field {
	display: table;
    height: 100%;
    width: 100%;
    max-height: 10em;
    max-width: 20em;
    font-size: 0.75em;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.mapping-field-top {
	vertical-align: top;
	display: table-row;
	height: 100%;
    width: 9em;
	font-size: 1em;
}

.mapping-field-bottom {
	vertical-align: bottom;
	display: table-row;
}

.mapping-field-occurence {
	color: #777777;
	font-size: 1em;
	display: inline-block;
	selected {
	  color: #FFFFFF;
	}
}

.mapping-field  .dropdown-trigger {
	display: none !important;
	padding: 6px !important;
}

.field_value_valid {
	background-color: #37B98B;
	color: #FFFFFF;
}

.field_value_suspicious {
	background-color: #FFAE00;
	color: #FFFFFF;
}

.field_value_invalid {
	background-color: #F22F24;
	color: #FFFFFF;
}

.field_value_valid .mapping-field-occurence, 
.field_value_invalid .mapping-field-occurence, 
.field_value_suspicious .mapping-field-occurence {
	color: #FFFFFF;
}

.field_value_valid a, .field_value_invalid a {
	color: #D9D4CA;
}

.field_value_suspicious a {
	color: #777777;
}
/*** END OF FIELD VALUE ***/

/***    LOGIN FORM     ***/
.metis-login-form {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0px !important;
	border: 0px;
	background-color: white;
	width: 20em;
	overflow: auto;
	margin-left: 1em;
	margin-top: 1em;
}

.metis-login-form div{
	padding-left: 1em;
	padding-right: 1em;
}

.login-form-header {
	text-align: center;
	color: white;
	background-color: #1676aa;
	width: 10em;
	font-size: 2em;
}
/*** END OF LOGIN FORM ***/

/***    REGISTER FORM     ***/
.metis-register-form {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0px !important;
	border: 0px;
	background-color: white;
	width: 20em;
	overflow: auto;
	margin-left: 1em;
	margin-top: 1em;
}

.metis-register-form div{
	padding-left: 1em;
	padding-right: 1em;
}

.register-form-header {
	text-align: center;
	color: white;
	background-color: #1676aa;
	width: 10em;
	font-size: 2em;
}
/*** END OF REGISTER FORM ***/

/***    PROFILE FORM     ***/
.metis-profile-form {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0px !important;
	border: 0px;
	background-color: white;
	width: 25em;
	overflow: auto;
	margin-left: 1em;
	margin-top: 1em;
}

.metis-profile-form div{
	padding-left: 1em;
	padding-right: 1em;
}

.profile-form-header {
	text-align: center;
	color: white;
	background-color: #1676aa;
	width: 12.5em;
	font-size: 2em;
}
/*** END OF PROFILE FORM ***/

.error-message {
	color: red;
}