@import "../scss/generic/variables";

.logo {
	background-image: url("../../images/europeana-logo-pandora.png");
	.svg &{
	  background-image: url("../../images/europeana-logo-collections.svg");
	    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
	      background-image: url("../../images/europeana-logo-symbol.svg");
	      min-width:50px;
	      max-width:50px;
	    }
	}
}

.no-js{

  // style / hide things for no javascript

}

body {

  @media all and (max-width: $bp-med){
    background-color: red;  
  }
		
  @media all and (min-width: $bp-med) and (max-width: $bp-xl){
    background-color: white;
  }
}

.ve-anchor {
	margin-top:3.5em;
}

.header .nav_primary a {
	color: #FFFFFF;
}

.header .nav_primary a:hover {
	background-color: #1676aa;
}

.header {
/* 	display: block; */
	background-color: #4BC0F0;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.nav_primary a:hover:after {
	border-color: #FFFFFF;
}

.container-large {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.container-menu {
	width: 180px !important;
	padding-left: 0px;
	margin-left: 0px;
	display: inline-block;
	font-size: 12px;
	float: left;
	padding-bottom: 0px;
}

.container-search-box {
	width: 280px;
	padding-left: 2px;
	margin-left: 0px;
	display: inline-block;
	font-size: 12px;
	float: left;
	padding-bottom: 0px;
}

.container-search-box .inline-form .search-submit {
	height:32px;
}

.container-search-box .inline-form .search-field {
	height:32px;
}

.dropdown-trigger {
	padding: 6px !important;
}

.breadcrumbs {
	margin-top:0px;
	padding-left:10px;
	border-top: 0.1em solid #FFFFFF;
	background-color: #4BC0F0;
	padding-top: 0px;
}

.breadcrumbs a{
	color:#FFFFFF;
}

.mapping-widget {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0px !important;
	border: 0px;
}

.mapping-widget td {
	cellpadding: 0px;
	cellspacing: 0px;
	padding: 0px !important;
}

.mapping-widget-mapping, .mapping-widget-values, mapping-widget-values-expanded, .mapping-widget-controls {
	margin-bottom: 0px !important;
	border: 0px;
}

.mapping-widget-mapping td {
	color: #FFFFFF;
	vertical-align: middle;
}

.mapping-widget-values td,  mapping-widget-values-expanded td {
	height: 5.25em;
	color: #1676aa;
}

.mapping-widget-values td:hover,mapping-widget-values-expanded td:hover {
	background-color: #F1F1EE;
}

/* .mapping-widget-values tr, mapping-widget-values-expanded tr {
	height: 100%;
} */

.mapping-widget-values {
  td {
     color: #1676aa;
     &.selected{
		background-color: #37B98B;
		color: #FFFFFF;
     }
     &.suspicious{
		background-color: #FFAE00;
		color: #FFFFFF;
     }
     &.erroneous{
		background-color: #F22F24;
		color: #FFFFFF;
     }
  }
}

.normal-colored {
	background-color: #4BC0F0;
}

.normal-colored-dark {
	background-color: #1676AA;
}

.suspicious-colored {
	background-color: #FFAE00;
}

.suspicious-colored-dark {
	background-color: #d43900;
}

.erroneous-colored {
	background-color: #F22F24;
}

.erroneous-colored-dark {
	background-color: #293745;
}

td.mapping-widget-paging:hover {
	background-color: #FFFFFF !important;
}

.card-controls td {
	width: 30%;
	border: 0em;
	padding-left:0em !important;
	text-align: center;
}

.card-controls {
	margin-bottom: 0px;	
}

.mapping-card-controls td {
	height: 3em;
	border: 0em;
	text-align: center;
}

.item-card-controls td {
	height: 4.5em;
	border: 0em;
	text-align: center;
}

.card-controls tr, .card-controls table {
	height: 100%;
	margin-bottom: 0px !important;
}

.card-controls td:hover {
	background-color: #1676AA;
	color: #FFFFFF;
}

.second-line {
	vertical-align: baseline;
	color: #777777;
	font-size: 1em;
	display: inline-block;
	
	selected {
	  color: #FFFFFF;
	}
}


.flag {
	vertical-align: baseline;
	float: right;
	color: #777777;
	font-size: 16px;
	padding-right: 3px;
	display: inline-block;
}

.flag:hover,
.card-controls:hover {
	cursor: pointer;
}

.first-line {
    display: block;
    max-width: 144px;
    height: 50px;
    font-size: 12px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.first-line-expand {
    display: block;
    max-width: 240px;
    height: 50px;
    margin: 5px 5px;
    font-size: 12px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
}

.indent {
	padding-left: 10px !important;
}

.mapping-widget-values td {
	width: 20%;
}

.mapping-card-label {
	height: 3.5em;
	width: 15em;
}

.mapping-card-values {
	column-span: 2;
	width: 45em;
	height: 10.5em;
}

.pagination {
	margin-bottom: 0px !important;
	padding-top: 1rem;
}

.pagination a {
	color: #1676aa;
}

.pagination .current a, .pagination .is-current a {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #1676aa;
}

.dropdown {
	margin-top:10px;
	margin-left: -1em;
}

.field_value_valid {
	background-color: #37B98B;
	color: #FFFFFF;
}

.field_value_suspicious {
	background-color: #FFAE00;
	color: #FFFFFF;
}

.field_value_invalid {
	background-color: #F22F24;
	color: #FFFFFF;
}

.field-value-cell .dropdown-trigger {
	display: none !important;
}

.field-value-cell {
	height: 100%;
	max-width: 600px;
}

.action_menu {
	padding-bottom: 50px;
}

.item-card-values {
	column-span: 3;
	width: 45em;
	height: 9em;
}

.xml-view {
	overflow-x: scroll;
	overflow-y: scroll;
 	width: 45em;
}

.xml-view-short {
    height: 9em;
}

.xml-view-long {
    width: 60em;
    height: 45em;
}

.item-label {
	height: 4.5em;
	width: 15em;
}

.xml-view-source {
	display: none;
}

.item-card-controls {
	height: 4.5em;
}

.mapping-card-controls {
	height: 3.5em;
}

