@import "../scss/generic/variables";

.logo {
	background-image: url("../../images/europeana-logo-pandora.png");
	.svg &{
	  background-image: url("../../images/europeana-logo-collections.svg");
	    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
	      background-image: url("../../images/europeana-logo-symbol.svg");
	      min-width:50px;
	      max-width:50px;
	    }
	}
}

.no-js{

  // style / hide things for no javascript

}

body {

  @media all and (max-width: $bp-med){
    background-color: red;  
  }
		
  @media all and (min-width: $bp-med) and (max-width: $bp-xl){
    background-color: white;
  }
}

.ve-anchor {
	margin-top:3.5em;
}

.header .nav_primary a {
	color: #FFFFFF;
}

.header .nav_primary a:hover {
	background-color: #1676aa;
}

.header {
	display: block;
	background-color: #4BC0F0;
}

.nav_primary a:hover:after {
	border-color: #FFFFFF;
}

.container-large {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.container-menu {
	width: 180px !important;
	padding-left: 0px;
	margin-left: 0px;
	display: inline-block;
	font-size: 12px;
	float: left;
	padding-bottom: 10px;
}

.container-search-box {
	width: 280px;
	padding-left: 2px;
	margin-left: 0px;
	display: inline-block;
	font-size: 12px;
	float: left;
	padding-bottom: 10px;
}

.container-search-box .inline-form .search-submit {
	height:32px;
}

.container-search-box .inline-form .search-field {
	height:32px;
}

.dropdown-trigger {
	padding: 6px !important;
}

.breadcrumbs {
	margin-top:20px;
	padding-left:10px;
	border-top: 0.1em solid #FFFFFF;
}

.breadcrumbs a{
	color:#FFFFFF;
}

.mapping-widget {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 0px !important;
	border: 0px;
}

.mapping-widget td {
	cellpadding: 0px;
	cellspacing: 0px;
	padding: 0px !important;
}

.mapping-widget-mapping, .mapping-widget-values, mapping-widget-values-expanded, .mapping-widget-controls {
	margin-bottom: 0px !important;
	border: 0px;
}

.mapping-widget-mapping td {
	height:51px;
	color: #FFFFFF;
	vertical-align: middle;
}

.mapping-widget-values td,  mapping-widget-values-expanded td {
	height: 75px;
	color: #1676aa;
}

.mapping-widget-values td:hover,mapping-widget-values-expanded td:hover {
	background-color: #F1F1EE;
	/* color: #FFFFFF; */
/* 	opacity: 0.6; */
}

.mapping-widget-values tr, mapping-widget-values-expanded tr {
	height: 100%;
}

.mapping-widget-values {
  td {
     color: #1676aa;
     &.selected{
		background-color: #37B98B;
		color: #FFFFFF;
     }
     &.suspicious{
		background-color: #FFAE00;
		color: #FFFFFF;
     }
     &.erroneous{
		background-color: #F22F24;
		color: #FFFFFF;
     }
  }
}

.normal-colored {
	background-color: #4BC0F0;
}

.normal-colored-dark {
	background-color: #1676AA;
}

.suspicious-colored {
	background-color: #FFAE00;
}

.suspicious-colored-dark {
	background-color: #d43900;
}

.erroneous-colored {
	background-color: #F22F24;
}

.erroneous-colored-dark {
	background-color: #293745;
}

td.mapping-widget-paging:hover {
	background-color: #FFFFFF !important;
}

.mapping-widget-controls td {
	width: 30%;
	border: 0px;
	padding-left:0px !important;
	text-align: center;
}

.mapping-widget-controls td:hover {
	background-color: #1676AA;
	color: #FFFFFF;
}

.second-line {
	vertical-align: bottom;
	color: #777777;
	font-size: 16px;
	display: inline-block;
	
	selected {
	  color: #FFFFFF;
	}
}


.flag {
	vertical-align: bottom;
	/* float: right; */
	color: #777777;
	font-size: 16px;
	padding-right: 3px;
	display: inline-block;
}

.flag:hover,
.values-expand:hover,
.values-collapse:hover,
.functions:hover,
.if:hover {
	cursor: pointer;
}

.first-line {
    display: block;
    display: -webkit-box;
    max-width: 144px;
    height: 50px;
    margin: 5px 5px;;
    font-size: 12px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.first-line-expand {
    display: block;
    display: -webkit-box;
    max-width: 240px;
    height: 50px;
    margin: 5px 5px;
    font-size: 12px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.indent {
	padding-left: 10px !important;
}

.mapping-widget-values td {
	width: 20%;
}

.pagination {
	margin-bottom: 0px !important;
}

.dropdown {
	margin-top:10px;
	margin-left: -1em;
}
