@import '../scss/generic/variables';

.logo {
  background-image: url("../../images/metis/europeana-metis-logo.png");

  .svg & {
    background-image: url("../../images/metis/europeana-metis-logo.svg");

    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
      background-image: url("../../images/europeana-logo-symbol.svg");
      max-width: 50px;
      min-width: 50px;
    }
  }
}

.no-js {
  // style / hide things for no javascript
}

#settings-menu .svg-icon-user-signin {
  float: left;
  height: 2em;
  margin-bottom: -1em;
  margin-right: -.3em;
  transform: scale(.7) translateY(-.3em);
  width: 2em;
}

.svg-icon-notifications {
  float: left;
  height: 3em;
  margin-right: .8rem;
  transform: scale(.6) translateY(-.3em);
  width: 3em;
}

.svg-icon-loggedin-user {
  float: left;
  height: 3em;
  margin-bottom: -1em;
  margin-right: .8rem;
  transform: scale(.8) translateY(-.3em);
  width: 3em;
}

.svg-icon-configuration {
  float: left;
  height: 3em;
  margin-bottom: -1em;
  margin-right: .8rem;
  transform: scale(.7) translateY(-.3em);
  width: 3em;
}

.ve-anchor {
  margin-top: 3.5em;
}

.header-wrapper .header .cf {
  border-top-color: $eu-lightblue;
}

.nav-toggle-sites {
  background-color: $eu-lightblue;
}

.nav-toggle-sites:hover {
  background-color: $eu-blue;
  color: $eu-lightblue;
}

.nav_primary a:hover::after {
  border-color: $eu-lightblue;
}

.theme_select .dropdown-trigger {
  padding: .4em;
}

.working-space {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-large {
  margin-left: auto;
  margin-right: auto;
}

.container-menu {
  background-color: $white;
  display: inline-block;
  float: left;
  font-size: .75em;
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 0;
  width: 11em !important;
}

.container-search-box {
  display: inline-block;
  float: left;
  font-size: 12px;
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 2px;
  width: 17.5em;
}

.container-search-box .inline-form .search-submit,
.container-search-box .inline-form .search-field {
  height: 32px;
}

.breadcrumbs {
  background-color: $eu-lightblue;
  border-top: .1em solid $white;
  margin-top: $globalnavheight;
  padding-left: 10px;
  padding-top: 0;

  a {
    color: $white;
  }
}

.indent {
  padding-left: 10px !important;
}

.dropdown {
  margin-left: -1em;
  margin-top: 10px;
}

.action_menu {
  background-color: $eu-blue;
  height: 2em;
  margin-bottom: 1.5em;
  width: 100%;
}

// COMMON FOR MAPPING CARD AND ITEM CARD
.card-component {
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  color: $white !important;
  margin-bottom: 0 !important;
  margin-left: 1em;
  margin-top: 1em;
  width: 60em;

  td {
    border-collapse: collapse;
    padding: 0 !important;
  }
}

.depth_1 {
  margin-left: 4em;
}

.depth_2 {
  margin-left: 8em;
}

.depth_3 {
  margin-left: 12em;
}

.depth_4 {
  margin-left: 16em;
}

.normal-colored {
  background-color: $eu-lightblue;
  color: $white;
}

.suspicious-colored {
  background-color: $yellow;
}

.suspicious-colored-dark {
  background-color: $eu-orange;
}

.invalid-colored {
  background-color: $eu-red;
}

.invalid-colored-dark {
  background-color: $dark-blue;
}

.card-buttons {
  display: table;

  div {
    display: table-cell;
    height: 3.5em;
    text-align: center;
    vertical-align: middle;
    width: 5em;

    &:hover {
      background-color: $eu-blue;
      cursor: pointer;
    }
  }
}

.values-collapse {
  display: inline-block;
  line-height: 3.5em;
  text-align: center;
  vertical-align: middle;
  width: 7em;
}

.card-controls-expanded .card-label {
  display: inline-block;
  height: 3.5em;
  line-height: 3.5em;
  vertical-align: middle;
  width: 20em;
}

.card-controls-expanded div {
  margin-left: -4px;
}

.card-controls-expanded > div:first-of-type {
  margin-left: 0;
}

.mapping-card-controls,
item-card-controls {
  width: 15em;
}

.card-button:hover {
  background-color: $linkblue;
  cursor: pointer;
}
.normal-colored-dark {
  background-color: $eu-blue;

  &.card-button:hover {
    background-color: $linkblue;
    cursor: pointer;
  }
}

// END OF COMMON FOR MAPPING CARD AND ITEM CARD

// MAPPING CARD
.mapping-card-controls-expanded {
  width: 60em;
}

.mapping-card-controls .card-label {
  height: 3.5em;
  line-height: 3.5em;
  vertical-align: middle;
  width: 15em;
}

.mapping-field-item-container {
  background-color: $white;
  height: 10.5em;
  width: 45em;
}

.mapping-field-item-container > .mapping-field-item:nth-child(10) ~ .mapping-field-item {
  // this rule targets the rows after the 10th .mapping-field-item
  display: none;
}

.mapping-field-item-container-expanded {
  background-color: $white;
  height: 60em;
  width: 60em;
}

.mapping-field-item {
  border: 1px solid $paper;
  display: inline-block;
  font-size: 1em;
  height: 5.25em;
  margin-bottom: -7px;
  margin-right: -4px;
  width: 9em;
}

.mapping-field-item-expanded {
  border: 1px solid $paper;
  display: inline-block;
  font-size: 1em;
  height: 5.25em;
  margin-bottom: -7px;
  margin-right: -4px;
  width: 10em;
}

.mapping-card-function {
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  height: 3.5em;
  text-align: center;
  vertical-align: middle;
  width: 6em;
}

.if {
  display: inline-block;
  line-height: 3.5em;
  margin-left: -5px !important;
  text-align: center;
  vertical-align: middle;
  width: 7em;
}

.mapping-card-f {
  font-size: 1.6em;
  font-style: italic;
}

.mapping-card-x {
  font-size: .8em;
}

.card-controls td:hover {
  background-color: $eu-blue;
  color: $white;
}

.mapping-card-values {
  height: 10.5em;
  width: 45em;
}

.pagination {
  margin-bottom: 0 !important;
  padding-top: 1rem;

  a {
    color: $eu-blue;
  }
}

.pagination .current a,
.pagination .is-current a {
  background-color: $eu-blue;
  color: $white;
  font-weight: bold;
}

.mapping-card-dropdown .dropdown-trigger {
  display: none;
}

// END OF MAPPING CARD

// ITEM CARD
.item-card-controls .card-label {
  height: 3.5em;
  line-height: 3.5em;
  vertical-align: middle;
  width: 15em;
}

.item-card-values {
  column-span: 3;
  height: 7em;
  width: 45em;
}

.xml-view {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 45em;
}

.xml-view-short {
  height: 7em;
}

.xml-view-long {
  height: 45em;
  width: 60em;
}

.xml-view-source {
  display: none;
}

.item-button,
.item-source-button {
  display: inline-block;
  line-height: 3.5em;
  text-align: center;
  vertical-align: middle;
  width: 16.4em;
}

// END OF ITEM CARD

// FIELD VALUE
.flag {
  color: $light-gray;
  display: inline-block;
  float: right;
  font-size: 1em;
  padding-right: .20em;
  vertical-align: baseline;

  hover {
    cursor: pointer;
  }
}

.mapping-field-top {
  display: table-row;
  font-size: 1em;
  height: 100%;
  vertical-align: top;
  width: 9em;

  .eu-tooltip {
    width: 240px;
  }
}

.mapping-field-bottom {
  display: table-row;
  vertical-align: bottom;
}

.mapping-field-occurence {
  color: $light-gray;
  display: inline-block;
  font-size: 1em;

  selected {
    color: $white;
  }
}


.mapping-field {
  -webkit-box-orient: vertical;
  display: table;
  font-size: .75em;
  height: 100%;
  -webkit-line-clamp: 3;
  line-height: 1.4;
  max-height: 10em;
  max-width: 20em;
  padding-left: .2em;
  padding-right: .2em;
  text-overflow: ellipsis;
  width: 100%;

  &.dropdown-trigger {
    display: none !important;
    padding: 6px !important;
  }
}

.field_value_valid {
  background-color: $eu-jade;
  color: $white;
}

.field_value_invalid {
  background-color: $eu-red;
  color: $white;
}

.field_value_valid .mapping-field-occurence,
.field_value_invalid .mapping-field-occurence,
.field_value_suspicious .mapping-field-occurence {
  color: $white;
}

.field_value_valid a,
.field_value_invalid a {
  color: $paper;
}

.field_value_suspicious {
  background-color: $yellow;
  color: $white;

  a {
    color: $light-gray;
  }
}

// END OF FIELD VALUE

// LOGIN FORM
.metis-login-form {
  background-color: $white;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  margin-bottom: 0 !important;
  margin-left: 1em;
  margin-top: 1em;
  overflow: auto;
  width: 20em;

  div {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.login-form-header {
  background-color: $eu-blue;
  color: $white;
  font-size: 2em;
  text-align: center;
  width: 10em;
}

// END OF LOGIN FORM

// REGISTER FORM
.metis-register-form {
  background-color: $white;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  margin-bottom: 0 !important;
  margin-left: 1em;
  margin-top: 1em;
  overflow: auto;
  width: 20em;

  div {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.register-form-header {
  background-color: $eu-blue;
  color: $white;
  font-size: 2em;
  text-align: center;
  width: 10em;
}

// END OF REGISTER FORM

// PROFILE FORM
.metis-profile-form {
  background-color: $white;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  margin-bottom: 0 !important;
  margin-left: 1em;
  margin-top: 1em;
  overflow: auto;
  width: 50em;

  div {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.profile-form-header {
  background-color: $eu-blue;
  color: $white;
  font-size: 2em;
  text-align: center;
  width: 25em;
}

.profile-select-orgs {
  display: inline-block;
}

.select-dropdown {
  border: 1px solid $light-gray;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px $offwhite;
  height: 2.37em;
  padding: .5rem .65rem 1em 1em;
  transition: .3s linear border;
  width: 100%;
}

// END OF PROFILE FORM

// USER REQUESTS TABLE
.user-request-table {
  background-color: $white;
  margin-top: 2em;
  width: 70em;

  tr:hover {
    background: $off-white;
    cursor: pointer;
  }
}

.user-request-pending {
  color: $eu-blue;
}

.user-request-accepted {
  color: $eu-jade;
}

.user-request-rejected {
  color: $peachy;
}

.user-request-type-add {
  color: $eu-blue;
}

.user-request-type-delete {
  color: $peachy;
}

// END OF USER REQUESTS TABLE

.error-message {
  color: $error;
}

// mapping card
.flex-container {
  display: flex;
  margin: 0;
  padding: 0;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
    float: left;
  }
}

.flex-item,
.flex-inner-item {
  color: $white;
  height: 50px;
  line-height: 50px;
  padding: 5px;
  text-align: center;
  width: 230px;
}

.flex-inner-item {
  padding: 5px;
  width: 70px;

  &:hover {
    background: $eu-blue;
  }
}

.color-blue {
  background: $eu-lightblue;
}

.color-deep-blue {
  background: $eu-blue;
}

.color-orange {
  background: $white;
  border: 1px solid $paper;
  color: $eu-blue;
}

.invalid-card {
  background: $google-plus-red;
}

.invalidOptionsBar {
  background: $pinterest-red;
}
