.org_selection {
  .headerRole {
    color: white;
    text-transform: uppercase;
  }
  input {
    border: 2px solid #c3c3c3;
    color: #666;
    margin-bottom: 10px;
  }
  input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
  input:focus {
    //border-color: #00aeff;
    //outline: 0;
    //background: #f9f9f9;
  }
  input[type=button] {
    width: 200px;
    background: #00aeff;
    border-color: #00aeff;
    color: #eee;
    cursor: pointer;
  }
  span.zip {
    margin: 1em 0;
    display: block;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #999;
  }
  span.zip:before {
    content: 'Selected: '
  }
  .page-wrapper {
    width: 100%;
    height: 100%;
    background: url(http://i.imgur.com/2ZgHKbQ.jpg) center no-repeat;
    background-size: cover;
  }

  .blur {
    filter: blur(5px);
  }

  a.btn {
    width: 150px;
    display: block;
    margin: -25px 0 0 -75px;
    padding: 1em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font: 1.125em 'Arial', sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    background: rgba(217, 67, 86, 1);
  }

  .modal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 257, 153, 0.75);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
  }

  .hidden {
    display: none;
  }

  .modal-wrapper.open {
    opacity: 1;
    visibility: visible;
  }

  .modal {
    width: 600px;
    height: 400px;
    display: block;
    margin: 50% 0 0 -300px;
    padding: 0;
    position: relative;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
  }

  .head {
    width: 100%;
    padding: 1.5em 5%;
    overflow: hidden;
    background: #01bce5;
  }

  .btn-close {
    width: 32px;
    height: 32px;
    display: block;
    float: right;
  }

  .btn-close::before, .btn-close::after {
    content: '';
    width: 32px;
    height: 6px;
    display: block;
    background: #fff;
  }

  .btn-close::before {
    margin-top: 12px;
    transform: rotate(45deg);
  }

  .btn-close::after {
    margin-top: -6px;
    transform: rotate(-45deg);
  }

  .content {
    padding: 5%;
  }

  .selectedOrg {
    margin-bottom: 15px;
  }
}

// autocomplete stylings.
.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);

  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.autocomplete-suggestion {
  position: relative;
  padding: 0 .6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: #333;
}

.autocomplete-suggestion b {
  font-weight: normal;
  color: #1f8dd6;
}

.autocomplete-suggestion.selected {
  background: #f0f0f0;
}
