.org-selection {
  .headerRole {
    color: $white;
    text-transform: uppercase;
  }
  input {
    border: 2px solid #c3c3c3;
    color: #666;
    margin-bottom: 10px;
  }
  input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
  }
  input:focus {
    //border-color: #00aeff;
    //outline: 0;
    //background: #f9f9f9;
  }
  input[type=button] {
    background: #00aeff;
    border-color: #00aeff;
    color: #eee;
    cursor: pointer;
    width: 200px;
  }
  span.zip {
    color: #999;
    display: block;
    font-size: 0.9em;
    margin: 1em 0;
    text-transform: uppercase;

    &::before {
      content: 'Selected: ';
    }

  }

  .page-wrapper {
    background: url('i.imgur.com/2ZgHKbQ.jpg') center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .blur {
    filter: blur(5px);
  }

  a.btn {
    background: rgba(217, 67, 86, 1);
    border-radius: 5px;
    color: $white;
    display: block;
    font: 1.125em 'Arial', sans-serif;
    font-weight: 700;
    left: 50%;
    margin: -25px 0 0 -75px;
    padding: 1em 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 150px;
  }

  .modal-wrapper {
    background: rgba(255, 257, 153, 0.75);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all 0.25s ease-in-out;
    visibility: hidden;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .modal-wrapper.open {
    opacity: 1;
    visibility: visible;
  }

  .modal {
    background: $white;
    display: block;
    height: 400px;
    left: 50%;
    margin: 50% 0 0 -300px;
    opacity: 0;
    padding: 0;
    position: relative;
    top: 50%;
    transition: all 0.5s ease-in-out;
    width: 600px;
  }

  .modal-wrapper.open .modal {
    margin-top: -200px;
    opacity: 1;
  }

  .head {
    background: #01bce5;
    overflow: hidden;
    padding: 1.5em 5%;
    width: 100%;
  }

  .btn-close {
    display: block;
    float: right;
    height: 32px;
    width: 32px;

    &::before,
    &::after {
      background: #fff;
      content: '';
      display: block;
      height: 6px;
      margin-top: 12px;
      transform: rotate(45deg);
      width: 32px;
    }

    &::after {
      margin-top: -6px;
      transform: rotate(-45deg);
    }

  }

  .content {
    padding: 5%;
  }

  .selectedOrg {
    margin-bottom: 15px;
  }
}

// autocomplete stylings.
.autocomplete-suggestions {
  background: #fff;
  border: 1px solid #ccc;
  border-top: 0;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
  box-sizing: border-box; // core styles should not be changed
  cursor: default;
  display: none; // core styles should not be changed
  max-height: 254px; // core styles should not be changed
  overflow: hidden; // core styles should not be changed
  overflow-y: auto; // core styles should not be changed
  position: absolute; // core styles should not be changed
  text-align: left;
  z-index: 9999; // core styles should not be changed
}

.autocomplete-suggestion {
  color: #333;
  font-size: 1.02em;
  line-height: 23px;
  overflow: hidden;
  padding: 0 .6em;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.autocomplete-suggestion b {
  color: #1f8dd6;
  font-weight: normal;
}

.autocomplete-suggestion.selected {
  background: #f0f0f0;
}
