@import '../scss/generic/variables';
@import './partials/fontawesome-custom-check-radio-btns';

.user-profile-form {
  background-color: $white;
  border: 1px solid $off-white;
  color: $gray-light;
  margin: 0 auto;
  margin-top: 2em;
  max-width: 1440px;
  padding: 2em;
  width: 80%;

  // overwrite default icon styling.
  .svg-icon-search {
    background-position: 98% 50%;
    background-size: 1.2rem;
    margin-right: 0;
    padding-right: 48px;
    transform: none;

    &::placeholder {
      color: $gray-light;
    }
  }

  .flex-outer,
  .flex-inner {
    padding: 0;
  }

  .flex-outer {
    margin: 0 auto;
    max-width: 800px;
  }

  .flex-outer div,
  .flex-inner {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .flex-inner {
    justify-content: space-between;
    padding: 0 8px;
  }

  .flex-outer > div:not(:last-child) {
    margin-bottom: 20px;
  }

  .flex-outer div label,
  .flex-outer div p {
    padding-right: 1rem;
  }

  .flex-outer > div > label,
  .flex-outer div p {
    flex: 1 0 120px;
    max-width: 190px;
  }

  .flex-outer > div > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }

  .flex-outer div p {
    margin: 0;
  }

  .flex-outer div input:not([type='checkbox']),
  .flex-outer div textarea {
    box-shadow: none;
    padding: 10px;

    &.icon-padding {
      padding-right: 50px;
    }
  }

  .flex-outer > div > input {
    border: 1px solid $gray-light;
    color: $eu-blue;

    &::placeholder {
      color: $eu-blue;
    }

    &:read-only,
    &:read-only::placeholder {
      color: $gray-light;
    }
  }

  .flex-outer div button {
    background: $eu-jade;
    border-radius: 2px;
    color: $white;
    letter-spacing: .09em;
    margin: 0 auto;
    padding: .8rem 7rem;

    &.submit,
    &.cancel {
      display: inline-block;
    }

    &.submit {
      margin-right: 1rem;
    }
  }

  .flex-inner div {
    width: 100px;
  }

  .buttons {
    align-items: center;
    display: flex;
    height: 7vh;
    justify-content: center;

    &.hidden {
      display: none;
    }
  }
  //  selection box stylings.
  select {
    background-color: $white;
    border: 1px solid $gray-light;
    color: $gray-light;
    height: 3rem;

    option {
      color: $gray-light;
    }
  }

  .org_selection .modal-wrapper {
    background-color: $light-gray;
  }

  .org_selection > .modal-wrapper.open > div {
    top: 0;
  }
  .org_selection .modal-wrapper.open .modal {
    margin-top: 0;
  }

  .org_selection input[type=button] {
    background: $eu-jade;
    border-color: $eu-jade;
  }

  .head {
    background: $eu-jade;
    position: absolute;
    top: 0;

    h3,
    h4 {
      margin-bottom: 0;
    }
    a.btn-close.trigger {
      margin-right: 5rem;
    }
  }

  .roleWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 2rem;
    width: 100%;

    h4 {
      margin-bottom: 0;
    }
  }

  #roleSelection {
    margin: 0 auto;
  }

  .currentSelectedOrganization {
    margin-right: 1rem;
  }

  .roles {
    width: 40%;
  }
  .selectedOrganizations .selectedOrgs .selectedOrg {
    width: 100%;
  }

  .disableLink {
    cursor: default;
    color: $gray-light;
    pointer-events: none;
  }

  .removeOrganization {
    margin-left: 1rem;
  }
}
