

<a class="tooltip-container" href="#tooltip">

	<svg class="icon icon-help">
		<use xlink:href="#icon-help"></use>
	</svg>

	Tool tipped text here

	<div class="tooltip" id="tooltip">
		This is the tooltip contents > Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
	</div>
</a>

<br>
<br>
<br>

<div class="tooltip-container">

	<svg class="icon icon-help">
		<use xlink:href="#icon-help"></use>
	</svg>

	<div class="tooltip" id="tooltip2">
		This is the tooltip contents > Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
	</div>
</div>
