<a class="tooltip-container" href="#tooltip">
  <svg class="icon icon-help">
    <use xlink:href="#icon-help"></use>
  </svg>
  {{tooltipped_text}}
  <div class="tooltip">
    {{tooltip_text}}
    <a href="{{remove}}" data-role="remove"></a>
    <input type="hidden" name="{{name}}" value="{{value}}" class="js-hidden-tooltip"/>
  </div>
</a>

