<a class="tooltip-container" href="#tooltip">
  <svg class="icon icon-help">
    <use xlink:href="#icon-help"></use>
  </svg>
  {{tooltipped_text}}
  <div class="tooltip" id="tooltip">
    {{tooltip_text}}
  </div>
</a>