@import '../../../../sass/scss/generic/variables';

$tabs-border-colour: $gray-lighter;
$tabs-pad:           1.2em;

.eu-accordion-tabs{

  position: relative;

  .tab-header{
    border-bottom:  1px solid $tabs-border-colour;
    cursor:         pointer;
    display:        block;
    padding:        $tabs-pad/2 $tabs-pad;
    width:          100%;

    .tab-title{
      transform:    none;
      transition:   transform 0.5s ease-in-out;
    }

    &.loading{
      padding-right:       2.1em;

      .tab-title{

        position:          relative;
        transform:         translateY(30%);
        transition:        none;
        width:             100%;

        &::after{
          background-image:  url('spinner.gif');
          background-repeat: no-repeat;
          background-size:   16px auto;
          content:           ' ';
          height:            16px;
          left:              calc(100% + 0.5em);
          position:          absolute;
          top:               0.35em;
          width:             16px;
        }
      }
    }

    .tab-subtitle{
      color:      $gray-light;
      font-size:  $font-size-sm;
      transition: color 0.75s ease-in-out;
    }

    &.loading{
      .tab-subtitle{
        color: transparent;
      }
    }
  }

  .tab-content{
    display: none;
    padding: $tabs-pad / 2 $tabs-pad;
    width:   100%;

    &.active{
      display: block;
    }
  }

  &.as-tabs{

    .tab-content{
      position: absolute;
      top:      4em;
    }

    .tab-header{

      display:  block;
      float:    left;
      position: relative;
      width:    auto;

      &.active{
        border-bottom: 0;
        font-weight: bold;
        + .tab-content + .tab-header::before{
          background-color: transparent;
        }
      }

      &.disabled{
        cursor: default;
        .tab-title,
        .tab-subtitle{
          color: $tabs-border-colour;
        }
      }
      &:not(.js-last){
        border-right: 1px solid $tabs-border-colour;
      }
      &.js-first.js-last{
        border-right: 1px solid $tabs-border-colour;
      }

      &:not(.active)::before{
        background-color: $white;
        bottom:           0;
        content:          ' ';
        display:          block;
        height:           $tabs-pad / 2;
        left:            -1px;
        position:         absolute;
        width:            1px;
      }

      .tab-title,
      .tab-subtitle{
        display:   block;
      }
    }

    .only-with-tabs{
      display: inline-block;
    }

    .only-without-tabs{
      display: none;
    }
  }

  &:not(.as-tabs){
    .tab-header:first-of-type,
    .tab-content.active + .tab-header{
      border-top:  1px solid $tabs-border-colour;
    }

    .only-with-tabs{
      display: none;
    }

    .only-without-tabs{
      display: block;
    }

    .tab-content{
      &.loading{
        background-image:    url('spinner.gif');
        background-position: center;
        background-repeat:   no-repeat;
        height:              12em;
      }
    }
  }
}

