/* line 6, style.scss */
.eu-accordion-tabs {
  position: relative;
}
/* line 10, style.scss */
.eu-accordion-tabs .tab-header {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  display: block;
  padding: 0.6em 1.2em;
  width: 100%;
}
/* line 17, style.scss */
.eu-accordion-tabs .tab-header .tab-title {
  transform: none;
  transition: transform 0.5s ease-in-out;
}
/* line 22, style.scss */
.eu-accordion-tabs .tab-header.loading {
  padding-right: 2.1em;
}
/* line 25, style.scss */
.eu-accordion-tabs .tab-header.loading .tab-title {
  position: relative;
  transform: translateY(30%);
  transition: none;
  width: 100%;
}
/* line 32, style.scss */
.eu-accordion-tabs .tab-header.loading .tab-title::after {
  background-image: url("spinner.gif");
  background-repeat: no-repeat;
  background-size: 16px auto;
  content: ' ';
  height: 16px;
  left: calc(100% + 0.5em);
  position: absolute;
  top: 0.35em;
  width: 16px;
}
/* line 46, style.scss */
.eu-accordion-tabs .tab-header .tab-subtitle {
  color: #777777;
  font-size: 0.75em;
  transition: color 0.75s ease-in-out;
}
/* line 53, style.scss */
.eu-accordion-tabs .tab-header.loading .tab-subtitle {
  color: transparent;
}
/* line 59, style.scss */
.eu-accordion-tabs .tab-content {
  display: none;
  padding: 0.6em 1.2em;
  width: 100%;
}
/* line 64, style.scss */
.eu-accordion-tabs .tab-content.active {
  display: block;
}
/* line 71, style.scss */
.eu-accordion-tabs.as-tabs .tab-content {
  position: absolute;
  top: 4em;
}
/* line 76, style.scss */
.eu-accordion-tabs.as-tabs .tab-header {
  display: block;
  float: left;
  margin-bottom: 4em;
  position: relative;
  width: auto;
}
/* line 84, style.scss */
.eu-accordion-tabs.as-tabs .tab-header.active {
  border-bottom: 0;
  font-weight: bold;
}
/* line 87, style.scss */
.eu-accordion-tabs.as-tabs .tab-header.active + .tab-content + .tab-header::before {
  background-color: transparent;
}
/* line 92, style.scss */
.eu-accordion-tabs.as-tabs .tab-header.disabled {
  cursor: default;
}
/* line 94, style.scss */
.eu-accordion-tabs.as-tabs .tab-header.disabled .tab-title,
.eu-accordion-tabs.as-tabs .tab-header.disabled .tab-subtitle {
  color: #ccc;
}
/* line 99, style.scss */
.eu-accordion-tabs.as-tabs .tab-header:not(.js-last) {
  border-right: 1px solid #ccc;
}
/* line 102, style.scss */
.eu-accordion-tabs.as-tabs .tab-header.js-first.js-last {
  border-right: 1px solid #ccc;
}
/* line 106, style.scss */
.eu-accordion-tabs.as-tabs .tab-header:not(.active)::before {
  background-color: #ffffff;
  bottom: 0;
  content: ' ';
  display: block;
  height: 0.6em;
  left: -1px;
  position: absolute;
  width: 1px;
}
/* line 117, style.scss */
.eu-accordion-tabs.as-tabs .tab-header .tab-title,
.eu-accordion-tabs.as-tabs .tab-header .tab-subtitle {
  display: block;
}
/* line 123, style.scss */
.eu-accordion-tabs.as-tabs .only-with-tabs {
  display: inline-block;
}
/* line 127, style.scss */
.eu-accordion-tabs.as-tabs .only-without-tabs {
  display: none;
}
/* line 133, style.scss */
.eu-accordion-tabs:not(.as-tabs) .tab-header:first-of-type,
.eu-accordion-tabs:not(.as-tabs) .tab-content.active + .tab-header {
  border-top: 1px solid #ccc;
}
/* line 138, style.scss */
.eu-accordion-tabs:not(.as-tabs) .only-with-tabs {
  display: none;
}
/* line 142, style.scss */
.eu-accordion-tabs:not(.as-tabs) .only-without-tabs {
  display: block;
}
/* line 147, style.scss */
.eu-accordion-tabs:not(.as-tabs) .tab-content.loading {
  background-image: url("spinner.gif");
  background-position: center;
  background-repeat: no-repeat;
  height: 12em;
}
