

{{> organisms-header }}


<main role="main">


{{> molecules-block-content-header }}


<div class="lc">
<div class="grid grid--rev"><!--Start main content 

 --><div class="main-content prose">
 	<section>
 		{{> organisms-article-body }}
 	</section>
	</div><!-- End main content 


Start navigation
 --><div class="sidebar">
		{{> molecules-tertiary-nav }}
	</div>
</div>
</div>


</main>
<!-- End Content -->

{{> organisms-footer }}

