{{> atoms/iconography/svgicons-search }}
{{> organisms/global/header_v2}}

<div role="main" id="maincontent">

<section class="search-object">
  <div class="object-nav cf">
    <div class="object-nav-lists">
      <ul class="breadcrumbs">
        <li><a href="{{navigation.home_url}}"><span class="svg-icon-home"></span>{{i18n.site.navigation.breadcrumb.return_home}}</a></li>
        <li><span class="lastitem"><strong>{{content.title}}</strong></span></li>
      </ul>
    </div>
  </div>
</section>

<section class="site-hero ugc-migrations" style="background-image:url('{{content.hero.url}}');">
  <div class="hero-text">
    <h1 class="title">{{ content.title }}</h1>
    <br/>
    <h3>{{{ content.subtitle }}}</h3>
  </div>
</section>

<section class="ugc-content new-story">
  <div class="lc">
    {{#content}}
      {{{form}}}
    {{/content}}
  </div>
</section>

</div>
<!-- End Main -->

{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
