<section class="prelaunch-feedback">
	<div class="lc">
		<div class="alpha-info">
			<h2>{{ i18n.site.alpha.feedback_banner.title }}</h2>
			<p>{{ i18n.site.alpha.feedback_banner.description }}</p>
		</div>

		<div class="feedback-link">
			<a href="stuff" class="btn btn-light pill">{{ i18n.site.alpha.feedback_banner.link-text }}</a>
		</div>

	</div>
</section>