<section class="prelaunch-feedback" id="phase-feedback">
  <div class="lc">
    <div class="phase-info">
      <h2>{{ content.banner.title }}</h2>
      <p>{{ content.banner.text }}</p>
    </div>

    <div class="banner-link">
      <a href="{{ content.banner.cta_url }}" class="btn btn-light pill">{{ content.banner.cta_text }}</a>
    </div>

  </div>
</section>