{{#content.news}}
<div class="section home-news">
	<div class="lc">

	{{#title}}<h2 class="section-title">{{ . }}</h2>{{/title}}

	<div class="grid cf">

		<div class="l-news">
			<div class="grid">
			{{#items}}<div class="l-post">{{> molecules-inset-block}}</div>{{/items}}
			</div>

			{{# more_link }}<a class="link-more" href="{{ more_link.url }}">{{more_link.text}}</a>{{/ more_link }}
		</div>

	</div>
	</div>
</div>
{{/content.news}}