<section class="prelaunch-feedback" id="phase-feedback">
	<div class="lc">
		<div class="phase-info">
			<h2>{{ content.phase_feedback.title }}</h2>
			<p>{{ content.phase_feedback.text }}</p>
		</div>

		<div class="feedback-link">
			<a href="{{ content.phase_feedback.cta_url }}" class="btn btn-light pill">{{ content.phase_feedback.cta_text }}</a>
		</div>

	</div>
</section>