<section class="channel-social section">

  {{#social}}
    {{#present}}

    
        <h2>Find {{content.channel_info.name}} on social media:</h2>
      
        <ul class="social-share">
      
          {{#items}}
            <li>
              <a class="icon-social" {{#url}}href="{{.}}"{{/url}} {{#text}}title="{{.}}"{{/text}} target="_blank">
                <svg class="icon{{#icon}} {{.}}{{/icon}}">
                  <use xlink:href="#{{#icon}}{{.}}{{/icon}}"></use>
                </svg>
                <span class="share-name is-vishidden">Facebook</span>
              </a>
            </li>
          {{/items}}
        </ul>

    {{/present}}    
  {{/social}}
</section>