<div class="tab-header"{{#url}} data-content-url="{{.}}"{{/url}}>
  {{#tab_title}}<span class="tab-title">{{.}}</span>{{/tab_title}}
  <span class="tab-subtitle">{{#total}}{{.}}{{/total}}{{^total}}&nbsp;{{/total}}</span>
</div>
<div class="tab-content"><div class="slide-rail" style="position: relative;"><div class="slide-content"></div></div></div>
