<div class="tab-header"{{#url}} data-content-url="{{.}}"{{/url}}{{#key}} data-content-default-logo="{{.}}"{{/key}}>
  {{#tab_title}}<span class="tab-title">{{.}}</span>{{/tab_title}}
</div>
<div class="tab-content"></div>
