<div class="tab-header"{{#url}} data-content-url="{{.}}"{{/url}}>
  {{#tab_title}}<span class="tab-title">{{.}}</span>{{/tab_title}}
  <span class="tab-subtitle">{{#tab_subtitle}}{{.}}{{/tab_subtitle}}{{^tab_subtitle}}&nbsp;{{/tab_subtitle}}</span>
</div>
<div class="tab-content"><div class="slide-rail" style="position: relative;"><div class="slide-content"></div></div></div>
