<div class="tab-header" {{#url}}data-content-url="{{.}}"{{/url}}>
  {{#tab_title}}<span class="tab-title">{{.}}</span>{{/tab_title}}
  {{#tab_subtitle}}<span class="tab-subtitle">{{.}}</span>{{/tab_subtitle}}
</div>
<div class="tab-content">
</div>
