<div class="tab-header"{{#url}} data-content-url="{{.}}"{{/url}}>
  {{#tab_title}}<span class="tab-title">{{.}}</span>{{/tab_title}}
</div>
<div class="tab-content">
  <div class="results"></div>
  <a href="{{search_url}}" class="show-more-mlt js-hidden">{{ i18n.global.more.show-more }}… ()</a>
</div>
