<div class="metis-accordion-wrapper">
  <div class="eu-accordion-tabs cf">
    {{#tab_items}}
      <div class="tab-header">
        {{#tab_title}}<span class="tab-title">{{.}}</span>{{/tab_title}}
        {{#tab_subtitle}}<span class="tab-subtitle">{{.}}</span>{{/tab_subtitle}}
        <span class="tab-extension">{{tab_extension}}</span>
      </div>
      <div class="tab-content">
        {{#tab_content}}
          {{{.}}}
        {{/tab_content}}
        {{#search_results}}
          {{> molecules/components/search/search-listitem }}
        {{/search_results}}
      </div>
    {{/tab_items}}
  </div>
</div>
