{{! 

Options for user selectable styling 
Various changes in style are applied by adding classes to the main outer site-hero container:
<<< Add the class on the left to have the effect on the right >>>

	Brand circles opacity:

	no class (default) 	= 	50%
	brand-opacity25 	=	25% opacity
	brand-opacity50 	= 	50% opacity
	brand-opacity75 	=	75% opacity
	brand-opacity100 	=	100% opacity


	Brand circles position/orientation:

	default (no class) 	= 	top left
	brand-topleft 		= 	top left
	brand-topright 		= 	top right
	brand-bottomleft 	= 	bottom left
	brand-bottomright 	=	bottom right


	Brand Circles colour:
	
	default (no class) 	= 	site accent colour
	brand-colour-site 	=	site accent colour
	brand-colour-white 	=	white
	brand-colour-black 	=	black


 }}

<div class="site-hero cf brand-topleft brand-colour-site brand-opacity75" style="background-image: url('../../images/pro/home_image_test.jpg');" >

<div class="lc">
	<div class="hero-text">
		<h2><a href="#">{{ headline.short }}</a></h2>
		<p>{{ excerpt.short}}</p>
	</div>
</div>

<div class="attribution">

	Attribution text for image goes here


	<a href="http://creativecommons.org/publicdomain/zero/1.0/" class="license icon-license-zero">CC0</a>

{{# all_licenses }}

	<a href="http://creativecommons.org/licenses/by/4.0/" class="license"><span class="icon-license-cc"></span><span class="icon-license-by"></span>CC-BY</a>

	<a href="http://creativecommons.org/licenses/by-sa/4.0/" class="license"><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-sa"></span>CC-BY-SA</a>

	<a href="http://creativecommons.org/licenses/by-nc/4.0/" class="license"><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-nc"></span>CC-BY-NC</a>

	<a href="http://creativecommons.org/licenses/by-nc-nd/4.0/" class="license"><span class="icon-license-cc"></span><span class="icon-license-nd"></span><span class="icon-license-nc"></span><span class="icon-license-sa"></span>CC-ND-NC-SA</a>

	<a href="http://creativecommons.org/publicdomain/mark/1.0/" class="license icon-license-pd">Public Domain</a>

{{/ all_licenses }}

</div>

{{>molecules/media/brand-svg-assets}}

</div>