{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}


<section class="site-hero channel-hero" {{#content.hero_config}} style="background-image: url('{{image_root}}{{hero_image}}');" {{/content.hero_config}}>

	<div class="hero-contents">

		<h1><span class="inabox">{{content.channel_info.name}}</span></h1>

		<div class="searchbar">
		{{> molecules/components/search/search-form }}
		</div>

	</div>

	{{#content.hero_config}}
		{{>molecules/text/attribution}}
	{{/content.hero_config}}

</section>

{{#content.channel_info}}
<section class="channel-info section">
	<div class="lc">
		<div class="channel-description">
			<div class="channel-description-text">
				{{{description}}}
			</div>

			{{# content.channel_info.credits }}
				<div class="channel-credits comma-list">
					<span class="title">{{title}}</span>
					<ul class="credit-list">
					{{#items}}
					<li><a href="{{url}}" class="external">{{text}}</a></li>
					{{/items}}
					</ul>
				</div>
			{{/ content.channel_info.credits }}
		</div>

		{{#stats}}
		<div class="channel-stats">
			<ul>
				{{#items}}
				<li><a href="{{url}}"><span class="number">{{count}} </span>{{text}}</a></li>
				{{/items}}
			</ul>
		</div>
		{{/stats}}

		<div class="channel-newstuff">
			{{#recent}}
				{{> molecules/navigation/linklist-with-title }}
			{{/recent}}
		</div>
	</div>


	{{#content.channel_entry}}

		<div class="channelentry-list lc">
			<ul>
				{{#items}}
				<li class="list-item">
					{{> molecules/blocks/promo-module-text }}
				</li>
				{{/items}}
			</ul>
		</div>

	{{/content.channel_entry}}



</section>
{{/content.channel_info}}



{{# content.promoted }}
<section class="exhibitions-list cf">
<ul class="promo-list">
	{{#items}}
	<li class="list-item">
		{{> molecules/blocks/promo-module }}
	</li>
	{{/items}}
</ul>
</section>
{{/ content.promoted }}



{{#content.news}}
<div class="section news">
	<div class="lc">

	<h2 class="section-title">{{content.channel_info.name}} {{i18n.site.news}} <a class="link-more" href="{{ blogurl }}">{{i18n.site.more}}</a></h2>

	<ul class="cf">
		{{#items}}<li class="news-item">{{> molecules/blocks/link-block-full}}</li>{{/items}}
	</ul>
	</div>
</div>
{{/content.news}}


{{# content.social }}
<section class="channel-social section">
<div class="lc">
	<h2>Find {{content.channel_info.name}} on social media:</h2>
	<ul class="social-share">
		{{#facebook}}
		<li>
		<a class="icon-social" href="{{url}}" title="{{text}}" target="_blank">
			<svg class="icon icon-facebook">
				<use xlink:href="#icon-facebook"></use>
			</svg>
			<span class="share-name is-vishidden">Facebook</span>
		</a>
		</li>
		{{/facebook}}

		{{#twitter}}
		<li>
		<a class="icon-social" href="{{url}}" title="{{text}}" target="_blank">
			<svg class="icon icon-twitter">
				<use xlink:href="#icon-twitter"></use>
			</svg>
			<span class="share-name is-vishidden">Twitter</span>
		</a>
		</li>
		{{/twitter}}

		{{#pinterest}}
		<li>
		<a class="icon-social" href="{{url}}" title="{{text}}" target="_blank">
			<svg class="icon icon-pinterest">
				<use xlink:href="#icon-pinterest"></use>
			</svg>
			<span class="share-name is-vishidden">Pinterest</span>
		</a>
		</li>
		{{/pinterest}}

		{{#googleplus}}
		<li>
		<a class="icon-social" href="{{url}}" title="{{text}}" target="_blank">
			<svg class="icon icon-googleplus">
				<use xlink:href="#icon-googleplus"></use>
			</svg>
			<span class="share-name is-vishidden">Google</span>
		</a>
		</li>
		{{/googleplus}}
	</ul>
</div>
</section>
{{/ content.social }}


{{> organisms/global/footer }}