{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

<section class="channels-landing-browse after-header-with-search">

  <div class="lc">
    {{#content.preview_search_url}}
      <a class="scroll-trigger trigger-chain"
         data-enabled="true"
         data-disable-when-fired="loadPreview"
         data-fire-on-open-params='{ "trigger": "scroll-trigger-preview"}'>
      </a>
    {{/content.preview_search_url}}

    <div class="main-content">
      <div class="cf">
        <div class="landing-text">
          {{#content.channel_blurb}}

            <div class="landing-text-inner">
              <span class="{{logo_class}} page-header"></span>
              <span class="opening">
              {{{description}}}
              </span>
              <span class="zoomed">{{{summary}}}</span>
              {{#about}}
                <div class="about">
                  {{#text}}<span class="text">{{.}}</span>{{/text}}
                  {{#link_url}}<a href="{{.}}">{{link_text}} <svg class="icon icon-linkout"><use xlink:href="#icon-linkout"/></svg></a>{{/link_url}}
                </div>
              {{/about}}
            </div>

          {{/content.channel_blurb}}
        </div>

        <div class="landing-featured brand-bottomleft brand-colour-white brand-opacity50">
          {{#content.promoted}}
            {{#items}}
              {{#featured}}
                {{> molecules/blocks/promo-module }}
                {{> molecules/media/brand-svg-assets}}
              {{/featured}}
            {{/items}}
          {{/content.promoted}}
        </div>

      </div>

      <h2 class="section-header editor-picks-header">{{i18n.site.collections.labels.editors-picks}}</h2>

      {{#content.promoted}}
        <ul class="home-promo promo-list editors-picks">
          {{#items}}
            {{^featured}}
              <li class="list-item {{#wide}}list-item-wide{{/wide}}">
                {{> molecules/blocks/promo-module }}
              </li>
            {{/featured}}
          {{/items}}
        </ul>
      {{/content.promoted}}
    </div>

    <div class="entry-point-column">
      <span class="{{logo_class}} facet-header"></span>
      {{#content.entry_points}}
      <ul class="entry-points">
        {{#title}}
          <span class="entry-points-title">{{.}}</span>
        {{/title}}
        {{#items}}
          <li class="entry-point">
            <a class="entry-point-link" href="{{url}}">
              {{#image_url}}
                <img src="{{.}}" class="entry-point-image"/>
              {{/image_url}}
              {{#label}}
                <span class="entry-point-text" href="{{url}}">{{.}}</span>
              {{/label}}
            </a>
          </li>
        {{/items}}
      </ul>
      {{/content.entry_points}}
    </div>

    <div class="sneak-peek-content cf">
      {{#content}}
        {{>organisms/sections/social-share}}

        {{#preview_search_url}}
          <a id="scroll-trigger-preview"
             class="scroll-trigger"
             data-enabled="true"
             data-fire-on-open="loadPreview"
             data-fire-on-open-params='{ "loadUrl": "{{.}}" }'
          ></a>
        {{/preview_search_url}}

      {{/content}}
      <h2 class="section-header sneak-peek-header">{{i18n.site.collections.labels.sneak-peek}}</h2>
      <span class="sneak-peek-subheader">{{i18n.site.collections.labels.designer}}:</span>

      {{#content.sneak_peak}}
        <ul class="comma-list recently-viewed">
          {{#recently_viewed.items}}
            <li>{{.}}</li>
          {{/recently_viewed.items}}
        </ul>
        <ol class="sneak-peek-list result-items display-grid cf">
          <li class="grid-sizer"></li>
          {{# items }}
            <li>
              {{> molecules/components/search/search-listitem }}
            </li>
          {{/ items }}
        </ol>
        <div class="show-more-mlt"><a href="{{more_items_query}}">{{ i18n.global.more.show-more }}… ({{more_items_total_formatted}})</a></div>
      {{/ content.sneak_peak }}
      {{^ content.sneak_peak }}
        <ol class="sneak-peek-list result-items display-grid cf">
          <li class="grid-sizer"></li>
        </ol>
      {{/ content.sneak_peak }}
      <div id="molecules-components-search-search-listitem-js"><noscript>{{> molecules/components/search/search-listitem-js }}</noscript></div>

    </div>
  </div>
</section>

<section class="channels-landing-browse happening-content">

  <div class="lc relative">
    <h2 class="section-header happening-header">{{i18n.site.collections.labels.whats-happening}}</h2>

    <span class="subscribe-block">{{> atoms/text/clicktip}}<a class="show-feeds">{{i18n.global.subscribe}} <svg class="icon icon-rss"><use xlink:href="#icon-rss"/></svg></a></span>

    {{#content.carousel}}

      <div class="cf lc happening-feed-container">
        <a id="scroll-trigger-carousel"
           class="scroll-trigger"
           data-enabled="true"
           data-fire-on-open="showCarousel"
           data-fire-on-open-params='{ "loadUrl": "{{more_items_load}}", "total_available": "{{more_items_total}}", "template": "aggregated", "svg": true, "minSpacingPx": 30, "smallButtons": true}'
        ></a>
        <div class="js-carousel happening-feed">
          <ul class="cf">
            {{#items}}
              <li class="js-carousel-item">
                <img src="{{img.src}}"/>
                <div class="js-carousel-texts">
                  {{#title}}
                    <span class="js-carousel-title">
                      <a href="{{url}}">{{.}}</a>
                    </span>
                  {{/title}}
                  {{#excerpt}}
                    <span class="js-carousel-text">
                      {{short}}
                    </span>
                  {{/excerpt}}
                  {{#date}}
                    <span class="js-carousel-date">
                      {{.}}
                    </span>
                  {{/date}}
                  {{#type}}
                    <span class="js-carousel-type js-carousel-type-{{.}}">{{.}}</span>
                  {{/type}}
                </div>
              </li>
            {{/items}}
          </ul>
        </div>
        <a class="scroll-trigger trigger-chain"
           data-enabled="true"
           data-disable-when-fired="showCarousel"
           data-fire-on-open-params='{ "trigger": "scroll-trigger-carousel"}'></a>
      </div>
    {{/content.carousel}}
  </div>
</section>

{{> organisms/sections/banner }}

{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
