{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}


{{#content}}
  {{#ugc_content}}
    {{#include_1418_nav}}
      <div class="after-header-with-search e7a1418-nav-wrapper">
        {{>molecules/navigation/e7a1418-nav}}
       </div>
    {{/include_1418_nav}}
  {{/ugc_content}}
{{/content}}

<section class="channels-landing-browse after-header-with-search">


  <div class="lc">
    {{#content.preview_search_data_present}}
      <a class="scroll-trigger trigger-chain"
         data-enabled="true"
         data-disable-when-fired="loadPreview"
         data-fire-on-open-params='{"trigger": "scroll-trigger-preview"}'>
      </a>
    {{/content.preview_search_data_present}}

    <div class="main-content">
      <div class="cf">
        <div class="landing-text">
          <div class="landing-text-inner">
            <span class="text-logo page-header"><span class="inner-text">Europeana</span><span class="inner-text inner">{{collection_title}}</span></span>
            <span>
              {{#content.channel_info}}
                {{{description}}}
              {{/content.channel_info}}
            </span>
            {{#content.channel_info}}
              {{#credits }}
                <ul class="credit-list">
                  <li><span class="title">{{title}}</span></li>
                  {{#items}}
                    <li><a href="{{url}}" class="external" target="_blank">{{text}}</a></li>
                  {{/items}}
                </ul>
              {{/ credits }}
            {{/content.channel_info}}
          </div>
        </div>

        <div class="landing-featured brand-bottomleft brand-colour-white brand-opacity50">
          {{#content.promoted}}
            {{#items}}
              {{#featured}}
                {{> molecules/blocks/promo-module }}
                {{> molecules/media/brand-svg-assets}}
              {{/featured}}
            {{/items}}
          {{/content.promoted}}
        </div>

      </div>

      <h2 class="section-header editor-picks-header">{{i18n.site.collections.labels.editors-picks}}</h2>

      {{#content.promoted}}
        <ul class="home-promo promo-list editors-picks cf">
          {{#items}}
            {{^featured}}
              <li class="list-item {{#wide}}list-item-wide{{/wide}}">
                {{> molecules/blocks/promo-module }}
              </li>
            {{/featured}}
          {{/items}}
        </ul>
      {{/content.promoted}}

    </div>

    <div class="entry-point-column">
      <span class="text-logo facet-header"><span class="inner-text">Europeana</span><span class="inner inner-text">{{collection_title}}</span></span>
      {{#content.entry_points}}
      <ul class="entry-points">
        {{#title}}
          <span class="entry-points-title">{{.}}</span>
        {{/title}}
        {{#items}}
          <li class="entry-point">
            <a class="entry-point-link" href="{{url}}">
              {{#image_url}}
                <img src="{{.}}" class="entry-point-image"/>
              {{/image_url}}
              {{#label}}
                <span class="entry-point-text" href="{{url}}">{{.}}</span>
              {{/label}}
            </a>
          </li>
        {{/items}}
      </ul>
      {{/content.entry_points}}
    </div>
  </div>

  <div class="sneak-peek-content cf lc">
    {{#content}}
      {{#preview_search_data_present}}
        <a class="scroll-trigger"
           data-enabled="true"
           data-fire-on-open="loadPreview"
           data-disable-when-fired="loadPreview"
           id="scroll-trigger-preview">
        </a>
        <script>
        window.sneakPeekData = [];
          {{#preview_search_data}}
            var entry = {};
            entry['title'] = '{{preview_search_title}}';
            entry['type']  = '{{preview_search_type}}';
            entry['url']   = '{{preview_search_url}}';
            entry['extra'] = '{{preview_search_more_link}}';
            window.sneakPeekData.push(entry);
          {{/preview_search_data}}
        </script>

        <h2 class="section-header sneak-peek-header">{{i18n.site.collections.labels.sneak-peek}}</h2>
        <span class="sneak-peek-subheader"><span id="js-sneak-peek-title">{{preview_search_title}}</span></span>
      {{/preview_search_data_present}}
    {{/content}}

    {{#content.sneak_peek}}
      <ul class="comma-list recently-viewed">
        {{#recently_viewed.items}}
          <li>{{.}}</li>
        {{/recently_viewed.items}}
      </ul>
      <ol class="sneak-peek-list result-items display-grid cf not-loaded">
        <li class="grid-sizer"></li>
        {{# items }}
          <li>
            {{> molecules/components/search/search-listitem }}
          </li>
        {{/ items }}
      </ol>
      <div class="show-more-mlt"><a href="{{more_items_query}}">{{ i18n.global.more.show-more }}… ({{more_items_total_formatted}})</a></div>
    {{/ content.sneak_peek }}

    {{^ content.sneak_peek }}
      <ol class="sneak-peek-list result-items display-grid cf">
        <li class="grid-sizer"></li>
      </ol>
      <div class="show-more-mlt"><a href="{{more_items_query}}">{{ i18n.global.more.show-more }}…</a></div>
    {{/ content.sneak_peek }}
    <div id="molecules-components-search-search-listitem-js"><noscript>{{> molecules/components/search/search-listitem-js }}</noscript></div>
  </div>

  {{#content}}
    <div class="lc cf">
      {{>organisms/sections/social-share}}
      {{#newsletter}}
        <div class="custom-newsletter-outer">
          <section class="custom-newsletter">
            <span class="cell">
              {{#labels}}
                <h4>{{heading}}</h4>
                {{subheading}}
              {{/labels}}
            </span>
            <span class="cell">
              {{>molecules/forms/newsletter}}
            </span>
          </section>
        </div>
      {{/newsletter}}
    </div>
  {{/content}}
</section>

<section class="channels-landing-browse happening-content">

  <div class="lc relative">
    <h2 class="section-header happening-header">{{i18n.site.collections.labels.whats-happening}}</h2>

    {{#content}}
      {{#clicktip}}
        <span class="subscribe-block">
      {{/clicktip}}
      {{> atoms/text/clicktip}}
      {{#clicktip}}
        <a class="show-feeds">{{i18n.global.subscribe}} <span class="svg-icon-rss"></span></a></span>
      {{/clicktip}}
    {{/content}}

    {{#content.carousel}}
      <div class="cf lc happening-feed-container">
        <a id="scroll-trigger-carousel"
           class="scroll-trigger"
           data-enabled="true"
           data-fire-on-open="showCarousel"
           data-fire-on-open-params='{ "loadUrl": "{{more_items_load}}", "total_available": "{{more_items_total}}", "template": "aggregated", "arrowClass": "white-grey", "minSpacingPx": 30, "smallButtons": true}'
        ></a>
        <div class="js-carousel happening-feed not-loaded">
          <ul class="cf">
            {{#items}}
              <li class="js-carousel-item">

                <div class="js-carousel-item-img-wrap"><a href="{{url}}"><img src="{{img.src}}"/></a></div>

                <div class="js-carousel-texts">
                  {{#title}}
                    <span class="js-carousel-title-wrap">
                      <span class="js-carousel-title">
                        <a href="{{url}}">{{.}}</a>
                      </span>
                    </span>
                  {{/title}}
                  {{#excerpt}}
                    <span class="js-carousel-text-wrap">
                      <span class="js-carousel-text">
                        {{short}}
                      </span>
                    </span>
                  {{/excerpt}}
                  {{#date}}
                    <span class="js-carousel-date">
                      {{.}}
                    </span>
                  {{/date}}
                  {{#type}}
                    <span class="js-carousel-type js-carousel-type-{{.}}">{{.}}</span>
                  {{/type}}
                </div>
              </li>
            {{/items}}
          </ul>
        </div>
        <a class="scroll-trigger trigger-chain"
           data-enabled="true"
           data-disable-when-fired="showCarousel"
           data-fire-on-open-params='{ "trigger": "scroll-trigger-carousel"}'></a>
      </div>
    {{/content.carousel}}
  </div>
</section>

{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
