{{> atoms/iconography/svgicons-search }}
{{> organisms/global/header_v2}}
<div role="main" class="search-object after-header-with-search">
  {{#content}}

    {{> molecules/components/search/help-bar}}

    {{#disabled}}
      {{#ugc_content}}
        {{#include_1418_nav}}
          {{>molecules/navigation/e7a1418-nav}}
        {{/include_1418_nav}}
      {{/ugc_content}}
    {{/disabled}}

    {{#object.media}}
      {{^items}}
        <section>
          <div class="object-media-info section is-current">
            <div class="object-downloads">
            </div>
          </div>
        </section>
      {{/items}}
    {{/object.media}}

    {{! Main object text info section }}

    <section class="section object-details has-right-column">
      <div class="channel-object-overview">
        {{#object}}
          <div>
            {{#media}}

              <div class="channel-media-wrap {{#empty_item}} empty{{/empty_item}}">

                {{#display_title}}
                  <h2 class="channel-object-title top" property="http://purl.org/dc/elements/1.1/title dc:title">{{.}}</h2>
                {{/display_title}}
                {{^display_title}}
                  <h2 class="channel-object-title top">{{i18n.site.object.title_unavailable}}</h2>
                {{/display_title}}

                <a class="scroll-trigger trigger-chain"
                   data-enabled="true"
                   data-disable-when-fired="showMediaThumbs"
                   data-fire-on-open-params='{ "trigger": "scroll-trigger-media-items"}'></a>

                <div class="object-media-viewer thumbnail-mode">
                  {{#empty_item}}

                    <div class="channel-object-no-preview">

                      {{#origin}}
                        {{#url}}
                          <span class="go-to-source-intro">
                            {{i18n.site.object.preview_unavailable_intro}}
                          </span>
                          <a class="go-to-source" href="{{.}}">{{i18n.site.object.preview_unavailable_source}}</a>
                        {{/url}}
                        {{#institution_name}}
                          <span class="go-to-source-explanation">
                            {{i18n.site.object.preview_unavailable_explanation}}
                            <a class="link-black-blue" href="{{url}}">{{.}}<span class="svg-icon-external"></span></a>
                          </span>
                        {{/institution_name}}
                      {{/origin}}

                    </div>
                  {{/empty_item}}
                  {{^empty_item}}
                    {{#items}}
                      {{#is_current}}
                    <div class="media-poster{{#playable}} contains-playable{{/playable}}">
                      <div {{#playable}}class="playable"{{/playable}}{{^playable}}class="unplayable"{{/playable}} {{#play_url}}data-uri="{{.}}"{{/play_url}}>
                        <div class="zoomable">
                          {{#thumbnail}}
                            <img src="{{.}}"/>
                          {{/thumbnail}}
                        </div>
                        <div class="media-options">
                          <span class="media-option-group iiif-ctrls off">
                            <a class="media-option transcriptions-show">
                              <span class="svg-icon-transcription-on"></span>
                            </a>
                            <a class="media-option transcriptions-hide">
                              <span class="svg-icon-transcription-off"></span>
                            </a>
                          </span>
                          <span class="media-option-group share-link-ctrl">
                            <span class="media-option media-share" data-modal-selector=".modal-share" title="{{i18n.global.actions.share}}">
                              <span class="share svg-icon-share"></span>
                            </span>
                          </span>
                          <span class="media-option-group download-link-ctrl">
                            <a class="media-option media-download" data-modal-selector=".modal-download" download="Europeana-Media" title="{{i18n.global.actions.download}}">
                              <span class="download svg-icon-download white"></span>
                            </a>
                          </span>
                          <span class="media-option-group zoom-ctrls">
                            <span class="media-option media-zoom-in" title="Enlarge viewer">
                              <span class="zoom-in svg-icon-card-expand"></span>
                            </span>
                            <span class="media-option media-zoom-out" title="Reduce viewer">
                              <span class="zoom-out svg-icon-card-collapse"></span>
                            </span>
                          </span>
                          <span class="media-option-group external-link-ctrl">
                            <span class="media-option media-link" title="Link">
                              <a class="link svg-icon-link-out"></a>
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                      {{/is_current}}
                    {{/items}}

                    {{#required_players}}

                      {{#iiif}}
                        <div class="object-media-iiif is-hidden">
                          {{> molecules/components/iiif/iiif }}
                        </div>
                      {{/iiif}}

                      {{#video}}
                        <div class="object-media-video is-hidden">
                          {{> molecules/components/videojs/videojs }}
                        </div>
                      {{/video}}

                      {{#midi}}
                        <div class="object-media-midi is-hidden">
                          {{> molecules/components/midi/midi }}
                        </div>
                      {{/midi}}

                      {{#oembed}}
                        <div class="object-media-oembed is-hidden" data-fullscreen-enter="{{i18n.global.actions.fullscreen-enter}}" data-fullscreen-exit="{{i18n.global.actions.fullscreen-exit}}">
                          {{> molecules/components/oembed/oembed }}
                        </div>
                      {{/oembed}}

                      {{#audio}}
                        <script id="template-audio" type="text/x-mustache">
                          <div class="object-media-audio">
                            <audio id="media-audio" class="audio-js vjs-default-skin" width="100%" preload="none" controls></audio>
                          </div>
                        </script>
                      {{/audio}}

                      {{#pdf}}
                        <div class="object-media-pdf is-hidden">
                          {{> molecules/components/pdfjs/pdfjs-ui-thumbs-right }}
                        </div>
                      {{/pdf}}
                    {{/required_players}}
                  {{/empty_item}}

                  <div class="title-desc-media-nav">

                    {{#display_title}}
                      <h2 class="channel-object-title" property="http://purl.org/dc/elements/1.1/title dc:title">{{.}}</h2>
                    {{/display_title}}
                    {{^display_title}}
                      <h2 class="channel-object-title">{{i18n.site.object.title_unavailable}}</h2>
                    {{/display_title}}

                    <div class="channel-object-media-nav js-hidden">
                      <div class="media-thumb-section{{#single_item}} js-remove{{/single_item}}">
                        <a id="scroll-trigger-media-items"
                           class="scroll-trigger"
                           data-enabled="true"
                           data-fire-on-open="showMediaThumbs"
                           data-fire-on-open-params='{ "loadUrl": "{{more_thumbs_url}}", "total_available": {{more_thumbs_total}}}'
                        ></a>
                        <script id="template-media-item" type="text/x-mustache"><div class="lc-item">{{> molecules/components/media-nav-item-js }}</div></script>
                        <div class="light-carousel media-thumbs">
                          <a class="lc-nav nav-left right svg-icon-previous  carousel-arrows  blue-black">&nbsp;</a>
                          <div class="wrapper-hide-scroll">
                            <div class="lc-scrollable">
                              <div class="lc-item-container cho-media-nav">
                              {{#items}}
                                {{#thumbnail}}
                                  <div class="lc-item">{{> molecules/components/media-nav-item}}</div>
                                {{/thumbnail}}
                              {{/items}}
                              </div>
                            </div>
                          </div>
                          <a class="lc-nav nav-right right svg-icon-next  carousel-arrows  blue-black">&nbsp;</a>
                        </div>
                      </div>
                    </div>

                    {{#subtitle}}
                      <h3 class="subtitle">{{subtitle}}</h3>
                    {{/subtitle}}

                    <div class="channel-object-description cf">
                      {{#description}}
                        {{#sections}}
                          {{#items}}
                            <p>{{{text}}}</p>
                          {{/items}}
                          {{^items}}
                            <div class="missing">{{i18n.site.object.description_unavailable}}</div>
                          {{/items}}
                        {{/sections}}
                      {{/description}}
                    </div>

                    {{#creators}}
                      {{#sections}}
                        {{#items}}
                          {{#europeana_entity}}
                            <div class="channel-object-viewmore">
                              <a href="{{url}}" data-deref="{{json_url}}"><h3>{{text}}</h3><span class="viewmore-image"></span></a>
                            </div>
                          {{/europeana_entity}}
                        {{/items}}

                        {{#items}}
                          {{^europeana_entity}}
                            <div class="channel-object-viewmore">
                              {{text}}
                            </div>
                          {{/europeana_entity}}
                        {{/items}}

                      {{/sections}}
                    {{/creators}}

                  </div>
                </div>

                {{#empty_item}}
                  {{#thumbnail}}<img src={{.}}>{{/thumbnail}}
                  {{^thumbnail}}<br/><br/>{{/thumbnail}}
                {{/empty_item}}

              </div>
            {{/media}}
          </div>

          <div class="channel-object-information channel-object-action-bar">

            <div class="channel-object-media-actions">
              <div class="action-ctrl">
                <a class="action-ctrl-btn share" title="{{i18n.global.actions.share}}" data-modal-selector=".modal-share"><span class="action-icon svg-icon-share"></span><span class="action-label">{{i18n.global.actions.share}}</span></a>
              </div>

              <div class="action-ctrl">
                <a class="action-ctrl-btn media-download {{#media}}{{#items}}{{#is_current}}{{^downloadable}} disabled {{/downloadable}}{{/is_current}}{{/items}}{{/media}}"
                   {{#media}}{{#items}}{{#is_current}}{{#download}} href="{{url}}" {{/download}}{{/is_current}}{{/items}}{{/media}}
                   title="{{i18n.site.object.actions.download}}"
                   data-modal-selector=".modal-download"
                   download="Europeana-Media"><span class="action-icon svg-icon-download"></span><span class="action-label">{{i18n.site.object.actions.download}}</span></a>
              </div>

              {{#rights}}
                <div class="action-ctrl object-rights">
                  <h4>{{ i18n.global.facet.header.reusability }}</h4>
                  <div class="object-license child-link-black-blue">{{license_brief}} {{> molecules/icons/licenses-icon-only }}</div>
                </div>
              {{/rights}}
              {{> molecules/controls/channels-object-origin }}
            </div>

            <script id="template-modal-header-js" type="text/x-mustache">
              <div class="modal-header none">
                <a class="action-ctrl-btn" data-modal-selector=".modal-share"><span>{{i18n.global.actions.share}}</span></a>
                <a class="action-ctrl-btn[[^data-download-uri]] disabled[[/data-download-uri]]" data-modal-selector=".modal-download" download="Europeana-Media" href="[[data-download-uri]]"><span>{{i18n.site.object.actions.download}}</span></a>
                <a class="action-ctrl-btn" data-modal-selector=".modal-rights"><span>{{i18n.global.facet.header.reusability}} [[license_brief]]</span></a>
                {{> molecules/controls/channels-object-origin }}
              </div>
            </script>

            <script id="template-modal-rights-js" type="text/x-mustache">
              <div class="action-modal modal-rights js-hidden">
                <div class="modal-content">
                  <div class="modal-action">
                    <span class="label">
                      <h4>{{i18n.global.facet.header.reusability}}</h4>
                      <label>[[license_brief]][[^license_brief]]{{#rights}}{{license_brief}}{{/rights}}[[/license_brief]]</label>

                      [[^license_restricted]]
                        {{#rights}}
                          {{#license_restricted}}
                            <a class="link-black-blue" href="[[license_url]][[^license_url]]{{#rights}}{{license_url}}{{/rights}}[[/license_url]]" target="_blank"><h4>[[license_info]][[^license_info]]{{license_info}}[[/license_info]]<span class="svg-icon-external"></span></h4></a>
                          {{/license_restricted}}
                          {{^license_restricted}}
                            <h4>[[license_info]][[^license_info]]{{license_info}}[[/license_info]]</h4>
                          {{/license_restricted}}
                        {{/rights}}
                      [[/license_restricted]]
                      [[#license_restricted]]
                        <a class="link-black-blue" href="[[license_url]][[^license_url]]{{#rights}}{{license_url}}{{/rights}}[[/license_url]]" target="_blank"><h4>[[license_info]][[^license_info]]{{#rights}}{{license_info}}{{/rights}}[[/license_info]]<span class="svg-icon-external"></span></h4></a>
                      [[/license_restricted]]

                    </span>
                  </div>
                  <div class="action-modal-section">
                    <a target="blank" href="[[license_url]][[^license_url]]{{#rights}}{{license_url}}{{/rights}}[[/license_url]]" class="link-black-blue license-link-full"> {{> molecules/icons/licenses-icon-only-js }}[[license_name]][[^license_name]]{{#rights}}{{license_name}}{{/rights}}[[/license_name]]<span class="svg-icon-external"></span></a>
                  </div>
                  <a class="media-modal-close rights">
                    <span class="label"></span>
                  </a>
                </div>
              </div>
            </script>

            <script id="template-modal-download-js" type="text/x-mustache">

              <div class="action-modal modal-download js-hidden">
                <div class="modal-content">
                  <div class="modal-action centred">
                    <span class="label">
                        {{i18n.global.actions.downloading}}
                        <span class="label-small">You can click <a download="Europeana-Media" href="[[data-download-uri]]">here</a> to try again</span>
                      </span>
                  </div>

                  <div class="action-modal-section padded">
                    <span class="file"><span class="file-type">[[data-mime-type-brief]]</span></span>
                    <ul>
                      <li><span class="file-info-field"><span class="file-info-field-label">format</span> [[data-format]]</span></li>
                      <li><span class="file-info-field"><span class="file-info-field-label">{{i18n.site.object.meta-label.file-size}}</span> [[data-file-size]] [[data-file-unit]]</span></li>
                    </ul>
                  </div>

                  <div class="action-modal-section padded">
                    <span class="attribution-heading">Show your appreciation. Copy to attribute.</span>
                    <input class="attribution-field" value="[[data-attribution-plain]]">
                  </div>

                  [[#has_other_formats]]
                    <div class="action-modal-section centred padded">
                      <span class="action-modal-subheading">other formats</span>
                      <ul>
                        [[#formats]]
                          <li><a href="[[url]]">[[text]]</a></li>
                        [[/formats]]
                      </ul>
                    </div>
                  [[/has_other_formats]]

                  <a class="media-modal-close">
                    <span class="label"></span>
                  </a>
                </div>
              </div>
            </script>

            <div class="action-modal modal-share js-hidden">

              <div class="modal-content">
                <div class="modal-action centred">
                  <span class="label">
                    {{i18n.global.actions.share}}
                  </span>
                </div>

                <div class="action-modal-section padded">

                  {{#social_share }}
                    {{> molecules/controls/share-social }}
                  {{/social_share }}

                  <div class="page-url-fields">
                    <label class="page-url-label" for="page-url-input">{{i18n.global.actions.copy}}</label>
                    <input class="page-url-input" id="page-url-input"/>
                  </div>

                </div>

                <a class="media-modal-close">
                  <span class="label"></span>
                </a>
              </div>

            </div>
          </div>

          <div class="channel-object-information">
            {{#people}}
              {{> organisms/sections/object-data-section }}
            {{/people}}

            {{#concepts }}
              {{> organisms/sections/object-data-section }}
            {{/concepts }}
          </div>

          <div class="channel-object-extended-information">

            <h2 class="channel-object-title" data-label-expand="[{{i18n.site.object.actions.expand-extended}}]" data-label-collapse="[{{i18n.site.object.actions.collapse-extended}}]">  Extended Information</h2>

            {{#properties }}
              {{> organisms/sections/object-data-section }}
            {{/properties }}

            {{#dates }}
              {{> organisms/sections/object-data-section }}
            {{/dates }}

            {{#places }}
              {{> organisms/sections/object-data-section }}
            {{/places }}

            {{#annotations_later}}
              <script id="js-template-object-data-section" type="text/x-mustache">{{> organisms/sections/object-data-section-js }}</script>
            {{/annotations_later}}

            {{#annotations}}
              {{> organisms/sections/object-data-section }}
            {{/annotations}}

            {{#provenance}}
              {{> organisms/sections/object-data-section }}
            {{/provenance}}

            {{#copyright}}
              {{> organisms/sections/object-data-section }}
            {{/copyright}}

            {{#refs_rels}}
              {{> organisms/sections/object-data-section }}
            {{/refs_rels}}

            {{#meta_additional}}
              {{#present}}
                <div class="data-section cf closed" {{#id}} data-section-id="{{.}}"{{/id}}>
                  <h3 class="subsection-label">
                    {{i18n.site.object.meta-label.location}}
                  </h3>
                  <div class="subsection-content">
                    {{#places}}
                      <ul class="data-group">
                        {{#sections}}
                          <li>
                            <section>
                              <h4 class="data-header">{{#title }}{{.}}:{{/title }}</h4>
                              <ul class="comma-list data-group">
                                {{# items }}
                                  <li>
                                    {{#url }}<a href="{{.}}">{{/url }}{{ text }}{{#url }}</a>{{/url }}{{#extra_info}}
                                      {{#life}}
                                        <span class="life-dates">
                                          ({{from.short}} {{#to.short}} — {{.}}{{/to.short}})
                                        </span>
                                      {{/life}}
                                      {{#biography}}
                                        <div class="biography">
                                          {{text}}
                                        </div>
                                      {{/biography}}
                                    {{/extra_info}}
                                  </li>
                                {{/ items}}
                              </ul>
                            </section>
                          </li>
                        {{/sections}}
                      </ul>
                    {{/places}}

                    {{#geo.long_and_lat}} {{! check both present }}
                      <a class="scroll-trigger"
                         id="scroll-trigger-map"
                         data-enabled="true"
                         data-fire-on-open="showMap"
                         data-fire-on-open-params='{
                           "longitude":{{geo.longitude}}, "latitude": {{geo.latitude}}, "labels": { "n":"{{geo.labels.points.n}}", "s":"{{geo.labels.points.s}}", "e":"{{geo.labels.points.e}}", "w":"{{geo.labels.points.w}}" }
                         }'
                        ></a>
                      <span id="js-map-place-name" class="is-hidden">{{geo.placeName}}</span>
                      <a id="map" style="bottom:4.8em; position: relative;"></a>
                      <div class="map">
                        <div><b>{{geo.labels.longitude}}</b> {{#geo.longitude}}{{.}}{{/geo.longitude}}</div>
                        <div><b>{{geo.labels.latitude}}</b> {{#geo.latitude}}{{.}}{{/geo.latitude}}</div>
                      </div>
                      <a class="scroll-trigger trigger-chain"
                        data-enabled="true"
                        data-disable-when-fired="showMap"
                        data-fire-on-open-params='{"trigger": "scroll-trigger-map"}'></a>
                    {{/geo.long_and_lat}}
                  </div>
                </div>
              {{/present}}
            {{/meta_additional}}

            <div class="data-section closed" data-section-id="hierarchy">
              <div class="hierarchy cf">
                <div class="subsection-label">
                  {{i18n.site.object.hierarchy.title}}
                </div>
                <div class="subsection-content">
                  <div class="hierarchy-objects" style="display:none;"></div>
                </div>
              </div>
            </div>

            {{#content.named_entities}}
              <div class="data-section closed" data-section-id="named-entities">
                <div class="cf">
                  <div class="subsection-label">
                    {{i18n.site.object.named-entities.title}}
                  </div>
                  <div class="subsection-content">
                    {{>molecules/navigation/foldable-list}}
                  </div>
                </div>
              </div>
            {{/content.named_entities}}

          </div>

        {{/object}}

      </div>

      {{! end of object info column }}

      {{> organisms/cards/js-template-promo-entity}}

      {{> organisms/cards/js-template-promo-exhibition}}

      {{> organisms/cards/js-template-promo-gallery}}

      {{> organisms/cards/js-template-promo-generic}}

      {{> organisms/cards/js-template-promo-next-prev}}

      {{> organisms/cards/js-template-promo-news}}

      <div class="channel-object-actions">
        <div class="slide-rail">
          {{> organisms/cards/template-promo-preload }}
        </div>
        <div class="eu-slide-navs">
          <a class="svg-icon-previous carousel-arrows blue-black    eu-slide-nav eu-slide-nav-left disabled">&nbsp;</a>
          <a class="svg-icon-next carousel-arrows blue-black    eu-slide-nav eu-slide-nav-right disabled">&nbsp;</a>
        </div>
      </div>

      {{! end object actions }}

      {{#object.suggestions}}
        <div class="channel-object-similar">
          <h2 class="channel-object-title">[More Suggestions]</h2>
          <div class="suggestions-section">
            <div class="display-grid">
              <div class="slide-rail" style="position: relative;">
                <script id="template-preview-tab-content" type="text/x-mustache">
                  <article class="suggestion-item">
                    <div class="item-preview">
                      <div class="item-image">
                        <div class="inner">
                          <a target="[[target]]" href="[[url]]" tabindex="-1">
                            <div class="mlt-img-div height-to-width" [[#img.src]]style="background-image:url('[[.]]');"[[/img.src]]></div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="item-info">
                      {{! no whitespace here - eu-ellipsis js to be applied }}
                      <h2><a class="link-black-blue" [[#url]]href="[[.]]"[[/url]] [[#target]]target="[[.]]"[[/target]]>[[#title]]<span class="link-text">[[.]]</span>[[#external]]<span title="[[title]]" class="svg-icon-external"></span>[[/external]][[/title]]</a></h2>
                    </div>
                  </article>
                </script>
                <div class="eu-accordion-tabs suggestions cf">
                  {{#tab_items}}
                    {{> organisms/components/eu-accordion-tabs-portal-suggestions}}
                  {{/tab_items}}
                  {{#tab_items}}
                    <h4 class="more-federated-results js-hidden js-empty"><a href="" class="svg-icon-external-eu-blue-after"></a></h4>
                  {{/tab_items}}
                </div>
              </div>
              <a class="svg-icon-previous carousel-arrows blue-black    eu-slide-nav eu-slide-nav-left disabled">&nbsp;</a>
              <a class="svg-icon-next carousel-arrows blue-black    eu-slide-nav eu-slide-nav-right disabled">&nbsp;</a>
            </div>
          </div>
        </div>
      {{/object.suggestions}}
    </section>
  {{/content}}
</div>
{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
