{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}


<section class="site-hero channel-hero" {{#content.hero_config}} style="background-image: url('{{image_root}}{{hero_image}}');" {{/content.hero_config}}>

	<div class="hero-contents">

		<h1><span class="inabox">{{content.channel_info.name}}</span></h1>

		<div class="searchbar">
		{{> molecules/components/search/search-form }}
		</div>

	</div>
	
	{{#content.hero_config}} 
		{{>molecules/text/attribution}}
	{{/content.hero_config}}

</section>

{{#content.channel_info}} 	
<section class="channel-info section">
	<div class="lc">
		<div class="channel-description">
			<p>
			{{{description}}}
			</p>

			{{# content.channel_info.credits }}
			<div class="channel-credits lc">
				<h3 class="title">{{title}}</h3>
				<ul class="credit-list inline-list">
				{{#items}}
				<li><a href="{{url}}" class="external">{{text}}</a></li>
				{{/items}}
				</ul>
			</div>
			{{/ content.channel_info.credits }}
		</div>

		{{#stats}}
		<div class="channel-stats">
			 
			<h4 class="title">In this Channel:</h4>
			<ul>
				{{#items}}
				<li><a href="{{url}}"><span class="number">{{count}} </span>{{text}}</a></li>
				{{/items}}
			</ul>
			
		</div>
		{{/stats}} 

		<div class="channel-newstuff">
		{{#recent}}
			{{> molecules/navigation/linklist-with-title }}
		{{/recent}}
		</div>
	</div>
</section>
{{/content.channel_info}} 



{{# content.promoted }}
<section class="exhibitions-list promo-list cf">
<ul>
	{{#items}}
	<li class="list-item">
		{{> molecules/blocks/promo-module }}
	</li>
	{{/items}}
</ul>
</section>
{{/ content.promoted }}

{{#content.channel_entry}}
<section class="suggested-list cf promo-list promo-list-text">
<ul>
	{{#items}}
	<li class="list-item">
		{{> molecules/blocks/promo-module-text }}
	</li>
	{{/items}}
</ul>
</section>
{{/content.channel_entry}}


{{#content.news}}
<div class="section">
	<div class="lc">

	<h2 class="section-title">{{content.channel_info.name}} News</h2>

	<ul class="home-news cf">
		{{#items}}<li class="news-item">{{> molecules/blocks/link-block-full}}</li>{{/items}}
	</ul>

	<a class="link-more" href="{{ blogurl }}">More from the Blog</a>

	</div>
</div>
{{/content.news}}

{{> organisms/global/footer }}