{{> atoms/iconography/svgicons-search }}
{{> organisms/global/header_v2}}

<div role="main" id="maincontent" {{#include_nav_searchbar}}class="after-header-with-search"{{/include_nav_searchbar}}>
  {{> molecules/components/search/help-bar}}

  {{#content}}

    <div class="gridlayout-wrapper-full">

      {{#anchor_title}}
        <div class="gridlayout width-main no-row-gap grid-anchor-list">
          <div class="gridlayout width-12">
            <div class="anchor-list">
              <ul>
                {{#browse_lists}}
                  {{#head.pref_label}}
                    <li {{#head.alt_labels}}class="sublist"{{/head.alt_labels}}><a href="#{{.}}">
                      {{.}}
                      <ul>
                         <li>{{head.pref_label}}</li>
                        {{#head.alt_labels}}
                          <li>{{.}}</li>
                        {{/head.alt_labels}}
                      </ul>
                  </a></li>{{/head.pref_label}}               
                {{/browse_lists}}
            </ul>
            </div>
          </div>
        </div>
      {{/anchor_title}}

      {{#browse_lists}}

        {{#head}}
          {{> molecules/browse/browseable-list-head}}
        {{/head}}

        {{> molecules/browse/browseable-list}}

        {{#foot}}
          {{#link}}
            {{> molecules/browse/browseable-list-foot-link}}
          {{/link}}
        {{/foot}}

      {{/browse_lists}}

    </div>
  {{/content}}
</div>

{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
