{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

<section class="channels-landing-x after-header-with-search">

  <div class="lc">
    <div class="main-content">
      <div class="cf">
        <div class="landing-text">
          {{#content.channel_blurb}}

            <div class="landing-text-inner">
              <span class="{{logo_class}} page-header"></span>
              <span class="opening">
              {{{description}}}
              </span>
              <span class="zoomed">{{{summary}}}</span>
              {{#about}}
                <div class="about">
                  {{#text}}<span class="text">{{.}}</span>{{/text}}
                  {{#link_url}}<a href="{{.}}">{{link_text}}</a>{{/link_url}}
                </div>
              {{/about}}
            </div>

          {{/content.channel_blurb}}
        </div>

        <div class="landing-featured hero-nopad search-hero {{#content.hero_config}}{{brand_position}} {{brand_colour}} {{brand_opacity}}{{/content.hero_config}}" {{#content.hero_config}} style="background-image: url('{{hero_image}}');" {{/content.hero_config}}>
          {{#content.hero_config}}
            {{>molecules/text/attribution}}
            {{>molecules/media/brand-svg-assets}}
          {{/content.hero_config}}
        </div>

      </div>

      <h2 class="editor-picks">Editor's Picks</h2>

      <ul class="home-promo promo-list editors-picks">
        {{#content.editors_picks.items}}
          <li class="list-item {{#wide}}list-item-wide{{/wide}}">
            {{> molecules/blocks/promo-module }}
          </li>
        {{/content.editors_picks.items}}
      </ul>

    </div>

    <div class="entry-point-column">
      <span class="{{logo_class}} facet-header"></span>
      {{#content.entry_points}}
      <ul class="entry-points">
        {{#title}}
          <span class="entry-points-title">{{.}}</span>
        {{/title}}
        {{#items}}
          <li class="entry-point">
            <a class="entry-point-link" href="{{url}}">
              {{#image_url}}
                <img src="{{.}}" class="entry-point-image"/>
              {{/image_url}}
              {{#label}}
                <span class="entry-point-text" href="{{url}}">{{.}}</span>
              {{/label}}
            </a>
          </li>
        {{/items}}
      </ul>
      {{/content.entry_points}}

      {{#content}}
        {{>organisms/sections/social-share}}
      {{/content}}
    </div>

    <div class="sneak-peek-content">
      <h2 class="sneak-peek">Sneak Peek</h2>
      {{# content.sneak_peak }}
        <ol class="result-items display-grid cf">
          <li class="grid-sizer"></li>
          {{# items }}
            <li>
              {{> molecules/components/search/search-listitem }}
            </li>
          {{/ items }}
        </ol>
      {{/ content.sneak_peak }}
    </div>
  </div>
</section>


{{> organisms/sections/banner }}

{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
