{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}


<section class="site-hero channel-hero" {{#content.hero_config}} style="background-image: url('{{image_root}}{{hero_image}}');" {{/content.hero_config}}>

	<div class="hero-contents">

		<h1><span class="inabox">{{content.channel_info.name}}</span></h1>

		<div class="searchbar">
		{{> molecules/components/search/search-form }}
		</div>

	</div>
	
	{{#content.hero_config}} 
		{{>molecules/text/attribution}}
	{{/content.hero_config}}

</section>

{{#content.channel_info}} 	
<section class="channel-info section">
	<div class="lc">
		<div class="channel-description">
			<p>
			{{{description}}}
			</p>

			{{# content.channel_info.credits }}
			<div class="channel-credits">
				<h3 class="title">{{title}}</h3>
				<ul class="credit-list">
				{{#items}}
				<li><a href="{{url}}" class="external">{{text}}</a></li>
				{{/items}}
				</ul>
			</div>
			{{/ content.channel_info.credits }}

		</div>
		<div class="channel-stats">
			{{#stats}} 
			<ul>
				{{#items}}
				<li><a href="{{url}}"><span class="number">{{count}} </span>{{text}}</a></li>
				{{/items}}
			</ul>
			{{/stats}} 
		</div>

		<div class="channel-newstuff">
		{{#recent}}
			{{> molecules/navigation/linklist-with-title }}
		{{/recent}}
		</div>
	</div>
</section>
{{/content.channel_info}} 

{{#content.promoted_primary}}
<section class="suggested-list cf promo-list promo-list-text">
<ul>
	{{#items}}
	<li class="list-item">
		{{> molecules/blocks/promo-module-text }}
	</li>
	{{/items}}
</ul>
</section>
{{/content.promoted_primary}}

{{# content.promoted_secondary }}
<section class="exhibitions-list section promo-list">
<ul>
	{{#items}}
	<li class="list-item">
		{{> molecules/blocks/promo-module }}
	</li>
	{{/items}}
</ul>
</section>
{{/ content.promoted_secondary }}

{{# content.channel_info.credits2 }}
<div class="section channel-credits">
	<h3 class="title">{{title}}</h3>
	<ul class="credit-list">
	{{#items}}
	<li><a href="{{url}}" class="external">{{text}}</a></li>
	{{/items}}
	</ul>
</div>
{{/ content.channel_info.credits2 }}

{{> organisms/global/footer }}