{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

<section class="after-header-with-search">

  <div class="lc relative">
    {{#content}}
      <div class="summary-column">
        <div class="cf">
          {{#entity_title}}<h1 class="entity-title narrow">{{.}}</h1>{{/entity_title}}
          <div class="anagraphical narrow">
            {{#entity_anagraphical}}
              <div class="anagraphical-datum">
                {{#label}}
                  <h3>
                    {{.}}
                  </h3>
                {{/label}}
                {{#value}}
                  {{.}}
                {{/value}}
              </div>
            {{/entity_anagraphical}}
          </div>
          <div class="entity-main-thumb-titled">
            <img class="js-test-thumb js-hidden" src="{{#entity_thumbnail}}{{src}}{{/entity_thumbnail}}"/>
            {{#entity_thumbnail}}
              <div class="height-to-width entity-main-thumb" {{#src}}style="background-image:url('{{.}}')" data-src-full="{{full}}"{{/src}}></div>
            {{/entity_thumbnail}}
            {{#entity_external_link}}
              {{#href}}<a class="external js-hidden" href="{{.}}" target="_new">{{/href}}
                {{#text}}<span class="entity-external-link">{{.}}</span>{{/text}}
              {{#href}}</a>{{/href}}
            {{/entity_external_link}}
          </div>
        </div>
        <span class="header-bio js-hidden"><h3>{{entity_description_title}}</h3></span>
        {{#entity_description}}<p>{{.}}</p>{{/entity_description}}

        {{# social_share }}
          <div class="entity-social">
            <h4>{{{ i18n.global.actions.share }}}</h4>
            {{> molecules/controls/share-social }}
          </div>
        {{/ social_share }}

      </div>

      <div class="entity-main">

        <div class="anagraphical desktop">
          {{#entity_title}}<h1 class="entity-title">{{.}}</h1>{{/entity_title}}

          <div class="wrapper">
            <div class="anagraphical-data">
              {{#entity_anagraphical}}
                <div class="anagraphical-datum">
                  {{#label}}
                    <h3>
                      {{.}}
                    </h3>
                  {{/label}}
                  {{#value}}
                    <span class="datum-val{{#use_commas}} commas{{/use_commas}}">{{.}}</span>
                  {{/value}}
                </div>
              {{/entity_anagraphical}}
            </div>
          </div>
        </div>

        <div class="eu-accordion-tabs cf">
          {{#tab_items}}
            {{> organisms/components/eu-accordion-tabs-entity}}
          {{/tab_items}}
        </div>
      </div>
    {{/content}}

  </div>

</section>

<section class="lc">
  <div class="entity-related-outer js-hidden">
    <h2 class="section-header related-header">{{i18n.site.entities.labels.related}}</h2>

    {{#content.carousel}}
      <div class="cf lc entity-related-container mlt">
        <a id="scroll-trigger-carousel"
           class="scroll-trigger"
           data-enabled="true"
           data-fire-on-open="showCarousel"
           data-fire-on-open-params='{ "loadUrl": "{{more_items_load}}", "total_available": "{{more_items_total}}", "template": "entity", "perPage":5, "arrowClass": "linkblue", "minSpacingPx": 130}'
        ></a>

        <div class="entity-related js-carousel startup">
          <ul class="cf">
            {{#items}}
              <li class="js-carousel-item">
                <div class="mlt-img-div height-to-width" style="background-image: url({{img.src}})">
                  <div class="inner"><a class="link" href="{{url}}">&nbsp;</a></div>
                </div>
                {{#title}}
                  <span class="js-carousel-title">
                {{/title}}
                  {{#url}}<a href="{{.}}">{{/url}}
                    {{title}}
                  {{#url}}</a>{{/url}}
                {{#title}}
                  </span>
                {{/title}}
              </li>
            {{/items}}
          </ul>
        </div>

        <a class="scroll-trigger trigger-chain"
           data-enabled="true"
           data-disable-when-fired="showCarousel"
           data-fire-on-open-params='{ "trigger": "scroll-trigger-carousel"}'></a>
      </div>
    {{/content.carousel}}
  </div>
</section>

{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
