{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

{{#content}}
  <div role="main" class="page l-page">

    <section>
      <div class="object-nav cf">
        <div class="object-nav-lists">
          <ul class="breadcrumbs">
            <li><a href="{{navigation.home_url}}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>{{i18n.site.navigation.breadcrumb.return_home}}</a></li>
            <li><span class="lastitem"><strong>{{i18n.global.galleries}}</strong></span></li>
          </ul>
        </div>
      </div>
    </section>

    <section class="site-hero galleries" id="maincontent" style="background-image:url('{{content.hero.url}}');">
      <div class="hero-text">
        <h1>{{content.hero.title}}</h1>
        <br/>
        <h3>{{content.hero.subtitle}}</h3>
      </div>
    </section>

    <section class="lc">
      <div class="gallery-shares">
        {{#social}}
          <h4>{{social_title}}</h4>
          {{>molecules/controls/share-social}}
        {{/social}}
      </div>
    </section>

    <section class="lc">
      <div class="masonry-items gallery-foyer">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        {{#galleries}}
          <div class="masonry-item image-set {{#is_channel}} item-channel{{/is_channel}}{{#is_exhibition}} item-exhibition{{/is_exhibition}}{{#is_new}} item-new{{/is_new}}{{#is_partner}} item-partner{{/is_partner}}{{#is_featured_site}} item-featuredsite{{/is_featured_site}}">
            <div class="cf">
              {{#images}}
                <a class="img-link" href="{{link}}?imgIndex={{index}}">
                  <img src="{{url}}"/>
                </a>
              {{/images}}
            </div>
            <div class="image-set-info">
              <a class="image-set-title" href="{{link}}">{{title}}</a>
              <span class="image-set-data cf">
                {{count}} {{i18n.global.labels.images}}
                <span class="svg-icon-info gallery-clicktip">
                  {{>atoms/text/clicktip}}
                </span>
              </span>
            </div>
            <div class="category-flag">{{#is_collection}}Thematic collections{{/is_collection}}{{#is_exhibition}}Exhibition{{/is_exhibition}}{{#is_new}}What's New{{/is_new}}{{#is_partner}}Our Partners{{/is_partner}}{{#is_featured_site}}Featured Site{{/is_featured_site}}{{#is_app}}App{{/is_app}}{{#is_timeline}}Timeline{{/is_timeline}}{{#is_playlist}}Playlist{{/is_playlist}}{{#is_gallery}}Gallery{{/is_gallery}}{{#is_channel}}Channel{{/is_channel}}
            </div>
          </div>
        {{/galleries}}
      </div>
    </section>

  {{/content}}
</div>


{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
