{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}


<div role="main">

<section class="block-content-header section">
	<div class="lc">
		<h1 class="title">{{ settings.title }}</h1>
	</div>
</section>

<section class="static-content section">
<div class="lc">

	<div class="prose">
		<div class="cf">

              <form id="settings-form" action="{{settings.language.form.action}}" method="PUT">

                                  <input type="hidden" name="authenticity_token" value="{{settings.language.form.form_authenticity_token}}"/>

                  <div class="item-language">

                      <h1>{{ settings.language.title }}</h1>

                      <div class="field-container">
                          {{#settings.language.language_default}}
                          <label for="select">{{ title }}</label>
                          <select id="locale" name="locale" autocomplete="off">
                              <optgroup label="{{group_id}}">
                                {{#items}}
                                  <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}> {{ text }} </option>
                                {{/items}}
                              </optgroup>
                          </select>
                          {{/settings.language.language_default}}
                      </div>

                    <div class="dropdown-divider"></div>

                      <div class="check-language">

                          {{#settings.language.language_options}}
                              {{> molecules/controls/group-checkbox }}
                          {{/settings.language.language_options}}

                        <p>{{ settings.language.limit }}</p>

                        <input class="pushbutton" type="submit" value="{{i18n.site.settings.actions.clear-selection}}"/>


                      </div>

                      <div class="dropdown-divider"></div>

                      <div class="check-language">

                        <div class="field-container">

                          {{#settings.language.language_itempages}}

                          <label for="select">{{ title }}</label>

                          <div class="language_wrapper">
                            <label for="{{item_id}}">
                            <input id="{{item_id}}" name="{{item_id}}" type="checkbox" value="{{value}}" {{#is_checked}} checked {{/is_checked}} {{#is_disabled}} disabled {{/is_disabled}}> {{ label }}
                            </label>

                            <select id="select">
                                <optgroup label="{{group_id}}">
                                {{#items}}
                                    <option> {{ text }} </option>
                                {{/items}}
                                </optgroup>
                            </select>
                            {{/settings.language.language_itempages}}
                          </div>

                        </div>

                        <input type="submit" value="Save Settings"/>

                      </div>
                  </div>
               </form>
            </div>
	</div>

	<div class="sidebar settings-nav js-getstickywidth">
	{{#navigation.secondary}}
 		<div class="js-sticky">
		{{> molecules/navigation/nav-secondary }}
		</div>
	{{/navigation.secondary}}
	</div>

</div>
</section>

</div>
<!-- End Main -->

{{# version.is_alpha }}
{{> organisms/sections/phase-feedback }}
{{/ version.is_alpha }}


{{> organisms/global/footer }}

