{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

<div role="main" class="page l-page">

    <section class="language-selection">
        <div class="container">
            <div class="results-list cf">

                <div class="item-language">

                    <h1>{{ content.title }}</h1>

                    <div class="field-container">
                        {{#content.language_default}}
                        <label for="select">{{ title }}</label>
                        <select id="select">
                            <optgroup label="{{group_id}}">
                              {{#items}}
                                <option value="{{value}}"> {{ text }} </option>
                              {{/items}}
                            </optgroup>
                        </select>
                        {{/content.language_default}}
                    </div>

                  <div class="dropdown-divider"></div>

                    <div class="check-language">

                        {{#content.language_options}}
                            {{> molecules/controls/group-checkbox }}
                        {{/content.language_options}}

                      <p>{{ content.limit }}</p>

                      <input class="pushbutton" type="submit" value="Clear Selection"/>

                    </div>

                    <div class="dropdown-divider"></div>

                    <div class="check-language">

                      <div class="field-container">

                        {{#content.language_itempages}}

                        <label for="select">{{ title }}</label>

                        <div class="language_wrapper">
                          <label for="{{item_id}}">
                          <input id="{{item_id}}" name="{{item_id}}" type="checkbox" value="{{value}}" {{#is_checked}} checked {{/is_checked}} {{#is_disabled}} disabled {{/is_disabled}}> {{ label }}
                          </label>

                          <select id="select">
                              <optgroup label="{{group_id}}">
                              {{#items}}
                                  <option> {{ text }} </option>
                              {{/items}}
                              </optgroup>
                          </select>
                          {{/content.language_itempages}}
                        </div>

                      </div>

                      <input type="submit" value="Save Settings"/>

                    </div>
                </div>

            </div>

            <div class="refine">
                <h2>{{i18n.global.settings}}</h2>
                <div class="filter">
                  <a href="#languages-selection">{{i18n.global.facet.language}}</a>
                  <div class="refine-advanced">
                    <a href="#language-advanced">{{i18n.global.facet.more-refinements}}</a>
                      {{! @TODO add advanced search }}
                  </div>
                </div>
            </div>
        </div>
    </section>
</div>

{{# version.is_alpha }}
{{> organisms/sections/phase-feedback }}
{{/ version.is_alpha }}

{{> organisms/global/footer }}
