{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}


<section class="site-hero search-home-hero {{#content.hero_config}}{{brand_position}} brand-colour-site {{brand_opacity}}{{/content.hero_config}}" {{#content.hero_config}} style="background-image: url('{{image_root}}{{hero_image}}');" {{/content.hero_config}} >

	<div class="hero-contents">
		<div class="searchbar">
		{{> molecules/components/search/search-form }}
		</div>

		<div class="strapline">
			Europeana brings together {{content.total_items}} items collected from Europe's libraries, galleries and museums.
		</div>
	</div>
	
	{{#content.hero_config}} 
		{{>molecules/text/attribution}}
		{{>molecules/media/brand-svg-assets}}
	{{/content.hero_config}}

</section>

{{#content.important}}
<section class="promo-topcontent">
	<div class="lc">
		<h2><a href="{{url}}">{{text}}</a></h2>
	</div>
</section>
{{/content.important}}

<ul class="home-promo section promo-list">
{{#content.promoted}}
	<li class="list-item">
		{{> molecules/blocks/promo-module }}
	</li>
{{/content.promoted}}
</ul>

{{#content.news}}
<div class="section">
	<div class="lc">

	<h2 class="section-title">Europeana News</h2>

	<ul class="home-news cf">
		{{#items}}<li class="news-item">{{> molecules/blocks/inset-block}}</li>{{/items}}
	</ul>

	<a class="link-more" href="{{ blogurl }}">More from the Blog</a>

	</div>
</div>
{{/content.news}}

{{> organisms/global/footer }}