{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}


<section class="search-home-hero {{#content.hero_config}}{{brand_position}} brand-colour-site {{brand_opacity}}{{/content.hero_config}}" {{#content.hero_config}} style="background-image: url('{{image_root}}{{hero_image}}');" {{/content.hero_config}} >

	<div class="hero-contents">
		<div class="searchbar">
		{{> molecules/components/search/search-form }}
		</div>

		<div class="strapline">
			Europeana brings together {{content.total_items}} items collected from Europe's libraries, galleries and museums.
		</div>
	</div>
	
	{{#content.hero_config}} 
		{{>molecules/text/attribution}}
		{{>molecules/media/brand-svg-assets}}
	{{/content.hero_config}}

</section>

{{! <section class="promo-topcontent">
	<div class="lc">
		<h2><a href="">It’s your world, explore it! Europeana stories are now in Google’s Field Trip app</a></h2>
	</div>
</section> }}


<ul class="section promo-list">
{{#content.promoted}}
	<li class="list-item {{#is_channel}}item-channel {{/is_channel}}{{#is_exhibition}}item-exhibition {{/is_exhibition}}{{#is_new}}item-new {{/is_new}}{{#is_partner}}item-partner {{/is_partner}}" style="{{#bg_image}}background-image: url({{image_root}}{{bg_image}}); {{/bg_image}}">

		{{#is_channel}}
			<div class="category-flag">Channels</div>
		{{/is_channel}}
		{{#is_exhibition}}
			<div class="category-flag">Exhibition</div>
		{{/is_exhibition}}
		{{#is_new}}
			<div class="category-flag">What's New</div>
		{{/is_new}}
		{{#is_partner}}
			<div class="category-flag">Our Partners</div>
		{{/is_partner}}

		<a href="{{url}}">
			{{#comingsoon}}
			<div class="corner-ribbon alternate">Coming Soon</div>
			{{/comingsoon}}
			<div class="title">{{name}}</div>
		</a>
	</li>
{{/content.promoted}}
</ul>


<div class="section">
	<div class="lc">

	<h2 class="section-title">Europeana News</h2>

	<ul class="home-news cf">
		{{#listItems.three}}<li class="news-item">{{> molecules-inset-block}}</li>{{/listItems.three}}
	</ul>

	<a class="link-more" href="{{ blogurl }}">More from the Blog</a>

	</div>
</div>


{{> organisms/global/footer }}