{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

<div role="main" class="page l-page">

  <section class="search-object">
    <div class="object-nav cf">
      <div class="object-nav-lists">
        <ul class="breadcrumbs">
          <li><a href="{{navigation.home_url}}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>{{i18n.site.navigation.breadcrumb.return_home}}</a></li>
          {{#navigation.back_url}}<li><a href="{{.}}">{{i18n.site.navigation.breadcrumb.blogs_list_breadcrumb}}</a></li>{{/navigation.back_url}}
          <li><span class="lastitem"><strong>{{blog_title}}</strong></span></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="search-hero empty">
  </section>

  {{#content}}
    <section class="search-blogs" id="maincontent">
      <div class="container text-centre blog-post">

        {{#blog_image}}

          <div class="site-hero blog-hero">

            {{#label}}<div class="category-flag">{{.}}</div>{{/label}}

            <img src="{{src}}" alt="{{alt}}"/>

            <div class="introduction text-centre">

              {{#introduction}}<div class="text text-centre">{{.}}</div>{{/introduction}}

              <div class="text-split">
                {{#has_authors}}
                  <ul class="authors">
                    {{#authors}}
                      <li><a class="author svg-icon-external-white-after" href="{{url}}">{{name}}</a></li>
                    {{/authors}}
                  </ul>
                {{/has_authors}}
                {{#read_time}}
                  <span class="read-time">{{ . }} {{i18n.site.blogs.min-to-read}}</span>
                {{/read_time}}
              </div>

              <div class="text-lower-section">
                <div class="cell nowrap">
                  {{#date}}
                    <span class="svg-icon-calendar-white date-icon"></span>
                    <span class="date">{{.}}</span>
                  {{/date}}
                </div>
            
                {{#has_tags}}
                  <div class="cell">
                    <span class="svg-icon-bookmark-white tags-icon"></span>
                  </div>
                {{/has_tags}}

                <div class="cell tags">
                  {{#tags}}
                    <ul class="item-tags">
                      {{#items}}
                        <li><a href="{{url}}">{{text}}</a></li>
                      {{/items}}
                    </ul>
                  {{/tags}}
                </div>
              </div>
            </div>

          </div>

        {{/blog_image}}
        <div class="text-left">
          {{{body}}}
        </div>
      </div>
    </section>
  {{/content}}
</div>

{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
