{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

<div role="main" class="page l-page search-event-list">

  <section class="search-object">
    <div class="object-nav cf">
      <div class="object-nav-lists">
        <ul class="breadcrumbs">
          <li><a href="{{navigation.home_url}}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>{{i18n.site.navigation.breadcrumb.return_home}}</a></li>
          <li><span class="lastitem"><strong>{{i18n.site.navigation.breadcrumb.events_list_breadcrumb}}</strong></span></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="search-hero {{#hero}}{{#hero_image}} has-bgimage{{/hero_image}}{{/hero}}" {{#hero}} style="background-image: url('{{hero_image}}');" {{/hero}}>
    {{#input_search}}
      <div class="searchbar">
      {{> molecules/components/search/search-form }}
      </div>
    {{/input_search}}
  </section>

  <section id="maincontent">
    <div class="container">
      <div class="event-list">

        <div class="results-header-events">
          <div class="results-header">
            <div class="events-info">
              {{ i18n.site.events.list.count-and-terms-with-range }}
            </div>
            <div class="result-controls">
              {{#events_filter_options}}
                {{>molecules/forms/filterby}}
              {{/events_filter_options}}
            </div>
          </div>
        </div>
        {{#has_results}}
          <div class="cf"></div>
          <ol class="event-items">
            {{#event_items}}
              <li>
                {{> molecules/components/search/search-event-list-item}}
              </li>
            {{/event_items}}
          </ol>
        {{/has_results}}

        {{#has_results}}
          {{> molecules/navigation/pagination }}
        {{/has_results}}

      </div>
    </div>
  </section>
</div>

{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
