{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}


<section class="search-home-hero prototype-image">
	<div class="searchbar">
	{{> molecules/components/search/search-form }}
	</div>

	<div class="tagline">
		stuff about europeana
	</div>
</section>

<section class="channels-promo">
	<h2 class="section-title">Channels</h2>
	<ul class="channels">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</section>

<section class="exhibitions-promo">
	<h2 class="section-title">Exhibitions</h2>
	<ul class="channels">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</section>


{{> organisms/global/footer }}