{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}


<section class="search-home-hero prototype-image">
	<div class="hero-contents">
		<div class="searchbar">
		{{> molecules/components/search/search-form }}
		</div>

		<div class="strapline">
			Europeana brings together {{total_items}} items collected from Europe's libraries, galleries and museums. 
		</div>
	</div>
</section>


<ul class="section promo-list">
{{#channels_list}}
	<li class="list-item channel-item">
	<a href="{{url}}">
	{{#comingsoon}}<div class="corner-ribbon">Coming Soon</div>{{/comingsoon}}
		<div class="category-flag">Channels</div>
		<div class="title">{{name}}</div>
	</a>
	</li>
{{/channels_list}}
{{#exhibitions_list}}
	<li class="list-item exhibitions-item">
	<a href="{{url}}">
		<div class="category-flag">Exhibitions</div>
		<div class="title">{{name}}</div>
	</a>
	</li>
{{/exhibitions_list}}
</ul>


<div class="section">
	<div class="lc">

	<h2 class="section-title">Europeana News</h2>

	<ul class="home-news cf">
		{{#listItems.three}}<li class="news-item">{{> molecules-inset-block}}</li>{{/listItems.three}}
	</ul>

	<a class="link-more" href="{{ blogurl }}">More from the Blog</a>

	</div>
</div>


{{> organisms/global/footer }}