{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}


<div role="main">

<section class="block-content-header section">
	<div class="lc">
		<h1 class="title">{{ content.title }}</h1>
	</div>
</section>

<section class="static-content section">
<div class="lc">

	<div class="prose">
		{{{ content.text }}}
	</div>

	<div class="sidebar js-getstickywidth">
	{{#navigation.secondary}}
 		<div class="js-sticky">
		{{> molecules/navigation/nav-secondary }}
		</div>
	{{/navigation.secondary}}
	</div>

</div>
</section>

</div>
<!-- End Main -->

{{# version.is_alpha }}
{{> organisms/sections/phase-feedback }}
{{/ version.is_alpha }}


{{> organisms/global/footer }}

