{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}


<section class="search-home-hero prototype-image">
		<div class="searchbar">
		{{> molecules/components/search/search-form }}
		</div>
</section>

<section class="about-e">
	
</section>

<section class="channels-list">
	<ul class="channels">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</section>

<section class="exhibitions-list">
<div class="container">


</div>
</section>


{{> organisms/global/footer }}