{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

<div role="main">

<section class="static-header">
  <div class="lc">
    <h1 class="title">{{ content.title }}</h1>
    <p>{{ content.description }}</p>
  </div>
</section>

<section class="static-content section">
<div class="lc">

  {{#content.recent}}
    <div class="channel-newstuff">
      {{> molecules/navigation/linklist-table }}
    </div>
  {{/content.recent}}


  <div class="prose">
    {{{ content.text }}}
  </div>


</div>
</section>

</div>
{{# version.is_alpha }}
  {{> organisms/sections/phase-feedback }}
{{/ version.is_alpha }}
{{> organisms/global/footer }}

