{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

<div role="main" class="page l-page search-event-item">

  <section class="search-object">
    <div class="object-nav cf">
      <div class="object-nav-lists">
        <ul class="breadcrumbs">
          <li><a href="{{navigation.home_url}}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>{{i18n.site.navigation.breadcrumb.return_home}}</a></li>
          {{#navigation.back_url}}<li><a href="{{.}}">{{i18n.site.navigation.breadcrumb.events_list_breadcrumb}}</a></li>{{/navigation.back_url}}
          <li><span class="lastitem"><strong>{{event_title}}</strong></span></li>
        </ul>
      </div>
    </div>
  </section>

  {{#content}}
    <section class="search-hero map {{^event_image}}larger{{/event_image}}" {{#geolocation}}data-longitude="{{longitude}}" data-latitude="{{latitude}}"{{/geolocation}}> </section>

      {{^event_image}}
        <div class="map-mask">
          <div class="map-mask-side"></div>
          <div class="map-mask-center"></div>
          <div class="map-mask-side"></div>
        </div>
      {{/event_image}}

      <div class="container text-centre event-detail{{^event_image}} larger-map{{/event_image}}">

        <div class="site-hero event-hero">

          {{#label}}<div class="category-flag">{{.}}</div>{{/label}}

          {{#event_image}}
            <img src="{{src}}" alt="{{alt}}"/>
          {{/event_image}}
          {{^event_image}}
            <div class="no-image"></div>
          {{/event_image}}

          <div class="introduction text-centre">

            <div class="cf relative">
              {{#event_title}}<div class="title">{{.}}</div>{{/event_title}}

              {{#event_date}}
                <div class="event-date" data-date="{{.}}"></div>
              {{/event_date}}
            </div>

            <div class="text-split">
              {{#has_authors}}
                <span class="capitalised by">{{i18n.global.labels.by}}</span>
                <ul class="authors">
                  {{#authors}}
                    {{#url}}
                      <li><a class="author svg-icon-external-white-after" href="{{.}}">{{name}}</a></li>
                    {{/url}}
                    {{^url}}
                      <li><span class="author">{{name}}</span></li>
                    {{/url}}
                  {{/authors}}
                </ul>
              {{/has_authors}}
              {{#read_time}}
                <span class="read-time">{{ . }} {{i18n.site.blogs.min-to-read}}</span>
              {{/read_time}}
            </div>

            <div class="text-lower-section">
              <div class="cell">
                {{#date}}
                  <span class="svg-icon-calendar-white date-icon"></span>
                  <span class="date">{{.}}</span>
                {{/date}}
              </div>

              {{#tags}}
                {{#has_tags}}
                  <div class="cell hide-with-tags">
                    <span class="svg-icon-bookmark-white"></span>
                  </div>
                  <div class="cell">
                    <div class="event-tags">
                      <ul class="event-item-tags">
                        {{#items}}
                          {{#url}}<li><a href="{{.}}">{{text}}</a></li>{{/url}}
                          {{^url}}<li>{{text}}</li>{{/url}}
                        {{/items}}
                      </ul>
                    </div>
                  </div>
                {{/has_tags}}
              {{/tags}}
            </div>
          </div>
        </div>

        <div class="text-left event-body">
          {{#tags}}
            {{#has_tags}}
              <div class="event-item-tags-wide">
                <a class="expand-tags">
                  <span><span class="svg-icon-bookmark-eu-blue tags-icon"></span>
                    <span class="svg-icon-ellipsis-eu-blue ellipsis-icon"></span></span>
                </a>
                <ul class="event-item-tags comma-list js-hidden">
                  {{#items}}{{#url}}<li><a href="{{.}}">{{text}}</a></li>{{/url}}{{^url}}<li>{{text}}</li>{{/url}}{{/items}}
                </ul>
              </div>
            {{/has_tags}}
          {{/tags}}

          <p class="event-intro">
            {{{introduction}}}
          </p>

          {{{body}}}

          {{#location}}
            <div class="where-when">
              {{#institute_name}}
                {{#institute_url}}
                  <a class="svg-icon-external-eu-blue-after" href="{{.}}">{{institute_name}}</a>
                {{/institute_url}}
                {{^url}}
                  {{.}}
                {{/url}}
              {{/institute_name}}
              {{#address}}
                <span class="where-when-info">
                  <span class="where-when-icon svg-icon-location"> </span>
                  {{.}}
                </span>
              {{/address}}
              {{#time}}
                <span class="where-when-info">
                  <span class="where-when-icon svg-icon-clock"> </span>
                  {{.}}
                </span>
              {{/time}}
              {{#phone}}
                <span class="where-when-info">
                  <span class="where-when-icon svg-icon-phone-landline"> </span>
                  {{.}}
                </span>
              {{/phone}}
              {{#email}}
                <span class="where-when-info">
                  <span class="where-when-icon svg-icon-email"> </span>
                  {{.}}
                </span>
              {{/email}}
              {{#contact}}
                <span class="where-when-info">
                  <span class="where-when-icon svg-icon-user"> </span>
                  {{.}}
                </span>
              {{/contact}}
            </div>
          {{/location}}
        </div>
      </div>
      <div class="lc cf text-centre">
        <h4>{{i18n.global.actions.share}}</h4>
        {{#social}}
          {{>organisms/sections/social-share}}
        {{/social}}
      </div>
  {{/content}}
  <div class="is-hidden">
    {{> molecules/components/photoswipe/photoswipe }}
  </div>
</div>

{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
