{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}


<div role="main" class="search-object section">

    <div class="lc">
        <div class="object-nav">
            {{>molecules/navigation/next-previous}}
        </div>
    </div>

    {{#content}}
    <div class="object-wrapper lc">

    
    <div class="object-overview">
    {{#object}}

        {{#images}}
            {{#primary}}
            <div class="object-image is-smallimage cf">
                <img src="{{preview}}"/>
            </div>


            {{/primary}}


        
        {{/images}}

        <div class="object-info cf">
            {{# title }}
            <h2 class="object-title">{{title}}</h2>
            {{/ title }}

            {{# subtitle }}
            <div class="subtitle">{{subtitle}}</div>
            {{/ subtitle }}

            {{#creation_date}}
            <div class="date_created">
                {{creation_date}}
            </div>
            {{/creation_date}}

            {{# description}}
            <div class="object-description">
                {{description}}
            </div>
            {{/ description}}
        </div>

        {{! Creator info }}
        {{#creator}}
        <div class="object-creator cf">

            <h3 class="subsection-label">
                {{title}}
            </h3>
            
            <div class="subsection-content">
                
                <div class="creator-name">
                    {{name}}

                    {{#life}}
                    <span class="life-dates">
                        ({{from.short}} {{#to}} — {{short}} {{/to}}) 
                    </span>
                    {{/life}}
                </div>

                {{#biography}}
                <div class="biography">
                    {{biography.text}}
                </div>
                {{/biography}}
            </div>

        </div>
        {{/creator}}


		{{#meta_additional}}

        
            <div class="js-showhide-panel is-jshidden map-section">
			

			{{#geo.long_and_lat}}   {{! check both present }}
            <div class="map-section">
            
                <h3 class="subsection-label">
                    {{geo.labels.map}}
                </h3>
                <div class="object-info">
                    <div id="map">
                        <span id="map-place-name" class="js-hidden">{{geo.placeName}}</span>
                        <div><b>{{geo.labels.longitude}}</b> {{geo.longitude}}</div>
                        <div><b>{{geo.labels.latitude}}</b>  {{geo.latitude}}</div>
                    </div>
                </div>
            </div>
			{{/geo.long_and_lat}}

			</div>

            <a  class="js-showhide" 
                 href="#"
                 data-fire-on-open="showMap"
                 data-fire-on-open-params='{ 

				{{#geo.long_and_lat}}
                 "longitude":{{geo.longitude}}, "latitude": {{geo.latitude}}, "labels": { "n":"{{geo.labels.points.n}}", "s":"{{geo.labels.points.s}}", "e":"{{geo.labels.points.e}}", "w":"{{geo.labels.points.w}}" } 
				{{/geo.long_and_lat}}

                 }'

                 data-text-swap="{{labels.show_less_meta}}">{{labels.show_more_meta}}</a>
                 
		{{/meta_additional}}

    {{/object}}
    </div>
    {{! end of object info column }}


    <div class="object-actions">

        <div class="object-image-nav prototype-image">
        {{! @TODO Object image thumbnail navigation goes here }}
        </div>

        <input type="hidden" name="js_edm_is_shown_by" value="{{data.edm_is_shown_by}}"/>

        {{#object.download}}
        <div class="object-downloads">

           <a class="btn pill" href="{{primary.url}}">{{primary.text}}</a>

           {{#secondary}}
            <div class="secondary inline-list">

                <span class="label">Also available:</span>

                {{> molecules/navigation/linklist-simple }}

            </div>
            {{/secondary}}
        </div>
        {{/object.download}}


        {{# object.rights }}
        <div class="object-rights">
        {{license_human}}
        	<div class="object-license">{{> molecules/icons/licenses }}</div>
        </div>
        {{/ object.rights }}


        {{# object.origin }}
        <div class="object-origin">

        	<h4>Provided by:</h4>

            {{#logo}}
                <a href="{{url}}"><img class="logo-institution" src="{{image_root}}{{logo}}" alt="{{institution_name}} logo"></a>
            {{/logo}}

            <a class="original_context cap" href="{{url}}">
                {{institution_name}}
                <svg class="icon icon-linkout">
                    <use xlink:href="#icon-linkout"></use>
                </svg>
            </a>

            <span class="cap">{{institution_country}}</span>

        </div>
        {{/ object.origin }}
        

        {{# object.concepts }}
        <div class="object-concepts inline-list cap">

        	<h4 class="label">This is:</h4>

	        {{> molecules/navigation/linklist-simple }}

        </div>
        {{/ object.concepts }}


        {{# object.tags }}
        <div class="object-tags">
            <ul class="nav">
            {{#items}}
                    <li><a href="{{url}}" class="tag">{{text}}</a></li>
            {{/items}}
            </ul>
         </div>
        {{/ object.tags }}


        {{# object.colours }}
        <div class="object-colours">
            {{> molecules/controls/colour-search }}
        </div>
        {{/ object.colours }}


		{{# object.further_actions }}
		<div class="object-furtheractions">
			{{> molecules/controls/dropdown-menu }}
		</div>
		{{/ object.further_actions }}
        
    </div>
    </div>
    {{/content}}
</div>

{{! Related itens }}
{{#content.related}}
<section class="section">
<div class="object-related">

    <div class="subsection-label">
        {{title}}
    </div>

    <div class="subsection-content">
    <ul>
    {{#items}}
        <li class="mlt-item">
        {{> molecules/blocks/link-block-full}}
        </li>
    {{/items}}
    </ul>
    </div>
</div>
</section>
{{/content.related}}

{{> organisms/global/footer }}
