{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header}}

	<section class="nav">
		{{{prev_link}}}	
		{{{back_link}}}
		{{{next_link}}}
	</section>


	<div class="container">
		<div class="overview">

			<div class="section">
				<div class="meta-data">
					<img class="main" src="{{data.edm_preview}}"/>
				</div>
			</div>

			<div class="section">
				<div class="meta-data">
					<h2>{{data.title}}</h2>
		
					{{# data.title_extra }}
						{{.}}<br/>
					{{/ data.title_extra }}
					{{data.dc_terms_created}}
				</div>
			</div>

			<div class="section">
				<div class="meta-label">
					{{labels.description}}
				</div>
				<div class="meta-data">
					{{data.dc_description}}
				</div>
			</div>
		</div>

		<div class="actions">
	                <input type="hidden" name="edm_is_shown_by" value="{{data.edm_is_shown_by}}"/>

			<a class="download-img" href="{{links.download}}">{{labels.download}}</a> <br/>

			<span class="rights"><b>{{labels.rights}}</b> {{data.edm_rights}}</span>
			<br/>
			<br/>
			<a class="icon-social original_context" href="{{links.original_context}}">
				{{data.edm_provider}}
				<svg class="icon icon-linkout">
					<use xlink:href="#icon-linkout"></use>
				</svg>
			</a>
			<br/>
			<span class="country">{{data.edm_country}}</span>
			<br/>
			<br/>

			<ul>
				{{# data.concepts }}
					<li>{{.}}</li>
				{{/ data.concepts }}
			</ul>
			<br/>
			<br/>
			<a class="show-more-actions-js" href="">{{labels.show_more_meta}}</a>
		</div>

		<div class="section">
			<div class="meta-label">
				{{labels.agent}}
			</div>
			
			{{#data.agent_pref_label}}
			<div class="meta-data">
				{{data.agent_pref_label}}

				{{data.agent_begin}}

				{{data.agent_end}}
			</div>
			{{/data.agent_pref_label}}
			
		</div>
		<div class="section">
			<div class="meta-label">
				{{labels.mlt}}
			</div>
			<div class="meta-data">
				<div class="mlt-item"></div>
				<div class="mlt-item"></div>
				<div class="mlt-item"></div>
				<div class="mlt-item"></div>
			</div>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<section class="">
		<b>Agent:</b> {{data.agent_pref_label}} <br/>
		<b>DC Creator:</b> {{data.dc_creator}} <br/>
		<b>DC Description:</b> {{data.dc_description}} <br/>
		<b>DC Format:</b> {{data.dc_format}} <br/>
		<b>DC Identifier:</b> {{data.dc_identifier}} <br/>

		<b>DC Terms Created:</b> {{data.dc_terms_created}} <br/>
		<b>DC Terms Extent:</b> {{data.dc_terms_extent}} <br/>

		<b>DC Title:</b> {{data.dc_title}} <br/>
		<b>DC Type:</b> {{data.dc_type}} <br/>


		<b>EDM Country:</b> {{data.edm_country}} <br/>
		<b>EDM Dataset Name:</b> {{data.edm_dataset_name}} <br/>
		<b>EDM Is Shown At:</b> {{data.edm_is_shown_at}} <br/>
		<b>EDM Is Shown By:</b> {{data.edm_is_shown_by}} <br/>
		<b>EDM Language:</b> {{data.edm_language}} <br/>
		<b>EDM Provider:</b> {{data.edm_provider}} <br/>

		<b>Latitude:</b> {{data.latitude}} <br/>
		<b>Longitude:</b> {{data.longitude}} <br/>


		<b>Type:</b> {{data.type}} <br/>
		<b>Title:</b> {{data.title}} <br/>

		<b>Year:</b> {{data.year}} <br/>

	</section>
	<br/>
	<br/>
	<br/>
	<section class="">

		<h3>entire doc</h3>
		{{doc}}

	</section>

{{> organisms/global/footer }}

