{{> atoms/iconography/svgicons-search }}
{{> organisms/global/header_v2}}

<style>
  .breadcrumb.contributor,
  .breadcrumb.contributor-url,
  .breadcrumb.contribution,
  .breadcrumb.contribution-url,
  .breadcrumb.register,
  .breadcrumb.reset,
  .breadcrumb.sign-in,
  .breadcrumb.edit,
  .breadcrumb.new{
    text-trasnform: capitalize;
  }

  iframe.e7a1418{
    border:     0;
    margin-top: 1em;
  }
</style>

  <div role="main" class="page l-page">
    <section>
      <div class="object-nav cf">
        <div class="object-nav-lists">
          <ul class="breadcrumbs">
            <li><a href="{{navigation.home_url}}"><span class="svg-icon-home"></span>{{i18n.site.navigation.breadcrumb.return_home}}</a></li>
            <li><span><a href="{{portal_url}}">{{i18n.global.channel.first-world-war}}</a></span></li>

            <li class="js-hidden breadcrumb contributor"     ><span class="lastitem">{{i18n.site.navigation.breadcrumb.contributor}}</span></li>
            <li class="js-hidden breadcrumb contributor-url" ><span><a href="#">{{i18n.site.navigation.breadcrumb.contributor}}</a></span></li>
            <li class="js-hidden breadcrumb contribution"    ><span class="lastitem">{{i18n.site.navigation.breadcrumb.contribution}}</span></li>
            <li class="js-hidden breadcrumb contribution-url"><span><a href="#">{{i18n.site.navigation.breadcrumb.contribution}}</a></li>

            <li class="js-hidden breadcrumb register"        ><span class="lastitem"><strong>{{i18n.site.navigation.breadcrumb.register}}</strong></span></li>
            <li class="js-hidden breadcrumb reset"           ><span class="lastitem"><strong>{{i18n.site.navigation.breadcrumb.reset-password}}</strong></span></li>
            <li class="js-hidden breadcrumb sign-in"         ><span class="lastitem"><strong>{{i18n.site.navigation.breadcrumb.sign-in}}</strong></span></li>

            <li class="js-hidden breadcrumb edit"            ><span class="lastitem"><strong>{{i18n.global.actions.edit}}</strong></span></li>
            <li class="js-hidden breadcrumb new"             ><span class="lastitem"><strong>{{i18n.global.actions.new}}</strong></span></li>

          </ul>
        </div>
      </div>
    </section>
    <section id="maincontent">
      {{#content}}
        <iframe class="e7a1418" data-base-url="{{base_1418_url}}" src="about:blank" scrolling="no"></iframe>
      {{/content}}
    </section>
  </div>
{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
{{> atoms/meta/_foot}}
