{{> atoms/iconography/svgicons-search }}

{{> organisms/global/header_v2}}

<div role="main" class="page l-page">

  <section class="search-object">
    <div class="object-nav cf">
      <div class="object-nav-lists">
        <ul class="breadcrumbs">
          <li><a href="{{navigation.home_url}}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>{{i18n.site.navigation.breadcrumb.return_home}}</a></li>
          {{#navigation.back_url}}<li><a href="{{.}}">{{i18n.site.navigation.breadcrumb.blogs_list_breadcrumb}}</a></li>{{/navigation.back_url}}
          <li><span class="lastitem"><strong>{{blog_title}}</strong></span></li>
        </ul>
      </div>
    </div>
  </section>

  <section class="search-hero empty">
  </section>

  <section class="search-blogs" id="maincontent">
    <div class="container blog-post">
      {{{content}}}
    </div>
  </section>
</div>

{{> organisms/sections/banner }}
{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
