&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		&lt;div class=&quot;l-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				&lt;article class=&quot;article&quot;&gt;
					&lt;header class=&quot;article-header&quot;&gt;
						&lt;h1&gt;Top 10 Trails You Have To Hike Before You Die&lt;/h1&gt;
						{{&gt; molecules-byline-author-time }}
					&lt;/header&gt;
					&lt;p class=&quot;intro&quot;&gt;This is where a post about hiking trails would live. I'm not going to write an article about hiking trails. That would take a lot of time.&lt;/p&gt;

					&lt;p&gt;&lt;a href=&quot;#&quot;&gt;This is a link, possibly to an external resource.&lt;/a&gt; In a post about hiking trails, there would probably be talk about how to get to featured trails, what to pack, where to camp, and so on and so forth. I don't have any expertise in this subject matter so I'm not going to attempt to write about it.&lt;/p&gt;

					{{&gt; atoms-landscape-16x9 }} 

					&lt;p&gt;If I were to write about it, I'd probably do some research on the topic first. But even then, I probably Sed a orci turpis. Aliquam aliquet placerat dui, consectetur tincidunt leo tristique et. Vivamus enim nisi, blandit a venenatis quis, convallis et arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero sapien, placerat in sodales eu, tempor quis dui. Vivamus egestas faucibus pulvinar. Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui.
					&lt;/p&gt;

					&lt;blockquote&gt;
						This trail is amazing. I've never seen anything like it.
					&lt;/blockquote&gt;

					&lt;p&gt;Cras at fringilla ipsum. Donec nec libero eget est blandit dignissim a eu ante. Morbi augue nulla, luctus eu sagittis vel, malesuada ut felis. Aliquam erat volutpat. Morbi malesuada augue ac massa hendrerit fermentum. Integer scelerisque lacus a dolor convallis lobortis. Curabitur mollis ante in massa ultricies dignissim.
					&lt;/p&gt;

					{{&gt; atoms-unordered }} 

					{{&gt; atoms-ordered }}

					&lt;p&gt;Donec posuere fringilla nunc, vitae venenatis diam scelerisque vel. Nullam vitae mauris magna. Mauris et diam quis justo volutpat tincidunt congue nec magna. Curabitur vitae orci elit. Ut mollis massa id magna vestibulum consequat. Proin rutrum lectus justo, sit amet tincidunt est. Vivamus vitae lacinia risus.
					&lt;/p&gt;

					{{&gt; molecules-pullquote }}

					&lt;p&gt;Donec venenatis imperdiet tortor, vitae blandit odio interdum ut. Integer orci metus, lobortis id lacinia eget, rutrum vitae justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In pretium fermentum justo nec pharetra. Maecenas eget dapibus justo. Ut quis est risus. Nullam et eros at odio commodo venenatis quis et augue. Sed sed augue at tortor porttitor hendrerit nec ut nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin sollicitudin enim consectetur mi commodo quis cursus ante pretium. Nunc gravida cursus nisi in gravida. Suspendisse eget tortor sed urna consequat tincidunt. Etiam eget convallis lectus. Suspendisse cursus rutrum massa ac faucibus.
					&lt;/p&gt;
					&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?&lt;/p&gt;
				&lt;/article&gt;&lt;!--end .article--&gt;
				{{&gt; molecules-social-share }}
				{{&gt; organisms-comment-thread }}
			&lt;/div&gt;&lt;!--end l-main--&gt;

			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; organisms-related-posts }}
				{{&gt; organisms-recent-tweets }}
			&lt;/div&gt;&lt;!--end l-sidebar--&gt;
		&lt;/div&gt;&lt;!--end l-two-col--&gt;	
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;