$gridlayout-card-shadow: rgba(0, 0, 0, 0.25);

$spacing-base: 1rem;
$spacing-half: $spacing-base * 0.5;
$spacing-1-75x: $spacing-base * 1.75;
$spacing-2x: $spacing-base * 2;
$spacing-4x: $spacing-base * 4;

$grid-max-width: 87.50rem;

$card-gray: #f9f7f7;
$card-min-width: 18.875rem;
