.hound.yml
.travis.yml
.gitignore
.dockerignore
.git

.DS_Store
*-ck.js
*.komodoproject
*.project
*.sass-cache/
*.sublime-project
*.sublime-workspace
.idea/
*.codekit

/extras/
/public
/reports
/node_modules

/source/css
/source/js/dist/README.md
/source/js/dist/bower.json
/source/js/js-mustache/
/source/images/sample
/source/js/unit-tests
