config
.DS_Store
public
source/css
node_modules
*-ck.js
*.komodoproject
*.project
*.sass-cache/
*.sublime-project
*.sublime-workspace
.idea/
*.codekit

# Ignore bower files
source/js/dist/README.md
source/js/dist/bower.json