config
public
source/css
.DS_Store
*-ck.js
*.komodoproject
*.project
*.sass-cache/
*.sublime-project
*.sublime-workspace

*.codekit

# Ignore bower files
source/js/dist/README.md
source/js/dist/bower.json