/*------------------------------------*\
    $FORMS
\*------------------------------------*/

form > div {
	margin-bottom: $space;
}

form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
	padding-bottom: $space-quarter;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

input, textarea {
	width: 100%;
	border: 1px solid $gray-light;
	padding: $pad-half 0.65rem;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-transition: 0.3s linear border;
	-moz-transition: 0.3s linear border;
	-ms-transition: 0.3s linear border;
	-o-transition: 0.3s linear border;
	transition: 0.3s linear border;

	&:focus{
		outline: 0;
		outline: thin dotted \9; /* IE6-9 */
		border-color: $textcolour_link;
	}
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted $gray-med;
    outline: 1px auto $textcolour_link;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	padding: $pad-half;
	background: $gray-med;
	border: 1px solid $gray-dark;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	
	fieldset, .inline-container {
		position: relative;
	}
	
	input[type=submit], button, .btn {
		//font-size: $font-size-slightly-smaller;
		font-weight: bold;

		color: $white;
		background: $accent;
		height: 100%;
		padding: 0 1.3rem;
		position: absolute;
		border: none;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;

		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;

		&:hover, &:focus {
			background: $gray-dark;
		}
	}
}

.inline-search-results-form {
	width: 100%;
	@media all and (min-width: $bp-med) {
		width: 82%;

	} 
	
	fieldset, .inline-container {
		position: relative;
	}
	
	input[type=submit], button {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;
	}
}

/* Validation */
.is-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}




/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
.search-field {
	padding-right: 3em;
}

