/*------------------------------------*\
    $GLOBAL CLASSES
\*------------------------------------*/

/* Clearfix */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.cf {
    @extend %clearfix;
}

/* Completely remove from the flow and screen readers.
   Hide for js detected browsers
*/
.is-hidden, .js .is-jshidden {
    display: none !important;
    visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

// Image replacement
.ir{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


/* Floats */
.right {
	float: right;
	padding: 0 0 $pad $pad;
}

.right-search {
	float: right;
	padding: 0 0 $pad 0;
}

.left {
	float: left;
	padding: 0 $pad $pad 0;
}

.centre{
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate (-50%, -50%);
}

/* Text-Align */
.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

/* Display Classes */
.hide-small {
    @media all and (max-width: $bp-med) {
        display: none;
    }
}

.hide-med {
    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
        display: none;
    }
}

.hide-large {
    @media all and (min-width: $bp-large) {
        display: none;
    }
}

//
.is-valid {
	color: $valid;
}

.is-error {
	color: $error;
}

// .is-info {
// }