/* Links */ 
a {
	color: $textcolour_link;
	text-decoration: none;
	outline: 0;

	&:hover{
		color: darken($textcolour_link, 15%);
	}
}

a[href*="//"]:not([href*="pro.europeana.com"]):after{
	content: '';
	background: center right no-repeat;
    @include svg-bg-with-fallback("icons/link_external");
    background-size: contain;
    padding-right: 1.4em;
}