
body {

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	
	word-wrap: break-word;

	background: $page_bg;
	font: 16px/1.4 $font-primary; //18px default font
	-webkit-text-size-adjust: 100%;
	color: $textcolour_body;
}

.site_wrapper{
	border-top: 6px solid $accent;
}

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/* Layout Container */
.lc {
	width: 96%;
	max-width: $max-width;	
	margin: 0 auto;
}


/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	//padding: $pad-half $pad-half $pad-double;
	//overflow: hidden;
	@extend .cf;
}


// Generic Columns - Sidebars
.sidebar{
	@extend %grid__item;
	@extend %one-quarter;
	@extend %palm--one-whole;
}

.main-content{
	@extend %grid__item;
	@extend %three-quarters;
	@extend %palm--one-whole;
}