/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img, video, object {
	max-width: 100%;
	height: auto;
}

iframe {
	margin-bottom: $space;
	width: 100%;
}

figure {
	margin-bottom: $space;
	img {
		margin-bottom: $space-quarter;
	}
}
figcaption {
	font-style: italic;
}

.circular{
	border-radius: 999px;
}