/*------------------------------------*\
    $Table
\*------------------------------------*/

$tborder-color: $gray-lighter;
$thead-color: $offwhite;

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $tborder-color;
    width: 100%;
    empty-cells: show;
    margin-bottom: $space;
    color: $textcolour_body;
}

td,
th {
    border-left: 1px solid $tborder-color;
    /*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    vertical-align: top;
    overflow: visible;
    /*to make ths where the title is really long work*/
    padding: 0.5em;
    /* cell padding */
}

td:first-child,
th:first-child {
    border-left-width: 0;
}

thead {
    background: $thead-color;
    color: $textcolour_head;
    text-align: left;
    vertical-align: bottom;
}

td {
    background-color: transparent;
}

/* nth-child selector for modern browsers */
.table-striped tr:nth-child(2n-1) td {
    background-color: lighten($text_secondary, 15%);
}

/* BORDERED TABLES */
.table-bordered td {
    border-bottom: 1px solid $tborder-color;
}

.table-bordered tbody > tr:last-child td,
.table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */

.table-horizontal td,
.table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid $tborder-color;
}

.table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

.table-code td{
    font-family: $font-code;
}

%table-responsive{

    display: block;
    position: relative;
    width: 100%;
    empty-cells: show;

    thead {
        display: block;
        float: left;
    }

    tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }

    th {
        display: block;
        text-align: right;

        border-bottom: 0;
        border-left: 0;
    }

    td {
        display: block;
        min-height: 1.25em;
        text-align: left;

        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    thead tr {
        display: block;
    }
    tbody tr {
        display: inline-block;
        vertical-align: top;
        border-left: 1px solid $tborder-color;
    }
}

.table-scroll{
     @extend %table-responsive;
}

.table-responsive{
    @media only screen and (max-width: $bp-large) {

        display: block;
        position: relative;
        width: 100%;
        empty-cells: show;

        thead {
            display: block;
            float: left;
        }

        tbody {
            display: block;
            width: auto;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;
        }

        th {
            display: block;
            text-align: right;

            border-bottom: 0;
            border-left: 0;
        }

        td {
            display: block;
            min-height: 1.25em;
            text-align: left;

            border-left: 0;
            border-right: 0;
            border-bottom: 0;
        }

        thead tr {
            display: block;
        }
        tbody tr {
            display: inline-block;
            vertical-align: top;
            border-left: 1px solid $tborder-color;
        }
    }
}

/* RESPONSIVE BREAKABLE TABLES */


.table-responsive-break {

    thead {
      // Accessibly hide <thead> on narrow viewports
      position: absolute;
      clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;

      @media (min-width: $bp-small-3) {
        // Unhide <thead> on wide viewports
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
      }

      th {
        background-color: $thead-color;
        font-weight: bold;
        text-align: center;

        &:first-of-type {
          text-align: left;
        }
      }
    }

    // Set these items to display: block for narrow viewports
    tbody,
    tr,
    th,
    td {
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }

    tr {
      @media (min-width: $bp-small-3) {
        // Undo display: block
        display: table-row;
      }
    }

    th,
    td {
      padding: $pad-half;
      vertical-align: middle;

      @media (min-width: $bp-small-3) {
        padding: .75em $pad-half;
      }

      @media (min-width: $bp-small-3) {
        // Undo display: block
        display: table-cell;
        padding: $pad-half;
      }

      @media (min-width: $bp-small-3) {
        padding: .75em $pad-half;
      }

      @media (min-width: $bp-small-3) {
        padding: .75em;
      }
    }

    tbody {
      display: block;

      @media (min-width: $bp-small-3) {
        display: table-row-group;
      }

      tr {
        margin-bottom: $pad;

        @media (min-width: $bp-small-3) {
          // Undo display: block
          display: table-row;
          border-width: 1px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &:nth-of-type(even) {
          @media (min-width: $bp-small-3) {
            background-color: $thead-color;
          }
        }
      }

      th[scope="row"] {
        background-color: $thead-color;

        @media (min-width: $bp-small-3) {
          background-color: transparent;
          text-align: left;
        }
      }

      td {
        text-align: right;

        @media (min-width: $bp-small-3) {
          text-align: center;
        }
      }

      td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: $font-size-slightly-smaller;
        color: $gray-light;

        @media (min-width: $bp-small-3) {
          font-size: $font-size-slightly-smaller;
        }

        @media (min-width: $bp-small-3) {
          // Don’t show data-title labels
          content: none;
        }
      }
    }
}
