// Text-Related Elements
p {
  margin-bottom: $space;
  &:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  border-left: 1px solid $textcolour_heavy;
  color: $textcolour_heavy;
  font-style: italic;
  margin-bottom: $space;
  padding-left: $pad;
}

.drop-cap::first-letter {
  background: transparent;
  color: inherit;
  float: left;
  font-family: inherit;
  font-size: 4em;
  line-height: 1;
  margin: auto .25em auto auto;
  padding: inherit;
  text-indent: 0;
}

p + .drop-cap {
  margin-top: 0;
  text-indent: 0;
}

hr{
  background: $gray-light;
  border: 0;
  height: 2px;
  margin: $space-double 0;
}

abbr{
  border-bottom: 1px dotted $textcolour_heavy;
  cursor: help;
}

small{
  font-size: $font-size-sm;
}

.prose{
  color: $textcolour_body;

  section,
  .section{
    margin-bottom: 3.2em;
    padding: 0 $pad;
  }

  a:not(.btn) {
    color: $textcolour_link;

    &:hover,
    &:focus{
      border-bottom: 1px dotted $textcolour_link;
    }
  }

  h1,
  h2{
    line-height: 1.2;
  }
  h3,
  h4,
  h5{
    line-height: 1.6;
  }

  // Anchor with fixed header
  a[name]::before {
    $offset: $globalnavheight + $space;
    content: '';
    display: block;
    height: $offset;
    margin: -$offset 0 0;
  }

  li{
    margin-bottom: $space-half;
  }

  ul{
    list-style: disc;
    margin: 0 0 $space $space;
  }

  ol{
    list-style: decimal;
    margin: 0 0 $space $space;
  }

  ul ul,
  ul ul>li,
  ol ol,
  ol ol>li{
    margin-bottom: 0;
  }

  p + ul,
  p + ol{
    margin-top: -$space-half;
  }

  ul ul>li {
    list-style: circle;
  }

  ol ol>li {
    list-style: lower-latin;
  }

  img{
    margin-bottom: $space;
  }

  // External link list
  .ext-link-list {
    list-style: none;
    margin-left: 0;
  }


  // Categorization
  .categories-list{
    list-style: none;
    margin-left: 0;
  }
}

.title-category{
  font-size: $font-size-slightly-smaller;
  font-weight: bold;
  text-transform: uppercase;
}

.upper {
  text-transform: uppercase;
}

.cap,
.caps {
  text-transform: capitalize;
}

// Real small caps.
.small-caps {
  -moz-font-feature-settings: 'smcp=1, kern=1';
  -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
  -o-font-feature-settings: 'smcp' 1, 'kern' 1;
  -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem;
}

// Consistent height numbers with OpenType.
.lining-numerals {
  -moz-font-feature-settings: 'lnum=1, kern=1';
  -ms-font-feature-settings: 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'lnum' 1, 'kern' 1;
  -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
  font-feature-settings: 'lnum' 1, 'kern' 1;
}

// Ascending and descending numbers with OpenType.
.oldstyle-numerals {
  -moz-font-feature-settings: 'onum=1, kern=1';
  -ms-font-feature-settings: 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'onum' 1, 'kern' 1;
  -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
  font-feature-settings: 'onum' 1, 'kern' 1;
}

.inabox{
  background-color: $black;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: $offwhite;
  display: inline;
  padding: 0.2em 0.5em;
}
