<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #212121;"></span>
		<span class="sg-label">#212121</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #727272;"></span>
		<span class="sg-label">#727272</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #B13030;"></span>
		<span class="sg-label">#B13030</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D2D2D2;"></span>
		<span class="sg-label">#D2D2D2</span>
	</li>
</ul>

<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #1A8AC7;"></span>
		<span class="sg-label">$blue: #1A8AC7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D8D0C0;"></span>
		<span class="sg-label">$beige: #D8D0C0;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #76C999;"></span>
		<span class="sg-label">$green: #76C999;</span>
	</li>
</ul>