
<h2 class="sg-head">Body font:</h2>
<p>"DejaRip", HelveticaNeue", "Helvetica", "Arial", sans-serif;</p>
<p><em>"DejaRip", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</em></p>
<p><strong>"DejaRip", "HelveticaNeue", "Helvetica", "Arial", sans-serif;</strong></p>

<h2 class="sg-head">Titling font:</h2>
<p class="font-secondary">FF More, Georgia, Times, "Times New Roman", serif;</p>
<p class="font-secondary"><em>FF More, Georgia, Times, "Times New Roman", serif;</em></p>
<p class="font-secondary"><strong>FF More, Georgia, Times, "Times New Roman", serif;</strong></p>