
<h2 class="sg-pattern-head">Body font:</h2>

<p>"Proxima Nova", "Arial", sans-serif;</p>
<p><em>"Proxima Nova", "Arial", sans-serif;</em></p>
<p><strong>"Proxima Nova", "Arial", sans-serif;</strong></p>

<h2 class="sg-pattern-head">Secondary/Titling font:</h2>

<p class="font-secondary">FF More, Georgia, serif;</p>
<p class="font-secondary"><em>FF More, Georgia, serif;</em></p>
<p class="font-secondary"><strong>FF More, Georgia, serif;</strong></p>