<fieldset class="filter">
	<legend>{{ title }}</legend>
	<ul>
		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here
		</label>
		</li>

		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here
		</label>
		</li>

		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here
		</label>
		</li>

		<li>
		<label class="filter-label">
			<input type="checkbox" name="groupname" id="">Label here
		</label>
		</li>
	</ul>
</fieldset>