<fieldset class="filter filter-date">
	<legend>{{ title }}</legend>
	<ul>
		<li><input type="checkbox" name="groupname" id="">Label here</li>
		<li><input type="checkbox" name="groupname" id="">Label here</li>
		<li><input type="checkbox" name="groupname" id="">Label here</li>
		<li><input type="checkbox" name="groupname" id="">Label here</li>
	</ul>
</fieldset>