<fieldset class="filter filter-license">
	<legend class="filter-name">{{ title }}</legend>

	<ul class="filter-list">
		<li><input type="checkbox" name="groupname" id="">Label here</li>
		<li><input type="checkbox" name="groupname" id="">Label here</li>
		<li><input type="checkbox" name="groupname" id="">Label here</li>
		<li><input type="checkbox" name="groupname" id="">Label here</li>
	</ul>
</fieldset>