{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}

<main role="main" class="l-page">
<div class="lc">
  <div class="l-content">
    <br>
    <br>
    <br>
    <span class="him-add him-btn-square him-blue">Add</span>
    <span class="him-add him-btn-square him-green">Add</span>
    <span class="him-add him-btn-square him-orange">Add</span>
    <span class="him-add pill him-blue">Add</span>
    <span class="him-add pill him-green">Add</span>
    <span class="him-add pill him-orange">Add</span>
    <input type="submit" value="add" class="him-add"/>
    <input type="submit" value="add" class="him-add"/>
    <input type="submit" value="add" class="him-add"/>
    <br>
    <br>
    <br>
    <span class="him-cancel him-btn-square him-blue">Cancel</span>
    <span class="him-cancel him-btn-square him-green">Cancel</span>
    <span class="him-cancel him-btn-square him-orange">Cancel</span>
    <span class="him-cancel pill him-blue">Cancel</span>
    <span class="him-cancel pill him-green">Cancel</span>
    <span class="him-cancel pill him-orange">Cancel</span>
    <input type="submit" value="cancel" class="him-cancel"/>
    <input type="submit" value="cancel" class="him-cancel"/>
    <input type="submit" value="cancel" class="him-cancel"/>
    <br>
    <br>
    <br>
    <span class="him-checkout him-btn-square him-blue">Checkout</span>
    <span class="him-checkout him-btn-square him-green">Checkout</span>
    <span class="him-checkout him-btn-square him-orange">Checkout</span>
    <span class="him-checkout pill him-blue">Checkout</span>
    <span class="him-checkout pill him-green">Checkout</span>
    <span class="him-checkout pill him-orange">Checkout</span>
    <input type="submit" value="checkout" class="him-checkout"/>
    <input type="submit" value="checkout" class="him-checkout"/>
    <input type="submit" value="checkout" class="him-checkout"/>
    <br>
    <br>
    <br>
    <span class="him-complete him-btn-square him-blue">Complete</span>
    <span class="him-complete him-btn-square him-green">Complete</span>
    <span class="him-complete him-btn-square him-orange">Complete</span>
    <span class="him-complete pill him-blue">Complete</span>
    <span class="him-complete pill him-green">Complete</span>
    <span class="him-complete pill him-orange">Complete</span>
    <input type="submit" value="complete" class="him-complete"/>
    <input type="submit" value="complete" class="him-complete"/>
    <input type="submit" value="complete" class="him-complete"/>
    <br>
    <br>
    <br>
    <span class="him-confirm him-btn-square him-blue">Confirm</span>
    <span class="him-confirm him-btn-square him-green">Confirm</span>
    <span class="him-confirm him-btn-square him-orange">Confirm</span>
    <span class="him-confirm pill him-blue">Confirm</span>
    <span class="him-confirm pill him-green">Confirm</span>
    <span class="him-confirm pill him-orange">Confirm</span>
    <input type="submit" value="confirm" class="him-confirm"/>
    <input type="submit" value="confirm" class="him-confirm"/>
    <input type="submit" value="confirm" class="him-confirm"/>
    <br>
    <br>
    <br>
    <span class="him-edit him-btn-square him-blue">Edit</span>
    <span class="him-edit him-btn-square him-green">Edit</span>
    <span class="him-edit him-btn-square him-orange">Edit</span>
    <span class="him-edit pill him-blue">Edit</span>
    <span class="him-edit pill him-green">Edit</span>
    <span class="him-edit pill him-orange">Edit</span>
    <input type="submit" value="edit" class="him-edit"/>
    <input type="submit" value="edit" class="him-edit"/>
    <input type="submit" value="edit" class="him-edit"/>
    <br>
    <br>
    <br>
    <span class="him-proceed him-btn-square him-blue">Proceed</span>
    <span class="him-proceed him-btn-square him-green">Proceed</span>
    <span class="him-proceed him-btn-square him-orange">Proceed</span>
    <span class="him-proceed pill him-blue">Proceed</span>
    <span class="him-proceed pill him-green">Proceed</span>
    <span class="him-proceed pill him-orange">Proceed</span>
    <input type="submit" value="proceed" class="him-proceed"/>
    <input type="submit" value="proceed" class="him-proceed"/>
    <input type="submit" value="proceed" class="him-proceed"/>
    <br>
    <br>
    <br>
    <span class="him-preview him-btn-square him-blue">Preview</span>
    <span class="him-preview him-btn-square him-green">Preview</span>
    <span class="him-preview him-btn-square him-orange">Preview</span>
    <span class="him-preview pill him-blue">Preview</span>
    <span class="him-preview pill him-green">Preview</span>
    <span class="him-preview pill him-orange">Preview</span>
    <input type="submit" value="preview" class="him-preview"/>
    <input type="submit" value="preview" class="him-preview"/>
    <input type="submit" value="preview" class="him-preview"/>
    <br>
    <br>
    <br>
    <span class="him-remove him-btn-square him-blue">Remove</span>
    <span class="him-remove him-btn-square him-green">Remove</span>
    <span class="him-remove him-btn-square him-orange">Remove</span>
    <span class="him-remove pill him-blue">Remove</span>
    <span class="him-remove pill him-green">Remove</span>
    <span class="him-remove pill him-orange">Remove</span>
    <input type="submit" value="remove" class="him-remove"/>
    <input type="submit" value="remove" class="him-remove"/>
    <input type="submit" value="remove" class="him-remove"/>
    <br>
    <br>
    <br>
    <span class="him-submit him-btn-square him-blue">Submit</span>
    <span class="him-submit him-btn-square him-green">Submit</span>
    <span class="him-submit him-btn-square him-orange">Submit</span>
    <span class="him-submit pill him-blue">Submit</span>
    <span class="him-submit pill him-green">Submit</span>
    <span class="him-submit pill him-orange">Submit</span>
    <input type="submit" value="submit" class="him-submit"/>
    <input type="submit" value="submit" class="him-submit"/>
    <input type="submit" value="submit" class="him-submit"/>
    <br>
    <br>
    <br>
    <span class="him-view him-btn-square him-blue">View</span>
    <span class="him-view him-btn-square him-green">View</span>
    <span class="him-view him-btn-square him-orange">View</span>
    <span class="him-view pill him-blue">Preview</span>
    <span class="him-view pill him-green">Preview</span>
    <span class="him-view pill him-orange">Preview</span>
    <input type="submit" value="view" class="him-view"/>
    <input type="submit" value="view" class="him-view"/>
    <input type="submit" value="view" class="him-view"/>
  </div>
</div>
</main>

{{> organisms/global/footer_subsite }}

