{{> atoms/iconography/svgicons-search }}
{{> atoms/iconography/svgicons-user }}

{{> organisms/global/header_v2}}

<main role="main" class="l-page">
<div class="lc">
  <div class="l-content">
    <br>
    <br>
    <span class="him-add him-btn-square him-blue">Add</span>
    <span class="him-add him-btn-square him-green">Add</span>
    <span class="him-add him-btn-square him-orange">Add</span>
    <span class="him-add him-btn-square him-red">Add</span>
    <span class="him-add him-btn-square him-grey">Add</span>
    <span class="him-add him-btn-square him-black">Add</span>
    <span class="him-add pill him-blue">Add</span>
    <span class="him-add pill him-green">Add</span>
    <span class="him-add pill him-orange">Add</span>
    <span class="him-add pill him-red">Add</span>
    <span class="him-add pill him-grey">Add</span>
    <span class="him-add pill him-black">Add</span>
    <input type="submit" value="add" class="him-add him-blue"/>
    <input type="submit" value="add" class="him-add him-green"/>
    <input type="submit" value="add" class="him-add him-orange"/>
    <input type="submit" value="add" class="him-add him-grey"/>
    <input type="submit" value="add" class="him-add him-red"/>
    <input type="submit" value="add" class="him-add him-black"/>
    <br>
    <br>
    <br>
    <span class="him-cancel him-btn-square him-blue">Cancel</span>
    <span class="him-cancel him-btn-square him-green">Cancel</span>
    <span class="him-cancel him-btn-square him-orange">Cancel</span>
    <span class="him-cancel him-btn-square him-grey">Cancel</span>
    <span class="him-cancel him-btn-square him-red">Cancel</span>
    <span class="him-cancel him-btn-square him-black">Cancel</span>
    <span class="him-cancel pill him-blue">Cancel</span>
    <span class="him-cancel pill him-green">Cancel</span>
    <span class="him-cancel pill him-orange">Cancel</span>
    <span class="him-cancel pill him-grey">Cancel</span>
    <span class="him-cancel pill him-red">Cancel</span>
    <span class="him-cancel pill him-black">Cancel</span>
    <input type="submit" value="cancel" class="him-cancel him-blue"/>
    <input type="submit" value="cancel" class="him-cancel him-green"/>
    <input type="submit" value="cancel" class="him-cancel him-orange"/>
    <input type="submit" value="cancel" class="him-cancel him-grey"/>
    <input type="submit" value="cancel" class="him-cancel him-red"/>
    <input type="submit" value="cancel" class="him-cancel him-black"/>
    <br>
    <br>
    <br>
    <span class="him-checkout him-btn-square him-blue">Checkout</span>
    <span class="him-checkout him-btn-square him-green">Checkout</span>
    <span class="him-checkout him-btn-square him-orange">Checkout</span>
    <span class="him-checkout him-btn-square him-grey">Checkout</span>
    <span class="him-checkout him-btn-square him-red">Checkout</span>
    <span class="him-checkout him-btn-square him-black">Checkout</span>
    <span class="him-checkout pill him-blue">Checkout</span>
    <span class="him-checkout pill him-green">Checkout</span>
    <span class="him-checkout pill him-orange">Checkout</span>
    <span class="him-checkout pill him-grey">Checkout</span>
    <span class="him-checkout pill him-red">Checkout</span>
    <span class="him-checkout pill him-black">Checkout</span>
    <input type="submit" value="checkout" class="him-checkout him-blue"/>
    <input type="submit" value="checkout" class="him-checkout him-green"/>
    <input type="submit" value="checkout" class="him-checkout him-orange"/>
    <input type="submit" value="checkout" class="him-checkout him-grey"/>
    <input type="submit" value="checkout" class="him-checkout him-red"/>
    <input type="submit" value="checkout" class="him-checkout him-black"/>
    <br>
    <br>
    <br>
    <span class="him-complete him-btn-square him-blue">Complete</span>
    <span class="him-complete him-btn-square him-green">Complete</span>
    <span class="him-complete him-btn-square him-orange">Complete</span>
    <span class="him-complete him-btn-square him-grey">Complete</span>
    <span class="him-complete him-btn-square him-red">Complete</span>
    <span class="him-complete him-btn-square him-black">Complete</span>
    <span class="him-complete pill him-blue">Complete</span>
    <span class="him-complete pill him-green">Complete</span>
    <span class="him-complete pill him-orange">Complete</span>
    <span class="him-complete pill him-grey">Complete</span>
    <span class="him-complete pill him-red">Complete</span>
    <span class="him-complete pill him-black">Complete</span>
    <input type="submit" value="complete" class="him-complete him-blue"/>
    <input type="submit" value="complete" class="him-complete him-green"/>
    <input type="submit" value="complete" class="him-complete him-orange"/>
    <input type="submit" value="complete" class="him-complete him-grey"/>
    <input type="submit" value="complete" class="him-complete him-red"/>
    <input type="submit" value="complete" class="him-complete him-black"/>
    <br>
    <br>
    <br>
    <span class="him-confirm him-btn-square him-blue">Confirm</span>
    <span class="him-confirm him-btn-square him-green">Confirm</span>
    <span class="him-confirm him-btn-square him-orange">Confirm</span>
    <span class="him-confirm him-btn-square him-grey">Confirm</span>
    <span class="him-confirm him-btn-square him-red">Confirm</span>
    <span class="him-confirm him-btn-square him-black">Confirm</span>
    <span class="him-confirm pill him-blue">Confirm</span>
    <span class="him-confirm pill him-green">Confirm</span>
    <span class="him-confirm pill him-orange">Confirm</span>
    <span class="him-confirm pill him-grey">Confirm</span>
    <span class="him-confirm pill him-red">Confirm</span>
    <span class="him-confirm pill him-black">Confirm</span>
    <input type="submit" value="confirm" class="him-confirm him-blue"/>
    <input type="submit" value="confirm" class="him-confirm him-green"/>
    <input type="submit" value="confirm" class="him-confirm him-orange"/>
    <input type="submit" value="confirm" class="him-confirm him-grey"/>
    <input type="submit" value="confirm" class="him-confirm him-red"/>
    <input type="submit" value="confirm" class="him-confirm him-black"/>
    <br>
    <br>
    <br>
    <span class="him-edit him-btn-square him-blue">Edit</span>
    <span class="him-edit him-btn-square him-green">Edit</span>
    <span class="him-edit him-btn-square him-orange">Edit</span>
    <span class="him-edit him-btn-square him-grey">Edit</span>
    <span class="him-edit him-btn-square him-red">Edit</span>
    <span class="him-edit him-btn-square him-black">Edit</span>
    <span class="him-edit pill him-blue">Edit</span>
    <span class="him-edit pill him-green">Edit</span>
    <span class="him-edit pill him-orange">Edit</span>
    <span class="him-edit pill him-grey">Edit</span>
    <span class="him-edit pill him-red">Edit</span>
    <span class="him-edit pill him-black">Edit</span>
    <input type="submit" value="edit" class="him-edit him-blue"/>
    <input type="submit" value="edit" class="him-edit him-green"/>
    <input type="submit" value="edit" class="him-edit him-orange"/>
    <input type="submit" value="edit" class="him-edit him-grey"/>
    <input type="submit" value="edit" class="him-edit him-red"/>
    <input type="submit" value="edit" class="him-edit him-black"/>
    <br>
    <br>
    <br>
    <span class="him-proceed him-btn-square him-blue">Proceed</span>
    <span class="him-proceed him-btn-square him-green">Proceed</span>
    <span class="him-proceed him-btn-square him-orange">Proceed</span>
    <span class="him-proceed him-btn-square him-grey">Proceed</span>
    <span class="him-proceed him-btn-square him-red">Proceed</span>
    <span class="him-proceed him-btn-square him-black">Proceed</span>
    <span class="him-proceed pill him-blue">Proceed</span>
    <span class="him-proceed pill him-green">Proceed</span>
    <span class="him-proceed pill him-orange">Proceed</span>
    <span class="him-proceed pill him-grey">Proceed</span>
    <span class="him-proceed pill him-red">Proceed</span>
    <span class="him-proceed pill him-black">Proceed</span>
    <input type="submit" value="proceed" class="him-proceed him-blue"/>
    <input type="submit" value="proceed" class="him-proceed him-green"/>
    <input type="submit" value="proceed" class="him-proceed him-orange"/>
    <input type="submit" value="proceed" class="him-proceed him-grey"/>
    <input type="submit" value="proceed" class="him-proceed him-red"/>
    <input type="submit" value="proceed" class="him-proceed him-black"/>
    <br>
    <br>
    <br>
    <span class="him-preview him-btn-square him-blue">Preview</span>
    <span class="him-preview him-btn-square him-green">Preview</span>
    <span class="him-preview him-btn-square him-orange">Preview</span>
    <span class="him-preview him-btn-square him-grey">Preview</span>
    <span class="him-preview him-btn-square him-red">Preview</span>
    <span class="him-preview him-btn-square him-black">Preview</span>
    <span class="him-preview pill him-blue">Preview</span>
    <span class="him-preview pill him-green">Preview</span>
    <span class="him-preview pill him-orange">Preview</span>
    <span class="him-preview pill him-grey">Preview</span>
    <span class="him-preview pill him-red">Preview</span>
    <span class="him-preview pill him-black">Preview</span>
    <input type="submit" value="preview" class="him-preview him-blue"/>
    <input type="submit" value="preview" class="him-preview him-green"/>
    <input type="submit" value="preview" class="him-preview him-orange"/>
    <input type="submit" value="preview" class="him-preview him-grey"/>
    <input type="submit" value="preview" class="him-preview him-red"/>
    <input type="submit" value="preview" class="him-preview him-black"/>
    <br>
    <br>
    <br>
    <span class="him-remove him-btn-square him-blue">Remove</span>
    <span class="him-remove him-btn-square him-green">Remove</span>
    <span class="him-remove him-btn-square him-orange">Remove</span>
    <span class="him-remove him-btn-square him-grey">Remove</span>
    <span class="him-remove him-btn-square him-red">Remove</span>
    <span class="him-remove him-btn-square him-black">Remove</span>
    <span class="him-remove pill him-blue">Remove</span>
    <span class="him-remove pill him-green">Remove</span>
    <span class="him-remove pill him-orange">Remove</span>
    <span class="him-remove pill him-grey">Remove</span>
    <span class="him-remove pill him-red">Remove</span>
    <span class="him-remove pill him-black">Remove</span>
    <input type="submit" value="remove" class="him-remove him-blue"/>
    <input type="submit" value="remove" class="him-remove him-green"/>
    <input type="submit" value="remove" class="him-remove him-orange"/>
    <input type="submit" value="remove" class="him-remove him-grey"/>
    <input type="submit" value="remove" class="him-remove him-red"/>
    <input type="submit" value="remove" class="him-remove him-black"/>
    <br>
    <br>
    <br>
    <span class="him-submit him-btn-square him-blue">Submit</span>
    <span class="him-submit him-btn-square him-green">Submit</span>
    <span class="him-submit him-btn-square him-orange">Submit</span>
    <span class="him-submit him-btn-square him-grey">Submit</span>
    <span class="him-submit him-btn-square him-red">Submit</span>
    <span class="him-submit him-btn-square him-black">Submit</span>
    <span class="him-submit pill him-blue">Submit</span>
    <span class="him-submit pill him-green">Submit</span>
    <span class="him-submit pill him-orange">Submit</span>
    <span class="him-submit pill him-grey">Submit</span>
    <span class="him-submit pill him-red">Submit</span>
    <span class="him-submit pill him-black">Submit</span>
    <input type="submit" value="submit" class="him-submit him-blue"/>
    <input type="submit" value="submit" class="him-submit him-green"/>
    <input type="submit" value="submit" class="him-submit him-orange"/>
    <input type="submit" value="submit" class="him-submit him-grey"/>
    <input type="submit" value="submit" class="him-submit him-red"/>
    <input type="submit" value="submit" class="him-submit him-black"/>
    <br>
    <br>
    <br>
    <span class="him-view him-btn-square him-blue">View</span>
    <span class="him-view him-btn-square him-green">View</span>
    <span class="him-view him-btn-square him-orange">View</span>
    <span class="him-view him-btn-square him-grey">View</span>
    <span class="him-view him-btn-square him-red">View</span>
    <span class="him-view him-btn-square him-black">View</span>
    <span class="him-view pill him-blue">Preview</span>
    <span class="him-view pill him-green">Preview</span>
    <span class="him-view pill him-orange">Preview</span>
    <span class="him-view pill him-grey">Preview</span>
    <span class="him-view pill him-red">Preview</span>
    <span class="him-view pill him-black">Preview</span>
    <input type="submit" value="view" class="him-view him-blue"/>
    <input type="submit" value="view" class="him-view him-green"/>
    <input type="submit" value="view" class="him-view him-orange"/>
    <input type="submit" value="view" class="him-view him-grey"/>
    <input type="submit" value="view" class="him-view him-red"/>
    <input type="submit" value="view" class="him-view him-black"/>
    <br>
    <br>
    <br>
  </div>
</div>
</main>

{{> organisms/global/footer_subsite }}

