{{> atoms-svgicons-pro }}

{{> organisms-header}}

<div class="pro-hero cf" >
<div class="lc">

	<div class="hero-text">

		<h1 class="title">Europeana Professional Launch</h1>
		<p>Read about the launch of the new Europeana Professional website.</p>

	</div>

</div>
</div>

<!-- Start Main page content -->
<main role="main" class="pro-home">


<div class="promo-abouteuropeana section">
<div class="lc">

	The <a href="linky">Europeana Foundation</a> and its Network create new ways for people to engage with European cultural history for work, learning or pleasure.

</div>
</div>

<div class="section pro-info">
<div class="lc">
	
<div class="grid">


	<div class="l-primaryaction">

		<div class="jointhenetwork">

			<h2>Join the network</h2>

			<ul>
				<li>Get in contact with over <a href="#">1000 members</a> from the cultural sector</li>
				<li>Take part in our regular meetings and <a href="#">events</a></li>
				<li>Get Involved in the future of <a href="#">Open data</a></li>
			</ul>

			<a class="btn button-join cta" href="join">			
				<svg class="icon icon-check">
					<use xlink:href="#icon-check"></use>
				</svg>
				Join now
			</a>

		</div>
		
	</div><!--
 --><div class="l-usefulinfo">
 	<div class="usefulinfo">

 	<h2>Useful Information</h2>

	<div class="grid">
		<div class="l-usefulinfo-item">

			<div class="usefulinfo-item">

				<h3>Share your data</h3>

				<ul class="usefulinfo-links">

<!-- COMMENTED OUT BY DEAN -->
<!--
					{{#listItems.four}}
					<li><a href="">{{headline.short}}</a></li>
					{{/listItems.four}}

					-->

					<li><a href="">Become a data provider</a></li>
					<li><a href="">How to provide data</a></li>
					<li><a href="">Technical requirements</a></li>
					<li><a href="">Legal requirements</a></li>

				</ul>
			</div>

		</div><!--
	 --><div class="l-usefulinfo-item">

			<div class="usefulinfo-item">

				<h3>Use our data</h3>

				<ul class="usefulinfo-links">

<!-- COMMENTED OUT BY DEAN -->
<!--
				{{#listItems.four}}
					<li><a href="">{{headline.short}}</a></li>
				{{/listItems.four}}

				-->

					<li><a href="">Use our API</a></li>
					<li><a href="">Case studies</a></li>
					<li><a href="">Best practices for events</a></li>
					<li><a href="">Start developing on Europeana Labs</a></li>

				</ul>
			</div>

		</div><!--
	 -->


	 <!-- Commented out by Dean -->

	 <!--<div class="usefulinfo-secondary">
	 
			<div class="l-usefulinfo-item">

				<div class="usefulinfo-item">
					<h3>For developers</h3>

					<p><a href="">API Documentation</a></p>

					<p>API documentation, Case studies, Examples and much more information for Developers is available at <a href="labs.europeana.eu">Europeana Labs</a>.</p>
				</div>


			</div>
			<div class="l-usefulinfo-item">

				<div class="usefulinfo-item">
					<a href="labs.europeana.eu" class="block-link labs-link">
						<h3>Europeana Labs</h3>
						<p>A playground for remixing and using your cultural and scientific heritage.</p>
					</a>
				</div>

			</div>
		</div>-->
	</div>
	</div>
	</div>

</div>

	
</div>
</div>

<div class="section home-news">
	<div class="lc">

	<h2 class="section-title">Latest Updates</h2>

	<div class="grid cf">

		<div class="l-news">
			<div class="grid">
			{{#listItems.three}}<div class="l-post">{{> molecules-inset-block}}</div>{{/listItems.three}}
			</div>

			<a class="link-more" href="{{ link.ListPage~blog }}">More from the Europeana professional Blog</a>
		</div><!--

	 --><div class="l-newsfeed">

<!-- COMMENTED OUT BY DEAN -->

		<!--	<div class="tweets">

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Europeanaeu" data-widget-id="496651454841516034">Tweets by @Europeanaeu</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


			</div> -->

		</div>

	</div>
	</div>
</div>


<div class="section events-upcoming">
	<div class="lc">

		<h2 class="section-title">Upcoming Events</h2>

		<div class="grid cf">
		{{#listItems.two}}{{> molecules-event-block-small}}{{/listItems.two}}
		</div>

		<a class="link-more" href="events">More Events</a>

	</div>
</div>

<!-- End main content -->
</main>

{{> organisms-footer }}
