

{{> organisms-header}}

<!-- Start Main page content -->
<main role="main" class="pro-home">

<div class="hero cf" >
<div class="lc">

	<h2>Home page hero contents here</h2>
	<p>This stuff will vary but the at-launch content really needs to be specified</p>

</div>
</div>

<div class="promo-abouteuropeana section">
<div class="lc">

	<p class="delta">The <a href="linky">Europeana Foundation</a> and its Network create new ways for people to engage with European cultural history for work, learning or pleasure.</p>

</div>
</div>

<div class="pro-info section">
<div class="lc">
	
<div class="grid">


	<div class="l-primaryaction">

		<div class="jointhenetwork">

			<h2>Join the network</h2>

			<ul>
				<li>Get in contact with over <a href="#">1000 members</a> from the cultural sector</li>
				<li>Take part in our regular <a href="#">meetings</a> and <a href="#">workshops</a></li>
				<li>Get Involved in the future of <a href="#">Open data</a></li>
			</ul>

			<a class="button button-join cta" href="join">Join now</a>

		</div>
		
	</div><!--
 --><div class="l-usefulinfo">
	<div class="grid">

		<div class="l-usefulinfo-item">

			<div class="usefulinfo">
				<h3>Share your data</h3>

				<ul class="usefulinfo-links">
					<li><a href="">Link to item page here</a></li>
					<li><a href="">Link to item page here</a></li>
					<li><a href="">Link to item page here</a></li>
					<li><a href="">Link to item page here</a></li>
				</ul>
			</div>

		</div><!--
	 --><div class="l-usefulinfo-item">

			<div class="usefulinfo">
				<h3>Use Europeana data</h3>

				<ul class="usefulinfo-links">
					<li><a href="">Link to item page here</a></li>
					<li><a href="">Link to item page here</a></li>
					<li><a href="">Link to item page here</a></li>
					<li><a href="">Link to item page here</a></li>
				</ul>
			</div>

		</div><!--
	 --><div class="l-usefulinfo-secondary">
			<div class="l-usefulinfo-item">


				<div class="usefulinfo">
					<h3>For developers</h3>

					<ul class="usefulinfo-links">
						<li><a href="">API Documentation</a></li>
					</ul>

					<p>API documentation, Case studies, Examples and much more information for Developers is available at <a href="labs.europeana.eu">Europeana Labs</a>.</p>
				</div>


			</div><!--
		 --><div class="l-usefulinfo-item">


				<div class="usefulinfo">
					<a href="labs.europeana.eu" class="block-link labs-link">
						<h3>Europeana Labs</h3>
						<p>A playground for remixing and using your cultural and scientific heritage.</p>
					</a>
				</div>

			</div>
		</div>
	</div>
	</div>

</div>

	
</div>
</div>

<div class="section home-news">
	<div class="lc">

	<h2>Latest Updates</h2>

	<div class="grid cf">

		<div class="l-news">
			<div class="grid">
				<div class="l-post">
					{{> molecules-inset-block}}
				</div><!--
			 --><div class="l-post">
					{{> molecules-inset-block}}
				</div>
			</div>

			<a class="link-more" href="blog">More from the Europeana professional Blog</a>
		</div><!--

	 --><div class="l-newsfeed">

			<div class="tweets">
				Twitter widget here
			</div>

		</div>

	</div>
	</div>
</div>


<div class="section events-upcoming">
	<div class="lc">

		<h2>Upcoming Events</h2>

		<div class="grid cf">

			<div class="event">

				<div class="event-date">
					<div class="date-days">
						<span class="date-start">20</span>
						<span class="date-end">— 21</span>
					</div>
					<div class="date-month">September</div>
					<div class="date-year">2014</div>
					<div class="time">
						<span class="time-start">10:00</span>
						<span class="time-end">— 22:00</span>
					</div>
				</div>

				<div class="event-details">
					<h2 class="event-title">Event title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, assumenda delectus eius sint ducimus praesentium vero voluptatem inventore, eaque pariatur.</p>
				</div>
			</div><!--

	     --><div class="event">

				<div class="event-date">
					<div class="date-days">
						<span class="date-start">20</span>
						<span class="date-end">— 21</span>
					</div>
					<div class="date-month">September</div>
					<div class="date-year">2014</div>
					<div class="time">
						<span class="time-start">10:00</span>
						<span class="time-end">— 22:00</span>
					</div>
				</div>

				<div class="event-details">
					<h2 class="event-title">Event title</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit expedita eius necessitatibus asperiores maiores, sed voluptatum et unde distinctio commodi.</p>
				</div>
			</div>
		</div>

		<a class="link-more" href="events">More Events</a>

	</div>
</div>

<!-- End main content -->
</main>

{{> organisms-footer }}
