

{{> organisms-header}}



<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
	<!-- Start grid -->
	<div class="grid">

		<div class="l-content">
		<div class="maincontent">
			
		
			<div class="l-breadcrumbs">
				{{> molecules-breadcrumbs }}
			</div>

			<div class="results">
			
				
			</div>


			<div class="related-items">
				<h4>Next steps</h4>

				<ul class="l-relatedlinks">
					<li class="related-item"><a href="">Text goes here</a></li><!--
	 			 --><li class="related-item"><a href="">Text goes here</a></li><!--
	 			 --><li class="related-item"><a href="">Text goes here</a></li>
				</ul>
			</div>



		</div>
		</div><!--

	 --><div class="l-sidebar">
	 		<div class="inner">

				<div class="help-contact">

					<h4>Need help?</h4>
					{{> atoms-square }}

					<h5>Contact:</h5>

					<div class="vcard">
						<div class="fn">Firsty Surnameson</div>
						<div class="tel">01234 5678910</div>
						<a class="email" href="#">firsty.surnameson@europeana.eu</a>
					</div>

				</div>

				<ul class="nav_tertiary">
					<li><a href="">In-page link 1</a></li>
					<li><a href="">In-page link 2</a></li>
					<li><a href="">In-page link 3</a></li>
					<li><a href="">In-page link 4</a></li>
					<li><a href="">In-page link 5</a></li>
					<li><a href="">In-page link 6</a></li>
					<li><a href="">In-page link 7</a></li>
				</ul>
				
			</div>

		</div>
	</div>
	<!-- End grid -->
</div>
</main>
<!-- End Content -->


{{> organisms-footer }}

