<div class="file-detail">
<div class="inner">

	<a class="file-icon" href="{{url}}" >

		<svg class="icon icon-file">
			<use xlink:href="#icon-file"></use>
		</svg>

		<span class="file-type">
			{{format}}
		</span>
	</a>

	<div class="file-info">

		<a href="{{url}}" class="file-title">
			{{text}}
		</a>

		<ul class="file-meta">
			<li>{{width}} × {{height}} {{size_unit}}</li>
			<li>{{file_size}} {{file_unit}}</li>
		</ul>
	</div>

</div>
</div>