<ul class="icons inline-list">
	<li class="ss-rss"></li>
	<li class="ss-search"></li>
	<li class="ss-play"></li>
</ul>

<h3>Social network</h3>

<ul class="icons inline-list">
	<li class="ss-twitter ss-social-circle"></li>
	<li class="ss-facebook ss-social-circle"></li>
	<li class="ss-stumbleupon ss-social-circle"></li>
	<li class="ss-linkedin ss-social-circle"></li>
	<li class="ss-pinterest ss-social-circle"></li>
	<li class="ss-googleplus ss-social-circle"></li>
	<li class="ss-youtube ss-social-circle"></li>
</ul>