<p>
<ul class="icons inline-list">
	<li class="icon-rss"></li>
	<li class="icon-search"></li>
	<li class="icon-play"></li>
</ul>
</p>

<h5>Social network</h5>

<p>
<ul class="icons inline-list">
	<li class="icon-twitter icon-social-circle"></li>
	<li class="icon-facebook icon-social-circle"></li>
	<li class="icon-stumbleupon icon-social-circle"></li>
	<li class="icon-linkedin icon-social-circle"></li>
	<li class="icon-pinterest icon-social-circle"></li>
	<li class="icon-googleplus icon-social-circle"></li>
	<li class="icon-youtube icon-social-circle"></li>
</ul>
</p>