<table class="data-table{{#has_row_selectors}} js-has-row-selectors{{/has_row_selectors}}">
  <thead>
    <tr>
      {{#has_row_selectors}}
      <th><input type="checkbox" autocomplete="off"/></th>
      {{/has_row_selectors}}
      {{#head_data}}
        <th>{{.}}</th>
      {{/head_data}}
    </tr>
  </thead>
  <tbody>
    {{#row_data}}
      <tr{{#url}} class="linked-row"{{/url}}>
        {{#has_row_selectors}}
          <td>{{#id}}<input type="checkbox" autocomplete="off" name="{{.}}"{{#is_selected}} checked="checked"{{/is_selected}}/>{{/id}}</td>
        {{/has_row_selectors}}
        {{#cells}}
          <td>{{#row_link}}{{#url}}<a class="row-link" href="{{.}}">{{/url}}{{/row_link}}{{{content}}}{{#row_link}}{{#url}}</a>{{/url}}{{/row_link}}</td>
        {{/cells}}
      </tr>
    {{/row_data}}
  </tbody>
</table>
