{{> organisms-header-labs }}

	

	<div class="grid">

		<div class="grid__item three-quarters push--one-quarter  push--palm--none">
			<h2>Examples</h2>
		</div>

		<div class="grid__item one-quarter palm--one-whole">
			{{> molecules-labs-subnav }}
		</div><!--

	 --><div class="grid__item three-quarters palm--one-whole">

			<ul class="post-list grid" >
				<li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!--
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!--
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!--
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!--
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!--
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li>
			</ul>


	 		{{> molecules-pagination }}

	 	</div>
	 </div>

{{> organisms-footer }}