{{> organisms-header }}

<div class="page">
	
	<div role="main" class="grid" >

		<div class="grid__item one-quarter palm--one-whole">
			<ul class="tabs tabs-vertical">
				<li><a href="#">API</a></li>
				<li><a href="#">Linked Open data</a></li>
				<li><a href="#">Case Study</a></li>
				<li><a href="#">Prototype</a></li>
				<li><a href="#">Hackathon</a></li>
			</ul>
		</div><!--

	 --><div class="grid__item three-quarters">

			<h2>Examples</h2>

			<ul class="post-list" >
				<li class="labs__highlighted">{{> molecules-labs-item }}</li>
				<li class="labs__highlighted">{{> molecules-labs-item }}</li>
				<li>{{> molecules-labs-item }}</li>
				<li>{{> molecules-labs-item }}</li>
				<li>{{> molecules-labs-item }}</li>
				<li>{{> molecules-labs-item }}</li>
			</ul>


	 		{{> molecules-pagination }}

	 	</div>

	</div>

</div>

{{> organisms-footer }}