<ul class="item-files">
	<li><a href="">Filename report <span class="file-info">pdf 1.2MB</span></a></li>
	<li><a href="">Filename report <span class="file-info">pdf 1.2MB</span></a></li>
	<li><a href="">Filename report <span class="file-info">pdf 1.2MB</span></a></li>
</ul>