<li class="list-item">

	<div class="item-supplementary">

		{{# publication }}
			<div class="item-image">
				<a href="#"><img src="{{ img.portrait.src }}" alt="{{ img.portrait.alt }}" /></a>
			</div>
		{{/ publication }}

		{{# blog }}
			<div class="item-image">
				<a href="#"><img src="{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" /></a>
			</div>
		{{/ blog }}

		{{# event }}
			<div class="item-bigdate">
				{{> molecules-event-date}}
			</div>
		{{/ event }}
		
	</div><!--

 --><div class="item-details">
		
		<h2 class="title"><a href="#">{{ title }}</a></h2>

		{{# publication }}
		<div class="item-meta-primary">
			{{> molecules-item-author }}
		</div>
		{{/ publication }}

		{{# blog }}
		<div class="item-meta-primary">
			{{> molecules-item-author }}
			{{> molecules-item-readtime }}
		</div>
		{{/ blog }}

		<div class="item-meta-secondary">

			{{# event }}
				{{> molecules-item-location }}
				{{> molecules-item-tags }}
			{{/ event }}

			{{# job }}
				{{> molecules-item-date }}
				{{> molecules-item-location }}
				{{> molecules-item-department }}
			{{/ job }}

			{{# blog }}
				{{> molecules-item-date }}
				{{> molecules-item-tags }}
				{{> molecules-item-comments }}
			{{/ blog }}

			{{# publication }}
				{{> molecules-item-date }}
				{{> molecules-item-tags }}
			{{/ publication }}

		</div>

		<div class="item-preview">
			{{ excerpt.medium }}
		</div>

{{# publication }}
		<ul class="item-files">
			<li><a href="">Filename report<span class="file-info">pdf 1.2MB</span></a></li>
			<li><a href="">Filename report<span class="file-info">pdf 1.2MB</span></a></li>
			<li><a href="">Filename report<span class="file-info">pdf 1.2MB</span></a></li>
		</ul>
{{/ publication }}

	</div>

</li>