<li class="listitem">
	
	{{# event }}
        <div class="alert">Event</div>
    {{/ event }}


    {{# event }}
        <div class="alert">Event</div>
    {{/ event }}



    {{# blog }}
        <div class="alert">Blog</div>
    {{/ blog }}



    {{# publication }}
        <div class="alert">Publication</div>
    {{/ publication }}



    {{# people }}
        <div class="alert">People</div>
    {{/ people }}


    <h2 class="title">{{ title }}</h2>

</li>