<div class="related-items">
	<h4>{{title}}</h4>

	<ul class="l-relatedlinks">
		<li class="related-item"><a href="">Text goes here</a></li><!--
	 --><li class="related-item"><a href="">Text goes here</a></li><!--
	 --><li class="related-item"><a href="">Text goes here</a></li>
	</ul>
</div>