@import "../../../generic/variables";
@import "../css-grid-variables";

.gridlayout-wrapper-full {
  margin-top: 2rem;
}

.gridlayout-card {
  align-items: flex-end;
  display: flex;
  min-height: 20rem;
  position: relative;

  .card-content {
    background-color: #f4f4f4;
    padding: 1rem;
    width: 100%;

    h3,
    p {
      max-height: none;
    }

    .card-tags,
    p:last-of-type {
      margin-bottom: $spacing-base;
    }

    .card-tags li {
      display: inline-block;
    }

  }

  .card-footer {
    border-top: 1px solid #ddd;
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem 1rem 0;
  }

}

.gridlayout-card[style^="background"] { 
  padding-top: 5rem;
}