.banner {
  background-color: $white;
  color: $black;

  .btn.btn-light {
    border-color: $eu-jade;
    color: $eu-jade;

    &:hover {
      background-color: $eu-jade;
      color: $white;
    }
  }

  .info-link {
    color: $eu-jade;
    font-weight: bold;
  }
}
