<ul class="color-data nav">
{{#items}}
  <li class="height-to-width color-datum"><span class="inner"><a class="link" href="{{url}}"  style="background-color: {{hex}};"><span class="is-hidden">{{hex}}</span></a></span></li>
{{/items}}
</ul>
