<div class="filter {{styleModifier}}">

	<div class="filter-name">{{ title }}</div>

	<ul class="filter-list">
	{{#items}}
		<li>
			<a href="{{url}}">{{text}}
			{{#num_results}}
			<span class="filter-num">({{num_results}})</span>
			{{/num_results}}
			</a>
		</li>
	{{/items}}

	{{#extra_items}}
		<div class="js-extrafields is-jshidden">
	{{#items}}
		<li>
			<a href="{{url}}">{{text}}
			{{#num_results}}
			<span class="filter-num">{{num_results}}</span>
			{{/num_results}}
			</a>
		</li>
	{{/items}}
	</div>
	{{/extra_items}}

	</ul>

	{{! @TODO - add in javascript show/hide extra fields functionality
		- toggle the .is-jshidden class on nearest .js-extrafields div (above)
		- change the text to the text in the data-swaptext attribute
		- add an is-active class to this link
	}}
	{{#extra_items}}
		<a class="js-showhide filter-moreless" href="#" data-swaptext="Less">More…</a>
	{{/extra_items}}
	
</div>