<div class="filter {{#select_one}}radiobuttons{{/select_one}}{{^select_one}}checkboxes{{/select_one}}">

	<div class="filter-name">{{ title }}</div>

	<ul class="filter-list">
	{{#items}}
		<li>
			<a href="{{url}}" class="filter-item {{#is_checked}} is-checked {{/is_checked}}{{#is_disabled}} is-disabled {{/is_disabled}}" {{#is_checked}} aria-checked="true" {{/is_checked}} {{^is_checked}} aria-checked="false" {{/is_checked}}>{{text}}
			{{#num_results}}
			<span class="filter-num">({{num_results}})</span>
			{{/num_results}}
			</a>
		</li>
	{{/items}}

	{{#extra_items}}
		<div class="filter-extrafields js-extrafields is-jshidden">
	{{#items}}
		<li>
			<a href="{{url}}" class="filter-item {{#is_checked}} is-checked {{/is_checked}}{{#is_disabled}} is-disabled {{/is_disabled}}">{{text}}
			{{#num_results}}
			<span class="filter-num">{{num_results}}</span>
			{{/num_results}}
			</a>
		</li>
	{{/items}}
	</div>
	{{/extra_items}}

	</ul>

	{{#extra_items}}
		<a class="js-showhide filter-moreless" href="#" data-text-swap="{{i18n.less}}">{{i18n.more}}</a>
	{{/extra_items}}
	
</div>