<h3 class="hotspot collapsed loading">
  <a class="hotspot-expand">
    <span class="icon-label-collapse svg-icon-minus"></span>
    <span class="icon-label-expand svg-icon-plus"></span>
    <span class="icon-label-collapse svg-icon-minus-white"></span>
    <span class="icon-label-expand svg-icon-plus-white"></span>
    <span class="label-collapse"></span>
    <span class="label-expand"></span>
  </a>
  <span class="text collapsed"></span>
  <span class="text expanded"></span>
</h3>
