<div class="media-thumbs">
  <div class="active">
    <a data-has-colour-info="true" data-colour-hexes="#FF0000|#00FF00|#0000FF|#EEEE00|#FF1199|#FFA500" data-colour-urls="a|b|c|x|y|z">
  </div>
</div>
<div class="colour-container"></div>
