<article class="search-list-item cf">


	<div class="item-language">

		<h1>{{ title }}</h1>

    {{> atoms/forms/select-menu }}

    <div class="check-language">

      <h1>{{ translate-search }}</h1>

      {{> atoms/forms/checkbox }}

      <p>{{ limit }}</p>

      <input class="pushbutton" type="submit" value="Clear Selection"/>

    </div>

    <div class="check-language">

      <h1>{{ translate-item }}</h1>

      {{> atoms/forms/select-menu }}

      <input type="submit" value="Save Settings"/>

    </div>

		<footer>
		</footer>
	</div>
</article>
