
<ul class="social-share">

	<li>
	<a class="icon-social" href="https://www.facebook.com/sharer/sharer.php?u={{url}}" title="Facebook">
		<svg class="icon icon-facebook">
			<use xlink:href="#icon-facebook"></use>
		</svg>
		<span class="share-name">Facebook</span>
	</a>
	</li>

	<li>
	<a class="icon-social" href="http://pinterest.com/pin/create/button/?url=" title="Pinterest">
		<svg class="icon icon-pinterest">
			<use xlink:href="#icon-pinterest"></use>
		</svg>
		<span class="share-name">Pinterest</span>
	</a>
	</li>

	<li>
	<a href="https://twitter.com/intent/tweet?text={{url}}" title="Twitter">
		<svg class="icon icon-twitter">
			<use xlink:href="#icon-twitter"></use>
		</svg>
		<span class="share-name">Twitter</span>
	</a>
	</li>

</ul>