svg.icon {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin-bottom: -0.25em;
	fill: currentColor;
}
.icon-facebook {
}
.icon-twitter {
}
.icon-linkedin {
}
.icon-googleplus {
}
.icon-github {
}
.icon-delete {
}
.icon-next {
}
.icon-previous {
}
.icon-check {
}
.icon-help {
}
.icon-tag {
}
.icon-menu {
}
.icon-linkout {
}
.icon-search {
}