svg.icon {
	display: inline-block;
	width: 1.6em;
	height: 1.6em;
	margin-bottom: -0.2em;
	fill: currentColor;
}
.icon-facebook {
	/*fill: #293745;*/
}
.icon-twitter {
	/*fill: #293745;*/
}
.icon-linkedin {
	/*fill: #293745;*/
}
.icon-googleplus {
	/*fill: #293745;*/
}
.icon-github {
	/*fill: #293745;*/
}
.icon-delete {
	/*fill: #293745;*/
}
.icon-next {
	/*fill: #293745;*/
}
.icon-previous {
	/*fill: #293745;*/
}
.icon-check {
	/*fill: #293745;*/
}
.icon-help {
	/*fill: #293745;*/
}
.icon-tag {
	/*fill: #293745;*/
}
.icon-menu {
	/*fill: #293745;*/
}
.icon-linkout {
	/*fill: #293745;*/
}
.icon-search {
	/*fill: #293745;*/
}