svg.icon {
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	margin-bottom: -0.25em;
	margin-right: 0.3em;
	fill: currentColor;
}

a.icon{
	background-position: 0 0.1em;
	background-size: 1em;
	padding-left: 1.4em;
}

a{
	// &.icon-twitter {
	// 	@include svg-bg-with-fallback("/icons/twitter");
	// }
	// &.icon-skype {
	// 	@include svg-bg-with-fallback("/icons/skype");
	// }
	// &.icon-linkedin {
	// 	@include svg-bg-with-fallback("/icons/linkedin");
	// }
}