&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;div role=&quot;main&quot;&gt;
		{{&gt; molecules-block-hero }}
		&lt;div class=&quot;g g-3up&quot;&gt;
			&lt;div class=&quot;gi&quot;&gt;
				{{&gt; molecules-inset-block }}
			&lt;/div&gt;
			&lt;div class=&quot;gi&quot;&gt;
				{{&gt; molecules-inset-block }}
			&lt;/div&gt;
			&lt;div class=&quot;gi&quot;&gt;
				{{&gt; molecules-inset-block }}
			&lt;/div&gt;
		&lt;/div&gt;&lt;!--end 3up--&gt;

		&lt;hr /&gt;

		&lt;div class=&quot;l-two-col&quot;&gt;
			&lt;div class=&quot;l-main&quot;&gt;
				{{&gt; organisms-latest-posts }}
			&lt;/div&gt;

			&lt;div class=&quot;l-sidebar&quot;&gt;
				{{&gt; organisms-recent-tweets }}
			&lt;/div&gt;
		&lt;/div&gt;
		
	&lt;/div&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;