
body {

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	
	word-wrap: break-word;

	background: $page_bg;
	font: 100%/1.4 $font-primary; //18px default font
	-webkit-text-size-adjust: 100%;
	color: $textcolour_body;
}

.site_wrapper{
	border-top: 6px solid $textcolour_highlight;
}