/*------------------------------------*\
    $Table
\*------------------------------------*/

$tborder-color: $gray-lighter;
$thead-color: $offwhite;

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $tborder-color;
    width: 100%;
    empty-cells: show;
    margin-bottom: $space;
    color: $textcolour_body;
}

td,
th {
    border-left: 1px solid $tborder-color;
    /*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    /*to make ths where the title is really long work*/
    padding: 6px 12px;
    /* cell padding */
}

td:first-child,
th:first-child {
    border-left-width: 0;
}

thead {
    background: $thead-color;
    color: $textcolour_head;
    text-align: left;
    vertical-align: bottom;
}

td {
    background-color: transparent;
}

/* nth-child selector for modern browsers */
.table-striped tr:nth-child(2n-1) td {
    background-color: lighten($text_secondary, 15%);
}

/* BORDERED TABLES */
.table-bordered td {
    border-bottom: 1px solid $tborder-color;
}

.table-bordered tbody > tr:last-child td,
.table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */

.table-horizontal td,
.table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid $tborder-color;
}

.table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

@media only screen and (max-width: $bp-large) {
    th,
    td {
        vertical-align: top;
    }
    th {
        text-align: left;
    }
    table {
        display: block;
        position: relative;
        width: 100%;
    }
    thead {
        display: block;
        float: left;
    }
    tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
    }
    thead tr {
        display: block;
    }
    th {
        display: block;
        text-align: right;
    }
    tbody tr {
        display: inline-block;
        vertical-align: top;
    }
    td {
        display: block;
        min-height: 1.25em;
        text-align: left;
    }
    /* sort out borders */
    th {
        border-bottom: 0;
        border-left: 0;
    }
    td {
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }
    tbody tr {
        border-left: 1px solid $tborder-color;
    }
    th:last-child,
    td:last-child {
        border-bottom: 1px solid $tborder-color;
    }
}