/*------------------------------------*\
    $Table
\*------------------------------------*/

$tborder-color: $gray-lighter;
$thead-color: $offwhite;

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $tborder-color;
    width: 100%;
    empty-cells: show;
    margin-bottom: $space;
    color: $textcolour_body;
}

td,
th {
    border-left: 1px solid $tborder-color;
    /*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    vertical-align: top;
    overflow: visible;
    /*to make ths where the title is really long work*/
    padding: 0.5em;
    /* cell padding */
}

td:first-child,
th:first-child {
    border-left-width: 0;
}

thead {
    background: $thead-color;
    color: $textcolour_head;
    text-align: left;
    vertical-align: bottom;
}

td {
    background-color: transparent;
}

/* nth-child selector for modern browsers */
.table-striped tr:nth-child(2n-1) td {
    background-color: lighten($text_secondary, 15%);
}

/* BORDERED TABLES */
.table-bordered td {
    border-bottom: 1px solid $tborder-color;
}

.table-bordered tbody > tr:last-child td,
.table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */

.table-horizontal td,
.table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid $tborder-color;
}

.table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

.table-code td{
    font-family: $font-code;
}

@media only screen and (max-width: $bp-large) {
    .table-responsive{

        display: block;
        position: relative;
        width: 100%;
        empty-cells: show;

        thead {
            display: block;
            float: left;
        }

        tbody {
            display: block;
            width: auto;
            position: relative;
            overflow-x: auto;
            white-space: nowrap;
        }

        th {
            display: block;
            text-align: right;
            
            border-bottom: 0;
            border-left: 0;
        }

        td {
            display: block;
            min-height: 1.25em;
            text-align: left;

            border-left: 0;
            border-right: 0;
            border-bottom: 0;        
        }

        thead tr {
            display: block;
        }
        tbody tr {
            display: inline-block;
            vertical-align: top;
            border-left: 1px solid $tborder-color;
        }


    }
}