/* Text-Related Elements */ 
p {
	margin-bottom: $space;
}

/* Blockquote */
blockquote {
    font-style:italic;
    border-left: 1px solid $textcolour_heavy;
    color: $textcolour_heavy;
    padding-left: $pad;
    margin-bottom: $space;
}


/**
 *
 * =======================================================================
 * Drop Capitals:
 * Extend this object into your markup.

   <p class="drop-cap">What a wonderful day it is out there wouldn't you'd say?</p>

  * =======================================================================
 */

.drop-cap:first-letter {
  float: left;
  margin: auto .25em auto auto;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

p + .drop-cap {
  text-indent: 0;
  margin-top: 0;
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $textcolour_heavy;
    cursor: help;
}


// Letter space those capitals people, Jan Tschichold would be proud.
.upper {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

// Real small caps.
.small-caps {
  -moz-font-feature-settings: 'smcp=1, kern=1';
  -ms-font-feature-settings: 'smcp' 1, 'kern' 1;
  -webkit-font-feature-settings: 'smcp' 1, 'kern' 1;
  -o-font-feature-settings: 'smcp' 1, 'kern' 1;
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem;
}

// Consistent height numbers with OpenType.
.lining-numerals {
  -moz-font-feature-settings: 'lnum=1, kern=1';
  -ms-font-feature-settings: 'lnum' 1, 'kern' 1;
  -webkit-font-feature-settings: 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'lnum' 1, 'kern' 1;
  font-feature-settings: 'lnum' 1, 'kern' 1;
}

// Ascending and descending numbers with OpenType.
.oldstyle-numerals {
  -moz-font-feature-settings: 'onum=1, kern=1';
  -ms-font-feature-settings: 'onum' 1, 'kern' 1;
  -webkit-font-feature-settings: 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'onum' 1, 'kern' 1;
  font-feature-settings: 'onum' 1, 'kern' 1;
}