<div id="template-promo-entity">
  <div class="collections-promo-item entity-promo img-as-bg">
    <div class="content-outer">
      <div class="content-inner">
        <div class="content-outer">
          <div class="content-inner">
            <span class="bg-img" style="background-image:url('[[img.src]]');"></span>
          </div>
        </div>
        {{> js_template/cho/promotions/channel-object-promo-text-js}}
      </div>
    </div>
  </div>
</div>
