<div id="template-promo-exhibition">
  [[#exhibition_promo]]
    <div class="collections-promo-item exhibition">
      <div class="content-outer">
        <div class="content-inner">
          <div class="content-outer">
            <div class="content-inner">
              {{> organisms/virtual-exhibitions/foyer-card-js}}
            </div>
          </div>
          {{> js_template/cho/promotions/channel-object-promo-text-js}}
        </div>
      </div>
    </div>
  [[/exhibition_promo]]
</div>
