<div id="template-promo-generic">
  <div class="collections-promo-item generic-promo img-as-bg">
    <div class="content-outer">
      <div class="content-inner">
        <div class="content-outer">
          <div class="content-inner">
            <img src="[[img.src]]" class="js-remove">
            <a href="[[url]]" class="bg-img" style="background-image:url('[[img.src]]');"></a>
          </div>
        </div>
        {{> js_template/cho/promotions/channel-object-promo-text-js}}
      </div>
    </div>
  </div>
</div>
