{{&gt; organisms-header-labs }}

&lt;div class=&quot;lc&quot;&gt;
	

	&lt;div class=&quot;grid&quot;&gt;

		&lt;div class=&quot;grid__item three-quarters push--one-quarter  push--palm--none&quot;&gt;
			&lt;h2&gt;Examples&lt;/h2&gt;
		&lt;/div&gt;

		&lt;div class=&quot;grid__item one-quarter palm--one-whole&quot;&gt;
			{{&gt; molecules-labs-subnav }}
		&lt;/div&gt;&lt;!--

	 --&gt;&lt;div class=&quot;grid__item three-quarters palm--one-whole&quot;&gt;

			detail here


	 		

	 	&lt;/div&gt;
	 &lt;/div&gt;
&lt;/div&gt;

{{&gt; organisms-footer }}