&lt;div class=&quot;site_wrapper&quot;&gt;

{{&gt; organisms-header}}



&lt;div role=&quot;main&quot; class=&quot;grid_wrapper&quot;&gt;

	
	&lt;h2&gt;This page should pull in the header and footer markup but they should look unstyled.&lt;/h2&gt;

	&lt;p class=&quot;is-error&quot;&gt;This text should be big and GREEN rather than red, if it is, it's being styled from a pattern lab independent site specific css file, yay.&lt;/p&gt;

&lt;/div&gt;


{{&gt; organisms-footer }}

&lt;/div&gt;