{{# item_type }}
  <span data-href="{{url}} " class="item-type">
    {{# is_image }}
      <span class="svg-icon svg-icon-image"></span>
    {{/ is_image }}
    {{# is_audio }}
      <span class="svg-icon svg-icon-music"></span>
    {{/ is_audio }}
    {{# is_text }}
      <span class="svg-icon svg-icon-openbook"></span>
    {{/ is_text }}
    {{# is_video }}
      <span class="svg-icon svg-icon-tv"></span>
    {{/ is_video }}
  </span>
  <span class="highlight-text hide-with-grid">
    {{item_type.name}}
  </span>
{{/ item_type }}
