<div class="content-text">
  <div class="content-text-inner{{^date}}{{^attribution}}{{^type}} no-date-and-type{{/type}}{{/attribution}}{{/date}}">

    {{#title}}
      {{#icon}}
        <div>
      {{/icon}}
      <div class="promo-title{{#icon}} with-icon{{/icon}}">
        {{#url}}<a href="{{.}}">{{/url}}{{.}}{{#url}}</a>{{/url}}
      </div>
      {{#icon}}
          <span class="icon icon-{{.}}"></span>
        </div>
      {{/icon}}
    {{/title}}


    {{#excerpt}}
      {{#short}}
        <div class="text-main">
          {{{.}}}
        </div>
      {{/short}}
    {{/excerpt}}

    <div class="text-footer">

      <div class="date-and-type">
        {{#date}}
          {{.}}
          {{#attribution}}|{{/attribution}}
        {{/date}}
        {{#attribution}}{{.}}{{/attribution}}
        {{#type}}
          <span class="type type-{{.}}">{{.}}</span>
        {{/type}}
      </div>

      {{#relation}}
        <div class="relation">{{.}}</div>
      {{/relation}}

    </div>
  </div>
</div>

