<article class="event-list-item cf {{^ img.src }}missing-image{{/ img.src }}">
  <div class="item-preview">
    <div class="item-image">
      {{#img.src}}
        <a class="link" target="{{target}}" href="{{object_url}}" tabindex="-1">
          <img src="{{img.src}}" alt="{{ title }}" />
        </a>
      {{/img.src}}
      {{#label}}<div class="category-flag">{{.}}</div>{{/label}}
    </div>
  </div>

  <div class="item-info">

    <div class="summary">
      <h2><a href="{{object_url}}">{{ title }}</a></h2>
      {{#location}}
        <span class="svg-icon-location icon-location"></span><span class="location">{{ . }}</span>
      {{/location}}
    </div>

    {{#date}}
      <span class="svg-icon-calendar date-icon"></span>
      <span class="date">{{.}}</span>
    {{/date}}

    {{#tags}}
      <ul class="blog-item-tags svg-icon-bookmark-before">
        {{#items}}
          {{#url}}<li><a href="{{.}}">{{text}}</a></li>{{/url}}
          {{^url}}<li>{{text}}</li>{{/url}}
        {{/items}}
      </ul>
    {{/tags}}

    {{#description}}
      <p class="excerpt">
        {{{.}}}
      </p>
    {{/description}}

  </div>

</article>