  <div class="object-nav cf">
    <div class="object-nav-lists">
      <ul class="breadcrumbs">
        <li class="icon-on-small"><a href="{{navigation.home_url}}"><span class="svg-icon-home"></span><span class="text">{{i18n.site.navigation.breadcrumb.return_home}}</span></a></li>
        <li class="js-channel"><a href=""></a></li>
        {{#navigation.back_url}}<li><a href="{{.}}">{{navigation.back_label}}</a></li>{{/navigation.back_url}}
        <li class="js-return"><a href="">{{i18n.site.navigation.breadcrumb.results_list}}</a></li>
        {{#navigation.last_label}}<li><span class="lastitem"><strong>{{.}}</strong></span></li>{{/navigation.last_label}}
        {{#content.channel_info.name}}<li><span class="lastitem"><strong>{{.}}</strong></span></li>{{/content.channel_info.name}}
      </ul>
      {{>molecules/navigation/next-previous}}
    </div>
    {{#include_nav_searchbar}}
      {{>molecules/forms/search-item-navigation}}
    {{/include_nav_searchbar}}
  </div>
