<article class="search-list-item cf">

	<div class="item-preview">
		{{# isImage }}
			<div class="item-image">
        	<img src="{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" />
        	</div>
    	{{/ isImage }}

   		{{# isAudio }}
        	@TODO --audio preview--
    	{{/ isAudio }}

   		{{# isText }}
        	@TODO --text preview--
    	{{/ isText }}

    	{{# isVideo }}
        	@TODO --video preview--
    	{{/ isVideo }}

	</div>

	<div class="item-info">

		<h1><a href="{{objectUrl}}">{{ title }} {{#year.long}}<span class="date">({{ year.long }})</span>{{/year.long}}</a></h1>

		{{#text}}
		<p class="excerpt">
			 {{text.medium}}
		</p>
		{{/text}}
		
		{{#origin}}
		<a href="{{origin.url}}" class="item-origin link-external">View at: {{origin.text}}</a>
		{{/origin}}

		<footer>
			<div class="item-metadata">
			
{{# item_type }}
	        	<a href="{{item_type.url}}" class="highlight item-type">
					{{# isImage }}
					<svg class="icon icon-image">
						<use xlink:href="#icon-image"></use>
					</svg>
					{{/ isImage }}
					{{# isAudio }}
					<svg class="icon icon-bookmark">
						<use xlink:href="#icon-bookmark"></use>
					</svg>
					{{/ isAudio }}
					{{# isText }}
					<svg class="icon icon-comments">
						<use xlink:href="#icon-comments"></use>
					</svg>
					{{/ isText }}
					{{# isVideo }}
					<svg class="icon icon-comments">
						<use xlink:href="#icon-comments"></use>
					</svg>
					{{/ isVideo }}

					{{item_type.name}}
	        	</a>
{{/ item_type }}


			{{# channels }}
				<span class="item-themes">
					In channel:
					{{# items }}
					<a href="{{url}}" class="highlight">{{text}}</a>,
					{{/ items }}
				</span>
			{{/ channels }}
				
			</div>

			<div class="item-actions">

				<a href="path/to/save" class="action-save">
					<svg class="icon icon-star">
						<use xlink:href="#icon-star"></use>
					</svg>Save
				</a>

				<div class="action-select">
					<input type="checkbox" name="selected[]" id="itemx">
				</div>
			</div>

		</footer>
	</div>
</article>
