<article class="blog-list-item cf {{^ img.src }}missing-image{{/ img.src }}">
  <div class="item-preview">
    <div class="item-image">
      {{#img.src}}
        <a class="link" target="{{target}}" href="{{object_url}}" tabindex="-1">
          <img src="{{img.src}}" alt="{{ title }}" />
        </a>
      {{/img.src}}
      {{#label}}<div class="category-flag">{{.}}</div>{{/label}}
    </div>
  </div>

  <div class="item-info">

    <div class="summary">
      <h2><a href="{{object_url}}">{{ title }}</a></h2>

      {{#has_authors}}
        <span class="capitalised">{{i18n.global.labels.by}}</span>

        <ul class="authors comma-list">
          {{#authors}}
            {{#url}}
              <li><a class="author" href="{{.}}">{{name}}</a></li>
            {{/url}}
            {{^url}}
              <li><span class="author">{{name}}</span></li>
            {{/url}}
          {{/authors}}
        </ul>
      {{/has_authors}}

      {{#read_time}}
        {{ . }} {{i18n.site.blogs.min-to-read}}
      {{/read_time}}
    </div>

    {{#date}}
      <span class="svg-icon-calendar date-icon"></span>
      <span class="date">{{.}}</span>
    {{/date}}

    {{#tags}}
      <ul class="blog-item-tags svg-icon-bookmark-before">
        {{#items}}
          {{#url}}<li><a href="{{.}}">{{text}}</a></li>{{/url}}
          {{^url}}<li>{{text}}</li>{{/url}}
        {{/items}}
      </ul>
    {{/tags}}

    {{#description}}
      <p class="excerpt">
        {{{.}}}
      </p>
    {{/description}}

  </div>

</article>