{{#iiif_transcription}}

  <div class="transcriptions"></div>
  <script id="template-iiif-transcription" type="text/x-mustache">{{> molecules/components/iiif/iiif-transcription-js.mustache}}</script>

  <style type="text/css">
  .transcriptions{
    max-height: 36em;
    overflow:   auto;
    font-size:  0.875em;
    width:      35%;
  }

  #iiif-with-ctrls{
    width: 64%;
  }
  #iiif-with-ctrls,
  .transcriptions{
    float: left;
  }

  .transcriptions p{
    margin:  1em;
    padding: 1em;
  }

  .transcriptions p.highlight{
    background-color: #D2E9F7;
    border-style:     solid;
    border-color:     #1DA2F5;
    border-width:     1px;
    border-radius:    5px;
  }

  .transcriptions word.highlight{
    font-weight: bold;
  }

  </style>
  <div id="iiif-with-ctrls">
{{/iiif_transcription}}

<div id="iiif" {{#iiif_transcription}}class="transcription"{{/iiif_transcription}}>
</div>
<div id="iiif-ctrl">
  <div class="iiif-ctrl-group">
  {{!
  <!--
    <a href="#" class="first">◂◂</a>
    <a href="#" class="prev">◂</a>
    <input class="jump-to-img" value="1"/>
    <span class="total-images"></span>
    <a href="#" class="next">▸</a>
    <a href="#" class="last">▸▸</a>
    <span class="title"></span>
   -->
  }}

    <a href="#" class="first">&lt;&lt;</a>
    <a href="#" class="prev">&lt;</a>
    <input class="jump-to-img" value="1"/>
    <span class="total-images"></span>
    <a href="#" class="next">&gt;</a>
    <a href="#" class="last">&gt;&gt;</a>
    <span class="title"></span>


  </div>
</div>

{{#iiif_transcription}}
  </div>
{{/iiif_transcription}}
