//People list

.l-person, .jobdetails, .contact-methods{
    display: block;
    margin-bottom: $space;
}

.team li {
    @media all and (min-width: $bp-med) {
	  @include gallery(9 of 18);
	}
}


//Person Detail Page

.contact-detail{

	margin-bottom: $space-double;

	.contact-external{
		float: right;
		width: 45%;
	}

	.contact-internal{
		float: left;
		width: 45%;
	}
}


@media all and (min-width: $bp-med) {
	.l-contact-photo{
		@include span(last 6 of 18);
	}
	.contact-detail .l-contact{
		@include span(12 of 18);
	}
}