// Login
.page_login .l-page section {
	text-align: center;
	padding: $space;
}

.page_intro{
	color: $accent;
	font-size: 2em;
	line-height: 1;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: $space-double;
}

.login-register{
	max-width: 800px;
	margin: 0 auto;
	position: relative;

	& form{
		background-color: $accent;
		color: $white;
		padding: 2.4em;

		p{
			margin-bottom: 0;
		}
	}

	input{
		@include placeholder{
		    color: $gray-lighter;
		}
	}

	input[type="checkbox"]{
		font-size: x-large;
		vertical-align: top;
		margin-top: 3px;
	}

	.form-login{
		margin-bottom: $space;
	}

	.form-register{
		margin-right: 0;
	}

	.form-controls{
		margin-bottom: $space-half;
		margin-top: $space-half;
	}

	.l-keepmeloggedin{

		line-height: 1;
		font-size: 0.875em;
		padding: 0.3em;

		@media all and (min-width: $bp-small) {
			width: 100px;
			float: left;
			text-align: left;
		}

	}
	.l-submitcol{

		@media all and (min-width: $bp-small) {
			width: 60%;
			float: right;
			text-align: right;
		}
	}

	a.form-forgotpass{
		display: block;
		color: $white;
		font-size: 0.875em;

		&:hover{
			text-decoration: underline;
		}
	}
}

.social-login{
	padding: $space;
	padding-top: 0;
	font-size: 2em;
	text-align: center;
}

@media all and (min-width: $bp-med) {
	.login-register{
		display: table;

		> *{
			display: table-row;
		}

		& form{
			display: table-cell;
			margin-bottom: 0;
			width: 50%;
		}

		.form-login{
			border-right: solid white 10px;
		}
		.form-register{
			border-left: solid white 10px;
		}
	}



	.form-login:after {
		content: "or";
		display: block;
		color: $black;
		line-height: 1;
		border-radius: 200px;
		padding: 0.5em;
		font-weight: bold;
		font-size: 1.5em;
		background-color: #FFF;
		position: absolute;
		left: 50%;
		top: 50%;
		@include translate (-50%, -50%);
		white-space: nowrap;
	    z-index: 100;
	}
}

.input-wrapper-icon{
	position: relative;
	margin-bottom: $space-half;

	&:before{
		content:'';
		display: block;
		position: absolute;
		left: 8px;
		width: 20px;
		height: 100%;
		background-position: 0 60%;
    	background-size: 18px;
	}
	&.icon-user:before{
		@include svg-bg-with-fallback("icons/users");
	}
	&.icon-password:before{
		@include svg-bg-with-fallback("icons/key");
	}

	> input[type="text"], > input[type="password"]{
		text-indent: 25px;
	}
}

