// Entry detail page
.entry-detail{
	.entry-data{
		@include span(6 of 18);
	}
	.entry-text{
		@include span(last 12 of 18);
	}
	.entry-info{
		padding-top: $space;
		margin-bottom: $space;
	}

	.entry-data-inner{
		font-size: $font-size-slightly-smaller;
		padding: $space-half;
		background-color: $gray-lightest;
		border-top: 4px solid $accent;
	}

	.submitter-bio{
		margin-bottom: $space-half;
	}

	.submitter-wrapper{
		background-color: $gray-lightest;
	}
	.submitter-meta > div{
		display: inline-block;
		margin-right: $space-half;
	}

	.submitter-name{
		font-weight: bold;
	}
}

.extra-media .add-media{
	display: block;
	background-color: $gray-lightest;
	width: 100%;
	line-height: 2em;
	text-align: center;
	font-size: 4em;
	border: 4px dashed $gray-lighter;
	color: $gray-lighter;

	&:hover{
		color: $gray-light;
	}
}

a.tag-add{
	border: 1px solid $gray87;
}

.submit-buttons{
	padding: $space 0;
	margin-top: -$space;
	background-color: $offwhite;
	z-index: 100;
	.group1{
		margin-bottom: $space-quarter;
	}

	.save{
		background-color: $eu_jade;
	}
	.submit{
		text-transform: uppercase;
		font-weight: bold;
	}
}