// Entry detail page
.entry-detail{
	.entry-data{
		@include span(6 of 18);
	}
	.entry-text{
		@include span(last 12 of 18);
	}
	.entry-info{
		padding-top: $space;
		margin-bottom: $space;
	}

	.entry-data-inner{
		font-size: $font-size-slightly-smaller;
		padding: $space-half;
		background-color: $gray-lightest;
		border-top: 4px solid $accent;
	}

}

.extra-media .add-media{
	display: block;
	background-color: $gray-lightest;
	width: 100%;
	line-height: 2em;
	text-align: center;
	font-size: 4em;
	border: 4px dashed $gray-lighter;
	color: $gray-lighter;

	&:hover{
		color: $gray-light;
	}
}

.submit-buttons{

	margin-bottom: $space-half;
	border-bottom: 1px solid $gray-lighter;

	button{
		margin-bottom: $space-half;
	}

	.save{
		background-color: $eu_jade;

		&.draft{
			background-color: $eu_yellow;
		}
	}
	.submit{
		text-transform: uppercase;
		font-weight: bold;
	}
	.cancel{
		font-size: $font-size-slightly-smaller;
		background-color: $gray-lighter;
		color: $textcolour_link;
	}
	a.button{
		width: auto;
		padding: $pad-half $pad;
		cursor: pointer;
		border-radius: 4px;
		border: 0;
	}
}

.entry-upload{
	background-color: $gray-lighter;
	background: repeating-linear-gradient(
	  45deg,
	  $grey2,
	  $grey2 10px,
	  $grey3 10px,
	  $grey3 20px
	);
	border: 4px dashed $gray-lighter;
	padding-top: 52.5%;
	position: relative;
	text-align: center;
	line-height: 1.2;

}

.required:after {
	content:" *";
	color: $eu_red;
}

input:required, textarea:required{
	//border-color: $eu_red;
}


// Tags
.item-tags *{
	display: inline-block;
}
div.tagsinput {
	border: 1px solid #CCC;
	background: #FFF;
	padding: 5px;
	width: 300px;
	height: 100px;
	overflow-y: auto;
}
div.tagsinput span.tag {
	display: block;
	float: left;
	text-decoration: none;
	margin-right: 5px;
	margin-bottom: 5px;
}
div.tagsinput span.tag a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
div.tagsinput input {
	width: 80px;
	margin: 0px;
	font-size: 13px;
	border: 1px solid transparent;
	padding: 5px;
	background: transparent;
	outline: 0px;
	margin-right: 5px;
	margin-bottom: 5px;
	box-shadow: none;
}
div.tagsinput div {
	display: block;
	float: left;
}
.tags_clear {
	clear: both;
	width: 100%;
	height: 0px;
}
.not_valid {
	background: #FBD8DB !important;
	color: #90111A !important;
}