// Heritage in Motion Site specific styles

.him-add, .him-cancel, .him-checkout, .him-confirm, .him-complete, .him-edit, .him-proceed, .him-preview, .him-remove, .him-submit, .him-view,
input[type="submit"].him-add, input[type="submit"].him-cancel, input[type="submit"].him-checkout, input[type="submit"].him-confirm,
input[type="submit"].him-complete, input[type="submit"].him-edit, input[type="submit"].him-proceed, input[type="submit"].him-preview,
input[type="submit"].him-remove, input[type="submit"].him-submit, input[type="submit"].him-view{
  background-repeat: no-repeat;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
}

.him-add,
input[type="submit"].him-add{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 95 95' xml:space='preserve'%3E%3Cpath fill='%23fff' d='M92.49,35.284H59.206V2c0-1.104-0.896-2-2-2H37.284c-1.104,0-2,0.896-2,2v33.284H2c-1.104,0-2,0.896-2,2v19.922 c0,1.104,0.896,2,2,2h33.284V92.49c0,1.104,0.896,2,2,2h19.922c1.104,0,2-0.896,2-2V59.206H92.49c1.104,0,2-0.896,2-2V37.284 C94.49,36.18,93.596,35.284,92.49,35.284z'/%3E%3C/svg%3E");  background-position: 0.35em 0.5em;
  background-size: 1.7em;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
}

.him-checkout,
input[type="submit"].him-checkout,
.him-proceed,
input[type="submit"].him-proceed,
.him-submit,
input[type="submit"].him-submit{
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23FFF%22%20class%3D%22path1%22%20viewBox%3D%220%200%2026%2030%22%20d%3D%22M26.030%209.121l-15.818%2015.818q-0.212%200.152-0.394%200.152t-0.394-0.152l-9.273-9.273q-0.394-0.394%200-0.788l3.818-3.818q0.394-0.394%200.788%200l5.061%205.091%2011.606-11.636q0.394-0.394%200.788%200l3.818%203.818q0.394%200.394%200%200.788z%22%3E%3C/path%3E%3C/svg%3E);
  background-position: 0.45em 0.4em;
  padding: 0.5rem 1rem 0.5rem 2.6rem;
}

.him-confirm,
input[type="submit"].him-confirm,
.him-complete,
input[type="submit"].him-complete{
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23FFF%22%20class%3D%22path1%22%20viewBox%3D%220%200%2026%2030%22%20d%3D%22M26.030%209.121l-15.818%2015.818q-0.212%200.152-0.394%200.152t-0.394-0.152l-9.273-9.273q-0.394-0.394%200-0.788l3.818-3.818q0.394-0.394%200.788%200l5.061%205.091%2011.606-11.636q0.394-0.394%200.788%200l3.818%203.818q0.394%200.394%200%200.788z%22%3E%3C/path%3E%3C/svg%3E);
  background-position: 0.45em 0.4em;
  padding: 0.5rem 1rem 0.5rem 2.6rem;
}


.him-cancel,
input[type="submit"].him-cancel,
.him-remove,
input[type="submit"].him-remove{
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23fff%22%20viewBox%3D%220%200%2026%2030%22%20class%3D%22path1%22%20fill-rule%3D%22evenodd%22%20d%3D%22M24.424%2021.424q0.152%200.212%200.152%200.394t-0.152%200.394l-3.848%203.848q-0.212%200.152-0.394%200.152t-0.394-0.152l-6.697-6.697-6.697%206.697q-0.212%200.152-0.394%200.152t-0.394-0.152l-3.848-3.848q-0.152-0.212-0.152-0.394t0.152-0.394l6.697-6.697-6.697-6.697q-0.152-0.212-0.152-0.394t0.152-0.394l3.848-3.848q0.212-0.152%200.394-0.152t0.394%200.152l6.697%206.697%206.697-6.697q0.212-0.152%200.394-0.152t0.394%200.152l3.848%203.848q0.152%200.212%200.152%200.394t-0.152%200.394l-6.697%206.697z%22%3E%3C/path%3E%3C/svg%3E);
  background-position: 0.25em 0.45em;
  padding: 0.5rem 1rem 0.5rem 2.4rem;
}


.him-edit,
input[type="submit"].him-edit{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' y='0px' viewBox='0 0 1000 1000' xml:space='preserve'%3E%3Cpath fill='%23fff' d='M772.2,881.1H118.9V227.8H500l108.9-108.9H64.4c-30.1,0-54.4,24.4-54.4,54.4v762.2c0,30.1,24.4,54.4,54.4,54.4h762.2c30.1,0,54.4-24.4,54.4-54.4V391.1L772.2,500V881.1z'/%3E%3Cpath fill='%23fff' d='M881.1,10h-54.4l-490,490v163.3H500l490-490v-54.4L881.1,10z M445.6,608.9h-54.4v-54.4l54.4-54.4l54.4,54.4L445.6,608.9z M581.7,472.8l-54.4-54.4l299.4-299.4l54.4,54.4L581.7,472.8z'/%3E%3C/svg%3E");
  background-position: 0.4em 0.3em;
  background-size: 1.7em;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
}

.him-preview,
input[type="submit"].him-preview,
.him-view,
input[type="submit"].him-view{
  background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20fill%3D%22%23FFF%22%20class%3D%22path1%22%20viewBox%3D%220%200%2023%2032%22%20d%3D%22M23.192%2012.822q0.189%200.269%200%200.539-0.215%200.296-0.593%200.808t-1.589%201.805-2.492%202.276-3.165%201.791-3.717%200.808-3.69-0.768-3.219-1.872-2.451-2.209-1.63-1.886l-0.566-0.754q-0.189-0.269%200-0.539%200.216-0.296%200.593-0.808t1.589-1.805%202.492-2.276%203.165-1.791%203.717-0.808%203.69%200.768%203.205%201.859%202.424%202.168%201.616%201.832l0.566%200.781zM11.636%2017.455q1.805%200%203.084-1.279t1.279-3.084-1.279-3.084-3.084-1.279-3.084%201.279-1.279%203.084q0%201.832%201.266%203.098t3.098%201.266z%22%3E%3C/path%3E%3C/svg%3E);
  background-position: 0.35em 0.5em;
  padding: 0.5rem 1rem 0.5rem 2rem;
}

.him-btn-square{
  border-radius: 4px;
}

.him-black{
  background-color: ##1a1a1a;
}

.him-blue{
  background-color: #2f3e95;
}

.him-grey{
  background-color: #ccc;
}

.him-green{
  background-color: #37b98b;
}

.him-orange{
  background-color: #ffae00;
}

.him-red{
  background-color: #d43900;
}




//Logo for Heritage in Motion
.logo {
  background-image: url("../../images/heritage-in-motion/HiM_logo_landscape_delay.gif");
  .svg &{
    background-image: url("../../images/heritage-in-motion/HiM_logo_landscape_delay.gif");
  }
}

.header > .cf{
  border-color: $white;
}

.site-hero{
  height: auto;
  text-align: center;
  background-color: $accent;

  .hero-content{
    padding: $space;
  }

  .title{
    font-weight: bold;
  }

  h2.subtitle{
    text-transform: initial;
    font-size: 1.4em;
    margin-bottom: $space-double;
  }

  .cta-primary, .cta-primar{
    background-color: $contrast;
    font-size: 1.4em;
    border-color: $contrast;
    color: $black;

    &:hover{
      background-color: $white;
      border-color: $white;
      color: $accent;
    }
  }
}

.multiply{
  background-blend-mode: hard-light;
}

.competition-benefits{
  margin-top: $space;
  margin-bottom: $space-double;
  list-style-type: disc;
  list-style-position: inside;
}

.hero-content{
  background-color: rgba(0, 0, 0, 0.5);
}

.maker-types{
  margin-bottom: $space;

  li{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;

    &:before{
      content: "";
      display: block;
      width: 120px;
      height: 120px;
      margin: 0 auto 1em;
      //background-color: rgba(255, 255, 255, 1);
      //border: 4px solid #FFF;
      //border-radius: 200px;
      background-position: 50% 10px;
      background-size: cover;
    }

    @media all and (min-width: $bp-small) {
      width: 49%;
    }
    @media all and (min-width: $bp-small-3) {
      width: 27%;
    }
    @media all and (min-width: $bp-large) {
      width: 18%;
    }
  }

  .maker1:before{
    @include svg-bg-with-fallback("/heritage-in-motion/laptop_w");
  }
  .maker2:before{
    @include svg-bg-with-fallback("/heritage-in-motion/clapperboard_w");
  }
  .maker3:before{
    @include svg-bg-with-fallback("/heritage-in-motion/masks_w");
  }
  .maker4:before{
    @include svg-bg-with-fallback("/heritage-in-motion/easel_w");
  }
  .maker5:before{
    @include svg-bg-with-fallback("/heritage-in-motion/gallery_w");
  }
}

@media all and (min-width: $bp-med) and (min-height: 850px) {
  .site-hero{
    height: 80%;
  }

  .hero-content{
    position: absolute;
      top: 50%;
      left: 50%;
      @include translate (-50%, -50%);
      width: 80%;
    max-width: $max-width;
  }
}

// STATIC PAGES

// Generic page layout

.l-page{

  position: relative;
  background: $white; // fallback

  @media all and (min-width: $bp-med) {
    background: $offwhite; // fallback
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$offwhite), color-stop(50%,$offwhite), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1ee', endColorstr='#00ffffff',GradientType=1 );

  }

  &.no-sidebar{
    background: $white;

  }

  .textcontent, .l-sidebar, .l-breadcrumbs{
    position: relative;
    // z-index: 10;
  }

  .l-content{
    background: $white;
    @media all and (min-width: $bp-med) {
      @include span(18 of 24 wide no-gutter);
    }
  }

  .maincontent{
    background-color: $white;
    padding: $space-triple $space;
  }

  .item-rss{
    text-align: right;
    margin-top: -3rem;
    margin-bottom: 3.1rem;
  }

  .textcontent{
    background-color: $white;
    padding-bottom: $space-triple;

    @media all and (min-width: $bp-med) {
      max-width: 40em;
    }
  }


  @media all and (min-width: $bp-med) {
    //The coloured band that extends the breadcrumbs background colour to the left edge of the window
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: $globalnavheight + $space-triple;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #F8F8F8;
      z-index: -1;
    }
  }

}

.l-sidebar{
  position: relative;
  // z-index: 10;
  background: $offwhite;
  padding: $space;

  @media all and (min-width: $bp-med) {
    @include span(last 6 of 24);
    padding-top: $space * 6;
  }
}

.page_event .l-sidebar{
  @media all and (min-width: $bp-med) {
    min-height: 650px;
  }
}

.results-list,
.page-intro,
.articleheader{
  margin-bottom: $space-double;
}


.l-content .section, .entry-detail .section {
  padding: $space;
  margin-bottom: 0;
}

.footer_logo {
    max-width: 120px;
}

.l-supportedby .gi{

  float:left;
  max-width: 300px;

  &:last-child{
    margin-right: 0;
  }

}

// Secondary navigation over-ride
.nav_secondary .level1 > li > a.is-current{
  color: $white;
}

