
.cart-total{
	font-weight: bold;
}
.cart-total, .cart-method, .cart-checkout{
	margin-bottom: $space;
}

.cart-total, .cart-checkout{
	border: 2px solid $gray-lighter;
	border-width: 2px 0;
	padding: $space-half 0;
}

.submission-price{
	float: right;
}
.submission-select{
	float: left;
}