
.provider-association-list{
	font-size: 2em;

	button{
		display: block;
		float: left;
		color: $gray-light;
		background-color: transparent;
		padding: 0;

		&:hover{
			color: $gray-dark;
		}
	}

	button.connected, button[data-connected='true'] {
		color: $valid;
	}

	.members-oauth-provider{
		display: block;
		float: left;
	}
}



.account-header{
	border-bottom: 6px solid $gray-light;
}

.submission-list-item{
	margin-bottom: $space;
	background-color: $gray-lightest;
	padding: $space;
}
.submission-detail{
	margin-bottom: $space-half;
}

.submission-status{
	border: none;
	vertical-align: bottom;
	color: #FFF;
	margin-right: $space-quarter;
	margin-bottom: $space-quarter;

	.l-sidebar &{
		margin-bottom: $space-quarter;
	}

	&:hover{
		color: #FFF;
	}

	&.pending{
		background-color: $gray-lighter;
	}

	&.draft{
		background-color: $eu-yellow;
	}

	&.action{
		background-color: $eu-orange;
		&:hover{
			opacity: 0.9;
		}
	}

	&.approved{
		background-color: $eu-jade;
	}

	&.rejected{
		background-color: $black;
	}
}
.submission-meta{
	border: solid $gray-lighter;
	border-width: 1px 0;
	padding: $space-half 0;

	.cartform{
		display: inline-block;
	}
}

.submission-progress{
	margin-bottom: $space-quarter;

	@media all and (min-width: $bp-large) {
		display: inline;
	}
}

@media all and (min-width: $bp-large) {
	.submission-actions{
		float: right;
	}
}


.l-sidebar {
	h4{
		margin-bottom: $space-quarter;
	}
}
.account-item{
	margin-bottom: $space;
}

