@charset "UTF-8";
/*
 EUROPEANA Search

 Requires: Sass, Compass, Susy
*/
// Sass stuff
@import "compass/css3";
@import "../scss/generic/variables";

// Mixins
@import "../scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-user;
$textcolour_highlight: $accent;


// Reset
@import "../scss/generic/reset";

/*------------------------------------*\
	$GLOBAL ELEMENTS
\*------------------------------------*/
@import "../scss/base/global-classes";
@import "../scss/base/main";
@import "../scss/base/links";
@import "../scss/base/headings_simple";
@import "../scss/base/text";
@import "../scss/base/lists";
@import "../scss/base/media";
@import "../scss/base/forms";
@import "../scss/base/utility";
@import "../scss/base/tables";


/*------------------------------------*\
	$GRIDS
\*------------------------------------*/

@import "../scss/grid/susy";
//module layout using susy grid

$susy: (
  columns: 24,
  gutters: 1/2,
  math: fluid,
  use-custom: (
    box-sizing: false,
  ),
  global-box-sizing: border-box
);

@import "../scss/layout/layout-common-susy";
@import "../scss/layout/layout-blog-susy";


/*------------------------------------*\
	$PAGE STRUCTURE
\*------------------------------------*/
@import "../scss/objects/header";
@import "../scss/objects/footer";
@import "../scss/objects/sections";
@import "../scss/objects/blocks";
@import "../scss/objects/media_grid";
@import "../scss/objects/page_header";

/*------------------------------------*\
	PAGE/SECTION SPECIFIC
\*------------------------------------*/
@import "../scss/layout/layout-events";


/*------------------------------------*\
	$NAVIGATION
\*------------------------------------*/
//global nav styles - includes primary, secondary, tertiary and global offscreen navigation styles
@import "../scss/objects/nav";

//navigation types
@import "../scss/objects/navigation/pagination";
@import "../scss/objects/navigation/breadcrumbs";
//@import "../scss/objects/navigation/phase-flags";

/*------------------------------------*\
	Buttons and text Styles
\*------------------------------------*/
@import "../scss/objects/buttons";
@import "../scss/objects/tags";
@import "../scss/objects/metadata";
@import "../scss/objects/dates";
//@import "../scss/objects/category-flags";
//@import "../scss/objects/file-detail";
//@import "../scss/objects/attribution";
//@import "../scss/objects/social-share";
//@import "../scss/theme/hero-branding-v2";

// Global icons (svg)
@import "../scss/objects/icons/svgicons";
// license icons
//@import "../scss/objects/icons/icons-licenses";

/*------------------------------------*\
	Components
\*------------------------------------*/
@import "../scss/objects/controls/dropdown";
@import "../scss/objects/controls/buttonbar";
@import "../scss/objects/controls/sortby";
@import "../scss/objects/lists/list-item";
//@import "../scss/objects/controls/results-filter";
//@import "../scss/objects/controls/sparkline";
//@import "../scss/objects/controls/search-multiterm";
//@import "../scss/objects/controls/attribution-widget";
//@import "../scss/objects/controls/form-control-groups";
//@import "../scss/objects/controls/accordion-tabs";

/*------------------------------------*\
	SITE SPECIFIC - global
\*------------------------------------*/
@import "./him-site";

/*------------------------------------*\
	SITE SPECIFIC - modules
\*------------------------------------*/
// Search list item
//@import "./listitem";


/*------------------------------------*\
	Page specific
\*------------------------------------*/
//@import "./results-list";

