@charset "UTF-8";
/*
 EUROPEANA Search

 Requires: Sass, Compass, Susy
*/
// Sass stuff
@import "compass/css3";
@import "../scss/generic/variables";

// Mixins
@import "../scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: #2F3E95;
$textcolour_highlight: $accent;


// Reset
@import "../scss/generic/reset";

/*------------------------------------*\
	$GLOBAL ELEMENTS
\*------------------------------------*/
@import "../scss/base/global-classes";
@import "../scss/base/main";
@import "../scss/base/links";
@import "../scss/base/headings_simple";
@import "../scss/base/text";
@import "../scss/base/lists";
@import "../scss/base/media";
@import "../scss/base/forms";
@import "../scss/base/utility";
@import "../scss/base/tables";


/*------------------------------------*\
	$GRIDS
\*------------------------------------*/

@import "../scss/grid/susy";
//module layout using susy grid

$susy: (
  columns: 24,
  gutters: 1/2,
  math: fluid,
  use-custom: (
    box-sizing: false,
  ),
  global-box-sizing: border-box
);

@import "../scss/layout/layout-common-susy";
@import "../scss/layout/layout-blog-susy";


/*------------------------------------*\
	$PAGE STRUCTURE
\*------------------------------------*/
@import "../scss/objects/header";
@import "../scss/objects/footer";
@import "../scss/objects/sections";
@import "../scss/objects/blocks";
@import "../scss/objects/page_header";
@import "../scss/objects/blocks/site-hero";

/*------------------------------------*\
	PAGE/SECTION SPECIFIC
\*------------------------------------*/
@import "../scss/layout/layout-events";


/*------------------------------------*\
	$NAVIGATION
\*------------------------------------*/
//global nav styles - includes primary, secondary, tertiary and global offscreen navigation styles
@import "../scss/objects/nav";

//navigation types
@import "../scss/objects/navigation/pagination";
@import "../scss/objects/navigation/breadcrumbs";
//@import "../scss/objects/navigation/phase-flags";

/*------------------------------------*\
	Buttons and text Styles
\*------------------------------------*/
@import "../scss/objects/buttons";
@import "../scss/objects/tags";
@import "../scss/objects/metadata";
@import "../scss/objects/dates";


// Global icons (svg)
@import "../scss/objects/icons/svgicons";
// license icons
//@import "../scss/objects/icons/icons-licenses";

/*------------------------------------*\
	Components
\*------------------------------------*/
@import "../scss/objects/controls/buttonbar";
@import "../scss/objects/controls/sortby";
@import "../scss/objects/lists/list-item";
@import "../scss/objects/video";
@import "../scss/objects/controls/star-rating";
@import "../scss/objects/comments";
@import "../scss/objects/cart-small";
@import "../scss/objects/controls/paymentmethods";

/*------------------------------------*\
	JavaScript Components
\*------------------------------------*/
@import "../scss/objects/controls/dropdown";
@import "../scss/objects/lightbox";

/*------------------------------------*\
	SITE SPECIFIC - global
\*------------------------------------*/
@import "./him-site";

/*------------------------------------*\
	SITE SPECIFIC - modules
\*------------------------------------*/
// Search list item
//@import "./listitem";


/*------------------------------------*\
	Page specific
\*------------------------------------*/
@import "./him-page-entry-list";
@import "./him-page-entry-detail";
@import "./him-page-login";
@import "./him-page-user-profile";
@import "./him-page-payment";
@import "./him-page-person-detail";

