/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Base Colors
$white : #fff;
$offwhite : #fcfcfc;
$black : #212121;
$gray : #232323;
$gray-light : #D2D2D2;
$gray-light2 : #e5e5e5;

$gray-dark : #333;


//highlight colours
$labsgreen: #37B985;

$linkblue: #188AC7;

//$red2: #ca2b2f;
$red2: #eb4c59;
$blue: #1A8AC7;
$beige: #e5e0d4;
$green: #76C999;


// Assign colours to functions

// global page
$page_bg: $offwhite;

// text
$textcolour_head: $black;
$textcolour_body: $gray;
$textcolour_highlight: $labsgreen;
$textcolour_link: $linkblue;
$block_bg:  $beige;

$text_secondary: $gray-light;

// buttons
$tag_primary: $blue;
$tag_primary_text: $blue;
$tag_highlight: $gray;


$dim : rgba(0,0,0,0.5);
$dimmer : rgba(0,0,0,0.8);

$error : #f00;
$valid : #089e00;

$brand-facebook: #03539e;
$brand-twitter: #35ccff;
$brand-linkedin: #217bc1;

//Typography
$font-primary : "Open Sans", "Arial", sans-serif;
$font-secondary : "Ubuntu", "Arial", sans-serif;

$font-size-norm : 1em;
$font-size-slightly-smaller : 0.875em;
$font-size-sm : 0.75em;
$font-size-large : 1.6em;
$base-font-multiplier: 1;





//Layout
$max-width: 72rem;
$offset-left-1: 4.5rem;

$l-sidebar-width: 19.75rem;

//Defaults
$space : 1.6rem;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;
$pad : 1rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;


//Breakpoints
$bp-small : 24em;
$bp-small-2 : 30em;
$bp-small-3 : 40em;
$bp-med : 47em;
$bp-large : 50em;
$bp-xxl : 90em;

