
// The link that triggers the menu show/hide
.dropdown-trigger{
	text-transform: uppercase;
	font-weight: bold;
	color: $textcolour_body;
	position: relative;
	padding-right: 1em;
	white-space: nowrap;

	// A little down arrow
	&:after {
		content: '';
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid $textcolour_body;
		display: inline-block;
		position: absolute;
		margin-top: 0.6em;
		margin-left: 0.2em;
	}
}


// The menu portion
.dropdown {
	display: none;

	position: absolute;
	z-index: 1000;
	margin-top: 8px;
	background: $gray-lightest;
	min-width: 160px;
	max-width: 360px;
	list-style: none;
		
	border: solid 1px $gray87;
		
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	overflow: visible;

	// top arrow
	&:before {
	  position: absolute;
	  top: -12px;
	  left: 12px;
	  content: '';
	  border-left: 12px solid transparent;
	  border-right: 12px solid transparent;
	  border-bottom: 12px solid $gray87;
	  border-bottom-color: rgba(0, 0, 0, 0.2);
	  display: inline-block;
	}

	&:after {
	  position: absolute;
	  top: -11px;
	  left: 13px;
	  content: '';
	  border-left: 11px solid transparent;
	  border-right: 11px solid transparent;
	  border-bottom: 11px solid #FFF;
	  display: inline-block;
	}


	&.has-icons li > a {
		padding-left: 30px;
		background-position: 8px center;
		background-repeat: no-repeat;
	}

}

.dropdown-scroll{
	.dropdown-panel {
		max-height: 300px;
		overflow: auto;
	}
}

.menu-title{
	border-bottom: 1px solid $gray87;
	background-color: #FFF;
	color: $textcolour_link;
	margin-bottom: $space-quarter;
	padding: $space-quarter $space-half;
}

.menu-subtitle{
	padding: $space-quarter $space-half;
	padding-bottom: 0;
	font-size: $font-size-slightly-smaller;
}

.dropdown-menu{
	margin-bottom: $space-quarter;

	li {
		list-style: none;
		line-height: 1.2em;
	}

	li>a, label{
		display: block;
		color: $textcolour_body; 
		text-decoration: none;
		padding: 6px $space-half;
		margin: 0;
		white-space: nowrap;

		&:hover{
			background-color: $textcolour_link;
			color: #FFF;
			cursor: pointer;
		}
	}

	.menu-more{
		font-size: $font-size-slightly-smaller;
		color: $textcolour_link;
	}
}

.dropdown-divider {
	font-size: 0;
	border-top: solid 1px #E5E5E5;
	margin: 5px 0;
}


//select menu theme
.theme_select{
	.dropdown-trigger{
		display: block;
		padding: $space-half;
		border: 1px solid $gray-lighter;

		&:after {
			right: $space-half;
		}

		&:hover, &:focus{
			background-color: $gray-lightest;
		}
	}
}
