// Filter blocks for search results
//
// :hover             - Subtle hover highlight.
//
// Styleguide 1.0.0

.filter{
  .filter-moreless:after{
    border-color: $textcolour_body transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: '';
    display: inline-block;
    left: 4px;
    position: relative;
    top: 3px;
  }
  &.is-expanded{
    .filter-moreless:after{
      border-color: transparent transparent $textcolour_body;
      top: -1px;
    }
  }
}

.filter,
.filter-advanced{

  border-top: 1px solid $gray87;
  margin-bottom: $space-half;
  @include fontSize(14px);

  .subfilters &{
    border-top: none;
  }
}

.filter-advanced{
  .filter-moreless{
    @include fontSize(16px);
    top: 0.8rem;
    position: relative;
  }
}

.filter-name{
  color: $textcolour_body;
  margin: $space-half 0;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;

  .subfilters &{
    @include fontSize(12px);
    margin-bottom: $space-quarter;
  }
}

.filter-list{
  margin-bottom: $space-half;
}

.filter-wrap{
  position: relative;
  padding-left: $space;

}

.filter-list li{
  //display: inline-block;

  @media all and (min-width: $bp-med) {
    display: block;
  }
}

.filter-label{
  padding: 0.2em 0;

  input[type='checkbox']{
    margin-right: $space-half;
  }
}

.filter-num{
  color: $gray-light;
}

.filter-num,
.filter-text{
  display: inline-block;
}

.filter-extrafields, .filter-adv{
  margin-top: $space-half;
  padding-top: $space-half;
}

.filter-extrafields{
  border-top: 1px dashed $gray87;
}

.filter-extra-adv{

  a{
    color: $textcolour_body;
  }

  .filter-name{
    margin-top: $space-half;
  }
}

.subfilters{
  border-left: 1px solid $gray87;
  //background-color: rgba($gray87, 0.2);
  padding: $space-half;
  padding-bottom: $space-quarter;
  margin-bottom: $space-half;
  margin-top: $space-quarter;
  margin-left: 10px;

  .filter-name{
    margin-top: 0;
  }
}


// Date specific filter
.filter-date .filter-controls{

  & > .control-group{
  float: left;
  width: 50%;

    &:first-of-type{
      padding-right: 1em;
    }
  }

  label{
    @include fontSize(11px);
    padding-bottom: 0;
    text-transform: capitalize;
  }
}

// Colour filter
.filter-colour{
  .filter-list li{
    display: inline-block;
  }

  .filter-item{
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    border: 1px solid $gray87;
  }

  .filter-item:before{
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate (-50%, -50%);
    background-image: none;
  }

  .filter-item.is-checked:before {
        background: url(../../images/formcontrols.png) no-repeat;
    }
}


// Custom radio and checkboxes from links
// js needed to switch on/off

.filter-item{
  display: block;
  padding: 8px;
  border-radius: 5px;

  @media all and (min-width: $bp-med) {
    padding: 5px;
  }

  &:hover, &:focus{
    background-color: $white;
  }
}

.filter-item:before{
  content:'';
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 0.5em;
    background: url(../../images/formcontrols.png) no-repeat;
    border: none;
    cursor: pointer;
    background-position: 0 0;
    position: absolute;
    left: 0;
}

.radiobuttons > ul > li .filter-item:before{
    background-position: -88px 0;
}

.filter-boolean .filter-item,
.checkboxes > ul > li .filter-item{
    &.is-checked:before {
        background-position: -22px 0;
    }
    &.is-disabled:before {
        background-position: -44px 0;
        cursor: default;
    }
    &.is-checked.is-disabled:before {
        background-position: -66px 0;
    }
}

.radiobuttons > ul > li .filter-item{
    &.is-checked:before {
        background-position: -110px 0;
    }
    &.is-disabled:before {
        background-position: -132px 0;
        cursor: default;
    }
    &.is-checked.is-disabled:before {
        background-position: -154px 0;
    }
}


.filter-hierarchical > .filter-list > li{
  //only top level of hierarchical filters
  display: block;
}
