// Filter blocks for search results
//
// :hover             - Subtle hover highlight.
//
// Styleguide 1.0.0

.filter-closed{
  > ul,
  > form,
  > .filter-moreless{
    display: none;
  }
}

.filter{
  .filter-moreless::after{
    border-color: $textcolour_body transparent transparent;
    border-style: solid;
    border-width: 5px;
    content: '';
    display: inline-block;
    left: 4px;
    position: relative;
    top: 3px;
  }
  &.is-expanded{
    .filter-moreless::after{
      border-color: transparent transparent $textcolour_body;
      top: -1px;
    }
  }
}

.filter{
  @include fontSize(14px);
  background-color: $offwhite;
  border-top: 1px solid $gray87;
  margin-bottom: 0;

  &:nth-of-type(1){
    border-top: 0;
  }

  @media all and (min-width: $bp-med) {
    margin-bottom: $space-half;
    &:nth-of-type(1){
      border-top: 1px solid $gray87;
    }
  }

  .subfilters &{
    border-top: 0;
  }
}

.filter-advanced{
  .filter-moreless{
    @include fontSize(16px);
    position: relative;
    top: 0.8rem;
  }
}

.filter-name{
  background-color: #fff;
  box-sizing: content-box;
  color: $textcolour_body;
  cursor: pointer;
  font-weight: bold;
  margin: -$space-half;
  padding: $space-half;
  text-transform: uppercase;
  width: 100%;

  @media all and (min-width: $bp-med) {
    background: none;
    margin: $space-half 0;
    padding: 0;
    top: 1em;
  }

  .subfilters &{
    @include fontSize(12px);
    margin-bottom: $space-quarter;
  }
}

.refine{
  > .filter{
    position: relative;
    > .filter-name::after{
      border-color: transparent transparent $textcolour_body;
      border-style: solid;
      border-width: 5px;
      content: '';
      display: inline-block;
      position: absolute;
      right: 1em;
      top: 1.6em;

      @media all and (min-width: $bp-med) {
        top: 1.2em;
      }
    }

    &.filter-closed{
      > .filter-name::after{
        border-color: $textcolour_body transparent transparent;
        top: 2em;

        @media all and (min-width: $bp-med) {
          top: 1.6em;
        }
      }
    }
  }
}


.filter-list{
  margin-bottom: $space-half;

  @media all and (max-width: $bp-med) {
    margin-top: $space-half;
  }

}

.filter-mobile-summary{
  display: none;
}

.filter-item-separator{
  border-bottom: 1px solid $grey3;
  margin: 0.5em 0;
}



.refine.open .filter-mobile-summary{
  display: block;
  font-weight: normal;
  opacity: 0.5;
  text-transform: initial;
  @media all and (min-width: $bp-med) {
    display: none;
  }

  li{
    display: inline;
    &::after{
      content: ', ';
    }
    &:last-child::after{
      content: '';
    }
  }
}


.filter-wrap{
  padding-left: $space;
  position: relative;
}

.filter-list li{
  @media all and (min-width: $bp-med) {
    display: block;
  }
}

.filter-label{
  padding: 0.2em 0;

  input[type='checkbox']{
    margin-right: $space-half;
  }
}

.filter-num{
  color: $gray-light;
}

.filter-num,
.filter-text{
  display: inline-block;
}

.filter-extrafields,
.filter-adv{
  margin-top: $space-half;
  padding-top: $space-half;
}

.filter-extrafields{
  border-top: 1px dashed $gray87;
}

.filter-extra-adv{

  a{
    color: $textcolour_body;
  }

  .filter-name{
    margin-top: $space-half;
  }
}

.subfilters{
  border-left: 1px solid $gray87;
  margin-bottom: $space-half;
  margin-left: 10px;
  margin-top: $space-quarter;
  padding: $space-half;
  padding-bottom: $space-quarter;

  .filter-name{
    margin-top: 0;
  }
}

// Date specific filter
.filter-date .filter-controls{

  > .control-group{

    float: left;
    margin-bottom: .5rem;
    margin-top:    .5rem;
    padding-right: 1em;

    input,
    label{
      width: 5.2em;
    }
    &:last-of-type{
      float: right;
      padding-right: 0;
      text-align: right;
    }

    @media all and (max-width: $bp-small-2) {
      &:last-of-type{
        margin-top: 1.88em;
      }
    }

    @media all and (min-width: $bp-small-2) and (max-width: $bp-med) {
      text-align: center;
      width: 33%;
      label{
        display: inline;
      }
      &.date{
        input{
          margin-left: 0.5em;
        }
      }
      &:last-of-type{
        text-align: center;
      }
    }

    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
      &:last-of-type{
        width:      100%;
        button{
          width:      100%;
        }
      }
    }

    @media all and (min-width: $bp-large) and (max-width: $bp-xl) {
      &:last-of-type{
        text-align: center;
        width:      100%;
      }
    }

    @media all and (min-width: $bp-med) and (max-width: $bp-xl) {
      padding-right: 0;
      &.date.to{
        float: right;
        text-align: right;
        label{
          text-align: left;
        }
      }
    }

    @media all and (min-width: $bp-xl) and (max-width: $bp-xxl){
      &:last-of-type{
        margin-top: 1.62rem;
      }
    }

    @media all and (min-width: $bp-xxl){
      &:last-of-type{
        margin-top: 1.59rem;
      }
    }

  }

  label{
    @include fontSize(11px);
    padding-bottom: 0;
    text-transform: capitalize;
  }
}

// Colour filter
.filter-colour{
  .filter-list li{
    display: inline-block;
  }

  .filter-item{
    border: 1px solid $gray87;
    display: block;
    height: 40px;
    position: relative;
    width: 40px;
  }

  .filter-item::before{
    @include translate (-50%, -50%);
    background-image: none;
    left: 50%;
    position: absolute;
    top: 50%;
  }

  .filter-item.is-checked::before {
    background: url('../../images/formcontrols.png') no-repeat;
  }
}


// Custom radio and checkboxes from links
// js needed to switch on/off

.filter-item{
  border-radius: 5px;
  display: block;
  padding: 8px;

  @media all and (min-width: $bp-med) {
    padding: 5px;
  }

  &:hover,
  &:focus{
    background-color: $white;
  }
}

.filter-item::before{
  background: url('../../images/formcontrols.png') no-repeat;
  background-position: 0 0;
  border: 0;
  content: '';
  cursor: pointer;
  display: inline-block;
  height: 20px;
  left: 0;
  margin-right: 0.5em;
  position: absolute;
  vertical-align: middle;
  width: 20px;
}

.radiobuttons > ul > li .filter-item::before,
.radiobuttons .filter-extrafields li .filter-item::before{
  background-position: -88px 0;
}

.filter-boolean{
  @media all and (max-width: $bp-med) {
    .filter-item::before{
      left: 16px;
    }
  }
}

.filter-boolean .filter-item,
.checkboxes > ul > li .filter-item{
  &.is-checked::before {
    background-position: -22px 0;
  }
  &.is-disabled::before {
    background-position: -44px 0;
    cursor: default;
  }
  &.is-checked.is-disabled::before {
    background-position: -66px 0;
  }
}

.radiobuttons > ul > li .filter-item,
.radiobuttons .filter-extrafields li .filter-item{

  &.is-checked::before {
    background-position: -110px 0;
  }
  &.is-disabled::before {
    background-position: -132px 0;
    cursor: default;
  }
  &.is-checked.is-disabled::before {
    background-position: -154px 0;
  }
}
.filter-hierarchical > .filter-list > li{
  //only top level of hierarchical filters
  display: block;
}
