

.searchbar{
	display: table;
	width: 100%;
	margin: 0 auto;

	.search-multiterm{
		display: table-row;
	}

	.search-multiterm > div{
		display: table-cell;
		vertical-align: middle;
	}
	.submitarea{
		width: 1%;
	}

	.search-submit{
		height: 3em;
		width: 3em;
		font-weight: bold;
		color: $white;
		background: $eu-blue;
		border: none;
		border-radius: 4px;
		margin-left: $space-quarter;

		.icon{
			margin-right: 0;
		}

		&:hover, &:focus {
			background: $gray-dark;
		}
	}
}




.bootstrap-tagsinput {

	background-color: $white;
	border: 1px solid $gray-lighter;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
	padding: 8px 10px;
	margin: 0;
	border-radius: 4px;
	line-height: 2rem;
	cursor: text;
	@include fontSize(16px);

	input {
	  border: none;
	  box-shadow: none;
	  outline: none;
	  background-color: transparent;
	  padding: 0;
	  margin: 0;
	  width: auto !important;
	  max-width: inherit;
	}
	input:focus {
	  border: none;
	  box-shadow: none;
	}
	.tag {
	  color: white;
	  background-color: $accent;
	  padding: 0.2rem 0.4rem;
	  @include fontSize(14px);
	}
	.tag [data-role="remove"] {
	  margin-left: 8px;
	  cursor: pointer;
	}
	.tag [data-role="remove"]:after {
	  content: "x";
	  vertical-align: top;
	  padding: 0px 2px;
	}
	.tag [data-role="remove"]:hover {
	  color: $textcolour_body;
	}
	.tag [data-role="remove"]:hover:active {
	  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}

}


