.filterby,
.sortby{

   display: inline-block;

  .page_header &, .l-breadcrumbs & {
    display: table-cell;
    width: 25%;
    text-align: right;
  }

  label{
    font-size: $font-size-sm;
  }

  label, select{
    display: inline;
    padding:0;
  }
}