.sparkline{

}

.sparkline-data {
	display: table;
	width: 100%;
	border-bottom: 1px solid $gray-light;


	.index {
	  position: relative;
	  display: table-cell;
	  height: 5em;
	  cursor: default;

	  &:hover .count{
	  	background-color: $textcolour_link;
	  }
	}

	.count {
	  display: block;
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  width: 100%;
	  height: 0;
	  background: $accent;
	  border-right: 2px solid $paper;
	  overflow: hidden;
	  text-indent: -9999px;
	}

}

.sparkline-range {
	font-weight: bold;
	font-size: $font-size-slightly-smaller;
	overflow: hidden;
}
.sparkline-start{
	float: left;
}
.sparkline-end{
	float: right;
}