&lt;div class=&quot;site_blog site_wrapper&quot;&gt;

{{&gt; organisms-header}}


{{&gt; molecules-block-hero }}



&lt;div role=&quot;main&quot; class=&quot;grid_wrapper&quot;&gt;
	&lt;div class=&quot;grid&quot;&gt;
		&lt;div class=&quot;grid__item&quot;&gt;

			content here

		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;


{{&gt; organisms-footer }}

&lt;/div&gt;