/* line 3, style.scss */
.feedback {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  font-size: 16px;
  position: fixed;
  z-index: 12;
}
@media all and (max-width: 50em) {
  /* line 3, style.scss */
  .feedback {
    top: 100%;
    width: 100%;
  }
  /* line 13, style.scss */
  .feedback .icon-next {
    display: none;
  }
}
@media all and (min-width: 50em) {
  /* line 3, style.scss */
  .feedback {
    border-color: #293745 transparent #293745 #293745;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    right: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* line 26, style.scss */
.feedback.loaded {
  transition: all 0.2s ease-out 0s;
}
/* line 30, style.scss */
.feedback .open {
  display: block;
}
/* line 34, style.scss */
.feedback .close {
  display: none;
}
/* line 38, style.scss */
.feedback .open,
.feedback .close {
  font-size: 0.65em;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 45, style.scss */
.feedback .feedback-email {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
/* line 49, style.scss */
.feedback .feedback-email::-webkit-input-placeholder {
  text-transform: capitalize;
}
/* line 52, style.scss */
.feedback .feedback-email::-moz-placeholder {
  text-transform: capitalize;
}
/* line 55, style.scss */
.feedback .feedback-email::-ms-placeholder {
  text-transform: capitalize;
}
/* line 58, style.scss */
.feedback .feedback-email::placeholder {
  text-transform: capitalize;
}
/* line 61, style.scss */
.feedback .feedback-email.error {
  border-color: #f22f24;
}
/* line 66, style.scss */
.feedback .feedback-text {
  border-radius: 0.5em 0.5em 0 0;
}
/* line 69, style.scss */
.feedback .feedback-cancel,
.feedback .feedback-send {
  border-radius: 0.25em;
}
/* line 74, style.scss */
.feedback.open {
  max-width: 30em;
}
/* line 78, style.scss */
.feedback.open a.open {
  display: none;
}
/* line 81, style.scss */
.feedback.open a.close {
  display: block;
}
@media all and (max-width: 50em) {
  /* line 74, style.scss */
  .feedback.open {
    top: auto;
  }
}
@media all and (min-width: 50em) {
  /* line 74, style.scss */
  .feedback.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
/* line 95, style.scss */
.feedback .feedback-toggle {
  color: #fff;
  left: 0;
  position: absolute;
}
@media all and (max-width: 50em) {
  /* line 95, style.scss */
  .feedback .feedback-toggle {
    top: 0;
    width: 100%;
  }
}
@media all and (min-width: 50em) {
  /* line 95, style.scss */
  .feedback .feedback-toggle {
    bottom: 0;
  }
}
@media all and (min-width: 50em) {
  /* line 95, style.scss */
  .feedback .feedback-toggle {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
/* line 114, style.scss */
.feedback .feedback-toggle a {
  border: 0 none;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
@media all and (min-width: 50em) {
  /* line 114, style.scss */
  .feedback .feedback-toggle a {
    left: 100%;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
  }
  /* line 132, style.scss */
  .feedback .feedback-toggle a.open:hover, .feedback .feedback-toggle a.open:focus {
    background: #212121;
  }
  /* line 137, style.scss */
  .feedback .feedback-toggle a.close {
    background-color: #293745;
  }
}
@media all and (max-width: 50em) {
  /* line 114, style.scss */
  .feedback .feedback-toggle a {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
}
/* line 149, style.scss */
.feedback .feedback-toggle a,
.feedback .feedback-cancel,
.feedback .feedback-send {
  background-color: #1676aa;
  color: #fff;
  padding: 0.5em;
}
@media all and (max-width: 50em) {
  /* line 156, style.scss */
  .feedback .feedback-toggle a.close,
  .feedback .feedback-cancel.close,
  .feedback .feedback-send.close {
    top: 0;
    width: 100%;
  }
}
/* line 164, style.scss */
.feedback .feedback-toggle a {
  padding: 0.75em 1em;
}
/* line 168, style.scss */
.feedback .feedback-cancel,
.feedback .feedback-send {
  color: #fff;
  height: 2.45em;
  position: absolute;
  width: 2.45em;
}
/* line 174, style.scss */
.feedback .feedback-cancel svg.icon,
.feedback .feedback-send svg.icon {
  height: 1.4em;
  width: 1.4em;
}
/* line 180, style.scss */
.feedback .feedback-cancel {
  background-color: #ccc;
}
/* line 184, style.scss */
.feedback .feedback-send {
  right: 0;
}
/* line 188, style.scss */
.feedback #feedback-form {
  margin: 1em;
  padding-bottom: 3em;
}
/* line 192, style.scss */
.feedback #feedback-form .controls {
  position: relative;
}
/* line 196, style.scss */
.feedback #feedback-form .step2 {
  position: absolute;
  top: 0;
  visibility: hidden;
}
/* line 202, style.scss */
.feedback #feedback-form h2 .step2 {
  color: #1676aa;
}
/* line 206, style.scss */
.feedback #feedback-form p.step2 {
  position: absolute;
  top: 4em;
}
/* line 211, style.scss */
.feedback #feedback-form .step2 {
  margin-top: 1.6rem;
}
/* line 215, style.scss */
.feedback #feedback-form .feedback-counter {
  border-color: #908b85 #908b85;
  border-radius: 0 0 0.5em 0.5em;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #ccc;
  font-size: 0.875em;
  margin-bottom: 0.5em;
  padding: 0 0.5em 0.5em;
  position: relative;
  text-align: right;
  top: -7px;
}
/* line 229, style.scss */
.feedback #feedback-form .feedback-error {
  color: #f22f24;
  display: none;
  margin-bottom: 1rem;
}
/* line 237, style.scss */
.feedback #feedback-form .feedback-counter.error,
.feedback #feedback-form .feedback-text.error {
  border-color: #f22f24;
}
/* line 242, style.scss */
.feedback #feedback-form .feedback-accept-error,
.feedback #feedback-form .feedback-email-error,
.feedback #feedback-form .feedback-text-error {
  background-color: #f22f24;
  color: #ffffff;
  display: none;
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em;
}
/* line 252, style.scss */
.feedback #feedback-form .feedback-accept-error.error,
.feedback #feedback-form .feedback-email-error.error,
.feedback #feedback-form .feedback-text-error.error {
  display: block;
}
/* line 257, style.scss */
.feedback #feedback-form .feedback-text {
  border-color: #908b85 #908b85 -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  box-shadow: none;
  height: 90px;
  margin-bottom: 0;
  padding: 0.5em 0.5em 0;
  resize: none;
}
/* line 269, style.scss */
.feedback #feedback-form ul li {
  display: inline-block;
  margin-right: 10px;
}
/* line 273, style.scss */
.feedback #feedback-form ul li input {
  position: relative;
}
/* line 277, style.scss */
.feedback #feedback-form ul li label,
.feedback #feedback-form ul li input {
  display: inline;
  white-space: nowrap;
}
/* line 284, style.scss */
.feedback #feedback-form .disclaimer {
  padding-bottom: 1.6rem;
}
/* line 288, style.scss */
.feedback #feedback-form .disclaimer #accept-terms {
  margin-top: 1.6rem;
  margin-bottom: 0.5rem;
}
/* line 293, style.scss */
.feedback #feedback-form .disclaimer ul {
  list-style: circle;
}
/* line 297, style.scss */
.feedback #feedback-form .disclaimer [for=accept-terms] {
  display: inline;
}
/* line 299, style.scss */
.feedback #feedback-form .disclaimer [for=accept-terms].error a {
  color: #f22f24;
}
/* line 304, style.scss */
.feedback #feedback-form .disclaimer li {
  display: list-item;
  margin-left: 1.6rem;
}
/* line 310, style.scss */
.feedback #feedback-form h2 {
  font-size: 20px;
  margin: 0;
}
/* line 317, style.scss */
.feedback .feedback-spinner {
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url("spinner.gif");
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 0;
  color: #fff;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
