@import '../../../../sass/scss/generic/variables';

.feedback {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  font-size: 16px;
  position: fixed;
  z-index: 12;

  @media all and (max-width: $bp-med) {
    top: 100%;
    width: 100%;
    .icon-next{
      display: none;
    }
  }

  @media all and (min-width: $bp-med) {
    border-color: $blue-dark transparent $blue-dark $blue-dark;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    right: 0;
    transform: translateX(100%);
  }
  &.loaded{
    transition: all 0.2s ease-out 0s;
  }

  .open {
    display: block;
  }

  .close {
    display: none;
  }

  .open,
  .close {
    font-size: 0.65em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .feedback-text{
    border-radius: 0.5em 0.5em 0 0;
  }
  .feedback-cancel,
  .feedback-send{
    border-radius: 0.25em;
  }

  &.open{

    a.open {
      display: none;
    }
    a.close {
      display: block;
    }

    @media all and (max-width: $bp-med) {
      top: auto;
    }

    @media all and (min-width: $bp-med) {
      transform: translateX(0);
    }
  }

  .feedback-toggle {
    color: #fff;
    left: 0;
    position: absolute;

    @media all and (max-width: $bp-med) {
      top:   0;
      width: 100%;
    }

    @media all and (min-width: $bp-med) {
      bottom: 0;
    }

    @media all and (min-width: $bp-med) {
      transform: translateX(-100%);
    }

    a {
      border: 0 none;
      cursor: pointer;
      position: relative;

      text-align: center;
      text-decoration: none;
      vertical-align: middle;

      @media all and (min-width: $bp-med) {

        left:                     100%;
        transform:                rotate(270deg);
        -webkit-transform:        rotate(270deg);
        transform-origin:         bottom left;
        -webkit-transform-origin: bottom left;

        &.open {
          &:hover,
          &:focus {
            background: $gray-dark;
          }
        }
        &.close {
          background-color: $blue-dark;
        }
      }

      @media all and (max-width: $bp-med) {
        transform: translateY(-100%);
      }
    }
  }

  .feedback-toggle a,
  .feedback-cancel,
  .feedback-send{
    background-color: $eu-blue;
    color:            #fff;
    padding:          0.5em;

    &.close{
      @media all and (max-width: $bp-med) {
        top:   0;
        width: 100%;
      }
    }
  }

  .feedback-toggle a{
    padding: 0.75em 1em;
  }

  .feedback-cancel,
  .feedback-send{
    color:    #fff;
    height:   2.45em;
    position: absolute;
    width:    2.45em;
    svg.icon{
      height: 1.4em;
      width:  1.4em;
    }
  }

  .feedback-cancel{
    background-color: $gray-lighter;
  }

  .feedback-send{
    right: 0;
  }

  #feedback-form {
    margin: 1em;
    padding-bottom: 3em;
    .controls.step1{
      position: relative;
    }

    .step2{
      position: absolute;
      top: 0;
      visibility: hidden;
    }

    h2 .step2{
      color: $eu-blue;
    }

    p.step2{
      position: absolute;
      top: 4em;
    }

    .step2,
    .feedback-error{
      margin-top: $space;
    }

    .feedback-counter {
      border-color:  #908b85 #908b85;
      border-radius: 0 0 0.5em 0.5em;
      border-style:  none solid solid;
      border-width:  medium 1px 1px;
      color:         $gray-lighter;
      font-size:     $font-size-slightly-smaller;
      margin-bottom: 0.5em;
      padding:       0 0.5em 0.5em;
      position:      relative;
      text-align:    right;
      top:           -7px;
    }

    .feedback-error{
      color: $error;
      position: absolute;
      top: 0;
      visibility: hidden;
    }
    .feedback-counter,
    .feedback-text{
      &.error{
        border-color: $error;
      }
     }

    .feedback-text {
      border-color: #908b85 #908b85 -moz-use-text-color;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 1px medium;
      box-shadow: none;
      font-size: 14px;
      height: 90px;
      margin-bottom: 0;
      margin-top: 0.5em;
      padding: 0.5em 0.5em 0;
      resize: none;
    }

    ul li {
      display: inline-block;
      margin-right: 10px;

      input{
        position: relative;
        //top: 0.25em;
      }
      label,
      input{
        display: inline;
        white-space: nowrap;
      }
    }

    h2 {
      font-size: 20px;
      margin: 0;
    }

  }

  .feedback-spinner {
    background-color:    rgba(0, 0, 0, 0.75);
    background-image:    url('spinner.gif');
    background-position: center center;
    background-repeat:   no-repeat;
    bottom:              0;
    color:               #fff;
    display:             none;
    left:                0;
    position:            absolute;
    right:               0;
    top:                 0;
  }

}
