/* line 3, style.scss */
.feedback {
  background: white none repeat scroll 0 0;
  bottom: 0;
  font-size: 16px;
  position: fixed;
  z-index: 12;
}
@media all and (max-width: 50em) {
  /* line 3, style.scss */
  .feedback {
    top: 100%;
    width: 100%;
  }
  /* line 13, style.scss */
  .feedback .icon-next {
    display: none;
  }
}
@media all and (min-width: 50em) {
  /* line 3, style.scss */
  .feedback {
    border-color: #293745 transparent #293745 #293745;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    right: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
  }
}
/* line 26, style.scss */
.feedback.loaded {
  transition: all 0.2s ease-out 0s;
}
/* line 30, style.scss */
.feedback .open {
  display: block;
}
/* line 34, style.scss */
.feedback .close {
  display: none;
}
/* line 38, style.scss */
.feedback .open,
.feedback .close {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.65em;
}
/* line 45, style.scss */
.feedback .feedback-text {
  border-radius: 0.5em 0.5em 0 0;
}
/* line 48, style.scss */
.feedback .feedback-cancel,
.feedback .feedback-send {
  border-radius: 0.25em;
}
/* line 55, style.scss */
.feedback.open a.open {
  display: none;
}
/* line 58, style.scss */
.feedback.open a.close {
  display: block;
}
@media all and (max-width: 50em) {
  /* line 53, style.scss */
  .feedback.open {
    top: auto;
  }
}
@media all and (min-width: 50em) {
  /* line 53, style.scss */
  .feedback.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
/* line 73, style.scss */
.feedback .feedback-toggle {
  color: #fff;
  position: absolute;
  left: 0;
}
@media all and (max-width: 50em) {
  /* line 73, style.scss */
  .feedback .feedback-toggle {
    width: 100%;
    top: 0;
  }
}
@media all and (min-width: 50em) {
  /* line 73, style.scss */
  .feedback .feedback-toggle {
    bottom: 0;
  }
}
@media all and (min-width: 50em) {
  /* line 73, style.scss */
  .feedback .feedback-toggle {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}
/* line 92, style.scss */
.feedback .feedback-toggle a {
  border: 0 none;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
@media all and (min-width: 50em) {
  /* line 92, style.scss */
  .feedback .feedback-toggle a {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
  }
  /* line 105, style.scss */
  .feedback .feedback-toggle a.open {
    left: 23px;
    top: -23px;
  }
  /* line 108, style.scss */
  .feedback .feedback-toggle a.open:hover, .feedback .feedback-toggle a.open:focus {
    background: #212121;
  }
  /* line 112, style.scss */
  .feedback .feedback-toggle a.close {
    left: 23px;
    top: -23px;
    background-color: #293745;
  }
}
@media all and (max-width: 50em) {
  /* line 92, style.scss */
  .feedback .feedback-toggle a {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
}
/* line 126, style.scss */
.feedback .feedback-toggle a,
.feedback .feedback-cancel,
.feedback .feedback-send {
  background-color: #1676aa;
  color: #fff;
  padding: 0.5em;
}
@media all and (max-width: 50em) {
  /* line 133, style.scss */
  .feedback .feedback-toggle a.close,
  .feedback .feedback-cancel.close,
  .feedback .feedback-send.close {
    width: 100%;
    top: 0;
  }
}
/* line 141, style.scss */
.feedback .feedback-toggle a {
  padding: 0.75em 1em;
}
/* line 145, style.scss */
.feedback .feedback-cancel,
.feedback .feedback-send {
  color: #fff;
  position: absolute;
  width: 2.45em;
  height: 2.45em;
}
/* line 151, style.scss */
.feedback .feedback-cancel svg.icon,
.feedback .feedback-send svg.icon {
  width: 1.4em;
  height: 1.4em;
}
/* line 157, style.scss */
.feedback .feedback-cancel {
  background-color: #ccc;
}
/* line 161, style.scss */
.feedback .feedback-send {
  right: 0;
}
/* line 165, style.scss */
.feedback #feedback-form {
  margin: 1em;
  padding-bottom: 3em;
}
/* line 168, style.scss */
.feedback #feedback-form .controls.step1 {
  position: relative;
}
/* line 172, style.scss */
.feedback #feedback-form .step2 {
  visibility: hidden;
  position: absolute;
  top: 0;
}
/* line 178, style.scss */
.feedback #feedback-form h2 .step2 {
  color: #1676aa;
}
/* line 182, style.scss */
.feedback #feedback-form p.step2 {
  position: absolute;
  top: 4em;
}
/* line 187, style.scss */
.feedback #feedback-form .step2,
.feedback #feedback-form .feedback-error {
  margin-top: 1.6rem;
}
/* line 192, style.scss */
.feedback #feedback-form .feedback-counter {
  border-color: #908b85 #908b85;
  border-radius: 0 0 0.5em 0.5em;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #ccc;
  font-size: 0.875em;
  margin-bottom: 0.5em;
  padding: 0 0.5em 0.5em;
  position: relative;
  text-align: right;
  top: -7px;
}
/* line 206, style.scss */
.feedback #feedback-form .feedback-error {
  color: red;
  position: absolute;
  visibility: hidden;
  top: 0;
}
/* line 214, style.scss */
.feedback #feedback-form .feedback-counter.error,
.feedback #feedback-form .feedback-text.error {
  border-color: red;
}
/* line 219, style.scss */
.feedback #feedback-form .feedback-text {
  border-color: #908b85 #908b85 -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  box-shadow: none;
  font-size: 14px;
  height: 90px;
  margin-bottom: 0;
  margin-top: 0.5em;
  padding: 0.5em 0.5em 0;
  resize: none;
}
/* line 233, style.scss */
.feedback #feedback-form ul li {
  display: inline-block;
  margin-right: 10px;
}
/* line 237, style.scss */
.feedback #feedback-form ul li input {
  position: relative;
}
/* line 241, style.scss */
.feedback #feedback-form ul li label,
.feedback #feedback-form ul li input {
  display: inline;
  white-space: nowrap;
}
/* line 248, style.scss */
.feedback #feedback-form h2 {
  font-size: 20px;
  margin: 0;
}
/* line 255, style.scss */
.feedback .feedback-spinner {
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url(spinner.gif);
  background-repeat: no-repeat;
  background-position: center center;
  bottom: 0;
  color: #fff;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
