<p>
	<a href="#" class="tag tag_alpha">
		This
		<span class="tag-delete icon icon-round">delete</span>
	</a>
	<a href="#" class="tag tag_alpha">
		is a
		<span class="tag-delete icon icon-round">delete</span>
	</a>
	<a href="#" class="tag tag_alpha">
		tag
		<span class="tag-delete icon icon-round">delete</span>
	</a>
	<a href="#" class="tag tag_alpha">
		(alpha)
		<span class="tag-delete icon icon-round">delete</span>
	</a>

</p>

<p>
	<a href="#" class="tag tag_beta">Tag here
		<span class="tag-delete icon icon-round">delete</span>
	</a>
	<a href="#" class="tag tag_beta">
		is a
		<span class="tag-delete icon icon-round">delete</span>
	</a>
	<a href="#" class="tag tag_beta">
		tag
		<span class="tag-delete icon icon-round">delete</span>
	</a>
	<a href="#" class="tag tag_beta">
		(beta)
		<span class="tag-delete icon icon-round">delete</span>
	</a>
</p>

<p>
	<a href="#" class="tag tag_alpha tag_small">
		This is a tag (alpha)
		<span class="tag-delete icon icon-round">delete</span>
	</a>
</p>

<p>
	<a href="#" class="tag tag_beta tag_small">This is a tag (beta)
		<span class="tag-delete icon icon-round">delete</span>
	</a>
</p>