
<p>
	<a href="#" class="tag">
		This
	</a>
	<a href="#" class="tag">
		is a
	</a>
	<a href="#" class="tag">
		tag
	</a>
	<a href="#" class="tag">
		(alpha)
	</a>

</p>

<p>
	<a href="#" class="tag">
		<span class="tag-delete icon">delete</span>
		This
	</a>
	<a href="#" class="tag">
		<span class="tag-delete icon">delete</span>
		is a
	</a>
	<a href="#" class="tag">
		<span class="tag-delete icon">delete</span>
		tag
	</a>
	<a href="#" class="tag">
		<span class="tag-delete icon">delete</span>
		(alpha)
	</a>
</p>

<p>
	<a href="#" class="tag tag_beta">
		<span class="tag-delete icon">delete</span>
		This
	</a>
	<a href="#" class="tag tag_beta">
		<span class="tag-delete icon">delete</span>
		is a
	</a>
	<a href="#" class="tag tag_beta">
		<span class="tag-delete icon">delete</span>
		tag
	</a>
	<a href="#" class="tag tag_beta">
		<span class="tag-delete icon">delete</span>
		(beta)
	</a>
</p>