<!-- Begin Footer -->
<footer class="footer" role="contentinfo">

    <div class="grid_wrapper">
        <div class="grid">
            <div class="grid__item lap--two-thirds">

                {{> molecules-footer-nav }}

                <p class="copyright">Co-funded by the European Union.</p>
                
                <a class="licensehr" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                    <img alt="Creative Commons License" src="/images/cc.png">
                </a>

            </div><!--

        --><div class="grid__item lap--one-third">
                {{> molecules-social-links }}
            </div
        </div>
    </div>

</footer>
<!-- End Footer -->