<!-- Start Footer -->
<footer class="footer" role="contentinfo">
    <div class="lc">
        <div class="grid">

            <div class="l-contact">
                <div>
                    <a href="/"><img src="../../images/footer_logo.svg" alt="Europeana - think culture" /></a>
                </div>
                
                <div class="address">
                    ℅ Koninklijke Bibliotheek <br>
                    Prins Willem Alexanderhof 5<br>
                    2595 BE Den Haag
                </div>

            </div><!--

         --><div class="l-content">

                <div class="l-sitemap grid">
                {{> molecules-linklist-with-title(title: "&nbsp;") }}<!--
             -->{{> molecules-linklist-with-title(title: "More info") }}
                </div>

                <div class="grid">
                    <div class="l-mission">
                        <h4 class="title">Our Mission</h4>
                        <p>The Europeana Foundation and its Network create new ways for people to engage with European cultural history for work, learning or pleasure.</p>
                    </div><!--

                 --><div class="l-othersites">
                        {{> molecules-linklist-with-title:inline-list(title: "Explore Europeana") }}
                    </div>
                </div>
             </div><!--

        --><div class="l-nextsteps">

                <div class="signup">
                    {{> molecules-newsletter }}
                </div>
                
                {{> molecules-social-links }}
            </div
        </div>

    </div>

    <div class="sub-footer">

        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="http://europeana.eu/portal/rights/terms-and-policies.html">Terms &amp; policies</a></li>
        </ul>

        <p class="copyright">Co-funded by the European Union.</p>
        
    </div>


</div>
</footer>
<!-- End Footer -->