<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
    <div class="lc">


        <div class="grid">
            <div class="l-contact">
                <div>
                    {{> atoms-biglogo }}
                </div>
                
                <div class="address">
                    ℅ Koninklijke Bibliotheek <br>
                    Prins Willem Alexanderhof 5<br>
                    2595 BE Den Haag
                </div>

            </div><!--

        --><div class="l-content">

                <div class="l-sitemap grid">
                {{> molecules-footer-sitemap-links }}<!--
             -->{{> molecules-footer-sitemap-links }}
                </div>

                <div class="grid">
                    <div class="l-mission">
                        <h4>Our Mission</h4>
                        <p>The Europeana Foundation and its Network create new ways for people to engage with European cultural history for work, learning or pleasure.</p>
                    </div><!--

                 --><div class="l-othersites">
                        {{> molecules-footer-sitemap-links }}
                    </div>
                </div>
            </div><!--

        --><div class="l-nextsteps">

                <div class="signup">
                    <h4>Sign up for our newsletter</h4>
                    <<< TODO sign up form here >>>
                </div>
                
                {{> molecules-social-links }}
            </div
        </div>

    </div>

    <div class="sub-footer">

        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About us</a></li>
            <li><a href="http://europeana.eu/portal/rights/terms-and-policies.html">Terms &amp; policies</a></li>
        </ul>

        <p class="copyright">Co-funded by the European Union.</p>

        <a class="licensehr" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
            <img alt="Creative Commons License" src="/images/cc.png">
        </a>
        
    </div>


</div>
</footer>
<!-- End Footer -->