<!-- Begin .header -->
<header class="header cf" role="banner">
	<div class="lc">
	{{> atoms-logo }}
	<a href="#" class="nav-toggle nav-toggle-search icon-search"><span class="is-vishidden">Search</span></a>
	<a href="#" class="nav-toggle nav-toggle-menu icon-rows"><span class="is-vishidden">Menu</span></a>
	
	{{> molecules-search }}
	{{> molecules-labs-nav }}
	</div>
</header>
<!-- End .header -->