.breadcrumbs { 
	list-style: none;
	line-height: 1;

	a, .lastitem {
		display: inline-block;
		position: relative;
		padding: 0 $space-half;
		text-decoration: none;
	}

	li:first-of-type a{
		padding-left: 0;
	}

	a:after {
		content: "|";
		position: absolute; right: -0.3em; top: -8%;
	}

	a:hover {
		text-decoration: underline;
	}

	>li{
		display: inline;

		&:first-child a:before {
			display: none; 
		}

		&:last-child a:after {
			display: none; 
		}
	}

	&.breadcrumbs-arrows{
		a:after {
			content: ""; 
			border-top: 0.3em solid transparent;
			border-bottom: 0.3em solid transparent;
			border-left: 0.3em solid $gray-light;
			position: absolute; right: -0.3em; top: 50%;
			margin-top: -0.3em;
			z-index: 1;
		}

		a:hover:after {
			border-left-color: $textcolour_link;
		}		
	}

}