.breadcrumbs { 
	list-style: none;
	line-height: 1;
	font-family: $font-secondary;

	a, .lastitem {
		display: inline-block;
		padding: 1em 1.2em;
		position: relative;
		margin-right: 0.2em;
		text-decoration: none;
	}

	a:after {
		content: ""; 
		border-top: 0.3em solid transparent;
		border-bottom: 0.3em solid transparent;
		border-left: 0.3em solid $gray-light;
		position: absolute; right: -0.3em; top: 50%;
		margin-top: -0.3em;
		z-index: 1;
	}

	a:hover {

	}

	a:hover:after {
		border-left-color: $textcolour_highlight;
	}

	>li{
		display: inline;

		&:first-child a:before {
			display: none; 
		}

		&:last-child a:after {
			display: none; 
		}
	}

}