.breadcrumbs { 
	list-style: none;
	line-height: 1;
	font-family: $font-secondary;

	a {
		display: inline-block;

		padding: 1em 2em;
		position: relative;
		margin-right: 5px;
		text-decoration: none;

		&:after {
			content: "";  
			border-top: 0.5em solid transparent;
				border-bottom: 0.5em solid transparent;
				border-left: 0.5em solid $gray-light;
			position: absolute; right: -0.5em; top: 50%;
			margin-top: -0.5em;
			z-index: 1;
		}

		&:hover {

		}
		&:hover:after {
			border-left-color: $textcolour_highlight;
		}
		
	}

	>li{
		display: inline;

		&:first-child a:before {
			display: none; 
		}

		&:last-child a:after {
			display: none; 
		}
	}

}