#browse-menu{
  @media all and (max-width: $bp-med) {
    display: none;
  }

  >li{
    padding: 0.75rem;
    ul.menu-sublevel.caret.sm-nowrap{
        &:after{
          top: -15px;
        }
        &:before{
          top: -17px;
        }
      }
  }
  li{
    background-color: #293745;
    a{
      background-color: #293745;
      color: #fff;
      text-transform: capitalize;
      white-space: nowrap;
    }
  }


  span.sub-arrow{
    border-color: #fff transparent transparent;
    margin-left:  4em;
  }
  .menu-sublevel{
    background-color: $white;

    min-width: unset;
    max-width: unset;

    li{
      background-color: #293745;
      a{
        background-color: $white;
        color: $textcolour_body;
        &:hover{
          background-color: $offwhite;
        }
      }
    }
  }

  margin-left: 1rem;
}

.browse-menu-mobile{

  display: table;
  @media all and (min-width: $bp-med) {
    display: none;
  }

  background-color: white;
  box-sizing: content-box;
  @media all and (max-width: $bp-small-3) {
    box-sizing: border-box;
  }

  color: #000;
  margin-top: $space;
  padding: 0.5em 3.1rem 0.5em 0.4rem;
  @media all and (max-width: $bp-small-2) {
    padding: 0.5em 0.4rem 0.5em 0.4rem;
  }
  
  width: 100%;
  .browse-options{
    color: $eu-blue;
    display: table-cell;
    width: 100%;
    white-space: nowrap;

    .browse-option{
      display: inline-block;
      width:   20%;

      @media all and (max-width: $bp-small-3) {
        width:   18%;
      }
      @media all and (max-width: $bp-small-2) {
        width:   15%;
      }
    }
  }

  .text-mobile{
    border-left: 1px solid transparent;
    display: table-cell;
    white-space: nowrap;
    &:after{
      content: ':';
      margin-right: 1em;
    }
  }
}
