
#browse-menu{
  @media all and (max-width: $bp-med) {
    display: none;
  }

  >li{
    padding: 0.75rem;
    ul.menu-sublevel.caret.sm-nowrap{
        //border-color: 293745;
        &:after{
          top: -15px;
          //border-width: 9px;
        }
        &:before{
          top: -17px;
        }
      }
  }
  li{
    background-color: #293745;
    a{
      background-color: #293745;
      color: #fff;
      white-space: nowrap;
    }
  }

  span.sub-arrow{
    border-color: #fff transparent transparent;
    margin-left:  4em;
  }
  .menu-sublevel{
    background-color: $white;
    li{
      background-color: #293745;
      a{
        background-color: $white;
        color: $textcolour_body;
        &:hover{
          background-color: $offwhite;
        }
      }
    }
  }

  margin-left: 1rem;
}

.browse-menu-mobile{

  display: table;
  @media all and (min-width: $bp-med) {
    display: none;
  }

  background-color: white;
  box-sizing: content-box;
  color: #000;
  margin-top: $space;
  padding: 0.5em 3.1rem 0.5em 0.4rem;
  width: 100%;

  .browse-options{
    color: $eu-blue;
    display: table-cell;
    white-space: nowrap;

    @media all and (min-width: $bp-small-2) and (max-width: $bp-small-3) {
      position: relative;
      left: -2.5em;
    }

    .browse-option{
      display: inline-block;
      width:   25%;
      .icon-ellipsis{
        position: relative;
        left: 0-$space;
      }
      .browse-option-text{
        display: none;
        @media all and (min-width: $bp-small-3) {
          display: inline;
        }
      }
    }
  }

  .text-mobile{
    border-left: 1px solid transparent;
    display: table-cell;
    white-space: nowrap;
    &:after{
      content: ':';
      margin-right: 1em;
    }
  }
}
