
// Right floated Search and menu butons
.nav-global{
	float: right;
	z-index: 20;
	display: table;
}

.nav-toggle {
	display: table-cell;
	vertical-align: middle;
	padding: $space $space-half;
	line-height: 1;
	color: $textcolour_body;

	svg{
		pointer-events: none;
	}

	span{
		font-weight: 900;
		text-transform: uppercase;
	}

}

.nav-toggle:hover, 
.is-open-globalsearch .nav-toggle-search,
.is-open-menu-right .nav-toggle-menu{
	background-color: $offcanvas_bg;
	color: $white;
}

.nav-toggle-sites{
	//mobile first hidden
	display: none;

	background-color: $accent;
	color: $white;
	padding: 1em;
	padding-top: 0.8em;
	height: auto;
	border-bottom-right-radius: 0.3em;
	border-bottom-left-radius: 0.3em;
	margin-right: 0.3em;
}

.nav-toggle-search{
	//mobile first hidden
	display: none;
}

//hover + toggled item is open
.nav-toggle-menu{
	background-color: $textcolour_head;
	color: $white;
}

// OFF CANVAS MENUS

//Our Sites - global top drawer
.our-sites{

	background-color: $white;
	padding: 0 $space;

	.l-linklist .inner{
		border-top: 6px solid $textcolour_head;
		padding: $space 0;
	}

	li {
		display: inline-block;
	}
}

.globallink{
	margin-bottom: $space-half;
	a{
		color: $textcolour_body;
	}
}
.globallink-title{
	@include fontSize(16px);
	color: $textcolour_head;
	margin-bottom: $space-quarter;
}
.globallink-desc{
	@include fontSize(12px);
}






//class for all off-canvas drawers
.drawer{
	position: fixed;
	z-index: 1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;

	background-color: $offcanvas_bg;
	color: $offwhite;
	padding: $space;
}

.pusher, .nav-global{
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;

	.is-open-menu-right & {
		-webkit-transform: translate3d(-$menuwidth_right, 0, 0);
		transform: translate3d(-$menuwidth_right, 0, 0);
	}
}

// Whole site wrapper element for push effect
.pusher {
	position: relative;
	min-height: 100%;
	*zoom: 1;
}
.pusher:before, .pusher:after {
    content: " "; 
    display: table;
}
.pusher:after {
    clear: both;
}



.menu-right {

	top: 0;
	height: 100%;
	z-index: 200;

	width: $menuwidth_right;
	right: -$menuwidth_right;

	//right menu is open - body class
	.is-open-menu-right & {
		-webkit-transform: translate3d(-$menuwidth_right, 0, 0);
		transform: translate3d(-$menuwidth_right, 0, 0);
	}

	.search{
		margin-bottom: $space;
	}

	li a{
		display: block;
		padding: $space-quarter $space-half;
		color: white;

		&:hover{
			background-color: lighten($offcanvas_bg, 5);
		}
		&:hover:after{
			border-color: $white;
		}
	}

	.primary{
		font-weight: bold;
	}

	.secondary{
		li{
			border-bottom: 1px solid lighten($offcanvas_bg, 5);
		}
	}

}

.menu-top {

	//mobile first hidden
	display: none;

	top: 0;
	z-index: 200;
	width: 100%;
	max-height: 0;
	overflow: hidden;

	-webkit-transition: max-height 0.3s, -webkit-transform 0.3s;
	transition: max-height 0.3s, transform 0.3s;

	-webkit-transform: translate3d(0, -3em, 0);
	transform: translate3d(0, -3em, 0);


	//top menu is open - body class
	.is-open-menu-top & {
		max-height: 800px;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

}






// global search top menu
.search-global{
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.3s;
	transition: max-height 0.3s;
	background-color: $offcanvas_bg;
	
	.inner{
		padding: $space;
	}

	form{
		position: relative;	
	}

	input[type=text] { 
		border:none;
		outline:none;
		padding: $space-half;
		height: 48px;
	}

	button {
		position:absolute;
		right:2px;
		top:2px;
		height: 44px;

		border: none;
		color: $white;
		text-transform: uppercase;
		font-weight: bold;

		background-color: $eu_blue;
		border-radius:2px;
		cursor:pointer;
	}

	// global search is open - body class
	.is-open-globalsearch & {
		max-height: 200px;
	}

}

// Responsive Hide and show
@media all and (min-width: $bp-med) {

	.menu-right, .nav-toggle-menu{
		display: none;
	}

	.menu-top, .nav-toggle-sites{
		display: block;
	}

	.nav-toggle-search{
		display: table-cell;
	}
}

