// .nav_secondary{

// 	overflow: hidden;
// 	margin-bottom: $space;

// 	li{
// 		li{
// 			padding: $pad-half 0;
// 			border-bottom: none;
// 		}
// 	}

// 	a {
		
// 		color: $textcolour_body;
// 		display: block;
// 		padding: $pad-half 0;
// 		border-bottom: solid 1px $gray-lighter;

// 		&.active {
// 			background: $textcolour_highlight;
// 			color: $white;
// 		}
// 	}

// 	&>li>a{
// 		//font-weight: bold;

// 		&:hover, &:focus, &:active {
// 			color: $textcolour_link;
// 			text-decoration: underline;
// 		}
// 	}


// 	//sub menus
// 	ul{
// 		margin-top: $space-half; 

// 		li{
// 			a{
// 				border-bottom: none;
// 				&:hover, &:focus, &:active {
// 					color: $textcolour_highlight;
// 				}
// 			}
// 		}
// 	}

// 	.is_open{
		
// 		& > a{
// 			border-bottom: none;
// 			color: $textcolour_highlight;
// 		}

// 		ul{
// 			display: block;
// 		}
// 	} 
// }





.nav_secondary{

	& > ul {
		//border-top: solid 1px $gray-lighter;
	}

	a {
		display: block;
		padding: $space-half;
		position: relative;
		color: $textcolour_body;

		&:hover, &:focus{
			background-color: $gray-lightest;
		}
	}

	.level1 > li > a{
		border-top: 3px solid $gray87;
		text-transform: uppercase;
		font-weight: bold;
		color: $textcolour_head;

		&:hover{
			color: $textcolour_body;
		}

		&.is-current{
			font-weight: bold;
			background-color: $accent;
		}
	}

	.level2{
		padding-bottom: $space-half;
		@include fontSize(14px);
	}

	.level2 > li > a{
		padding: $space-quarter $space-half;
		margin-bottom: 3px;

		&:hover{
			color: $textcolour_body;
		}

		&.is-current{
			font-weight: bold;
			background-color: $accent;
			color: $white;
		}
	}

	.level3 > li > a{
		padding: $space-quarter $space-half;
		color: $peachy;
		text-decoration: underline;
		margin-left: $space-half;
	}



	.has-subnav{
		
		& > ul {
		  display: none;
		}

		& > a:after {
			content: '+';
			position: absolute;
			top: 50%;
			right: 5%;
			@include translate (0, -50%);
			display: block;
		}

		& > a.active:after {
			content: "-";
		}

	}


	.is-current{
		.level1 &{
			font-weight: bold;
			background-color: $offwhite;
		}
		
	}

} 

