/* Mobile first layout SmartMenus Core CSS (it's not recommended editing these rules)
   You need this once per page no matter how many menu trees or different themes you use.
-------------------------------------------------------------------------------------------*/

.sm,
.sm ul,
.sm li{
  display:block;
  list-style:none;
  margin:0;
  padding:0;
  line-height:normal;
  direction:ltr;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.sm-rtl,
.sm-rtl ul,
.sm-rtl li{
  direction:rtl;
  text-align:right;
}

.sm>li>h1,
.sm>li>h2,
.sm>li>h3,
.sm>li>h4,
.sm>li>h5,
.sm>li>h6{
  margin:0;padding:0;
}

.sm ul{
  display:none;
}

.sm li,
.sm a{
  position:relative;
}

.sm a{
  display:block;
}

.sm a.disabled{
  cursor:not-allowed;
}

.sm:after{
  content:"\00a0";
  display:block;
  height:0;
  font:0px/0 serif;
  clear:both;
  visibility:hidden;
  overflow:hidden;
}

.sm,
.sm *,
.sm *:before,
.sm *:after{-moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

/* Your rules to style the menu in mobile view (collapsible mode) here... */


@media (min-width: $bp-med) {

	/* Switch to desktop layout
	-----------------------------------------------
	   These transform the menu tree from
	   collapsible to desktop (navbar + dropdowns)
	-----------------------------------------------*/
	/* start... (it's not recommended editing these rules) */
	.nav-access ul{
    position:absolute;
  }

	.nav-access li{
    float:left;
  }

	.nav-access.sm-rtl li{
    float:right;
  }

	.nav-access ul li,
  .nav-access.sm-rtl ul li,
  .nav-access.sm-vertical li{
    float:none;
  }

	.nav-access a{
    white-space:nowrap;
  }

	.nav-access ul a,
  .nav-access.sm-vertical a{
    white-space:normal;
  }

	.nav-access .sm-nowrap > li > a,
  .nav-access .sm-nowrap > li > :not(ul) a{
    white-space:nowrap;
  }
	/* ...end */

	/* Your rules to style the menu in desktop view here... */

  .nav_primary.nav-access {
    // Toggle buttons (sub menu indicators)
		a{
      span.sub-arrow {
        top: 50%;
        float: right;
        margin-top: 0.5em;
        margin-left: $pad-quarter;
        right: 12px;
        width: 0;
        border-width: 4px;
				border-style: solid dashed dashed dashed;
        border-color: $gray-light transparent transparent transparent;
        background: transparent;
        overflow: hidden;
      }
      &.highlighted span.sub-arrow:before {
				display: none;
      }
      &:hover {
        background-color: $offwhite;
      }
    }
    // Style for hover/sub menu
    li{
      ul{
        a {
          font-size: $font-size-slightly-smaller;
          font-weight: normal;
          line-height: 1.2;
          color: $textcolour_body;
          padding: 0.4em 0.6em;
          &:after {
            border-bottom: none;
          }
          // Sub menu carets
          span.sub-arrow {
            margin-top: 5px;
            width: 0;
            height: 0;
            overflow: hidden;
            border-width: 5px;
            border-style: dashed dashed dashed solid;
            border-color: transparent transparent transparent $gray-light;
          }
        }
      }
      .see_more{
        font-size: $font-size-slightly-smaller;
        font-weight: bold;
        color: $accent;
        padding: 0.7em 0.6em;
        &:hover {
          color: $black;
        }
      }
      .menu-section{
        border-top: 1px solid $gray87;
        padding: 0.6em 0.6em 0.2em 0.6em;
        font-size: $font-size-sm;
        color: $gray-light;
      }
      .section-message{
        padding: 0 0.6em;
        font-size: $font-size-sm;
        color: $gray-med;
        line-height: 1.3;
        padding-bottom: $pad-half;
      }
    }
    .sublevel{
      width: 12em;
      background: $white;
      box-shadow: rgba(77, 77, 77, 0.2) 0 0 3px;
      li{
        float: none;
      }
    }
    .sublevel-caret{
      @extend .sublevel;
      // First sub level carets
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: -18px;
        left: 30px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-width: 9px;
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $gray87 transparent;
      }
      &:after {
        top: -16px;
        left: 31px;
        border-width: 8px;
        border-color: transparent transparent $white transparent;
      }
    }
    .header & {
      overflow: visible;
    }
  }
}


