
// Next, previous and back to search results navigation
// See Molecules/navigation/next-previous.mustache

.next-previous{
	text-align: left;
	padding: $space 0;

	/*
	&.nav li{
		margin-right: $space-half; 
	}
	*/

	.previous{
	 	@include span(first 4 of 24);
	}

    .next{
		float: right;
		margin-right: 0;
    }
}