//Pagination
.pagination {
	overflow: hidden;
	margin-bottom: $space;
	text-align: center;
	font-size: 0;

	li {
		display: inline-block;
		border-right: 1px solid $grey2;
		@include fontSize(16px);

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad-half $pad;
		display: block;
		font-weight: bold;
		color: $textcolour_body;
		&:hover{
			background-color: $offwhite;
			color: $textcolour_body;
		}
	}


	.is-disabled a{

		cursor: default;
		pointer-events: none;
		cursor: default;
		/*
		&:hover{
			background-color: inherit;
			color: inherit;
		}
		*/
	}

	.current a, .is-current a{
		color: $white;
		font-weight: bold;
		background-color: $textcolour_body;

		&:hover{
			background-color: $textcolour_link;
		}
	}
}