&lt;div class=&quot;labs-item block block-thumb block-thumb-small&quot;&gt;

		&lt;div class=&quot;b-thumb&quot;&gt;
			&lt;a href=&quot;{{ link.templates-labs-detail }}&quot;&gt;
				{{&gt; atoms-square }}
			&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;b-text&quot;&gt;

			&lt;h5&gt;&lt;a href=&quot;{{ link.templates-labs-detail }}&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/h5&gt;

			{{&gt; molecules-tags-alt}}
		&lt;/div&gt;

&lt;/div&gt;