
<h5>General web</h5>
<ul class="sg-icons inline-list">
	<li class="icon-search"></li>
	<li class="icon-rows"></li>
	<li class="icon-link"></li>
	<li class="icon-lock"></li>
	<li class="icon-unlock"></li>
	<li class="icon-rss"></li>
	<li class="icon-tag"></li>
	<li class="icon-flag"></li>
	<li class="icon-backspace"></li>
	<li class="icon-location"></li>
	<li class="icon-check"></li>
	<li class="icon-delete"></li>
	<li class="icon-plus"></li>
	<li class="icon-hyphen"></li>
</ul>

<h5>Communication</h5>
<ul class="sg-icons inline-list">
	<li class="icon-phone"></li>
	<li class="icon-mail"></li>
	<li class="icon-send"></li>
	<li class="icon-reply"></li>
	<li class="icon-inbox"></li>
	<li class="icon-chat"></li>
	<li class="icon-ellipsischat"></li>

</ul>

<h5>Media and playback</h5>

<ul class="sg-icons inline-list">
	<li class="icon-picture"></li>
	<li class="icon-camera"></li>
	<li class="icon-mic"></li>
	<li class="icon-video"></li>

	<li class="icon-play"></li>
	<li class="icon-stop"></li>
	<li class="icon-record"></li>
	<li class="icon-rewind"></li>
	<li class="icon-fastforward"></li>
	<li class="icon-skipback"></li>
	<li class="icon-skipforward"></li>
	<li class="icon-volume"></li>
	<li class="icon-highvolume"></li>
</ul>

<h5>Documents, Books and files</h5>

<ul class="sg-icons inline-list">
	<li class="icon-book"></li>
	<li class="icon-openbook"></li>
	<li class="icon-newspaper"></li>
</ul>

<h5>People and users</h5>
<ul class="sg-icons inline-list">
	<li class="icon-user"></li>
	<li class="icon-femaleuser"></li>
	<li class="icon-users"></li>
</ul>

