<ol class="colour-grid">
  [[#items]]
    <li class="colour-grid-item">
      <a [[#url]]href="[[.]]"[[/url]]>
        <span class="colour-sample" style="background-color:[[hex]];"></span>
        <span class="colour-hex">[[#hex]][[.]][[/hex]][[^hex]]&nbsp;[[/hex]]</span>
        [[#colourName]]<span class="colour-name">[[.]]</span>[[/colourName]]
      </a>
    </li>
  [[/items]]
</ol>
