<ol class="colour-grid">
  [[#items]]
    <li class="colour-grid-item">
      <a [[#url]]href="[[.]]"[[/url]]>
        <span class="colour-sample" style="background-color:[[hex]];"></span>
        <span class="colour-hex">[[#hex]][[.]][[/hex]][[^hex]]&nbsp;[[/hex]]</span>
        <span class="colour-name">[[#colourName]][[.]][[/colourName]][[^colourName]]&nbsp;[[/colourName]]</span>
      </a>
    </li>
  [[/items]]
</ol>
