<div class="gridlayout width-main">
  <div class="gridlayout width-12 align-right">
    <a href="{{url}}" class="link-to-button">{{#text}}{{.}}{{/text}}{{^text}}{{i18n.global.more.load-more}}{{/text}}</a>
  </div>
</div>
