{{#title}}
  <div class="gridlayout width-main no-row-gap">
    <div class="gridlayout width-6">
      {{#anchor_title}}<a class="browse-list-anchor" name="{{title}}"></a>{{/anchor_title}}
      <h4 class="browse-list-title">
      	<span>{{.}}</span>
        {{#diacritics}}
          <span>{{.}}</span>
        {{/diacritics}}
     	</h4>
      {{#description}}<p>{{.}}</p>{{/description}}
    </div>
  </div>
{{/title}}
