

&lt;div class=&quot;g g-max4&quot;&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
&lt;/div&gt;


&lt;div class=&quot;l-grid-media&quot;&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
	&lt;div class=&quot;gi&quot;&gt;
		{{&gt; molecules-block-thumb }}
	&lt;/div&gt;
&lt;/div&gt;