<figure class="ve-chapter-selection">
  <a href="{{url}}">
    {{#label}}<span class="ve-label">{{.}}</span>{{/label}}
    <div class="ve-chapter-selection-content">
      <div class="inner">
        <div class="ve-chapter-selection-state">
          <img src="{{image.thumbnail}}" />
          <div class="text-box title">
            {{title}}
          </div>
        </div>
      </div>
    </div>
  </a>
</figure>