This is the simplified, single-state card (the 3rd slide of the exhibition-specific foyer).
<br>
<br>
See the bottom of this page:
<br>
  <a href="https://projects.invisionapp.com/share/HU637K6XE#/screens/132835116">here</a>
<br>
<br>
<br>
(ticket complete when this appears in the styleguide)

