<figure class="ve-foyer-card">

  {{#state_1_label}}<span class="ve-label">{{.}}</span>{{/state_1_label}}

  <div class="ve-foyer-card-content">

    <div class="inner">

      <span class="ve-card-nav ve-card-nav-left">
        <svg class="icon icon-previous"><use xlink:href="#icon-previous"></use></svg>
      </span>
      <span class="ve-card-nav ve-card-nav-right">
        <svg class="icon icon-next"><use xlink:href="#icon-next"></use></svg>
      </span>

      <div class="ve-state-buttons">
        <span class="ve-state-0 ve-state-button-on"></span>
        <span class="ve-state-1 ve-state-button-off"></span>
        <span class="ve-state-2 ve-state-button-off"></span>
      </div>

      <div class="ve-foyer-card-state">
        <img src="{{state_1_image.thumbnail.url}}" />
        {{#state_1_title}}
          <div class="text-box title">
          {{#state_1_link}}
              <a href="{{state_1_link}}">{{state_1_title}}</a>
          {{/state_1_link}}
          {{^state_1_link}}
              {{state_1_title}}
          {{/state_1_link}}
          </div>
        {{/state_1_title}}
      </div>

      <div class="ve-foyer-card-state hide-right{{#state_2_title}} shaded{{/state_2_title}}">
        <img src="{{state_2_image.thumbnail.url}}" />
        {{#state_2_title}}
          <div class="text-box description">
          {{#state_2_link}}
              <a href="{{state_2_link}}">{{state_2_title}}</a>
          {{/state_2_link}}
          {{^state_2_link}}
              {{state_2_title}}
          {{/state_2_link}}
          </div>
        {{/state_2_title}}
      </div>

      <div class="ve-foyer-card-state hide-right">
        <img src="{{state_3_image.thumbnail.url}}" />
        {{#state_3_title}}
          <div class="text-box credits">
          {{#state_3_link}}
              <a href="{{state_3_link}}">{{state_3_title}}</a>
          {{/state_3_link}}
          {{^state_3_link}}
              {{state_3_title}}
          {{/state_3_link}}
          </div>
        {{/state_3_title}}
      </div>
    </div>
  </div>

</figure>
