<figure class="ve-foyer-card dark">
  <div class="ve-foyer-card-content">
    <div class="inner">
      <span class="ve-card-nav ve-card-nav-left">
        <span class="svg-icon-previous blue-black"></span>
        <span class="is-vishidden">[[i18n.global.actions.previous]]</span>
      </span>
      <span class="ve-card-nav ve-card-nav-right">
        <span class="svg-icon-next blue-black"></span>
        <span class="is-vishidden">[[i18n.global.actions.next]]</span>
      </span>
      <div class="ve-state-buttons">
        <span class="ve-state-0 ve-state-button-on"></span>
        [[#description]]<span class="ve-state-1 ve-state-button-off"></span>[[/description]]
        [[#logo]]<span class="ve-state-2 ve-state-button-off"></span>[[/logo]]
      </div>
      <div class="ve-foyer-card-state">
        [[#url]]<a href="[[.]]">[[/url]]
          <img src="[[images]]"/>
        [[#url]]</a>[[/url]]
      </div>
      [[#description]]
      <div class="ve-foyer-card-state hide-right shaded">
        [[#url]]<a href="[[.]]">[[/url]]
          <img src="[[images]]"/>
          <div class="text-box description">
            [[[description]]]
          </div>
        [[#url]]</a>[[/url]]
      </div>
      [[/description]]
      [[#logo]]
       <div class="ve-foyer-card-state hide-right">
        [[#url]]<a href="[[.]]">[[/url]]
          <img src="[[images]]"/>
          <div class="text-box credits">
            <img src="[[logo]]"/>
          </div>
        [[#url]]</a>[[/url]]
      </div>
      [[/logo]]
    </div>
  </div>
</figure>
