<figure class="ve-foyer-card dark">
  <div class="ve-foyer-card-content">
    <div class="inner">
      <span class="ve-card-nav ve-card-nav-left">
        <span class="svg-icon-previous blue-black"></span>
        <span class="is-vishidden">[[i18n.global.actions.previous]]</span>
      </span>
      <span class="ve-card-nav ve-card-nav-right">
        <span class="svg-icon-next blue-black"></span>
        <span class="is-vishidden">[[i18n.global.actions.next]]</span>
      </span>
      <div class="ve-state-buttons">
        <span class="ve-state-0 ve-state-button-on"></span>
        <span class="ve-state-1 ve-state-button-off"></span>
        <span class="ve-state-2 ve-state-button-off"></span>
      </div>
      [[#items]]
        <div class="ve-foyer-card-state [[#body]]hide-right shaded[[/body]] [[#logo]]hide-right[[/logo]]">
          <img src="[[image.thumbnail.url]]"/>

          [[#body]]
          <div class="text-box description">
          [[#url]]
            <a href="[[url]]">[[[body]]]</a>
          [[/url]]
          [[^url]]
            [[body]]
          [[/url]]
          </div>
          [[/body]]

          [[#logo]]
            <div class="text-box credits">
            [[#url]]
              <a href="[[url]]"><img src="[[thumbnail.url]]"/></a>
            [[/url]]
            </div>
          [[/logo]]  
        </div>
      [[/items]]
    </div>
  </div>
</figure>
