<div id="{{id}}" class="ve-base ve-base-intro ve-{{id}} {{type}}{{#is_foyer}} ve-base-foyer-main{{/is_foyer}}"{{#alchemy_id}} data-alchemy-element="{{.}}"{{/alchemy_id}}>
  {{#image}}
    {{>organisms/virtual-exhibitions/main-slide-bg-style }}
  {{/image}}

  {{#title}}
  <div class="ve-title-group">
      <span class="ve-title">
        {{.}}
      </span>
    {{#subtitle}}
      <span class="ve-subtitle">
        {{{.}}}
      </span>
    {{/subtitle}}
  </div>
  {{/title}}

  {{#image}}
    <picture class="ve-intro-image">
      {{>atoms/images/responsive-srcset-picture}}
    </picture>
  {{/image}}

  {{#image_credit}}
    <div class="ve-image-credit">
     {{>molecules/text/attribution}}
    </div>
  {{/image_credit}}

  {{#intro_description}}
    <div class="ve-description">
      {{{.}}}
    </div>
  {{/intro_description}}

  <div class="ve-branding">
    {{#label}}
      <span class="ve-label">{{.}}</span>
    {{/label}}

    {{#partner_image}}
      <a class="ve-partner-logo" href="{{partner_url}}"><img src="{{thumbnail.url}}"></a>
    {{/partner_image}}
  </div>

</div>
