<section class="ve-slide {{#is_first}}first{{/is_first}}">
  <a class="ve-anchor" id="ve-anchor-{{id}}-js"></a>
   {{#is_text}}
      <div class="ve-base-text">
        {{{body}}}
      </div>
   {{/is_text}}

   {{#is_image}}
     {{#image}}
       <div class="ve-base-image">
         <img srcset="{{#large}}{{url}}{{/large}} 1200w,
                      {{#thumbnail}}{{url}}{{/thumbnail}} 800w"
              src="{{#thumbnail}}{{url}}{{/thumbnail}}">
       </div>
     {{/image}}

     {{#caption}}
       <h2 class="ve-image-caption">{{.}}</h2>
     {{/caption}}

   {{/is_image}}

   {{#is_intro}}
     <div class="ve-base-intro" style="background-image:url({{background_image_url}})">

       <div class="ve-title-group">
         {{#title}}
         <span class="ve-title">
            {{.}}
          </span>
         {{/title}}

         {{#subtitle}}
         <span class="ve-subtitle">
            {{{.}}}
          </span>
         {{/subtitle}}
       </div>

       {{#background_image_credit}}
          <span class="ve-image-credit">
            {{.}}
          </span>
       {{/background_image_credit}}

     </div>
   {{/is_intro}}

   {{#is_title_image_text}}
      <div class="ve-base-title-image-text cf" {{#background_colour}}style="background-color:{{.}}"{{/background_colour}}>
        {{#title}}<h2>{{.}}</h2>{{/title}}
        <div class="ve-col-50-left">
         {{#image}}
           <div class="ve-image">
             <!-- srcset stretches the image here -->
             <img src="{{#thumbnail}}{{url}}{{/thumbnail}}">
             {{#caption}}
               <h2 class="ve-image-caption">{{.}}</h2>
             {{/caption}}
           </div>
         {{/image}}
        </div>
        <div class="ve-col-50-right">
          {{{body}}}
        </div>
      </div>
   {{/is_title_image_text}}
   {{^is_last}}<span class="slide-nav slide-nav-next"><a class="ve-anchor-link" href="#ve-anchor-{{id}}">v</a></span>{{/is_last}}
</section>
<noscript>
  <a class="ve-anchor" id="ve-anchor-{{id}}"></a>
</noscript>