{{#is_section}}
  </section>
  <noscript>
    <a class="ve-anchor no-js" id="ve-anchor-{{id}}"></a>
  </noscript>
  <section class="ve-slide {{#is_first}}first{{/is_first}}">
    <a class="ve-anchor" id="ve-anchor-{{id}}-js"></a>
{{/is_section}}
{{^is_section}}
  {{#is_quote}}
    <div id="{{id}}" class="ve-base ve-base-quote {{type}} {{#is_full_section_element}}ve-full-height{{/is_full_section_element}}"{{#alchemy_id}} data-alchemy-element="{{.}}"{{/alchemy_id}}>
      {{#is_full_section_element}}
        <div class="centered-v-text">
          <div class="centered-text">
      {{/is_full_section_element}}

      {{>atoms/text/quote}}

      {{#is_full_section_element}}
          </div>
        </div>
      {{/is_full_section_element}}
    </div>
  {{/is_quote}}

  {{#is_text}}
    <div id="{{id}}" class="ve-base ve-base-text {{type}}"{{#alchemy_id}} data-alchemy-element="{{.}}"{{/alchemy_id}}>
       {{{body}}}
    </div>
  {{/is_text}}

  {{#is_image}}
    <div id="{{id}}" class="ve-base ve-base-image {{type}}{{#is_portrait}} portrait{{/is_portrait}}{{#is_landscape}} landscape{{/is_landscape}}"{{#alchemy_id}} data-alchemy-element="{{.}}"{{/alchemy_id}}>
     <figure>
       {{#image}}
         <picture>
          {{>atoms/images/responsive-srcset-picture}}
         </picture>
       {{/image}}
       {{#caption}}
          <figcaption>{{.}}</figcaption>
       {{/caption}}
     </figure>
    </div>
  {{/is_image}}


  {{#is_intro}}
    <div id="{{id}}" class="ve-base ve-base-intro ve-{{id}} {{type}}"{{#alchemy_id}} data-alchemy-element="{{.}}"{{/alchemy_id}}>

      {{#image}}
        {{>organisms/virtual-exhibitions/main-slide-bg-style }}
      {{/image}}

      {{#title}}
      <div class="ve-title-group">
          <span class="ve-title">
            {{.}}
          </span>
        {{#subtitle}}
          <span class="ve-subtitle">
            {{{.}}}
          </span>
        {{/subtitle}}
      </div>
      {{/title}}

      {{#label}}
         <span class="ve-label">{{.}}</span>
      {{/label}}

      {{#image}}
        <picture class="ve-intro-image">
          {{>atoms/images/responsive-srcset-picture}}
        </picture>
      {{/image}}

      {{#image_credit}}
        <div class="ve-image-credit">
         {{>molecules/text/attribution}}
        </div>
      {{/image_credit}}

      {{#intro_description}}
        <div class="ve-description">
          {{{.}}}
        </div>
      {{/intro_description}}
    </div>
  {{/is_intro}}

  {{#is_rich_image}}
    <div id="{{id}}" class="ve-base ve-base-title-image-text cf {{type}}"{{#alchemy_id}} data-alchemy-element="{{.}}"{{/alchemy_id}}{{#background_colour}} style="background-color:{{.}}"{{/background_colour}} {{^background_colour}}style="background-color:#ddebee"{{/background_colour}}>

      <div class="ve-title-group">
        {{#title}}
          <span class="ve-title">
            {{.}}
          </span>
        {{/title}}
        {{#subtitle}}
          <span class="ve-subtitle">
            {{{.}}}
          </span>
        {{/subtitle}}
      </div>

      <div class="ve-col-50-left">
        {{#is_align_image_left}}
          {{#image}}
            <div class="ve-image">
              <figure>
                {{#image}}
                  <img src="{{#thumbnail}}{{url}}{{/thumbnail}}">
                {{/image}}
                {{#caption}}
                  <figcaption>{{.}}</figcaption>
                {{/caption}}
              </figure>
            </div>
          {{/image}}
        {{/is_align_image_left}}

        {{#is_align_image_right}}
           {{{body}}}
            {{#quote}}
              <div id="{{id}}" class="ve-base ve-base-quote {{type}}">
                {{>atoms/text/quote}}
              </div>
           {{/quote}}
        {{/is_align_image_right}}
      </div>

      <div class="ve-col-50-right">

        {{#is_align_image_left}}
          {{{body}}}
            {{#quote}}
              <div id="{{id}}" class="ve-base ve-base-quote {{type}}">
                {{>atoms/text/quote}}
              </div>
           {{/quote}}
        {{/is_align_image_left}}

        {{#is_align_image_right}}
          {{#image}}
            <div class="ve-image">
              <figure>
                {{#image}}
                  <img src="{{#thumbnail}}{{url}}{{/thumbnail}}">
                {{/image}}
                {{#caption}}
                  <figcaption>{{.}}</figcaption>
                {{/caption}}
              </figure>
            </div>
          {{/image}}
        {{/is_align_image_right}}
      </div>
    </div>
  {{/is_rich_image}}

  {{^is_last}}
    <span class="slide-nav slide-nav-next"><a class="ve-anchor-link" href="#ve-anchor-{{id}}"><svg class="icon icon-down"><use xlink:href="#icon-down"></use></svg></a></span>
    <noscript>
      <a class="ve-anchor no-js" id="ve-anchor-{{id}}"></a>
    </noscript>
  {{/is_last}}
{{/is_section}}
