<ul class="nav-footer">
	<li><a href="/">Home</a></li>
	<li><a href="/about">About us</a></li>
	<li><a href="http://europeana.eu/portal/rights/terms-and-policies.html">Terms &amp; policies</a></li>
	<br class="clear">
</ul>
