<ul class="nav-footer">
	<li><a href="#">Home</a></li>
	<li><a href="#">About us</a></li>
	<li><a href="#">Terms &amp; policies</a></li>
	<li><a href="#">Contact</a></li>
	<li><a href="#">Help</a></li>
	<li><a href="#">Sitemap</a></li>
	<li><a href="#">API</a></li>
	<li><a href="#">Partners</a></li>
	<li><a href="#">Newsletter</a></li>
	<li><a href="#">All Europeana Sites</a></li>
</ul>