<nav id="nav" class="nav">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">API</a></li>
		<li><a href="#">Examples</a></li>
		<li><a href="#">Labs</a></li>
		<li><a href="#">Events</a></li>
	</ul>
</nav><!--end .nav-->
