<nav id="nav" class="nav">
	<ul>
		<li><a href="#" class="current" >Home</a></li>
		<li><a href="#">APIs</a></li>
		<li><a href="#">Gallery</a></li>
		<li><a href="#">Data</a></li>
		<li><a href="#">Spaces</a></li>
		<li><a href="#">Events</a></li>
		<li><a href="#">Support</a></li>
	</ul>
</nav><!--end .nav-->
