<ul class="tabs tabs-v">
	<li><a href="{{ link.templates-labs-list }}">API</a></li>
	<li><a href="{{ link.templates-labs-list }}">Linked Open data</a></li>
	<li><a href="{{ link.templates-labs-list }}">Case Study</a></li>
	<li><a href="{{ link.templates-labs-list }}">Prototype</a></li>
	<li><a href="{{ link.templates-labs-list }}">Hackathon</a></li>
</ul>
