<div class="social-links">
    <a class="icon-social" href="https://twitter.com/EuropeanaTech">Twitter</a>
    <a class="icon-social" href="https://www.facebook.com/Europeana">Facebook</a>
    <a class="icon-social" href="https://plus.google.com/+europeana/posts">Googleplus</a>
    <a class="icon-social" href="https://www.linkedin.com/groups/Europeana-134927/about">Linkedin</a>
    <a class="icon-social" href="https://github.com/europeana">Github</a>           
</div>