@import "../scss/generic/variables";
@import "../scss/generic/mixins";

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700%7COpen+Sans:400italic,700italic,400,700&amp;subset=latin,greek,cyrillic');

html{

  background-color: #fff !important;

  body{
    font: 16px/1.6 "Open Sans", "Arial", sans-serif;
  }
}

#content .section.top{
  padding-bottom: 0;
}

@import "scss/base/forms";

input[type="submit"],
button{
  background-color: $eu-blue;
  border: none;
  color: #fff;

  &:focus,
  &:hover{
    background-color: $gray-dark;
  }
}
