{{#label}}
  <label{{#id}} for="{{.}}"{{/id}}{{^id}}{{#name}} for="{{.}}"{{/name}}{{/id}}{{#is_required}} class="required"{{/is_required}}>{{.}}</label>
{{/label}}
{{#is_select}}
  <select {{#is_required}} class="required"{{/is_required}}{{#name}} name="{{.}}"{{/name}}{{#id}} id="{{.}}"{{/id}}{{^id}}{{#name}} id="{{.}}"{{/name}}{{/id}}{{#data_url}} data-url=""{{/data_url}} autocomplete="off">
    {{#items}}
      <option{{#value}} value="{{.}}"{{/value}}{{#is_selected}} selected="selected"{{/is_selected}}>{{label}}</option>
    {{/items}}
  </select>
{{/is_select}}
{{^is_select}}
  {{#is_textarea}}
    <textarea {{#is_required}} class="required"{{/is_required}}{{#name}} name="{{.}}"{{/name}}{{#id}} id="{{.}}"{{/id}}{{^id}}{{#name}} id="{{.}}"{{/name}}{{/id}}>
    </textarea>
  {{/is_textarea}}
  {{^is_textarea}}
    <input {{#is_required}} class="required"{{/is_required}}{{#name}} name="{{.}}"{{/name}}{{#id}} id="{{.}}"{{/id}}{{^id}}{{#name}} id="{{.}}"{{/name}}{{/id}}{{#type}} type="{{.}}"{{/type}}>
  {{/is_textarea}}
{{/is_select}}
