<!DOCTYPE html>
{{> organisms/global/header_v2}}

<html class=" no-js" lang="en" xml:lang="en">
  <head>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    {{>templates/Hackathon/options}}
    
    {{#heading}}<h1 class="mosaic-main-header">{{.}}</h1>{{/heading}}
    
    {{#form}}
    <form class="mosaic-form" {{#action}}action="{{.}}"{{/action}}>
        <label for="target_image">Target</label><input type="file" name="target_image" id="target_image"/>
        
        <label for="board">Source</label>
        <select name="board" id="board"/>
          <option value="board_0">All</option>
          <option value="board_1">board 1</option>
          <option value="board_2">board 2</option>
          <option value="board_3">board 3</option>
        </select>

        <label for="size">Tile Size</label>
        <select name="size" id="size"/>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="60">60</option>
          <option value"100">100</option>
        </select>

        <label for="scale">Scale</label>
        <select name="scale" id="scale"/>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        
        <input id="submit" type="submit" value="Make my mosaic"/>
    </form>
    {{/form}}

    <div class="section-divider"></div>
    
    {{#gallery}}
      <div class="mosaic-gallery">
        <h2>{{heading}}</h2>
        {{#items}}
          <img class="mosaic-gallery-item" src="{{url}}">
        {{/items}}
      </div>
    {{/gallery}}
    
    {{> molecules/components/photoswipe/photoswipe }}


    {{> organisms/global/footer }}
  </body>


</html>

