<!DOCTYPE html>
{{> organisms/global/header_v2}}

<html class=" no-js" lang="en" xml:lang="en">
  <head>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    {{>templates/Hackathon/options}}
    
    {{#heading}}<h1 class="mosaic-main-header">{{.}}</h1>{{/heading}}
    
    {{#form}}
    <form class="mosaic-form" {{#action}}action="{{.}}"{{/action}} enctype="multipart/form-data">
        
        <label for="target_image">Target</label>
        <input type="file"   name="file" id="target_image"/>
        <input type="hidden" name="fileName" id="file_name"/>

        
        <label for="board">Source</label>
        <select name="board" id="board"/>
          <option value="all-boards">All</option>
        </select>

        <label for="size">Tile Size</label>
        <select name="size" id="size"/>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40" selected="selected">40</option>
          <option value="60">60</option>
          <option value"100">100</option>
        </select>

        <label for="scale">Scale</label>
        <input id="scale" name="scale" type="number" min="1" max="20" value="4"/>
        
        <input id="submit" type="submit" value="Make my mosaic"/>
        <div id="result-link"></div>
    </form>
    {{/form}}

    <div class="section-divider"></div>
    
    {{#gallery}}
      <div class="mosaic-gallery">
        <h2>{{heading}}</h2>
        {{#items}}
          <img class="mosaic-gallery-item" src="{{url}}">
        {{/items}}
      </div>
    {{/gallery}}
    
    {{> molecules/components/photoswipe/photoswipe }}


    {{> organisms/global/footer }}
  </body>


</html>

