&lt;div class=&quot;carousel-list-carousel&quot;&gt;
	&lt;div class=&quot;carousel-container&quot;&gt;
		{{&gt; molecules-inset-block }} 
	&lt;div&gt;
	&lt;div class=&quot;carousel-controls&quot;&gt;
		&lt;a href=&quot;#&quot; class=&quot;carousel-prev&quot;&gt;&amp;larr;&lt;/a&gt;
		&lt;div class=&quot;carousel-pagination&quot;&gt;1/5&lt;/div&gt;
		&lt;a href=&quot;#&quot; class=&quot;carousel-next&quot;&gt;&amp;rarr;&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;