<div class="colour-palette">

    {{# title }}<div class="filter-name">{{ . }}</div>{{/ title }}

    <ul class="filter-list">
    {{#items}}
        <li>
            <a href="{{url}}" class="" style="background-color:{{hex}}">
            <span class="">{{text}}</span>
            {{#num_results}}
            <span class="">({{.}})</span>
            {{/num_results}}
            </a>
            {{label}}
       </li>
    {{/items}}
    </ul>

</div>
