<div class="e7a1418-nav" {{#base_1418_url}}data-base-url="{{.}}"{{/base_1418_url}}>
  <a class="e7a1418-contribute js-hidden" {{#channel_data.url}}href="{{.}}/contribute#action=contributor"   {{/channel_data.url}}>Contribute your story</a>
  <a class="e7a1418-register   js-hidden" {{#channel_data.url}}href="{{.}}/contribute#action=users/register"{{/channel_data.url}}>Register</a>
  <a class="e7a1418-login      js-hidden" {{#channel_data.url}}href="{{.}}/contribute#action=users/sign-in" {{/channel_data.url}}>Sign In</a>
  <a class="e7a1418-logout     js-hidden" {{#channel_data.url}}href="{{.}}/contribute#action=users/sign-out"{{/channel_data.url}}>Sign Out</a>
</div>
