<div class="e7a1418-nav" {{#base_1418_url}}data-base-url="{{.}}"{{/base_1418_url}}>
  <a class="e7a1418-contribute js-hidden" data-action="contributor"          {{#channel_data.url}}href="{{.}}/contribute?theme=v2.1#action=contributor"   {{/channel_data.url}}>{{i18n.site.collections.e7a1418.contribute}}</a>
  <a class="e7a1418-register   js-hidden" data-action="users/register"       {{#channel_data.url}}href="{{.}}/contribute?theme=v2.1#action=users/register"{{/channel_data.url}}>{{i18n.global.actions.register}}</a>
  <a class="e7a1418-login      js-hidden" data-action="users/sign-in"        {{#channel_data.url}}href="{{.}}/contribute?theme=v2.1#action=users/sign-in" {{/channel_data.url}}>{{i18n.global.actions.sign-in}}</a>
  <a class="e7a1418-logout     js-hidden" data-action="users/sign-out"       {{#channel_data.url}}href="{{.}}/contribute?theme=v2.1#action=users/sign-out"{{/channel_data.url}}>{{i18n.global.actions.sign-out}}</a>
  <a class="e7a1418-account    js-hidden" data-action="action=users/account" {{#channel_data.url}}href="{{.}}/contribute?theme=v2.1#action=users/account" {{/channel_data.url}}>{{i18n.site.collections.e7a1418.my-account}}</a>
</div>
