@import "../../../search/variables";

$gridlayout-card-shadow: rgba(0, 0, 0, 0.25);
$gridlayout-card-shadow-hover: rgba(0, 0, 0, 0.4);

$spacing-base: 1rem;
$spacing-half: $spacing-base * 0.5;
$spacing-1-75x: $spacing-base * 1.75;
$spacing-2x: $spacing-base * 2;
$spacing-4x: $spacing-base * 4;

$grid-max-width: 87.5rem;

$grid-card-gray: $eu-very-light-gray;
$grid-title-gray: #4d4d4d;

// Fluid grid only
$card-min-width: 16.875rem;
$card-font-size: 0.75rem;
$card-line-height: 1.1875rem;

$card-font-size-heading: 0.875rem;
$card-line-height-heading: 1.25rem;
