@import "../../generic/variables";
@import "css-grid-variables";

.browse-list-anchor{
  display:   block;
  transform: translateY(-10em);
}

.link-to-button {
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: $spacing-half $spacing-base;
  position: relative;

  &::before {
    background: $eu-blue;
    border-radius: 4px;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform, opacity;
    z-index: -1;
  }

  &:hover {
    color: $textcolour_link;
  }

  &:hover::before {
    opacity: .08;
    transform: scale(1);
  }
}
