&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;

    &lt;div class=&quot;grid_wrapper&quot;&gt;
        &lt;div class=&quot;grid&quot;&gt;
            &lt;div class=&quot;grid__item lap--two-thirds&quot;&gt;

                {{&gt; molecules-footer-nav }}

                &lt;p class=&quot;copyright&quot;&gt;Co-funded by the European Union.&lt;/p&gt;
                
                &lt;a class=&quot;licensehr&quot; rel=&quot;license&quot; href=&quot;http://creativecommons.org/licenses/by-sa/4.0/&quot;&gt;
                    &lt;img alt=&quot;Creative Commons License&quot; src=&quot;/images/cc.png&quot;&gt;
                &lt;/a&gt;

            &lt;/div&gt;&lt;!--

        --&gt;&lt;div class=&quot;grid__item lap--one-third&quot;&gt;
                {{&gt; molecules-social-links }}
            &lt;/div
        &lt;/div&gt;
    &lt;/div&gt;

&lt;/footer&gt;
&lt;!-- End Footer --&gt;