
This is an (exhibit) element:

{{#essences.present}}

  {{#essences}}

    {{#is_image}}
      IMAGE
    {{/is_image}}

    {{#is_image_with_caption}}
      CAPTION
    {{/is_image_with_caption}}

  {{/essences}}

{{/essences.present}}