&lt;div class=&quot;block block-hero&quot;&gt;
	&lt;a href=&quot;#&quot; class=&quot;inner&quot;&gt;
		&lt;div class=&quot;b-thumb&quot;&gt;
			{{&gt; atoms-bg-landscape }} 
		&lt;/div&gt;
		&lt;div class=&quot;b-text&quot;&gt;
			&lt;h1 class=&quot;headline&quot; &gt;{{ headline.medium }}&lt;/h1&gt;
			{{&gt; molecules-byline-author-time }}
		&lt;/div&gt;
	&lt;/a&gt;
&lt;/div&gt;