&lt;ul class=&quot;tags tags-large&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;{{ link.templates-labs-list }}&quot; class=&quot;tag&quot; &gt;API&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ link.templates-labs-list }}&quot; class=&quot;tag&quot; &gt;Linked Open data&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ link.templates-labs-list }}&quot; class=&quot;tag&quot; &gt;Case Study&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ link.templates-labs-list }}&quot; class=&quot;tag&quot; &gt;Prototype&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ link.templates-labs-list }}&quot; class=&quot;tag&quot; &gt;Hackathon&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;