<div class="modal-header js-hidden">
  <a class="action-ctrl-btn" data-modal-selector=".modal-share"><span>[[i18n.global.actions.share]]</span></a>
  <a class="action-ctrl-btn[[^data-download-uri]] disabled[[/data-download-uri]]" data-modal-selector=".modal-download" download="Europeana-Media" href="[[data-download-uri]]"><span>[[i18n.site.object.actions.download]]</span></a>
  <a class="action-ctrl-btn" data-modal-selector=".modal-rights"><span>[[i18n.global.facet.header.reusability]]</span></a>
  {{> molecules/controls/channels-object-origin }}
</div>
