/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
	background: #dcdddc;
	padding: $pad-double;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid $gray-light;
}

/* Block */
.block {
	overflow: visible;

	a.inner{
		color: $textcolour_body;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

.headline {
	line-height: 1.2;
	margin-bottom: $space;
}

/* Hero Block */
.block-hero {

	margin-bottom: $space-half;

	.b-thumb {
		img {
			display: block;
		}
	}

	.bgimage{
		padding-top: 45%;
		-webkit-background-size: cover;
		background-size: cover;
	}

	@media all and (min-width: $bp-large) {
		position: relative;

		.b-text {
			position: absolute;
			bottom: 10%;
			left: 10%;
			top: 10%;
			right: 10%;
			color: $white;
			padding: $pad-and-half;
			text-align: center;

			&:before{
				content: '';
				width: 30%;
				margin: 0 auto 5%;
				display: block;
				border-top: solid 5px $white;
			}
		}
	}
}

/* Block Thumbnail with Headline */
.block-thumb {
	width: 100%;
	padding-top: $pad;


	@media all and (min-width: $bp-med) {
		display: table;
		table-layout: fixed;

		.b-inner {
			display: table-row;
			vertical-align: top;
	  		overflow: hidden;
		}
	}



	.b-thumb {
		@media all and (min-width: $bp-med) {
			display: table-cell;
			vertical-align: top;	
	  		width: 33.333%;
	  		max-width: 10em;

	 		img {
	 			display: block;
				  width: 100%;
				  height: auto;
	 		}
 		}
	}

	.b-text {
		@media all and (min-width: $bp-med) {
			display: table-cell;
			width: 66.666%;
			padding: 0 $pad;
		}
	}

	.headline{
		//color: $blue;
	}

	.description{
		margin-bottom: $space;
	}

	.tags{
		border-top: solid 1px $gray-light;
		padding-top: $pad-half;

		.icon{
			color: $gray-light;
			margin-right: $pad;
			margin-top: 0.3em;
			float: left;
		}
	}
	
}

.block-stacked{
	.b-thumb {
		@media all and (min-width: $bp-small-2) {	
			width: 100%;
		}

		margin-bottom: $space-half;
	}

	.b-text {
		@media all and (min-width: $bp-small-2) {
			width: 100%;
		}

		margin-bottom: $space;
	}
}


/* Block Headline Summary */
.block-headline-summary {
	a {
		display: block;
		padding: $pad-half;
	}
}

/*  Block with inset headline */

.block-inset {
	
	margin-bottom: $space;
	position: relative;

	.b-thumb {
		position: relative;
		z-index: 0;
		margin-bottom: $space-half;

		img {
			display: block;
		}
	}

	.headline {
		font-size: 1.1em;
		margin-bottom: 0;
	}

	.b-text {
		position: absolute;
		bottom: 0.5em;
		left: 0;
		width: 90%;
		background: $white;
		padding: $pad;
	}
}

/* Block Thumb with less content */
.block-thumb-small {

	border-top: 5px solid $gray-dark;

	@media all and (min-width: $bp-small-2) {
		.b-thumb {
			width: 20%;
		}

		.b-text {
			width: 80%;
		}
	}
	

}


@import "scss/objects/blocks/block-content-header";

