/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	position: relative;
	background: transparent;
	color: $black;
	border: solid 6px $black;
	@include font-size(1);
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.8em 1.2em;
	text-align: center;
	
	&:hover, &:focus {
		color: $textcolour_highlight;
		border-color: $textcolour_highlight;
	}

	&.disabled {
		background: lighten($text_secondary, 10%);
		color: darken($text_secondary, 20%);
		cursor: not-allowed;
		border-color: $text_secondary;

		&:hover{
			border-color: $text_secondary;
		}
	}

	&.alt{
		color: $offwhite;
		background-color: $black;
		border-color: $black;

		&:hover{
			background-color: $textcolour_highlight;
			border-color: $textcolour_highlight;
		}
	}

	&.cta{
		&:after {
			left: 100%;
			top: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(0, 0, 0, 0);
			border-left-color: $black;
			border-width: 25px;
			border-top-width: 15px;
			border-bottom-width: 15px;
			margin-top: -15px;
		}

		&:hover:after, &:focus:after{
			border-left-color: $textcolour_highlight;
		}
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $text_secondary;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-style: italic;
}

