.category-flag{
  background-color: $white;
  color:            $eu-blue;
  text-transform:   uppercase;
  font-weight:      bold;
  font-size:        0.75em;
  display:          block;
  padding:          0.4em 0.8em;
  position:         absolute;
  z-index:          2;
  top:              5%;
  left:             0;
  letter-spacing:   0.1em;

  a{
   color: $white;
  }

  .item-channel &, .category_1 &{
    color: $eu-red;
  }

  .item-exhibition &, .category_2 &{
    color: $eu-orange;
  }

  .item-new &, .category_3 &{
    color: $eu-blue;
  }

  .item-partner &, .category_4 &{
    color: $eu-raspberry;
  }

  .item-featuredsite &, .category_5 &{
    color: $eu-purple;
  }
}
