.corner-ribbon{
  width: 200px;
  background: $accent;
  position: absolute;
  z-index: 500;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  color: $white;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}