.footer {
  background: $grey2;
  border-top: 6px solid $blue-dark;
  clear: both;
  color: $footer_text;
  font-size: $font-size-slightly-smaller;
  overflow: hidden;
  padding: $space-triple $space;

  .title {
    color: $footer_headings;
    font-size: $font-size-norm;
    font-weight: bold;
    line-height: 1;
    margin-bottom: $space;
    text-transform: uppercase;
  }

  .margin-bottom {
    margin-bottom: $space;
  }

  .l-linklist a {
    border-bottom: 1px dotted $footer_text;
    color: $footer_text;
    font-size: $font-size-med;
    font-weight: bold;

    &:hover{
      color: $textcolour_link;
    }
  }

  div[class^="l-"],
  .signup {
    margin-bottom: $space;
  }

  .l-mission p {
    font-size: $font-size-med;
    font-style: italic;
  }

  .copyright {
    background-image: url("../../images/eu_flag_black.svg");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    font-size: $font-size-sm;
    height: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .newsletter-form .inline-container {
    margin-bottom: $space-quarter;
  }

  .disclaimer {
    color: $black;
    font-size: 0.625rem;
    line-height: 1.8;
    margin-bottom: 1rem;

    @media all and (min-width: $bp-med) {
      width: 60%;
    }
  }
}

.footer_logo {
  @media all and (min-width: $bp-xl){
    margin-right: $pad-double * 2;
  }

  @media all and (max-width: $bp-med){
    width: $pad-double * 8;
  }
}

.social-links {
  text-align: center;

  @media all and (min-width: $bp-med) {
    text-align: left;
  }

  a {
    color: $blue-dark;
    display: inline-block;
    font-size: 3em;

    &:hover {
      color: $textcolour_link;
    }

    svg {
      display: block;
      margin: 0;
    }
  }
}

.sub-footer {
  border-top: 1px solid #a0a0a0;
  padding: $space 0;

  .nav {
    margin-bottom: $space;

    a {
      border-bottom: 1px dotted $blue-dark;
      color: $footer_text;
      display: block;
      margin-right: $space-half;

      &:hover {
        color: $textcolour_link;
      }
    }
  }
}
