/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $grey2;
	padding: 20px 0 50px;
	color: $textcolour_dark_body;
	border-top: 3px solid $gray-lighter;

	a {
		color: $textcolour_dark_body;
	}

	
	//layout styles
	div[class^='l-']{
		margin-bottom: $space;
	}

	.l-contact{
		@extend %grid__item;
		@extend %lap--one-fifth;
	}

	.l-content, .l-nextsteps{
		@extend %grid__item;
		@extend %lap--two-fifths;
	}

	.l-sitemap .l-linklist{
		@extend %grid__item;
		@extend %lap--one-half;
	}

	.l-mission, .l-othersites{
		@extend %grid__item;
	}

	.l-othersites{
		li, li > a{
	        display:inline-block;
	       *display:inline;
	        zoom:1;
    	}
	}

	.signup{
		margin-bottom: $space;
	}

	.social-links{ 

		text-align: center;
		font-size: 2em;

		@media all and (min-width: $bp-med) {
			text-align: left;
		}

		a svg{
			fill: #293745;
		}
	}

	.copyright {
		font-size: $font-size-sm;
	}

}

.sub-footer{
	border-top: 1px solid #a0a0a0;
	padding: $space 0;

	.nav a{
		display: block;
		font-weight: bold;
		text-decoration: underline;
		font-size: $font-size-slightly-smaller;
	}
}





