.header-wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header {
  background: rgba($white, 0.85);
  padding: 0;
  width: 100%;
  min-height: $globalnavheight;

  @include box-shadow(rgba($gray-med, 0.2) 0 0 3px);

  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.header > .cf{
  border-top: 6px solid $accent;
  position: relative;
}

.logo {
  display: block;
  float: left;
  width: 50%;
  max-width: 168px;
  height: 58px;
  margin: 0.4rem;
  margin-left: 2%;

  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../images/europeana-logo-default.png');

  .svg &{
    background-image: url('../../images/europeana-logo-default.svg');
  }
  h1 {
    padding-top: 5em;
  }
}

// See objects/navigation/global-nav for offscreen menus and multi-site nav styles

