.header {
	background: rgba($white, 0.85);
	position: fixed;
	padding: 0;
	z-index: 100;
	width: 100%;
	min-height: $globalnavheight;

	@include box-shadow(rgba($gray-med, 0.2) 0 0 3px);
	
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);


	// @media all and (min-width: $bp-small) {
	// 	//position: fixed;
	// }
}

.header > .cf{
	border-top: 6px solid $accent;
}

.logo {
	float: left;
	width: 50px;
	height: 60px;
	margin: 0.4rem;
	margin-left: $space;

	background-image: url('../../images/pro/europeana-pro-logo.png');
	background-repeat: no-repeat;

	.svg &{
		background-image: url('../../images/pro/europeana-pro-logo.svg');
	}
}

// See objects/navigation/global-nav for offscreen menus and multi-site nav styles

