.site-notice{
  background-color: $eu-orange;
  color:            #fff;
  display:          flex;
  height:           84px;
  justify-content:  center;
  padding:          0 2em;
  position:         fixed;
  text-align:       center;
  width:            100%;
  z-index:          10;

  .msg{
    align-self:  center;
    font-size:   12px;
    position:    relative;

    &::before{
      background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 888 888' fill='%23fff'%3E%3Cpath d='M372.364 46.545q154.29 0 263.327 109.037t109.037 263.327-109.037 263.327-263.327 109.037-263.327-109.037-109.037-263.327 109.037-263.327 263.327-109.037zM418.909 651.636v-263.758h-93.091v263.758h93.091zM372.364 310.303q25.859 0 43.96-18.101t18.101-43.96-18.101-43.96-43.96-18.101-43.96 18.101-18.101 43.96 18.101 43.96 43.96 18.101z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:           ' ';
      display:           inline-block;
      height:            18px;
      left:              -1px;
      position:          relative;
      top:               5px;
      width:             18px;
    }
  }
}

.header-wrapper{
  position: fixed;
  width: 100%;
  z-index: 10;
}

.site-notice + .header-wrapper{

  top: 84px;

  &::before{
    -moz-box-shadow:    inset 0 -4px 9px -4px #443128;
    -o-box-shadow:      inset 0 -4px 9px -4px #443128;
    -webkit-box-shadow: inset 0 -4px 9px -4px #443128;
    box-shadow:         inset 0 -4px 9px -4px #443128;
    content:  ' ';
    display:  block;
    height:   10px;
    position: absolute;
    top:      -10px;
    width:    100%;
  }
}

@media only screen and (max-width: $bp-small-3) {

  .site-notice{
    height: 105px;
  }

  .site-notice + .header-wrapper{
    top: 105px;
  }
}

@media only screen and (min-width: $bp-large) {

  .site-notice{
    height: 42px;
  }

  .site-notice + .header-wrapper{
    top: 42px;
  }
}


.header:not(th) {
  @include box-shadow(rgba($gray-med, 0.2) 0 0 3px);

  background: rgba($white, 0.85);
  min-height: $globalnavheight;
  padding: 0;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  width: 100%;
  z-index: 1;
}

.header > .cf{
  border-top: 6px solid $accent;
  position: relative;
}

.after-header{
  margin-top: $globalnavheight;
}

.after-header-with-search{

  margin-top: $globalnavheight-with-search-small;

  &.e7a1418-nav-wrapper{
    margin-bottom: -$globalnavheight-with-search-small;
  }

  &.search-open{
    margin-top: $globalnavheight-with-search-large;

    &.e7a1418-nav-wrapper{
      margin-bottom: -$globalnavheight-with-search-large;
    }

    @media only screen and (min-width: $bp-med) {
      margin-top: $globalnavheight-with-search-small;

      &.e7a1418-nav-wrapper{
        margin-bottom: -$globalnavheight-with-search-small;
      }

    }
  }

  @media only screen and (min-width: $bp-small-2) {
    margin-top: $globalnavheight-with-search-large;

    &.e7a1418-nav-wrapper{
      margin-bottom: -$globalnavheight-with-search-large;
    }
  }

  @media only screen and (min-width: $bp-med) {
    margin-top: $globalnavheight-with-search-small;
    &.e7a1418-nav-wrapper{
      margin-bottom: -$globalnavheight-with-search-small;
    }
  }
}

.logo {
  background-image: url('../../images/europeana-logo-default.png');
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;

  display: block;
  float: left;
  height: 58px;
  margin: 0.4rem;
  margin-left: 2%;
  max-width: 168px;
  width: 50%;

  .svg &{
    background-image: url('../../images/europeana-logo-default.svg');
  }
  h1 {
    padding-top: 5em;
  }
}

// See objects/navigation/global-nav for offscreen menus and multi-site nav styles

