.inline-list {
	li {
		display: inline-block;
		margin-right: $space-quarter;
	}
}

/* Social List */
.social-list {
	li {
		margin: 0 0.4rem $space 0;
	}
	
	a {
		font-size: 1.6em;
	}
}


/* Headline List */
.headline-list {
	margin-bottom: $space;

	&.flush {
		margin: 0;
	}

	h4 {
		font-weight: normal;
	}

	li {
		padding: $pad-quarter 0;
		border-top: 1px solid $gray-light;
	}
}

/* Post List */

.post-list {

	@extend %grid;
	margin-bottom: $space-double;

	li{
		@extend %grid__item;
		@extend %lap--one-half;

		margin-bottom: $space;
	}

	.list-item-primary{
		@extend %lap--one-third;
	}

	.list-item-secondary{
		@extend %lap--one-fifth;
	}
}

/* Bullet List */
.bullet-list {
	list-style: square;
	margin: 0 0 1em 1.2em;
	line-height: 1.3;

	li {
		margin-bottom: $space;
	}
}

/* Text List */
.text-list {
	margin: 0 0 1em;
	line-height: 1.3;

	li {
		margin-bottom: $space;
	}
}