

.item-meta-primary{
	padding: $space-half 0;

	&> span{
		margin-right: 1em;
	}
}

.item-meta-secondary{
	border-top: 1px solid $grey2;
	padding: $space-half 0;
	font-size: $font-size-slightly-smaller;
	margin-bottom: $space-half;

	*{
		display: inline;
	}

	a{
		border-bottom: 1px dotted $textcolour_link;
	}

	&> span{
		margin-right: 1em;
	}

	.icon{
		fill: $icon_primary;
	}
}

.item-comments{
	white-space: nowrap;
}

.item-categories{
	white-space: nowrap;
  .icon{
    height: $pad;
    width:  $pad;    
  }
}

.item-deadline{
	font-weight: bold;
}
