//common styles for navigation

// Nav Abstraction - puts links in a line

.nav{
    list-style:none;
    margin-left:0;
}
    .nav > li,
    .nav > li > a{
            display:inline-block;
           *display:inline;
            zoom:1;
    }

.subnav{
	padding: 0 $pad;

	.tags{
		margin-bottom: $space;
	}
}

@import "scss/objects/navigation/global";
@import "scss/objects/navigation/nav-primary";
@import "scss/objects/navigation/nav-secondary";
@import "scss/objects/navigation/nav-tertiary";
