//common styles for navigation

// Nav Abstraction - puts links in a line

.nav{
    list-style:none;
    margin-left:0;
}
    .nav > li,
    .nav > li > a{
            display:inline-block;
           *display:inline;
            zoom:1;
    }

.subnav{
	padding: 0 $pad;

	.tags{
		margin-bottom: $space;
	}
}

@import "./navigation/global";
@import "./navigation/nav-primary";
@import "./navigation/nav-secondary";
@import "./navigation/nav-tertiary";
@import "./navigation/destination-links";
@import "./navigation/nav-top-accessible";
