.section {
	@extend .cf;
	margin-bottom: $space-double;
}

.section-title {
	text-transform: uppercase;
	margin-bottom: $space-half;
}


.strapline{
	background-color: $blue-dark;
	color: $white;	
	//border-top: 2px solid $accent;

	text-align: center;
	line-height: 1.2;
	@include fontSize(18px);

	@media all and (min-width: $bp-med) {
		@include fontSize(24px);
	}

	a{
		color: $white;
		border-bottom: 1px dotted $white;
	}
}