/*------------------------------------*\
    $TAGS
\*------------------------------------*/


%tag{
	padding: 0.35em 1em 0.35em 0.5em;
	display: inline-block;
	margin: 0 0.2em 0.5em 0;
	position: relative;
	text-transform: uppercase;
	color: $textcolour_body;
	@include border-right-radius(10em);
	@include fontSize(13px);
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 0.2em;
}

.tags a{
	@extend %tag;
}

.tag, a.tag{
	@extend %tag;
	background-color: $textcolour_highlight;
	
	&:hover{
		$i: darken($textcolour_highlight, 20);
		text-decoration: none;
		color: $white;
		background-color: $i;
	}
}

.tag_alt, a.tag_alt{
	@extend %tag;
	border-left: 1px solid $gray-dark;
	padding-left: 0.7em;

	&:hover{
		//color: $offwhite;
		background-color: $offwhite;
		color: $textcolour_highlight;
		border-left-color: $textcolour_highlight;
		text-decoration: none;
	}
}

.tags-large .tag, .tag-large{
	@include font-size(0.8); 
}

.tag_beta{
	background-color: $paper;
	color: $offwhite;

	.icon{
		color: $textcolour_link;
	}
}


