.tooltip-container {
	display: inline-block;
	position: relative;

	&:hover, &:focus {
		cursor: help;
		.tooltip {
			display: block;
		}
	}
}

.tooltip-link {
	background: $gray-light;
}

.tooltip {
	display: none;
	position: absolute;
	top: 1.5em;
	left: -2em;
	width: 18em;
	padding: $pad;
	background: $white;
	color: $textcolour_body;
	font-size: $font-size-sm;
	border: 1px solid $gray-lighter;
	box-shadow: 0.1em 0.1em 0.3em 0 rgba(0,0,0,0.2);
	z-index: 98;

	h2 {
		margin-top: 0;
	}

	@media all and (min-width: $bp-small) {
		width: 22em;
	}
}

.tooltip--right{
	left: auto;
	right: -2em;
}