/**
 * Fluid width video
 * - 16:9 aspect ratio by default
 * Usage:
 * <div class="video-fluid"><iframe src="..."/></div>
 */
.video-fluid {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

	& .ratio43{
		padding-bottom: 75%; /* 4:3 */
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

