<link rel="stylesheet" href="../../css/search/screen.css" media="all" />
<style>

  body{
    padding: 2em;
  }

  .resizeable{
    background-color: #e1e1e1;
    margin:           auto;
    padding:          1em 2em 1em 1em;
    position:         relative;
    width:            70%;
  }

  .light-carousel{
    border: 1px solid red;
  }

</style>

<!--
  <a class="toggle-mouse-wheel"></a>
-->
<a class="add-item">Add item</a>
<br/>
<a class="remove-item">Remove item</a>
<br/>
<br/>
<div class="resizeable">
  <div class="light-carousel">
    <a class="nav-left" style="display:none;">&lt;&lt;</a>
    <div class="wrapper-hide-scroll">
      <div class="carousel-scrollable">
        <div class="item-container">
          <div class="item">
            <div class="item-text">test item 1</div>
          </div>
        </div>
      </div>
    </div>
    <a class="nav-right" style="display:none;">&gt;&gt;</a>
  </div>
</div>
