<link rel="stylesheet" href="../../css/search/screen.css" media="all" />
<style>

  body{
    padding: 2em;
  }

  h2,
  h3,
  .example{
    margin:           auto;
    position:         relative;
    width:            70%;
  }

  h2,
  h3{
    margin-bottom:    1em;
  }

  .example{
    background-color: #e1e1e1;
    padding:          1em;
  }

  .example-1 .lc-item{
    background-color: #ffa500;
  }

  .example-1 .lc-item{
    color:            #fff;
    min-height:       8em;
    min-width:        8em;
    padding:          1em 1em;
  }

  .example-3.light-carousel .lc-item-container{
    align-items: flex-start;
  }

  .example-2.light-carousel .mlt-img-div,
  .example-4.light-carousel .mlt-img-div{
    width: 200px; // sets height too
  }

  .example-2.light-carousel .link,
  .example-4.light-carousel .link{
    display:  block;
    position: absolute;
    width:    100%;
    height:   100%;
  }


  .example-3 .lc-item{
    background-color: #fff;
    min-height:       100%;
    min-width:        280px;
  }

</style>
<div style="float:left;">
  <a class="add-item">Add item</a>
  <br/>
  <a class="remove-item">Remove item</a>
  <br/>
  <a class="set-item-size">Set item size</a>
    <input id="item-size" value="80" auto-complete="false" style="width:3em; margin-left: 2em;"/>
  <br/>
  <a class="toggle-mouse-wheel"></a>
</div>

<h2>Basic Example</h2>

<div class="example">
  <div class="light-carousel example-1">
    <a class="nav-left" style="display:none;">&lt;&lt;</a>
    <div class="wrapper-hide-scroll">
      <div class="lc-scrollable">
        <div class="lc-item-container"><div class="lc-item"><div class="lc-item-text">test item 1</div></div></div>
      </div>
    </div>
    <a class="nav-right" style="display:none;">&gt;&gt;</a>
  </div>
</div>

<br/>
<br/>
<h2>Ajax Example</h2>

<div class="example">
  <div class="light-carousel example-2">
    <a class="nav-left" style="display:none;">&lt;&lt;</a>
    <div class="wrapper-hide-scroll">
      <div class="lc-scrollable">
        <div class="lc-item-container"></div>
      </div>
    </div>
    <a class="nav-right" style="display:none;">&gt;&gt;</a>
  </div>
  <script type="script/mustache" id="example-2-template">
    {{>molecules/components/media-nav-item-js}}
  </script>
</div>

<br/>
<br/>
<h2>Partially Pre-loaded Ajax Example</h2>
<h3><a class="init-example-4">click to initialise</a></h3>

<div class="example">
  <div class="light-carousel example-4">
    <a class="nav-left" style="display:none;">&lt;&lt;</a>
    <div class="wrapper-hide-scroll">
      <div class="lc-scrollable">
        <div class="lc-item-container">
          <div class="lc-item">
            <div class="mlt-img-div height-to-width" style="background-image: url(/images/sample/object_thumbnail.jpg)" <div=""><a data-type="image" data-uri="/images/sample/object_full.jpg" data-thumbnail="/images/sample/object_thumbnail.jpg" data-download-uri="/images/sample/object_full.jpg" class="link is-current playable"></a></div>
          </div>
          <div class="lc-item">
            <div class="mlt-img-div height-to-width" style="background-image: url(/media/iiif.jpg)" <div=""><a data-type="image" data-uri="/images/sample/object_full.jpg" data-thumbnail="/images/sample/object_thumbnail.jpg" data-download-uri="/images/sample/object_full.jpg" class="link is-current playable"></a></div>
          </div>
          <div class="lc-item">
            <div class="mlt-img-div height-to-width" style="background-image: url(/media/falcon-thumb.png)" <div=""><a data-type="image" data-uri="/images/sample/object_full.jpg" data-thumbnail="/images/sample/object_thumbnail.jpg" data-download-uri="/images/sample/object_full.jpg" class="link is-current playable"></a></div>
          </div>
        </div>
      </div>
    </div>
    <a class="nav-right" style="display:none;">&gt;&gt;</a>
  </div>
  <script type="script/mustache" id="example-4-template">
    {{>molecules/components/media-nav-item-js}}
  </script>
</div>

<br/>
<br/>
<br/>
<h2>Fashion Landing Happening Feed Example</h2>

<div class="example happening-feed-container">
  <div class="js-carousel">
    <div class="light-carousel example-3 happening-content cf">
      <a class="nav-left" style="display:none;">&lt;&lt;</a>
      <div class="wrapper-hide-scroll">
        <div class="lc-scrollable">
          <div class="lc-item-container">

            <div class="lc-item js-carousel-item">

              <div class="js-carousel-item-img-wrap"><a href="?q=The+Lace+Maker"><img src="/images/search/carousel1.jpg"></a></div>

              <div class="js-carousel-texts">
                  <span class="js-carousel-title-wrap">
                    <span class="js-carousel-title">
                      <a href="?q=The+Lace+Maker">Test Tumblr Title</a>
                    </span>
                  </span>
                  <span class="js-carousel-text-wrap">
                    <span class="js-carousel-text">
                      This carousel item for the aggregated feed has text and a date&lt;br&gt;&lt;br&gt;The text contains markup (linebreaks) and should not exceed 5 rows in height.  If it does the ellipsis will show.  This carousel item for the aggregated feed has text and a date&lt;br&gt;&lt;br&gt;The text contains markup (linebreaks) and should not exceed 5 rows in height.  If it does the ellipsis will show
                    </span>
                  </span>
                  <span class="js-carousel-date">
                    14/12/2016
                  </span>
                  <span class="js-carousel-type type-news">news</span>
              </div>
            </div>
            <div class="lc-item  js-carousel-item">
              <div class="js-carousel-item-img-wrap"><a href="?q=Zittende+jongeman+bij+ton+met+het+hoofd+naar+links"><img src="/images/search/carousel2.jpg"></a></div>

              <div class="js-carousel-texts">
                  <span class="js-carousel-title-wrap">
                    <span class="js-carousel-title">
                      <a href="?q=Zittende+jongeman+bij+ton+met+het+hoofd+naar+links">Title II</a>
                    </span>
                  </span>
                  <span class="js-carousel-text-wrap">
                    <span class="js-carousel-text">
                      This carousel item for the aggregated feed also has text and a date
                    </span>
                  </span>
                  <span class="js-carousel-date">
                    15/12/2016
                  </span>
                  <span class="js-carousel-type type-events">events</span>
              </div>
            </div>
            <div class="lc-item js-carousel-item">
              <div class="js-carousel-item-img-wrap"><a href="?q=Delft"><img src="/images/search/carousel3.jpg"></a></div>

              <div class="js-carousel-texts">
                  <span class="js-carousel-title-wrap">
                    <span class="js-carousel-title">
                      <a href="?q=Delft">Test Tumblr Title</a>
                    </span>
                  </span>
                  <span class="js-carousel-text-wrap">
                    <span class="js-carousel-text">
                      This carousel item for the aggregated feed has text but no date
                    </span>
                  </span>
                  <span class="js-carousel-type type-tumblr">tumblr</span>
              </div>
            </div>
            <div class="lc-item js-carousel-item">
              <div class="js-carousel-item-img-wrap"><a href="?q=Girl+with+the+pearl+earring"><img src="/images/search/carousel1.jpg"></a></div>

              <div class="js-carousel-texts">
                  <span class="js-carousel-title-wrap">
                    <span class="js-carousel-title">
                      <a href="?q=Girl+with+the+pearl+earring">Test Tumblr Title</a>
                    </span>
                  </span>
                  <span class="js-carousel-text-wrap">
                    <span class="js-carousel-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </span>
                  </span>
                  <span class="js-carousel-date">
                    17/12/2016
                  </span>
                  <span class="js-carousel-type type-news">news</span>
              </div>
            </div>
            <div class="lc-item js-carousel-item">
              <div class="js-carousel-item-img-wrap"><a href="?q=The+Lace+Maker"><img src="/images/search/carousel2.jpg"></a></div>

              <div class="js-carousel-texts">
                  <span class="js-carousel-title-wrap">
                    <span class="js-carousel-title">
                      <a href="?q=The+Lace+Maker">Test Tumblr Title</a>
                    </span>
                  </span>
                  <span class="js-carousel-text-wrap">
                    <span class="js-carousel-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </span>
                  </span>
                  <span class="js-carousel-type type-news">news</span>
              </div>
            </div>

            <div class="lc-item js-carousel-item">
              <div class="js-carousel-item-img-wrap"><a href="?q=Zittende+jongeman+bij+ton+met+het+hoofd+naar+links"><img src="/images/search/carousel3.jpg"></a></div>

              <div class="js-carousel-texts">
                  <span class="js-carousel-title-wrap">
                    <span class="js-carousel-title">
                      <a href="?q=Zittende+jongeman+bij+ton+met+het+hoofd+naar+links">Test Tumblr Title</a>
                    </span>
                  </span>
                  <span class="js-carousel-text-wrap">
                    <span class="js-carousel-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    </span>
                  </span>
                  <span class="js-carousel-type type-news">news</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <a class="nav-right" style="display:none;">&gt;&gt;</a>
    </div>
  </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
