<div class="media-thumbs">
  <div class="media 1">
    <a data-has-colour-info="true" data-colour-hexes="#FF0000|#00FF00|#0000FF|#FFD700|#FFC0CB|#FFA500" data-colour-urls="a|b|c|d|e|f">Link</a>
  </div>
  <div class="media 2">
    <a data-has-colour-info="true" data-colour-hexes="#2F4F4F|#800000|#696969|#8B4513|#556B2F|#2F4F4F" data-colour-urls="g|h|i|j|k|l">Link</a>
  </div>
  <div class="media 3">
    <a data-has-colour-info="true" data-colour-hexes="#000000|#FF0000|#FFA500|#FFD700|#FFC0CB|#AFEEEE" data-colour-urls="m|n|o|p|q|r">Link</a>
  </div>
</div>
<div class="colour-container"></div>
