&lt;h5&gt;Base tags&lt;/h5&gt;

&lt;p&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag&quot;&gt;
		This
	&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag&quot;&gt;
		is a
	&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag&quot;&gt;
		tag
	&lt;/a&gt;
&lt;/p&gt;

&lt;h5&gt;Alternative tags&lt;/h5&gt;

&lt;p&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag_alt&quot;&gt;
		This
	&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag_alt&quot;&gt;
		is an
	&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag_alt&quot;&gt;
		Alternative tag
	&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag_alt&quot;&gt;
		tag
	&lt;/a&gt;
&lt;/p&gt;

&lt;h5&gt;Large tags (.tags-large)&lt;/h5&gt;

&lt;ul class=&quot;tags tags-large&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; class=&quot;tag&quot; &gt;API&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; class=&quot;tag&quot; &gt;Linked Open data&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; class=&quot;tag&quot; &gt;Case Study&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; class=&quot;tag&quot; &gt;Prototype&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; class=&quot;tag&quot; &gt;Hackathon&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;


&lt;ul class=&quot;tags&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; &gt;API&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; &gt;Linked Open data&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; &gt;Case Study&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; &gt;Prototype&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot; &gt;Hackathon&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
