{{> organisms-header-labs }}

<div role="main" class="grid">

	<div class="block block-content-header">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
			{{# hero }}
				<h1 class="title">{{ headline.short }}</h1>
				<p class="subhead grid grid__item desk--one-half">{{ excerpt.short }}</p>
			{{/ hero}}
		</div>
	</div>

	<div class="grid__item one-quarter palm--one-whole">
		<div class="subnav">

			<h4 class="label epsilon"> Filter by:</h4>

			{{> molecules-labs-subnav }}

		</div>

		<ul class="tabs tabs-v">
			<li><a href="">Contribute to the Gallery</a></li>
			<li><a href="">Help Improve This Content</a></li>
		</ul>
	</div><!--

 --><div class="grid__item three-quarters palm--one-whole">

		<ul class="post-list grid" >
			
			{{# mainprojects }}<li class="grid__item one-whole desk--one-half">{{> molecules-labs-item-main }}</li><!-- 
			-->{{/ mainprojects }}

			{{# projects }}<li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!-- 
			-->{{/ projects }}
		</ul>


 		{{> molecules-pagination }}

 	</div>
 </div>

{{> organisms-footer-labs }}