<!-- Begin .header -->
<a href="#maincontent" class="is-vishidden">Skip to main content</a>

<!-- Super global navigation -->
{{#patternlab}}
<!-- In pattern lab we use the dynamic nav -->
{{#navigation.global}}
{{>organisms/global/navigation_top}}
{{/navigation.global}}

{{/patternlab}}

{{^patternlab}}
<!-- Outside pattern lab we use the static nav until it's implemented -->
{{>organisms/global/navigation_top_static}}
{{/patternlab}}
<!-- End .header -->

<!-- Main site wrapper for offcanvas navigation -->
<div class="pusher">
