<header class="header">

  <div class="menu-top">
    {{> molecules/navigation/global-topdrawer }}
  </div>

  <!-- Off canvas search bar -->
  {{#options.search_active}}
  {{> molecules/forms/global-search }}
  {{/options.search_active}}

  <!-- wrapper for navigation bar -->
  <div class="cf">

  {{# version.is_alpha }}
    <a href="#phase-feedback" class="phase-flag alpha">ALPHA</a>
  {{/ version.is_alpha }}


    {{> atoms/images/logo }}


    <div class="nav-global">

      <a href="#" class="nav-toggle nav-toggle-sites">
        <span>{{i18n.global.our-sites}}</span>
      </a>

      {{#options.search_active}}
      <a href="#search" class="nav-toggle nav-toggle-search" aria-controls="searcharea" aria-expanded="false" aria-haspopup="true" aria-label="open search panel" aria-owns="searcharea">
        <svg class="icon icon-search">
          <use xlink:href="#icon-search"></use>
        </svg>
        <span class="is-vishidden">Search</span>
      </a>
      {{/options.search_active}}

      {{#options.settings_active}}
      <a href="#" class="nav-toggle nav-toggle-settings">
        <svg class="icon icon-settings">
          <use xlink:href="#icon-settings"></use>
        </svg>
        <span>Settings</span>
      </a>
      {{/options.settings_active}}

      <a href="#" class="nav-toggle nav-toggle-menu">
        <svg class="icon icon-menu">
          <use xlink:href="#icon-menu"></use>
        </svg>
        <span>Menu</span>
      </a>

    </div>

    <!-- Primary navigation -->

  <nav role="navigation">
    <!-- Sample menu definition -->
    <ul id="main-menu" class="sm nav_primary nav-access">
      <li><a href="#">Primary 1</a></li>
      <li><a href="#" class="current">Primary 2</a>
        <ul class="sublevel">
          <li class="menu-section"><span>A pretty section text for the sub menus</span></li>
          <li class="section-message"><p>Message that there's no content in this section</a></p>
          <li class="menu-section"><span>A pretty section text for the sub menus</span></li>
          <li><a href="#">Children 1</a></li>
          <li><a href="#">Children 2</a></li>
          <li><a href="#">Children 3</a></li>
          <li><a href="#">Children 4</a>
            <ul class="sublevel">
              <li class="menu-section"><span>A pretty section text for the sub menus</span></li>
              <li><a href="#">GrandChildren 1</a></li>
              <li><a href="#">GrandChildren 2</a></li>
              <li><a href="#">GrandChildren 3</a></li>
              <li><a href="#">GrandChildren 4</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="#">Primary 3</a>
        <ul class="sublevel">
          <li class="menu-section"><span>A pretty section text for the sub menus</span></li>
          <li><a href="#">Children 1</a></li>
          <li><a href="#">Children 2</a></li>
          <li><a href="#">Children 3</a></li>
          <li class="menu-section"><span>A pretty section text for the sub menus</span></li>
          <li><a href="#">Children 4</a></li>
          <li><a href="#">Children 5</a></li>
          <li><a href="#">Children 6</a></li>
        </ul>
      </li>
      <li><a href="#">Primary 4</a>
        <ul class="sublevel">
          <li class="menu-section"><span>A pretty section text for the sub menus</span></li>
          <li><a href="#">Children 1</a></li>
          <li><a href="#">Children 2</a></li>
          <li><a href="#" class="see_more">more...</a></li>
        </ul>
      </li>
      <li><a href="#">Primary 5</a>
        <ul class="sublevel-caret">
          <li><a href="#">Children 1</a></li>
          <li><a href="#">Children 2</a></li>
          <li><a href="#" class="disabled">Children 3 Disabled</a></li>
          <li><a href="#">Children 4</a></li>
          <li><a href="#" class="see_more">more...</a>
            <ul class="sublevel">
              <li class="menu-section"><span>A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</span></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li class="menu-section"><span>A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</span></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li class="menu-section"><span>A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</span></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li class="menu-section"><span>A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</span></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li class="menu-section"><span>A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</span></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li class="menu-section"><span>A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</span></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
              <li><a href="#">Dummy item</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<!-- Collapsed drawer menu -->
<nav class="drawer menu-right">

{{#options.search_active}}
	<div class="search">
		{{> molecules/forms/search }}
	</div>
{{/options.search_active}}

{{#primary_nav}}
	<nav class="nav_primary">
		<ul>
		{{#items}}
			<li><a href="{{url}}" {{#is_current}}class="current"{{/is_current}}>{{text}}</a>
			{{#submenu}}
				<ul>
				{{#items}}
					<li><a href="{{url}}" {{#is_current}}class="current"{{/is_current}}>{{text}}</a></li>
				{{/items}}
				</ul>
			{{/submenu}}
			</li>
		{{/items}}
		</ul>
	</nav><!--end .nav-->
{{/primary_nav}}

{{#secondary_nav}}
	<ul class="nav_secondary">
		{{#options.settings_active}}
		<li>
		<a href="#" class="nav-toggle nav-toggle-settings">
			<svg class="icon icon-settings">
				<use xlink:href="#icon-settings"></use>
			</svg>
			<span>Settings</span>
		</a>
		</li>
		{{/options.settings_active}}

	</ul>
{{/secondary_nav}}
</nav>
