<header class="header">

<div class="menu-top">
	{{> molecules/navigation/global-topdrawer }}
</div>

<!-- Off canvas search bar -->
{{#options.search_active}}
{{> molecules/forms/global-search }}
{{/options.search_active}}

<!-- wrapper for navigation bar -->
<div class="cf">

{{# version.is_alpha }}
	<a href="#phase-feedback" class="phase-flag alpha">ALPHA</a>
{{/ version.is_alpha }}


	{{> atoms/images/logo }}

  <div class="nav-global">

		<a href="#" class="nav-toggle nav-toggle-sites">
			<span>{{i18n.global.our-sites}}</span>
		</a>

		{{#options.search_active}}
		<a href="#search" class="nav-toggle nav-toggle-search" aria-controls="searcharea" aria-expanded="false" aria-haspopup="true" aria-label="open search panel" aria-owns="searcharea">
			<svg class="icon icon-search">
				<use xlink:href="#icon-search"></use>
			</svg>
			<span class="is-vishidden">Search</span>
		</a>
		{{/options.search_active}}

		{{#options.settings_active}}
		<a href="#" class="nav-toggle nav-toggle-settings">
			<svg class="icon icon-settings">
				<use xlink:href="#icon-settings"></use>
			</svg>
			<span>Settings</span>
		</a>
		{{/options.settings_active}}

		<a href="#" class="nav-toggle nav-toggle-menu">
			<svg class="icon icon-menu">
				<use xlink:href="#icon-menu"></use>
			</svg>
			<span>Menu</span>
		</a>

	</div>

  <!--Pattern HTML-->

  <!--Begin Pattern HTML-->
{{#multitoggle_nav}}
  <nav id="menu" class="menu nav_primary nav" role="navigation">
    <ul class="level-1">

      <!--Parent #1-->
      <li class="has-subnav">
        <a href="#"{{#is_current}}class="current"{{/is_current}}>Parent #1</a>

        <ul class="level-2">

          <li class="nav-links-language">
            <span class="title-nav">Title for Section in X language</span>
          </li>
          <li>
            <p class="message-nav">Message that there's no content in this language</p>
          </li>
          <li class="nav-links-eng">
            <span class="title-nav">Title for Section in English</span>
          </li>
          <li class="">
            <a href="#">Child #1</a>
          </li>
          <li class="">
            <a href="#">Child #2</a>
          </li>
          <li class="">
            <a href="#">Child #3</a>
          </li>
          <li class="">
            <a href="#">Child #4</a>
          </li>
          <li class="see_all">
            <a href="#">See All...</a>
          </li>

        </ul>
      
      </li>

      <!--Parent #2-->
      <li class="has-subnav">
        <a href="#">Parent #2</a>
        <ul class="level-2">
          <li class="nav-links-language">
            <span class="title-nav">Title for Section in X language</span>
          </li>
          <li class="">
            <a href="#">Child #1</a>
          </li>
          <li class="">
            <a href="#">Child #2</a>
          </li>
          <li class="">
            <a href="#">Child #3</a>
          </li>
          <li class="nav-links-eng">
            <span class="title-nav">Title for Section in English</span>
          </li>
          <li class="">
            <a href="#">Child #1</a>
          </li>
          <li class="">
            <a href="#">Child #2</a>
          </li>
          <li class="">
            <a href="#">Child #3</a>
          </li>
          <li class="">
            <a href="#">Child #4</a>
          </li>
          <li class="see_all">
            <a href="#">See All...</a>
          </li>
        </ul>
      </li>

      <!--Parent #3-->
      <li class="has-subnav">
        <a href="#">Parent #3</a>
        <ul class="level-2">
          <li class="nav-links-language">
            <span class="title-nav">Title for Section in X language</span>
          </li>
          <li class="">
            <a href="#">Child #1</a>
          </li>
          <li class="">
            <a href="#">Child #2</a>
          </li>
          <li class="">
            <a href="#">Child #3</a>
          </li>
          <li class="">
            <a href="#">Child #4</a>
          </li>
          <li class="">
            <a href="#">Child #5</a>
          </li>
          <li class="">
            <a href="#">Child #6</a>
          </li>
          <li class="see_all">
            <a href="#">See All...</a>
          </li>
        </ul>
      </li>

      <!--Parent #4-->
      <li class="has-subnav">
        <a href="#">Parent #4</a>
        <ul class="level-2">
          <li class="has-subnav">
            <a href="#">Child #1</a>
            <ul class="level-3">
              <li><a href="#">Grandchild #1</a></li>
              <li><a href="#">Grandchild #2</a></li>
              <li><a href="#">Grandchild #3</a></li>
            </ul>
          </li>
          <li class="has-subnav">
            <a href="#">Child #2</a>
            <ul class="level-3">
              <li><a href="#">Grandchild #1</a></li>
              <li><a href="#">Grandchild #2</a></li>
              <li><a href="#">Grandchild #3</a></li>
            </ul>
          </li>
          <li class="has-subnav">
            <a href="#">Child #3</a>
            <ul class="level-3">
              <li><a href="#">Grandchild #1</a></li>
              <li><a href="#">Grandchild #2</a></li>
              <li><a href="#">Grandchild #3</a></li>
            </ul>
          </li>
          <li class="has-subnav">
            <a href="#">Child #4</a>
            <ul class="level-3">
              <li><a href="#">Grandchild #1</a></li>
              <li><a href="#">Grandchild #2</a></li>
              <li><a href="#">Grandchild #3</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
{{/multitoggle_nav}}
</div>

	<!--End Pattern HTML-->
  </header>

<!--Drawer Right Menu-->

<nav class="drawer menu-right">

{{#options.search_active}}
	<div class="search">
		{{> molecules/forms/search }}
	</div>
{{/options.search_active}}

{{#primary_nav}}
	<nav class="nav_primary">
		<ul>
		{{#items}}
			<li><a href="{{url}}" {{#is_current}}class="current"{{/is_current}}>{{text}}</a>
			{{#submenu}}
				<ul>
				{{#items}}
					<li><a href="{{url}}" {{#is_current}}class="current"{{/is_current}}>{{text}}</a></li>
				{{/items}}
				</ul>
			{{/submenu}}
			</li>
		{{/items}}
		</ul>
	</nav><!--end .nav-->
{{/primary_nav}}

{{#secondary_nav}}
	<ul class="nav_secondary">
		{{#options.settings_active}}
		<li>
		<a href="#" class="nav-toggle nav-toggle-settings">
			<svg class="icon icon-settings">
				<use xlink:href="#icon-settings"></use>
			</svg>
			<span>Settings</span>
		</a>
		</li>
		{{/options.settings_active}}

	</ul>
{{/secondary_nav}}
</nav>
<!--// Drawer Right Menu -->

  <!--  Important to review!! -->
  <script type="text/javascript">

    $(document).ready(function() {
  	  $('body').addClass('js');
		  var $menu = $('#menu'),
		  	  $menulink = $('.menu-link'),
		  	  $menuTrigger = $('.has-subnav > a');

		$menulink.click(function(e) {
			e.preventDefault();
			$menulink.toggleClass('active');
			$menu.toggleClass('active');
		});

		$menuTrigger.click(function(e) {
			e.preventDefault();
			var $this = $(this);
			$this.toggleClass('active').next('ul').toggleClass('active');
		});

		});
</script>
