{{# navigation.global }}
<a href="#maincontent" class="skip-main" tabindex="1">Skip to page contents</a>


<header class="header">

	<div class="menu-top">
		{{> molecules/navigation/global-topdrawer }}
	</div>

	<!-- Off canvas search bar -->
	{{#options.search_active}}
	{{> molecules/forms/global-search }}
	{{/options.search_active}}

	<!-- wrapper for navigation bar -->
	<div class="cf">

	{{# version.is_alpha }}
		<a href="#phase-feedback" class="phase-flag alpha">ALPHA</a>
	{{/ version.is_alpha }}


		{{> atoms/images/logo }}


		<!-- Primary navigation -->

	{{# primary_nav }}
	<nav role="navigation">
		<!-- Sample menu definition -->
		<ul id="main-menu" class="sm nav_primary nav-access">

		{{#items}}
				<li><a href="{{url}}"  class="{{#is_current}} current {{/is_current}}"  tabindex="1">{{text}}</a>

					{{#submenu}}
					<ul class="menu-sublevel caret">

					{{#items}}

						{{#is_divider}}
						<li class="menu-divider"></li>
						{{/is_divider}}

						{{^is_divider}}

						{{#subtitle}}
						<li class="menu-subtitle">{{text}}</li>
						{{/subtitle}}

						{{#message}}
						<li class="menu-message">{{text}}</li>
						{{/message}}

						{{#url}}
						<li><a href="{{url}}" {{#is_morelink}} class="menu-more" {{/is_morelink}} tabindex="1">{{text}}</a></li>
						{{/url}}

						{{/is_divider}}

					{{/items}}
					</ul>
					{{/submenu}}
				</li>
		{{/items}}

		</ul>
	</nav>
	{{/ primary_nav }}


	<div class="nav-global">

		<a href="#" class="nav-toggle nav-toggle-sites"  tabindex="2">
			<span>{{i18n.global.our-sites}}</span>
		</a>

		{{#options.search_active}}
		<a href="#search" class="nav-toggle nav-toggle-search" aria-controls="searcharea" aria-expanded="false" aria-haspopup="true" aria-label="open search panel" aria-owns="searcharea"  tabindex="2">
			<svg class="icon icon-search">
				<use xlink:href="#icon-search"></use>
			</svg>
			<span class="is-vishidden">Search</span>
		</a>
		{{/options.search_active}}

		{{#options.settings_active}}
		<a href="#" class="nav-toggle nav-toggle-settings" tabindex="2">
			<svg class="icon icon-settings">
				<use xlink:href="#icon-settings"></use>
			</svg>
			<span>Settings</span>
		</a>
		{{/options.settings_active}}

		<a href="#" class="nav-toggle nav-toggle-menu" tabindex="2">
			<svg class="icon icon-menu">
				<use xlink:href="#icon-menu"></use>
			</svg>
			<span>Menu</span>
		</a>

	</div>

	{{#utility_navx}}
	<ul class="nav_secondary">
		{{#options.settings_active}}
		<li>
		<a href="#" class="nav-toggle nav-toggle-settings">
			<svg class="icon icon-settings">
				<use xlink:href="#icon-settings"></use>
			</svg>
			<span>Settings</span>
		</a>
		</li>
		{{/options.settings_active}}

	</ul>
	{{/utility_navx}}
</header>

<!-- Collapsed drawer menu -->
<nav class="drawer menu-right">

{{#options.search_active}}
	<div class="search">
		{{> molecules/forms/search }}
	</div>
{{/options.search_active}}

{{#primary_nav}}
	<nav class="nav_primary">
		<ul>
		{{#items}}
			<li><a href="{{url}}" {{#is_current}}class="current"{{/is_current}}>{{text}}</a>
			{{#submenu}}
				<ul>
				{{#items}}
					<li><a href="{{url}}" {{#is_current}}class="current"{{/is_current}}>{{text}}</a></li>
				{{/items}}
				</ul>
			{{/submenu}}
			</li>
		{{/items}}
		</ul>
	</nav><!--end .nav-->
{{/primary_nav}}

{{#utility_nav}}
	<ul class="nav_secondary">
		{{#options.settings_active}}
		<li>
		<a href="#" class="nav-toggle nav-toggle-settings">
			<svg class="icon icon-settings">
				<use xlink:href="#icon-settings"></use>
			</svg>
			<span>Settings</span>
		</a>
		</li>
		{{/options.settings_active}}

	</ul>
{{/utility_nav}}
</nav>

{{/ navigation.global }}
