{{# navigation.global }}
<a href="#maincontent" class="skip-main" tabindex="1">Skip to page contents</a>


<header class="header">

	<div class="menu-top">
		{{> molecules/navigation/global-topdrawer }}
	</div>

	<!-- Off canvas search bar -->
	{{#options.search_active}}
	{{> molecules/forms/global-search }}
	{{/options.search_active}}

	<!-- wrapper for navigation bar -->
	<div class="cf">

	{{# version.is_alpha }}
		<a href="#phase-feedback" class="phase-flag alpha">ALPHA</a>
	{{/ version.is_alpha }}


		{{> atoms/images/logo }}


		<!-- Primary navigation -->

	{{# primary_nav }}
	<nav role="navigation" class="nav_primary">
	{{> molecules/navigation/smartmenu }}
	</nav>
	{{/ primary_nav }}


	<div class="nav-global">

		<a href="#" class="nav-toggle nav-toggle-sites" aria-controls="oursites" aria-expanded="false" aria-haspopup="true" aria-label="open Our Sites panel" aria-owns="oursites"  tabindex="2">
			<span class="link-text">{{i18n.global.our-sites}}</span>
		</a>

		{{#options.search_active}}
		<a href="#search" class="nav-toggle nav-toggle-search" aria-controls="searcharea" aria-expanded="false" aria-haspopup="true" aria-label="open search panel" aria-owns="searcharea"  tabindex="4">
			<svg class="icon icon-search">
				<use xlink:href="#icon-search"></use>
			</svg>
			<span class="is-vishidden">Search</span>
		</a>
		{{/options.search_active}}

		{{#options.settings_active}}
		<div class="nav-toggle nav-toggle-settings nav-utility">
		{{#utility_nav}}
		{{> molecules/navigation/smartmenu }}
		{{/utility_nav}}
		</div>
		{{/options.settings_active}}

		<a href="#" class="nav-toggle nav-toggle-menu" tabindex="1">
			<svg class="icon icon-menu">
				<use xlink:href="#icon-menu"></use>
			</svg>
			<span>Menu</span>
		</a>

	</div>
</header>

<!-- Collapsed drawer menu -->
<nav class="drawer menu-right">

{{#options.search_active}}
	<div class="search">
		{{> molecules/forms/search }}
	</div>
{{/options.search_active}}

{{#primary_nav}}
	<nav class="nav_primary">
		<ul>
		{{#items}}
			<li><a {{#url}}href="{{url}}"{{/url}} {{#is_current}}class="current"{{/is_current}}>{{text}}</a>
			{{#submenu}}
				<ul>
				{{#items}}
					<li><a {{#url}}href="{{url}}"{{/url}} {{#is_current}}class="current"{{/is_current}}>{{text}}</a></li>
				{{/items}}
				</ul>
			{{/submenu}}
			</li>
		{{/items}}
		</ul>
	</nav><!--end .nav-->
{{/primary_nav}}

{{#utility_navx}}
	<ul class="nav_secondary">
		{{#options.settings_active}}
		<li>
		<a href="#" class="nav-toggle nav-toggle-settings">
			<svg class="icon icon-settings">
				<use xlink:href="#icon-settings"></use>
			</svg>
			<span>Settings</span>
		</a>
		</li>
		{{/options.settings_active}}

	</ul>
{{/utility_navx}}
</nav>

{{/ navigation.global }}
