{{> atoms/iconography/svgicons-search }}
{{> organisms/global/header_v2}}

<div role="main" id="maincontent" class="after-header">

  {{#content}}

    <div class="gridlayout-wrapper-full">

      <!-- example of a row in main area, containing several columns-->

      {{#examples}}
        {{#head}}
          {{> molecules/browse/browseable-list-head}}
        {{/head}}

        {{> molecules/browse/browseable-list}}

        {{#foot}}
          {{#link}}
            {{> molecules/browse/browseable-list-foot-link}}
          {{/link}}
        {{/foot}}
      {{/examples}}

    </div>
  {{/content}}
</div>

{{> organisms/sections/banner }}

{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
