<div class="block block-inset">
    <a href="#" class="inner">
		<div class="b-thumb">
			<img src="{{image_root}}{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" />

			<div class="b-text">
				<h2 class="headline">{{ headline.medium }}</h2>
			</div>
		</div>
		{{# excerpt }}
		<div class="excerpt">
			<p>{{ excerpt.short }}</p>
		</div>
		{{/ excerpt}}
	</a>
</div>