<div class="link-block block">
    <a href="#" class="b-inner">
		<div class="b-thumb">
			<img src="{{image_root}}{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" />
		</div>
		<div class="b-text">
			<h2 class="item-title">{{ headline.medium }}</h2>
			{{# excerpt }}
			<p>{{ excerpt.short }}</p>
			{{/ excerpt}}
		</div>
	</a>
</div>