<div class="video-item block block-stacked">
    <div class="b-inner">
		<div class="b-thumb">
			<div class="video-wrapper video-fluid">
	          <iframe src="{{video.src}}" frameborder="0" allowfullscreen></iframe>
	        </div>
		</div>
		<div class="b-text">
			<div class="video-title">{{ title }}</div>
			<div class="item-meta-secondary">
				<span class="video-attribution">{{name.first}} {{name.last}}</span>
			</div>
			<div class="video-description">
			<p>{{ description }}</p>
			</div>
		</div>
	</div>
</div>