<div class="promo-block promo-block-text">
	<a href="{{url}}">
		<span class="title">{{title}}</span>

		
		<div class="lower">
			{{#count}}<span class="count">{{count}}</span>{{/count}}
			{{#media_type}}<span class="media_type">{{media_type}}</span>{{/media_type}}
		</div>
	</a>
</div>