<div class="promo-block-text cf">
	<a href="{{url}}" class="cf">

		{{#image}}
		<div class="img">
			<img class="circular" src="{{image_root}}{{image}}" alt="{{image_alt}}">
		</div>
		{{/image}}


		<div class="bd">
			<div class="l-upper">
				<span class="title">{{title}}</span>

				{{# is_spotlight }}
				<svg class="icon icon-star">
					<use xlink:href="#icon-star"></use>
				</svg>
				{{/ is_spotlight }}
				{{# is_search }}
				<svg class="icon icon-search">
					<use xlink:href="#icon-search"></use>
				</svg>
				{{/ is_search }}
				
			</div>
			
			<div class="lower">
				{{#count}}<span class="count">{{.}}</span>{{/count}}
				{{#media_type}}<span class="media_type">{{.}}</span>{{/media_type}}
			</div>
		</div>
	</a>
</div>