<div class="promo-block promo-block-image {{#is_channel}}item-channel {{/is_channel}}{{#is_exhibition}}item-exhibition {{/is_exhibition}}{{#is_new}}item-new {{/is_new}}{{#is_partner}}item-partner {{/is_partner}}{{#is_featured_site}}item-featuredsite {{/is_featured_site}} {{class_custom}} contrast" {{#bg_image}}style="background-image: url({{image_root}}{{bg_image}}); "{{/bg_image}}>

	<a href="{{url}}">
		{{#comingsoon}}
		<div class="corner-ribbon alternate">Coming Soon</div>
		{{/comingsoon}}
		<div class="inner">
			<span class="title">{{title}}</span>
			{{#subtitle}}
			<span class="subtitle">{{subtitle}}</span>
			{{/subtitle}}
		</div>
	</a>

{{#is_channel}}
	<div class="category-flag">Channel</div>
{{/is_channel}}
{{#is_exhibition}}
	<div class="category-flag">Exhibition</div>
{{/is_exhibition}}
{{#is_new}}
	<div class="category-flag">What's New</div>
{{/is_new}}
{{#is_partner}}
	<div class="category-flag">Our Partners</div>
{{/is_partner}}
{{#is_featured_site}}
	<div class="category-flag">Featured Site</div>
{{/is_featured_site}}
</div>