{{#license_CC0}}
  <span class="license icon-license-zero" {{>molecules/icons/rel_attribute}}></span>
{{/license_CC0}}

{{#license_CC_BY}}
  <span class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span></span>
{{/license_CC_BY}}

{{#license_CC_BY_SA}}
  <span class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-sa"></span></span>
{{/license_CC_BY_SA}}

{{#license_CC_BY_ND}}
  <span class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-nd"></span></span>
{{/license_CC_BY_ND}}

{{#license_CC_BY_NC}}
  <span class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-nc"></span></span>
{{/license_CC_BY_NC}}

{{#license_CC_BY_NC_SA}}
  <span class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-nc"></span><span class="icon-license-sa"></span></span>
{{/license_CC_BY_NC_SA}}

{{#license_CC_BY_NC_ND}}
  <span class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-cc"></span><span class="icon-license-by"></span><span class="icon-license-nc"></span><span class="icon-license-nd"></span></span>
{{/license_CC_BY_NC_ND}}

{{#license_OOC}}
  <span class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-no"><use xlink:href="#icon-license-rs-no"/></svg></span>
{{/license_OOC}}

{{#license_PD_NC}}
  <span class="license" {{>molecules/icons/rel_attribute}}><span class="icon-license-pd"></span><span class="icon-license-nc"></span><span class="icon-license-nd"></span></span>
{{/license_PD_NC}}

{{#license_public}}
  <span class="license icon-license-pd" {{>molecules/icons/rel_attribute}}></span>
{{/license_public}}

{{#license_RR_free}}
  <span class="license icon-license-rr" {{>molecules/icons/rel_attribute}}></span>
{{/license_RR_free}}

{{#license_RR_paid}}
  <span class="license icon-license-rr" {{>molecules/icons/rel_attribute}}></span>
{{/license_RR_paid}}

{{#license_RR_restricted}}
  <span class="license icon-license-rr" {{>molecules/icons/rel_attribute}}></span>
{{/license_RR_restricted}}

{{#license_unknown}}
  <span class="license" {{>molecules/icons/rel_attribute}}></span>
{{/license_unknown}}

{{#license_orphan}}
  <span class="license" {{>molecules/icons/rel_attribute}}></span>
{{/license_orphan}}

{{#license_RS_NOC_NC}}
  <span class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-no"><use xlink:href="#icon-license-rs-no"/></svg></span>
{{/license_RS_NOC_NC}}

{{#license_RS_NOC_OKLR}}
  <span class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-no"><use xlink:href="#icon-license-rs-no"/></svg></span>
{{/license_RS_NOC_OKLR}}

{{#license_RS_INC_EDU}}
  <span class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-yes"><use xlink:href="#icon-license-rs-yes"/></svg></span>
{{/license_RS_INC_EDU}}

{{#license_RS_INC}}
  <span class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-yes"><use xlink:href="#icon-license-rs-yes"/></svg></span>
{{/license_RS_INC}}

{{#license_RS_INC_OW_EU}}
  <span class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-yes"><use xlink:href="#icon-license-rs-yes"/></svg></span>
{{/license_RS_INC_OW_EU}}

{{#license_RS_CNE}}
  <span class="license" {{>molecules/icons/rel_attribute}}><svg class="icon icon-license-rs icon-license-rs-unknown"><use xlink:href="#icon-license-rs-unknown"/></svg></span>
{{/license_RS_CNE}}


