&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-search icon-block&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-rows icon-round&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-link icon-round&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-lock icon-round&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;
