&lt;ol class=&quot;pagination&quot;&gt;
	&lt;li class=&quot;is-disabled&quot;&gt;&lt;a href=&quot;&quot;&gt;&acirc;Üê First&lt;/a&gt;&lt;/li&gt;
	&lt;li class=&quot;arrow is-disabled&quot;&gt;&lt;a href=&quot;&quot;&gt;&acirc;Üê&lt;/a&gt;&lt;/li&gt;
	&lt;li class=&quot;current&quot;&gt;&lt;a href=&quot;&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;&quot;&gt;6&lt;/a&gt;&lt;/li&gt;

	&lt;li class=&quot;is-disabled&quot;&gt;&lt;a href=&quot;&quot;&gt;&amp;hellip;&lt;/a&gt;&lt;/li&gt;
	
	&lt;li class=&quot;arrow&quot;&gt;&lt;a href=&quot;&quot;&gt;&acirc;Üí&lt;/a&gt;&lt;/li&gt;
	&lt;li class=&quot;&quot;&gt;&lt;a href=&quot;&quot;&gt;Last &acirc;Üí&lt;/a&gt;&lt;/li&gt;
&lt;/ol&gt;