&lt;ul class=&quot;nav-footer&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;/&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;/about&quot;&gt;About us&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;http://europeana.eu/portal/rights/terms-and-policies.html&quot;&gt;Terms &amp;amp; policies&lt;/a&gt;&lt;/li&gt;
	&lt;br class=&quot;clear&quot;&gt;
&lt;/ul&gt;
