@import '../scss/generic/variables';
@import 'variables';

.no-js{
  .ve-foyer-card .ve-card-nav{
    display: none;
  }
}

.ve-chapter-selection,
.ve-foyer-card{
  padding:  0 1em;
  position: relative;
  width:    100%;

  .ve-label{
    font-size:      0.8em;
    font-weight:    bold;
    letter-spacing: 0.1em;
    position:       absolute;
    text-transform: uppercase;
  }
}

.ve-chapter-selection{
  .ve-label{
    // TODO: consider using $eu-orange
    background-color: #ffa500;
  }
  a{
    height:   100%;
    position: absolute;
    width:    100%;
    &:hover,
    &:focus{
      background-color: rgba($accent, .8);
    }
  }
}

.ve-state-buttons{
  bottom:     1em;
  position:   absolute;
  text-align: center;
  width:      100%;
  z-index:    2;
}

.ve-state-button-on,
.ve-state-button-off{
  background-image: url('../../images/formcontrols.png');
  background-size:  155px 19px;
  display:          inline-block;
  height:           19px;
  width:            20px;
}

.ve-state-button-off{
  background-position: -76px 0;
}

a:hover > .ve-state-button-off,
.ve-state-button-on{
  background-position: -96px 0;
}

.ve-chapter-selection-container{
  background-color: $offwhite;
  margin-top: 3em;
  padding: 2em 0;
}

.ve-chapter-selection-container-inner,
.ve-foyer-card-container{
  margin-top:    2em;
}

.ve-partner-logo{
  background-color: #fff;
  padding:          1 0.5em 0.5em;
  img{
    max-height: 3.8em;
  }
}

@media all and (min-width: $bp-small-2) {
}

@media all and (min-width: $bp-small-3) {
  .ve-chapter-selection,
  .ve-foyer-card{
    width:    50%;
  }
}

@media all and (min-width: $bp-med) {

  .ve-chapter-selection-container-inner,
  .ve-foyer-card-container{
    left:              50%;
    position:          relative;
    -ms-transform:     translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform:         translateX(-50%);
    width:             $ve_image_column_width;
  }

  .ve-label,
  .ve-partner-logo{
    display:  block;
    position: relative;
    right:    0;
    width:    auto;
  }
  .ve-partner-logo{
    float:    right;
  }
}


@media all and (min-width: $bp-xl) {
  .ve-chapter-selection,
  .ve-foyer-card{
    float:    left;
    width:    33.33%;
  }
}

@media all and (min-width: $bp-xxl) {
  .ve-chapter-selection,
  .ve-foyer-card{
    width:    25%;
  }
}

.ve-chapter-selection,
.ve-foyer-card{

  float:    left;
  padding:  0 1em;
  position: relative;

  .ve-label{
    left:    0.6em;
    right:   auto;
    top:     12px;
    z-index: 1;
  }

  .ve-chapter-selection-content{
    background-color: $eu-blue;
  }

  .ve-chapter-selection-content,
  .ve-foyer-card-content{
    height:   auto;
    margin:   0;
    overflow: hidden;
    padding:  0;
    position: relative;
    width:    100%;

    &::before{
      content:     '';
      display:     block;
      padding-top: 100%;
    }

    .inner,
    .ve-chapter-selection-state > img,
    .ve-foyer-card-state > img{
      bottom:    0;
      left:      0;
      position:  absolute;
      right:     0;
      top:       0;
    }

    .ve-chapter-selection-state > img,
    .ve-foyer-card-state > img{
      border:     0;
      height:     100%;
      margin:     0;
      max-height: 100%;
      max-width:  100%;
      object-fit: cover;
      width:      100%;
    }

    .ve-card-nav{
      color:             $colour_overlaid_text;
      cursor:            pointer;
      font-size:         1em;
      font-weight:       bold;
      padding:           0.25em;
      position:          absolute;
      top:               50%;
      -ms-transform:     translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform:         translateY(-50%);
      z-index:           2;
    }

    .svg-icon-next,
    .svg-icon-previous{
      display:       inline-block;
      height:        2em;
      margin-bottom: -0.75em;
      margin-top:    -0.75em;
      transform:     scale(0.7);
      width:         2em;
    }

    .ve-card-nav-left{
      left: 0;
    }

    .ve-card-nav-right{
      right: -0.25em;
    }

    .ve-chapter-selection-state,
    .ve-foyer-card-state{
      height:   100%;
      left:     0;
      position: absolute;
      width:    100%;

      &.hide-left{
        left: -100%;
      }
      &.hide-right{
        left: 100%;
      }
      &.animating{
        -webkit-transition: left 1s;
        transition:         left 1s;
      }
    }

    .text-box{
      color:          $colour_overlaid_text;
      left:           0;
      padding:        0.75em 2.1em;
      position:       absolute;
      width:          100%;

      &.title{
        font-weight:    bold;
        text-align:     center;
        text-transform: uppercase;
        top:               50%;
        -ms-transform:     translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform:         translateY(-50%);
      }

      a{
        color: $colour_overlaid_text;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    .ve-foyer-card-state.shaded::before,
    .text-box.title{
      background-color:  $bg_colour_overlaid_text;
    }

    .ve-foyer-card-state.shaded::before{
      content:  '';
      display:  block;
      height:   100%;
      left:     0;
      position: absolute;
      top:      0;
      width:    100%;
      z-index:  1;
    }

    .text-box.description{
      max-height: 75%;
      text-align: center;
    }

    .text-box.credits,
    .text-box.description{
      position: relative;
      z-index:  1;
    }

    .text-box.credits{
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .ve-state-button-off,
  .ve-state-button-on{
    margin: 0 0.25em;
  }
}
