$ve_min_section_height:      calc(100%-5rem);
$colour_overlaid_text:       #fff;
$bg_colour_overlaid_text:    rgba(0,0,0,0.7);

$ve_text_column_width:       57%;
$ve_text_column_width_XL:    40em;

$ve_image_column_width:      75%;