@import "../scss/generic/variables";

.text-element{
  background-color:  rgba(0,0,0,0.5);
  color:             #fff;
  padding:           1.5em;

  &.exhibition-description{

    @media all and (min-width: $bp-small-2) {
      width: 100%;
    }

    @media all and (min-width: $bp-small-3) {
    }

    @media all and (min-width: $bp-med) {
      width: 50%;
    }

    @media all and (min-width: $bp-xl) {
    }

  }
}

.ve-image-caption{
  text-align: center;
}

.ve-image-caption:before{
  content: "“";
  display: block;
}

.ve-image-caption:after{
  content: "”";
  display: block;
}

