.stats-bar{
	background-color: $blue-dark;
	color: $white;

	li{
		display: block;
		padding: $space-half;
		margin: $space-half 0;
		border-bottom: 2px solid lighten($blue-dark, 10%);

		@media all and (min-width: $bp-small) {
			width: 50%;
			float: left;
		}

		@media all and (min-width: $bp-med) {
			width: 33%;
		}

		@media all and (min-width: $bp-xl) {
		  width: 16.6666%;
		  border-bottom: 0;
		  border-right: 3px solid lighten($blue-dark, 10%);

		  &:last-child{
				border: none;

				.tooltip{
					left: auto;
					right: -2em;
				}
			}
		}
	}

	.tooltip-container{
		float: right;
		color: rgba(255,255,255,0.6);
		&:hover, &:focus {
			color: rgba(255,255,255,1);
		}
		.icon{
			margin-right: 0;
		}
	}

	.stat-title{
		font-weight: normal;
		text-transform: none;
		font-size: $font-size-slightly-smaller;
	}
	.stat-wrapper{
		text-align: left;
	}
	.stat-display figcaption{
		margin-bottom: $space-quarter;
		color: $gray-lightest;
	}

	.stat-trend{
		float: right;
	}
}