<li data-term="[[directHit]]"[[#groupBegin]] class="group-begin"[[/groupBegin]]>
  <span class="suggest-type[[#type_lc]] suggest-[[.]][[/type_lc]]">[[type_translated]] </span>
  [[#directMatch]][[directHitPreMatch]]<span class="match"><b>[[.]]</b>[[directHitPostMatch]][[/directMatch]]</span>
  [[^directMatch]]
    [[#indirectMatch]][[unmatched]] ( [[indirectHitPreMatch]]<span class="match"><b>[[.]]</b>[[indirectHitPostMatch]]</span>[[#indirectLocale]] | <span class="suggest-locale">[[.]]</span>[[/indirectLocale]] )[[/indirectMatch]]
  [[/directMatch]]

  [[#life]]<span class="suggest-life">[[/life]]
    [[#dateOfBirth]]<span class="suggest-dob"><span class="label">{{i18n.site.entities.labels.born}}</span><span class="value"> [[.]]</span></span>[[/dateOfBirth]]
    [[#dateOfDeath]]
      <span class="suggest-dod"><span class="label">{{i18n.site.entities.labels.died}}</span><span class="value"> [[.]]</span></span>
    [[/dateOfDeath]]
  [[#life]]</span>[[/life]]

  [[#life_summary]]<span class="suggest-prof">[[.]]</span>[[/life_summary]]
</li>
