{{#double_btns}}
<div class="btns-set">
    <span class="btn-padding">
        <a href="{{url_left}}" class="btn btn-left">
            <i class="fa fa-plus fa-fw"></i>{{btn_left_text}}
        </a>
        <a href="{{url_right}}" class="btn btn-right">
            <i class="fa fa-plus fa-fw"></i>{{btn_right_text}}
            <span class="right-btn-under-text">{{btn_right_under_text}}</span>
        </a>
    </span>
</div>
{{/double_btns}}
