{{#double-btns}}
<div class="btns-set">
    <span class="btn-padding">
        <a href="{{url-left}}" class="btn btn-left">
            <i class="fa fa-plus fa-fw"></i>{{btn-left-text}}
        </a>
        <a href="{{url-right}}" class="btn btn-right">
            <i class="fa fa-plus fa-fw"></i>{{btn-right-text}}
            <span class="right-btn-under-text">{{btn-right-under-text}}</span>
        </a>
    </span>
</div>
{{/double-btns}}
