@import '../generic/variables';

.svg-icon-plus-bordered{
  background-image:url("data:image/svg+xml,%3Csvg width='18' height='18' shape-rendering='crispEdges' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd' %3E%3Cpath stroke='#{url-encode-color($gray-light)}' d='M.5.5h17v17H.5z'%3E%3C/path%3E%3Cpath d='M10.042 14H7.958a.207.207 0 0 1-.208-.208V10.25H4.208A.207.207 0 0 1 4 10.042V7.958c0-.115.093-.208.208-.208H7.75V4.208c0-.115.093-.208.208-.208h2.084c.115 0 .208.093.208.208V7.75h3.542c.115 0 .208.093.208.208v2.084a.207.207 0 0 1-.208.208H10.25v3.542a.207.207 0 0 1-.208.208z' fill='#{url-encode-color($gray-light)}' %3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
