@import "../generic/variables";

.svg-icon-location{
  background-image:url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-light)}' viewbox='0 0 26 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.091 1.636q3.606 0 6.167 2.561t2.561 6.167q0 2.273-1.121 4.273l-7.121 12.909q-0.152 0.273-0.485 0.273t-0.485-0.273l-7.121-12.909q-1.121-1.909-1.121-4.273 0-3.606 2.561-6.167t6.167-2.561zM13.091 13.636q1.364 0 2.318-0.955t0.955-2.318-0.955-2.318-2.318-0.955-2.318 0.955-0.955 2.318 0.955 2.318 2.318 0.955z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
