@import '../generic/variables';

@import 'svg-icon-user-signin';
@import 'svg-icon-notifications';
@import 'svg-icon-configuration';
@import 'svg-icon-loggedin-user';
@import 'svg-icon-form-field-calendar';
