@import '../../../sass/scss/generic/variables';

@import 'svg-icon-bookmark';
@import 'svg-icon-bookmark-before';
@import 'svg-icon-bookmark-eu-blue';
@import 'svg-icon-bookmark-white';
@import 'svg-icon-bookmark-white-before';
@import 'svg-icon-calendar';
@import 'svg-icon-calendar-white';
@import 'svg-icon-clock';
@import 'svg-icon-ellipsis-eu-blue';
@import 'svg-icon-email';
@import 'svg-icon-external-white-after';
@import 'svg-icon-external-eu-blue-after';
@import 'svg-icon-home';
@import 'svg-icon-image';
@import 'svg-icon-info';
@import 'svg-icon-language';
@import 'svg-icon-linkout';
@import 'svg-icon-location';
@import 'svg-icon-music';
@import 'svg-icon-openbook';
@import 'svg-icon-phone-landline';
@import 'svg-icon-rss';
@import 'svg-icon-tv';
@import 'svg-icon-user';
@import 'svg-icon-user';
@import 'svg-icon-zoom-in';
