&lt;div class=&quot;byline&quot;&gt;
	by &lt;span class=&quot;byline-author&quot;&gt;{{ author.first-name }} {{ author.last-name }}&lt;/span&gt; on &lt;time datetime=&quot;2013-04-06T12:32+00:00&quot; class=&quot;byline-time&quot; &gt;June 3rd&lt;/time&gt;
&lt;/div&gt;