<div class="object-media-oembed is-hidden" data-fullscreen-enter="[[i18n.global.actions.fullscreen-enter]]" data-fullscreen-exit="[[i18n.global.actions.fullscreen-exit]]">
  <div class="oembed-container"></div>
  {{> molecules/components/oembed/oembed }}
</div>
