.labs-home{
	padding-top: 0;

	.section{
		padding: $space-double $space-half;
		margin-bottom: 0;

		@media all and (min-width: $bp-small) {
			padding: $space-double $space;
		}
	}

}



.labs-home .apps-list{
	text-align: center;
	padding-top: 0;

	.block-thumb, h2{
		text-align: left;
	}

	.headline{
		@include fontSize(28px);
	}
}

.apps-more{
	text-align: center;
	padding: $space;
	margin: 0 auto;
	width: 50%;
	border-top: solid 3px $gray-med;
}