// Generic Columns - Sidebars
.sidebar{
	@extend %grid__item;
	@extend %one-quarter;
	@extend %palm--one-whole;
}

.main-content{
	@extend %grid__item;
	@extend %three-quarters;
	@extend %palm--one-whole;
}

.grid-main{
	@extend %grid;
	@extend %grid--full;
}

// Post List

.l-post-list{
	@extend %grid;
	margin-bottom: $space;

	li{
		@extend %grid__item;
		@extend %lap--one-half;
		margin-bottom: $space;
	}

	.list-item-primary{
		@extend %lap--one-third;
	}

	.list-item-secondary{
		@extend %lap--one-fifth;
	}

}


// header in content pages
.block-content-header .contents{
	@extend %grid__item;
	@extend %palm--one-whole;
	@extend %push--palm--none;
	@extend %three-quarters;
	@extend %push--one-quarter;
}


// Global nav - Our sites
.our-sites .l-linklist{
	@extend %grid__item;
	@extend %lap--one-quarter;
}

// Home page module layout

.l-primaryaction{
	@extend %grid__item;
	@extend %lap--one-third;
}

.l-usefulinfo{
	@extend %grid__item;
	@extend %lap--two-thirds;
	
	.l-usefulinfo-item{
		@extend %grid__item;
		@extend %smallup--one-half;
	}
}

.home-news{

	.l-news{
		@extend %grid__item;

		//@extend %lap--two-thirds;
		margin-bottom: $space;
	}
	.l-post{
		@extend %grid__item;
		@extend %lap--one-third;
	}
}

.events-upcoming{
	.event{
		@extend %grid__item;
		@extend %lap--one-half;
	}

	.event-date{
		float: right;
		margin-left: $space;
		margin-bottom: $space;
	}
}

// Generic page layout

.l-page{


}

.l-content{
	@extend %grid__item;
	@extend %lap--three-quarters;
}

.l-sidebar{
	@extend %grid__item;
	@extend %lap--one-quarter;
}

.help-contact{
	//@extend %one-half;
	@extend %lap--one-whole;
}

.l-relatedlinks{
	@extend %grid;

	.related-item{
		@extend %grid__item;
		@extend %lap--one-third;
	}
}


//List page layout

.list-item{
	@extend %grid;
	@extend %grid--rev;

	.item-details{
		@extend %grid__item;
		@extend %smallup--two-thirds;
	}

	.item-supplementary{
		@extend %grid__item;
		@extend %smallup--one-third;
	}
}

.l-next_options{

	@extend %grid;

	 li{
		@extend %grid__item;

		@extend %smallup--one-half;
		@extend %lap--one-third;
	}
}

.l-section-sitemap{

	@extend %grid;

	.l-linklist{
		@extend %grid__item;
		@extend %lap--one-third;
	}
}


//Event page
.people-list, .team .results-list{
	@extend %grid;

	 li{
		@extend %grid__item;
		@extend %smallup--one-half;
	}
}

//Person Detail Page

.contact-detail{
	@extend %grid;
	@extend %grid--rev;

	.l-contact{
		@extend %grid__item;
		@extend %lap--two-thirds;
	}

	.contact-external{
		float: right;
		width: 45%;
	}

	.contact-internal{
		float: left;
		width: 45%;
	}
}

.l-contact-photo{
	@extend %grid__item;
	@extend %lap--one-third;
}


//Publication detail and project detail
.l-twoup{

	@extend %grid;
	@extend %grid--rev;

	.l-detail{
		@extend %grid__item;
		@extend %lap--two-thirds;
	}

	.l-photo{
		@extend %grid__item;
		@extend %lap--one-third;
	}
}


// Footer layout
.footer{

	.l-contact{
		@extend %grid__item;
		@extend %lap--one-fifth;
	}

	.l-content{
		@extend %grid__item;
		@extend %lap--two-fifths;
	}

	.l-nextsteps{
		@extend %grid__item;
		@extend %lap--two-fifths;
	}
}

.l-sitemap .l-linklist{
	@extend %grid__item;
	@extend %one-half;
}

.l-mission, .l-othersites{
	@extend %grid__item;
}