@charset "UTF-8";
/*
 EUROPEANA LABS

 Requires: Sass, Compass
*/
// Sass stuff
@import "compass/css3";
@import "scss/generic/variables";
@import "scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-labs;
$textcolour_highlight: $accent;


// Reset
@import "scss/generic/reset";

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
@import "scss/base/global-classes";
@import "scss/base/main";
@import "scss/base/links";
@import "scss/base/headings_simple";
@import "scss/base/text";
@import "scss/base/code";
@import "scss/base/lists";
@import "scss/base/media";
@import "scss/base/forms";
@import "scss/base/tables";


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
@import "scss/grid/csswizardry-grids";

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
@import "scss/objects/header";
@import "scss/objects/footer";

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
@import "scss/objects/nav";
@import "scss/objects/navigation/breadcrumbs";
@import "scss/objects/navigation/pagination";

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
@import "scss/objects/text";

/*------------------------------------*\
    Site modules
\*------------------------------------*/
//module layout using css wizardry grid
@import "labs/layout_csswiz";

/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/

// Global icons (svg)
@import "scss/objects/icons/svgicons";
//Icon fonts
@import "scss/objects/icons/icons_fonts";

@import "scss/objects/buttons";
@import "scss/objects/tags";
@import "scss/objects/blocks";


@import "scss/objects/lists";
@import "scss/objects/tooltip";
@import "scss/objects/accordion";
@import "scss/objects/tabs";
@import "scss/objects/sections";
@import "scss/objects/article";
@import "scss/objects/comments";
@import "scss/objects/loading";
@import "scss/objects/dates";







//extra bits

h1.title{
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 53px;
    font-size: 3.3125rem;
}