<style>
.recusive-item {
  margin-left: 2em;
  margin-top: 1em;
}
</style>

{{#mapping_card}}
	{{#card}}
		{{>organisms/pandora/mapping-card}}
	{{/card}}
	<div class="recusive-item">
		{{#children}}
		  {{#mapping_cards}}
		    {{> organisms/pandora/Mapping-Card-List}}
		  {{/mapping_cards}}
		{{/children}}
	</div>
{{/mapping_card}}