{{#metis-dataset-page}}
  <div class="metis-collapse-block">
    <div class="collapse-toggle-block">
      <div class="metis-dataset-name">
        {{metis_dataset_name}}
      </div>
      <div class="metis-dataset-collapse-toggle">
        <span class="metis-info-toggle">
          <i class="fa fa-expand" aria-hidden="true"></i>Expand info
        </span>
      </div>

    </div>
    <hr>
  </div>
{{/metis-dataset-page}}
