<div>
  {{#tooltip}}
      {{>atoms/text/tooltip}}
  {{/tooltip}}
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">

<div class="second-line">{{value_number}}</div>
<div class="flag">
  <a class="flag-link"  data-dropdown="#object_furtheractions_test">
    <i class="fa fa-flag-o"></i>
  </a>
</div>
  {{#dropdown}}
    {{>molecules/controls/dropdown-menu}}
  {{/dropdown}}
