{{#register_form}}
  <div class="metis-register-form">
    <form action="{{form_action}}" method="post" role="form">
      <div class="form-header">
        <h2>{{form_title}}</h2>
      </div>
      <div class="messages">
        {{#register_err_duplicate_user}}
          <div class="error-message"><i class="fa fa-times" aria-hidden="true"></i> {{register_err_duplicate_user}}</div>
        {{/register_err_duplicate_user}}
      </div>
      <div class="form-fields">
        <fieldset class="form-group">
          <legend class="register-form-header">{{full_name_field.label}}</legend>
          <input id="firstName" autocomplete="off" name='firstName' placeholder="{{full_name_field.first_name_placeholder}}"/>
          <input id="lastName"  autocomplete="off" name='lastName'  placeholder="{{full_name_field.last_name_placeholder}}"/>
        </fieldset>
        <fieldset class="form-group">
          <legend class="register-form-header">{{email_field.label}}</legend>
          <input id="email" autocomplete="off" type='email' name='email' placeholder="{{email_field.placeholder}}"/>
        </fieldset>
        <fieldset class="form-group">
          <legend class="legend-heading">{{password_field.label}}</legend>
          <input id="password" autocomplete="off" type='password' name='password' placeholder="{{password_field.placeholder}}"/>
        </fieldset>
        <div class="form-requirements-warning">
          <p>{{form_requirements_warning}}</p>
        </div>
        <div class="form-group form-group-btns">
          <button class="submit-btn" type="submit">{{submit_btn_text}}</button>
          <button class="reset-btn" type="button">{{reset_btn_text}}</button>
        </div>
      </div>
    </form>
  </div>
{{/register_form}}
