<form action="#" method="post" role="form" class="metis-profile-form">
  <fieldset>
    <legend class="profile-form-header">Edit User Profile</legend>
    <div class="error_missing error-message">Error: a new password and the confirmed password are not the same</div>
    <div class="error_nonequal error-message">Error: an old password is missing</div>
    <div class="field-container">
      <label for="userId">User ID: <b>123</b></label>
    </div>

    <div class="field-container">
      <label for="fullName">First Name*:</label>
      <input id="fullName" type='text' name='fullName' {{#fullName}}value="{{.}}"{{/fullName}}/>
    </div>
    <div class="field-container">
      <label for="lastName">Last Name*:</label>
      <input id="lastName" type='text' name='lastName' {{#lastName}}value="{{.}}"{{/lastName}}/>
    </div>
    <div class="field-container">
      <label for="email">Email*:</label>
      <input id="email" type='email' name='email' {{#email}}value="{{.}}"{{/email}}/>
    </div>
    <div class="field-container">
      <label for="skype">Skype:</label>
      <input id="skype" type='text' name='skype' placeholder="Type your skype account"
             {{#skype}}value="{{.}}"{{/skype}}/>
    </div>
    <div class="field-container">
      <label for="skype">Country: </label>
      <select class="select-dropdown" id="user-profile-country-select" name="country" autocomplete="off">

        {{#countries}}
          <option value="{{value}}" {{#selected}}selected="selected"{{/selected}}>{{text}}</option>
        {{/countries}}
      </select>
    </div>

    <div class="org-selection">
      <label for="organizations">Organizations: </label>
      <input id="searchOrganization" autofocus type="text" name="q" placeholder="Search Organizations ...">
      <div class="selectedOrganizations">
        {{#organizations}}
          <div class="selectedOrg" id="{{organizationId}}">
            <a class="selectedOrganization alreadySelected"
               name="organization"
               data-rolesTypeId="{{rolesTypeId}}"
               data-role="{{organizationRole}}"
               data-name="{{organizationName}}"
               data-organizationId="{{organizationId}}"
            >{{organizationName}}:&nbsp;{{organizationRole}}</a>
            <b><a class="removeOrganization" data-name="{{organizationName}}">&nbsp;X</a></b>
          </div>
        {{/organizations}}
      </div>


      <span class="zip"></span>

      <div class="modal-wrapper">
        <div class="modal">
          <div class="head">

            <a class="btn-close trigger"></a>
            <h3 class="headerRole">Select User's Role for: </h3>

          </div>
          <div class="content">
            <h5 class="currentSelectedOrganization"></h5>

            {{#roleTypes}}
              <select data-rolesTypeId="{{typeId}}" class="roles hidden">
                {{#roles}}
                  <option value="{{name}}">{{name}}</option>
                {{/roles}}
              </select>
            {{/roleTypes}}
            <input type="button" value="Confirm role" class="btn trigger" id="roleSelection">
          </div>
        </div>
      </div>
    </div>

    <div class="field-container">
      <label for="textarea">Notes</label>
      <textarea class="org-list" id="notes" name="notes" rows="4" cols="48">
          </textarea>
    </div>

    <div class="field-container">
      <label for="active">Active: <b>Yes</b></label>
    </div>
    <div class="field-container">
      <label for="approved">Approved: <b>No</b></label>
    </div>
    <div class="field-container">
      <label for="created">Created: <b> 22 April 2011</b></label>
    </div>
    <div class="field-container">
      <label for="created">Updated: <b> 2 June 2012</b></label>
    </div>
    <div class="field-container">
      <button type="button">Update</button>
    </div>
    <div class="field-container">
      <button type="button">Back to Home</button>
    </div>
  </fieldset>
</form>
