<h1>Mode View: {{view_mode.value}}</h1>
<h2>User role: {{user_role.value}}</h2>

{{#user_profile}}
  <div class="user-profile-form">
    <form action="#" method="POST" data-role="{{user_role.value}}" data-view-mode="{{view_mode.value}}">
    <div class="flex-outer">
      {{#user_fields}}

        {{#user_id}}
          <div>
            <label for="userId">{{label}}</label>
            <input type="text" value="{{value}}" readonly name="userId" id="userId">
          </div>
        {{/user_id}}

        {{#user_first_name}}
          <div>
            <label for="userFirstName">{{label}}</label>
            <input type="text" value="{{value}}" class="eu prov" placeholder="{{placeholder}}"
                   {{#view_mode.preview}}readonly{{/view_mode.preview}} name="userFirstName" id="userFirstName">
          </div>
        {{/user_first_name}}

        {{#user_last_name}}
          <div>
            <label for="userLastName">{{label}}</label>
            <input type="text" value="{{value}}" class="eu prov" placeholder="{{placeholder}}"
                   {{#view_mode.preview}}readonly{{/view_mode.preview}} name="userLastName" id="userLastName">
          </div>
        {{/user_last_name}}

        {{#user_email}}
          <div>
            <label for="userEmail">{{label}}</label>
            <input type="text" value="{{value}}" class="eu prov" placeholder="{{placeholder}}"
                   {{#view_mode.preview}}readonly{{/view_mode.preview}} name="userEmail" id="userEmail">
          </div>
        {{/user_email}}

        {{#user_skype}}
          <div>
            <label for="userSkype">{{label}}</label>
            <input type="text" value="{{value}}" class="eu prov" placeholder="{{placeholder}}"
                   {{#view_mode.preview}}readonly{{/view_mode.preview}} name="userSkype" id="userSkype">
          </div>
        {{/user_skype}}

        {{#countries}}
          <div>
            <label for="country">{{label}}</label>
            <select name="country" class="eu prov" {{#view_mode.preview}}disabled{{/view_mode.preview}}>
              <option value="" {{^selectedCountry}}selected{{/selectedCountry}}>{{start_value}}</option>
              {{#items}}
                <option value="{{name}}"  {{#selected}}selected{{/selected}}>{{name}}</option>
              {{/items}}
            </select>
          </div>
        {{/countries}}

        <div class="org-selection">
          <label for="organizations">Organizations: </label>
          <input id="searchOrganisation" autofocus type="text" class="svg-icon-search eu"
                 {{#view_mode.preview}}readonly{{/view_mode.preview}}

                 name="organization"
                 placeholder="Search Organisations ...">
          <div class="modal-wrapper">
            <div class="modal">
              <div class="head">
                <a class="btn-close trigger"></a>
                <h3 class="headerRole">Select User's Role for: </h3>
              </div>
              <div class="content">
                <div class="roleWrapper">
                  <h4 class="currentSelectedOrganization"></h4>
                  {{#roleTypes}}
                    <select data-rolesTypeId="{{typeId}}" class="roles hidden">
                      {{#roles}}
                        <option value="{{name}}">{{name}}</option>
                      {{/roles}}
                    </select>
                  {{/roleTypes}}
                </div>
                <input type="button" value="Confirm role" class="btn trigger" id="roleSelection">
              </div>
            </div>
          </div>
        </div>
        {{#selectedOrganizations}}
          <div class="selectedOrganizations {{^organizations}}hidden{{/organizations}}">
            <label for="organization">{{#label}}{{.}}{{/label}}</label>
            <div class="selectedOrgs">
              {{#organizations}}
                <div class="selectedOrg" id="{{organizationId}}">
                  <a
                    class="selectedOrganization alreadySelected
                      {{#view_mode.preview}}disableLink{{/view_mode.preview}}
                      {{^view_mode.preview}}{{#user_role.metisUser}}disableLink{{/user_role.metisUser}}{{/view_mode.preview}}"
                    name="organization"
                    data-rolesTypeId="{{rolesTypeId}}"
                    data-role="{{organizationRole}}"
                    data-name="{{organizationName}}"
                    data-organizationId="{{organizationId}}">{{organizationName}}
                    :&nbsp;{{#organizationRole}} {{.}} {{/organizationRole}}</a>
                  <b><a
                    class="removeOrganization {{#view_mode.preview}}disableLink{{/view_mode.preview}}
                      {{^view_mode.preview}}{{#user_role.metisUser}}disableLink{{/user_role.metisUser}}{{/view_mode.preview}}"
                    data-name="{{organizationName}}">&nbsp;X</a>
                  </b>
                </div>
              {{/organizations}}
            </div>
          </div>
        {{/selectedOrganizations}}
        {{#notes}}
          <div>
            <label for="notes">{{label}}</label>
            <textarea rows="4" cols="50" name="notes" class="eu prov"
              {{#view_mode.preview}}readonly{{/view_mode.preview}}
              placeholder="{{placeholder}}">{{value}}</textarea>
          </div>
        {{/notes}}

        {{#active}}
          <div>
            <label for="active">{{label}}</label>
            <input type="text" value="{{value}}" readonly name="active"
                   id="active" placeholder="{{placeholder}}">
          </div>
        {{/active}}

        {{#approved}}
          <div>
            <label for="approved">{{label}}</label>
            <input type="text" value="{{value}}" readonly name="approved"
                   id="approved" placeholder="{{placeholder}}">
          </div>
        {{/approved}}

        {{#created}}
          <div>
            <label for="created">{{label}}</label>
            <input type="text" value="{{value}}" readonly name="created" id="created" placeholder="{{placeholder}}">
          </div>
        {{/created}}

        {{#updated}}
          <div>
            <label for="updated">{{label}}</label>
            <input type="text" value="{{value}}" readonly name="updated" id="updated" placeholder="{{placeholder}}">
          </div>
        {{/updated}}

        <div class="buttons user-profile-preview-btn hidden">
          <button class="edit-user-profile" type="button">Edit</button>
        </div>

        <div class="buttons user-profile-edit-btns hidden">
          <div>
            <button class="submit" type="button">Submit</button>
          </div>
          <div>
            <button class="cancel {{view_mode.value}}" type="button">Cancel</button>
          </div>
        </div>

      </div>
      {{/user_fields}}
    </form>
  </div>
{{/user_profile}}
