{{#user_profile}}
  <div class="metis-form metis-form-horizontal user-profile-form">
    <form action="{{user_profile_url}}" method="POST">
    
      <div class="form-fields">

        {{#user_fields}}

          {{#user_id}}
              {{#visible}}
              <div class="form-group">
                <label for="userId">{{label}}</label>
                <input type="text" value="{{value}}" name="userId" id="userId" {{#readonly}}readonly{{/readonly}} {{^user_fields_editmode}}disabled{{/user_fields_editmode}}/>
              </div> 
              {{/visible}}            
          {{/user_id}}

          {{#user_first_name}}
            {{#visible}}
            <div class="form-group">
              <label for="userFirstName">{{label}}</label>
              <input class="js-editable"
                     data-orig-value="{{value}}"
                     id="userFirstName"
                     name="userFirstName"
                     placeholder="{{placeholder}}"
                     type="text"
                     value="{{value}}"
                     {{#readonly}}readonly{{/readonly}} 
                     {{^user_fields_editmode}}disabled{{/user_fields_editmode}}
                     />
            </div>
            {{/visible}}
          {{/user_first_name}}

          {{#user_last_name}}
            {{#visible}}
            <div class="form-group">
              <label for="userLastName">{{label}}</label>
              <input class="js-editable"
                     data-orig-value="{{value}}"
                     id="userLastName"
                     name="userLastName"
                     placeholder="{{placeholder}}"
                     type="text"
                     value="{{value}}"
                     {{#readonly}}readonly{{/readonly}} 
                     {{^user_fields_editmode}}disabled{{/user_fields_editmode}}
                     />
              {{/visible}}
            </div>
          {{/user_last_name}}

          {{#user_email}}
            {{#visible}}
            <div class="form-group">
              <label for="userEmail">{{label}}</label>
              <input data-orig-value="{{value}}"
                     id="userEmail"
                     name="userEmail"
                     placeholder="{{placeholder}}"
                     type="text"
                     value="{{value}}"
                     {{#readonly}}readonly{{/readonly}} 
                     {{^user_fields_editmode}}disabled{{/user_fields_editmode}} />
            </div>
            {{/visible}}
          {{/user_email}}

          {{#user_skype}}
            {{#visible}}
            <div class="form-group">
              <label for="userSkype">{{label}}</label>
              <input class="js-editable"
                     data-orig-value="{{value}}"
                     id="userSkype"
                     name="userSkype"
                     placeholder="{{placeholder}}"
                     type="text"
                     value="{{value}}"
                     {{#readonly}}readonly{{/readonly}} 
                     {{^user_fields_editmode}}disabled{{/user_fields_editmode}} />
            </div>
            {{/visible}}
          {{/user_skype}}

          {{#countries}}
            {{#visible}}
            <div class="form-group">
              <label for="country">{{label}}</label>
              <select autocomplete="off"
                      class="js-editable"
                      name="country"
                      {{#items}}
                        {{#selected}}data-orig-value="{{name}}"{{/selected}}
                      {{/items}}
                      {{#readonly}}readonly{{/readonly}} 
                      {{^user_fields_editmode}}disabled{{/user_fields_editmode}}
                      >
                <option value="" {{^selectedCountry}}selected{{/selectedCountry}}>{{start_value}}</option>
                {{#items}}
                  <option value="{{name}}"{{#selected}}selected="selected"{{/selected}}>{{name}}</option>
                {{/items}}
              </select>
            </div>
            {{/visible}}
          {{/countries}}

          {{#autocomplete}}  
            {{#visible}}        
              <div class="form-group metis-autocomplete">
                <label for="search-org">Organizations</label>
                <div class="metis-autocomplete-wrap">
                  <input autofocus
                     class="js-editable svg-icon-search eu"
                     id="search-org"
                     name="organizations"
                     placeholder="Search Organizations ..."
                     type="text"
                     data-autocomplete-url="{{url}}"
                     data-autocomplete-min-chars="{{min_chars}}"
                     {{#readonly}}readonly{{/readonly}} 
                     {{^user_fields_editmode}}disabled{{/user_fields_editmode}} />
                </div>

                {{#roles}}
                  {{^readonly}}
                    <div class="modal-wrapper">
                      <div class="modal">
                        <div class="head">
                          <a class="btn-close trigger"></a>
                          <h3 class="headerRole">Select User's Role for: </h3>
                        </div>
                        <div class="content">
                          <div class="role-wrapper">
                            <h4 class="current-selected-organisation"></h4>
                            <select class="roles">
                              {{#types}}
                                <option value="{{name}}">{{name}}</option>
                              {{/types}}
                            </select>
                          </div>
                          <button type="button">Confirm role</button>
                        </div>
                      </div>
                    </div>
                  {{/readonly}}
                {{/roles}}
                
              </div> 
            {{/visible}}
          {{/autocomplete}}

          {{#selectedOrganizations}}
            <div class="form-group metis-autocomplete-selected {{^organizations}}hidden{{/organizations}}">
              <label>{{#label}}{{.}}{{/label}}</label>
              <ul class="metis-autocomplete-selected-wrap">
                {{#organizations}}
                  <li class="tag {{#readonly}}disable-tag{{/readonly}} {{^user_fields_editmode}}disable-tag{{/user_fields_editmode}}"><input type="hidden" name="organizations[{{index}}].id" value="{{organizationId}}" /><input type="hidden" name="organizations[{{index}}].role" value="{{organizationRole}}" />{{organizationName}}{{#organizationRole}}<span>: {{.}}</span>{{/organizationRole}}<svg class="icon icon-delete"><use xlink:href="#icon-delete"/></svg></li>
                {{/organizations}}
              </ul>
            </div>
          {{/selectedOrganizations}}       

          {{#notes}}
            {{#visible}}
            <div class="form-group">
              <label for="notes">{{label}}</label>
              <textarea rows="4" cols="50" name="notes"
                class="js-editable"
                {{#view_mode.preview}}readonly{{/view_mode.preview}}
                placeholder="{{placeholder}}"
                {{#readonly}}readonly{{/readonly}} 
                {{^user_fields_editmode}}disabled{{/user_fields_editmode}}
                >{{value}}</textarea>
            </div>
            {{/visible}}
          {{/notes}}


          {{#active}}
            {{#visible}}
            <div class="form-group">
              <label for="active">{{label}}</label>
              <input type="text" value="{{value}}" readonly name="active"
                     id="active" placeholder="{{placeholder}}" 
                     {{#readonly}}readonly{{/readonly}} 
                     {{^user_fields_editmode}}disabled{{/user_fields_editmode}}
                     />
            </div>
            {{/visible}}
          {{/active}}

          {{#approved}}
            {{#visible}}
            <div class="form-group">
              <label for="approved">{{label}}</label>
              <input type="text" value="{{value}}" readonly name="approved"
                     id="approved" placeholder="{{placeholder}}" 
                     {{#readonly}}readonly{{/readonly}} 
                     {{^user_fields_editmode}}disabled{{/user_fields_editmode}}
                     />
            </div>
            {{/visible}}
          {{/approved}}

          {{#created}}
            {{#visible}}
            <div class="form-group">
              <label for="created">{{label}}</label>
              <input type="text" value="{{value}}" readonly name="created" id="created" placeholder="{{placeholder}}"
                      {{#readonly}}readonly{{/readonly}} 
                     {{^user_fields_editmode}}disabled{{/user_fields_editmode}}/>
            </div>
            {{/visible}}
          {{/created}}

          {{#updated}}
            {{#visible}}
            <div class="form-group">
              <label for="updated">{{label}}</label>
              <input type="text" value="{{value}}" readonly name="updated" id="updated" placeholder="{{placeholder}}"
                {{#readonly}}readonly{{/readonly}} 
                {{^user_fields_editmode}}disabled{{/user_fields_editmode}}
                />
            </div>
            {{/visible}}
          {{/updated}}

          <div class="form-group form-group-btns user-profile-edit-btns">
            <button class="submit" type="button">Submit</button>
          </div>

        {{/user_fields}}
      </div>
    </form>
  </div>
{{/user_profile}}
