@charset "UTF-8";
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/* line 7, eu-clicktip-style.scss */
.eu-clicktip-container {
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  position: relative;
  text-align: left;
}
/* line 14, eu-clicktip-style.scss */
.eu-clicktip-container.showing {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
/* line 25, eu-clicktip-style.scss */
.eu-clicktip-container:hover, .eu-clicktip-container:focus {
  cursor: default;
}
/* line 28, eu-clicktip-style.scss */
.eu-clicktip-container:hover .eu-clicktip, .eu-clicktip-container:focus .eu-clicktip {
  display: block;
}
/* line 33, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip {
  background-color: #1676aa;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
  min-width: 12em;
  padding: 0.6em;
  position: absolute;
  text-transform: none;
  z-index: 1;
}
/* line 49, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip.top {
  box-shadow: 0.3em 0.3em 0.7em 0 rgba(0, 0, 0, 0.5);
  top: 1em;
}
/* line 54, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip.bottom {
  bottom: 100%;
  box-shadow: 0.3em -0.3em 0.7em 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 2em;
}
/* line 60, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip.right {
  bottom: 50%;
  box-shadow: -0.4em 0.3em 0.7em 0 rgba(0, 0, 0, 0.5);
  float: none;
  margin-bottom: 0.4em;
  right: 0;
  transform: translate(-7px, 50%);
}
/* line 69, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip.left {
  bottom: 50%;
  box-shadow: 0.3em 0.3em 0.7em 0 rgba(0, 0, 0, 0.5);
  float: none;
  margin-bottom: 0.4em;
  transform: translate(7px, 50%);
}
/* line 77, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip a {
  color: #FFFFFF;
  text-decoration: underline;
}
/* line 82, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip a[href] {
  border-bottom: 1px dotted #fff;
}
/* line 86, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip a[href]:hover {
  border-bottom: 1px solid #fff;
}
/* line 90, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip a[data-role="remove"] {
  cursor: pointer;
  color: #4D4D4D;
  color: #FFFFFF;
  line-height: 1em;
  position: absolute;
  top: 0px;
  right: 2px;
  width: 1em;
  height: 1em;
}
/* line 103, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip a[data-role="remove"]:hover {
  color: #FFFFFF;
}
/* line 107, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip a[data-role="remove"]:after {
  content: "✕";
}
/* line 111, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip:after {
  border: solid transparent;
  border-width: 8px;
  content: " ";
  position: absolute;
}
/* line 119, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip.top:after {
  bottom: 100%;
  left: 5%;
  border-bottom-color: #1676aa;
  border-bottom-color: #1676aa;
}
/* line 126, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip.right:after {
  top: 50%;
  right: -15px;
  transform: translateY(-50%);
  border-left-color: #1676aa;
  border-left-color: #1676aa;
}
/* line 134, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip.left:after {
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  border-right-color: #1676aa;
  border-right-color: #1676aa;
}
/* line 142, eu-clicktip-style.scss */
.eu-clicktip-container .eu-clicktip.bottom:after {
  bottom: -15px;
  left: 5%;
  border-top-color: #1676aa;
  border-top-color: #1676aa;
}
