@import '../../../../sass/scss/generic/variables';

$clicktip-color: $white;
$clicktip-bg:    $eu-blue;


.eu-clicktip-container{
  display:  none;
  opacity: 0;
  pointer-events: none;
  position: relative;
  text-align: left;

  &.showing{
    display:        inline-block;
    opacity:        1;
    pointer-events: auto;

    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    -webkit-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
  }

  &:hover,
  &:focus {
    cursor: default;
    .eu-clicktip {
      display: block;
    }
  }

  .eu-clicktip{

    background-color: $clicktip-bg;
    color:            $clicktip-color;

    font-size:        1rem;
    font-weight:      normal;
    line-height:      1.6;

    min-width:        12em;

    padding:          0.7em 0.8em;
    position:         absolute;
    text-transform:   none;
    z-index:          1;

    &.top {
      box-shadow:     0.3em 0.3em 0.7em 0 rgba(0, 0, 0, 0.5);
      top:            1em;
    }

    &.bottom {
      bottom:        100%;
      box-shadow:    0.3em -0.3em 0.7em 0 rgba(0, 0, 0, 0.3);
      margin-bottom: 2em;
    }

    &.right {
      bottom:         50%;
      box-shadow:     -0.4em 0.3em 0.7em 0 rgba(0, 0, 0, 0.5);
      float:          none;
      margin-bottom:  0.4em;
      right:          0;
      transform:      translate(-7px, 50%);
    }

    &.left {
      bottom:         50%;
      box-shadow:     0.3em 0.3em 0.7em 0 rgba(0, 0, 0, 0.5);
      float:          none;
      margin-bottom:  0.4em;
      transform:      translate(7px, 50%);
    }

    a{
      color: $clicktip-color;
      text-decoration: underline;
    }

    a[href]{
      border-bottom: 1px dotted #fff;
    }

    a[href]:hover{
      border-bottom: 1px solid #fff;
    }

    a[data-role='remove'] {
      color:         $clicktip-color;
      cursor:        pointer;
      height:        1em;
      line-height:   1em;
      position:      absolute;
      right:         3px;
      top:           1px;
      width:         0.9em;
    }

    a[data-role='remove']:hover{
      color: $clicktip-color;
    }

    a[data-role='remove']::after {
      content: '✕';
    }

    &::after {
      border:       solid transparent;
      border-width: 8px;
      content:      ' ';
      position:     absolute;
    }
  }

  .eu-clicktip.top::after {
    border-bottom-color: $clicktip-bg;
    bottom:              100%;
    left:                5%;
  }

  .eu-clicktip.right::after {
    border-left-color: $clicktip-bg;
    right:             -15px;
    top:               50%;
    transform:         translateY(-50%);
  }

  .eu-clicktip.left::after {
    border-right-color: $clicktip-bg;
    left:               -15px;
    top:                50%;
    transform:          translateY(-50%);
  }

  .eu-clicktip.bottom::after {
    border-top-color: $clicktip-bg;
    bottom:           -15px;
    left:             5%;
  }
}
