.block-content-header{
	background-color: $block_bg;
	margin-bottom: $space-double;

	@media all and (min-width: $bp-small-2) {
		padding: $space-triple 24px;
	}

	.l-content &{
		margin-bottom: 0;
		background-color: lighten($accent, 10);
		color: $white;
	}
}
