.block-content-header{
	background-color: $block_bg;
	
	margin-bottom: $space-double;

	@media all and (min-width: $bp-small-2) {
		padding: $space-triple 24px;
	}
}

.block-content-header .contents{
	@extend %grid__item;
	@extend %palm--one-whole;
	@extend %push--palm--none;
	@extend %three-quarters;
	@extend %push--one-quarter;
}