.promo-block, .promo-block > a{
	@media all and (min-width: $bp-med) {
		position: absolute;
		height: 100%;
		width: 100%;
	}
}
.promo-block > a{
	overflow: hidden;
	display: block;
}


.promo-block-image{

	position: absolute;
	height: 100%;
	width: 100%;

	background-color: $accent;
	background-position: center center;
	background-size: cover;

	.title{
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate (-50%, -50%);

		color: $white;
		text-align: center;
		text-transform: uppercase;
		max-width: 80%;
		@include fontSize(20px);
		letter-spacing: 0.2em;
		line-height: 1;

	}

	a{
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba($black, .2);

		&:hover, &:focus{
			background-color: rgba($accent, .8);
		}
	}
}

.promo-block-text{
	border-top: 3px solid $white;

	@media all and (min-width: $bp-small) {
		border-top: none;
		border-left: 3px solid $white;
	}

	a{
		padding: $space-half;
		color: $white;
		line-height: 1.2;

		&:hover .title, &:focus .title{
			text-decoration: underline;
		}
	}

	.title{
		font-weight: bold;
		@include fontSize(18px);
	}

	.count{
		@include fontSize(28px);
		font-weight: bold;
	}
	.media_type{
		color: rgba($white, 0.75);
	}

	span{
		display: block;
	}
}

.category-flag{
	background-color: $accent;
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	@include fontSize(12px);
	display: block;
	padding: $space-quarter $space-half;
	position: absolute;
	z-index: 50;
	top: 5%;
	left: -4px;
    letter-spacing: 0.1rem;

    .item-channel &{
    	background-color: $eu-orange;
    }

    .item-exhibition &{
    	background-color: $eu-yellow;
    }

    .item-new &{
    	background-color: $eu-blue;
    }

    .item-partner &{
    	background-color: $eu-pro;
    }
}