

.promo-block-image{

	position: absolute;
	height: 100%;
	width: 100%;

	background-color: darken($accent, 10);
	background-position: center center;
	background-size: cover;

	a{
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;
		display: block;

		&:hover, &:focus{
			background-color: rgba($accent, .8);
		}
	}

	.inner{
		position: absolute;
		text-align: center;
		color: $white;
		line-height: 1.2;
	}

	&.centred .inner {
		top: 50%;
		left: 50%;
		@include translate (-50%, -50%);
		max-width: 80%;
	}

	&.contrast .inner {
		top: 50%;
		@include translate (0, -50%);
		width: 100%;
		background-color: rgba($black, 0.4);
		padding: $pad;
	}

	.title{
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}

	.subtitle{
		display: block;
		margin-top: $space-quarter;
		color: $gray97;
		font-size: 0.8em;
	}
}




.promo-block-text{

	border-top: 3px solid $accent;

	@media all and (min-width: $bp-small) {
		border-top: none;
		border-left: 3px solid $accent;
	}

	a{
		padding: $space-half;
		display: block;
		margin-bottom: $space-half;
		line-height: 1.2;

		&:hover .title, &:focus .title{
			text-decoration: underline;
		}
	}

	.l-upper{
		margin-bottom: $space;
	}

	.image{
		float: left;
		width: 25%;
		padding-top: 25%;
		margin-right: $space-half;
		background-size: cover;
	}

	img{
		-webkit-filter: contrast(1.5) grayscale(1);
	}

	.title{
		font-weight: bold;
	}

	.count{
		font-size: 1.6em;
		font-weight: bold;
	}
	.media_type{
		opacity: 0.75;
	}

	span{
		display: block;
	}

	.theme-dark &{
		border-color: $white;

		a{
			color: $white;
		}
	}
}




.category-flag{
	background-color: $accent;
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.75em;
	display: block;
	padding: 0.4em 0.8em;
	position: absolute;
	z-index: 50;
	top: 5%;
	left: -4px;
    letter-spacing: 0.1em;

    .item-channel &{
    	background-color: $eu-orange;
    }

    .item-exhibition &{
    	background-color: $eu-yellow;
    }

    .item-new &{
    	background-color: $eu-blue;
    }

    .item-partner &{
    	background-color: $eu-pro;
    }
}