.site-hero,
.hero-nopad {

  background-color: $grey2;
  background-image: url('../../images/sample/pro-background.jpg');
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  color: $gray97;
  height: 70%;
  position: relative;

  .lc{
    height: 100%;
    position: relative;
  }

  .hero-text{
    background-color: rgba(#000, 0.7);
    border-radius:    4px;
    bottom:           2em;
    padding:          $space;
    position:         absolute;
    width:            100%;
    z-index:          5;

    @media all and (min-width: $bp-small) {
      width: 60%;
    }

    @media all and (min-width: $bp-large) {
      width: 35%;
    }

    a:not(.btn){
      border-bottom: 1px dotted $white;
      color: $white;

      &:focus,
      &:hover{
        border-color: $accent;
        color:        $accent;
      }
    }
  }

  .attribution{

    bottom:   4px;
    position: absolute;
    right:    4px;
    z-index:  9;

    @media all and (min-width: $bp-small-2) {
      right: 0;
    }
  }

  h2,
  h1{
    font-family:    $font-secondary;
    font-size:      2em;
    font-weight:    normal;
    line-height:    1.1;
    margin-bottom:  $space-half;
    text-transform: uppercase;
  }


  @media all and (max-width: $bp-med) {
    overflow: hidden;
  }

}

.site-hero{
  margin-top: $globalnavheight;

  &.after-header-with-search{
    margin-top: $globalnavheight-with-search-small;
    &.search-open{
      margin-top: $globalnavheight-with-search-large;
    }
  }

  @media all and (min-width: $bp-small) {
    height: 50%;
  }
}
