@import "../../../sass/scss/generic/variables";

@import "svg-icon-home";
@import "svg-icon-image";
@import "svg-icon-language";
@import "svg-icon-music";
@import "svg-icon-openbook";
@import "svg-icon-rss";
@import "svg-icon-tv";
