.svg-icon-phone-landline{
  background-image:url("data:image/svg+xml,%3Csvg fill='%23999' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.273 4.229q0 0.108-0.027 0.189-0.997 7.946-6.68 13.616t-13.603 6.667q-0.081 0.027-0.189 0.027-0.135 0-0.189-0.027-0.162-0.081-0.269-0.269l-2.29-5.764q-0.135-0.431 0.242-0.62l6.357-3.178q0.269-0.162 0.566 0.081l3.098 3.125q3.852-2.397 6.303-6.33l-3.098-3.098q-0.242-0.296-0.081-0.566l3.178-6.357q0.189-0.377 0.62-0.242l5.764 2.29q0.189 0.108 0.242 0.269 0.054 0.108 0.054 0.189z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
