@import "../../../sass/scss/generic/variables";

.svg-icon-previous{

  &.white,
  &.white-grey{
    background-image:url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' id='icon-previous' viewbox='0 0 26 30'%3E%3Cpath class='path1' d='M17.455 27.818q-0.182 0-0.394-0.152l-12.545-12.545q-0.394-0.394 0-0.788l12.545-12.545q0.394-0.394 0.788 0l3.818 3.818q0.394 0.394 0 0.788l-8.364 8.333 8.364 8.333q0.394 0.394 0 0.788l-3.818 3.818q-0.212 0.152-0.394 0.152z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
  &.white-grey.disabled{
    background-image:url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray80)}' xmlns='http://www.w3.org/2000/svg' id='icon-previous' viewbox='0 0 26 30'%3E%3Cpath class='path1' d='M17.455 27.818q-0.182 0-0.394-0.152l-12.545-12.545q-0.394-0.394 0-0.788l12.545-12.545q0.394-0.394 0.788 0l3.818 3.818q0.394 0.394 0 0.788l-8.364 8.333 8.364 8.333q0.394 0.394 0 0.788l-3.818 3.818q-0.212 0.152-0.394 0.152z'%3E%3C/path%3E%3C/svg%3E");
  }

  &.linkblue,
  &.linkblue-grey{
    background-image:url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($linkblue)}' xmlns='http://www.w3.org/2000/svg' id='icon-previous' viewbox='0 0 26 30'%3E%3Cpath class='path1' d='M17.455 27.818q-0.182 0-0.394-0.152l-12.545-12.545q-0.394-0.394 0-0.788l12.545-12.545q0.394-0.394 0.788 0l3.818 3.818q0.394 0.394 0 0.788l-8.364 8.333 8.364 8.333q0.394 0.394 0 0.788l-3.818 3.818q-0.212 0.152-0.394 0.152z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
  &.linkblue-grey.disabled{
    background-image:url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray80)}' xmlns='http://www.w3.org/2000/svg' id='icon-previous' viewbox='0 0 26 30'%3E%3Cpath class='path1' d='M17.455 27.818q-0.182 0-0.394-0.152l-12.545-12.545q-0.394-0.394 0-0.788l12.545-12.545q0.394-0.394 0.788 0l3.818 3.818q0.394 0.394 0 0.788l-8.364 8.333 8.364 8.333q0.394 0.394 0 0.788l-3.818 3.818q-0.212 0.152-0.394 0.152z'%3E%3C/path%3E%3C/svg%3E");
  }
}