.svg-icon-email{
  background-image:url("data:image/svg+xml,%3Csvg fill='%23999' id='icon-email' viewBox='0 0 745 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='path1' d='M372.364 465.455l-372.364-279.273q0-18.963 13.791-32.754t32.754-13.791h651.636q18.963 0 32.754 13.791t13.791 32.754zM372.364 549.064l372.364-279.273v381.845q0 18.963-13.791 32.754t-32.754 13.791h-651.636q-18.963 0-32.754-13.791t-13.791-32.754v-381.845z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
