<link rel="stylesheet" href= "../../css/svg-icons-all-generated.css" media="all" />
<b>GENERATED ICON LIST</b><br/><br/><br/><span class="svg-generated-icon white off-white svg-icon-bookmark-before"></span>
svg-icon-bookmark-before<br/><br/><span class="svg-generated-icon white off-white svg-icon-bookmark-eu-blue"></span>
svg-icon-bookmark-eu-blue<br/><br/><span class="svg-generated-icon white off-white svg-icon-bookmark"></span>
svg-icon-bookmark<br/><br/><span class="svg-generated-icon white off-white svg-icon-bookmark-white-before"></span>
svg-icon-bookmark-white-before<br/><br/><span class="svg-generated-icon white off-white svg-icon-bookmark-white"></span>
svg-icon-bookmark-white<br/><br/><span class="svg-generated-icon white off-white svg-icon-calendar"></span>
svg-icon-calendar<br/><br/><span class="svg-generated-icon white off-white svg-icon-calendar-white"></span>
svg-icon-calendar-white<br/><br/><span class="svg-generated-icon white off-white svg-icon-clock"></span>
svg-icon-clock<br/><br/><span class="svg-generated-icon white off-white svg-icon-download"></span>
svg-icon-download<br/><br/><span class="svg-generated-icon white off-white svg-icon-down"></span>
svg-icon-down<br/><br/><span class="svg-generated-icon white off-white svg-icon-ellipsis-eu-blue"></span>
svg-icon-ellipsis-eu-blue<br/><br/><span class="svg-generated-icon white off-white svg-icon-email"></span>
svg-icon-email<br/><br/><span class="svg-generated-icon white off-white svg-icon-external-eu-blue-after"></span>
svg-icon-external-eu-blue-after<br/><br/><span class="svg-generated-icon white off-white svg-icon-external-white-after"></span>
svg-icon-external-white-after<br/><br/><span class="svg-generated-icon white off-white svg-icon-eye"></span>
svg-icon-eye<br/><br/><span class="svg-generated-icon white off-white svg-icon-home"></span>
svg-icon-home<br/><br/><span class="svg-generated-icon white off-white svg-icon-image"></span>
svg-icon-image<br/><br/><span class="svg-generated-icon white off-white svg-icon-info"></span>
svg-icon-info<br/><br/><span class="svg-generated-icon white off-white svg-icon-language"></span>
svg-icon-language<br/><br/><span class="svg-generated-icon white off-white svg-icon-linkout"></span>
svg-icon-linkout<br/><br/><span class="svg-generated-icon white off-white svg-icon-location"></span>
svg-icon-location<br/><br/><span class="svg-generated-icon white off-white svg-icon-music"></span>
svg-icon-music<br/><br/><span class="svg-generated-icon white off-white svg-icon-next"></span>
svg-icon-next<br/><br/><span class="svg-generated-icon white off-white svg-icon-openbook"></span>
svg-icon-openbook<br/><br/><span class="svg-generated-icon white off-white svg-icon-phone-landline"></span>
svg-icon-phone-landline<br/><br/><span class="svg-generated-icon white off-white svg-icon-previous"></span>
svg-icon-previous<br/><br/><span class="svg-generated-icon white off-white svg-icon-rss"></span>
svg-icon-rss<br/><br/><span class="svg-generated-icon white off-white svg-icon-tv"></span>
svg-icon-tv<br/><br/><span class="svg-generated-icon white off-white svg-icon-user"></span>
svg-icon-user<br/><br/><span class="svg-generated-icon white off-white svg-icon-user-signin"></span>
svg-icon-user-signin<br/><br/>
