&lt;div class=&quot;site_wrapper&quot;&gt;

{{&gt; organisms-header}}



&lt;div role=&quot;main&quot; class=&quot;grid_wrapper&quot;&gt;

	&lt;ul class=&quot;post-list grid&quot; &gt;
		&lt;li class=&quot;grid__item lap--one-third&quot;&gt;{{&gt; molecules-media-item }}&lt;/li&gt;&lt;!-- 
	 --&gt;&lt;li class=&quot;grid__item lap--one-third&quot;&gt;{{&gt; molecules-media-item }}&lt;/li&gt;&lt;!-- 
	 --&gt;&lt;li class=&quot;grid__item lap--one-third&quot;&gt;{{&gt; molecules-media-item }}&lt;/li&gt;&lt;!-- 
	 
	 --&gt;&lt;li class=&quot;grid__item lap--one-fifth&quot;&gt;{{&gt; molecules-media-item }}&lt;/li&gt;&lt;!-- 
	 --&gt;&lt;li class=&quot;grid__item lap--one-fifth&quot;&gt;{{&gt; molecules-media-item }}&lt;/li&gt;&lt;!-- 
	 --&gt;&lt;li class=&quot;grid__item lap--one-fifth&quot;&gt;{{&gt; molecules-media-item }}&lt;/li&gt;&lt;!-- 
	 --&gt;&lt;li class=&quot;grid__item lap--one-fifth&quot;&gt;{{&gt; molecules-media-item }}&lt;/li&gt;&lt;!-- 
	 --&gt;&lt;li class=&quot;grid__item lap--one-fifth&quot;&gt;{{&gt; molecules-media-item }}&lt;/li&gt;
	&lt;/ul&gt;

&lt;/div&gt;


{{&gt; organisms-footer }}

&lt;/div&gt;