.metis-dataset-info-block {
  background-color: $white;
  max-width: 35rem;
  padding: 0 .8rem;

  .general-info-header {
    border-bottom: 1px solid $offwhite;
    color: $eu-jade;
    font-weight: bold;
    padding: 1rem .5rem;
  }

  .dataset-info-fields {
    hr {
      background-color: $offwhite;
      height: 1px;
      margin: 0.4rem;
    }

    div {
      display: inline-block;
      width: 46%;
    }

    .label {
      font-weight: bold;
      padding: 0.6rem 0;
    }
  }

  .dataset-btns {
    .btns-set {
      border: 0;
      min-width: 32rem;

      .btn-left,
      .btn-right {
        font-weight: bold;
      }
    }

    .fa-plus::before {
      content: '';
    }
  }
}



