.item-card-controls .card-label {
  height: 3.5em;
  line-height: 3.5em;
  vertical-align: middle;
  width: 15em;
}

.item-card-values {
  column-span: 3;
  height: 7em;
  width: 45em;
}

.xml-view {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 45em;
}

.xml-view-short {
  height: 7em;
}

.xml-view-long {
  height: 45em;
  width: 60em;
}

.xml-view-source {
  display: none;
}

.item-button,
.item-source-button {
  display: inline-block;
  line-height: 3.5em;
  text-align: center;
  vertical-align: middle;
  width: 16.4em;
}
