.mapping-card-controls {
  .card-label {
    height: 3.5em;
    line-height: 3.5em;
    vertical-align: middle;
    width: 15em;
  }

  .mapping-card-function {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    height: 3.5em;
    text-align: center;
    vertical-align: middle;
    width: 6em;
  }

  .mapping-card-f {
    font-size: 1.6em;
    font-style: italic;
  }

  .mapping-card-x {
    font-size: .8em;
  }

  .if {
    display: inline-block;
    line-height: 3.5em;
    margin-left: -5px;
    text-align: center;
    vertical-align: middle;
    width: 7em;
  }
}

.mapping-card-values {
  height: 10.5em;
  width: 45em;

  .mapping-field-item-container {
    background-color: $white;
    height: 10.5em;
    width: 45em;

    > .mapping-field-item:nth-child(10) ~ .mapping-field-item {
      display: none; // this rule targets the rows after the 10th .mapping-field-item
    }

    .mapping-field-item {
      border: 1px solid $paper;
      display: inline-block;
      font-size: 1em;
      height: 5.25em;
      margin-bottom: -7px;
      margin-right: -4px;
      width: 9em;
    }
  }
}

.mapping-card-dropdown .dropdown-trigger {
  display: none;
}

.mapping-card-controls-expanded {
  width: 60em;
}

.mapping-field-item-container-expanded {
  background-color: $white;
  height: 60em;
  width: 60em;
}

.mapping-field-item-expanded {
  border: 1px solid $paper;
  display: inline-block;
  font-size: 1em;
  height: 5.25em;
  margin-bottom: -7px;
  margin-right: -4px;
  width: 10em;
}

.card-controls td:hover {
  background-color: $eu-blue;
  color: $white;
}

.pagination {
  margin-bottom: 0;
  padding-top: 1rem;

  a {
    color: $eu-blue;
  }

  .current a,
  .is-current a {
    background-color: $eu-blue;
    color: $white;
    font-weight: bold;
  }
}
