.metis-profile-form {
  background-color: $white;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  margin-bottom: 0;
  margin-left: 1em;
  margin-top: 1em;
  overflow: auto;
  width: 50em;

  div {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.profile-form-header {
  background-color: $eu-blue;
  color: $white;
  font-size: 2em;
  text-align: center;
  width: 25em;
}

.profile-select-orgs {
  display: inline-block;
}

.select-dropdown {
  border: 1px solid $gray-light;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px $offwhite;
  height: 2.37em;
  padding: .5rem .65rem 1em 1em;
  transition: .3s linear border;
  width: 100%;
}
