&lt;div class=&quot;site_labs site_wrapper&quot;&gt;

{{&gt; organisms-header-labs }}

&lt;section class=&quot;block-content-header&quot;&gt;
	&lt;div class=&quot;grid_wrapper&quot;&gt;

	&lt;div class=&quot;block grid&quot;&gt;
		&lt;div class=&quot;grid__item palm--one-whole push--palm--none three-quarters push--one-quarter&quot;&gt;
			&lt;h1 class=&quot;title&quot; &gt;Examples&lt;/h1&gt;
			&lt;p class=&quot;subhead grid grid__item desk--one-half&quot;&gt;{{ excerpt.short }}&lt;/p&gt;
		&lt;/div&gt;
	&lt;/div&gt;

	&lt;/div&gt;
&lt;/section&gt;

&lt;section role=&quot;main&quot; class=&quot;grid_wrapper&quot;&gt;

	&lt;div class=&quot;grid&quot;&gt;
		&lt;div class=&quot;grid__item one-quarter palm--one-whole&quot;&gt;
			&lt;div class=&quot;subnav&quot;&gt;

				&lt;h4 class=&quot;label epsilon&quot;&gt; Filter by:&lt;/h4&gt;

				{{&gt; molecules-labs-subnav }}

			&lt;/div&gt;

			{{&gt; molecules-tertiary-nav }}
		&lt;/div&gt;&lt;!--

	 --&gt;&lt;div class=&quot;grid__item three-quarters palm--one-whole&quot;&gt;

			&lt;ul class=&quot;post-list grid&quot; &gt;
				
				&lt;li class=&quot;grid__item one-whole desk--one-half&quot;&gt;{{&gt; molecules-labs-item-main }}&lt;/li&gt;&lt;!-- 
			 --&gt;&lt;li class=&quot;grid__item one-whole desk--one-half&quot;&gt;{{&gt; molecules-labs-item-main }}&lt;/li&gt;&lt;!-- 
			 --&gt;&lt;li class=&quot;grid__item one-whole desk--one-half&quot;&gt;{{&gt; molecules-labs-item }}&lt;/li&gt;&lt;!-- 
			 --&gt;&lt;li class=&quot;grid__item one-whole desk--one-half&quot;&gt;{{&gt; molecules-labs-item }}&lt;/li&gt;&lt;!-- 
			 --&gt;&lt;li class=&quot;grid__item one-whole desk--one-half&quot;&gt;{{&gt; molecules-labs-item }}&lt;/li&gt;&lt;!-- 
			 --&gt;&lt;li class=&quot;grid__item one-whole desk--one-half&quot;&gt;{{&gt; molecules-labs-item }}&lt;/li&gt;&lt;!-- 
			 --&gt;&lt;li class=&quot;grid__item one-whole desk--one-half&quot;&gt;{{&gt; molecules-labs-item }}&lt;/li&gt;&lt;!-- 
			 --&gt;&lt;li class=&quot;grid__item one-whole desk--one-half&quot;&gt;{{&gt; molecules-labs-item }}&lt;/li&gt;&lt;!-- 
			 --&gt;
			&lt;/ul&gt;


			{{&gt; molecules-pagination }}

		&lt;/div&gt;
	&lt;/div&gt;

&lt;/section&gt;

{{&gt; organisms-footer }}

&lt;/div&gt;