@charset "UTF-8";
/*
 EUROPEANA STYLE GUIDE

 Requires: Sass, Compass, Singularity grids
*/


/*------------------------------------*\
    $TABLE OF CONTENTS
\*------------------------------------*/
/**
 * GRID......include singularity grid powers
 * 
 * VARIABLES..............................Declarations of Sass variables 
 * .....Colors
 * .....Typography
 * .....Layout
 * .....Defaults
 * .....Breakpoints
 * MIXINS.................................Sass mixins 
 * RESET..................................Set reset defaults
 * GLOBAL CLASSES.........................Set reset defaults
 * GLOBAL ELEMENTS........................Establish global styles
 * .....Main
 * .....Headings
 * .....Text-related elements (p, blockquote, lists)
 * .....Defaults
 * .....Breakpoints
 * TYPOGRAPHY------------------------------
 * MEDIA------------------------------
 * LAYOUT------------------------------
 * NAVIGATION------------------------------
 * TOC To Be Continued
 */

@import "generic/variables";
@import "generic/mixins";
@import "generic/reset";





/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
@import "base/global-classes";
@import "base/main";
@import "base/links";
@import "base/headings";
@import "base/text";
@import "base/lists";
@import "base/media";
@import "base/forms";
@import "base/tables";
@import "base/animation";




/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
@import "objects/layout";
@import "objects/grid";


/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
@import "objects/header";
@import "objects/nav";
@import "objects/main";
@import "objects/footer";



/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
@import "objects/text";


/*------------------------------------*\
    $COMPONENTS
\*------------------------------------*/
@import "objects/icons";
@import "objects/buttons";
@import "objects/blocks";
@import "objects/lists";
@import "objects/tooltip";
@import "objects/accordion";
@import "objects/tabs";
@import "objects/sections";
@import "objects/article";
@import "objects/comments";
@import "objects/loading";


