&lt;!-- Begin .header --&gt;
&lt;header class=&quot;header cf&quot;&gt;
	&lt;div class=&quot;lc&quot;&gt;
		
	{{&gt; atoms-logo }}

	&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-search icon-search&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;nav-toggle nav-toggle-menu icon-rows&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;&lt;/a&gt;
	
	{{&gt; molecules-search }}
	{{&gt; molecules-labs-nav }}
	&lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;