&lt;div class=&quot;block block-thumb&quot;&gt;

		&lt;div class=&quot;b-thumb&quot;&gt;
			&lt;a href=&quot;{{ link.templates-labs-detail }}&quot;&gt;
				{{&gt; atoms-square }}
			&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;b-text&quot;&gt;

			&lt;h1 class=&quot;headline gamma&quot;&gt;&lt;a href=&quot;{{ link.templates-labs-detail }}&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/h1&gt;

			&lt;div class=&quot;description&quot;&gt;
				&lt;p&gt;{{ excerpt.short }}&lt;/p&gt; 
			&lt;/div&gt;

			{{&gt; molecules-tags-alt}}

		&lt;/div&gt;

&lt;/div&gt;
