<div class="site_wrapper">

{{> organisms-header}}



<div role="main" class="grid_wrapper">

	
	<h2>This page should look structurally unstyled.</h2>

	<p class="is-error">This text should be big and GREEN, if it is, it's being styled from a pattern lab independent site specific css file</p>

</div>


{{> organisms-footer }}

</div>