// Brand circle positioning

.brand-circles{

	width: 40%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;

  @media all and (max-width: $bp-small-3) {
    width: 80%;
  }

	// .brand-topleft &{ // redundant as top left is default
	// 	top: 0;
	// 	left: 0;
	// }

	.brand-topright &{
		right: 0;
		left: auto;
		top: -5px;
		@include rotate(90);
	}
	.brand-bottomleft &{
		top: auto;
		bottom: -5px;
		@include rotate(270);
	}
	.brand-bottomright &{
		top: auto;
		left: auto;
		bottom: 0;
		right: 0;
		@include rotate(180);
	}

	// Opacity
	.brand-opacity25 &{
		opacity: 0.25;
	}
	.brand-opacity50 &{
		opacity: 0.5;
	}
	.brand-opacity75 &{
		opacity: 0.75;
	}
	.brand-opacity100 &{
		opacity: 1;
	}

	svg{
		fill: $accent;
	}

}

// Brand circles colours
.brand-colour-site .brand-circles > svg{
	fill: $accent;
}

.brand-colour-white svg{
	fill: $white;
}

.brand-colour-black svg{
	fill: $black;
}

// Text
/*
.brand-text{
	width: 60%;
	min-width: 400px;
	max-width: 900px;
	position: absolute;
	top: 18%;
	right: -30px;

	svg{
		fill: $white;
	}
}
*/

.scaling-svg-container {
	position: relative;
	height: auto;
	width: 100%;
	padding: 0;
	padding-bottom: 100%;
 /* override this inline for aspect ratio other than square */
}

.scaling-svg-container > svg{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
