/* 
	Fake, unused class used to demonstrate how Compass outputs several output files 
	Note: it suffices to have the .scss file NOT begin with an underscore.
	
*/

.xxx{
	
	color:red !important;
	color:red !important;
	background-color:orange !important;
	
}