/* line 1, style.scss */
.light-carousel {
  overflow: hidden;
  position: relative;
}
/* line 6, style.scss */
.light-carousel .lc-item-container {
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 15, style.scss */
.light-carousel .lc-item.loading {
  background-image: url("spinner.gif");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 21, style.scss */
.light-carousel .wrapper-hide-scroll {
  margin-bottom: -3em;
  overflow: hidden;
}
/* line 26, style.scss */
.light-carousel .lc-scrollable {
  overflow: hidden;
  overflow-x: scroll;
  padding-bottom: 3em;
}
/* line 31, style.scss */
.light-carousel .lc-scrollable::-webkit-scrollbar {
  display: none;
}
