.light-carousel{

  overflow:   hidden;
  position:   relative;

  .lc-item-container {
    align-items:  center;
    display:      -webkit-box;
    display:      -moz-box;
    display:      -ms-flexbox;
    display:      -webkit-flex;
    display:      flex;
  }

  .lc-item.loading{
    background-image:    url('spinner.gif');
    background-position: center;
    background-repeat:   no-repeat;
  }

  .wrapper-hide-scroll{
    margin-bottom: -3em;
    overflow: hidden;
  }

  .lc-scrollable{
    overflow:       hidden;
    overflow-x:     scroll;
    padding-bottom: 3em;

    &::-webkit-scrollbar{
      display: none;
    }
  }
}
