<div class="image-set[[#is_channel]] item-channel[[/is_channel]][[#is_exhibition]] item-exhibition[[/is_exhibition]][[#is_new]] item-new[[/is_new]][[#is_partner]] item-partner[[/is_partner]][[#is_featured_site]] item-featuredsite[[/is_featured_site]]">
  <div class="cf image-set-inner">
    [[#images]]
      <a class="img-link" href="[[link]]">
        <img src="[[url]]"/>
      </a>
    [[/images]]
    [[#info]]
      <span class="svg-icon-info"></span>
      <span class="info"><span class="text">[[& .]]</span></span>
    [[/info]]
  </div>
  <div class="image-set-info">
    <a class="image-set-title" href="[[link]]"><span>[[title]]</span></a>
    <span class="image-set-data cf">
      [[count]] [[i18n.global.labels.images]]
    </span>
  </div>
  [[#label]]<div class="category-flag">[[.]]</div>[[/label]]
</div>
