      <ul class="object-media-nav">
        {{#items}}
        {{#thumbnail}}

        <li><a href="#"
             {{#is_audio}}
                 data-type="audio"
                {{#download}}
                   data-uri="{{url}}"
                {{/download}}
                 {{#technical_metadata}}
                   data-mime-type="{{mime_type}}"
                 {{/technical_metadata}}
             {{/is_audio}}

             {{#is_image}}
                 data-type="image"
                 {{#download}}
                   data-uri="{{url}}"
                 {{/download}}
                 {{#technical_metadata}}
                   data-width="{{width}}"
                   data-height="{{height}}"
                 {{/technical_metadata}}
             {{/is_image}}

             {{#is_pdf}}
                 data-type="pdf"
                 {{#download}}
                   data-uri="{{url}}"
                 {{/download}}
             {{/is_pdf}}

             {{#is_text}}
                 data-type="text"
                 {{#download}}
                   data-uri="{{url}}"
                 {{/download}}
             {{/is_text}}

             {{#is_video}}
                 data-type="video"
                 {{#download}}
                   data-uri="{{url}}"
                 {{/download}}
                 {{#technical_metadata}}
                   data-mime-type="{{mime_type}}"
                 {{/technical_metadata}}
             {{/is_video}}

             {{#is_current}}class="is-current"{{/is_current}}><img src="{{thumbnail}}" alt="{{alt}}"/></a></li>
        {{/thumbnail}}
        {{/items}}
      </ul>
