
<span class="tooltip-container">
  <svg class="icon icon-help">
    <use xlink:href="#icon-help"></use>
  </svg>
  <div class="tooltip">
    {{! This causes a compilation error, so commented out - Andy }}
    {{! . }}
  </div>
</span>
