

<div class="g g-max4">
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
</div>


<div class="l-grid-media">
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
	<div class="gi">
		{{> molecules-block-thumb }}
	</div>
</div>