<div class="site_labs site_wrapper">

{{> organisms-header-labs }}

<section class="block-content-header">
	<div class="grid_wrapper">

	<div class="block grid">
		<div class="grid__item palm--one-whole push--palm--none three-quarters push--one-quarter">
			<h1 class="title" >Examples</h1>
			<p class="subhead grid grid__item desk--one-half">{{ excerpt.short }}</p>
		</div>
	</div>

	</div>
</section>

<section role="main" class="grid_wrapper">

	<div class="grid">
		<div class="grid__item one-quarter palm--one-whole">
			<div class="subnav">

				<h4 class="label epsilon"> Filter by:</h4>

				{{> molecules-labs-subnav }}

			</div>

			{{> molecules-tertiary-nav }}
		</div><!--

	 --><div class="grid__item three-quarters palm--one-whole">

			<ul class="post-list grid" >
				
				<li class="grid__item one-whole desk--one-half">{{> molecules-labs-item-main }}</li><!-- 
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item-main }}</li><!-- 
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!-- 
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!-- 
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!-- 
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!-- 
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!-- 
			 --><li class="grid__item one-whole desk--one-half">{{> molecules-labs-item }}</li><!-- 
			 -->
			</ul>


			{{> molecules-pagination }}

		</div>
	</div>

</section>

{{> organisms-footer }}

</div>