@charset "UTF-8";
/*
 EUROPEANA STYLE GUIDE
 COMMON styles

 Requires: Sass, Compass
*/
// Compass
@import "compass/css3";

//Variables and Helpers
@import "scss/generic/variables";
@import "scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-user;
$textcolour_highlight: $accent;

@import "scss/generic/reset";

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
@import "scss/grid/csswizardry-grids";

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
@import "scss/base/global-classes";
@import "scss/base/main";
@import "scss/base/links";
@import "scss/base/headings";
@import "scss/base/text";
@import "scss/base/code";
@import "scss/base/lists";
@import "scss/base/media";
@import "scss/base/forms";
@import "scss/base/tables";

// Global icons (svg)
@import "scss/objects/icons/svgicons";





/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
@import "scss/objects/header";
@import "scss/objects/nav";
@import "scss/objects/footer";

@import "scss/objects/blocks";
@import "scss/objects/lists";



