.accordion {
	margin-bottom: $space;
}

.acc-handle {
	background: $gray-dark-2;
	color: $white;
	font-family: $font-secondary;
	display: block;
	position: relative;
	padding: $pad-half;
	border-bottom: 1px solid $gray-light;

	&:after {
		content:"+";
		float: right;
	}
		
	&:hover {
		color: $white;
		background: $gray-dark;

	}
	
	&.active {
		background: $gray-dark;

		&:after {
			content:"-";
		}
	}
}