/* Generic Placeholder Brick: REMOVE FOR PRODUCTION */
.brick {
	background: #dcdddc;
	padding: $pad-double;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid $gray-light;
}

/* Block */
.block {
	overflow: visible;

	p:last-child {
		margin-bottom: 0;
	}
}

.headline {
	line-height: 1.2;
	margin-bottom: $space;
}

/* Hero Block */
.block-hero {
	margin-bottom: $space-half;

	.b-thumb {
		img {
			display: block;
		}
	}

	@media all and (min-width: $bp-large) {
		position: relative;

		.b-text {
			position: absolute;
			bottom: 10%;
			left: 10%;
			top: 10%;
			right: 10%;
			color: $white;
			padding: $pad-and-half;
			text-align: center;

			&:before{
				content: '';
				width: 30%;
				margin: 0 auto 5%;
				display: block;
				border-top: solid 5px $white;
			}
		}
	}
}

/* Block Thumbnail with Headline */
.block-thumb {
	display: table;
	width: 100%;

	border-top: solid 5px $gray-dark;
	padding-top: $pad;

	margin-bottom: $space;

	.b-inner {
		display: table-row;
		vertical-align: top;
  		overflow: hidden;
	}

	.b-thumb {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			vertical-align: top;	
	  		width: 33.333%;
	  		max-width: 10em;

	 		img {
	 			display: block;
				  width: 100%;
				  height: auto;
	 		}
 		}
	}

	.b-text {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			width: 66.666%;
			padding: 0 $pad;
		}
	}

	.headline{
		//color: $blue;
	}

	.description{
		margin-bottom: $space;
	}

	.tags{
		border-top: solid 1px $gray-light;
		padding-top: $pad-half;
	}

	.icon{
		color: $gray-light;
		margin-right: $pad;
		margin-top: 0.3em;
		float: left;
	}
}


/* Block Headline Summary */
.block-headline-summary {
	a {
		display: block;
		padding: $pad-half;
	}
}

/* Block Inset */
.block-inset {
	position: relative;

	.b-thumb {
		position: relative;
		z-index: 0;

		img {
			display: block;
		}
	}
}

/* Hero Block */
.block-inset {
	margin-bottom: $space-half;
	position: relative;

	.headline {
		font-size: 1.1em;
	}

	.b-text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: $dim;
		color: $white;
		padding: $pad-half;
	}
}

/* Block Thumb with Summary */
.block-thumb-summary {
	.b-thumb {
		float: left;
		width: 50%;
	}

	.b-text {
		margin-left: 50%;
		padding: $pad-half;
	}
}

/* Block Thumb with Less content */
.block-thumb-small {

	border-top: 5px solid $gray;

	@media all and (min-width: $bp-small-2) {
		.b-thumb {
			width: 20%;
		}

		.b-text {
			width: 80%;
		}
	}
	

}


.block-content-header{
	background-color: $red2;
	padding: $pad;
	margin-bottom: $space;

	color: $offwhite;

	@media all and (min-width: $bp-small-2) {
		padding: $space-triple 0;
	}

	.title{
		color: $white;
	}
}

.subhead{
	font-weight: bold;
}

.subnav{
	padding: 0 $pad;

	.tags{
		margin-bottom: $space;
	}
}
