/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	background: transparent;
	color: $black;
	border: solid 5px $black;
	@include font-size(0.8);
	line-height: 1;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 1em 1.6em;
	text-align: center;
	
	&:hover, &:focus {
		color: $textcolour_highlight;
		border-color: $textcolour_highlight;
	}

	&.disabled {
		background: lighten($text_secondary, 10%);
		color: darken($text_secondary, 20%);
		cursor: not-allowed;
		border-color: $text_secondary;

		&:hover{
			border-color: $text_secondary;
		}
	}

	&.alt{
		color: $offwhite;
		background-color: $black;
		border-color: $black;

		&:hover{
			background-color: $textcolour_highlight;
			border-color: $textcolour_highlight;
		}
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $text_secondary;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-style: italic;
}

