/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.btn {
	display: inline-block;
	background: transparent;
	color: darken($text_secondary, 20%);
	border: solid 5px $text_secondary;
	line-height: 1;
	font-weight: bold;
	padding: $pad;
	text-align: center;
	
	&:hover, &:focus {
		color: $textcolour_highlight;
		border-color: $textcolour_highlight;
	}

	&.disabled {
		background: $text_secondary;
		color: $text_secondary;
		cursor: not-allowed;
	}
}

.btn-small {
	padding: $pad-half;
}

.btn-large {
	padding: $pad-half;
	text-transform: uppercase;
	background: $text_secondary;
	font-size: 1.4rem;
	font-weight: normal;
}


.text-btn {
	font-style: italic;
}