/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $darkbg;
	padding-bottom: 50px;
	padding-top: 20px;
	color: $textcolour_dark_body;
	border-top: 3px solid $gray-lighter;

	a {
		color: $textcolour_dark_body;
	}

	.lc{
		
	}
}

//Footer Nav
.nav-footer {

	li {
		border-bottom: 1px solid $gray-med;

		@media all and (min-width: $bp-med) {
			border: 0;
			margin-right:1em;
			display: inline-block;
		}
	}

	a {
		display: block;
		font-weight: bold;
		text-decoration: underline;
		font-size: $font-size-slightly-smaller;
		color: $textcolour_dark_head;
	}
}

.social-links{ 

	text-align: center;
	font-size: 2em;

	@media all and (min-width: $bp-med) {
		text-align: right;
	}
} 

.copyright {

	font-size: $font-size-sm;


}

