.loader { 
	display: block;
	cursor: wait;
	background-color: rgba(0,0,0,0);
	opacity: .8;
	border-radius: 50px;

	border: 10px solid $gray;
	border-top: 10px solid rgba(0,0,0,0);
	border-left: 10px solid rgba(0,0,0,0);
	width: 50px;
	height: 50px; 

	font-size: 0;

	animation: loading .5s infinite linear;
	-moz-animation: loading .5s infinite linear;
	-webkit-animation: loading .5s infinite linear;

	&.is_active{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -25px;
		margin-top: -25px;
		z-index: 1000;
	}

}

 @keyframes loading {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

 @-moz-keyframes loading {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}