/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: both;
	overflow: hidden;
	max-height: 0;
	font-family: $font-secondary;
	@include font-size(1);
	font-weight: 500;
	
	a {
		display: block;
		padding: $pad;
		border-top: 1px solid $gray-light;
	}

	&.active {
		max-height: 40em;
	}

	.current:after{
		content: '';
		display: block;
		border-bottom: 5px solid $textcolour_link;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: left;
		clear: none;

		margin-top: 0.6em;

		li {
			float: left;
		}

		a {
			border: 0;
		}
		
	}
}

//Pagination
.pagination {
	overflow: hidden;
	font-family: $font-secondary;

	margin-bottom: $space;

	li {
		display: inline-block;
		border-right: 1px solid $gray-light;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad-half $pad;
		display: block;

		&:hover{
			background-color: $gray-light;
			color: $white;
		}
	}


	.is-disabled a{

		cursor: default;
		
		&:hover{
			background-color: inherit;
			color: inherit;
		}
	}

	.current{
		color: $white;
		font-weight: bold;
		background-color: $textcolour_link;

		&:hover{
			background-color: $textcolour_link;
		}
	}
}


.breadcrumbs { 
	list-style: none;
	line-height: 1;
	font-family: $font-secondary;

	a {
		display: inline-block;

		padding: 1em 2em;
		position: relative;
		margin-right: 5px;
		text-decoration: none;

		&:after {
			content: "";  
			border-top: 0.5em solid transparent;
				border-bottom: 0.5em solid transparent;
				border-left: 0.5em solid $gray-light;
			position: absolute; right: -0.5em; top: 50%;
			margin-top: -0.5em;
			z-index: 1;
		}

		&:hover {

		}
		&:hover:after {
			border-left-color: $textcolour_link;
		}
		
	}

	>li{
		display: inline;

		&:first-child a:before {
			display: none; 
		}

		&:last-child a:after {
			display: none; 
		}
	}

}