/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

//common styles for navigation


.nav_primary{

	clear: both;
	overflow: hidden;
	max-height: 0;
	@include font-size(1);

	a {
		display: block;
		color: $textcolour_body;
		padding: 0.6em;
		border-top: 1px solid $gray-light;
		font-weight: bold;

		&:after{
			content: '';
			display: block;
			border-bottom: 5px solid transparent;
			margin-top: 0.15em;
		}

		&:hover{
			text-decoration: none;
			background-color: $offwhite;
		}
		&:hover:after{
			border-color: $textcolour_body;
		}

		.current:after{
			border-color: $textcolour_highlight;
		}
	}

	&.active {
		max-height: 40em;
	}

	.current:after{
		content: '';
		display: block;
		border-bottom: 5px solid $textcolour_highlight;
		margin-top: 0.2em;
	}

	@media all and (min-width: $bp-med) {
		max-height: none;
		float: left;
		clear: none;

		margin-top: 0.9em;

		li {
			float: left;
		}

		a {
			border: 0;
		}
		
	}
}


.subnav{
	padding: 0 $pad;

	.tags{
		margin-bottom: $space;
	}
}



.nav_secondary{

	overflow: hidden;
	margin-bottom: $space;

	padding: $pad;

	li{
		display: block;
		padding: $pad 0;
		border-bottom: solid 1px $gray-lighter;

		li{
			padding: $pad-half 0;
			border-bottom: none;
		}
	}

	a {
		
		color: $textcolour_body;

		&.active {
			background: $textcolour_highlight;
			color: $white;
		}
	}

	&>li>a{
		font-weight: bold;

		&:hover, &:focus, &:active {
			color: $textcolour_link;
			text-decoration: underline;
		}
	}


	//sub menus
	ul{
		display: none;
		margin-top: $space-half; 

		li{
			a{
				border-bottom: none;
				&:hover, &:focus, &:active {
					color: $textcolour_highlight;
				}
			}
		}
	}

	.is_open{
		
		& > a{
			border-bottom: none;
			color: $textcolour_highlight;
		}

		ul{
			display: block;
		}
	} 
}

.nav_tertiary{

	overflow: hidden;
	margin-bottom: $space;

	a {
		display: block;
		padding: $pad;
		border-bottom: solid 1px $gray-lighter;
		color: $textcolour_body;
		font-size: $font-size-slightly-smaller;

		&.active {
			background: $textcolour_highlight;
			color: $white;
		}
	}
}

//Pagination
.pagination {
	overflow: hidden;
	font-family: $font-secondary;

	margin-bottom: $space;

	li {
		display: inline-block;
		border-right: 1px solid $gray-light;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad-half $pad;
		display: block;
		font-weight: bold;
		color: $textcolour_body;

		&:hover{
			background-color: $offwhite;
			color: $textcolour_body;
		}
	}


	.is-disabled a{

		cursor: default;
		
		&:hover{
			background-color: inherit;
			color: inherit;
		}
	}

	.current{
		color: $white;
		font-weight: bold;
		background-color: $textcolour_highlight;

		&:hover{
			background-color: $textcolour_highlight;
		}
	}
}


.breadcrumbs { 
	list-style: none;
	line-height: 1;
	font-family: $font-secondary;

	a {
		display: inline-block;

		padding: 1em 2em;
		position: relative;
		margin-right: 5px;
		text-decoration: none;

		&:after {
			content: "";  
			border-top: 0.5em solid transparent;
				border-bottom: 0.5em solid transparent;
				border-left: 0.5em solid $gray-light;
			position: absolute; right: -0.5em; top: 50%;
			margin-top: -0.5em;
			z-index: 1;
		}

		&:hover {

		}
		&:hover:after {
			border-left-color: $textcolour_highlight;
		}
		
	}

	>li{
		display: inline;

		&:first-child a:before {
			display: none; 
		}

		&:last-child a:after {
			display: none; 
		}
	}

}