.tabs {
	overflow: hidden;
	font-family: $font-secondary;

	margin-bottom: $space;

	a {
		display: block;
		padding: $pad;
		
		background: $gray-light;

		&:hover, &:focus, &:active {
			background: $gray-dark;
			color: $white;
		}

		&.active {
			background: $gray-dark;
			color: $white;
		}
	}
}

// Horizontal tabs
.tabs-h{
	ul{
		display: table;
		width: 100%;
		border-bottom: 5px solid $gray-dark;
	}
	
	li {
		display: table-cell;
		border-right: 5px solid $white;

		&:last-child {
			border-right: 0;
		}
	}

	a{
		text-align: center;
		padding-bottom: $pad-half;
	}
}

// Vertical tabs
.tabs-v{
	a{
		background-color: transparent;
		border-bottom: solid 1px $gray-light;
	}
}