.tabs {
	overflow: hidden;

	ul {
		display: table;
		width: 100%;
	}
	
	li {
		display: table-cell;
		text-align: center;
		border-right: 1px solid $gray-light;

		&:last-child {
			border-right: 0;
		}
	}

	a {
		display: block;
		padding: $pad-half;
		background: $gray;

		&:hover, &:focus {
			background: $gray-light;
		}

		&.active {
			background: $gray-dark;
			color: $white;
		}
	}
}