/* Global Font Classes */
.font-secondary {
	font-family: $font-secondary;
}

//Intro text
.intro {
	font-size: 1.5625em;
}

//Pullquote
.pullquote {
	color: $textcolour_head;
	@include font-size(2.625);
	border-left: none;
	padding: 0;
	position:relative;

	&:before, &:after{
		@include font-size(4);
		color: $textcolour_link;
		
	}

	&:before{
		content: "\201C";
		position:absolute;
		left:-0.5em;
		top: 0.4em;
		line-height: 0.1em;
	}
}



//caption
.caption{
	border-top: 1px solid $gray-light;
	padding-top: 0.4em;
	color: $textcolour_body;
}
.caption-text{
	display: block;
	max-width: 12em;
}

//Text Passages
.text {

	color: $textcolour_body;

	a {
		color: $textcolour_link;

		&:hover{
			border-bottom: 1px dotted $textcolour_link;
		}
	}

	li{
		margin-bottom: $space-half;
	}

	ul {
		list-style: disc;
		margin: 0 0 $space $space;

		ul {
			margin-bottom: 0;

			>li{
				margin-bottom: 0;
			}
		}
	}

	ol {
		list-style: decimal;
		margin: 0 0 $space $space;

		ol {
			margin-bottom: 0;
		}
	}


}