@import '../scss/generic/variables';
$card-gray: #f9f7f7;

.gridlayout-wrapper-full {
  display: grid;
  grid-column-gap: 1.75rem;
  grid-row-gap: 4rem;
  grid-template-columns: unquote('[full-start] minmax(1rem, 1fr) [main-start] minmax(0, 87.50rem) [main-end] minmax(1rem, 1fr) [full-end]');
  grid-template-rows: auto;
  margin: 10rem auto 8rem auto;
}

.gridlayout p {
  margin-bottom: 2rem;
}

.width-full {
  background-color: $linkblue;
  grid-column: full;
  height: 20rem;
}

.width-main {
  display: grid;
  grid-column: main;
  grid-column-gap: 1.75rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  width: 100%;
}

.with-row-gap {
  grid-row-gap: 4rem;
}

.width-12 {
  grid-column: span 12;
}

.width-11 {
  grid-column: span 11;
}

.width-10 {
  grid-column: span 10;
}

.width-9 {
  grid-column: span 9;
}

.width-8 {
  grid-column: span 8;
}

.width-7 {
  grid-column: span 7;
}

.width-6 {
  grid-column: span 6;
}

.width-5 {
  grid-column: span 5;
}

.width-4 {
  grid-column: span 4;
}

.width-3 {
  grid-column: span 3;
}

.width-2 {
  grid-column: span 2;
}

.width-1 {
  grid-column: span 1;
}

.height-2 {
  grid-row: span 2;
}

.card {
  background-color: $card-gray;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  font-size: 0.875rem;

  .card-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.25rem 0.25rem 0 0;
    display: block;
    height: 15rem;
  }

  .inner {
    padding: 1rem;
  }

  .inner-firstline {
    align-items: center;
    display: flex;
    margin-bottom: 1.75rem;

    p {
      margin: 0;
    }

    .card-type {
      background-color: $eu-jade;
      border-radius: 0.25rem;
      color: #fff;
      font-size: 0.875rem;
      font-weight: normal;
      margin-left: 1rem;
      padding: 0.1rem 0.5rem;
      text-transform: uppercase;
      white-space: nowrap;
    }

  }

  .inner-firstline + p {
    font-size: 0.75rem;
    margin-bottom: 0;
  }
}
