.gridlayout-wrapper {
  display: grid;
  grid-column-gap: 1.75rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin: 10rem auto 8rem auto;
  max-width: 83.81rem;
}

.gridlayout-wrapper-full {
  display: grid;
  grid-column-gap: 1.75rem;
  grid-template-columns: unquote("[full-start] minmax(1rem, 1fr)
    [main-start] minmax(0, 83.81rem) [main-end]
    minmax(1rem, 1fr) [full-end]");
  grid-template-rows: auto;
  margin: 10rem auto 8rem auto;
}

.gridlayout p {
  margin-bottom: 2rem;
}

.width-full {
  background-color: #444;
  grid-column: full;
  margin-bottom: 4rem;
}

.width-main {
  display: grid;
  grid-column: main;
  grid-column-gap: 1.75rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin-bottom: 4rem;
  width: 100%;
}

.width-12 {
  grid-column: span 12;
}

.width-11 {
  grid-column: span 11;
}

.width-10 {
  grid-column: span 10;
}

.width-9 {
  grid-column: span 9;
}

.width-8 {
  grid-column: span 8;
}

.width-7 {
  grid-column: span 7;
}

.width-6 {
  grid-column: span 6;
}

.width-5 {
  grid-column: span 5;
}

.width-4 {
  grid-column: span 4;
}

.width-3 {
  grid-column: span 3;
}

.width-2 {
  grid-column: span 2;
}

.width-1 {
  grid-column: span 1;
}

.height-2 {
  grid-row: span 2;
}

.card {
  background-color: #F9F7F7;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  font-size: 0.875rem;

  .inner {
    padding: 1rem;
  
    .secondary {
      font-size: 0.75rem;
      margin-bottom: 0;
    }
  }
}
