@import "../scss/generic/variables";

$gridlayout-card-shadow: rgba(0, 0, 0, 0.25);

$spacing-base: 1rem;
$spacing-half: $spacing-base * 0.5;
$spacing-1-75x: $spacing-base * 1.75;
$spacing-2x: $spacing-base * 2;
$spacing-4x: $spacing-base * 4;

$card-gray: #f9f7f7;

.gridlayout-wrapper-full {
  display: grid;
  grid-column-gap: $spacing-1-75x;
  grid-row-gap: $spacing-4x;
  grid-template-columns: unquote("[full-start] minmax(1rem, 1fr) [main-start] minmax(0, 87.50rem) [main-end] minmax(1rem, 1fr) [full-end]");
  grid-template-rows: auto;
  margin: 0 auto 8rem auto;
}

.gridlayout p {
  margin-bottom: $spacing-2x;
}

.width-full {
  background-color: $linkblue;
  grid-column: full;
  height: 20rem;
}

.width-main {
  display: grid;
  grid-column: main;
  grid-column-gap: $spacing-1-75x;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  width: 100%;
}

.with-row-gap {
  grid-row-gap: $spacing-4x;
}

.width-12 {
  grid-column: span 12;
}

.width-11 {
  grid-column: span 11;
}

.width-10 {
  grid-column: span 10;
}

.width-9 {
  grid-column: span 9;
}

.width-8 {
  grid-column: span 8;
}

.width-7 {
  grid-column: span 7;
}

.width-6 {
  grid-column: span 6;
}

.width-5 {
  grid-column: span 5;
}

.width-4 {
  grid-column: span 4;
}

.width-3 {
  grid-column: span 3;
}

.width-2 {
  grid-column: span 2;
}

.width-1 {
  grid-column: span 1;
}

@media all and (max-width: $bp-med) {
  .width-6,
  .width-4,
  .width-3 {
    grid-column: span 12;
  }
}

.height-2 {
  grid-row: span 2;
}

.gridlayout-card {
  background-color: $card-gray;
  border-radius: $base-border-radius;
  box-shadow: 0 1px 3px 0 $gridlayout-card-shadow;
  font-size: $font-size-slightly-smaller;
  height: 100%;

  .card-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $base-border-radius $base-border-radius 0 0;
    display: block;
    height: 15rem;
  }

  .inner {
    padding: $spacing-base;
  }

  .inner-firstline {
    align-items: center;
    display: flex;
    margin-bottom: $spacing-1-75x;

    p {
      margin: 0;
    }

    .card-type {
      background-color: $eu-jade;
      border-radius: $base-border-radius;
      color: $white;
      font-size: $font-size-slightly-smaller;
      font-weight: normal;
      margin-left: $spacing-base;
      padding: 0.1rem 0.5rem;
      text-transform: uppercase;
      white-space: nowrap;
    }

  }

  .inner-firstline + p {
    font-size: $font-size-sm;
    margin-bottom: 0;
  }

  &.gridlayout-card-big {
    font-size: 1rem;

    .card-img {
      height: 20rem;
    }

    .inner {
      padding: $spacing-1-75x;
    }

    .inner-firstline {
      margin-bottom: $spacing-2x;

      .card-type {
        font-size: $font-size-slightly-smaller;
        margin-left: $spacing-1-75x;
      }

    }

  }
}
