{{> organisms/global/header}}
<!-- 	<div style="height:123px;">
		<header class="pandora-header header">
		{{#navigation}}
			<div class="cf pandora-header  container-large">
				<a href="#" class="logo ir" tabindex="1"><h1>Pandora Mapping Tool</h1></a>
			  <nav id="nav" class="nav_primary nav">			  
			    {{#menu}}
			    <ul>
			      {{#items}}
  			        	{{#text}}<li><a href="">{{.}}</a></li>{{/text}}
			       {{/items}}
			    </ul>
			    {{/menu}}
			  </nav>end .nav
			</div>
			<div class="container-large">
				{{#breadcrumbs}}
			    <ul class="breadcrumbs">
			      {{#items}}
  			        <li><a href="{{url}}">{{text}}</a></li>
			       {{/items}}
			    </ul>
			    {{/breadcrumbs}}			
			</div>
		{{/navigation}}
		</header>
		{{!
		  This is commented out
		  <div style="clear:both"></div>	
		}}
		<div class="cf"></div>	
	</div> -->
	<div class="ve-anchor"><span>&nbsp;</span></div>
	<div class="container-large">
	    {{#action_menu}}
	      {{#sections}}
            <div class="container-menu">
              {{#menu}}
                {{>molecules/controls/dropdown-menu}}
              {{/menu}}
              <div class="container-search-box">
	            {{#search_box}}
	            	{{>molecules/forms/search}}
	            {{/search_box}}
              </div>
            </div>
	      {{/sections}}
	    {{/action_menu}}
	</div>
	
	<div class="menu_dropdown theme_select container_menu">
		{{! molecules/controls/dropdown-menu}}
	</div>
	<div class="container-large" style="padding-top:20px;">
		<table class="mapping-widget">
			<tr class="mapping-widget-collapsed">
				<td width="25%">
					<table class="mapping-widget-mapping">
						<tr><td class="normal-colored test-item-colored"><div class="indent">edm:ProvidedCHO</div></td></tr>
						<tr><td class="normal-colored-dark test-item-colored-dark"><div class="indent">edm:ProvidedCHO</div></td></tr>
						<tr><td class="normal-colored test-item-colored">
							<table class="mapping-widget-controls">
								<tr>
									<td class="values-expand">Values</td>
									<td class="functions">
										<span style="font-family: 'Times New Roman', Times, serif;  font-style: italic; font-size:20px;">f</span>
										<span style="font-family: 'Times New Roman', Times, serif;  font-size:10px;">x</span>
									</td>
									<td class="if">if</td>
								</tr>
							</table>
						</td></tr>
					</table>
				</td>
				<td colspan="2">
					<table class="mapping-widget-values">
						<tr>
							<td id="test-item">
<!-- 								<div class="first-line tooltip-container">
									<div>http://mint-projects.image.ntua.gr/photography/ProvidedCHO/MHF/zbiory.mhf.krakow.pl:MHF</div>
									<div class="tooltip" role="tooltip">http://mint-projects.image.ntua.gr/photography/ProvidedCHO/MHF/zbiory.mhf.krakow.pl:MHF</div>
								</div>
								<div class="second-line">123</div>
								<div class="flag">
									<a class="flag-link" data-dropdown="#object_furtheractions"><i class="fa fa-flag-o"></i></a>
								</div>
								<div id="object_furtheractions4" class="dropdown">
									<div class="menu-title">Set item as:</div>
									<ul class="dropdown-menu">
										<li><a href="#" class="item-suspicious">Suspicious</a></li>
										<li><a href="#" class="item-erroneous">Erroneous</a></li>
										<li><a href="#" class="item-normal">Normal</a></li>
									</ul>
								</div> -->
								{{>molecules/pandora/field-value}}
							</td>
							<td><div>Random Value</div></td>
							<td><div>Random Value</div></td>
							<td><div>Random Value</div></td>
						</tr>
						<tr>
							<td><div>Random Value</div></td>
							<td><div>Random Value</div></td>
							<td><div>Random Value</div></td>
							<td><div>Random Value</div></td>
						</tr>
					</table>
				</td>				
			</tr>
			<tr class="mapping-widget-expanded mapping-widget-mapping">
				<td width="33%" class="normal-colored"><div class="indent">edm:ProvidedCHO</div></td>
				<td width="33%"  class="normal-colored-dark"><div class="indent">edm:ProvidedCHO</div></td>
				<td width="33%"  class="normal-colored">
					<table class="mapping-widget-controls">
						<tr>
							<td class="values-collapse">Values</td>
							<td class="functions">
								<span style="font-family: 'Times New Roman', Times, serif;  font-style: italic; font-size:20px;">f</span>
								<span style="font-family: 'Times New Roman', Times, serif;  font-size:10px;">x</span>
							</td>
							<td class="if">if</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<table class="mapping-widget mapping-widget-expanded mapping-widget-values">
						<tr><td>
								<div class="first-line-expand tooltip-container">
									<div>http://mint-projects.image.ntua.gr/photography/ProvidedCHO/MHF/zbiory.mhf.krakow.pl:MHF</div>
									<div class="tooltip">http://mint-projects.image.ntua.gr/photography/ProvidedCHO/MHF/zbiory.mhf.krakow.pl:MHF</div>
								</div>
								<div class="second-line">123</div>
								<div class="flag"><i class="fa fa-flag-o"></i></div>
							</td>
							<td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td><td><div>Random Value</div></td></tr>
						<tr>
							<td class="mapping-widget-paging" colspan="4">
								  <ol class="pagination">
									<li class="arrow "><a href="prevurl"> ← </a></li>
									<li class="is-current"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li class="is-disabled"><a href="#">&hellip;</a></li>
									<li><a href="#">15</a></li>
									<li class="arrow"><a href="nexturl"> → </a></li>
								</ol>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>