{{#is_java}}
	{{>atoms/meta/_head}}
{{/is_java}}
<div class="working-space">
	<div class="container-large">
		{{#metis_header}}
			{{>organisms/global/navigation_top_accessible_v2}}
			<div class="pusher">
		{{/metis_header}}
	    <ul class="breadcrumbs">
		{{#breadcrumbs}}
	       	<li><a href="{{url}}">{{text}}</a></li>
	    {{/breadcrumbs}}
	    </ul>
	</div>
	{{#landing_page_content}}
		{{#is_login}}
		<div>
			{{> molecules/pandora/login-form}}
		</div>
		{{/is_login}}
		{{#is_register}}
		<div>
			{{> molecules/pandora/register-form}}
		</div>
		{{/is_register}}
		{{#is_profile}}
		<div>
			{{> molecules/pandora/profile-form}}
		</div>
		{{/is_profile}}
		{{#is_requests}}
		<div>
			{{> atoms/tables/table-horizontal}}
		</div>
		{{/is_requests}}
	{{/landing_page_content}}
</div>
{{#is_java}}
	{{>atoms/meta/_foot}}
{{/is_java}}