{{#is_java}}
    {{>atoms/meta/_head}}
{{/is_java}}

<!-- Start Metis Dashboard Header -->
{{>organisms/global/navigation_top_metis}}
<!-- End Metis Dashboard Header -->

{{#user_profile}}
  <div class="metis-main-content">
    {{> molecules/pandora/user-profile}}
  </div>
{{/user_profile}}

{{#metis_footer}}
    {{> organisms/global/footer_v2 }}
{{/metis_footer}}

{{#is_java}}
    {{>atoms/meta/_foot}}
{{/is_java}}
