{{#metis_header}}
    {{> organisms/global/header_v2 }}
{{/metis_header}}

<!-- Start Main page content -->
<div class="dashboard-wrapper">
    <div class="metis-dashboard">
        {{> atoms/text/welcome-message }}
    </div>
    <div>
        {{> atoms/buttons/double-btns }}
    </div>
    <!-- End main content -->
</div>