{{#is_java}}
    {{>atoms/meta/_head}}
{{/is_java}}

{{#metis_header}}
    {{> organisms/global/header_v2 }}
{{/metis_header}}

{{> organisms-site-hero }}

<!-- Start Main page content -->
<div>
    {{> organisms/sections/banner }}
    <!-- End main content -->
</div>
{{#metis_footer}}
    {{> organisms/global/footer_v2 }}
{{/metis_footer}}

{{#is_java}}
    {{>atoms/meta/_foot}}
{{/is_java}}