{{> atoms/iconography/svgicons-virtual-exhibitions}}
{{> atoms/iconography/svgicons-user }}
{{> organisms/global/header_v2}}

<div id="desktop_detect"></div>

<main role="main" class="l-page">
  <div class="page_header">
    {{>molecules/virtual-exhibitions/browse-breadcrumb.mustache}}
  </div>

  <div id="maincontent" class="maincontent">
  <div class="ve-slide-container">
  <div class="ve-credit-wrapper">

    {{# page_data }}
      {{# elements }}
        {{# present }}
          {{# items }}
            {{# is_credit_intro }}
                <div class="ve-credit-intro cf">
                  <div class="ve-credit-title">
                    <h1>{{title}}</h1>
                  </div>
                  <div class="ve-col-credit-left">
                    <div class="inner">
                      {{{body}}}
                    </div>
                  </div>
                  <div class="ve-col-credit-right">
                    <div class="inner">
                      <figure>
                        {{#image}}
                          <picture data-hi-res="{{#full}}{{url}}{{/full}}">
                            {{>atoms/images/responsive-srcset-picture}}
                          </picture>
                        {{/image}}
                      </figure>
                    </div>
                  </div>
                </div>
            {{/ is_credit_intro }}
          {{/ items }}
        {{/ present }}
      {{/ elements }}

      {{# credit_elements.present }}
        {{# credit_elements.items }}

         <div class="cf">
            <div class="ve-col-credit-left">
              <div class="inner">
                <figure>
                  {{#image}}
                    <picture data-hi-res="{{#full}}{{url}}{{/full}}">
                      {{>atoms/images/responsive-srcset-picture}}
                    </picture>
                  {{/image}}
                </figure>
              </div>
            </div>
            <div class="ve-col-credit-right">
              <div class="inner">
                {{#image_credit}}
                  <ul>
                    {{#attribution_title}}
                      <li class="ve-field">
                        <h4 class="ve-field-label">Title</h4> {{.}}
                      </li>
                    {{/attribution_title}}

                    {{#attribution_creator}}
                      <li class="ve-field">
                        <h4 class="ve-field-label">Creator</h4> {{.}}
                      </li>
                    {{/attribution_creator}}

                    {{#attribution_institution}}
                      <li class="ve-field">
                        <h4 class="ve-field-label">Source</h4>
                        {{#attribution_url}}
                          <a href="{{.}}" target="_new">{{attribution_institution}}</a>
                        {{/attribution_url}}
                        {{^attribution_url}}
                          {{attribution_institution}}
                        {{/attribution_url}}
                      </li>
                    {{/attribution_institution}}

                    {{#page_url}}
                      <li class="ve-field">
                        <a href="{{.}}#ve-element-anchor-{{id}}" target="_new">view in exhibition
                          <svg class="icon icon-external-link">
                            <use xlink:href="#icon-external-link"></use>
                          </svg></a>
                      </li>
                    {{/page_url}}

                    {{#image}}
                      <li class="ve-field">
                        <a class="btn" download="Europeana-Exhibition-Image" href="{{#full}}{{url}}{{/full}}">
                          <svg class="icon icon-download">
                            <use xlink:href="#icon-download"></use>
                          </svg>Download</a>
                      </li>
                    {{/image}}

                  </ul>
                {{/image_credit}}
              </div>
            </div>
          </div>
        {{/ credit_elements.items }}
      {{/ credit_elements.present }}
    {{/ page_data }}
  </div>
  </div>
  </div>

  {{^is_foyer}}
    {{#social}}
      <div class="ve-social">
        {{#text}}<h2 class="text">{{.}}</h2>{{/text}}
        {{> molecules/controls/share-social }}
      </div>
    {{/social}}
  {{/is_foyer}}

</main>
{{> molecules/components/photoswipe/photoswipe }}

{{^is_foyer}}
  {{#footer}}
    <footer class="ve-footer footer" role="contentinfo">
      {{> molecules/navigation/linklist-simple}}
    </footer>
  {{/footer}}
{{/is_foyer}}
