{{> atoms/iconography/svgicons-virtual-exhibitions}}
{{> atoms/iconography/svgicons-user }}
{{> organisms/global/header_v2}}

<style>
  .ve-field-label{
    font-weight: bold;
  }
  .ve-field-label:after{
    content: ':';
  }

  .ve-col-50-right .inner{
    text-align: left;
  }
</style>

<div id="desktop_detect"></div>

<main role="main" class="l-page">
  <div class="page_header">
    {{>molecules/virtual-exhibitions/browse-breadcrumb.mustache}}
  </div>

  <div id="maincontent" class="maincontent">
  <div class="ve-slide-container">
    {{# page_data }}
      {{# credit_elements.present }}
        {{# credit_elements.items }}

         <div class="cf">
            <div class="ve-col-50-left">
              <div class="inner">
                <figure>
                  {{#image}}
                    <picture data-hi-res="{{#full}}{{url}}{{/full}}">
                      {{>atoms/images/responsive-srcset-picture}}
                    </picture>
                  {{/image}}
                </figure>
              </div>
            </div>
            <div class="ve-col-50-right">
              <div class="inner">
                {{#image_credit}}
                  <ul>
                    {{#attribution_title}}
                      <li>
                        <span class="ve-field-label">Title</span> {{.}}{{#attribution_creator}}; {{.}}{{/attribution_creator}}
                      </li>
                    {{/attribution_title}}

                    {{^attribution_title}}
                      {{#attribution_creator}}
                      <li>
                        <span class="ve-field-label">Title</span> {{.}}
                      </li>
                      {{/attribution_creator}}
                    {{/attribution_title}}

                    {{#attribution_institution}}
                      <li>
                        <span class="ve-field-label">Source</span>
                        {{#attribution_url}}
                          <a href="{{.}}" target="_new">{{attribution_institution}}</a>
                        {{/attribution_url}}
                        {{^attribution_url}}
                          {{attribution_institution}}
                        {{/attribution_url}}
                      </li>
                    {{/attribution_institution}}

                    {{#page_url}}
                      <li>
                        <a href="{{.}}#ve-element-anchor-{{id}}">view in exhibition
                          <svg class="icon icon-external-link">
                            <use xlink:href="#icon-external-link"></use>
                          </svg></a>
                      </li>
                    {{/page_url}}

                    <!--
                    <span class="ve-field-label">License</span> {{#license_public}}Public{{/license_public}}

                    {{#cite}}
                      <span class="ve-field-label">Cite</span> {{.}}
                    {{/cite}}

                    {{#embed}}
                      <span class="ve-field-label">Embed</span> {{.}}
                    {{/embed}}
                     -->
                  </ul>
                {{/image_credit}}
              </div>
            </div>
          </div>
        {{/ credit_elements.items }}
      {{/ credit_elements.present }}
    {{/ page_data }}
  </div>
  </div>

  {{^is_foyer}}
    {{#social}}
      <div class="ve-social">
        {{#text}}<h2 class="text">{{.}}</h2>{{/text}}
        {{> molecules/controls/share-social }}
      </div>
    {{/social}}
  {{/is_foyer}}

</main>
{{> molecules/components/photoswipe/photoswipe }}

{{^is_foyer}}
  {{#footer}}
    <footer class="ve-footer footer" role="contentinfo">
      {{> molecules/navigation/linklist-simple}}
    </footer>
  {{/footer}}
{{/is_foyer}}
