{{> atoms/iconography/svgicons-virtual-exhibitions}}
{{> atoms/iconography/svgicons-user }}
{{> organisms/global/header_v2}}

<main role="main" class="l-page">

  <div class="page_header">
    {{>molecules/virtual-exhibitions/browse-breadcrumb.mustache}}
  </div>

  <div id="maincontent" class="maincontent">

    {{#page.featured-item}}
      <div class="ve-slide-container">
        <section class="ve-slide first">
          {{> organisms/virtual-exhibitions/main-slide}}
        </section>
      </div>
    {{/page.featured-item}}
    <div class="lc">
      <div class="ve-foyer-card-container">
        {{#page}}
          {{#elements}}
            {{#present}}
              {{#items}}
                {{> organisms/virtual-exhibitions/foyer-card}}
              {{/items}}
            {{/present}}
          {{/elements}}
        {{/page}}
      </div>
    </div>
  </div>

</main>

{{> organisms/global/footer }}
