{{> atoms/iconography/svgicons-virtual-exhibitions}}
{{> atoms/iconography/svgicons-user }}
{{> organisms/global/header_v2}}

<div id="desktop_detect"></div>

<main role="main" class="l-page">

  <div class="page_header">
    {{>molecules/virtual-exhibitions/browse-breadcrumb.mustache}}
  </div>

  <div id="maincontent" class="maincontent">
    {{# page_data }}
      <div class="ve-slide-container{{#is_chapter}} ve-chapter{{/is_chapter}}{{#is_exhibition}} ve-exhibition{{/is_exhibition}}">
        {{# elements.present }}

          <h4 class="ve-progress-nav">
            {{# elements.items }}
              {{^ is_section }}
                {{#is_first}}
                  <a href="#ve-anchor-{{id}}-js"><span class="ve-state-button ve-state-button-on ve-first"></span>{{> templates/Exhibitions/SpeechBubble}}</a>
                {{/is_first}}
              {{/ is_section }}
            {{/ elements.items }}
            {{# elements.items }}
              {{# is_section }}
              <a href="#ve-anchor-{{id}}-js"{{#section_title}} title="{{.}}"{{/section_title}}><span class="ve-state-button {{^is_first}}ve-state-button-off{{/is_first}}"></span>{{> templates/Exhibitions/SpeechBubble}}</a>
              {{/ is_section }}
            {{/ elements.items }}
          </h4>

          <section class="ve-slide first">
            {{# elements.items }}
              {{#is_first}}
                <a class="ve-anchor" id="ve-anchor-{{id}}-js"></a>
              {{/is_first}}
            {{/ elements.items }}
            {{# elements.items }}
              {{> organisms/virtual-exhibitions/main-slide}}
            {{/ elements.items }}
          </section>

        {{/ elements.present }}
        <a id="ve-end"></a>
      </div>

      {{#is_exhibition}}
        <div class="ve-chapter-selection-container cf">
          {{#chapter_elements}}
            {{#present}}
              {{#items}}
                {{#is_chapter_nav}}
                  {{> organisms/virtual-exhibitions/chapter-selection}}
                {{/is_chapter_nav}}
              {{/items}}
            {{/present}}
          {{/chapter_elements}}
        </div>
      {{/is_exhibition}}

    {{/ page_data }}


    <div class="ve-base-chapter-nav">
      {{# previous_page }}
        <a class="ve-chapter-nav-prev" {{#url}}href="{{.}}"{{/url}}><svg class="icon icon-previous"><use xlink:href="#icon-previous"/></svg>{{#title}}{{.}}{{/title}}</a>
      {{/ previous_page }}
      {{# next_page }}
        <a class="ve-chapter-nav-next" {{#url}}href="{{.}}"{{/url}}>{{#title}}{{.}}{{/title}}<svg class="icon icon-next"><use xlink:href="#icon-next"/></svg></a>
      {{/ next_page }}
    </div>

    {{#social}}
      <div class="ve-social">
        {{#text}}<h2 class="text">{{.}}</h2>{{/text}}
        {{> molecules/controls/share-social }}
      </div>
    {{/social}}

  </div>

</main>
{{> molecules/components/photoswipe/photoswipe }}

{{#is_exhibition}}
  {{> organisms/global/footer }}
{{/is_exhibition}}
{{#is_chapter}}
  {{#footer}}
    <footer class="ve-footer footer" role="contentinfo">
      {{> molecules/navigation/linklist-simple}}
    </footer>
  {{/footer}}
{{/is_chapter}}
