{{> atoms/iconography/svgicons-virtual-exhibitions}}
{{> atoms/iconography/svgicons-user }}
{{> organisms/global/header_v2}}

<main role="main" class="l-page">

  <div class="page_header">
    {{>molecules/virtual-exhibitions/browse-breadcrumb.mustache}}
  </div>

  <div id="maincontent" class="maincontent">

    {{#page_data.featured_item}}
      <div class="ve-slide-container">
        <section class="ve-slide first">
          {{> organisms/virtual-exhibitions/main-slide}}
        </section>
      </div>
    {{/page_data.featured_item}}
    <div class="lc">
      <div class="ve-foyer-card-container">
        {{#elements}}
          {{#present}}
            {{#items}}
              {{#is_foyer_card}}
                {{> organisms/virtual-exhibitions/foyer-card}}
              {{/is_foyer_card}}
            {{/items}}
          {{/present}}
        {{/elements}}
      </div>
    </div>
  </div>

</main>

{{> organisms/global/footer }}
