
<div style="position:relative">
  <div class="ve-base-chapter-nav{{#previous_page}} has-previous{{/previous_page}}{{#next_page}} has-next{{/next_page}}">
    {{# previous_page }}
      <a class="ve-chapter-nav-prev" {{#url}}href="{{.}}"{{/url}}><span class="svg-icon-previous linkblue"></span> {{#title}}{{.}}{{/title}}</a>
    {{/ previous_page }}
    {{# next_page }}
      <a class="ve-chapter-nav-next" {{#url}}href="{{.}}"{{/url}}>{{#title}}{{.}}{{/title}} <span class="svg-icon-next linkblue"></span></a>
    {{/ next_page }}
  </div>
</div>
