<div class="site_wrapper">

{{> organisms-header}}



<div role="main" class="grid_wrapper">

	<ul class="post-list grid" >
		<li class="grid__item lap--one-third">{{> molecules-media-item }}</li><!-- 
	 --><li class="grid__item lap--one-third">{{> molecules-media-item }}</li><!-- 
	 --><li class="grid__item lap--one-third">{{> molecules-media-item }}</li><!-- 
	 
	 --><li class="grid__item lap--one-fifth">{{> molecules-media-item }}</li><!-- 
	 --><li class="grid__item lap--one-fifth">{{> molecules-media-item }}</li><!-- 
	 --><li class="grid__item lap--one-fifth">{{> molecules-media-item }}</li><!-- 
	 --><li class="grid__item lap--one-fifth">{{> molecules-media-item }}</li><!-- 
	 --><li class="grid__item lap--one-fifth">{{> molecules-media-item }}</li>
	</ul>

</div>


{{> organisms-footer }}

</div>