<div class="site_wrapper">

{{> organisms-header}}



<div role="main" class="grid_wrapper">

	<ul class="post-list" >
		<li class="list-item-primary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-primary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-primary">{{> molecules-media-item }}</li><!-- 
	 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li><!-- 
	 --><li class="list-item-secondary">{{> molecules-media-item }}</li>
	</ul>

</div>


{{> organisms-footer }}

</div>