{{> atoms/iconography/svgicons-search }}
{{> organisms/global/header_v2}}

<div role="main" id="maincontent"> 

  <div class="gridlayout-wrapper-full">    
    <!-- example of a full width row -->
    <div class="gridlayout width-full">full</div>

    <!-- example of a full width row in main area -->
    <div class="gridlayout width-main">   
      <div class="gridlayout width-12">
        
        <div class="gridlayout-card">
          <div class="inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci in vestibulum placerat. Proin fermentum pharetra dui a bibendum. Duis quis ipsum placerat orci pulvinar gravida dignissim sed mi. Donec diam magna, dictum dictum cursus at, molestie quis tellus.</p>
          </div>
        </div>

      </div>
    </div>

    <!-- example of a row in main area, containing several columns-->
    <div class="gridlayout width-main">
      <div class="gridlayout width-6">
        <h4>Featured Section Title</h4>
        <p>Section context and description that should not be wider than 6 columns and ideally fit into two lines</p>
      </div>
      <div class="gridlayout width-6"></div>   

      <div class="gridlayout width-4">

        <!-- example of a card -->
        <div class="gridlayout-card gridlayout-card-big">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              <span class="card-type">type</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
      <div class="gridlayout width-4">
        
        <div class="gridlayout-card gridlayout-card-big">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              <span class="card-type">type</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
      <div class="gridlayout width-4">
        
        <div class="gridlayout-card gridlayout-card-big">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              <span class="card-type">type</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div> 
    </div>

    <!-- example of a full width row -->
    <div class="gridlayout width-full">full</div>

    <!-- example of a row in main area, containing several columns-->
    <div class="gridlayout width-main">
       <div class="gridlayout width-6">
        <h4>Content Section 1</h4>
        <p>Section context and description<br/>
        Mix with browse points</p>
      </div>
      <div class="gridlayout width-6"></div>   
      <div class="gridlayout width-3">
        
        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
      <div class="gridlayout width-3">

        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
      <div class="gridlayout width-3">
        
        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
      <div class="gridlayout width-3">
        
        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
    </div>

    <!-- example of a row in main area, containing several columns-->
    <div class="gridlayout width-main">
       <div class="gridlayout width-6">
        <h4>Content Section 2</h4>
        <p>Section context and description<br/>
        Mix with browse points</p>
      </div>
      <div class="gridlayout width-6"></div>   
      <div class="gridlayout width-3">
        
        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
      <div class="gridlayout width-3">

        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
      <div class="gridlayout width-3">
        
        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
      <div class="gridlayout width-3">
        
        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>
    </div>

     <!-- example of a full width row 
    <div class="gridlayout width-full">full</div>

    <!-- more grid samples
    <div class="gridlayout width-main with-row-gap">
      <div class="gridlayout width-9">

        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
              <span class="card-type">type</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>

      <div class="gridlayout width-3 height-2">

        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci in vestibulum placerat. Proin fermentum pharetra dui a bibendum. Duis quis ipsum placerat orci pulvinar gravida dignissim sed mi. Donec diam magna, dictum dictum cursus at, molestie quis tellus. Suspendisse erat mi, bibendum vitae iaculis et, consequat quis tortor. Maecenas ut pulvinar libero, ut euismod ipsum. Vestibulum efficitur ultrices tellus, non interdum massa egestas quis. Pellentesque mattis eu sem ac bibendum.</p>
              <span class="card-type">type</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>
        </div>

      </div>

      <div class="gridlayout width-9">

        <div class="gridlayout-card">
          <a class="card-img" style="background-image:url('/images/sample/object_thumbnail3.jpg');"></a>    
          <div class="inner">
            <div class="inner-firstline">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra orci in vestibulum placerat. Proin fermentum pharetra dui a bibendum. Duis quis ipsum placerat orci pulvinar gravida dignissim sed mi. Donec diam magna, dictum dictum cursus at, molestie quis tellus. Suspendisse erat mi, bibendum vitae iaculis et, consequat quis tortor. Maecenas ut pulvinar libero, ut euismod ipsum. Vestibulum efficitur ultrices tellus, non interdum massa egestas quis. Pellentesque mattis eu sem ac bibendum.</p>
              <span class="card-type">type</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </div>     
        </div>

      </div>

    </div> -->

  </div>

</div>
<!-- End Main -->

{{> organisms/sections/banner }}

{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
