{{> atoms/iconography/svgicons-search }}
{{> organisms/global/header_v2}}

<div role="main" id="maincontent">
  
  <div class="gridlayout-wrapper">    
    <div class="gridlayout width-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel sodales turpis. Donec sit amet lacus accumsan, 
      convallis nibh nec, suscipit felis. Pellentesque lobortis tortor ut scelerisque rhoncus</p>
    </div>
    <div class="gridlayout width-6"></div>

    <div class="gridlayout width-4"></div>
    <div class="gridlayout width-4"></div>
    <div class="gridlayout width-4"></div>

    <div class="gridlayout width-3"></div>
    <div class="gridlayout width-3"></div>
    <div class="gridlayout width-3"></div>
    <div class="gridlayout width-3 height-2"></div>

    <div class="gridlayout width-3"></div>
    <div class="gridlayout width-3"></div>
    <div class="gridlayout width-3"></div>
    
    <div class="gridlayout width-12"></div>

  </div>
</div>
<!-- End Main -->

{{> organisms/sections/banner }}

{{> organisms/global/footer_v2 }}
{{> molecules/forms/feedback }}
