<div class="gridlayout-wrapper-full">
  <div class="gridlayout width-main no-row-gap">

    <div class="gridlayout width-9">
    </div>

    <div class="gridlayout width-3">
      <div class="gridlayout-card">
        <div class="card-content">
          <h3><a href="">Famous Works – How Many Do You Recognise?</a></h3>
          <div class="description">
            <p>One of the highest honors for an artist is to be considered and regarded a master. Artists desire to create artwork that will be remem</p>  
          </div>
          <p>1 May 2014 | Ann Author</p>
          <ul class="card-tags">
            <li><a href="">#News</a></li>
          </ul>
          <div class="card-footer">Features The Milkmaid</div>
        </div>
      </div>    

      <div class="gridlayout-card" style="background-image: url(https://www.europeana.eu/api/v2/thumbnail-by-url.json?size=w400&type=IMAGE&uri=http%3A%2F%2Fmuseum.imj.org.il%2Fimages%2Fcorridor%2FBezalel%2Fisraeli%2FKadishman%2C%2520Menashe%2FB95_0286~Menashe%2520Kadishman-Autumn%2520Tree%2520cropped.jpg);">
        <a class="card-image" href=""></a>
        <div class="card-content">
          <h3><a href="">Famous Works – How Many Do You Recognise?</a></h3>
          <div class="description">
            <p>One of the highest honors for an artist is to be considered and regarded a master. Artists desire to create artwork that will be rememOne of the highest honors for an artist is to be considered and regarded a master. Artists desire to create artwork that will be remem    </p>  
          </div>
        </div>
      </div>    

      <div class="gridlayout-card" style="background-image: url(https://www-acceptance.eanadev.org/api/v2/thumbnail-by-url.json?size=w400&type=IMAGE&uri=https%3A%2F%2Fwww.rijksmuseum.nl%2Fassetimage2.jsp%3Fid%3DSK-A-2344);">
        <a class="card-image" href=""></a>
        <div class="card-content">
          <h4>blog</h4>
          <h3><a href="">Famous Works – How Many Do You Recognise?</a></h3>
          <div class="description">
            <p>One of the highest honors for an artist is to be considered and regarded a master. </p>  
            <span class="icon icon-multi-page"></span>
          </div>
          <p>1 May 2014 | Ann Author</p>
          <ul class="card-tags">
            <li><a href="">#News</a></li>
            <li><a href="">#Art</a></li>
            <li><a href="">#Painting</a></li>
            <li><a href="">#Vermeer</a></li>
            <li><a href="">#Master</a></li>
          </ul>
          <div class="card-footer">Features The Milkmaid</div>
        </div>
      </div>    

      <div class="gridlayout-card" style="background-image: url(https://www-acceptance.eanadev.org/api/v2/thumbnail-by-url.json?size=w400&type=IMAGE&uri=http%3A%2F%2Fmedia.vam.ac.uk%2Fmedia%2Fthira%2Fcollection_images%2F2012FG%2F2012FG7703_jpg_l.jpg);">
        <a class="card-image" href=""></a>
        <div class="card-content">
          <h3><a href="">Presentatie van het in boekwerk verschenen Oud Rechterlijk Archief van Weert: 1400-1796 in de Paterskerk, de samensteller gemeentearchivaris Jos Wassink</a></h3>
          <div class="description">
            <p>One of the highest honors for an artist is to be considered and regarded a master. Artists desire to create artwork that will be remem  </p>  
          </div>
          <p>Ann Author</p>
          <div class="card-footer">Features The Milkmaid</div>
        </div>
      </div> 


      <div class="gridlayout-card" style="background-image: url(https://www.europeana.eu/api/v2/thumbnail-by-url.json?size=w400&type=IMAGE&uri=http%3A%2F%2Fweert.hosting.deventit.net%2FHttpHandler%2Ficoon.ico%3Ffile%3D206146156);">
        <a class="card-image" href=""></a>
        <div class="card-content">
          <h3><a href="">Presentatie</a></h3>          
          <p>Ann Author</p>
        </div>
      </div>  

      <div class="gridlayout-card">
        <a class="card-image"></a>
        <div class="card-content">
          <h3><a href="">Famous Works – How Many Do You Recognise?</a></h3>
          <div class="description">
            <p>One of the highest honors for an artist is to </p>  
          </div>
        </div>
      </div>  

    </div>
  </div>
</div>
