<section>
  <div class="ve-nav cf">
    <div class="ve-nav-lists">
      <ul class="breadcrumbs">
        <li><a href="{{navigation.home_url}}"><svg class="icon icon-home"><use xlink:href="#icon-home"></use></svg>{{i18n.site.navigation.breadcrumb.return_home}}</a></li>
        <li><a href="#">Exhibitions</a></li>
        <li><span class="lastitem"><strong>Exhibition Name</strong></span></li>
      </ul>
    </div>
  </div>
</section>
