.grid-main{
	@extend %grid;
	@extend %grid--full;
}

// Home page module layout



.l-primaryaction{
	@extend %grid__item;
	@extend %lap--one-third;
}

.l-usefulinfo{
	@extend %grid__item;
	@extend %lap--two-thirds;
	
	.l-usefulinfo-item{
		@extend %grid__item;
		@extend %one-half;
	}
}

.home-news{

	.l-news{
		@extend %grid__item;
		@extend %lap--two-thirds;
	}
	.l-post{
		@extend %grid__item;
		@extend %palm--one-whole;
		@extend %one-half;
	}
	.l-newsfeed{
		@extend %grid__item;
		@extend %lap--one-third;
	}
}

.events-upcoming{
	.event{
		@extend %grid__item;
		@extend %lap--one-half;
	}
}

// Generic page layout

.l-page{


}

.l-content{
	@extend %grid__item;
	@extend %lap--three-quarters;
}

.l-sidebar{
	@extend %grid__item;
	@extend %lap--one-quarter;
}

.help-contact{
	@extend %one-half;
	@extend %lap--one-whole;
}

.l-relatedlinks{
	@extend %grid;

	.related-item{
		@extend %grid__item;
		@extend %lap--one-third;
	}
}


//List page layout

.list-item{
	@extend %grid;
	@extend %grid--rev;

	.item-details{
		@extend %grid__item;
		@extend %smallup--two-thirds;
	}

	.item-supplementary{
		@extend %grid__item;
		@extend %smallup--one-third;
	}
}

.l-next_options{

	@extend %grid;

	 li{
		@extend %grid__item;

		@extend %smallup--one-half;
		@extend %lap--one-third;
	}
}

.l-section-sitemap{

	@extend %grid;

	.l-linklist{
		@extend %grid__item;
		@extend %lap--one-third;
	}
}


//Event page
.speakers .people-list{
	@extend %grid;

	 li{
		@extend %grid__item;
		@extend %smallup--one-half;
	}
}

//Person Detail Page

.contact-detail{
	@extend %grid;
	@extend %grid--rev;

	.l-contact{
		@extend %grid__item;
		@extend %lap--two-thirds;
	}

	.contact-external{
		float: right;
		width: 33%;
	}

	.contact-internal{
		float: left;
		width: 66%;
	}
}

.l-contact-photo{
	@extend %grid__item;
	@extend %lap--one-third;
}

