

.pro-home{
	padding-top: 0;

	.section{
		padding: $space-double $space-half;
		margin-bottom: 0;

		@media all and (min-width: $bp-small) {
			padding: $space-double $space;
		}
	}
}

.promo-abouteuropeana{
	background-color: $blue-dark;
	//border-top: 2px solid $accent;
	
	color: $white;

	text-align: center;
	@include fontSize(24px);
	line-height: 1.2;
	
	margin-bottom: $space;

	a{
		border-bottom: 1px dotted $textcolour_link;
	}

}

.section.pro-info{

	background-color: $offwhite;
	padding-top: $space;

	h2{
		margin-bottom: $space-double;
		@include fontSize(24px);
		color: $textcolour_head;
	}

	.lc{
		border-bottom: 1px solid $grey3;
	}
}



.jointhenetwork{
	padding: $space + $space-half $space;
	background-color: $white;
	margin-bottom: $space;
	border: 1px solid $grey3;
	@include fontSize(18px);

	ul{
		margin-bottom: $space-double;

		a{
			border-bottom: 1px dotted $eu-blue;
		}
	}

	li{
		margin-bottom: $space-half;
	}
}

.section-title{
	text-transform: uppercase;
	color: $footer_headings;
	margin-bottom: $space + $space-half;
	letter-spacing: 0;
}

.link-more{
	font-weight: bold;
	color: $textcolour_link;
}


.usefulinfo-links{
	margin-bottom: $space;
	@include fontSize(18px);
	font-weight: bold;
	padding-bottom: 1px;

	li{
		margin-bottom: $space;
	}

	a{
		border-bottom: 1px dotted $eu-blue;
	}

	a[href*="//"]:not([href*="pro.europeana.com"]):after{
		@extend %external_link_icon;
	}
}

.usefulinfo{
	padding-top: $space + $space-half;
}
.usefulinfo-item{
	margin-bottom: $space;

	h3{
		text-transform: uppercase;
		margin-bottom: $space;
	}
}

.usefulinfo-secondary{
	.usefulinfo-item{
		padding-top: $space;
		border-top: 1px solid $grey3;
	}
}

.home-news{
	background-color: $blue-grey;
	border-top: 2px solid darken($blue-grey, 2);
}

.events-upcoming .event{
	margin-bottom: $space;
}