



// Set subsite colour variable here
$subsite_colour: #00AEEF;


// this is the subsite body class for the Cloud sub site
.europeana_subsite_cloud{
 
	.nav-toggle-sites
	{
		background-color: $subsite_colour;
	}

	.subsite-banner{
		background-color: $subsite_colour;
	}

	.header > .cf,
	.nav_primary .current:after
	{
		border-color: $subsite_colour;
	}

}

// this is the subsite body class for the Creative sub site


// Set subsite colour variable here
$subsite_colour: #FF0066;


.europeana_subsite_creative{
 
	.nav-toggle-sites
	{
		background-color: $subsite_colour;
	}

	.subsite-banner{
		background-color: $subsite_colour;
	}

	.header > .cf,
	.nav_primary .current:after
	{
		border-color: $subsite_colour;
	}

}