@charset "UTF-8";
/*
 EUROPEANA PROFESSIONAL

 Requires: Sass, Compass
*/
// Sass stuff
@import "compass/css3";
@import "scss/generic/variables";
@import "scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-pro;



// Reset
@import "scss/generic/reset";

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
@import "scss/base/global-classes";
@import "scss/base/main";
@import "scss/base/links";
//@import "scss/base/headings";
@import "scss/base/headings_simple";
@import "scss/base/text";
@import "scss/base/lists";
@import "scss/base/media";
@import "scss/base/forms";


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
@import "scss/grid/csswizardry-grids";
//@import "scss/grid/profoundgrid";

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
@import "scss/objects/header";
@import "scss/objects/footer";
@import "scss/objects/sections";
@import "scss/objects/media_grid";

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
@import "scss/objects/nav";
@import "scss/objects/navigation/breadcrumbs";
@import "scss/objects/navigation/pagination";
@import "scss/objects/lists";


/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
@import "scss/objects/text";



// Global icons (svg)
@import "scss/objects/icons/svgicons";

@import "scss/objects/blocks";
@import "scss/objects/dates";

/*------------------------------------*\
    site modules
\*------------------------------------*/
//module layout using css wizardry grid
@import "pro/layout_csswiz";

//module layout using profound grid
//@import "pro/layout_prof";




// Home page

.pro-hero{
	background-color: #00DBBC;
	height:60%;
	padding-top: 10em;

	background: url("../../images/sample/landscape-16x9-mountains.jpg") top center;
	-webkit-background-size: cover;
    background-size: cover;

	.lc{
		position: relative;
		height: 100%;
	}

	.hero-text{
		position: absolute;
		bottom: 0;
		background-color: rgba(#FFF, 0.7);
		padding: $space;
		width: 100%;

		@media all and (min-width: $bp-small) {
			width: 60%;
		}

		@media all and (min-width: $bp-med) {
			width: 35%;
		}

		h1.title{
			font-size: 1.6em;
		}
	}
}

.pro-home{
	padding-top: 0;
}

.promo-abouteuropeana{
	background-color: $grey2;

	text-align: center;
	@include fontSize(26px);
	line-height: 1;

	margin-bottom: $space-double;

	.lc{
		padding: 40px;
	}

}

.pro-info h2{
	margin-bottom: $space-double;
}

.jointhenetwork{
	padding: $space;
	background-color: #eee;
	margin-bottom: $space;
}

.link-more{
	display: block;
	font-weight: bold;
	color: $textcolour_link;
}

.usefulinfo{
	margin-bottom: $space;
	padding: $space 0;
}
.usefulinfo-item{
	margin-bottom: $space;
}

.usefulinfo-secondary{
	
	.usefulinfo-item{
		padding-top: $space;
		border-top: 1px solid $grey2;
	}
}


.tweets{
	padding: $space;
	background-color: #EEE;
}

// Generic page layout
.l-page{

	$space-top: $space-triple;
	position: relative;

	background: $offwhite; // fallback
	@media all and (min-width: $bp-med) {
		background: linear-gradient(to left, $offwhite 0%,$offwhite 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
		// TODO: add gradients for older browsers
	}

	.maincontent{
		background-color: $white;
		padding: $space-triple 0;
		padding-right: $space;
	}

	.l-breadcrumbs{
		background-color: #F8F8F8;
		padding: $space;
		padding-top: 2em;
		line-height: 1;

		@media all and (min-width: $bp-med) {
			height: $space-top;
		}

		.breadcrumbs{
			width: 75%;
		}
	}

	.textcontent{
		padding: 0 $space;
		padding-bottom: $space-triple;
		max-width: 40em;
	}

	.l-sidebar{ 
		&> .inner{
			margin-top: $space * 6;
			background: $offwhite;
			font-size: $font-size-slightly-smaller;
		}
	}


	@media all and (min-width: $bp-med) {
		//The coloured band that extends the breadcrumbs background colour to the right edge of the window
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: $globalnavheight + $space-top;
			position: absolute;
			top: 0; 
			left: 0;
			background-color: #F8F8F8;
			z-index: -1;
		}
	}

}

.help-contact{
	margin-bottom: $space;

	img{
		margin-bottom: $space-half;
	}
}

.downloads{
	margin-bottom: $space;
}

// The 3 related item links at the bottom of the page
.related-items{
}
.noimages .related-item > a{
	display: block;
	min-height: 8em;
	padding: $space;
	background-color: #e1cfd4; //pinky
	margin-bottom: $space;
	color: $white;
	font-weight: bold;
}


// List page

.sortby{
	float: right;

	label{
		font-size: $font-size-sm;
	}

	label, select{
		display: inline;
		padding:0;
	}
}

.results{
}
.results-list{
	margin-bottom: $space-double;
}

@import "scss/objects/lists/list-item";
@import "scss/objects/metadata";
@import "scss/objects/lists/file-lists";


//Overview page

.page-intro{
	margin-left: $space;
}
// links grid
.link-block{
	
	margin-bottom: $space;
	text-align: left;
	min-height: 10em;

	a{
		color: $textcolour_body;
		background-color: $offwhite;
		display: block;
	}

	.b-text{
		padding: $space;
	}

	.item-title{
		margin-bottom: 0.6rem;
	}
}

//mini section sitemap
.section-sitemap{
	border-top: 1px solid $grey2;

	.inner{
		padding: $space;
	}
}

//Blog detail
.articleheader{
	margin-bottom: $space-double;
}