@charset "UTF-8";
/*
 EUROPEANA PROFESSIONAL

 Requires: Sass, Compass
*/
// Sass stuff
@import "compass/css3";
@import "scss/generic/variables";
@import "scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-pro;
$textcolour_highlight: $accent;


// Reset
@import "scss/generic/reset";

/*------------------------------------*\
	$GLOBAL ELEMENTS
\*------------------------------------*/
@import "scss/base/global-classes";
@import "scss/base/main";
@import "scss/base/links";
//@import "scss/base/headings";
@import "scss/base/headings_simple";
@import "scss/base/text";
@import "scss/base/lists";
@import "scss/base/media";
@import "scss/base/forms";


/*------------------------------------*\
	$GRIDS
\*------------------------------------*/
@import "scss/grid/csswizardry-grids";
//@import "scss/grid/profoundgrid";

/*------------------------------------*\
	$PAGE STRUCTURE
\*------------------------------------*/
@import "scss/objects/header";
@import "scss/objects/footer";
@import "scss/objects/sections";
@import "scss/objects/media_grid";

/*------------------------------------*\
	$NAVIGATION
\*------------------------------------*/
//global nav styles - includes primary, secondary, tertiary and global offscreen navigation styles 
@import "scss/objects/nav";

//navigation types
@import "scss/objects/navigation/breadcrumbs";
@import "scss/objects/navigation/pagination";

@import "scss/objects/lists";

/*------------------------------------*\
	$TEXT Styles
\*------------------------------------*/
@import "scss/objects/buttons";
@import "scss/objects/text";



// Global icons (svg)
@import "scss/objects/icons/svgicons";

@import "scss/objects/blocks";
@import "scss/objects/dates";

/*------------------------------------*\
	site modules
\*------------------------------------*/
//module layout using css wizardry grid
@import "pro/layout_csswiz";

// Home page
@import "pro/pro-homepage";




// Generic page layout
.l-page{

	$space-top: $space-triple;
	position: relative;
	background: $white; // fallback
	
	@media all and (min-width: $bp-med) {
		background: $offwhite; // fallback
		background: linear-gradient(to left, $offwhite 0%,$offwhite 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
		// TODO: add gradients for older browsers
	}

	.textcontent, .l-sidebar, .l-breadcrumbs{
		position: relative;
		z-index: 10;
	}

	.maincontent{
		background-color: $white;
		padding: $space-triple $space;
		@media all and (min-width: $bp-med) {
			padding-right: $space;
		}
	}

	.l-breadcrumbs{
		background-color: #F8F8F8;
		padding: $space;
		display: table;
		font-size: $font-size-slightly-smaller;
		width: 100%;

		@media all and (min-width: $bp-med) {
			height: $space-top;
		}

		.breadcrumbs{
			display: table-cell;
			vertical-align: middle;
			width: 75%;
		}
	}

	.textcontent{
		
		padding-bottom: $space-triple;
		background-color: $white;

		@media all and (min-width: $bp-med){
			max-width: 38.4em;
		}
	}

	.l-sidebar{ 
		background: $offwhite;

		&> .inner{
			padding: $space;
			padding-top: $space * 6;
			font-size: $font-size-slightly-smaller;
		}
	}


	@media all and (min-width: $bp-med) {
		//The coloured band that extends the breadcrumbs background colour to the right edge of the window
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: $globalnavheight + $space-top;
			position: absolute;
			top: 0; 
			left: 0;
			background-color: #F8F8F8;
			z-index: -1;
		}
	}

}

.maincontent > .title{
	margin-bottom: $space-triple;
}

.help-contact{
	margin-bottom: $space;

	img{
		margin-bottom: $space-half;
	}
}

.downloads{
	margin-bottom: $space;
}

// The 3 related item links at the bottom of the page
.related-items{
}
.noimages .related-item > a{
	display: block;
	min-height: 8em;
	padding: $space;
	background-color: #e1cfd4; //pinky
	margin-bottom: $space;
	color: $white;
	font-weight: bold;
}


// List page
.sortby{
	display: table-cell;
	width: 25%;
	text-align: right;

	label{
		font-size: $font-size-sm;
	}

	label, select{
		display: inline;
		padding:0;
	}
}


.results-list, .page-intro{
	margin-bottom: $space-double;
}

@import "scss/objects/lists/list-item";
@import "scss/objects/metadata";
@import "scss/objects/lists/file-lists";


//Overview page

// links grid
.link-block{
	
	margin-bottom: $space;
	text-align: left;
	min-height: 10em;

	a{
		color: $textcolour_body;
		background-color: $offwhite;
		display: block;
	}

	.b-text{
		padding: $space-half $space;
	}

	.item-title{
		margin-bottom: 0.6rem;
	}
}

//mini section sitemap
.section-sitemap{
	border-top: 1px solid $grey2;

	.inner{
		padding: $space;
	}
}



//Blog detail
.articleheader{
	margin-bottom: $space-double;
}



// Event detail
.map{

	height: 300px;

	@media all and (min-width: $bp-med) {
		position: absolute;
		top: 153px; 
		left: 0; 
		right: 25%;
	}

	@media all and (min-width: $bp-xl) {
		height: 500px;
	}

	img {
		max-width: none;
	}

}

.event-detail{

	.textcontent{
		padding: $space-double $space 0;
		margin-left: -$space;

		@media all and (min-width: $bp-med) and (max-width: $bp-xl) {
			margin-top: 10em;
		}
	}
	
	.maincontent{
		@media all and (max-width: $bp-med) {
			padding-top: 0;
		}
	}

	.event-date{
		float: right;
		margin-top: -$space-half;
		background-color: $white;
		color: $textcolour_head;
	}

	.speakers{
		p{
			margin-bottom: $space-half;
		}
		.b-text{
			padding-top: $space-half;
		}
	}

	.speakers, .files{
		border-top: 1px solid $grey2;
		padding-top: $space;
	}

}

.contact-methods, .jobdetails, .email{
	display: block;
	margin-bottom: $space;
}

.contact-methods {
	.job-title{
		font-weight: bold;
	}
}


//People list
.team{
	margin-bottom: $space-triple;
}

