@charset "UTF-8";
/*
 EUROPEANA PROFESSIONAL

 Requires: Sass, Compass
*/
// Sass stuff
@import "compass/css3";
@import "scss/generic/variables";
@import "scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-pro;



// Reset
@import "scss/generic/reset";

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
@import "scss/base/global-classes";
@import "scss/base/main";
@import "scss/base/links";
@import "scss/base/headings";
@import "scss/base/text";
@import "scss/base/lists";
@import "scss/base/media";
@import "scss/base/forms";


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
@import "scss/grid/csswizardry-grids";
@import "pro/layout_csswiz";

//@import "scss/grid/profoundgrid";

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
@import "scss/objects/header";
@import "scss/objects/footer";
@import "scss/objects/sections";

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
@import "scss/objects/nav";
@import "scss/objects/navigation/breadcrumbs";
@import "scss/objects/navigation/pagination";
@import "scss/objects/lists";


/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
@import "scss/objects/text";



// Global icons (svg)
@import "scss/objects/icons/svgicons";


@import "scss/objects/blocks";


/*------------------------------------*\
    site modules
\*------------------------------------*/


//@import "scss/grid/profoundgrid";
//@import "pro/layout_prof";


// Home page module layout

.pro-home{

	padding-top: 0;

	.hero{
		background-color: #00DBBC;
		min-height: 400px;
		padding-top: 10em;

		.lc{
			padding: $space;
		}
	}
}

.promo-abouteuropeana{
	background-color: #CCC;
	text-align: center;
	margin-bottom: $space;

	.lc{
		padding: $space;
	}

	p{
		margin-bottom: 0;
	}

}

.jointhenetwork{
	padding: $space;
	background-color: #eee;
	margin-bottom: $space;
}

.link-more{
	display: block;
	font-weight: bold;
	color: $textcolour_link;
}

.usefulinfo{
	margin-bottom: $space;
}

.tweets{
	padding: $space;
	background-color: #EEE;
}

// Generic page layout
.l-page{

	$space-top: $space-triple;
	position: relative;

	background: #F1F1EE; // fallback
	@media all and (min-width: $bp-med) {
		background: linear-gradient(to left, #F1F1EE 0%,#F1F1EE 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
		// TODO: add gradients for older browsers

		// 	background: -moz-linear-gradient(left,  rgba(204,204,204,0) 80%, rgba(204,204,204,1) 80%); /* FF3.6+ */
		// 	background: -webkit-gradient(linear, left top, right top, color-stop(80%,rgba(204,204,204,0)), color-stop(80%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
		// 	background: -webkit-linear-gradient(left,  rgba(204,204,204,0) 80%,rgba(204,204,204,1) 80%); /* Chrome10+,Safari5.1+ */
		// 	background: -o-linear-gradient(left,  rgba(204,204,204,0) 80%,rgba(204,204,204,1) 80%); /* Opera 11.10+ */
		// 	background: -ms-linear-gradient(left,  rgba(204,204,204,0) 80%,rgba(204,204,204,1) 80%); /* IE10+ */
		// 	background: linear-gradient(to right,  rgba(204,204,204,0) 80%,rgba(204,204,204,1) 80%); /* W3C */
		// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
	}


	.maincontent{
		background-color: $white;
	}

	.l-breadcrumbs{
		background-color: $grey2;
		padding: $space;
		padding-top: 2em;

		@media all and (min-width: $bp-med) {
			height: $space-top;
		}
	}
	
	.textcontent{
		padding: $space-triple $space;
		max-width: 40em;
	}

	.l-sidebar > .inner{
		margin-top: $space-triple + $space-triple;
		background: #f2f1ec;
	}

	&:before{
		content: '';
		display: block;
		width: 100%;
		height: $globalnavheight + $space-top;
		position: absolute;
		top: 0; 
		left: 0;
		background-color: $grey2;
		z-index: -1;
	}

	.related-items{

	}
	.related-item a{
		display: block;
		padding: $space;
		min-height: 8em;
		background-color: #e1cfd4;
		margin-bottom: $space;
		color: $white;
		font-weight: bold;
	}
	

}


