@charset "UTF-8";
/*
 EUROPEANA PROFESSIONAL

 Requires: Sass, Compass
*/
// Sass stuff
@import "compass/css3";
@import "../scss/generic/variables";
@import "../scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-pro;
$textcolour_highlight: $accent;
$icon_primary: lighten($accent, 10);


// Reset
@import "../scss/generic/reset";

/*------------------------------------*\
	$GLOBAL ELEMENTS
\*------------------------------------*/
@import "../scss/base/global-classes";
@import "../scss/base/main";
@import "../scss/base/links";
@import "../scss/base/headings_simple";
@import "../scss/base/text";
@import "../scss/base/lists";
@import "../scss/base/media";
@import "../scss/base/forms";
@import "../scss/base/tables";


/*------------------------------------*\
	$GRIDS
\*------------------------------------*/
@import "../scss/grid/csswizardry-grids";

/*------------------------------------*\
	$PAGE STRUCTURE
\*------------------------------------*/
@import "../scss/objects/header";
@import "../scss/objects/footer";
@import "../scss/objects/sections";
@import "../scss/objects/media_grid";

/*------------------------------------*\
	$NAVIGATION
\*------------------------------------*/
//global nav styles - includes primary, secondary, tertiary and global offscreen navigation styles
@import "../scss/objects/nav";

//navigation types
@import "../scss/objects/navigation/breadcrumbs";
@import "../scss/objects/navigation/pagination";
@import "../scss/objects/navigation/sitemap";
@import "../scss/objects/navigation/destination-links";

@import "../scss/objects/lists";

/*------------------------------------*\
	$TEXT Styles
\*------------------------------------*/
@import "../scss/objects/buttons";
@import "../scss/objects/text";



// Global icons (svg)
@import "../scss/objects/icons/svgicons";
@import "../scss/objects/icons/icons-licenses";


/*------------------------------------*\
	Components
\*------------------------------------*/
@import "../scss/objects/blocks";
@import "../scss/objects/dates";
@import "../scss/objects/file-browser";

@import "../scss/objects/metadata";
@import "../scss/objects/lists/list-item";
@import "../scss/objects/lists/file-lists";


/*------------------------------------*\
	site modules
\*------------------------------------*/
//module layout using css wizardry grid
@import "./layout_csswiz";

// Home page
@import "../scss/objects/blocks/site-hero";
@import "../scss/theme/hero-branding";
@import "../scss/objects/attribution";
@import "./pro-homepage";
@import "./subsites";


//Logo for Pro
.logo {
	background-image: url("../../images/pro/europeana-pro-logo.png");
	.svg &{
		background-image: url("../../images/pro/europeana-pro-logo.svg");
	}
}

// Generic page layout
.l-page{

	position: relative;
	background: $white; // fallback

	@media all and (min-width: $bp-med) {
		background: $offwhite; // fallback
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,$offwhite), color-stop(50%,$offwhite), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
		background: -webkit-linear-gradient(left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to left,  $offwhite 0%, $offwhite 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1ee', endColorstr='#00ffffff',GradientType=1 );

	}

	.textcontent, .l-sidebar, .l-breadcrumbs{
		position: relative;
		z-index: 10;
	}

	.maincontent{
		background-color: $white;
		padding: $space-triple $space;
		@media all and (min-width: $bp-med) {
			padding-right: $space;
		}
	}

	.item-rss{
		text-align: right;
		margin-top: -3rem;
		margin-bottom: 3.1rem;
	}



	.textcontent{

		padding-bottom: $space-triple;
		background-color: $white;

		@media all and (min-width: $bp-med){
			max-width: 38.4em;
		}
	}

	.l-sidebar{
		background: $offwhite;

		&> .inner{
			padding: $space;
			padding-top: $space * 6;
			font-size: $font-size-slightly-smaller;
		}
	}


	@media all and (min-width: $bp-med) {
		//The coloured band that extends the breadcrumbs background colour to the right edge of the window
		&:before{
			content: '';
			display: block;
			width: 100%;
			height: $globalnavheight + $space-triple;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #F8F8F8;
			z-index: -1;
		}
	}

}

.bkg-white{
  background: $white;
}

.page_header{
    background-color: $gray97;
    padding: $space;
    display: table;
    font-size: $font-size-slightly-smaller;
    width: 100%;

    @media all and (min-width: $bp-med) {
        height: $space-triple;
    }
}

// Various spacings and margins
.help-contact img{
    margin-bottom: $space-half;
}

.help-contact,
.help-contact .email,
.contact-methods,
.jobdetails,
.l-person,
.l-candidate
{
    display: block;
    margin-bottom: $space;
}

.l-candidate
{
    @media all and (min-width: $bp-med){
            max-width: 38.4em;
        }
}

.results-list,
.page-intro,
.articleheader
{
    margin-bottom: $space-double;
}

.maincontent > .title,
.team
{
    margin-bottom: $space-triple;
}


// breadcrumbs and sorting

.l-breadcrumbs{
	background-color: $gray97;
	padding: $space;
	display: table;
	font-size: $font-size-slightly-smaller;
	width: 100%;

	@media all and (min-width: $bp-med) {
		height: $space-triple;
	}

	.breadcrumbs{
		display: table-cell;
		vertical-align: middle;
		width: 75%;
	}
}


// Search results

.l-filter{
	padding: $space-half $space;
	background-color: $white;
}

.filters{

	font-size: $font-size-slightly-smaller;

	.nav, .title{
		display: inline;
	}

	.title, label{
		margin-right: $space-half;
	}
}
.searchterms{
	margin-top: $space-half;
}
.resultsnum{
	color: $gray-light;
}

.sortby{
	display: table-cell;
	width: 25%;
	text-align: right;

	label{
		font-size: $font-size-sm;
	}

	label, select{
		display: inline;
		padding:0;
	}
}







//Overview page



//mini section sitemap
.section-sitemap{
	border-top: 1px solid $grey2;

	.inner{
		padding: $space;
	}
}




// Event detail
@import "../scss/objects/event_map";

.event-detail{

	.textcontent{
		padding: $space-double $space 0;
		margin-left: -$space;

		@media all and (min-width: $bp-med) and (max-width: $bp-xl) {
			margin-top: 10em;
			min-height: 30em;
		}
	}

	.maincontent{
		@media all and (max-width: $bp-med) {
			padding-top: 0;
		}
	}

	.event-date{
		float: right;
		margin-top: -$space-half;
		background-color: $white;
		color: $textcolour_head;
	}

	.speakers{
		p{
			margin-bottom: $space-half;
		}
		.b-text{
			padding-top: $space-half;
		}
	}

	.speakers, .files{
		border-top: 1px solid $grey2;
		padding-top: $space;
	}

}

// List Page for People, Partners and Elections

.jobdetails {
	.job-title {
		font-weight: bold;
	}
}

.b-text.partners {
  .jobdetails {
      margin-bottom: $pad;
  }
}

.eu-position{
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-size-sm;
  margin-bottom: $pad;
}

.contact-detail {
  .candidacy-intro {
    padding-top: $pad;
  }
}

.list-teaser {
  .teaser{
    font-style: italic;
    padding-top: $pad-quarter;
  }
}

//Sub site common
.subsite-banner{
	background-color: $accent;
	min-height: 8*$space;
	background-position: 50% 50%;
	background-image: url("../../images/sample/pro-background.jpg");

	-webkit-background-size: cover;
	background-size: cover;
}

	.subsite-banner + .maincontent{
		padding-top: $space;
	}

//Detail pages

.contact-detail .contact-internal {
  float: right;
}

.contact-detail .contact-external {
  float: left;
}

.eu-roles,.work-details {
  list-style: none;

  p, .lastitem {
		display: inline;
		position: relative;
		padding-right: $space-half;
		text-decoration: none;
	}

  p:after {
		content: "|";
		position: relative;
    right: -2.5%;
    font-weight: normal;
	}

  >li{
		display: inline;
		margin-right: $space-half;

		&:first-of-type p{
			padding-left: 0;
		}

		&:first-child p:before {
			display: none;
		}

		&:last-child p:after {
			display: none;
		}
  }
}

.eu-roles, .position {
  font-weight: bold;
  margin-bottom: $pad;
}

.eu-roles, .work-details {
  margin-bottom: $space-half;
}

.work-details {
  font-size: $font-size-slightly-smaller;
  line-height: 1.4;
}
