@charset "UTF-8";
/*
 EUROPEANA STYLE GUIDE
 COMMON styles

 Requires: Sass, Compass
*/
// Sass stuff
@import "compass/css3";
@import "scss/generic/variables";
@import "scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-pro;



// Reset
@import "scss/generic/reset";

/*------------------------------------*\
    $GLOBAL ELEMENTS
\*------------------------------------*/
@import "scss/base/global-classes";
@import "scss/base/main";
@import "scss/base/links";
@import "scss/base/headings";
@import "scss/base/text";
@import "scss/base/lists";
@import "scss/base/media";
@import "scss/base/forms";


/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
@import "scss/grid/csswizardry-grids";
//@import "scss/grid/profoundgrid";

/*------------------------------------*\
    $PAGE STRUCTURE
\*------------------------------------*/
@import "scss/objects/header";
@import "scss/objects/footer";
@import "scss/objects/sections";

/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
@import "scss/objects/nav";
@import "scss/objects/navigation/breadcrumbs";
@import "scss/objects/navigation/pagination";

/*------------------------------------*\
    $TEXT Styles
\*------------------------------------*/
@import "scss/objects/text";



// Global icons (svg)
@import "scss/objects/icons/svgicons";


@import "scss/objects/blocks";


/*------------------------------------*\
    site modules
\*------------------------------------*/

// Home page module layout

.pro-home{

	padding-top: 0;

	.hero{
		background-color: #00DBBC;
		min-height: 400px;
		padding-top: 10em;
	}
}

.promo-abouteuropeana{
	background-color: #CCC;
	padding: $pad-double;
	text-align: center;
	margin-bottom: $space;

	p{
		margin-bottom: 0;
	}

}

.jointhenetwork{
	@extend %grid__item;
	@extend %lap--one-third;
}

.link-more{
	display: block;
	font-weight: bold;
	color: $textcolour_link;
}

.usefulinfo{
	@extend %grid__item;
	@extend %lap--two-thirds;
	
	.usefulinfo-list{
		@extend %grid__item;
		@extend %lap--one-half;

		margin-bottom: $space;
	}

	.usefulinfo-secondary{
		@extend %grid;
	}
}

.home-news{

	.posts{
		@extend %grid__item;
		@extend %lap--two-thirds;
	}
	.post-tease{
		@extend %grid__item;
		@extend %lap--one-half;
	}
	.tweets{
		@extend %grid__item;
		@extend %lap--one-third;
	}
}

.events-upcoming{
	.event{
		@extend %grid__item;
		@extend %lap--one-half;
	}
}

// Generic page layout
.l-genericpage{

	$space-top: $space-triple;
	position: relative;

	background: #f2f1ec; // fallback
	@media all and (min-width: $bp-med) {
		background: linear-gradient(to left, #f2f1ec 0%,#f2f1ec 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
	}


	.l-content{
		@extend %grid__item;
		@extend %lap--three-quarters;

		background-color: #FFF;
	}

	.l-breadcrumbs{
		background-color: $paper;
		height: $space-top;
		padding-top: 1em;
	}
	
	.textcontent{
		padding: $space-triple $space;
		max-width: 40em;
	}

	.l-sidebar{
		@extend %grid__item;
		@extend %lap--one-quarter;
		margin-top: $space-triple + $space-triple;
		background: #f2f1ec;
	}

	.help-contact{
		@extend %one-half;
		@extend %lap--one-whole;
	}

	&:before{
		content: '';
		display: block;
		width: 100%;
		height: $globalnavheight + $space-top;
		position: absolute;
		top: 0; 
		left: 0;
		background-color: $paper;
		z-index: -1;
	}
	


	// @media all and (min-width: $bp-med) {
	// 	background: -moz-linear-gradient(left,  rgba(204,204,204,0) 80%, rgba(204,204,204,1) 80%); /* FF3.6+ */
	// 	background: -webkit-gradient(linear, left top, right top, color-stop(80%,rgba(204,204,204,0)), color-stop(80%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	// 	background: -webkit-linear-gradient(left,  rgba(204,204,204,0) 80%,rgba(204,204,204,1) 80%); /* Chrome10+,Safari5.1+ */
	// 	background: -o-linear-gradient(left,  rgba(204,204,204,0) 80%,rgba(204,204,204,1) 80%); /* Opera 11.10+ */
	// 	background: -ms-linear-gradient(left,  rgba(204,204,204,0) 80%,rgba(204,204,204,1) 80%); /* IE10+ */
	// 	background: linear-gradient(to right,  rgba(204,204,204,0) 80%,rgba(204,204,204,1) 80%); /* W3C */
	// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cccccc', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
	// }
}


