<script id="template-promo-gallery" type="text/x-mustache">
  <div class="collections-promo-item gallery">
    <div class="content-outer">
      <div class="content-inner">
        <div class="content-outer">
          <div class="content-inner">
            {{> molecules/components/image-set-js}}
          </div>
        </div>
      </div>
    </div>
    <span class="gallery-image-count">[[count]] {{i18n.global.labels.images}}</span>
  </div>
</script>
