<div class="channel-object-next-prev collections-promo-item collections-promo-item-preload">
  <div class="content-outer">
    <div class="content-inner">
      <div class="content-outer">
        <div class="content-inner">
        </div>
      </div>
      <div class="content-text">
        <div class="content-text-inner has-text">
          <span class="dummy-text"></span>
          <span class="dummy-text"></span>
        </div>
      </div>
    </div>
  </div>
</div>
