@import '../../scss/generic/variables';

// to hide the checkbox itself
input[type=checkbox],
input[type=radio] {
  display: none;
}

// custom layout, unchecked
input[type=checkbox] + label::before,
input[type=radio] + label::before {
  color: $gray-light;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.7rem;
}

input[type=checkbox] + label::before {
  content: '\f096';
}

input[type=radio] + label::before {
  content: '\f1db';
  width: 2rem;
}

// checked
input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before {
  color:     $eu-jade;
  display:   inline-block;
  font-size: 1.4rem;
}

input[type=checkbox]:checked + label::before {
  content:   '\f046';
}

input[type=radio]:checked + label::before {
  content:   '\f192';
}
