body {
  background-image: none;
}

.hidden {
  display: none !important;
}

.block-with-text {
  @include multiLineEllipsis($maxWidth: 10.3em, $lineHeight: 1.2em, $lineCount: 3);
}

.dropdown {
  margin-left: -1em;
  margin-top: 10px;
}

.btns-set {
  background-color: $white;
}
