body {
  background-image: none;
}

.hidden {
  display: none;
}

.block-with-text {
  @include multiLineEllipsis($maxWidth: 10.3em, $lineHeight: 1.2em, $lineCount: 3);
}

.dropdown {
  margin-left: -1em;
  margin-top: 10px;
}

.btns-set {
  background-color: $white;
}

.load-more-btn {
  background: none;
  border-radius: 0;
  color: $eu-jade;

  &::after {
    color: $gray80;
    content: '\f142';
    display: inline-block;
    font-family: fontawesome;
    font-size: 0.8rem;
    line-height: inherit;
    padding-left: 1rem;
  }

}
