<div class="link-item block">
    <a href="#" class="b-inner">
		<div class="b-thumb">
			<img src="{{ img.rectangle.src }}" alt="{{ img.rectangle.alt }}" />
		</div>
		<div class="b-text">
			<h2 class="item-title">{{ headline.short }}</h2>
			<p>{{ excerpt.vshort }}</p>
		</div>
	</a>
</div>