<div class="block block-thumb">

		<div class="b-thumb">
			{{> atoms-square }}
		</div>

		<div class="b-text">
			<h3>{{ headline.short }}</h3>
			<div class="description">
				<p>{{ excerpt.short }}</p>
			</div>

			<div class="tags">
				<a href="#" class="tag">
					This
				</a>
				<a href="#" class="tag">
					is a
				</a>
				<a href="#" class="tag">
					tag
				</a>
				<a href="#" class="tag">
					(alpha)
				</a>
			</div>
		</div>

</div>