<div class="block block-thumb">
    <div class="b-inner">
		<div class="b-thumb">
			<a href="">
				{{> atoms-square }}
			</a>
		</div>
		<div class="b-text">
			<h3 class="item-headline"><a href="">{{name.first}} {{name.last}}</a></h3>
			<p>{{ excerpt.vshort }}</p>
			<a href="" class="item-link">@{{name.first}}{{name.last}}</a>
		</div>
	</div>
</div>
		