<div class="block block-hero">
	<a href="#" class="inner">
		<div class="b-thumb">
			{{> atoms-landscape-16x9 }} 
		</div>
		<div class="b-text">
			<h1>{{ headline.medium }}</h1>
		</div>
	</a>
</div>