<div class="thumb-square {{other_thumb_classes}}">
  <div class="inner">
    {{#link}}
      <a class="link {{other_link_classes}}"

        {{# data_attributes }}
          {{name}}="{{value}}"
        {{/ data_attributes }}

        target="{{target}}"
        href="{{href}}">

        <img src="{{img.src}}"/>
      </a>
    {{/link}}
 </div>
</div>
