
&lt;h5&gt;General web&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-search&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-link&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-lock&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-unlock&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-key&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-ban&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-target&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-rss&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-wifi&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-backspace&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-check&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-delete&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-plus&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-hyphen&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-action&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-redirect&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-retweet&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-logout&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-settings&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-dashboard&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-flask&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-lightbulb&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-loading&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-plane&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-briefcase&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-cursor&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-crosshair&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-zoomin&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-zoomout&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-view&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-box&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-home&quot;&gt;&lt;/li&gt;

&lt;/ul&gt;

&lt;h5&gt;Feedback&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-help&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-info&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-alert&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-caution&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Cloud/Upload/Download&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-downloadcloud&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-download&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-uploadcloud&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-upload&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-connection&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-fork&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-merge&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-transfer&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-refresh&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-sync&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-cloud&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-droplet&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Flagging&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-tag&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-flag&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-bookmark&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-like&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-dislike&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-heart&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-halfheart&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-star&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-halfstar&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Shopping&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-cart&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-creditcard&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-dollarsign&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Maps &amp;amp; wayfinding&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-buildings&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-warehouse&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-globe&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-navigate&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-compass&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-signpost&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-map&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-location&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-pin&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-pin&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Graphs&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-barchart&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-piechart&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Communication&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-phone&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-phonedisabled&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-mail&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-send&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-reply&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-inbox&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-attach&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-chat&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-facetime&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-ellipsischat&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-ellipsis&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-print&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-fax&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-notifications&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-notificationsdisabled&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Editing&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-compose&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-quote&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-text&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-font&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-move&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-write&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-writingdisabled&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-erase&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-sample&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-crop&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-layers&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-fill&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-stroke&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-trash&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Arrows&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-up&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-upright&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-right&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-downright&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-down&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-downleft&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-left&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-upleft&quot;&gt;&lt;/li&gt;

	&lt;li class=&quot;icon-navigateup&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-navigateright&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-navigatedown&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-navigateleft&quot;&gt;&lt;/li&gt;

	&lt;li class=&quot;icon-directup&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-directright&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-dropdown&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-directleft&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Time&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-clock&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-stopwatch&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-calendar&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-addcalendar&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-removecalendar&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-checkcalendar&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-deletecalendar&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Devices&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-desktop&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-laptop&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-tablet&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-cell&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-battery&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-highbattery&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-mediumbattery&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-lowbattery&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-emptybattery&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Media&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-picture&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-camera&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-mic&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-video&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-music&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-airplay&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-database&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-hdd&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Playback&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-play&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-stop&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-record&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-rewind&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-fastforward&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-skipback&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-skipforward&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-eject&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-repeat&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-replay&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-shuffle&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-volume&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-lowvolume&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-highvolume&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Documents, Books and files&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-book&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-openbook&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-notebook&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-newspaper&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-file&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-folder&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;Layout&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-grid&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-rows&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-columns&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-thumbnails&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-list&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-layout&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-expand&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-contract&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

&lt;h5&gt;People and users&lt;/h5&gt;
&lt;ul class=&quot;sg-icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-user&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-femaleuser&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-users&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;

