@import '../../../../sass/scss/generic/variables';


.eu-autocomplete{

  border:     1px solid $gray-lighter;
  border-top: 0;

  overflow:   hidden;

  li{
    border-bottom: 0;

    &.group-begin{
      margin-top: 1.5em;
    }
    &:first-of-type{
      margin-top: 2em;
    }
  }

  .suggest-life{
    float:         right;
    padding-right: 0.8em;
    white-space:   nowrap;

    .label{
      font-weight:    bold;
      text-transform: uppercase;
    }
  }

  .suggest-life,
  .suggest-prof,
  .suggest-type{
    color: $gray-light;
  }

  .suggest-dob,
  .suggest-dox,
  .suggest-dod{
    display: table-cell;
    white-space: nowrap;
  }

  .suggest-agent::after,
  .suggest-concept::after,
  .suggest-place::after{
    background-repeat: no-repeat;
    content: ' ';
    display: inline-block;
    height: 1em;
    position: relative;
    top: 2px;
    width: 1em;
  }

  .suggest-dod{
    padding-left: 1em;
  }

  .suggest-dob,
  .suggest-dod,
  .suggest-locale,
  .suggest-prof,
  .suggest-type{
    font-size: 0.8em;
  }

  //.suggest-dob{
  //  width: 8em;
  //}
  //.suggest-dox{
  //  width: 6.4em;
  //}

  .suggest-prof{
    display:    block;
    font-style: italic;
  }

  .suggest-type{
    display: none;
  }

  .group-begin .suggest-type{

    display:        block;
    font-size:      0.65em;
    font-weight:    bold;
    pointer-events: none;
    position:       absolute;
    right:          1em;
    text-align:     right;
    text-transform: uppercase;
    top:            -35%;

    &::before{
      background-color: $gray-lighter;
      content:          ' ';
      display:          block;
      height:           1px;
      position:         absolute;
      right:            108%;
      transform:        translate(0, 0.75em);
      width:            1000px;
    }
  }

  .suggest-place::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 30'%3E%3Cpath fill='%23777' d='M13.091 1.636q3.606 0 6.167 2.561t2.561 6.167q0 2.273-1.121 4.273l-7.121 12.909q-0.152 0.273-0.485 0.273t-0.485-0.273l-7.121-12.909q-1.121-1.909-1.121-4.273 0-3.606 2.561-6.167t6.167-2.561zM13.091 13.636q1.364 0 2.318-0.955t0.955-2.318-0.955-2.318-2.318-0.955-2.318 0.955-0.955 2.318 0.955 2.318 2.318 0.955z'%3E%3C/path%3E%3C/svg%3E");
    height: 1.38em;
    margin-right: 0.3em;
    width: 1.2em;
  }

  .suggest-agent::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cpath fill='%23777' d='M707.3,573.1C649,614.3,577.4,638.6,500,638.6c-77.4,0-149-24.3-207.3-65.4C163.1,654.9,75.5,810.9,75.5,990h848.9C924.5,810.9,836.9,654.9,707.3,573.1z'%3E%3C/path%3E%3Cpath fill='%23777' d='M219.9,290.1c0,154.7,125.4,280.1,280.1,280.1c154.7,0,280.1-125.4,280.1-280.1S654.7,10,500,10C345.3,10,219.9,135.4,219.9,290.1z'%3E%3C/path%3E%3C/svg%3E");
    height: 1.2em;
    margin-right: 0.3em;
    width: 1.2em;
  }

  .suggest-concept::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 29'%3E%3Cpath fill='%23777' d='M26.182 13.909q0 4.424-3.833 7.53t-9.258 3.106q-1.061 0-2.212-0.152-3.424 3.424-7.061 3.424-0.364 0-0.515-0.333-0.121-0.364 0.121-0.606 0.182-0.182 0.47-0.545t0.818-1.485 0.682-2.333q-2.515-1.485-3.955-3.742t-1.439-4.864q0-4.424 3.833-7.53t9.258-3.106 9.258 3.106 3.833 7.53z'%3E%3C/path%3E%3C/svg%3E");
    height: 1.2em;
    width: 1.5em;
  }
}
