@import "../../../../sass/scss/generic/variables";

.eu-autocomplete{
  display: none;
  @media all and (min-width: $bp-med){
    display: block;
  }
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  color: $gray30;
  left: 1px;
  list-style: none;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;

  ul{
    list-style: none;
    margin:     0;
  }

  li{
    border-bottom:  1px solid #eee;
    cursor:         pointer;
    padding:        0.6rem 0.4rem;
    position:       relative;

    &.selected,
    &:hover{
      background-color: #e3e3e3;
    }

    b{
      color: $eu-blue;
    }
  }

  .match{
    white-space: nowrap;
  }

}