/* line 3, style.scss */
.eu-autocomplete {
  display: none;
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  color: #4d4d4d;
  left: 1px;
  list-style: none;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media all and (min-width: 50em) {
  /* line 3, style.scss */
  .eu-autocomplete {
    display: block;
  }
}
/* line 19, style.scss */
.eu-autocomplete ul {
  list-style: none;
  margin: 0;
}
/* line 24, style.scss */
.eu-autocomplete li {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 0.6rem 0.4rem;
  position: relative;
}
/* line 30, style.scss */
.eu-autocomplete li.selected, .eu-autocomplete li:hover {
  background-color: #e3e3e3;
}
/* line 35, style.scss */
.eu-autocomplete li b {
  color: #1676aa;
}
/* line 40, style.scss */
.eu-autocomplete .match {
  white-space: nowrap;
}
