/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/* line 4, style.scss */
.eu-autocomplete {
  display: none;
  background-color: #fff;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  color: #4D4D4D;
  left: 1px;
  list-style: none;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media all and (min-width: 50em) {
  /* line 4, style.scss */
  .eu-autocomplete {
    display: block;
  }
}
/* line 20, style.scss */
.eu-autocomplete li {
  border-bottom: 1px solid #eee;
  padding: 0.6rem 0.4rem;
  position: relative;
}
/* line 25, style.scss */
.eu-autocomplete li.selected, .eu-autocomplete li:hover {
  background-color: #e3e3e3;
}
/* line 30, style.scss */
.eu-autocomplete li b {
  color: #1676aa;
}
/* line 35, style.scss */
.eu-autocomplete .suggest-life {
  display: table-row;
}
/* line 39, style.scss */
.eu-autocomplete .suggest-life,
.eu-autocomplete .suggest-prof,
.eu-autocomplete .suggest-type {
  color: #777777;
}
/* line 45, style.scss */
.eu-autocomplete .suggest-dob,
.eu-autocomplete .suggest-dox,
.eu-autocomplete .suggest-dod {
  display: table-cell;
  white-space: nowrap;
}
/* line 52, style.scss */
.eu-autocomplete .suggest-agent:before,
.eu-autocomplete .suggest-concept:before,
.eu-autocomplete .suggest-place:before,
.eu-autocomplete .suggest-dob:before,
.eu-autocomplete .suggest-dod:before {
  background-repeat: no-repeat;
  content: ' ';
  display: inline-block;
  height: 1em;
  position: relative;
  top: 2px;
  width: 1em;
}
/* line 66, style.scss */
.eu-autocomplete .suggest-dob:before {
  background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 21.7' style='enable-background:new 0 0 24 21.7;' xml:space='preserve'%3E%3Cpath fill='%23777' d='M12,6.3c1.6,0,3-1.3,3-3s-1.3-3-3-3c-1.6,0-3,1.3-3,3S10.4,6.3,12,6.3z M8.9,12.5v-2.3l-2.4,2.4c-1.1,1.1-2.6-0.3-1.5-1.4 l4-4c0.3-0.3,0.7-0.5,1.2-0.5H12h0h1.8c0.6,0,0.9,0.2,1.3,0.5l4,4c1,1-0.5,2.4-1.5,1.4l-2.5-2.5v2.3H8.9z M15.1,13.7L12.7,16 l1.7,1.7l-1.8,1.8c-1,1,0.4,2.5,1.5,1.5l2.8-2.9c0.6-0.6,0.8-1.7,0.1-2.4C17.1,15.7,15.1,13.7,15.1,13.7z M8.9,13.7l2.4,2.4 l-1.7,1.7l1.8,1.8c1,1-0.4,2.5-1.5,1.5L7,18.1c-0.6-0.6-0.8-1.7-0.1-2.4C6.9,15.7,8.9,13.7,8.9,13.7z'/%3E%3C/svg%3E");
  height: 1.4em;
  top: 5px;
  width: 1.4em;
}
/* line 73, style.scss */
.eu-autocomplete .suggest-dod {
  padding-left: 1em;
}
/* line 77, style.scss */
.eu-autocomplete .suggest-dod:before {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 35 32' style='enable-background:new 0 0 35 32;' xml:space='preserve'%3E%3Cpath fill='%23777' d='M23.7,21.5H0.3v-3.1h23.3V21.5z M19.2,7.8v9.1H4.8V7.8h0C4.8,3.6,8,0.2,12,0.2S19.2,3.6,19.2,7.8L19.2,7.8z M10.1,5 c0,1.3,0.8,2.4,1.9,2.4s1.9-1.1,1.9-2.4c0-1.3-0.8-2.4-1.9-2.4S10.1,3.7,10.1,5z M17.6,13.1H6.4v1.3h11.1V13.1z M17.6,10.4H6.4v1.3 h11.1V10.4z'%3E%3C/path%3E%3C/svg%3E");
  height: 1.8em;
  top: 10px;
  width: 1.8em;
}
/* line 84, style.scss */
.eu-autocomplete .suggest-dob,
.eu-autocomplete .suggest-dod,
.eu-autocomplete .suggest-prof,
.eu-autocomplete .suggest-type {
  font-size: 0.8em;
}
/* line 91, style.scss */
.eu-autocomplete .suggest-dob {
  width: 8em;
}
/* line 94, style.scss */
.eu-autocomplete .suggest-dox {
  width: 6.4em;
}
/* line 98, style.scss */
.eu-autocomplete .suggest-type {
  position: absolute;
  text-transform: uppercase;
  right: 1em;
  top: 35%;
  font-weight: bold;
  font-size: 0.65em;
}
/* line 109, style.scss */
.eu-autocomplete .suggest-val {
  white-space: nowrap;
}
/* line 113, style.scss */
.eu-autocomplete .suggest-place:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 30'%3E%3Cpath fill='%23777' d='M13.091 1.636q3.606 0 6.167 2.561t2.561 6.167q0 2.273-1.121 4.273l-7.121 12.909q-0.152 0.273-0.485 0.273t-0.485-0.273l-7.121-12.909q-1.121-1.909-1.121-4.273 0-3.606 2.561-6.167t6.167-2.561zM13.091 13.636q1.364 0 2.318-0.955t0.955-2.318-0.955-2.318-2.318-0.955-2.318 0.955-0.955 2.318 0.955 2.318 2.318 0.955z'%3E%3C/path%3E%3C/svg%3E");
  height: 1.38em;
  margin-right: 0.3em;
  width: 1.2em;
}
/* line 120, style.scss */
.eu-autocomplete .suggest-agent:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 1000'%3E%3Cpath fill='%23777' d='M707.3,573.1C649,614.3,577.4,638.6,500,638.6c-77.4,0-149-24.3-207.3-65.4C163.1,654.9,75.5,810.9,75.5,990h848.9C924.5,810.9,836.9,654.9,707.3,573.1z'%3E%3C/path%3E%3Cpath fill='%23777' d='M219.9,290.1c0,154.7,125.4,280.1,280.1,280.1c154.7,0,280.1-125.4,280.1-280.1S654.7,10,500,10C345.3,10,219.9,135.4,219.9,290.1z'%3E%3C/path%3E%3C/svg%3E");
  height: 1.2em;
  margin-right: 0.3em;
  width: 1.2em;
}
/* line 127, style.scss */
.eu-autocomplete .suggest-concept:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 29'%3E%3Cpath fill='%23777' d='M26.182 13.909q0 4.424-3.833 7.53t-9.258 3.106q-1.061 0-2.212-0.152-3.424 3.424-7.061 3.424-0.364 0-0.515-0.333-0.121-0.364 0.121-0.606 0.182-0.182 0.47-0.545t0.818-1.485 0.682-2.333q-2.515-1.485-3.955-3.742t-1.439-4.864q0-4.424 3.833-7.53t9.258-3.106 9.258 3.106 3.833 7.53z'%3E%3C/path%3E%3C/svg%3E");
  height: 1.2em;
  width: 1.5em;
}
