/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/* line 3, style.scss */
.eu-autocomplete {
  background-color: #fff;
  color: #4D4D4D;
  display: block;
  left: 1px;
  list-style: none;
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
/* line 14, style.scss */
.eu-autocomplete li {
  border-bottom: 1px solid #eee;
  padding: 0.6rem 0.4rem;
  position: relative;
}
/* line 19, style.scss */
.eu-autocomplete li.selected {
  background-color: #e3e3e3;
}
/* line 24, style.scss */
.eu-autocomplete .suggest-life {
  display: table-row;
}
/* line 27, style.scss */
.eu-autocomplete .suggest-dob,
.eu-autocomplete .suggest-dox,
.eu-autocomplete .suggest-dod {
  display: table-cell;
  width: 7em;
}
/* line 34, style.scss */
.eu-autocomplete .suggest-dox {
  width: 5.6em;
}
/* line 38, style.scss */
.eu-autocomplete .suggest-dob:before {
  background-image: url("data:image/svg+xml, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 21.7' style='enable-background:new 0 0 24 21.7;' xml:space='preserve'%3E%3Cpath d='M12,6.3c1.6,0,3-1.3,3-3s-1.3-3-3-3c-1.6,0-3,1.3-3,3S10.4,6.3,12,6.3z M8.9,12.5v-2.3l-2.4,2.4c-1.1,1.1-2.6-0.3-1.5-1.4 l4-4c0.3-0.3,0.7-0.5,1.2-0.5H12h0h1.8c0.6,0,0.9,0.2,1.3,0.5l4,4c1,1-0.5,2.4-1.5,1.4l-2.5-2.5v2.3H8.9z M15.1,13.7L12.7,16 l1.7,1.7l-1.8,1.8c-1,1,0.4,2.5,1.5,1.5l2.8-2.9c0.6-0.6,0.8-1.7,0.1-2.4C17.1,15.7,15.1,13.7,15.1,13.7z M8.9,13.7l2.4,2.4 l-1.7,1.7l1.8,1.8c1,1-0.4,2.5-1.5,1.5L7,18.1c-0.6-0.6-0.8-1.7-0.1-2.4C6.9,15.7,8.9,13.7,8.9,13.7z'/%3E%3C/svg%3E");
  content: ' ';
}
/* line 43, style.scss */
.eu-autocomplete .suggest-dod {
  padding-left: 1em;
}
/* line 47, style.scss */
.eu-autocomplete .suggest-dod:before {
  content: ' ';
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 35 32' style='enable-background:new 0 0 35 32;' xml:space='preserve'%3E%3Cpath d='M23.7,21.5H0.3v-3.1h23.3V21.5z M19.2,7.8v9.1H4.8V7.8h0C4.8,3.6,8,0.2,12,0.2S19.2,3.6,19.2,7.8L19.2,7.8z M10.1,5 c0,1.3,0.8,2.4,1.9,2.4s1.9-1.1,1.9-2.4c0-1.3-0.8-2.4-1.9-2.4S10.1,3.7,10.1,5z M17.6,13.1H6.4v1.3h11.1V13.1z M17.6,10.4H6.4v1.3 h11.1V10.4z'%3E%3C/path%3E%3C/svg%3E");
}
/* line 52, style.scss */
.eu-autocomplete .suggest-dob:before,
.eu-autocomplete .suggest-dod:before {
  background-repeat: no-repeat;
  display: inline-block;
  height: 1em;
  position: relative;
  top: 2px;
  width: 1em;
}
/* line 62, style.scss */
.eu-autocomplete .suggest-dob,
.eu-autocomplete .suggest-dod,
.eu-autocomplete .suggest-prof,
.eu-autocomplete .suggest-type {
  font-size: 0.8em;
}
/* line 69, style.scss */
.eu-autocomplete .suggest-type {
  position: absolute;
  text-transform: uppercase;
  top: 0.6em;
  right: 1em;
}
/* line 76, style.scss */
.eu-autocomplete .suggest-val {
  white-space: nowrap;
}
