<div class="social-share">
	<ul class="social-share-list">
		<li><a href="#">Like</a></li>
		<li><a href="#">Tweet</a></li>
		<li><a href="#">Pinterest</a></li>
		<li><a href="#">Google plus</a></li>
	</ul>
</div>