&lt;div class=&quot;tags&quot;&gt;
	&lt;i class=&quot;icon icon-tag&quot;&gt;&lt;/i&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag_alt&quot;&gt;API&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag_alt&quot;&gt;Case Study&lt;/a&gt;
	&lt;a href=&quot;#&quot; class=&quot;tag_alt&quot;&gt;Prototype&lt;/a&gt;
&lt;/div&gt;