@import "../scss/generic/variables";
@import "variables";

.logo {
  background-image: url("../../images/europeana-logo-collections.png");
  .svg &{
    background-image: url("../../images/europeana-logo-collections.svg");
      @media all and (min-width: $bp-med) and (max-width: $bp-large) {
        background-image: url("../../images/europeana-logo-symbol.svg");
        min-width:50px;
        max-width:50px;
      }
  }
}

.no-js{
}

body.loading,
body.loading input{
  cursor: wait;
}

.mosaics input{
  width: auto;
}

.svg .logo{
  background-image: url(../../images/europeana-logo-inspire.png);
  max-width: 250px;
}

.page_header{
  position: relative;
  z-index: 1;
}

h2,
.section-divider,
.mosaic-main-header,
.mosaic-section,
.mosaic-form,
.mosaic-gallery{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80rem;
}

.section-divider{
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  margin-top:    3.2rem;
}

.mosaic-main-header{
  top: $space;
  margin-bottom: $space;
}

.mosaic-form{
  label{
    margin-top: $space;    
  }
  
  #submit{
    display:    block;
    margin: 2 * $space 0 $space 0;
  }
}


.mosaic-gallery{
  margin-bottom: 2* $space;
  margin-top: $space;
  max-width: 52em;
  text-align: center;
  .mosaic-gallery-item{
    cursor: pointer;
    width: 200px;
    margin: 1em;
    
    &.push-up{
      vertical-align: top;
    }
  }
}

.mosaic-section{
  margin-bottom: $space;
  ul{
    list-style: inside;
  }
}
