
	</div>
	<!-- End of pusher div - wraps the site to allow offcanvas menus-->


{{# js_variables }}
    <script>{{{ . }}}</script>
{{/ js_variables }}


{{# jQuery }}
	<script src="{{src_CDN}}"></script>
	<script>window.jQuery || document.write('<script src="{{src_fallback}}"><\/script>')</script>
{{/ jQuery }}

{{# js_files }}
	<script {{# data_main }}data-main="{{.}}"{{/ data_main }} src="{{ path }}{{# cacheBuster }}?{{ cacheBuster }}{{/ cacheBuster }}"></script>
{{/ js_files}}

{{# patternlab }}
	<!--DO NOT REMOVE-->
	{% pattern-lab-foot %}
{{/ patternlab }}

	</body>
</html>