<!DOCTYPE html>
<html lang="en"
      xml:lang="en"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:xhv="http://www.w3.org/1999/xhtml/vocab#">

  <head about="http://develop.styleguide.eanadev.org/patterns/atoms-meta-CC-Guidelines-Test/atoms-meta-CC-Guidelines-Test.html">

  </head>
  <body>

    <h1>Test Guidelines</h1>

    <div>
      <h3>The thing being tested</h3>
      <a href="http://creativecommons.org/publicdomain/mark/1.0/">CC guidelines page</a>
    </div>
    <div>
      <span property="http://purl.org/dc/elements/1.1/title dc:title">Test Title</span>
    </div>

    <div>
      <a href="http://www.google.co.uk" rel="xhv:license http://www.europeana.eu/schemas/edm/rights">Some link</a>

      <span rel="cc:useGuidelines" resource="http://www.europeana.eu/rights/pd-usage-guide/"></span>
    </div>

  </body>
</html>