<!DOCTYPE html>
<html lang="en" xml:lang="en">

  <head>
  </head>

  <body>

    <h1>Test Guidelines</h1>

    <div>
      <br/>
      <h3>The thing being tested...</h3>
      <br/>

      <div xmlns:cc="http://creativecommons.org/ns#"
           xmlns:dc="http://purl.org/dc/elements/1.1/"
           xmlns:xhv="http://www.w3.org/1999/xhtml/vocab#">

        The head of the document has an "about" attribute referencing the document url
        <br/>
        <a href="http://creativecommons.org/publicdomain/mark/1.0/"
           title="Public Domain marked"
           target="_blank"
           rel="xhv:license http://www.europeana.eu/schemas/edm/rights">
           Link to CC guidelines page - has xhv rel and a property 'cc:attributionName'
        </a>
        <br/>
        <br/>
        <a property="cc:attributionName"
           rel="cc:attributionURL"
           href="http://www.bl.uk/catalogues/illuminatedmanuscripts/ILLUMIN.ASP?Size=mid&IllID=22963">
           Link to the origin
        </a>
      </div>

      <br/>
      <br/>
<!--
      <h3>A link to a resource:</h3>
      <a about="http://www.europeana.eu/resolve/record/9200397/BibliographicResource_3000126264590"
         id="urlRefIsShownAt"
         href="http://www.bl.uk/catalogues/illuminatedmanuscripts/ILLUMIN.ASP?Size=mid&IllID=22963"
         target="_blank"
         rel="nofollow rdfs:seeAlso cc:attributionURL cc:morePermissions"
         resource="http://www.bl.uk/catalogues/illuminatedmanuscripts/ILLUMIN.ASP?Size=mid&IllID=22963">The British Library</a>
 -->
      <br/>
      <br/>
      title property:<span property="http://purl.org/dc/elements/1.1/title dc:title">Test Title</span>
      <br/>
      enpty span with ref to guidelines: <span rel="cc:useGuidelines" resource="http://www.europeana.eu/rights/pd-usage-guide/"></span>
      <br/>
    </div>

  </body>
</html>