/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Base Colors

// Neutrals
$white 			: #FFFFFF;
$offwhite 		: #F1F1EE;
$paper 			: #D9D4CA;

$gray-lighter 	: #CCCCCC;
$gray-light 	: #A6A6A6;
$gray-med 		: #4D4D4D;
$gray-dark 		: #232323;
$black 			: #1A1A1A;

//Europeana brand colours
$eu-yellow 		: #FFAE00;
$eu-red 		: #F22F24;
$eu-lightblue 	: #4BC0F0;
$eu-blue 		: #1A8AC7;
$eu-jade 		: #37B98B;
$eu-raspberry 	: #E11D53;
$eu-purple 		: #7F3978;



/////////////////////////////////////////////////////////


// Assign colours to functions
// 
//Europeana channel colours
$eu-user: $eu-blue;
$eu-labs: $eu-jade;
$eu-pro: $eu-raspberry;

//default highlight colour - can be overridden per site
$accent: $eu-blue;

// global page
$page_bg: $white;

// text
// Light backgrounds
$textcolour_head: $black;
$textcolour_body: $gray-med;
$textcolour_heavy: $gray-dark;
$textcolour_highlight: $accent; // Just for Labs at the mo
$textcolour_link: $eu-blue;
$text_secondary: $gray-light;

//Dark Backgrounds eg. footer
$textcolour_dark_body: $gray-light;
$textcolour_dark_head: $offwhite;


//backgrounds
$darkbg: $black;
$block_bg: $offwhite;


// buttons
$tag_primary: $accent;
$tag_primary_text: $accent;
$tag_highlight: $gray-dark;

//State, messaging colours
$error : $eu-red;
$valid : $eu-jade;


$dim : rgba(0,0,0,0.5);
$dimmer : rgba(0,0,0,0.8);


/////////////////////////////////////////////////////////


//Typography
$font-primary 	: "Open Sans", "Arial", sans-serif;
$font-secondary : "Ubuntu", "Arial", sans-serif;
$font-code 		: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

$font-size-norm : 1em;
$font-size-slightly-smaller : 0.875em;
$font-size-sm : 0.75em;
$font-size-large : 1.6em;
$base-font-multiplier: 1;


//Brand colours
$brand-facebook: #03539e;
$brand-twitter: #35ccff;
$brand-linkedin: #217bc1;

//Layout
$max-width: 70rem;
$offset-left-1: 4.5rem;

$l-sidebar-width: 19.75rem;

//Defaults
$space : 1.6rem;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;
$pad : 1rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;


//Breakpoints
$bp-small : 24em;
$bp-small-2 : 30em;
$bp-small-3 : 40em;
$bp-med : 47em;
$bp-large : 50em;
$bp-xl : 70em;
$bp-xxl : 90em;

