.blog-list {

  padding-bottom: $space;
  position: relative;

  @media all and (max-width: $bp-med) {
    padding-left: $space;
    padding-right: $space;

    .results-header-blog {
      @include span(18 of 18  inside);
    }
  }

  @media all and (min-width: $bp-med) {
    .results-header-blog {
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }

  .results-header-blog {
    .results-header {
      margin-top: $space;
    }
  }

  .filterby label,
  .sortby label {
    font-size: $font-size-slightly-smaller;
  }

  .blog-items {
    padding-bottom: 2 * $space;
  }
}

.search-hero.empty,
.search-hero.map {
  background-color: $paper;
  border-bottom:    0;
  height:           11em;
  z-index:          -1;
}

.search-hero.map {

  height: 24em;

  &.larger {

    height: 29em;

    @media all and (min-width: $bp-med) {
      height: 27em;
    }

    @media all and (min-width: $bp-xl) {

      height: 28.5em;
      .leaflet-bottom {
        bottom: 7em;
      }
    }
  }
}

.map-mask {
  display: none;
}

@media all and (min-width: $bp-xl) {

  .map-mask {
    display: flex;
    height: 5em;
    justify-content: center;
    position: absolute;
    transform: translateY(-100%);
    width: 100%;
  }

  .map-mask-side {
    background-color: $white;
    flex-grow: 1;
  }

  .map-mask-center {
    background-color: transparent;
    width: 60rem;
  }
}


.search-blog-list,
.search-blog-item {

  .date-icon,
  .ellipsis-icon,
  .tags-icon {
    display: inline-block;
    margin-right: 0.4em;
    width: 2em;
  }

  .icon-location {
    display: inline-block;
    height: 1.7em;
    position: relative;
    top: 0.5em;
    transform: scale(0.7);
    width: 1.5em;
  }

  .blog-item-tags-wide {
    .ellipsis-icon,
    .tags-icon {
      margin-right: 0;
    }
  }

  .svg-icon-bookmark-before::before {
    display: inline-block;
    height: 1.92em;
    width: 1.5em;
  }

  .svg-icon-bookmark-white {
    display: inline-block;
    height: 1.92em;
    margin-left: 2em;
    width: 1.5em;
  }

  .svg-icon-ellipsis-eu-blue.ellipsis-icon {
    transform: translateY(1em);
  }

  .svg-icon-bookmark-white {
    margin-right: 0.5em;
    transform: translateY(0.7em) scale(0.7);
  }

  .svg-icon-bookmark-before::before {
    transform: scale(0.6) translateY(0.8em);
  }

  .svg-icon-bookmark-eu-blue.tags-icon,
  .svg-icon-bookmark-white-before::before {
    transform: translateY(0.5em);
  }

  .svg-icon-bookmark-white-before::before {
    display: inline-block;
    left: -1.5em;
  }

  .svg-icon-bookmark-white-before::before,
  .tags-icon {
    height: 1.92em;
    width: 1.5em;
  }

  .ellipsis-icon {
    height: 1.92em;
  }

  .expand-tags {
    >span {
      border-bottom: 1px dotted #1676aa;
      padding-bottom: 0.2em;

      &:hover {
        border-bottom: solid 1px #1676aa;
      }
    }
    &.expanded {
      .ellipsis-icon {
        display: none;
      }
    }

    display: table-cell;
    padding-bottom: 0.3em;
    white-space: nowrap;
  }

  .container {

    @include container(60rem);
    @media all and (min-width: $bp-med) {
      overflow: hidden;
    }

    &.blog-post {
      margin-bottom: -7em;
      transform: translateY(-9em);

      &:not(.larger-map) {
        @media all and (max-width: $bp-small-3) {
          transform: translateY(-16em);
        }
      }

      &.larger-map {
        @media all and (min-width: $bp-xl) {
          margin-bottom: -18em;
          transform: translateY(-20em);
        }
      }

      h4 {
        margin-top: 2em;
      }

      img {
        display: block;
        margin: $space/2 auto;
        max-width: none;
        position: relative;
        width: 100%;

        @media all and (min-width: $bp-med) {
          max-width: 75%;
        }

        &.zoomable {
          cursor: pointer;
        }
      }

      .blog-intro {
        font-size: $font-size-med;
      }

      p,
      .blog-item-tags-wide,
      .blog-body {

        background: $white;

        @media all and (max-width: $bp-small-3) {
          padding: 0 $space/2;
        }

        @media all and (max-width: $bp-med) {
          padding: 0 $space;
          position: relative;
        }

        margin: 1em auto 0.75em auto;
        max-width: 40em;

        >h2 {
          margin-top: 1.6rem;
        }
        &:not(.blog-item-tags-wide) {
          ul{
            list-style-position: outside;
            list-style-type: circle;
            margin-left: 1em;
          }
        }

        &.blog-item-tags-wide {
          display: none;

          &.eu-active-on-shrink {
            display: table;
            width: 100%;
          }

          ul {
            display: table-cell;
            margin-left:  0;
            padding-left: 1em;

            &.js-hidden{
              display: none;
            }
          }
        }

        img+em{
          border-top: 1px solid #999;
          display: inline-block;
          padding-bottom: $space-quarter;
          padding-top: $space-quarter;
          text-align: center;
          width: 100%;
        }
      }

      .blog-hero {
        display: inline-block;
        height: auto;
        margin-top: 0;
        position: relative;

        .no-image,
        img {
          margin-bottom: 0;
          margin-top: 0;

          @media all and (min-width: $bp-med) {
            max-width: none;
          }
          @media all and (max-width: $bp-small-3) {
            height: 22em;
          }
          @media all and (max-width: $bp-med) {
            max-height: 22em;
          }
        }

        .introduction {
          color: $white;
          left: 50%;
          max-height: 100%;
          padding: 1em 2em;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          z-index: 3;

          .by {
            display: inline-block;
            font-size: $font-size-slightly-smaller;
            margin-right: 0.35em;
          }

          a {
            border-bottom: 1px dotted $white;
            color: $white;

            &:hover {
              border-bottom: solid 1px #eee;
            }
          }

          .author {
            display: inline-block;
            font-size: $font-size-slightly-smaller;
            margin-right: 1em;
          }

          .title {
            font-size: 1em;
            font-weight: bold;
            height: 3.9em;
            line-height: 1.3em;
            overflow: hidden;

            @media all and (min-width: $bp-small-3) {
              font-size: 1.2em;
              line-height: 1.5em;
              min-height: 4.5em;
            }

            @media all and (min-width: $bp-med) {
              font-size: 1.4em;
              line-height: 1.5em;
              min-height: 4.5em;
            }

            @media all and (min-width: $bp-xl) {
              font-size: 1.8rem;
              line-height: 2.5rem;
              min-height: 7.5rem;
            }

          }

          .text-split {
            border-bottom: 1px solid $white;
            margin-bottom: 0.5em;
            margin-top: 0.5em;
            padding-bottom: 1em;

            .location,
            .read-time {
              font-size: $font-size-slightly-smaller;
            }
            .read-time {
              white-space: nowrap;
            }
          }

          .date {
            font-size: $font-size-slightly-smaller;
          }

          .text-lower-section {
            display: table;
            margin: auto;

            .cell {
              display: table-cell;
              &.hide-with-tags {
                &.eu-active-on-shrink {
                  display: none;
                }
              }
            }

            .blog-tags {
              vertical-align: bottom;

              a {
                font-size: $font-size-slightly-smaller;
                text-transform: none;
                text-transform: capitalize;
              }
            }

            .nowrap {
              display: inline-block;
              white-space: nowrap;
            }
          }

          @media all and (min-width: $bp-med) {
            padding: 1.2em 6em 0 6em;
          }
          @media all and (max-width: $bp-med) {
            padding: 1em 4em;
          }
        }


        &:after {
          background-color: rgba(0, 0, 0, 0.5);
          bottom: 0;
          color: $white;
          content: " ";
          left: 0;
          position: absolute;
          right: 0;
          top: 0;

          a {
            border-bottom: 1px dotted $white;
            color: $white;
          }
        }
      }
    }
  }
}

.blog-list-item,
.blog-hero {
  background-image: none;

  .no-image,
  img {
    height: 20%;
    max-width: 100%;
    object-fit: cover;
    width: 100%;
  }

  @media all and (max-width: $bp-med) {
    .no-image {
      height: 14em;
    }
  }

  @media all and (min-width: $bp-med) {
    width: 100%;
    .no-image,
    img{
      height: 18em;
    }
  }

  @media all and (min-width: $bp-xl) {
    width: 60em;
    .no-image,
    img{
      height: 20em;
      width: 60em;
    }
  }

  .authors,
  .authors li {
    display: inline-block;
  }

  .blog-tags {
    max-height: 3em;
    overflow-y: auto;

    &.eu-active-on-shrink {
      display: none;
    }
  }

  .date-icon {
    height: 1.9em;
    margin-right: 0;
    position: relative;
    top: 0.6em;
    transform: scale(0.6);
  }

  .blog-item-tags {
    position:  relative;
    white-space: normal;
  }
}

.where-when {
  border: 1px solid #ccc;
  margin: $space*2 auto 0 auto;
  padding: $space;
  position: relative;

  .where-when-icon {
    display: inline-block;
    height: 1.8em;
    position: relative;
    top: 0.6em;
    transform: scale(0.7);
    width: 1.7em;

    &.svg-icon-clock,
    &.svg-icon-location {
      top: 0.5em;
    }

    &.svg-icon-phone-landline {
      top: 0.55em;
    }
  }

  .where-when-info {
    display: block;
  }
}

.blog-item-tags,
.blog-item-tags li {

  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 0.7em;
  }
  &.js-hidden {
    display: none;
  }

}

li:not(:first-of-type) {
  .blog-list-item {
    margin-top: 3 * $space;
  }
}

.blog-list-item {
  .item-info {
    .summary {
      border-bottom:  1px solid $gray87;
      padding-bottom: $space / 2;
    }

    .date,
    .location {
      font-size: $font-size-slightly-smaller;
    }

    @media all and (max-width: $bp-small-2) {
      padding-top: $space;
    }

    @media all and (min-width: $bp-small-2) {
      @include span(11 of 18  inside);
    }

    @media all and (min-width: $bp-small-3) {
      @include span(12 of 18  inside no-gutters);
    }

    @media all and (min-width: $bp-med) {
      @include span(13 of 18  inside no-gutters);
    }
  }

  h2 {
    font-family: $font-secondary;
    font-size: $font-size-med;
    line-height: 1.4;
    margin-bottom: $space-half;

    a:hover,
    a:focus {
      border-bottom: 1px dotted $textcolour_link_hover;
    }
  }

  h3 {
    font-size: 0.75rem;
    font-weight: bold;
  }

  .excerpt {

    line-height: 1.5em;
    max-height: 7.5em;
    overflow: hidden;
    position: relative;
    text-align: justify;

    @media all and (max-width: $bp-small-3) {
      box-sizing: content-box;
      margin-left: -1.5em;
      margin-right: -1.5em;
      padding: 1.5em;
      width: 100%;
    }

    @media all and (min-width: $bp-small-3) {
      box-sizing: border-box;
      margin-bottom: $space-half;
      margin-left: 0;
      margin-right: 0;
      margin-top: $space-half;
      padding-right: 1.75em;
    }

    &:before,
    &:after {
      bottom: 3px;
      position: absolute;
      right: 0.5em;
      width: 1em;
    }

    &:before {
      content: "...";
      height: 1.15em;
    }

    &:after {
      background: $white;
      content: " ";
      height: 1.2em;
    }
  }

  .item-preview {
    .item-image {
      position: relative;

      a {
        display: block;
        img {
          max-height: 16em;
          object-fit: cover;
          width: 100%;
        }
      }
    }

    @media all and (min-width: $bp-small-2) {
      @include span(last 6 of 18);
    }
    @media all and (min-width: $bp-small-3) {
      @include span(last 6 of 18);
      min-height: 10em;
    }

    @media all and (min-width: $bp-med) {
      @include span(last 5 of 18  inside no-gutters);
    }
  }

  .blog-item-tags {
    font-size: $font-size-slightly-smaller;
    margin-left: 2em;
  }
}
