@import "../_patterns/atoms/iconography/_svg-icon-bookmark";
@import "../_patterns/atoms/iconography/_svg-icon-bookmark-before";
@import "../_patterns/atoms/iconography/_svg-icon-bookmark-eu-blue";
@import "../_patterns/atoms/iconography/_svg-icon-bookmark-white";
@import "../_patterns/atoms/iconography/_svg-icon-bookmark-white-before";
@import "../_patterns/atoms/iconography/_svg-icon-calendar";
@import "../_patterns/atoms/iconography/_svg-icon-calendar-white";
@import "../_patterns/atoms/iconography/_svg-icon-ellipsis-eu-blue";
@import "../_patterns/atoms/iconography/_svg-icon-external-white-after";
@import "../_patterns/atoms/iconography/_svg-icon-location";


.blog-list,
.event-list{

  padding-bottom: $space;
  position:       relative;

  @media all and (max-width: $bp-med) {
    padding-left:  $space;
    padding-right: $space;

    .results-header-blog,
    .results-header-events{
      @include span(18 of 18  inside);
    }
  }

  @media all and (min-width: $bp-med) {
    .results-header-blog,
    .results-header-events{
      margin-left:  0.5em;
      margin-right: 0.5em;
    }
  }

  .results-header-blog,
  .results-header-events{
    .results-header{
      margin-top: $space;
    }
  }

  .blog-items,
  .event-items{
    padding-bottom: 2 * $space;
  }
}

.search-hero.empty,
.search-hero.map{
  background-color: $paper;
  border-bottom:    0;
  height:           11em;
  z-index:          -1;
}
.search-hero.map{
  height:           22em;
}

.search-blog-list,
.search-blog-item,
.search-event-list,
.search-event-item{

  .date-icon,
  .ellipsis-icon,
  .tags-icon{
    display:      inline-block;
    margin-right: 0.4em;
    width:        2em;
  }
 
  .icon-location{
    display:   inline-block;
  	height:    1.7em;
    position:  relative;
    top:       0.5em;
    transform: scale(0.7);
    width:     1.5em;
  }

  .event-item-tags-wide,
  .blog-item-tags-wide{
    .ellipsis-icon,
    .tags-icon{
      margin-right: 0em;
    }
  }

  .svg-icon-bookmark-before::before{
    display:   inline-block;
    height:    1.92em;
    width:     1.5em;
  }

  .svg-icon-bookmark-white{
    display:     inline-block;
    height:      1.92em;
    margin-left: 2em;
    width:       1.5em;
  }

  .svg-icon-ellipsis-eu-blue.ellipsis-icon{
    transform: translateY(1em);
  }

  .svg-icon-bookmark-white{
    transform: translateY(0.7em);
    margin-right: 1em;
  }

  .svg-icon-bookmark-before::before{
    transform: scale(0.6) translateY(0.8em);
  }

  .svg-icon-bookmark-eu-blue.tags-icon,
  .svg-icon-bookmark-white-before::before{
    transform: translateY(0.5em);
  }

  .svg-icon-bookmark-white-before::before{
    left:      -1.5em;
    display:   inline-block;
  }

  .svg-icon-bookmark-white-before::before,
  .tags-icon{
    height:      1.92em;
    width:       1.5em;
  }

  .ellipsis-icon{
    height:      1.92em;
  }

  .expand-tags{
    >span{
      border-bottom:  1px dotted #1676aa;
      padding-bottom: 0.2em;
      &:hover{
        border-bottom: solid 1px #1676aa;
      }
    }
    &.expanded{
      .ellipsis-icon{
        display: none;
      }
    }

    display:        table-cell;
    padding-bottom: 0.3em;
    white-space:    nowrap;
  }

  .container{

    @include container(60rem);

    @media all and (min-width: $bp-med) {
      overflow:hidden;
    }

    &.blog-post,
    &.event-detail{

      transform:   translateY(-9em);

      img{
        display:   block;
        margin:    $space/2 auto;
        max-width: 75%;
        position:  relative;

        &.zoomable{
          cursor: pointer;
        }
      }

      .blog-intro,
      .event-intro{
        font-size: $font-size-med;
      }

      p,
      .event-item-tags-wide,
      .blog-item-tags-wide,
      .blog-body,
      .event-body{

        background: $white;

        @media all and (max-width: $bp-small-3) {
          padding:  0 $space/2;
        }

        @media all and (max-width: $bp-med) {
          padding:  0 $space;
          position: relative;
        }

        margin:    1em auto 0.75em auto;
        max-width: 40em;

        >h2 {
          margin-top: 1.6rem;
        }
        &:not(.blog-item-tags-wide),
        &:not(.event-item-tags-wide){
          ul{
            list-style-type:     circle;
            list-style-position: outside;
            margin-left:         1em;
          }
        }
        &.blog-item-tags-wide,
        &.event-item-tags-wide{

          display: none;

          &.eu-active-on-shrink{
            display: table;
            width:   100%;
          }
          ul{
            display:      table-cell;
            margin-left:  0;
            padding-left: 1em;

            &.js-hidden{
              display: none;
            }
          }
        }
        img+em{
          border-top:     1px solid #999;
          display:        inline-block;
          padding-bottom: $space-quarter;
          padding-top:    $space-quarter;
          text-align:     center;
          width:          100%;
        }
      }

      .blog-hero,
      .event-hero{
        display:    inline-block;
        height:     auto;
        margin-top: 0;
        position:   relative;

        .no-image,
        img{
          margin-bottom: 0;
          margin-top: 0;
          max-width: none;
        }

        .introduction{
          color:       $white;
          left:        50%;
          max-height:  100%;
          position:    absolute;
          padding:     1em 2em;
          top:         50%;
          transform:   translate(-50%, -50%);
          width:       100%;
          z-index:     3;

          .by{
          	display:      inline-block;
            font-size:    $font-size-slightly-smaller;
            margin-right: 0.35em;
          }
          a{
            color: $white;
            border-bottom: 1px dotted #fff;

            &.author{
              font-size:    $font-size-slightly-smaller;
              margin-right: 1em;
            }

            &:hover{
              border-bottom: solid 1px #eee;
            }
          }

          .title{

            overflow:      hidden;
            font-weight:   bold;

            font-size:     1em;
            line-height:   1.3em;
            max-height:    2.6em;

            @media all and (min-width: $bp-small-3) {
              font-size:     1.2em;
              line-height:   1.5em;
              max-height:    3em;
            }

            @media all and (min-width: $bp-med) {
              font-size:     1.4em;
              line-height:   1.6em;
              max-height:    3.2em;
            }

            @media all and (min-width: $bp-xl) {
              font-size:     1.8em;
              line-height:   2.1em;
              max-height:    4.2em;
            }

          }

          .text-split{
            border-bottom:  1px solid $white;
            margin-bottom:  0.5em;
            padding-bottom: 1em;

            .location,
            .read-time{
              font-size: $font-size-slightly-smaller;
            }
            .read-time{
              white-space: nowrap;
            }
          }

          .text-lower-section{

            display:   table;
            margin:    auto;

            .cell{
              display: table-cell;
              &.hide-with-tags{
                &.eu-active-on-shrink{
                  display: none;
                }
              }
            }

            .date{
              font-size: $font-size-slightly-smaller;
            }

            .blog-tags,
            .event-tags{
              vertical-align: bottom;
              a{
                font-size:                  $font-size-slightly-smaller;
                text-transform:             none;
                text-transform:             capitalize;
              }
            }

            .nowrap{
              display:     inline-block;
              white-space: nowrap;
            }
          }

          @media all and (min-width: $bp-med) {
            padding: 1.5em 6em 0 6em;
          }
        }


        &:after{
          background-color: rgba(0, 0, 0, 0.5);
          bottom:     0;
          color:      #fff;
          content:    ' ';
          a{
            border-bottom: 1px dotted #fff;
            color:         #fff;
          }
          left:       0;
          position:   absolute;
          right:      0;
          top:        0;
        }
      }
    }
    &.event-detail{
      transform: translateY(-15em);
    }
  }
}

.event-hero.site-hero{	
  background-color: transparent;
}

.event-list-item,
.blog-list-item,
.event-hero,
.blog-hero{
  background-image: none;

  .no-image,
  img{
    height:       20%;
    max-width:    100%;
    object-fit:   cover;
    width:        100%;
  }

  @media all and (min-width: $bp-med) {
    width:        100%;
    .no-image,
    img{
      height:     18em;
    }
  }

  @media all and (min-width: $bp-xl) {
    width:      60em;
    .no-image,
    img{
      height:     20em;
      width:      60em;
    }
  }

  .authors,
  .authors li{
    display: inline-block;
  }

  .blog-tags,
  .event-tags{
    max-height: 3em;
    overflow-y: auto;

    &.eu-active-on-shrink{
      display: none;
    }
  }

  .date-icon{
    height:       1.9em;
    transform:    scale(0.6);
    margin-right: 0;
    position:     relative;
    top:          0.6em;
  }

  .blog-item-tags,
  .event-item-tags{
    white-space: normal;
    position:  relative;
  }
}

.blog-item-tags,
.blog-item-tags li,
.event-item-tags,
.event-item-tags li{

  display: inline-block;
  
  &:not(:last-of-type){
    margin-right: 0.7em;
  }
  &.js-hidden{
    display: none;
  }

}

li:not(:first-of-type){
  .blog-list-item,
  .event-list-item{
    margin-top: 3 * $space;
  }
}

.blog-list-item,
.event-list-item{

  .item-info{

    .summary{
      padding-bottom: $space / 2;
      border-bottom:  1px solid $gray87;
    }

    .date,
    .location{
      font-size: $font-size-slightly-smaller;
    }

    @media all and (max-width: $bp-small-2) {
      padding-top: $space;
    }

    @media all and (min-width: $bp-small-2) {
      @include span(11 of 18  inside);
    }

    @media all and (min-width: $bp-small-3) {
      @include span(12 of 18  inside no-gutters);
    }

    @media all and (min-width: $bp-med) {
      @include span(13 of 18  inside no-gutters);
    }
  }

  h2{
    font-size: $font-size-med;
    margin-bottom: $space-half;
    font-family: $font-secondary;
    line-height: 1.4;

    a:hover, a:focus{
      border-bottom: 1px dotted $textcolour_link_hover;
    }
  }

  h3{
    font-size:   0.75rem;
    font-weight: bold;
  }

  .excerpt{

    line-height:   1.5em;
    max-height:    7.5em;
    overflow:      hidden;
    position:      relative;
    text-align:    justify;

    @media all and (max-width: $bp-small-3) {
      box-sizing:   content-box;
      margin-left:  -1.5em;
      margin-right: -1.5em;
      padding:      1.5em;
      width:        100%;
    }

    @media all and (min-width: $bp-small-3) {

      box-sizing:    border-box;
      margin-left:   0;
      margin-right:  0;

      margin-bottom: $space-half;
      margin-top:    $space-half;
      padding-right: 1.75em;
    }


    &:before,
    &:after {
      bottom:   3px;
      position: absolute;
      right:    0.5em;
      width:    1em;
    }

    &:before {
      content:    '...';
      height:   1.15em;
    }

    &:after {
      background: white;
      content:    ' ';
      height:     1.2em;
    }

  }

  .item-preview{
    .item-image{
      position: relative;
      a{
        display: block;
        img{
          max-height: 16em;
          object-fit: cover;
          width:      100%;
        }
      }
    }

    @media all and (min-width: $bp-small-2) {
      @include span(last 6 of 18);
    }
    @media all and (min-width: $bp-small-3) {
      @include span(last 6 of 18);
      min-height: 10em;
    }

    @media all and (min-width: $bp-med) {
      @include span(last 5 of 18  inside no-gutters);
    }
  }

  .blog-item-tags,
  .event-item-tags{
    font-size:   $font-size-slightly-smaller;
    margin-left: 2em;
  }
}
