.channels-item {

  background: $offwhite;

  .helpbar {
    background: $white;
    font-size:  $font-size-norm;
    padding:    0 $pad;
  }

  .object-media-wrap  {
    background: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  }

  h2.object-title,
  .subtitle {
    color: $eu-blue;
  }

  @media all and (max-width: $bp-med) {
    .helpbar {
      padding: 0 2.5rem;
    }
  }

}
