.channels-item {
  .eu-foldable-title {
    font-weight: bold;
  }

  .eu-foldable-subtitle,
  .eu-foldable-title a {
    color:     $gray-light;
    font-size: 1rem;
  }

  .channel-object-information {
    .data-group {
      color: $gray-light;
    }
  }

  .channel-object-extended-information {
    .channel-object-title .ctrl{
      transform: translateX(-50%);
    }

    .data-group{
      color: $gray-med;

      .data-group:not(.comma-list) {
        display: block;
      }

      .data-group {
        display: inline;
      }
    }
  }

  .channel-object-extended-information,
  .channel-object-information {
    margin-top: $space;
    position:   relative;

    .data-group,
    .eu-foldable-data {
      a {
        border-bottom: 1px dashed $black;
        color:         $black;

        &:hover {
          border-bottom: 1px dashed $eu-blue;
          color:         $eu-blue;
        }
      }
    }

    .data-section {
      margin:   0 $space;
      position: relative;

      .data-header {
        color:     $gray-light;
        font-size: 1rem;
      }

      .subsection-label {
        color: $black;
        margin-bottom: 0;
        padding-left:  0;
        padding-right: 0;
      }

      &:first-of-type {
        border-top: 0;
      }

      .subsection-label,
      .data-header {
        line-height: 1.6;
      }
    }

    .map-wrapper {
      display: none;
    }

    .map {
      margin-bottom: $spacing-base;
      margin-top: $spacing-base;
    }
  }

  .channel-object-extended-information {

    h2.channel-object-title {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &:hover .ctrl::after {
        opacity: 1;
      }
    }

    .subsection-label {
      cursor: pointer;
    }

    .channel-object-title.closed,
    .data-section.closed {
      .close {
        display: none;
      }
      .open {
        display: block;
      }

      .subsection-content {
        max-height: 0;
        opacity: 0;
        padding-top: 0;
        transition:
        opacity 0.3s ease 0s,
        max-height 0.5s ease 0.3s;
      }
    }

    .channel-object-title:not(.closed),
    .data-section:not(.closed) {
      .close {
        display: block;
      }
      .open {
        display: none;
      }
    }

    .ctrl .icon {
      -webkit-transform: scale(1.22222222222);
      display:    block;
      height:     1.125rem;
      transform:  scale(1.22222222222);
      width:     1.125rem;
    }

    .ctrl {
      display: block;
      position: relative;

      .icon {
        display:  block;
      }

      &::after {
        background: $gray-lightest;
        border-radius: 50%;
        content: "";
        display: block;
        height: 200%;
        left: -50%;
        opacity: 0;
        position: absolute;
        top: -50%;
        transition: opacity 0.3s;
        width: 200%;
        z-index: -1;
      }
    }

    .data-section {
      overflow: hidden;
      .subsection-label {
        align-items: center;
        color: $gray-med;
        display: flex;
        justify-content: space-between;

        .ctrl {
          margin-right: 0.6rem;
          position: relative;
        }

        &:hover .ctrl::after {
          opacity: 1;
        }
      }
    }

    .subsection-content {
      max-height: 100rem;
      opacity: 1;
      position: relative;
      transition:
      max-height 1s ease 0s,
      opacity 0.3s ease 0.25s;

      > ul {
        display: inline-block;
        margin-top: 1.6rem;
        width: 100%;
      }

      @media all and (min-width: $bp-med) {
        padding-right: 3.4em;
      }
    }

    .no-animation,
    .closed.no-animation {
      .subsection-label,
      .subsection-content {
        transition: none;
      }
    }
  }

  @media all and (min-width: $bp-med) {

    .object-details {
      .channel-object-extended-information {
        h2.channel-object-title {
          cursor: pointer;
          display: flex;

          .ctrl {
            &::before{
              content:     attr(data-before);
              font-size:   $font-size-slightly-smaller;
              font-weight: lighter;
              line-height: 1.4;
              position:    absolute;
              right:       2rem;
              text-align:  right;
              width:       300px;
            }
          }
        }

        .ctrl {
          .icon {
            -webkit-transform: scale(1);
            transform:         scale(1);
          }
        }
      }
    }
  }
}
