.channels-item {

  background: $offwhite;

  // titlebar
  .with-transparency .object-nav {
    background: $offwhite;
    position: relative;
    z-index: 10;
  }

  .title-bar {
    background: $white;
    font-size:  $font-size-sm;
    line-height: 1.2;
    margin-top: -40px;
    padding: $pad-half $pad;
    transition: all 0.3s ease-out;

    &.show {
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
      margin-top: 0;
    }

  }

  // helpbar
  .helpbar {
    background: $white;
    display: flex;
    flex-grow: 1;
    font-size:  $font-size-sm;
    justify-content: space-between;
    padding: $pad-half $pad;

    p {
      margin-bottom: 0;
    }
  }

  @media all and (min-width: $bp-med) {
    .helpbar,
    .title-bar {
      padding-left:  2.5rem;
      padding-right:  2.5rem;
    }
  }

  .channel-object-information{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  }

  .channel-object-information,
  .object-media-wrap  {
    background: $white;
    text-align: left;
  }

  .object-media-wrap:not(.empty) {

    // title, subtitle, description
    .channel-object-title,
    .subtitle {
      color: $eu-blue;
    }

    .channel-object-title {
      display: none;
      font-size: $font-size-norm * 2;
      line-height: 1.34375em;
      margin-bottom: $space;

      &.top {
        display: block;
        margin-bottom: 0;
      }

    }

    .channel-object-description {
      border-bottom: 2px solid rgba(0, 0, 0, 0.12);
      margin-bottom: $space;

      p:last-child {
        margin-bottom: $space;
      }
    }

    .media-viewer {
      text-align: center;

      @media all and (min-width: $bp-xl) {
        text-align: left;
      }

      .title-desc-media-nav{
        text-align: left;
      }
    }

    // carousel

    .channel-object-media-nav {

      margin-left:      calc((1.05634% + 1rem) * -1);
      margin-right:     calc((1.05634% + 1rem) * -1);
      position:         relative;

      .media-thumb-section::after{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        content:         ' ';
        height:         7em;
        pointer-events: none;
        position:       absolute;
        top:            0;
        width:          100%;

        @media all and (min-width: $bp-xl) {
          top: 1em;
        }
      }

      .js-carousel-item {
        width: 56px;
      }

      .js-carousel-arrows.h {
        line-height: unset;

        a.left{
          left: 0.2em;
        }

        a.left,
        a.right {
          background-color:    $dim07;
          background-position: .1em .375em;
          top:                 1.1em;
        }
      }

      .mlt-img-div{
        background-color: transparent;
        height: 100%;
        margin-bottom: 35%;
        margin-top: 35%;
        transition: all 0.1s ease-out;
        width: 100%;
        z-index: 1;

        &:hover {
          border: 1px solid $gray80;
          transform: scale(1.25);
        }

        &.active {
          border: 1px solid $brand-twitter;
          box-shadow: 0 1px 2px 0 $dim02;
          transform: scale(1.6);
        }
      }

    }
  }

  .channel-object-information,
  .channel-object-extended-information{
    margin-top: $space;

    .data-section {
      margin:   0 $space;
      position: relative;

      .subsection-label{
        margin-bottom: 0;
        padding-left:  0;
        padding-right: 0;
      }

      .ctrl,
      .ctrl .icon{
        display:  block;
        height:   1.5em;
        width:    1.5em;
      }

      .ctrl{
        border:   1px solid #ccc;
        cursor:   pointer;
        position: absolute;
        right:    1em;
        top:      1.6em;

        &.close{

          padding:           5px;

          .icon{
            -webkit-transform: scale(0.7) translate(-0.5em, -0.5em);
            transform:         scale(0.7) translate(-0.5em, -0.5em);
          }
        }

        &.open{
          .icon{
            background-position: 0.18em 0.14em;
          }
        }

        .icon{
          display:  block;
        }

      }

      &.closed{
        .close{
          display: none;
        }
        .open{
          display: block;
        }
      }

      &:not(.closed){
        .close{
          display:           block;
        }
        .open{
          display: none;
        }
      }

      &:first-of-type{
        border-top: 0;
      }
    }

  }

  .channel-object-extended-information{
    .closed{
      .subsection-content{
        display: none;
      }
    }
  }

  @media all and (min-width: $bp-xl) {

    .channel-object-media-nav,
    .channel-object-description,
    .channel-object-title {
      display:       inline-block;
      position:      relative;
    }

    .object-media-wrap:not(.empty) {
      padding-right: $pad-double;

      .channel-object-title {
        display: block;

        &.top {
          display: none;
        }
      }

      .title-desc-media-nav {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        width: calc(100% - (400px + 1em));

        .channel-object-media-nav {
          margin-left: 0;
          margin-right: 0;
          order: 5;
        }
      }
    }

    .channel-object-media-nav{

      width: 100%;

      .media-thumb-section{
        margin: 1em 0;
      }
    }

    .media-viewer {
      display:         flex;
      justify-content: space-between;
      text-align:      left;
    }

    .single-item-thumb,
    .multi-item-poster{
      display:  inline-block;
      margin:   0;
    }
    .single-item-thumb-sizer{
      visibility: hidden;
    }

  }

}
