.channels-item {
  .eu-foldable-title {
    font-weight: bold;
  }

  .eu-foldable-subtitle,
  .eu-foldable-title a {
    color:     $gray-light;
    font-size: 1rem;
  }

  .channel-object-information {
    .data-group {
      color: $gray-light;
    }
  }

  .channel-object-extended-information {
    .data-group{
      color: $gray-med;
    }
  }

  .channel-object-extended-information,
  .channel-object-information {
    margin-top: $space;
    position:   relative;

    .data-group,
    .eu-foldable-data {
      a {
        border-bottom: 1px dashed $black;
        color:         $black;

        &:hover {
          border-bottom: 1px dashed $eu-blue;
          color:         $eu-blue;
        }
      }
    }

    .data-section {
      margin:   0 $space;
      position: relative;

      .data-header {
        color:     $gray-light;
        font-size: 1rem;
      }

      .subsection-label {
        color:         $black;
        cursor: pointer;
        margin-bottom: 0;
        padding-left:  0;
        padding-right: 0;
      }

      &:first-of-type {
        border-top: 0;
      }

      .subsection-label,
      .data-header {
        line-height: 1.6;
      }
    }

    .map {
      margin-bottom: $spacing-base;
      margin-top: $spacing-base;
    }
  }

  .channel-object-extended-information {

    h2.channel-object-title {
      .ctrl {
        top: 0.1em;
      }
    }

    .channel-object-title.closed,
    .data-section.closed {
      .close {
        display: none;
      }
      .open {
        display: block;
      }

      .subsection-content {
        max-height: 0;
        opacity: 0;
        padding-top: 0;
        transition-property: opacity, max-height;
      }
    }

    .channel-object-title:not(.closed),
    .data-section:not(.closed) {
      .close {
        display: block;
      }
      .open {
        display: none;
      }
    }

    .ctrl .icon {
      -webkit-transform: scale(1.22222222222);
      display:    block;
      height:     1.125rem;
      transform:  scale(1.22222222222);
      width:      1.125rem;
    }

    .ctrl {
      cursor:            pointer;
      display:           block;
      font-size:         1rem;
      height:            1.5em;
      position:          absolute;
      right:             0;
      top:               2em;
      width:             1.5em;

      .icon {
        display:  block;
      }
    }

    .data-section {
      overflow: hidden;
      .subsection-label {
        color: $gray-med;
      }
    }

    .subsection-content {
      max-height: 100rem;
      opacity: 1;
      padding-right: 3.4em;
      position: relative;
      transition-delay: 0s, 0.25s;
      transition-duration: 0.3s, 0.3s;
      transition-property: max-height, opacity;
      transition-timing-function: ease;

      > ul {
        display: inline-block;
        margin-top: 1.6rem;
      }
    }

    .no-animation,
    .closed.no-animation {
      .subsection-label,
      .subsection-content {
        transition: none;
      }
    }
  }

  @media all and (min-width: $bp-med) {

    .channel-object-extended-information {
      h2.channel-object-title {
        .ctrl {
          &::before{
            content:     attr(data-before);
            font-size:   $font-size-slightly-smaller;
            font-weight: lighter;
            line-height: 1.4;
            position:    absolute;
            right:       2rem;
            text-align:  right;
            width:       300px;
          }
        }
      }

      .ctrl {
        top: 1.6rem;

        .icon {
          -webkit-transform: scale(1);
          transform:         scale(1);
        }
      }
    }
  }
}
