$collections-promo-item-min-width: 275px;
$next-item-bg:                     #f9efe4;
$green-grey-bg:                    #f4f4f4;


@media all and (min-width: $bp-med) {

  flex-direction: column;
  max-width: 100%;

  .channel-object-next,
  .image-set,
  .ve-foyer-card{
    width:  100%;
  }

  .collections-promo-item{
    font-size:     $font-size-sm;
    margin-bottom: $space;
    min-width:     auto;
    width:         98%;

    &.exhibition{
      .has-tags .text-footer{
        flex-grow: 0.2;
      }
    }
    &:not(.exhibition){
      .promo-tags{
        padding-bottom: 0;
      }
    }

    .content-text-inner.has-text:not(.has-title){
      .text-main{
        transform: translateY(0.5em);
      }
    }

    .promo-tags{
      font-size:  $font-size-slightly-smaller;
    }

    .promo-title{
      padding-top: 0.75em;
    }

    .image-set-info{
      padding: 0.75em 1em 0.75em 1em;
    }

    .date-and-type{
      padding-top: 0.25em;
      .date.with-type{
        max-width: 66%;
      }
    }
  }

  .collections-promo-overlay{
    .links{
      font-size: 0.875em;

      a:last-child{
        bottom:    0;
        font-size: $font-size-norm;
      }
    }
  }

  .icon-files{
    transform: translate(-0.6em, 1.65em) scale(1.2);
  }
  .icon-image{
    transform: translate(-0.6em, 1.4em) scale(0.8);
  }
  .icon-music{
    transform: translate(-0.5em, 1.4em) scale(0.7);
  }
  .icon-text{
    transform: translate(-0.45em, 1.3em) scale(0.6);
  }
  .icon-tv{
    transform: translate(-0.5em, 1.45em) scale(0.7);
  }
}

@media all and (min-width: $bp-large) {

  .collections-promo-item{

    font-size:  $font-size-slightly-smaller;

    &.exhibition{
      .has-tags .text-footer{
        flex-grow: 0;
      }
    }

    .date-and-type .date.with-type{
      max-width: 70%;
    }
  }
}

@media all and (min-width: $bp-xl) {

  .collections-promo-item{
    width:     100%;

    .content-text-inner.has-text:not(.has-title){
      .text-main{
        transform: translateY(1em);
      }
    }

    .date-and-type{
      padding-top: 1em;
      .date.with-type{
        max-width: 75%;
      }
    }

    .promo-title{
      padding-top: 1em;
    }

    .image-set-info{
      padding: 1em;
    }

  }

  .collections-promo-overlay{
    .links{
      font-size: $font-size-norm;

      a:last-child{
        bottom:    0.2em;
        font-size: $font-size-med;
      }
    }
  }

  .icon-files{
    transform: translate(-1em, 2em) scale(1.5);
  }

  .icon-image{
    transform: translate(-1em, 1.5em) scale(1.1);
  }

  .icon-music{
    transform: translate(-0.75em, 1.6em);
  }

  .icon-text{
    transform: translate(-1.2em, 2em);
  }

  .icon-tv{
    transform: translate(-0.7em, 1.65em) scale(0.9);
  }

}

@media all and (min-width: $bp-xxl) {

  .collections-promo-item{
    font-size: $font-size-norm;
    width:     100%;
  }

}

@media all and (min-width: $bp-xxxl) {

  .collections-promo-item{
    .date-and-type .date.with-type{
      max-width: 80%;
    }
  }
}
