// this colour is unused elsewhere - the similar #ededed is used on the new item page
$height-drop-down: 50px;
$page-bg-colour:   #ececec;

#cookie-disclaimer {
  display: none !important;
}

.channels-browse {

  background: $page-bg-colour;

  .anchor-list {
    background: $eu-very-light-gray;
    border-radius: $base-border-radius;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    color: $black;    
    font-size: 1.875rem;
    font-weight: 300;    
    line-height: 2.5625rem;
    margin: $spacing-2x 0;
    
    > ul {
      display: flex;
      justify-content: space-between;
      padding: $spacing-base;
    }

    a {
      color: $black;
    }

    > ul > li {
      position: relative;

      &.sublist::after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $gray-light;
        content: '';
        height: 0; 
        position: absolute;
        right: -0.6rem;
        top: $spacing-base;
        width: 0; 
      }

      ul {
        background: $white;
        border: 0.5px solid $offwhite;
        border-radius: $base-border-radius;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        display: none;
        left: -0.3rem;
        opacity: 0;
        padding: $spacing-half / 2;
        position: absolute;
        top: -0.3rem;
        transition: all 0.2s;
      }

      &.sublist ul {
        padding-right: $spacing-base;
      }

      &:hover {
        ul {  
          display: block; 
          opacity: 1;
        }
      }      
    }
  }

  @media all and (max-width: $bp-large) {
    .grid-anchor-list {
      display: inline;
      grid-column: full;
    }
  }

  .browse-list-title {
    color: $grid-title-gray;
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: uppercase;

    span::before {
      content: "|";
      display: inline-block;
      padding: $spacing-half;
    }

    span:first-child {
      font-weight: bold;

      &::before {
        display: none;
      }
    }
  }

  .title-bar {
    -webkit-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;

    width: 100%;

    &.show {
      height: 75px;
      overflow: visible;
    }

    .anchor-list {
      margin: 0;

      ul {
        padding-bottom: 0;
        padding-top: 0;
      }
    }

    &.show .anchor-list {
      box-shadow: none;
    }
  }

  .header-wrapper > .title-bar {
    opacity: 0;
    padding: 0;

    &.show {
      height:  $height-drop-down;
      opacity: 1;
    }

    .anchor-list{
      align-items:      center;
      background-color: #fff;
      border-radius:    0;
      height:           100%;

      a {
        line-height: $height-drop-down;
      }
    }
  }
}
