.channels-item {

  background: $offwhite;

  .channel-object-extended-information{
    .closed{
      .subsection-content{
        display: none;
      }
    }
  }

  .channel-object-information,
  .channel-object-extended-information{
    margin-top: $space;
  }

  .channel-object-information,
  .channel-object-extended-information,
  .object-media-wrap  {
    background: $white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    text-align: left;

    .media-thumb-section .js-carousel-arrows{


      a.left,
      a.right{
        background-color: $dim;
        background-position: .1em .375em;
        transform:        translateY(50%);
      }
    }

  }

  .channel-object-title:not(.top){
    display: none;
  }

  .channel-object-title,
  .subtitle {
    color: $eu-blue;
  }

  .data-section{
    margin:   0 $space;
    position: relative;

    .subsection-label{
      margin-bottom: 0;
      padding-left:  0;
      padding-right: 0;
    }

    .ctrl,
    .ctrl .icon{
      display:  block;
      height:   1.5em;
      width:    1.5em;
    }

    .ctrl{
      border:   1px solid #ccc;
      cursor:   pointer;
      position: absolute;
      right:    1em;
      top:      1.6em;

      &.close{

        padding:           5px;

        .icon{
          -webkit-transform: scale(0.7) translate(-0.5em, -0.5em);
          transform:         scale(0.7) translate(-0.5em, -0.5em);
        }
      }

      &.open{
        .icon{
          background-position: 0.18em 0.14em;
        }
      }

      .icon{
        display:  block;
      }

    }

    &.closed{
      .close{
        display: none;
      }
      .open{
        display: block;
      }
    }

    &:not(.closed){
      .close{
        display:           block;
      }
      .open{
        display: none;
      }
    }

    &:first-of-type{
      border-top: 0;
    }
  }

  .helpbar {
    background: $white;
    font-size:  $font-size-norm;
    padding:    0 $pad;
  }

  .js-carousel-arrows.h{
    line-height: unset;
  }

  @media all and (min-width: $bp-med) {
    .helpbar {
      padding: 0 2.5rem;
    }
  }

  @media all and (min-width: $bp-xl) {

    .channel-object-media-nav,
    .channel-object-description,
    .channel-object-title{

      display:       inline-block;
      position:      relative;

    }

    .title-desc-media-nav{
      margin-left: 1em;
      width:       calc(100% - (250px + 1em));
    }

    .channel-object-title{

      &.top{
        display: none;
      }
      &:not(.top){
        display: inline-block;
      }
    }

    .channel-object-media-nav{

      width: 100%;

      .media-thumb-section{
        margin: 1em 0;
      }
    }

    .media-viewer{
      display: flex;
    }

    .single-item-thumb,
    .multi-item-poster{
      margin:   0;
      display:  inline-block;

    }
    .single-item-thumb-sizer{
      visibility: hidden;
    }

  }

}
