$carousel-arrow-bg:         rgba(255, 255, 255, 0.8);
$carousel-arrow-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

$collections-promo-item-min-width: 275px;
$green-grey-bg:                    #f4f4f4;
$grey-preload-text:                $gray-lightest;
$card-img-height-def:              15rem;

$bp-modal-collapse:                $bp-small-3;
$min-width-media:                  400px;

$collections-promo-item-min-width: 275px;
$green-grey-bg:                    #f4f4f4;
