@import "channels-object-variables";

.no-js{
  .js-remove{
    display: none;
  }
}

.collections-promo-item{

  -webkit-align-self: start;
  align-self:         start;
  background-color:   $green-grey-bg;
  box-shadow:         $box-shadow-panel;
  font-size:          $font-size-slightly-smaller;

  width:              $collections-promo-item-min-width;

  .category-flag{
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.25);
  }

  .content-text{
    background-color: $green-grey-bg;
  }

  .content-text-upper{
    display:        flex;
    flex-direction: column;
  }

  .content-outer{
    position:   relative;
  }

  .content-inner{
    .content-inner{
      text-align: center;
    }
  }

  &.gallery{
    position: relative;
    .content-outer{
      position: static;
    }
  }

  &.exhibition{

    .content-outer .content-outer::before,
    .ve-foyer-card{
      float: none;
      .ve-foyer-card-content::before{
        padding-top: 100%;
      }
    }

    .content-text{
      .content-text-inner .promo-title{
        padding-top: 0;
      }
    }

  }

  &.entity-promo{

    background-color: transparent;
    box-shadow:       1px 2px 2px -1px rgba(0, 0, 0, 0.25);
    transform:        translateX(-2px);

    .content-outer{

      &::before{
        content:     " ";
        display:     block;
        padding-top: 133%;
      }

      .content-inner{
        bottom:     0;
        left:       0;
        position: absolute;
        right:      0;
        top:        0;
      }
    }

    .content-inner .content-inner{
      margin-left: $space;
    }

    .content-outer .content-outer{

      background-color: transparent;

      &::before{
        padding-top: 110%;
      }
    }

    .content-text{
      background-color: $green-grey-bg;
      box-shadow:       -2px 0 4px -2px rgba(0, 0, 0, 0.25);
      height:           100%;
      left:             3px;
      max-height:       18%;
      position:         relative;
      width:            calc(100% - 3px);
    }

    .text-footer{
      bottom:   0;
      position: absolute;
      width:    100%;
    }
  }

  &.img-as-bg{
    .bg-img{
      background-position: center;
      background-repeat:   no-repeat;
      background-size:     cover;
      display:             block;
      height:              $card-img-height-def;
    }

    &.entity-promo .bg-img{
      height: 100%;
    }
  }

  &.img-centric{
    .content-outer .content-outer::before{
      padding-top: 150%;
    }
  }

  &.text-centric{

    .content-outer .content-outer::before{
      padding-top: 50%;
    }

  }

  &.collections-promo-item-preload{

    height: $card-img-height-def;
    width:  100%;

    > .content-outer .content-inner,
    > .content-inner,
    > .content-outer{
      height: 100%;
    }

    > .content-outer .content-outer{
      padding: 1.5em;
    }

    .content-inner .content-outer,
    .content-inner .content-text{
      height: 50%;
    }

    .content-inner .content-inner{
      background-color: $grey-preload-text;
    }

    .content-inner .content-text-inner{
      justify-content: space-around;
    }

    .content-inner .content-text{
      padding: 1.5em;
    }

    .dummy-text{
      background-color: $grey-preload-text;
      height:           1.2em;
      margin:           0.25em 1.5em 0.25em 0;

      &:first-of-type{
        width: 40%;
      }
      &:last-of-type{
        width: 70%;
      }
    }
  }

  .content-text-inner{
    display:                 -webkit-flex;
    display:                 flex;
    flex-direction:          column;
    height:                  100%;
    -webkit-justify-content: space-between;
    justify-content:         space-between;
  }

  .content-text-inner.has-text:not(.has-title){
    .text-main{
      transform: translateY(1em);
    }
  }

  .text-main{
    font-size:    $font-size-slightly-smaller;
    line-height:  1.4rem;
    max-height:   4.2rem;
    overflow:     hidden;

    &.no-relation{
      max-height: 5.6rem;
    }

    @media all and (min-width: $bp-med){
      line-height:  1.5em;
      max-height:   4.5em;
      &.no-relation{
        max-height: 6em;
      }
    }

    @media all and (min-width: $bp-xl){
      line-height:  1.5em;
      max-height:   6em;
      &.no-relation{
        max-height: 7.5em;
      }
    }

    @media all and (min-width: $bp-xxxl){
      line-height:  1.6rem;
      max-height:   8rem;
      &.no-relation{
        max-height: 9.6rem;
      }
    }
  }

  .date-and-type,
  .promo-tags,
  .promo-title,
  .text-main{
    padding: 0 1.125rem;
  }


  .promo-title-wrap{
    display:         flex;
    justify-content: space-between;
  }

  .promo-title{
    display:        inline-block;
    line-height:    1.4em;
    max-height:     3.8em;
    overflow:       hidden;
    padding-bottom: 0.375em;
    padding-top:    0.375em;

    &.with-icon{
      padding-right: 0;
      width:         82.5%;
    }
    &.has-tags-after{
      @media all and (min-width: $bp-med) and (max-width: $bp-xl){
        max-height: 2.4em;
      }
      @media all and (min-width: $bp-xl){
        max-height:  2.8em;
      }
    }

    &.has-tags-after.has-relation-after{
      @media all and (min-width: 67em) and (max-width: 84em){
        max-height:  2.4em;
      }
    }

  }

  .image-set-title{
    line-height: 1.4em;
    max-height:  2.8em;
  }

  .date-and-type{
    font-size:      $font-size-slightly-smaller;
    font-weight:    bold;
    padding-bottom: 0.8em;
    padding-top:    1em;
    position:       relative;

    .date{
      max-height:     2.125em;
      max-width:      100%;
      overflow:       hidden;
      text-overflow:  ellipsis;
      white-space:    nowrap;

      &.with-type{
        max-width: 75%;
      }
    }
  }

  .no-date-and-type .date-and-type{
    display: none;
  }

  .relation{
    border-top:    1px solid  $gray87;
    font-size:     $font-size-sm;
    font-style:    italic;
    overflow:      hidden;
    padding:       0.325em 1.125rem;
    text-overflow: ellipsis;
    white-space:   nowrap;
  }

  .promo-tags{
    font-size:      0.875em;
    height:         2em;
    line-height:    1.4em;
    max-height:     2em;
    min-height:     2em;
    overflow:       hidden;
    padding-bottom: 0.15em;
    padding-top:    0.15em;

    li{
      display: inline-block;

      a:not(:empty){
        margin-right:   3px;
        &:hover{
          color:        $eu-blue;
        }
      }
    }
  }

  .type{
    border-radius:  4px;
    bottom:         0.9em;
    color:          #fff;
    font-size:      $font-size-slightly-smaller;
    font-weight:    normal;
    padding:        0.1em 0.6em;
    position:       absolute;
    right:          0.8rem;
    text-transform: uppercase;
  }

  a{
    color: $gray-med;
  }
}

.collections-promo-overlay{

  background-color: #f1f0ee;
  bottom:           3.8em;
  font-size:        0.875em;
  left:             -4px;
  position:         absolute;
  width:            calc(100% - (1.6rem + 2px));

  .collections-promo-overlay-inner{
    background-color: #f1f0ee;
    box-shadow: -2px 0 4px -2px rgba(0, 0, 0, 0.25);
    left:       4px;
    padding:    0.938rem 1.125rem 0.25em 1.125rem;
    position:   relative;
  }

  .description{
    line-height: 1.8em;
    max-height:  7.2em;
    overflow:    hidden;
  }

  .title{
    display:       block;
    font-size:     $font-size-med;
    line-height:   1.4em;
    margin-bottom: 0.8em;
    max-height:    2.8em;
    overflow:      hidden;
  }

  .links{

    display:                 -webkit-flex;
    display:                 flex;
    -webkit-justify-content: space-between;
    justify-content:         space-between;
    margin-top:              $space-half;
    text-align:              center;

    a{
      color: $eu-blue;

      &:last-child{
        bottom:    0.2em;
        font-size: $font-size-med;
        position:  relative;
      }
    }
  }

  .viewmore-image {
    height:      5em;
    margin-left: 0.8em;
    width:       5em;
  }

}

.channel-object-next-prev{

  .bg-link{
    background-position: center;
    background-size:     cover;
    display:             block;
    height:              $card-img-height-def;
    transition:          filter 0.3s ease-out;
    width:               100%;
  }

  &.separator-after{

    margin-right: 48px;
    position:     relative;

    &::after{
      border-right:   1px solid $gray87;
      bottom:         0;
      content:        " ";
      pointer-events: none;
      position:       absolute;
      right:          -34px;
      top:            0;
    }
  }

  &.separator-before{
    margin-left:  48px;
    position:     relative;

    &::before{
      border-right:  1px solid $gray87;
      bottom:        0;
      content:       " ";
      left:          -34px;
      position:      absolute;
      top:           0;
    }
  }
}


.collections-promos{

  display:                 -webkit-flex;
  display:                 flex;
  -webkit-justify-content: space-between;
  justify-content:         space-between;
  margin-bottom:           3px;
  position:                relative;

  .image-set{

    height:        calc($card-img-height-def + 6rem);
    margin-bottom: 1.6em;

    .image-set-inner{
      height:   $card-img-height-def;
      position: static;
    }

    .image-set-info{

      display: block;
      padding: 1em;

      a{
        font-size:   1.1426em;
        font-weight: normal;
      }
    }

    .info{
      bottom: 6.75em;
    }

    .image-set-title{
      max-width:     none;
      text-align:    left;
      text-overflow: unset;
      white-space:   normal;
    }

    .image-set-data{
      display: none;
    }

    .svg-icon-info{
      bottom: 0.7em;
      right:  1.1em;
    }
  }

  .gallery-image-count{
    bottom:    0.8em;
    font-size: 0.875em;
    left:      1.1em;
    position:  absolute;
  }

  .channel-object-next-prev,
  .ve-foyer-card{
    margin:  0;
    padding: 0;
  }

  .icon{
    align-self: center;
  }

  //  .icon-files{
  //    background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-encode-color($gray-med)}' viewBox='0 0 745 1024'%3E%3Cpath d='M651.636 294.788v449.94q0 18.962-13.79 32.753t-32.755 13.793H139.638q-18.963 0-32.754-13.79t-13.79-32.755V93.09q0-18.962 13.79-32.753t32.754-13.79h263.758q5.172 0 11.205 4.31l232.726 232.726q4.31 6.034 4.31 11.205z' class='path1'%3E%3C/path%3E%3C/svg%3E");
  //    background-repeat: no-repeat;
  //    height:            1.4em;
  //    transform:         translate(-0.9em, 2.1em) scale(1.5);
  //    width:             1.3em;
  //  }

  .icon-multi-page{
    background-image:  url("data:image/svg+xml,%3Csvg id='icon-multi-page' viewBox='0 0 23 32' fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.3 24.9c-.7 0-1.3-.6-1.3-1.3v-13c0-.7.6-1.3 1.3-1.3h8.2c.5 0 .9.4.9.9v13.4c0 .7-.6 1.3-1.3 1.3H3.3zM14 20.8V10.3c0-1.4-1.2-2.6-2.6-2.6H5.8v-1c0-.7.6-1.3 1.3-1.3h8c.7 0 1.3.6 1.3 1.3v12.8c0 .7-.6 1.3-1.3 1.3H14zm4-3.9V6.4c0-1.4-1.2-2.6-2.6-2.6H9.8v-1c0-.7.6-1.3 1.3-1.3h8c.7 0 1.3.6 1.3 1.3v12.8c0 .7-.6 1.3-1.3 1.3H18z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    height:            2em;
    -webkit-transform: translate(-0.8em, 0);
    transform:         translate(-0.8em, 0);
    width:             2em;
  }

  .icon-image{
    background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-encode-color($gray-med)}' %3E%3Cpath d='M20.455 4.09q.556 0 .96.405t.404.96V19.09q0 .557-.41.96t-.96.405H1.362q-.554 0-.96-.404T0 19.09V5.456q0-.556.404-.96t.96-.404h19.09zM4.773 6.82q-.86 0-1.452.593t-.59 1.45.597 1.453 1.453.593 1.45-.598.593-1.452-.593-1.45-1.452-.59zM19.09 17.73l-5.453-8.183-5 6.364-3.182-2.27-2.727 4.09H19.09z'%3E%3C/path%3E%3C/svg%3E");
    height:            1.7em;
    -webkit-transform: translate(-1.1em, 0) scale(0.9);
    transform:         translate(-1.1em, 0) scale(0.9);
    width:             1.8em;
  }

  .icon-music{
    background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-encode-color($gray-med)}' %3E%3Cpath d='M21.818 2.475V15q0 1.995-1.376 3.472t-3.396 1.856q-1.97.404-3.37-.39t-1.403-2.312 1.414-2.917 3.36-1.78q1.06-.204 1.842-.204h.655V7.272l-10 2.273v8.182q0 1.995-1.376 3.472t-3.397 1.854q-1.97.404-3.37-.39T0 20.352t1.415-2.917 3.36-1.78q1.06-.202 1.842-.202h.657V5.656q0-.556.39-1.048t.948-.62l11.87-2.6q.555-.126.946.202t.39.884z'%3E%3C/path%3E%3C/svg%3E");
    height:            1.9em;
    -webkit-transform: translate(-1em, 0) scale(0.8);
    transform:         translate(-1em, 0) scale(0.8);
    width:             1.9em;
  }

  .icon-text{
    background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-encode-color($gray-med)}' %3E%3Cpath d='M10.182 24.727q-.162 0-.35-.135-1.05-1.05-2.397-1.86t-2.492-1.238-2.25-.7-1.63-.35-.632-.08Q0 20.308 0 19.877V1.937q0-.214.162-.35.108-.133.35-.133 1.104 0 3.502.754 4.013 1.24 6.52 3.744.134.19.134.35v17.94q0 .322-.296.457-.054.025-.19.025zm2.91 0q-.136 0-.19-.027-.296-.135-.296-.458V6.302q0-.16.135-.35 2.588-2.53 6.52-3.743 2.398-.756 3.476-.756.19 0 .377.135.162.134.162.35v17.94q0 .43-.458.483-.108 0-.633.08t-1.63.35-2.236.7-2.492 1.24-2.384 1.86q-.188.134-.35.134z' class='path1'%3E%3C/path%3E%3C/svg%3E");
    height:            1.7rem;
    -webkit-transform: translate(-0.4em, 0.1em) scale(0.7);
    transform:         translate(-0.4em, 0.1em) scale(0.7);
    width:             1.7rem;
  }

  .icon-tv,
  .icon-video{
    background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-encode-color($gray-med)}' %3E%3Cpath d='M20.455 1.364q.556 0 .96.404t.404.96v15q0 .556-.407.96t-.96.404h-6.818v1.313l3.813 1.92q.277.075.277.403 0 .202-.126.328t-.328.126H4.547q-.354 0-.455-.354-.05-.354.253-.505l3.838-1.92V19.09H1.365q-.556 0-.96-.402T0 17.728v-15q0-.557.405-.96t.96-.405h19.09zm-1.364 15V4.09H2.73v12.274h16.36z'%3E%3C/path%3E%3C/svg%3E");
    height:            1.9em;
    -webkit-transform: translate(-0.8em, 0) scale(0.7);
    transform:         translate(-0.8em, 0) scale(0.7);
    width:             1.9em;
  }

  @media all and (min-width: $bp-small-3) {
    .ve-foyer-card{
      width: $collections-promo-item-min-width;
    }
  }
}

.object-details:not(.zoom-two) {
  .collections-promos{
    @import "channels-object-promos-bp";
  }
}
