$circle-diameter: 75px;

.channel-object-extended-information{

  .colour-data{
    display:         flex;
    justify-content: center;
  }

  .colour-datum{

    border:     0;
    margin:     0;
    text-align: center;

    .preview{
      align-self:    center;
      border-radius: 50%;
      border:        2px solid $white;
      height:        $circle-diameter;
      width:         $circle-diameter;
    }

    .link{
      display:        flex;
      flex-direction: column;
    }
  }

  .colour-hex,
  .colour-name{
    text-align: center;
    top:        100%;
    width:      100%;
  }

  .colour-hex{
    color:      $gray-light;
    font-size:  12px;
    font-weight: bold;
  }

  .colour-name{
    color:     $gray30;
    font-size: 14px;
  }

}
