// this colour is unused elsewhere - the similar #ededed is used on the new item page
$height-drop-down: 50px;
$page-bg-colour:   #ececec;

.channels-browse {

  background: $page-bg-colour;

  .anchor-list {
    background: $eu-very-light-gray;
    border-radius: $base-border-radius;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    color: $black;
    display: flex;
    justify-content: space-between;
    margin: $spacing-2x 0;
    padding: $spacing-1-75x;
  }

  .browse-list-title {
    color: $grid-title-gray;
    font-size: 1.25rem;
    font-weight: normal;
    text-transform: uppercase;

    span::before {
      content: "|";
      display: inline-block;
      padding: $spacing-half;
    }

    span:first-child {
      font-weight: bold;

      &::before {
        display: none;
      }
    }
  }

  .title-bar {
    -webkit-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;

    width: 100%;

    &.show {
      height: 75px;
    }

    .anchor-list {
      margin: 0;
    }
  }

  .header-wrapper > .title-bar {
    opacity: 0;
    padding: 0;

    &.show {
      height:  $height-drop-down;
      opacity: 1;
    }

    .anchor-list{
      align-items:      center;
      background-color: #fff;
      height:           100%;

      a{
        line-height: $height-drop-down;
      }
    }
  }
}
