.channels-item {

  .eu-foldable-title{
    font-weight: bold;
  }
  .eu-foldable-subtitle,
  .eu-foldable-title a{
    color:     $gray-light;
    font-size: 1rem;
  }

  .channel-object-extended-information,
  .channel-object-information{

    margin-top: $space;
    position:   relative;

    .data-group{
      color: $gray-med;
    }

    .data-group,
    .eu-foldable-data{
      a{
        border-bottom: 1px dashed $black;
        color:         $black;

        &:hover{
          border-bottom: 1px dashed $eu-blue;
          color:         $eu-blue;
        }
      }
    }

    .data-section {
      margin:   0 $space;
      position: relative;

      .data-header{
        color:     $gray-light;
        font-size: 1rem;
      }

      .subsection-label{
        color:         $black;
        margin-bottom: 0;
        padding-left:  0;
        padding-right: 0;
      }

      &:first-of-type{
        border-top: 0;
      }

      .subsection-label,
      .data-header{
        line-height: 1.6;
      }

    }

    .channel-object-title{
      .close,
      .open{
        font-size: 1rem;
        top: 0;

        &::before{
          bottom:      0;
          content:     attr(data-before);
          font-size:   $font-size-slightly-smaller;
          font-weight: lighter;
          line-height: 1.5rem;
          position:    absolute;
          right:       2rem;
          text-align:  right;
          width:       300px;
        }
      }
    }

    .map{
      margin-top: $space-half;
    }
  }

  .channel-object-extended-information{

    .closed{
      .subsection-content{
        display: none;
      }
    }
    .closed{
      .close{
        display: none;
      }
      .open{
        display: block;
      }
    }

    :not(.closed){
      .close{
        display: block;
      }
      .open{
        display: none;
      }
    }

    .ctrl,
    .ctrl .icon{
      display:  block;
      height:   1.5em;
      width:    1.5em;
    }

    .ctrl{
      border:   1px solid #ccc;
      cursor:   pointer;
      position: absolute;
      right:    0;
      top:      1.6em;

      &.close{
        padding: 5px;

        .icon{
          -webkit-transform: scale(0.45) translate(-0.85em, -0.85em);
          transform:         scale(0.45) translate(-0.85em, -0.85em);
        }
      }

      &.open{
        .icon{
          background-position: 0.12em 0.1em;

          -webkit-transform:   scale(0.7) translate(-0.05em, -0.05em);
          transform:           scale(0.7) translate(-0.05em, -0.05em);
        }
      }

      // removed hover (box-shadow: $box-shadow-panel)

      .icon{
        display:  block;
      }
    }
    @media all and (min-width: $bp-med) {

      .ctrl,
      .ctrl .icon{
        display:  block;
        height:   1.15em;
        width:    1.15em;
      }

      .ctrl.open .icon{
        background-position: 0.12em 0.1em;
      }

    }

    .subsection-content{
      padding-right: 3.4em;
      position:      relative;
    }

    .data-section {
      .subsection-label{
        color: $gray-med;
      }
    }

  }
}
