@import "channels-object-media-viewer";
@import "channels-object-promos-base";
@import "channels-object-media-actions";
@import "channels-object-metadata";
@import "channels-object-variables";

.channel-object-creators {
  display: none;
  text-align: right;
}

.channel-object-viewmore {
  margin-bottom: 1rem;
  text-align: right;

  h3 {
    color:         $gray-med;
    display:       inline-block;
    font-weight:   normal;
    line-height:   50px;
    margin-bottom: 0;
    width:         auto;

    &:hover{
      color: $eu-blue;
    }
  }

  a {
    color:     $linkblue;
    display:   inline-block;
    font-size: $font-size-sm;
  }
}

.viewmore-image {
  background-color:    $eu-very-light-gray;
  background-position: center;
  background-size:     cover;
  border-radius:       50%;
  display:             inline-block;
  float:               right;
  height:              50px;
  margin-left:         2em;
  width:               50px;
}

.channels-item {

  background: #ededed;

  .with-transparency .object-nav{
    background: rgba(237, 237, 237, 0.85);
  }

  @media all and (min-width: $bp-med) {

    .object-details:not(.zoom-two){

      .channel-object-overview,
      .channel-object-similar{
        @include span(24);
      }

      &.has-right-column{
        .channel-object-overview,
        .channel-object-similar{
          @include span(18);
        }
      }
    }

    .object-details.no-right-column.zoom-one{
      .channel-object-overview,
      .channel-object-similar{
        padding: 0;
      }
    }

    .object-details:not(.zoom-two) .channel-object-actions{

      .next-item-title,
      .previous-item-title{
        display:        block;
        font-size:      $font-size-sm;
        font-weight:    bold;
        margin-bottom:  $space;
        text-transform: uppercase;
      }
    }
  }


  @media all and (min-width: $bp-xl) {

    .object-details:not(.zoom-one) .channel-media-wrap:not(.empty){
      .channel-object-media-nav  .media-thumb-section::after{
        top: 1.6em;
      }
    }
  }

  .title-bar {
    background: $white;
    box-shadow: $box-shadow-panel;
    box-sizing: border-box;
    font-size:  $font-size-sm;
    position:   relative;
    -webkit-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;

    .content{
      bottom:   0;
      height:   100%;
      padding:  $pad-quarter $pad;
      position: absolute;
      width:    100%;

      .img-remind{
        cursor:     pointer;
        display:    block;
        margin:     auto;
        max-height: 100%;
      }

      .text-left{
        display:           block;
        position:          absolute;
        top:               50%;
        -webkit-transform: translateY(-50%);
        transform:         translateY(-50%);
      }
    }
  }

  .channel-media-wrap,
  .suggestions-section,
  .channel-object-information{
    box-shadow: $box-shadow-panel;
  }

  .channel-media-wrap  {
    position: relative;
  }

  .channel-object-information,
  .channel-media-wrap  {
    background: $white;
  }

  .channel-object-title{
    color: $black;
  }

  .subtitle {
    color: $gray-light;
  }

  .channel-object-no-preview,
  .object-origin{
    .svg-icon-external{
      top: 0.35em;
    }
  }

  .channel-object-no-preview{

    background-color: $green-grey-bg;
    color:            $gray-light;
    margin:           1.6rem auto 1.6rem auto;
    padding:          $pad $pad-half;

    @media all and (min-width: $bp-xl) {
      margin: 0 auto;
      width:  35%;
    }

    .go-to-source{
      background-color: $eu-blue;
      border-radius:    2px;
      color:            $white;
      display:          inline-block;
      font-weight:      bold;
      left:             50%;
      margin:           $space 0;
      padding:          0.8rem 2.6rem 0.8rem 1.6rem;
      position:         relative;
      text-transform:   uppercase;
      transform:        translateX(-50%);

      &::after{

        background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 745 1024'%3E%3Cpath fill='%23fff' d='M512 584.404l93.091-63.785v99.987q0 37.926-27.582 65.508t-65.508 27.582h-418.909q-37.926 0-65.508-27.582t-27.582-65.508v-372.364q0-37.926 27.582-65.508t65.508-27.582h263.758v37.926q-84.471 12.929-143.084 55.165h-120.673v372.364h418.909v-36.202zM737.832 328.404q6.896 5.172 6.896 12.929 0 8.62-6.896 12.929l-294.788 201.697q-3.448 2.586-8.62 2.586-3.448 0-6.896-1.724-8.62-4.31-8.62-13.791v-109.468q-49.993 0.862-91.798 8.189t-65.508 15.515-43.098 19.825-24.566 16.377-9.481 9.912l-0.862 0.862q-4.31 7.758-12.929 7.758h-3.448q-10.343-2.586-12.067-14.653 0-104.296 62.061-169.805 68.956-74.128 201.697-78.438v-109.468q0-9.481 8.62-13.791 8.62-5.172 15.515 0.862z'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        content:           " ";
        display:           inline-block;
        height:            1.2em;
        left:              1em;
        margin:            0 auto 0.25em auto;
        position:          relative;
        top:               0.6em;
        transform:         scale(1.4);
        width:             1em;
      }
    }

    .go-to-source-intro,
    .go-to-source-explanation{
      display: block;
    }

    .go-to-source-explanation{
      font-size: $font-size-slightly-smaller;
    }
  }

  .eu-slide-nav {
    position:           absolute;
    top:                50%;
    -webkit-transform:  translateY(-50%) scale(0.75);
    transform:          translateY(-50%) scale(0.75);

    &.eu-slide-nav-left{
      background-position: 1em 1.15em;
      left: 0.5em;
    }

    &.eu-slide-nav-right{
      background-position: 1.25em 1.15em;
      right: -0.5em;
    }

    &.disabled{
      visibility: hidden;
    }
  }

  .channel-object-similar{

    padding-top: $space;

    .channel-object-title{

      padding-left: 1em;

      @media all and (min-width: $bp-med) {
        padding-left: 0;
      }
    }

    .suggestions-section{

      background-color: #fff;
      padding:          $pad $space;
      position:         relative;

      > h2{
        margin-top: $space;
      }
      .display-grid{
        overflow: hidden;
      }
    }
  }

  .js-swipeable{
    position: relative;
  }

  .channel-object-actions{

    overflow: hidden;
    position: relative;

    .next-item-title,
    .previous-item-title{
      display: none;
    }

  }

  .slide-rail{
    left:     0;
    position: relative;

    &.js-swipe-transition{
      transition: left 0.3s linear;
    }
  }

  .suggestions{

    display: block;
    padding: 0.6em 0;

    &.as-tabs{

      height: 24em;

      .tab-header{
        &.js-last::after{
          border-bottom: 1px solid $gray-lighter;
          bottom:        -1px;
          content:       " ";
          left:          100%;
          position:      absolute;
          width:         100em;
        }
      }
    }

    &.as-tabs{
      .tab-content.active{
        display: table;
        .suggestion-item{
          display: table-cell;
        }
      }
    }

    .tab-content{
      padding: 0.6em 0;
    }

    .suggestion-item{

      min-width: 200px;
      padding:   1em 0.5em;
      width:     200px;

      h2{
        font-size:   $font-size-norm;
        font-weight: normal;
        hyphens:     none;
        line-height: 1.3em;
        margin:      0;
        max-height:  3.75em;
        overflow:    hidden;
        padding:     0.5em 0;
        // word-break:  break-all;
      }
    }
  }


  // split bp-xl
  .object-details::after{
    content:    "#{$min-width-media}";
    display:    block;
    overflow:   hidden;
    position:   absolute;
    visibility: hidden;
    width:      0;
  }

  @media all and (min-width: $bp-med) {

    .media-poster{
      min-width: $min-width-media;
    }

    .object-details::after{
      content: "#{$min-width-media},#{$bp-med}";
      width:   1px;
    }

    .object-details:not(.zoom-two){
      .channel-object-actions{
        @include span(last 6);

        .eu-slide-navs{
          display: none;
        }
      }
    }
  }

  @media all and (min-width: $bp-xl) {

    .object-details::after{
      content: "#{$min-width-media},#{$bp-med},#{$bp-xl}";
      width: 2px;
    }

    .object-details:not(.zoom-two){

      has-right-column{
        .object-media-viewer {
          max-width: $max-width;
        }
      }

      &.no-right-column.zoom-one{
        .object-media-viewer {
          max-width: none;
        }
      }
    }

    .object-details:not(.zoom-one){

      .channel-media-wrap{
        padding-bottom: $pad-double;
      }

      .channel-object-title {
        display: block;

        &.top {
          display: none;
        }
      }

      &.no-right-column{
        .title-desc-media-nav {
          margin-left: 3.2em;
        }
      }

      .title-desc-media-nav {
        display:        -webkit-flex;
        display:        flex;
        flex-direction: column;
        margin-left:    1rem;
        width:          calc(100% - (#{$min-width-media} + 2rem));

        .channel-object-media-nav {
          margin-left:  0;
          margin-right: 0;
          order:        4;
          transform:    translateX(2px);
          width:        100%;

          .media-thumb-section{
            margin: 1em 0;
          }
          .media-thumbs{
            padding:  0 60px 0 60px;
          }
        }

        .channel-object-viewmore {
          order: 5;
        }
      }

      .object-media-viewer {
        display:                 -webkit-flex;
        display:                 flex;
        -webkit-justify-content: space-between;
        justify-content:         space-between;
        text-align:              left;
      }

      .single-item-thumb{
        margin:    auto;
        max-width: $min-width-media;
      }

      .single-item-thumb,
      .media-poster{
        display:   inline-block;
      }

      .media-poster{
        margin:    0;
      }

      .single-item-thumb-sizer{
        visibility: hidden;
      }
    }

    .object-details:not(.zoom-one):not(.zoom-two){
      .zoomable{
        margin: auto;
      }
    }

  } // end bp-xl

}
