.site-hero.galleries{

  margin-top: 0;
  h1{
    text-transform: none;
  }
  .hero-text{
    background-color: transparent;
    bottom: auto;
    position: relative;
    width: auto;
    h1{
      font-weight: bold;
    }
    h3{
      font-weight: normal;
    }
  }
}

.gallery-header{

  margin:     2rem auto 0;
  max-width:  90%;
  text-align: center;

  h4{
    font-size: $font-size-med;
    margin:    2em auto 1.2em;
  }

  .social-share{
    font-size: 0.85em;
  }

  @media all and (min-width: $bp-small-3) {

    display:         flex;
    justify-content: flex-end;
    position:        relative;

    h4{
      font-size: $font-size-slightly-smaller;
      margin: 0.9em 1.1em 0 0;
    }

    .filterby{
      left:       0;
      position:   absolute;
      top:        1.4em;
      transform:  translateY(-50%);
    }
  }

  @media all and (min-width: $bp-xxl) {
    max-width: none;
  }
}


.lg-outer{
  .lg{
    @media all and (max-width: $bp-xl) {

      .lg-sub-html span:not(.title):not([resource]){
        &::after{
          content: ', ';
        }
      }
    }

    @media all and (min-width: $bp-xl) {

      .lg-inner{
        width: 80%;
      }

      .lg-actions .lg-next{
        right: 23%;
      }

      .lg-sub-html{
        left:             80%;
        padding-top:      3.5em;
        top:              0;

        span{
          display:       block;

          &:not(.title){
            margin-bottom: 1em;
          }

          &.title{
            margin-bottom: 0.4em;
          }
        }
        .object-license a span{
          display: inline-block;
        }
      }
    }

    .lg-sub-html{

      background-color: #333;
      text-align:       left;

      .title{
        font-weight: bold;
      }

      .capitalise{
        text-transform: uppercase;
      }

      a{
        border-bottom: dashed 1px #eee;
        color:         #eee;
        display:       inline;

        &:hover{
          border-bottom: solid 1px #eee;
        }
        svg.icon{
          margin-right: 0;
        }
      }

      .license .svg-icon-linkout{
        margin-top: -1.3em;
        transform:  scale(0.7) translateY(1.6em);
      }

      .institution-logo{
        align-self:          flex-end;
        background-color:    #fff;
        background-position: center;
        background-repeat:   no-repeat;
        margin-bottom:       0.5em;
        margin-left:         auto;
        margin-right:        auto;
        margin-top:          auto;
      }
    }
  }
}


.masonry-items{

  margin-bottom: 2em;

  .gutter-sizer{

    width:      0;

    @media all and (min-width: $bp-small-3) {
      width:    4%;
    }

    @media all and (min-width: $bp-med) {
      width:    1.5%;
    }

    @media all and (min-width: $bp-large) {
      width:    5%;
    }
  }

  &.gallery-foyer{
    .masonry-item{
      @media all and (max-width: $bp-med) {
        margin: 0 auto 2em;
      }
    }
  }

  &.gallery{
    .masonry-item{
      @media all and (max-width: $bp-small-3) {
        margin: auto;
      }
    }
  }

  .masonry-item,
  .grid-sizer{

    width:  100%;

    @media all and (min-width: $bp-small-3) {
      width:    48%;
    }

    @media all and (min-width: $bp-med) {
      width:    48.5%;
    }

    @media all and (min-width: $bp-large) {
      width:    30%;
    }

  }

  &.gallery,
  &.gallery-foyer{
    margin:    auto;
  }

  &.gallery{

    max-width: 400px;

    @media all and (min-width: $bp-small-3) {
      max-width: 90%;
    }

    @media all and (max-width: $bp-med) {
      .masonry-item,
      .grid-sizer{
        max-width:  400px;
      }
    }

    .masonry-item{
      img{
        cursor: pointer;
      }
    }

  }

  &.gallery-foyer{

    max-width: 450px;

    @media all and (min-width: $bp-small-3) {
      max-width: 90%;
    }

    .category-flag{
      max-width:     60%;
      overflow:      hidden;
      text-overflow: ellipsis;
      white-space:   nowrap;
    }
  }

  &.gallery,
  &.gallery-foyer{
    @media all and (min-width: $bp-xxl) {
      max-width: 100%;
    }
  }
}

.image-col.justified{
  display:         flex;
  flex-direction:  column;
  height:          100%;
  justify-content: space-between;
}
