$nav-width:         50px;
$nav-widths:        calc(2 * #{$nav-width});
$visible-height:    5em;
$height-scrollable: calc(#{$visible-height} + 2em);
$spacing-gap:       1.5em;
$lc-full-width:     100%;
$lc-width:          calc(#{$lc-full-width} - #{$nav-widths});

.light-carousel{

  height:     $visible-height;
  overflow:   hidden;
  padding:    0 50px;
  position:   relative;
  width:      $lc-full-width;

  .item-container {
    align-items:  center;
    display:      flex;
  }

  .item{
    background-color:   #ffa500;
    color:              #fff;
    min-height:          $visible-height;
    min-width:           $visible-height;
    padding:            1em 1em;
  }

  .nav-left,
  .nav-right{
    background-color: #333;
    border-radius:    25px;
    color:            #fff;
    display:          inline-block;
    font-weight:      bold;
    height:           50px;
    line-height:      50px;
    position:         absolute;
    text-align:       center;
    top:              calc(2.5em - 25px);
    width:            $nav-width;
  }

  .nav-left{
    left: 0;
  }

  .nav-right{
    right: 0;
  }

  .wrapper-hide-scroll{
    overflow: hidden;
  }

  &.mouse-wheel{

    .wrapper-hide-scroll{
      transform:        translateX(-$visible-height) rotate(-90deg);
      transform-origin: right top;
    }

    .wrapper-hide-scroll,
    .item-container{
      height:   $lc-width;
      width:    $visible-height;
    }

    .carousel-scrollable{
      overflow:   hidden;
      overflow-y: scroll;
      width:      $height-scrollable;
    }

    .item-container{
      flex-direction: column;
    }

    .item{
      transform:          rotate(90deg);
      transform-origin:   center;

      &:not(:first-of-type){
        margin-top:         $spacing-gap;
      }
    }
  }

  &:not(.mouse-wheel){

    .item{
      &:not(:first-of-type){
        margin-left:  $spacing-gap;
      }
    }

    .wrapper-hide-scroll,
    .carousel-scrollable{
      height: $height-scrollable;
    }

    .wrapper-hide-scroll,
    .item-container{
      //width:  $lc-width;
      height: $visible-height;
    }

    .carousel-scrollable{
      height:      calc($visible-height + 2em);
      overflow:   hidden;
      overflow-x: scroll;
    }
  }
}
