.show-with-grid{
  display: none;
}

// Single List item in search results
.search-list-item{
  border-bottom: 1px solid $gray87;
  margin-bottom: $space;

  .item-info{

    @media all and (min-width: $bp-small) {
      @include span(12 of 18);
    }

    @media all and (min-width: $bp-small-3) {
      @include span(14 of 18);
    }

    @media all and (min-width: $bp-med) {
      @include span(13 of 18);
      margin-left: span(1 of 18 wide);
    }
  }

  h2{
    font-family: $font-secondary;
    font-size: $font-size-med;
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: $space-half;

    a:hover,
    a:focus{
      border-bottom: 1px dotted $textcolour_link_hover;
    }
  }

  h3{
    font-size:   0.75rem;
    font-weight: bold;
  }

  footer{
    @extend .cf;
    font-size: 1.1em;
    margin-bottom: $space;
  }

  .highlight-text{
    font-size: 0.8em;
    position:  relative;
    top:       -2px;
  }

  .excerpt{
    display: none;

    @media all and (min-width: $bp-small-3) {
      display: block;
      margin-bottom: $space-half;
    }
  }

  .item-origin a.external::after{
    position: relative;
    top:      0.15em;
  }

  .item-origin,
  .item-concepts,
   {
    margin-bottom: $space-quarter;
  }

  .item-origin{
    font-weight: bold;
  }

  .item-concepts{
    color: $gray-light;
    font-size: $font-size-slightly-smaller;
  }

  .item-preview{

    text-align: center;

    a:not(.show-with-grid){
      display: block;

      img{
        max-height: 22em;
      }
    }

    @media all and (min-width: $bp-small) {
      @include span(last 6 of 18);
    }
    @media all and (min-width: $bp-small-3) {
      @include span(last 4 of 18);
      min-height: 10em;
    }
  }

  .item-actions{
    @include span(last 2 of 13);
    text-align: right;
  }

  .item-info{

    .svg-icon{
      display:   inline-block;
    }

    .svg-icon-image{
      height:    1.2em;
      transform: scale(0.76) translateY(0.2em);
      width:     1.2em;
    }


    .svg-icon-music{
      height:    1.3em;
      transform: scale(0.8) translateY(0.3em);
      width:     1.3em;
    }

    .svg-icon-openbook{
      height:    1.4em;
      transform: scale(0.67) translateY(0.4em);
      width:     1.4em;
    }

    .svg-icon-tv{
      height:    1.4em;
      transform: scale(0.7) translateY(0.55em);
      width:     1.4em;
    }

    &.show-with-grid{
      .svg-icon-image{
        height:    1.4em;
        width:     1.4em;
      }
    }

  }

}

.sneak-peek-content{
  .display-grid{

    &.not-loaded{
      height: 1px;
      overflow: hidden;
      width: 1px;
    }

    .search-list-item,
    .grid-sizer{
      width:      100%;

      @media all and (min-width: $bp-small-3) {
        width:    50%;
      }

      @media all and (min-width: $bp-med) {
        width:    48.5%;
      }

      @media all and (min-width: $bp-large) {
        width:    32.5%;
      }

      @media all and (min-width: $bp-xl) {
        width:    25%;
      }
    }
  }
}

.display-grid{

  .show-with-grid{
    display: block;
  }

  .search-list-item .item-info{

    .svg-icon-tv{
      transform: scale(0.7) translateY(-0.2em);
    }

    .svg-icon-image{
      transform: scale(0.7) translateY(-0.1em);
    }

    .svg-icon-music{
      height:    1.6em;
      transform: scale(0.7) translateY(-0.3em);
      width:     1.6em;
    }

    .svg-icon-openbook{
      height:    1.4em;
      transform: scale(0.6) translateY(-0.4em);
      width:     1.4em;
    }

    &.show-with-grid{

      .svg-icon-music{
        height:    1.6em;
        width:     1.6em;
      }

      .svg-icon-openbook{
        height:    1.7em;
      }

    }
  }

  .result-items{
    @media all and (min-width: $bp-large) {
      margin-left: 1em;
      margin-right: -1em;
    }
  }

  .search-list-item,
  .grid-sizer{
    width:      100%;

    @media all and (min-width: $bp-small-3) {
      width:    50%;
    }

    @media all and (min-width: $bp-med) {
      width:    100%;
    }

    @media all and (min-width: $bp-large) {
      width:    48.5%;
    }

    @media all and (min-width: $bp-xl) {
      width:    32.5%;
    }
  }

  .search-list-item{

    border:     0;
    float:      left;
    overflow:   hidden;
    position:   relative;

    h2{
      font-size:     $font-size-norm;
      line-height:   1.4;
    }

    h2,
    h3{
      overflow:      hidden;
      text-overflow: ellipsis;
      white-space:   nowrap;
    }

    a.show-with-grid{
      display:    inline;
      position:   relative;
    }

    .hide-with-grid{
      display: none;
    }

    .icon{
      margin:     0;
    }

    .item-info{

      border:     1px solid #dedede;
      border-top: 0;

      float:      none;
      margin:     0 0.5em;
      padding:    0.5em;
      position:   relative;
      width:          auto;

      footer{
        margin:    0;
        position:  absolute;
        right:     0.5em;
        top:       50%;
        transform: translateY(-50%);

        .item-metadata{
          float:      none;
          height:     1em;
          margin:     0;
          width:      1em;
        }
      }

      .excerpt,
      .item-concepts,
      .item-origin{
        display: none;
      }

      h2{
        margin-bottom:  0;
        max-height:     1.4em;
      }
      h2,
      h3{
        margin-right:   1.6rem;
      }
      h3{
        height:        2em;
        margin-bottom: 0;
        transform:     translateY(1em);
      }
    }

    .item-agent-data{

      border: 1px solid #dedede;
      display: none;

      height:           100%;
      margin:           0 0.5em;
      padding:          0 1em 1em 1em;

      .item-agent{
        bottom:           1.8em;
        overflow:         hidden;
        padding-right:    4em;
        position:         absolute;
        text-overflow:    ellipsis;
        white-space:      nowrap;
        width:            100%;
      }
    }

    .item-preview{
      border:           1px solid #dedede;
      border-bottom:    0;

      float:            none;
      margin:           0.5em 0.5em 0 0.5em;
      min-height:       unset;

      width:            auto;

      .item-image{
        a img{
          background-repeat: no-repeat;
          background-size: cover;
          max-height: 100%;
          max-width:  100%;
          min-height: 12em;
          object-fit: cover;
          width: 100%;
        }
        &.super-tall a img{
          max-height: 22em;
          object-fit: contain;
        }
      }


    }

    &.missing-image{

      .item-info{
        border:     0;
        bottom:     1.56em;
        height:     1em;
        position:   absolute;
        right:      1.56em;
        width:      1em;
        .icon{
          color:     $gray-light;
          float:     right;
          font-size: 1.1em;
          left:      1.1em;
          position:  relative;
          top:       4px;
        }
      }

      .item-preview{
        border-bottom: solid 1px #dedede;
        overflow:      hidden;
        padding-top:   0.6em;
        text-align:    left;
      }

      .missing-image-text{
        line-height:   1.6em;
        margin-bottom: 2em;
        margin-right:  -0.5em;
        max-height:    16em;
        overflow:      hidden;
        padding-left:  1.5em;
        padding-right: 2em;
        position:      relative;
        text-align:    justify;

        &::before,
        &::after {
          position:   absolute;
          right:      1em;
        }

        &::before {
          bottom:  1px;
          content: '...';
        }

        &::after {
          background: #fff;
          content:    '';
          height:     1.6em;
          width:      1em;
        }
      }
    }
  }
}
