.show-with-grid{
   display: none;
}

// Single List item in search results
.search-list-item{
  margin-bottom: $space;
  border-bottom: 1px solid $gray87;

  .item-info{

    @media all and (min-width: $bp-small) {
      @include span(12 of 18);
    }

    @media all and (min-width: $bp-small-3) {
      @include span(14 of 18);
    }

    @media all and (min-width: $bp-med) {
      @include span(13 of 18);
      margin-left: span(1 of 18 wide);
    }
  }

  h2{
    font-size: $font-size-med;
    margin-bottom: $space-half;
    font-weight: normal;
    font-family: $font-secondary;
    line-height: 1.4;

    a:hover, a:focus{
      border-bottom: 1px dotted $textcolour_link_hover;
    }
  }

  h3{
    font-size:   0.75rem;
    font-weight: bold;
  }

  footer{
    font-size: 1.1em;
    margin-bottom: $space;
    @extend .cf;
  }

  .highlight{
    color: $gray-light;
  }

  .highlight-text{
    font-size: 0.8em;
    position:  relative;
    top:       -2px;
  }

  .excerpt{
    display: none;

    @media all and (min-width: $bp-small-3) {
      display: block;
      margin-bottom: $space-half;
    }
  }

  .item-origin,
  .item-concepts,
   {
    margin-bottom: $space-quarter;
  }

  .item-origin{
    font-weight: bold;
  }

  .item-concepts{
    font-size: $font-size-slightly-smaller;
    color: $gray-light;
  }

  .item-preview{

    text-align: center;

    a:not(.show-with-grid){
      display: block;

      img{
        max-height: 22em;
      }
    }

    @media all and (min-width: $bp-small) {
      @include span(last 6 of 18);
    }
    @media all and (min-width: $bp-small-3) {
      @include span(last 4 of 18);
      min-height: 10em;
    }
  }

  .item-metadata{
    @include span(11 of 13);
  }

  .item-actions{
    @include span(last 2 of 13);
    text-align: right;
  }

  .item-type svg{
    margin-right: -4px;
  }

}


// Single List item in search result grid

.display-grid{

  .show-with-grid{
    display: block;
  }

  .result-items{
    @media all and (min-width: $bp-large) {
      margin-left: 1em;
      margin-right: -1em;
    }
  }

  .search-list-item,
  .grid-sizer{
    width:      100%;

    @media all and (min-width: $bp-small-3) {
      width:    50%;
    }

    @media all and (min-width: $bp-med) {
      width:    100%;
    }

    @media all and (min-width: $bp-large) {
      width:    48.5%;
    }

    @media all and (min-width: $bp-xl) {
      width:    32.5%;
    }
  }

  .search-list-item{

    border:     none;
    float:      left;
    overflow:   hidden;
    position:   relative;

    h2{
      font-size:     $font-size-norm;
      line-height:   1.4;
    }

    h2, h3{
      overflow:      hidden;
      text-overflow: ellipsis;
      white-space:   nowrap;
    }

    a.show-with-grid{
      display:    inline;
      position:   relative;
    }

    .hide-with-grid{
      display: none;
    }

    .item-type{
      visibility: collapse;
    }
    .icon{
      visibility: visible;
      margin:     0;
    }

    .item-info{

      border:     1px solid #dedede;
      border-top: 0;

      float:      none;
      margin:     0 0.5em;
      padding:    0.5em;
      position:   relative;
      width:          auto;

      footer{
        margin:    0;
        position:  absolute;
        right:     0.5em;
        top:       50%;
        transform: translateY(-50%);

        .item-metadata{
          float:      none;
          height:     1em;
          margin:     0;
          width:      1em;
        }
      }

      .excerpt,
      .item-concepts,
      .item-origin{
         display: none;
      }

      h2{
        margin-bottom:  0;
        max-height:     1.4em;
      }
      h2, h3{
        margin-right:   1.6rem;
      }
      h3{
        margin-top:    $space-quarter;
        margin-bottom: $space-half;
      }
    }

    .item-agent-data{

      display: none;
      border: 1px solid #dedede;

      height:           100%;
      margin:           0 0.5em;
      padding:          0 1em 1em 1em;

      .item-agent{
        bottom:           1.8em;
        overflow:         hidden;
        padding-right:    4em;
        position:         absolute;
        text-overflow:    ellipsis;
        white-space:      nowrap;
        width:            100%;
      }
    }

    .item-preview{
      border:           1px solid #dedede;
      border-bottom:    0;

      float:            none;
      margin:           0.5em 0.5em 0 0.5em;
      min-height:       unset;

      width:            auto;

      .item-image{
        a img{
          background-size: cover;
          background-repeat: no-repeat;
          max-width:  100%;
          max-height: 100%;
          min-height: 12em;
          object-fit: cover;
          width: 100%;
        }
        &.super-tall a img{
          max-height: 22em;
          object-fit: contain;
        }
      }


    }

    &.missing-image{

      .item-info{
        border:     0;
        bottom:     1.56em;
        height:     1em;
        position:   absolute;
        right:      1.56em;
        width:      1em;
        .icon{
          color:     $gray-light;
          float:     right;
          font-size: 1.1em;
          left:      1.1em;
          position:  relative;
          top:       4px;
        }
      }

      .item-preview{
        border-bottom: solid 1px #dedede;
        padding-top:   0.6em;
        text-align:    left;
        overflow:      hidden;
      }

      .missing-image-text{
        line-height:   1.6em;
        max-height:    16em;
        overflow:      hidden;
        position:      relative;
        text-align:    justify;
        margin-right:  -0.5em;
        padding-left:  1.5em;
        padding-right: 2em;
        margin-bottom: 2em;

        &:before,
        &:after {
          position:   absolute;
          right:      1em;
        }

        &:before {
          bottom:  1px;
          content: '...';
        }

        &:after {
          background: white;
          content:    '';
          height:     1.6em;
          width:      1em;
        }
      }
    }
  }
}