

// Single List item in search results
.search-list-item{

	position: relative;
	margin-bottom: $space-double;

	.item-info{
		@include span(11 of 12);
		margin-left: span(1 of 12 wide);

		@media all and (min-width: $bp-small-3) {
			@include span(13 of 18);
			margin-left: span(1 of 18 wide);
		}
	}

	h1{
		font-size: $font-size-med;
		margin-bottom: $space-half;
		font-weight: normal;
		font-family: $font-secondary;
		line-height: 1.4;

		a:hover, a:focus{
			border-bottom: 1px dotted $textcolour_link_hover;
		}
	}

	// External links
	a[href*="//"]:not([href*="europeana.eu"]):after{
		@extend %external_link_icon;
	}

	footer{
		font-size: $font-size-slightly-smaller;
		padding: $space-half 0;
		border-bottom: 1px solid $gray87;
		@extend .cf;
	}

	.excerpt{
		margin-bottom: $space-half;
	}

	.item-origin{
		font-weight: bold;
	}

	.item-preview{

		// background-color: $gray-lighter;
		min-height: 10em;
		display: none;

		@media all and (min-width: $bp-small-3) {
			display: block;
			@include span(last 4 of 18);
		}
	}

	.item-metadata{
		@include span(11 of 13);
	}

	.item-actions{
		@include span(last 2 of 13);
		text-align: right;
	}

	.item-type svg{
		margin-right: -4px;
	}
}