

// Single List item in search results
.search-list-item{

	position: relative;
	margin-bottom: $space;
	border-bottom: 1px solid $gray87;

	.item-info{
		//@include span(11 of 12);
		//margin-left: span(1 of 12 wide);

		@media all and (min-width: $bp-small) {
			@include span(12 of 18);
		}

		@media all and (min-width: $bp-small-3) {
			@include span(14 of 18);
		}

		@media all and (min-width: $bp-med) {
			@include span(13 of 18);
			margin-left: span(1 of 18 wide);
		}
	}

	h1{
		font-size: $font-size-med;
		margin-bottom: $space-half;
		font-weight: normal;
		font-family: $font-secondary;
		line-height: 1.4;

		a:hover, a:focus{
			border-bottom: 1px dotted $textcolour_link_hover;
		}
	}

	footer{
		font-size: $font-size-slightly-smaller;
		margin-bottom: $space;
		@extend .cf;
	}

	.highlight{
		color: $peachy;
	}

	.excerpt{
		display: none;

		@media all and (min-width: $bp-small-3) {
			display: block;
			margin-bottom: $space-half;
		}
	}

	.item-origin,
	.item-concepts,
	 {
		margin-bottom: $space-quarter;
	}

	.item-origin{
		font-weight: bold;
	}

	.item-concepts{
		font-size: $font-size-slightly-smaller;
		color: $gray-light;
	}

	.item-preview{

		text-align: center;

		a{
			display: block;
		}

		@media all and (min-width: $bp-small) {
			@include span(last 6 of 18);
		}
		@media all and (min-width: $bp-small-3) {
			@include span(last 4 of 18);
			min-height: 10em;
		}
	}

	.item-metadata{
		@include span(11 of 13);
	}

	.item-actions{
		@include span(last 2 of 13);
		text-align: right;
	}

	.item-type svg{
		margin-right: -4px;
	}
}