
.show-more-mlt{
  display:       block;
    font-weight:   bold;
    text-align:	   right;
}


.js-carousel ul{
  position: relative;
}



.js-carousel .js-carousel-item{

  margin:					  0;
  text-align:				center;

  @media all and (min-width: $bp-med) {

    width:					48%;
    float:					left;
    text-align:			left;
  }
}


.js-carousel.v .js-carousel-item{

  width:					auto;
  margin:					1% 0;
  text-align:			center;

  @media all and (min-width: $bp-med) {
    width:          auto;
    float:					none;
    text-align:			left;
  }
}


.mlt-img-div{

  background-repeat:   no-repeat;
  background-size:     cover;
  background-position: center;
  margin:              0 auto $space-quarter auto;
  position:				     relative;
}


/* technique to keep height the same as (dynamic) width used for large view

  see here: http://www.mademyday.de/css-height-equals-width-with-pure-css.html

*/

.height-to-width .inner{
  position:	absolute;
  top:		0;
  bottom:		0;
  left:		0;
  right:		0;
}


.height-to-width .inner .link{
  position:	absolute;
  display:	block;
  width:		100%;
  height:		100%;
}

.js-carousel-title{
  display:		block;
  line-height:	1.6em;
  overflow:		hidden;
}

.js-carousel.v .js-carousel-title{
  height:			  1.6em;
}


@media all and (max-width: $bp-large) {

   // TODO move to object
  .mlt .height-to-width{
    height: $thumbnail_max_dimension;
  }

  // TODO move to object
  .media-thumbs .height-to-width{
    height: $thumbnail_max_dimension / 2;
    width:  $thumbnail_max_dimension / 2;
  }

}


@media all and (min-width: $bp-large) {

  // TODO rempove
  .js-carousel .js-carousel-item{
    width:					24%;
    margin:					0;
    }

  .js-carousel .js-carousel-item,
  .js-carousel .js-carousel-title{
    max-width:	$thumbnail_max_dimension;
  }

  .js-carousel.v .js-carousel-title{
     text-align: center;
  }

  .height-to-width{
    height:		auto;
  }

  .height-to-width:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}


/* js overrides */


.js-carousel .js-carousel-item{
  margin-left: 0;
  margin-right: 0;
  float: left;

  width:  $thumbnail_max_dimension / 2;

}


.js-carousel{
  position: relative;
  .h{
    margin: 0 3em;
    overflow-y: hidden;

    @media all and (min-width: $bp-med) {
      margin: 0 3em 0 0;
    }
  }

  .v{
    margin: 2em 0 2em 0;
    overflow-x: hidden;

     .js-carousel-item{
        // width:  auto;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
  }
}



.js-carousel.loading ul:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  min-height: $thumbnail_max_dimension;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  cursor: progress;
}

.js-carousel ul:after {
  background: none;
  -webkit-transition: background .25s ease-in-out;
  -moz-transition:    background .25s ease-in-out;
  -o-transition:      background .25s ease-in-out;
  transition:         background .25s ease-in-out;
}



.js-carousel-arrows{

  overflow: visible;
  z-index: 2;

  > a{
    font-size: 3em;
    float: none;
    position: absolute;
    z-index: 1;
  }

  &.h{
    position: relative;
    .left{
      left: 0;
      @media all and (min-width: $bp-med) {
        left: -1em;
      }
    }

    .right{
      right: 0;
    }

    .icon icon-caret-left{
      // fix arrows
    }

    .icon icon-caret-right{
      // fix arrows
    }

  }

  &.v{
    position: absolute;

    height: 100%;

    width: 100%;
    left: 0;
    right: o;


    z-index: 0;

    .right,
    .left{
      position: absolute;
      text-align: center;
      padding: 0;
      left: 0;
      right: 0;
    }

    .right{
      bottom: -1em;
    }

    .left{
      top: -1em;
    }

    .icon icon-caret-down{
      // fix arrows
    }

    .icon icon-caret-up{
      // fix arrows
    }
  }

}

