.show-more-mlt{
  display:       block;
  font-weight:   bold;
  text-align:    right;
}

.js-carousel ul{
  position: relative;
}

.js-carousel .js-carousel-item{

  margin:            0;
  text-align:        center;

  @media all and (min-width: $bp-med) {
    float:          left;
    text-align:      left;
  }
}

.js-carousel.v .js-carousel-item{

  margin:          1% 0;
  text-align:      center;

  @media all and (min-width: $bp-med) {
    float:          none;
    text-align:     left;
    width:          auto;
  }
}

.mlt-img-div{
  background-color:    $gray-lighter;
  background-position: center;
  background-repeat:   no-repeat;
  background-size:     cover;
  margin:              0 auto;
  position:            relative;
}

// technique to keep height the same as (dynamic) width used for large view
//  see here: http://www.mademyday.de/css-height-equals-width-with-pure-css.html

.height-to-width{

  height: auto;

  .inner{
    bottom:   0;
    left:     0;
    position: absolute;
    right:    0;
    top:      0;

    .link{
      display:  block;
      height:   100%;
      position: absolute;
      width:    100%;
    }
  }
}

.height-to-width::before{
  content:     '';
  display:     block;
  padding-top: 100%;
}

.js-carousel-title{

  display:     block;
  height:       3.1em;
  line-height: 1.3em;
  margin-top:  0.5em;
  overflow:     hidden;
}

.js-carousel.v .js-carousel-title{
  height:        1.6em;
}

@media all and (min-width: $bp-large) {

  .js-carousel .js-carousel-item{
    margin: 0;
    width:  24%;
  }

  .js-carousel.v .js-carousel-title{
    text-align: center;
  }
}

.js-carousel{

  overflow: hidden;
  position: relative;

  .js-carousel-item{
    float:        left;
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }

  .h{
    margin: 0 3em;

    @media all and (min-width: $bp-med) {
      margin: 0 3em 0 0;
    }
  }

  .v{
    margin: 2em 0;

    .js-carousel-item{
      float:        none;
      margin-left:  auto;
      margin-right: auto;
    }
  }
}

.mlt .js-carousel-arrows.h{
  .left,
  .right{
    background-color:    rgba(255, 255, 255, 0.74);
    background-position: 2px 88px;
    width:               1em;
    &.disabled{
      background-color: rgba(255, 255, 255, 0.25);
      cursor: default;
    }
    &:hover{
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}


.js-carousel.startup ul::after,
.js-carousel.loading ul::after {
  background: rgba(22, 118, 170, 0.4);
  content:    ' ';
  cursor:     progress;
  display:    block;
  height:     100%;
  left:       0;
  min-height: $thumbnail_max_dimension_mlt;
  position:   absolute;
  right:      0;
  top:        0;
  width:      100%;
  z-index:    8;
}

.js-carousel.startup ul::after{
  background-image:    url('../../images/icons/spinner.gif');
  background-repeat:   no-repeat;
  background-position: center 0.5em;
}

.js-carousel ul::after {
  background:         none;
  -moz-transition:    background .25s ease-in-out;
  -o-transition:      background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
  transition:         background .25s ease-in-out;
}

.js-carousel-arrows{

  overflow: visible;
  z-index:  9;

  > a{
    float:     none;
    font-size: 2em;
    position:  absolute;
    z-index:   1;
  }

  &.h{
    position: relative;

    .left{
      left: 0;
    }

    .right{
      right: 0;
    }

    .icon-next,
    .icon-previous{
      display:       inline-block;
      fill:          currentColor;
      height:        0.5em;
      margin-bottom: 0;
      margin-left:   0.25em;
      margin-right:  0.25em;
      width:         0.5em;
    }
  }

  &.v{
    height:   100%;
    left:     0;
    position: absolute;
    right:    o;
    width:    100%;
    z-index:  0;

    .right,
    .left{
      left:       0;
      padding:    0;
      position:   absolute;
      right:      0;
      text-align: center;
    }

    .right{
      bottom: -1.2em;

      // until the svgs are ready, rotate the caret (^) for a down arrow
      -moz-transform:    rotate(180deg);
      -ms-transform:     rotate(180deg);
      -o-transform:      rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform:         rotate(180deg);
    }

    .left{
      top: -1.2em;
    }
  }
}
