
.show-more-mlt{
  display:       block;
    font-weight:   bold;
    text-align:	   right;
}


.js-carousel ul{
  position: relative;
}

.js-carousel.v{
  height: 100%;

}

.js-carousel .js-carousel-item{

  margin:					  0;
  text-align:				center;

  @media all and (min-width: $bp-med) {
    width:					48%;
    float:					left;
    text-align:				left;
  }
}

.js-carousel.v .js-carousel-item{
  width:					auto;

  margin:					1% 0;
  text-align:				center;

  @media all and (min-width: $bp-med) {
    width:          auto;
    float:					none;
    text-align:			left;
  }
}


.mlt-img-div{

  margin-bottom: $space-quarter;

  background-repeat:		no-repeat;
  background-size:		contain;
  background-position:	center;

  position:				relative;


    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
    background-size:		cover;
    }

  @media all and (min-width: $bp-large) {
    background-size:		cover;
    }
}


/* technique to keep height the same as (dynamic) width used for large view

  see here: http://www.mademyday.de/css-height-equals-width-with-pure-css.html

*/

.height-to-width .inner{
  position:	absolute;
  top:		0;
  bottom:		0;
  left:		0;
  right:		0;
}


.height-to-width .inner .link{
  position:	absolute;
  display:	block;
  width:		100%;
  height:		100%;
}

.js-carousel-title{
  display:		block;
  height:			4.8em;
  line-height:	1.6em;
  overflow:		hidden;
}

.js-carousel.v .js-carousel-title{
  height:			  1.6em;
}

@media all and (max-width: $bp-large) {

  .height-to-width{
    height: $thumbnail_max_dimension;
  }
}

@media all and (min-width: $bp-large) {

  .js-carousel .js-carousel-item{
    width:					24%;
    margin:					0;
    }

  .js-carousel .js-carousel-item,
  .js-carousel .js-carousel-title{
    max-width:	$thumbnail_max_dimension;
  }

   // TODO: needed?
  .js-carousel.v .js-carousel-item,
  .js-carousel.v .js-carousel-title{
    width: auto;
    max-width: none;
  }

  .js-carousel.v .js-carousel-title{
     text-align: center;
  }

  .height-to-width{
    height:		auto;
  }

  .height-to-width:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
}


/* js overrides */


.mlt .js-carousel .js-carousel-item{
  width: $thumbnail_max_dimension;
  margin-left: 0;
  margin-right: 0;
  float: left;
}

.js-carousel.v .js-carousel-item{
  width:  auto;
  margin-left: auto;
  margin-right: auto;
  float: none;
}


.js-carousel.h{
  margin: 0 3em;
  @media all and (min-width: $bp-med) {
    margin: 0 3em 0 0;
  }
}

.js-carousel.v{
  margin: 2em 0 2em 0;
}


.js-carousel{
  overflow-y: hidden;
  position: relative;
}



//.js-carousel.v{
//  overflow-x: hidden;
//}


.js-carousel.loading ul:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  min-height: $thumbnail_max_dimension;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  cursor: progress;
}

.js-carousel ul:after {
  background: none;
  -webkit-transition: background .25s ease-in-out;
  -moz-transition:    background .25s ease-in-out;
  -o-transition:      background .25s ease-in-out;
  transition:         background .25s ease-in-out;
}



.js-carousel-arrows{

  overflow: visible;
  z-index: 2;

  > a{
    font-size: 3em;
    float: none;
    position: absolute;
    z-index: 1;
  }

  &.h{
    position: relative;
    .left{
      left: 0;
      @media all and (min-width: $bp-med) {
        left: -1em;
      }
    }

    > a{
      line-height: $thumbnail_max_dimension;
    }

    .right{
      right: 0;
    }
  }

  &.v{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;

    .right,
    .left{
      width:      100%;
      position: absolute;
      text-align: center;
      padding: 0;
    }

    .right{
      bottom: -1em;
    }

    .left{
      top: -1em;
    }
  }

}

