.mlt{
	box-sizing: padding-box; 
	padding:	0 3em 0 3em;
	width:		100%;
	
	@media all and (min-width: $bp-med) {
		padding:	0 3em 0 0;
	}
}


.show-more-mlt{
	box-sizing:    padding-box; 
	display:       block;
    font-weight:   bold;
    padding:       1em 3em 0 0;
    text-align:	   right;
    width:		   100%;

	@media all and (min-width: $bp-med) {
		padding:	1em 3em 0 0;
	}

} 				


.mlt ul{
	position: relative;
}

.mlt .mlt-item{

	width:					98%;
	margin:					0 1%;
	text-align:				center;

	@media all and (min-width: $bp-med) {
		width:					48%;
		margin-left:			1%;
		margin-right:			1%;
		float:					left;

		text-align:				left;

	}
	
	
}


.mlt-img-div{
    
    margin-bottom: $space-quarter;

	background-repeat:		no-repeat;
	background-size:		contain;
	background-position:	center;

	position:				relative;


    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
		background-size:		cover;
    }
    
	@media all and (min-width: $bp-large) {
		background-size:		cover;
    }
}


/* technique to keep height the same as (dynamic) width used for large view

	see here: http://www.mademyday.de/css-height-equals-width-with-pure-css.html 

*/

.height-to-width .inner{
	position:	absolute;
	top:		0;
	bottom:		0;
	left:		0;
	right:		0;
}


.height-to-width .inner .link{
	position:	absolute;
	display:	block;
	width:		100%;
	height:		100%;
}

.mlt-title{
	display:		block;
	height:			4.8em;
	line-height:	1.6em;
	overflow:		hidden;
}

@media all and (max-width: $bp-large) {

	.height-to-width{
		height: $thumbnail_max_dimension;
	}
}

@media all and (min-width: $bp-large) {

	.mlt .mlt-item{
		width:					24%;
		margin:					0 0.5%;
    }	

	.mlt .mlt-item:nth-child(1){
		width:					24%;
		margin-left:			0%;
		margin-right:			1%;
    }	
    
	.mlt .mlt-item:nth-child(4){
		width:					24%;
		margin-left:			1%;
		margin-right:			0;
    }	

	.mlt .mlt-item,
	.mlt-title{
		max-width:	$thumbnail_max_dimension;
	}

	.height-to-width{
		height:		auto;
	}
	
	.height-to-width:before{
		content: "";
		display: block;
		padding-top: 100%;
	}
}


/* js overrides */


.mlt .js-mlt .mlt-item{
	width: $thumbnail_max_dimension;
	margin-left: 0;
	margin-right: 0;
	float: left;
}


.js-mlt,
.js-mlt-arrows{
	overflow-y: hidden;
	XXXoverflow-x: hidden;
	position: relative;
	width: 100%;	
}
			
			
.js-mlt-arrows{
	
	overflow: visible;
	z-index:2;
	position: relative;
	
	.left,
	.right{
		color:       white;
		font-size:   5em;
		float:       none;
		line-height: $thumbnail_max_dimension;
		position:    absolute;
		text-shadow: 0 0 10px #000;
		z-index:     1;
	}
	
	.left{
		left: -0.5em;
	}
	
	.right{
		right: -0.5em;
	}
}
			
