
.mlt li{

	width:					98%;
	margin:					1%;
	text-align:				center;

	@media all and (min-width: $bp-med) {
		width:					48%;
		margin-left:			1%;
		margin-right:			1%;
		float:					left;

		text-align:				left;

	}
	
	@media all and (min-width: $bp-large) {
		width:					23%;
		margin:					1%;

    }	
}


.mlt-item{
    
    margin-bottom: $space-quarter;

	background-repeat:		no-repeat;
	background-size:		contain;
	background-position:	center;

	position:				relative;


    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
		background-size:		cover;
    }
    
	@media all and (min-width: $bp-large) {
		background-size:		cover;
    }
}

.mlt-item .show-more-mlt{
	display:none;
}

.mlt-item:last-child .show-more-mlt{
	display:	block;
	margin-top:	1em;
    font-weight:bold;
} 				


/* technique to keep height the same as (dynamic) width used for large view

	see here: http://www.mademyday.de/css-height-equals-width-with-pure-css.html 

*/

.height-to-width .inner{
	position:	absolute;
	top:		0;
	bottom:		0;
	left:		0;
	right:		0;
}


.height-to-width .inner .link{
	position:	absolute;
	display:	block;
	width:		100%;
	height:		100%;
}

@media all and (max-width: $bp-large) {

	.height-to-width{
	
		/* image height for mobile display */
		height: 16em;
		
	}
}

@media all and (min-width: $bp-large) {

	.height-to-width{
		height: auto;
	}

	.height-to-width:before{
		content: "";
		display: block;
		padding-top: 100%;
	}
}

