
.search-object{

    .download{
        color: white;
        background-color: #1a8ac7
    }
}

.object-info{

    padding: $space 0;

    @media all and (min-width: $bp-med) {
        width: span(14 of 18);
        @include push(4 of 18);
    }
}

.object-overview{

    @media all and (min-width: $bp-med) {
        @include span(18);
    }
   
}

.object-creator, .object-related{
    padding: $space 0;
    border-top: 1px solid $gray-lighter;
}

.subsection-label{
    font-weight: normal;
}

@media all and (min-width: $bp-med) {

    .subsection-label{
        @include span(4);
        .object-overview &{
            @include span(4 of 18);
        }
    }

    .subsection-content{
        @include span(last 20);
        .object-overview &{
            @include span(last 14 of 18);
        }
    }

}


.object-actions{
    @media all and (min-width: $bp-med) {
        @include span(last 6);
    }
}

.object-image{
    min-height: 30em;
    overflow-y: auto;
}

.mlt-item{
    @include gallery(4 of 20);
    height: 10em;
    background-color: lightgray;

    &:last-child{
        margin-right: 0;
    }
}


.nav-next-previous{
    background-color: #ccc;
}
