
.search-object{
	margin-bottom: 0;
	
	.js-img-frame{
		max-width:  100%;
		max-height: 22em;
		overflow-y: auto;
		margin-bottom: $space;
	}

}

.object-nav .previous{
    @media all and (min-width: $bp-med) {
        @include span(first 4 of 24);

		/* First record has no previous_document link.
		   The empty li needs an explicit height set to stop it collapsing
		   This keeps the "return to search" link in position 
		*/
        min-height:1em;
    }
}

.object-overview{
    @media all and (min-width: $bp-med) {
        @include span(18);
    }
}

.object-actions{

    @media all and (min-width: $bp-med) {
        @include span(last 6);
    }
}

.object-title{
	word-break: normal;
}

.object-image{
    /*  min-height: 30em;  */
    overflow-y: auto;
    margin-bottom: $space;

    &.is-smallimage{
        @media all and (min-width: $bp-med) {
            @include push(4 of 18);
        }
    }
}
// Thumbnail/zoomer preview widget
.object-image-nav{
    display: none;
    text-align: center;
    /*
    padding-top: 100%;
	*/
    @media all and (min-width: $bp-med) {
        display: block;
    }
    
}

.object-info{

    padding-bottom: $space;

    @media all and (min-width: $bp-med) {
        width: span(14 of 18);
        @include push(4 of 18);
    }
}

.object-creator,
.object-related,
.map-section,
.object-extradata{
    padding-top: $space;
    padding-bottom: $space;
    border-top: 1px solid $gray-lighter;
}

#map{
    height: 22em;
}

.subsection-label{
    font-weight: normal;
}

@media all and (min-width: $bp-med) {

    .subsection-label{
        @include span(4);
        .object-overview &{
            @include span(4 of 18);
        }
    }

    .subsection-content{
        @include span(last 20);
        .object-overview &{
            @include span(last 14 of 18);
        }
    }

}

.dc-type,
.country{
	margin:			0 0 0.8em 0;
	text-transform:	capitalize;
}

.color-data{
	margin:$space-half 0;
}
.color-datum{
	width:$space;
	height:$space;
	display:inline-block;
}


.mlt-item{
    @include gallery(12 of 24);
    height: 10em;
    margin-bottom: $space-quarter;
    background-color: lightgray;

    @media all and (min-width: $bp-small) {
        @include gallery(8 of 24);
    }
    @media all and (min-width: $bp-med) {
        @include gallery(4 of 20);
    }
}
