
.container{
	@include container($max-width);
	
	.country{
		text-transform: capitalize;
	}

    > .section{
		border-top: 1px solid lightgray;
    }	
}

.nav{
	margin-top:6em;
	.next{
	  float:right;
	}
	.previous{
	  margin-right: 5em;
	}
}

.section{
	@media all and (min-width: $bp-med) {
		@include span(24);
		margin: 0;
		padding: $space-half + $space-quarter 0 $space-half + $space-quarter 0;
	}
	.meta-label{
		@media all and (min-width: $bp-med) {
			@include span(5 of 24);
		}
	}
	.meta-data{
		@media all and (min-width: $bp-med) {
			@include span(last 19 of 24);
		}
	}
}

.meta-label, .meta-data{
	padding: 0;
	margin: 0;
}
	
.mlt-item{
	width: 12em;
	height: 10em;
	display: inline-block;
	margin: 0 1em 0 0;
	background-color: lightgray;
}

.overview{
	
	@media all and (min-width: $bp-med) {
		@include span(18);
		margin: 0;
		padding: 0;
	}
	
	.img-frame{
	  max-height: 22em;
	  overflow-y: auto;
	}
	
	.img-frame img{
	  max-width: 100%;
    }	


    .section{
		@media all and (min-width: $bp-med) {
			@include span(18 of 18);
			margin: 0;
			padding: $space-half + $space-quarter 0;
		}
		.meta-label{
			@media all and (min-width: $bp-med) {
				@include span(5 of 18);
			}
		}
		.meta-data{
			@media all and (min-width: $bp-med) {
				@include span(last 13 of 18);
			}
		}
	}
}



.actions{
	
	@media all and (min-width: $bp-med) {
		@include span(last 6);
	}
	
	img.main{
	  display: block;
	  border: 1px solid red;
	}
	
}






