
// Search hero bar
.search-hero{
  background-color: #ddebee;
  border-bottom: 1px solid $gray87;
  padding: $space-double $space;
}

.search-hero.has-bgimage,
.site-hero.galleries,
.ugc-migrations{
  background-position: center center;
  background-repeat:   no-repeat;
  background-size:     cover;
  position:            relative;
  &::after{
    background-color: rgba(0, 0, 0, 0.58);
    content:  ' ';
    display:  block;
    height:   100%;
    left:     0;
    position: absolute;
    top:      0;
    width:    100%;
  }
}

.searchbar{
  @include container(50em);
  position: relative;
  z-index:  1;
}

// Search results container
.search-results{

  background: $white; // fallback
  padding: 0 $space;

  @media all and (max-width: $bp-med) {
    position: relative;
  }

  @media all and (min-width: $bp-med) {
    background: linear-gradient(to right, $offwhite 0%, $offwhite 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  }

  .container{
    @include container($max-width);
    @media all and (min-width: $bp-med) {
      overflow: hidden;
    }
  }
}


// Base 2 columns
// List of results
.results-list{
  background-color: rgba(255, 255, 255, 1);
  padding-bottom: $space;
  position: relative;

  @media all and (min-width: $bp-med) {
    @include span(last 18);

    // keep column height as high as facet column when result list empty
    margin-bottom: -100em;
    padding-bottom: 100em;
  }
}

// Filters and secondary content
.refine {

  background: #fff;
  border: 1px solid $offwhite;
  display: none;
  width: 70%;

  &.open {
    display: block;
    position: absolute;
    right: 0;
    top:   4.5em;
    z-index: 2;

    &::before{
      border-color: transparent transparent $offwhite;
      border-style: solid;
      border-width: 12px;
      content: ' ';
      display: inline-block;
      position: absolute;
      right: 40px;
      top: -23px;
    }

    .filter,
    h2{
      padding: $space / 2;
    }
    h2{
      background: $offwhite;
      border: 0;
    }
    >h2{
      margin-bottom: 0;
    }
  }

  @media all and (min-width: $bp-med) {
    display: inline;

    &.open {
      position: static;
      right: auto;
      top: auto;

      &::before {
        display: none;
      }

      .filter,
      h2{
        padding: 0;
      }

      h2 {
        background: none;
      }

      >h2 {
        margin-bottom: 1rem;
      }

    }

  }

  @media all and (max-width: $bp-small-3) {
    width: 90%;
    &.open{
      top: 4em;
    }
  }
  @media all and (max-width: $bp-small-2) {
    width: 100%;
    &.open{
      top: 3em;
    }
  }

  @media all and (min-width: $bp-med) {
    @include span(6);

    background: $offwhite;
    margin: 0;
    padding: $space-half + $space-quarter 0 $space-double 0;

    >h2{
      margin-bottom: $pad;
    }
  }

  @media all and (max-width: $bp-med) {
    .filter:not(.filter-closed){
      .filter-name{
        margin-bottom: 0.5em;
      }
      &.filter-date{
        .filter-name{
          margin-bottom: 2em;
        }
      }
    }
  }


  >h2{
    @include        fontSize(16px);
    color:          $textcolour_body;
    font-weight:    bold;
    text-transform: uppercase;
  }
}

// Contents of Results list
// Results list header containing controls that affect the list
.results-header{
  @include fontSize(14px);
  border-bottom: 1px solid $gray87;
  margin-bottom: $space;
  overflow: hidden;
  padding: $space-quarter + $pad-quarter $space-quarter;
}

.refine .eu-tooltip{
  -webkit-transform: translate(-0.8em, -1.1em);
  transform:         translate(-0.8em, -1.1em);
}

.action-select,
.result-actions,
.blogs-info,
.events-info,
.result-info,
.result-sort{
  margin-top: $space-quarter;
}

.result-actions{

  @include span(3 of 12);

  .results-menu-prefix,
  .menu_dropdown{
    float: left;
  }
  .results-menu-prefix{
    margin-right: 0.5em;
  }
  .results-menu-prefix::after{
    content: ':';
  }

  @media all and (min-width: $bp-small-3) {
    @include span(2 of 18);
  }

  .dropdown{
    margin-left: -1.2em;
    min-width:   3.5em;
  }
  .dropdown-trigger{
    border-bottom: 1px dotted #1a8ac7;
    color: $linkblue;
    font-weight: normal;
    padding-right: 0;
    text-transform: inherit;
  }
  .dropdown-trigger::after{
    display: none;
  }
  .active{
    font-weight: bold;
    a{
      color: $linkblue;
    }
  }
}

.results-list .no-results{
  float:  none;
}

.no-results{
  @include push(1 of 12);
  @include span(10 of 12);

  background-color: $gray97;
  border:           1px dashed $gray-lighter;
  margin-bottom:    $pad-double;
  padding:          $space;

  @media all and (min-width: $bp-small-3) {
    @include push(1 of 18);
    @include span(16 of 18);
  }
}

@media all and (min-width: $bp-med) {
  .blogs-info,
  .events-info,
  .result-info{
    @include span(8 of 18);
  }
  .result-info{
    margin-left: span(1 of 18 wide);
  }
}

.result-actions{
  margin-left:  0;
  margin-right: 0;
  width:        auto;

  @media all and (min-width: $bp-small-3) {
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }
}

.result-info{
  @media all and (min-width: $bp-med) {
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }
}

.result-controls{
  margin-left:  0;
  margin-right: 0;
  width:        auto;

  @media all and (min-width: $bp-small-3) {
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }
}

.facet-menu{
  float: right;
  margin-left: $space;
  position: relative;
  top: 0.46em;

  .opener{
    color: $gray30;
    margin-right: 12px;
    &::after{
      border-color: $gray47 transparent transparent;
      border-style: solid;
      border-width: 6px;
      content: ' ';
      display: inline-block;
      position: absolute;
      right: -5px;
      top: 8px;
    }
  }

  @media all and (min-width: $bp-med) {
    display: none;
  }
}

.result-actions{
  float:      right;
  margin-top: -4.5em;

  @media all and (min-width: $bp-small-2) {
    margin-right: 1em;
    margin-top:   -3.6em;
  }

  @media all and (min-width: $bp-small-3) {
    margin-top: -1.8em;
  }

  @media all and (min-width: $bp-med) {
    margin-top: -4.5em;
  }

  @media all and (min-width: $bp-xl) {
    margin-top: 0.4em;
  }

}

.result-controls{
  float:    right;
  position: relative;
  top:      -5em;

  @media all and (min-width: $bp-small-2) {
    top:  -4em;
  }

  @media all and (min-width: $bp-small-3) {
    top: -2.2em;
  }

  @media all and (min-width: $bp-med) {
    top: -5em;
  }

  @media all and (min-width: $bp-xl) {
    top: 0;
  }

  .result-viewtype a{
    max-width: 12em;
    width: 2.8em;
    @media all and (min-width: $bp-small-3) {
      width: auto;
    }
  }
}

.blogs-info,
.events-info,
.result-info{
  margin-top:       3em;
  position:         relative;
  top:              3em;

  @media all and (min-width: $bp-small) {
    top:        1em;
  }

  @media all and (min-width: $bp-small-3) {
    margin-top: 2em;
    top: 2.5em;
  }

  @media all and (min-width: $bp-med) {
    margin-left: 5.66038%;
    margin-top:  3em;
    top: 1em;
    width: 100%;
  }
  @media all and (min-width: $bp-xl) {
    margin-top: 0;
    top: 0.4em;
    width: auto;
  }
}

.blog-list,
.event-list{

  .blogs-info,
  .events-info{

    top: 2em;

    @media all and (min-width: $bp-small-3) {
      margin-left:  0;
      margin-right: 0;
      top:          -0.25em;
      width:        auto;
    }

    @media all and (min-width: $bp-med) {
      margin-left:  0;
      margin-top:   0;
      padding-left: 0;
      top:          0.5em;
    }
  }

  @media all and (min-width: $bp-med) {
    .result-controls{
      top: 0;
    }
  }
}



.result-viewtype{
  float: right;
  margin-left: $space-half;
}

.result-sort{
  float: left;
  @media all and (min-width: $bp-small-3) {
    float: right;
  }
}


.action-select{

  @include span(1 of 12 wide no-gutters);
  text-align: center;

  .search-list-item &{
    left: 0;
    position: absolute;
    top: 0;
  }

  input{
    display: inline-block;
    margin: 0;
  }

  @media all and (min-width: $bp-small-3) {
    @include span(1 of 18 wide no-gutters);
  }

}

.display-grid noscript{
  display: none;
}


.fed-res-expand{
  border:            1px solid $medium-gray;
  color:             $medium-gray;
  display:           block;
  float:             right;
  font-size:         1.6rem;
  height:            2rem;
  position:          absolute;
  right:             2em;
  text-align:        center;
  top:               50%;
  -webkit-transform: translate(100%, -50%);
  transform:         translate(100%, -50%);
  width:             2rem;

  &.loading{
    cursor: progress;
  }

  .icon-label-collapse,
  .icon-label-expand{
    display:        block;
    font-weight:    bold;
    height:         2rem;
    line-height:    2rem;
    pointer-events: none;
    position:       absolute;
    width:          2rem;
  }

  .icon-label-collapse{
    left:  0.133em;
    top:   0.1em;
  }

  .icon-label-expand{
    left:  0.13em;
    top:   0.08em;
  }

  .label-collapse,
  .label-expand{
    display:     none;
    font-size:   $font-size-slightly-smaller;
    font-weight: normal;
  }

  &.expanded .icon-label-expand{
    display: none;
  }

  &:not(.expanded) .icon-label-collapse{
    display: none;
  }

  @media all and (min-width: $bp-med) {

    font-size:         1.2em;
    height:            1.2em;
    margin-right:      1em;
    position:          relative;
    right:             auto;
    top:               auto;
    -webkit-transform: translate(0, -0.18em);
    transform:         translate(0, -0.18em);
    width:             1.2em;

    .label-collapse,
    .label-expand{
      display:           block;
      font-size:         0.75em;
      position:          absolute;
      top:               0.22em;
      -webkit-transform: translateX(-120%);
      transform:         translateX(-120%);
      white-space:       nowrap;
    }

    .icon-label-collapse,
    .icon-label-expand{
      height:       1.2em;
      line-height:  1.2em;
      width:        1.2em;
    }

    .icon-label-collapse{
      left:              -0.039em;
      top:               -0.05em;
      -webkit-transform: scale(0.6);
      transform:         scale(0.6);
    }

    .icon-label-expand{
      left: 0.11em;
      top:  0.06em;
    }

    &.expanded .label-expand{
      display: none;
    }
    &:not(.expanded) .label-collapse{
      display: none;
    }
  }

  @media all and (min-width: $bp-large) {
    margin-right: 2em;
  }
}


.title-federated-results{

  line-height:      2rem;
  margin:           3em 3.5em 2em 0;
  padding:          $pad $pad * 4 $pad $pad;
  position:         relative;
  width:            100%;

  &.collapsed{
    background-color: $eu-blue;
    color:            #fff;
    cursor:           pointer;

    .fed-res-expand{
      border-color: #fff;
      color:        #fff;
      &.expanded{
        .svg-icon-minus-white{
          display: block;
        }
      }
      &:not(.expanded){
        .svg-icon-plus-white{
          display: block;
        }
      }
    }

    >.text.collapsed{
      display: block;
    }
    >.text.expanded{
      display: none;
    }

    .svg-icon-minus,
    .svg-icon-plus{
      display: none;
    }

    &:hover{
      background-color: $gray-dark;
    }
  }

  >.text.collapsed{
    display: none;
  }
  >.text.expanded{
    display: block;
  }
  >.text.expanded,
  >.text.collapsed{
    @media all and (min-width: $bp-med) {
      padding-right: 8em;
    }
    @media all and (min-width: $bp-large) {
      padding-right: 9em;
    }
  }

  @media all and (min-width: $bp-med) {
    line-height:   1.2;
    margin:        3em -1em 2em 0;
    padding:       $pad;
  }

  .svg-icon-minus-white,
  .svg-icon-plus-white{
    display: none;
  }

}

.results-list{

  .more-federated-results{
    bottom:   0;
    position: absolute;
    right:    0;
  }

  .eu-accordion-tabs{

    display: none;

    &.expanded{
      display: block;
    }

    &:not(.as-tabs) .tab-content{

      display:  block;
      float:    left;
      position: relative;
      top:      auto;
      width:    100%;

      @media all and (min-width: $bp-small-2){
        width: 50%;
      }

      .search-list-item{
        display: none;

        &:first-child{
          display: block;
          float:   none;
          width:   100%;
        }
      }
    }

    &.as-tabs{

      height:   8em;
      overflow: hidden;

      &.expanded{
        height: 46em;

        @media all and (min-width: $bp-large) {
          height:        25em;
          margin-bottom: 1.6em;
        }
      }

      @media all and (max-width: $bp-large) {

        .search-list-item{
          width:   50%;
          &:nth-child(1){
            clear: left;
          }
          h2{
            height: 3.2em;
          }
        }

      }

      @media all and (min-width: $bp-large) {

        .tab-content.active{

          display:         flex;
          justify-content: space-between;
          padding:         0.6em 0;

        }
      }

      .tab-header{
        &.js-last::after{
          border-bottom:  1px solid $gray-lighter;
          bottom:         -1px;
          content:        ' ';
          left:           100%;
          position:       absolute;
          width:          100em;
        }
      }

      .more-federated-results:not(.js-hidden):not(.js-empty){
        display: block;
      }
    }

    .more-federated-results{
      display: none;
    }

    .tab-header{
      display: none;
    }

    .search-list-item{

      &.default-img{
        .item-preview .item-image  a{
          background-position: center center;
          background-repeat:   no-repeat;
          background-size:     contain;

          &.canadiana{
            background-image: url('../../images/foederati_logos/canadiana.png');
          }
          &.digitalnz{
            background-image: url('../../images/foederati_logos/digitalnz.png');
          }
          &.dpla{
            background-image: url('../../images/foederati_logos/dpla.png');
          }
          &.internetarchive{
            background-image: url('../../images/foederati_logos/internetarchive.png');
          }
          &.trove{
            background-image: url('../../images/foederati_logos/trove.png');
          }
        }
      }
      &.type-img{

        .item-image{

          border:  1px solid $gray-lighter;

          .svg-icon{
            display: inline-block;
          }

          .svg-icon-image-grey-lighter{
            height:            1.5em;
            -webkit-transform: scale(4) translateY(82%);
            transform:         scale(4) translateY(82%);
            width:             1.4em;
          }
          .svg-icon-music-grey-lighter{
            height:            1.8em;
            -webkit-transform: scale(3.5) translate(-5%, 83%);
            transform:         scale(3.5) translate(-5%, 83%);
            width:             1.36em;
          }
          .svg-icon-openbook-grey-lighter{
            height:            1.8em;
            -webkit-transform: scale(3.5) translateY(85%);
            transform:         scale(3.5) translateY(85%);
            width:             1.36em;
          }
          .svg-icon-tv-grey-lighter{
            height:            1.48em;
            -webkit-transform: scale(3.5) translateY(100%);
            transform:         scale(3.5) translateY(100%);
            width:             1.4em;
          }
        }
      }

      .item-info{

        border:     0;
        max-height: 3.2em;
        overflow:   hidden;
        padding:    0.5em 0.2em;

        > h2{
          margin-right: 0;
          max-height:   3.2em;
          overflow:     unset;
          white-space:  normal;

          a{
            display:       inline-block;
            line-height:   1.3em;
            max-height:    3.2em;
            position:      relative;
          }
          a:focus,
          a:hover{
            border-bottom: 0;
          }
          a:hover span{
            text-decoration: underline dotted $eu-blue;
          }

          a.svg-icon-external-eu-blue-after::after{
            bottom:   1px;
            position: absolute;
            right:    -18px;
            top:      auto;
          }
        }

        > h3{
          -webkit-transform: translateY(0.5em);
          transform:         translateY(0.5em);
        }

        .svg-icon{
          display: none;
        }

      }

      .item-preview{

        border: 0;
        height: 12em;

        @media all and (min-width: $bp-small) {
          height: 15em;
        }

        @media all and (min-width: $bp-small-2) {
          height: 12em;
        }

        .item-image,
        .inner,
        .link{
          height: 100%;
        }
        img{
          height: 100%;
        }
      }

    }
  }
}
