.search-hero{
	padding: $space-triple;
	background-color: #DDEBEE;
	border-bottom: 1px solid $gray87;
}



// Generic page layout
.page{

	background: $white; // fallback
	
	@media all and (min-width: $bp-med) {
		background: $offwhite; // fallback
		background: linear-gradient(to right, $offwhite 0%,$offwhite 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%);
		// TODO: add gradients for older browsers
	}

}

.results-list{
	background-color: rgba(255,255,255,0.8);

	@media all and (min-width: $bp-med) {
		@include span(last 18);
	}
}

.refine{ 
	background: $offwhite;

	@media all and (min-width: $bp-med) {
		@include span(6);
	}
}


.results-header{
	padding: $space-half 0;
	border-bottom: 1px solid $gray87;
	margin-bottom: $space;
}

.search-list-item{
	position: relative;
	margin-bottom: $space-double;

}


.search-results{
	
	padding: 0 $space;

	.container{
		@include container($max-width);
	}

	.item-info{
		@include span(6 of 7);
		margin-left: span(1 of 7 wide);

		@media all and (min-width: $bp-small-3) {
			@include span(13 of 18);
			margin-left: span(1 of 18 wide);
		}
	}

	h1{
		font-size: $font-size-med;
		margin-bottom: $space-half;
		font-weight: normal;
		font-family: $font-secondary;
		line-height: 1.4;

		a:hover{
			border-bottom: 1px dotted darken($textcolour_link, 15%);
		}
	}

	footer{
		font-size: $font-size-slightly-smaller;
		padding: $space-half 0;
		border-bottom: 1px solid $gray87;
		@extend .cf;
	}

	.excerpt{
		margin-bottom: $space-half;
	}

	.item-origin{
		font-weight: bold;
	}


	.item-preview{
		
		background-color: $gray-lighter;
		min-height: 10em;

		display: none;

		@media all and (min-width: $bp-small-3) {
			display: block;
			@include span(last 4 of 18);
		}
	}

	.item-metadata{
		@include span(11 of 13);

		
	}

	.item-actions{
		@include span(last 2 of 13);
		text-align: right;
	}
}

.action-select{

	text-align: center;

	.search-list-item &{
		position: absolute;
		top: 0;
		left: 0;
	}

	input{
		display: inline-block;
	}


	@include span(1 of 7 wide);
	margin-right: 0;

	@media all and (min-width: $bp-small-3) {
		@include span(1 of 18 wide);
		margin-right: 0;
	}
}




