
// Search hero bar
.search-hero{
  padding: $space-double $space;
  background-color: #DDEBEE;
  border-bottom: 1px solid $gray87;
}

.searchbar{
  @include container(50em);
}

// Search results container
.search-results{
  padding: 0 $space;

  background: $white; // fallback

  @media all and (min-width: $bp-med) {
    background: $offwhite; // fallback
    @include background(linear-gradient(to right, $offwhite 0%,$offwhite 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%));
  }

  .container{
    @include container($max-width);
    @media all and (min-width: $bp-med) {
      overflow:hidden;
    }
  }
}


// Base 2 columns
// List of results
.results-list{
  background-color: rgba(255,255,255,1);
  padding-bottom: $space;

  @media all and (min-width: $bp-med) {
    @include span(last 18);

    /* keep column height as high as facet column when result list empty */
    padding-bottom: 100em;
    margin-bottom: -100em;
  }
}

// Filters and secondary content
.refine{
  background: $offwhite;
  padding: $space;
  margin-left: -$space;
  margin-right: -$space;

  @media all and (min-width: $bp-med) {
    @include span(6);
    margin: 0;
    padding: $space-half + $space-quarter 0 $space-double 0;
  }



  &>h2{
    text-transform: uppercase;
    font-weight: bold;
    @include fontSize(16px);
    color: $textcolour_body;
    margin-bottom: $pad;
  }
}

// Contents of Results list
// Results list header containing controls that affect the list
.results-header{
  padding: $space-quarter + $pad-quarter $space-quarter;
  border-bottom: 1px solid $gray87;
  margin-bottom: $space;
  overflow: hidden;
  @include fontSize(14px);
}

.tooltip-wrapper-grid{

  display: none;
  @media all and (min-width: $bp-med) {
    display: block;
  }
  margin-top: 1em;
  position: absolute;
  right: 125px;

  .tooltip-container{
    height: 3em;
    width: 300px;
  }
}

.action-select,
.result-actions,
.result-info,
.result-sort{
  margin-top: $space-quarter;
}

.result-actions{

  .results-menu-prefix,
  .menu_dropdown{
    float: left;
  }
  .results-menu-prefix{
    margin-right: 0.5em;
  }
  .results-menu-prefix:after{
    content: ":";
  }

  @include span(3 of 12);

  @media all and (min-width: $bp-small-3) {
    @include span(2 of 18);
  }

  .dropdown{
    min-width:   3.5em;
    margin-left: -1.2em;
  }
  .dropdown-trigger{
    text-transform: inherit;
    font-weight: normal;
    color: $linkblue;
    border-bottom: 1px dotted #1a8ac7;
    padding-right: 0;
  }
  .dropdown-trigger:after{
    display: none;
  }
  .active{
    font-weight: bold;
    a{
      color: $linkblue;
    }
  }
}

.no-results{
  @include push(1 of 12);
  @include span(10 of 12);

  padding: $space;
  background-color: $gray97;
  border: 1px dashed $gray-lighter;
  margin-bottom: $pad-double;

  @media all and (min-width: $bp-small-3) {
    @include push(1 of 18);
    @include span(16 of 18);
  }
}

.result-info{
  @media all and (min-width: $bp-med) {
    margin-left: span(1 of 18 wide);
    @include span(8 of 18);
  }
}



.result-actions{
  margin-left:  0;
  margin-right: 0;
  width:        auto;

  @media all and (min-width: $bp-small-3) {
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }
}

.result-info{
  @media all and (min-width: $bp-med) {
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }
}

.result-controls{
  margin-left:  0;
  margin-right: 0;
  width:        auto;

  @media all and (min-width: $bp-small-3) {
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }
}

.result-actions{
  float:      right;
  margin-top: -4.5em;

  @media all and (min-width: $bp-small-2) {
    margin-right: 1em;
    margin-top:   -3.6em;
  }

  @media all and (min-width: $bp-small-3) {
    margin-top: -1.8em;
  }

  @media all and (min-width: $bp-med) {
    margin-top: -4.5em;
  }

  @media all and (min-width: $bp-xl) {
    margin-top: 0.4em;
  }

}

.result-controls{
  float:    right;
  position: relative;
  top:      -5em;

  @media all and (min-width: $bp-small-2) {
    top:  -4em;
  }

  @media all and (min-width: $bp-small-3) {
    top: -2.2em;
  }

  @media all and (min-width: $bp-med) {
    top: -5em;
  }

  @media all and (min-width: $bp-xl) {
    top: 0;
  }

  .result-viewtype a{
    width: 2.8em;
    max-width: 12em;
    @media all and (min-width: $bp-small-3) {
      width: auto;
    }
  }
}

.result-info{
  position:         relative;
  top:              3em;
  margin-top:       3em;

  @media all and (min-width: $bp-small) {
    top:        1em;
  }

  @media all and (min-width: $bp-small-3) {
    top: 2em;
    margin-top: 2em;
  }

  @media all and (min-width: $bp-med) {
    margin-left: 5.66038%;
    margin-top:  3em;
    top: 1em;
    width: 100%;
  }
  @media all and (min-width: $bp-xl) {
    margin-top: 0;
    top: 0.4em;
    width: auto;
  }
}

.result-viewtype{
  float: right;
  margin-left: $space-half;
}

.result-sort{
  float: left;
  @media all and (min-width: $bp-small-3) {
    float: right;
  }
}


.action-select{

  text-align: center;

  .search-list-item &{
    position: absolute;
    top: 0;
    left: 0;
  }

  input{
    display: inline-block;
    margin: 0;
  }


  @include span(1 of 12 wide no-gutters);

  @media all and (min-width: $bp-small-3) {
    @include span(1 of 18 wide no-gutters);
  }

}






