
// Search hero bar
.search-hero{
  padding: $space-double $space;
  background-color: #DDEBEE;
  border-bottom: 1px solid $gray87;
}

.search-hero.has-bgimage,
.site-hero.galleries{
  background-position: center center;
  background-repeat:   no-repeat;
  background-size:     cover;
  position:            relative;
  &:after{
    background-color: rgba(0,0,0,0.58);
    content: " ";
    display: block;
    height:  100%;
    width:   100%;
    top:     0;
    left:    0;
    position: absolute;
  }
}

.searchbar{
  @include container(50em);
  position: relative;
  z-index:  1;
}

// Search results container
.search-results{
  padding: 0 $space;

  background: $white; // fallback

  @media all and (max-width: $bp-med) {
    position: relative;
  }

  @media all and (min-width: $bp-med) {
    background: $offwhite; // fallback
    @include background(linear-gradient(to right, $offwhite 0%,$offwhite 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%));
  }

  .container{
    @include container($max-width);
    @media all and (min-width: $bp-med) {
      overflow:hidden;
    }
  }
}


// Base 2 columns
// List of results
.results-list{
  background-color: rgba(255,255,255,1);
  padding-bottom: $space;
  position: relative;

  @media all and (min-width: $bp-med) {
    @include span(last 18);

    /* keep column height as high as facet column when result list empty */
    padding-bottom: 100em;
    margin-bottom: -100em;
  }
}

// Filters and secondary content
.refine{

  @media all and (max-width: $bp-med) {
    background: #fff;
    border: 1px solid $offwhite;
    display: none;
    width: 70%;

    &.open{
      display: block;
      position: absolute;
      top:   4.5em;
      right: 0;
      z-index: 2;

      &:before{
        border-color: transparent transparent $offwhite;
        border-style: solid;
        border-width: 12px;
        content: ' ';
        display: inline-block;
        right: 40px;
        position: absolute;
        top: -23px;
      }

      .filter,
      h2{
        padding: $space / 2;
      }
      h2{
        background: $offwhite;
        border: 0;

      }
      &>h2{
        margin-bottom: 0;
      }
    }
  }
  @media all and (max-width: $bp-small-3) {
    width: 90%;
    &.open{
      top: 4em;
    }
  }
  @media all and (max-width: $bp-small-2) {
    width: 100%;
    &.open{
      top: 3em;
    }
  }

  @media all and (min-width: $bp-med) {
    @include span(6);

    padding: $space;
    margin-left: -$space;
    margin-right: -$space;

    background: $offwhite;
    margin: 0;
    padding: $space-half + $space-quarter 0 $space-double 0;

    >h2{
      margin-bottom: $pad;
    }
  }

  @media all and (max-width: $bp-med) {
    .filter:not(.filter-closed){
      .filter-name{
        margin-bottom: 0.5em;
      }
      &.filter-date{
        .filter-name{
          margin-bottom: 2em;
        }
      }
    }
  }


  &>h2{
    text-transform: uppercase;
    font-weight: bold;
    @include fontSize(16px);
    color: $textcolour_body;
  }
}

// Contents of Results list
// Results list header containing controls that affect the list
.results-header{
  padding: $space-quarter + $pad-quarter $space-quarter;
  border-bottom: 1px solid $gray87;
  margin-bottom: $space;
  overflow: hidden;
  @include fontSize(14px);
}

.refine .eu-tooltip{
  transform: translate(-0.8em, -1.1em);
}

.action-select,
.result-actions,
.result-info,
.result-sort{
  margin-top: $space-quarter;
}

.result-actions{

  .results-menu-prefix,
  .menu_dropdown{
    float: left;
  }
  .results-menu-prefix{
    margin-right: 0.5em;
  }
  .results-menu-prefix:after{
    content: ":";
  }

  @include span(3 of 12);

  @media all and (min-width: $bp-small-3) {
    @include span(2 of 18);
  }

  .dropdown{
    min-width:   3.5em;
    margin-left: -1.2em;
  }
  .dropdown-trigger{
    text-transform: inherit;
    font-weight: normal;
    color: $linkblue;
    border-bottom: 1px dotted #1a8ac7;
    padding-right: 0;
  }
  .dropdown-trigger:after{
    display: none;
  }
  .active{
    font-weight: bold;
    a{
      color: $linkblue;
    }
  }
}

.no-results{
  @include push(1 of 12);
  @include span(10 of 12);

  padding: $space;
  background-color: $gray97;
  border: 1px dashed $gray-lighter;
  margin-bottom: $pad-double;

  @media all and (min-width: $bp-small-3) {
    @include push(1 of 18);
    @include span(16 of 18);
  }
}

.result-info{
  @media all and (min-width: $bp-med) {
    margin-left: span(1 of 18 wide);
    @include span(8 of 18);
  }
}



.result-actions{
  margin-left:  0;
  margin-right: 0;
  width:        auto;

  @media all and (min-width: $bp-small-3) {
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }
}

.result-info{
  @media all and (min-width: $bp-med) {
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }
}

.result-controls{
  margin-left:  0;
  margin-right: 0;
  width:        auto;

  @media all and (min-width: $bp-small-3) {
    margin-left:  0;
    margin-right: 0;
    width:        auto;
  }
}

.facet-menu{
  float: right;
  margin-left: $space;
  position: relative;
  top: 0.46em;

  .opener{
    color: $gray30;
    margin-right: 12px;
    &:after{
      border-color: $gray47 transparent transparent;
      border-style: solid;
      border-width: 6px;
      content: ' ';
      display: inline-block;
      right: -5px;
      position: absolute;
      top: 8px;
    }
  }

  @media all and (min-width: $bp-med) {
    display: none;
  }
}

.result-actions{
  float:      right;
  margin-top: -4.5em;

  @media all and (min-width: $bp-small-2) {
    margin-right: 1em;
    margin-top:   -3.6em;
  }

  @media all and (min-width: $bp-small-3) {
    margin-top: -1.8em;
  }

  @media all and (min-width: $bp-med) {
    margin-top: -4.5em;
  }

  @media all and (min-width: $bp-xl) {
    margin-top: 0.4em;
  }

}

.result-controls{
  float:    right;
  position: relative;
  top:      -5em;

  @media all and (min-width: $bp-small-2) {
    top:  -4em;
  }

  @media all and (min-width: $bp-small-3) {
    top: -2.2em;
  }

  @media all and (min-width: $bp-med) {
    top: -5em;
  }

  @media all and (min-width: $bp-xl) {
    top: 0;
  }

  .result-viewtype a{
    width: 2.8em;
    max-width: 12em;
    @media all and (min-width: $bp-small-3) {
      width: auto;
    }
  }
}

.result-info{
  position:         relative;
  top:              3em;
  margin-top:       3em;

  @media all and (min-width: $bp-small) {
    top:        1em;
  }

  @media all and (min-width: $bp-small-3) {
    top: 2.5em;
    margin-top: 2em;
  }

  @media all and (min-width: $bp-med) {
    margin-left: 5.66038%;
    margin-top:  3em;
    top: 1em;
    width: 100%;
  }
  @media all and (min-width: $bp-xl) {
    margin-top: 0;
    top: 0.4em;
    width: auto;
  }
}

.result-viewtype{
  float: right;
  margin-left: $space-half;
}

.result-sort{
  float: left;
  @media all and (min-width: $bp-small-3) {
    float: right;
  }
}


.action-select{

  text-align: center;

  .search-list-item &{
    position: absolute;
    top: 0;
    left: 0;
  }

  input{
    display: inline-block;
    margin: 0;
  }


  @include span(1 of 12 wide no-gutters);

  @media all and (min-width: $bp-small-3) {
    @include span(1 of 18 wide no-gutters);
  }

}






