@import '../scss/iconography/svg-icons-channels';

html.redirecting{
  display: table;
  height: 100vh;
  width: 100%;
  body{
    display:    table-cell;
    min-height: 100vh;
    position: relative;
  }
  body::after{
    background-color: rgba(0, 0, 0, 0.5);
    color:      #fff;
    content:    ' ';
    height:     100%;
    left:       0;
    position:   absolute;
    right:      0;
    top:        0;
    z-index:    10;
  }
}

.logo {
  background-image: url('../../images/europeana-logo-collections.png');
  .svg &{
    background-image: url('../../images/europeana-logo-collections.svg');
    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
      background-image: url('../../images/europeana-logo-symbol.svg');
      max-width: 50px;
      min-width: 50px;
    }
  }
}

.capitalised{
  text-transform: capitalise;
}

.relative{
  position: relative;
}

.text-centre{
  text-align: center;
}

.text-left{
  text-align: left;
}

.hero-contents{

  @include translate (0, -50%);
  position: relative;
  top: 50%;
  z-index: 9;

  @media all and (min-width: $bp-med) {
    @include translate (-50%, -50%);
    left: 50%;
    position: absolute;
    width: 50em;
  }

  .searchbar{
    margin-bottom: $space;
  }

  .strapline{
    display: none;
    margin: 0 auto;
    max-width: 50em;
    padding: $space-half $space;
    word-wrap: normal;

    @media all and (min-width: $bp-med) {
      display: block;
      padding: $pad;
    }

  }
}

.search-hero{
  @media all and (max-width: $bp-small-3) {
    height: 50%;
  }
  height: 75%;
}

.tumblr-feed-section{
  margin-bottom: 5em;

  .tumblr-feed{
    margin: $space 0;
  }
}

.section,
.promo-topcontent {
  @include pad(1 / 4);
}
.section-box{
  padding: $space;
}

.section-divider {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3.2rem;
}

.promo-topcontent{

  border-bottom: 3px solid $gray-lighter;

  > .lc {
    margin: $space-half auto;
    padding: $space;
    text-align: center;
  }

  h2{
    font-weight: normal;
    line-height: 1.2;
    margin: 0;}

  a{
    background-image: linear-gradient(to top,
        rgba($textcolour_link, 0) 10%,
        rgba($textcolour_link, .5) 10%,
        rgba($textcolour_link, .5) 13%,
        rgba($textcolour_link, 0) 13%
    );
  }
}

.exhibitions-list{
  background-color: $offwhite;
  margin-bottom: $space;
}

.promo-list{
  padding-top: 1.05634vw;

  @media all and (min-width: $bp-med) {
    padding-top: 1.05634vw;
  }
}

.promo-list .list-item{
  font-size: 5vw;
  margin-bottom: 1.634vw;
  min-height: 49vw;
  position: relative;

  @media all and (min-width: $bp-small) {
    font-size: 3.5vw;
    width: 100%;
  }

  @media all and (min-width: $bp-small-3) {
    font-size: 2vw;
    min-height: 32vw;
  }

  @media all and (min-width: $bp-large) {
    @include span(6 of 24 split);
    font-size: 1.4vw;
    min-height: 24vw;
  }

  @media all and (min-width: 80em) {
    font-size: 1.25vw;
    min-height: 16vw;
  }
}

.home-promo .list-item{
  @media all and (min-width: 120em) {
    @include span(6 of 48 split);
    font-size: 0.8vw;
    min-height: 11.5vw;
  }

  &.list-item-wide{
    @media all and (min-width: $bp-small) {
      // @include span(24 of 24 split);
    }

    @media all and (min-width: $bp-small-3) {
      // @include span(8 of 24 split);
    }

    @media all and (min-width: $bp-large) {
      @include span(18 of 24 split);
      // width: 48%;
      // margin-left: 1%;
      // margin-right: 1%;
    }
    @media all and (min-width: 80em) {
      @include span(18 of 24 split);
    }
    @media all and (min-width: 120em) {
      @include span(18 of 48 split);
    }
  }
}

.editors-picks .list-item{

  @media all and (min-width: $bp-small-3) and (max-width: $bp-med) {
    @include span(12 of 24 split);
    min-height: 30vw;
  }

  @media all and (min-width: $bp-large) {
    $susy: (gutters: 1);
    @include layout($susy float inside);
    @include span(8 of 24 split);
  }

  @media all and (min-width: $bp-med) and (max-width: $bp-xxl) {
    min-height: 25vw;
  }
}



.news-item{
  @media all and (min-width: $bp-med) {
    @include span(8);
    &:last-child{
      margin-right: 0;
    }
  }

  .b-inner{
    background: none;
  }

  .b-text{
    padding: $space;
  }
}



// Channel landing specific
.above-hero {
  margin-top: $globalnavheight;
}

.exhibitions-list .list-item {
  margin-left: 0;
  margin-right: 0;
  min-height: 39vw;
  width: 100%;

  @media all and (min-width: $bp-med) {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 39vw;
    width: 48%;
  }

  @media all and (min-width: $bp-large) {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 16vw;
    width: 18%;
  }

  &.list-item-wide {
    @media all and (min-width: $bp-small) {
      width: 100%;
    }

    @media all and (min-width: $bp-med) and (max-width: $bp-large) {
      margin-left: 1%;
      margin-right: 1%;
      width: 48%;
    }

    @media all and (min-width: $bp-large) {
      margin-left: 1%;
      margin-right: 1%;
      width: 38%;
    }

  }
}

.soundcloud{
  background-color: #fc5b1f;
  background-position: 84% 50%;
  background-repeat: no-repeat;
  background-size: inherit;
  .inner{
    @media all and (min-width: $bp-small) {
      width: 50%;
    }
  }
}

.banner .lc{

  text-align: center;

  .btn{
    &:hover,
    &:focus{
      border-color: $white;
      color:        $white;
    }
  }

  @media all and (min-width: $bp-med) {
    @include flexbox();
    -webkit-align-items: center;
    align-items:         center;
  }

  > div{
    @media all and (min-width: $bp-med) {
      @include span(12 of 24);
      text-align: left;

      &:last-child{
        margin-right: 0;
        text-align: center;
      }
    }
  }
}

.channel-hero{
  background-position: 50% 80%;
  @media all and (min-width: $bp-med) {
    min-height: 30em;
  }
}

.channel-info{
  margin-bottom: 0;
  margin-top: $space;
  padding: 0 $space;
}

.channel-intro{

  @media all and (min-width: $bp-med) {
    @include flexbox();
    -webkit-flex-wrap: wrap;
    flex-wrap:         wrap;
  }

  .title{
    line-height: inherit;
  }

  > .channel-newstuff,
  .channel-description,
  .channel-stats{
    padding-top: $space;
    @media all and (max-width: $bp-med) {
      margin-bottom: 0;
      padding-top: 0;
    }
  }

  .item-line{
    display: flex;
    .link-text{
      @media all and (min-width: $bp-large) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 11em;
      }
      @media all and (min-width: $bp-xl){
        width: 13em;
      }
      @media all and (min-width: $bp-xxl){
        width: 16em;
      }
    }
    .link-date{
      margin-left: $pad-half;
    }

    .link-number{
      margin-left: $pad-half;
    }

    @media all and (min-width: $bp-med) {
      display: inline-flex;
    }
    @media all and (max-width: $bp-small-3) {
      display: block;
    }
  }
}

.channel-credits{
  @include fontSize(14px);
}

.channel-newstuff,
.about-collection{
  @media all and (min-width: $bp-med) {
    @include span(first 24 of 24);
  }
  @media all and (min-width: $bp-large) {
    @include span(first 9 of 24);
  }
}

.channel-description{
  padding: $space 0;
}

.channel-description,
.collection-social{
  @media all and (min-width: $bp-med) {
    @include span(14 of 24);
  }
  @media all and (min-width: $bp-large) {
    @include span(10 of 24);
  }
  .channel-description-text{
    margin-bottom: $space-half;
    @media all and (max-width: $bp-med) {
      padding-top: $space;
    }
  }
}

.channel-social{
  margin-bottom: $space;
  padding-left: 0;
}

.collection-social{
  .icon-twitter,
  .icon-facebook,
  .icon-googleplus,
  .icon-youtube,
  .icon-instagram,
  .icon-social-linkedin,
  .icon-soundcloud,
  .icon-tumblr,
  .icon-github,
  .icon-pinterest{
    color: $linkblue;
    height: 2.4em;
    margin-right: 0.5em;
    width: 2.4em;
  }
}

.channel-stats{

  li{
    line-height: 1;
    margin-bottom: $space-half;
  }

  @media all and (min-width: $bp-med) {
    @include span(last 10 of 24);
    border-left: 1px solid $gray-lighter;
    padding: $space;
  }
  @media all and (min-width: $bp-large) {
    @include span(last 5 of 24);
  }

  .number{
    @include fontSize(18px);
    font-weight: bold;
  }

  a:hover,
  a:focus{
    border-bottom: 1px dotted $textcolour_link_hover;
  }
}

.portal-down-social{
  padding-top: 2em;
  .channel-social{
    padding-left: 0;
  }
  .social-share{
    margin-left: 0;
  }
}

.colour-palette{
  //background-color: $offwhite;
  //padding: $space;

  @media all and (min-width: $bp-med) {
    @include span(19 of 24);
    padding-left: $pad;

    .filter-list li {
      width: 18%;
    }
  }

  @media all and (min-width: $bp-small) and (max-width: $bp-med) {
    @include span(24 of 24);
    padding-left: $pad;
    .filter-list li {
      width: 25%;
    }
  }

  @media all and (max-width: $bp-small) {
    @include span(24 of 24);
    padding-left: $pad;
    .filter-list li {
      width: 50%;
    }
  }

  ul{
    @include flexbox();
    -webkit-flex-wrap: wrap;
    flex-wrap:         wrap;
  }

  li > a{
    display: table;
    height: 4em;
    margin-bottom: $space-quarter;
    width: 100%;
  }

  span{
    display: table-cell;
  }

  .filter-list li {
    display: inline-block;
    margin-bottom: $space;
    padding-right: 1em;
  }

  .link-text{
    font-weight: bold;
    padding-right: 0.5em;
    width: 40%;
  }
  .link-number{
    width: 30%;
  }
  .link-date{
    width: 30%;
  }

  .colour-results{
    height: 1px;
    left: auto;
    overflow: hidden;
    position: absolute;
    top: -999999em;
    width: 1px;
}

  .colour-name{
    font-size: $font-size-slightly-smaller;
  }
}

.colour-hex{
  font-size: $font-size-slightly-smaller;
}


.channel-info{
  @media all and (min-width: $bp-small) and (max-width: $bp-med){
    .browse-entry-list:first-child{
      border-bottom: solid 1px #ccc;
      padding-bottom: $space;
    }
  }
}


.browse-entry-list{
  display:       block;
  margin-bottom: $space;
  position:      relative;

  .list-item-more{
    display: none;
  }
  .list-item-more,
  .list-item {
    min-height: 0;
    position: relative;
    @media all and (min-width: $bp-small) and (max-width: $bp-med) {
      @include gallery(12 of 24);
    }

    @media all and (min-width: $bp-med) {
      @include gallery(8 of 24);
    }
  }

  .browse-entries-more{
    color:        $eu-blue;
    display:      none;
    font-weight:  bold;
    text-align:   right;

    @media all and (min-width: $bp-small) and (max-width: $bp-small-2){
      border-bottom: 1px solid $eu-blue;
      border-top:    1px solid $eu-blue;
      margin-left:   -100%;
      width:         200%;
    }

    @media all and (min-width: $bp-small-2){
      bottom:       0;
      margin-right: 1em;
      position:     absolute;
      right:        0;
    }

    @media all and (max-width: $bp-med){
      font-size:    small;
    }

    &::after{
      content: '...';
    }
  }


  @media all and (max-width: $bp-small){

    .list-item:nth-child(3n+3) .browse-entries-more{
      display: block;
    }
  }

  @media all and (min-width: $bp-small) and (max-width: $bp-med){
    .list-item-more{
      display: block;
    }
  }


  @media all and (min-width: $bp-med){

    .list-item-more{
      display: none;
    }

    &:not(.single-type){
      .list-item:nth-child(3n+3) .browse-entries-more{
        display: block;
      }
    }
    &.single-type{
      .list-item:nth-child(6n) .browse-entries-more{
        display: block;
      }
    }

  }
}

.section-title .link-more{
  @include fontSize(14px);
  margin-left: 1em;
}

.section.channel-credits{

  .title{
    @media all and (min-width: $bp-med) {
      @include span(4 of 24);
    }
  }
  .credit-list{
    .title{
      font-size: $font-size-slightly-smaller;
      font-weight: bold;
      margin-bottom: $pad;
    }

    @media all and (min-width: $bp-med) {
      @include span(last 20 of 24);
    }
  }
}

.channels-landing-browse{
  .credit-list{
    .title{
      font-size: $font-size-slightly-smaller;
      font-weight: bold;
      margin-bottom: $pad;
      text-transform: uppercase;
    }
  }
}


.channel-social {
  .lc {
    border-top: 6px solid $offwhite;
    padding: $space-double;
    text-align: center;
  }
}

// LANDING ALTERNATIVE

.channels-landing-browse{
  padding: 1em 1em 3.2em 1em;

  .custom-newsletter,
  .channel-social{
    padding: 1em 0;
    @media all and (min-width: $bp-med) {
      min-height: 6.5em;
    }
  }

  .custom-newsletter-outer{
    @media all and (min-width: $bp-med) {
      padding-left: 2.6rem;
    }
  }

  .custom-newsletter{
    border-bottom:  1px solid #dedede;
    border-top:     1px solid #dedede;

    .cell{
      display: block;
    }

    @media all and (max-width: $bp-med) {
      form{
        margin-bottom: $pad;
        margin-top:    $space;
      }
    }

    @media all and (min-width: $bp-med) {
      float: right;
      width: 75%;

      .cell{
        float:  left;
        height: 100%;
        width:  50%;

        &:first-of-type{
          padding-right: $pad;
          width:  65%;
        }
        &:last-of-type{
          width:  35%;
        }
      }
      form {
        -webkit-transform: translateY(50%);
        transform:         translateY(50%);
      }
    }

    h4{
      font-size: $font-size-med;
    }

  }

  .channel-social{

    border-bottom:  1px solid #dedede;
    border-top:     1px solid #dedede;

    margin-bottom: 0;
    padding-right: 0;

    @media all and (min-width: $bp-med) {
      float: left;
      width: 25%;
    }

    h4{
      font-size: 1em;
    }

    .social-share{
      display:         flex;
      font-size:     0.6em;
      justify-content: space-between;
      margin-bottom: 0;
      margin-top:    $pad;
      padding-right: 0;
    }
  }
}

.main-content,
.entry-point-column,
.sneak-peek-content{

  padding:    0;
  position:   relative;
  width:      100%;


  .sneak-peek-subheader{
    display:       inline-block;
    font-size:     $font-size-slightly-smaller;
    font-weight:   bold;
    margin-bottom: $space;
  }

  .recently-viewed{
    display:       inline-block;
    font-weight:   bold;
    margin-bottom: 1em;
  }

  .show-more-mlt{
    margin-bottom: 1.6em;
  }
}

.landing-text-inner{

  .zoomed{
    display:   block;
    font-size: 1.5em;
  }

  @media all and (min-width: $bp-small-3) and (max-width: $bp-med){
    .credit-list{
      margin-top: $space;
    }
  }

  @media all and (max-width: $bp-med) {
    margin: $space 0;
  }

  .about{
    margin-bottom: $space;
    width:         100%;

    .text{
      display:        block;
      font-weight:    bold;
      text-transform: uppercase;
    }
  }
}

.section-header{
  text-transform: uppercase;
}

.editor-picks-header {
  margin-bottom:  0;
  padding: $pad-double 0 $pad-half 0;

  @media all and (min-width: $bp-small-3) and (max-width: $bp-med){
    padding: 0.5rem 0 0.5rem;
  }

  @media all and (min-width: $bp-med) {
    padding: $pad-double 0 $pad-half 0.75%;
  }
}

.landing-featured{

  background-position: 50% 50%;
  background-size:     cover;

  height:              100vw;

  position:            relative;

  .brand-circles-container{
    pointer-events: none;
    .brand-circles{
      width: 100%;
    }
  }

  .inner{
    z-index: 1;
  }

  @media all and (min-width: $bp-small) {
    font-size: 3.5vw;
  }

  @media all and (min-width: $bp-small-3) {
    font-size: 2vw;
  }

  @media all and (min-width: $bp-small-3) and (max-width: $bp-med){
    height:   45vw;
    position: absolute;
    right:    0;
    top:      0;
    width:    49%;
  }

  @media all and (min-width: $bp-large) {
    font-size: 1.4vw;
  }

  @media all and (min-width: 80em) {
    font-size: 1.25vw;
  }
}

.entry-points{
  border-bottom: 1px solid #dedede;
  margin-bottom: 0.75em;
  padding-bottom: 1em;

  &:first-of-type {
    border-top: 1px solid #dedede;
    margin-top: 1.5em;
  }

  .entry-point {
    position: relative;
  }

  .entry-points-title {
    color: $medium-gray;
    display: inline-block;
    font-size: $font-size-slightly-smaller;
    font-weight: bold;
    margin: 0.4rem 0 1.25em 0;
    text-transform: uppercase;
  }

  .entry-points-title,
  .entry-point-link {
    font-size: $font-size-slightly-smaller;
  }

  .entry-point-image {
    height: 2.5em;
    object-fit: contain;
    width: 2.5em;
  }

  .entry-point-link {
    position: relative;
  }

  .entry-point-text {
    display:           inline-block;
    margin:            0.2em 0 0.2em 0;
    position:          relative;
    top:               50%;
    -webkit-transform: translateY(-50%);
    transform:         translateY(-50%);

    @media all and (min-width: $bp-med){
      margin-left: $pad-half;
    }
  }

  @media all and (min-width: $bp-small-3) and (max-width: $bp-med) {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1em;
    width: 48%;

    &:first-of-type {
      border-top: 0;
      margin-top: 1em;
    }

    &:last-of-type {
      margin-top: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  @media all and (min-width: $bp-med) {
    margin: 0 0 0.75em 0;
    width: 100%;

    &:first-of-type {
      border-top: 1px solid #dedede;
      margin-top: 1.5em;
    }

    &:last-of-type {
      margin-top: 0;
      position: relative;
      right: auto;
      top: auto;
    }

  }

}

.happening-content{
  background-color: $paper;
  margin-bottom:    3.2em;
  position:         relative;

  .happening-header{
    margin: $space 0;
  }

  .subscribe-block{
    position: absolute;
    right:    -0.5em;
    top:      0;

    a{
      color: $gray30;
    }

    .icon{
      font-size: 1.5em;
    }

    .svg-icon-rss{
      display: inline-block;
      height: 1.5em;
      width:  1.5em;
    }

  }

  .js-carousel-date{
    color: $gray-light;
    font-size: $font-size-sm;
    margin-left: 0.25em;
  }

  .js-carousel-type{
    border-radius:  4px;
    bottom:         $pad;
    color:          #fff;
    font-size:      $font-size-sm;
    font-weight:    normal;
    padding:        0.1em 0.6em;
    position:       absolute;
    right:          2em;
    text-transform: uppercase;
  }
}

.type-blog,
.type-news{
  background-color: $eu-red;
}

.type-events{
  background-color: $eu-purple;
}

.type-tumblr{
  background-color: $brand-tumblr;
}

@media all and (min-width: $bp-med) {
  .channels-landing-browse{
    padding: $pad $pad;
  }

  .main-content{
    padding-left: $pad;
  }

  .main-content{
    clear: both;
    float: right;
    width: 75%;
  }

  .entry-points:first-of-type{
    border-top:  0;
    margin-top:  0;
  }

  .editor-picks-header{
    margin:  0;
  }

  .entry-point-column{
    float: left;
    width: 25%;
  }

  .landing-text-inner{
    display:         flex;
    flex-direction:  column;
    height:          100%;
    justify-content: space-between;
    position:        relative;

    .opening{
      -webkit-align-self: flex-start;
      align-self:         flex-start;
    }

    .zoomed{
      font-size: 1.25em;
    }

    .about{
      -webkit-align-self: flex-end;
      align-self:         flex-end;
      margin-bottom:      0;

      .text{
        font-size:      0.9em;
      }
    }
  }

  .sneak-peek-content{

    margin-top: 0;

    .js-sneak-peek-header{
      margin-top: $space;
    }

    .sneak-peek-list{

      border-top: 1px solid #dedede;
      padding-top: $pad;

      &::after{
        background: linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        bottom: 0;
        content: ' ';
        height: 24em;
        pointer-events: none;
        position: absolute;
        width: 100%;
      }
    }
  }

  .landing-text{
    float:    left;
    overflow: hidden;
    width:    30%;
  }

  .landing-featured{
    float:  left;
    width:  70%;
  }

  .landing-text,
  .landing-featured{
    height: 65vh;
  }

  .happening-content{
    .happening-header{
      margin: 0;
      margin-bottom: $space;
    }
  }

}

@media all and (min-width: $bp-large) {
  .channels-landing-browse{
    padding: $space $space $space * 2;
  }

  .main-content{
    padding-left: $space;
  }

  .landing-text{
    @include span(8 of 24);
  }

  .landing-featured{
    @include span(16 of 24 last);
  }
}


.text-logo{
  background-color: #000;
  border-bottom:    0.25em solid #000;
  color:            #fff;
  font-size:        2em;
  line-height:      1.9em;
  text-transform:   uppercase;
  width:            100%;

  .inner-text{
    padding-left: 0.4em;
  }
  .inner{
    background-color: #fff;
    color:            #000;
    display:          block;
  }

  &.facet-header{
    display: none;
    @media all and (min-width: $bp-med) {
      display: inline-block;
    }
    @media all and (min-width: $bp-med) and (max-width: $bp-med+5em) {
      font-size:        1.2em;
    }
  }
  &.page-header{
    display: inline-block;
    margin:  0 0 1em 0;

    @media all and (min-width: $bp-small-3) and (max-width: $bp-med){
      display:        block;
      margin-bottom:  33%;
      width:          49%;
    }
    @media all and (min-width: $bp-med) {
      display: none;
    }
    @media all and (max-width: $bp-small-2) {
      font-size:        1.2em;
    }
  }
}


// UGC / Stories

.ugc-content{

  abbr{
    border-bottom: 0;
  }

  legend{
    font-size:   $font-size-large;
    font-weight: bold;
  }

  fieldset{

    margin-bottom: $space;
    text-align:    right;

    fieldset{
      border:     1px solid $eu-blue;
      margin-top: $space;
      padding:    0 $space $space-and-half $space;

      legend{
        font-size: $font-size-med;
        margin:    0;
        padding:   0 $space-half;
      }
    }

    .input{
      text-align: left;
    }
  }

  label{
    color:       $gray-med;
    font-weight: bold;
    margin-top:  $space;

    &.file::before{
      background-image:  url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg' width='23' height='32'%3E%3Cpath d='M21.333 24.727H1.939q-.216 0-.35-.135t-.135-.35v-2.909q0-.215.135-.35t.35-.135h19.394q.215 0 .35.135t.135.35v2.909q0 .215-.135.35t-.35.135zM1.589 11.286l9.697-9.697q.189-.135.35-.135t.35.135l9.697 9.697q.215.216.108.539-.135.296-.458.296H16v6.303q0 .215-.135.35t-.35.135H7.757q-.215 0-.35-.135t-.135-.35v-6.303H1.939q-.323 0-.458-.296-.108-.323.108-.539z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:   ' ';
      display:   inline-block;
      height:    1.5em;
      transform: translateY(0.4em) scale(0.8);
      width:     1.8em;
    }
  }

  .hint{
    font-size:  $font-size-slightly-smaller;
    font-style: italic;
  }

  .remove_nested_fields_link{
    display:     inline-block;
    padding-top: 0.5em;
  }

  .sequenced_object::after{
    content:      attr(index);
    padding-left: 0.4em;
  }

  .error{
    color:      $eu-red;
    font-size:  $font-size-slightly-smaller;

    &::before{

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-encode-color($eu-red)}' viewBox='0 0 23 32'%3E%3Cpath d='M23.003 21.226q.62 1.212-.081 2.343-.727 1.158-2.074 1.158H2.424q-1.347 0-2.074-1.158-.673-1.104-.108-2.343L9.454 2.802q.7-1.347 2.182-1.347 1.508 0 2.155 1.347zM10.182 7.758V16h2.909V7.758h-2.909zm1.454 14.545q.808 0 1.374-.566t.566-1.374-.566-1.374-1.374-.566-1.374.566-.566 1.374.566 1.374 1.374.566z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;

      content:   ' ';
      display:   inline-block;
      height:    1.4em;
      transform: translateY(0.4em);
      width:     1.3em;
    }
  }

  a[data-association-path]{
    color: $gray-med;
    &:hover{
      color: $eu-blue;
    }
  }

  [data-association-path="ore_aggregation_edm_aggregatedCHO_dc_subject_agents"]{

    &:hover::before{
      background-image:  url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($eu-blue)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.273 23.273v0.97q0 0.215-0.135 0.35t-0.35 0.135h-22.303q-0.216 0-0.35-0.135t-0.135-0.35v-0.97q0-1.347 0.902-2.276t2.182-1.455 2.559-0.997 2.182-1.226 0.902-1.805q-0.108-0.108-0.31-0.337t-0.7-1.024-0.889-1.684-0.7-2.303-0.31-2.896q0-2.397 1.71-4.108t4.108-1.71 4.108 1.71 1.71 4.108q0 1.481-0.296 2.882t-0.727 2.33-0.862 1.643-0.727 1.064l-0.296 0.323q0 1.051 0.902 1.805t2.182 1.226 2.559 0.997 2.182 1.455 0.902 2.276z'%3E%3C/path%3E%3C/svg%3E");
    }

    &::before{
      background-image:  url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.273 23.273v0.97q0 0.215-0.135 0.35t-0.35 0.135h-22.303q-0.216 0-0.35-0.135t-0.135-0.35v-0.97q0-1.347 0.902-2.276t2.182-1.455 2.559-0.997 2.182-1.226 0.902-1.805q-0.108-0.108-0.31-0.337t-0.7-1.024-0.889-1.684-0.7-2.303-0.31-2.896q0-2.397 1.71-4.108t4.108-1.71 4.108 1.71 1.71 4.108q0 1.481-0.296 2.882t-0.727 2.33-0.862 1.643-0.727 1.064l-0.296 0.323q0 1.051 0.902 1.805t2.182 1.226 2.559 0.997 2.182 1.455 0.902 2.276z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:           ' ';
      display:           inline-block;
      height:            2em;
      transform:         translate(0, .7em) scale(0.7);
      width:             1.6em;
    }

  }

  [data-association-path="ore_aggregation_edm_hasViews"]{

    &:hover::before{
      background-image: url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($eu-blue)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 32'%3E%3Cpath d='M23.192 8.269q.081.189.081.458v14.545q0 .593-.431 1.024t-1.024.431H1.454q-.593 0-1.024-.431t-.431-1.024V8.727q0-.269.081-.458l1.939-5.818q.135-.431.525-.714t.849-.283h16.485q.458 0 .849.283t.525.714zM2.99 8.727h17.293l-1.455-4.364H4.444z'%3E%3C/path%3E%3C/svg%3E");
    }
    &::before{
      background-image: url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 32'%3E%3Cpath d='M23.192 8.269q.081.189.081.458v14.545q0 .593-.431 1.024t-1.024.431H1.454q-.593 0-1.024-.431t-.431-1.024V8.727q0-.269.081-.458l1.939-5.818q.135-.431.525-.714t.849-.283h16.485q.458 0 .849.283t.525.714zM2.99 8.727h17.293l-1.455-4.364H4.444z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:           ' ';
      display:           inline-block;
      height:            2em;
      transform:         translate(0, .7em) scale(0.7);
      width:             1.6em;
    }
  }


  .hint ~ .error{
    margin-left: $space;
  }

  .invalid,
  .had-focus:invalid{
    border: 1px solid $eu-red;
  }

  .submit{
    display: block;
    margin-top: $space;
  }

  p{
    padding: 0 $space;
  }

  .lc > .prose{
    @media all and (min-width: $bp-med) {
      @include span(18 of 24);
      max-width: 40em;
    }
    padding-bottom: $space-triple;

    p{
      padding-left: 0;
    }

    p:first-child{
      font-size: 1.5625em;
    }

    ul.eu-autocomplete{
      list-style: none;
      margin:     0;
    }
  }

  .sidebar{
    @media all and (min-width: $bp-med) {
      @include span(last 6 of 24);
    }
  }

  .eu-autocomplete{
    display: block;
  }

  .prose .btn-copy{
    border-bottom:  1px dotted $black;
    color:          $black;
    font-size:      $font-size-sm;
    opacity:        0;
    padding-top:    0.5em;
    pointer-events: none;
    position:       absolute;
    right:          1em;
    top:            3.1em;
    transition:     opacity 0.3s ease;

    &.enabled{
      opacity:        1;
      pointer-events: auto;
    }

    &:hover,
    &:focus{
      border-bottom: 1px dotted $eu-blue;
      color:         $eu-blue;
    }

  }

  .copies-other-field{
    position: relative;
  }

  .requires-other-field{

    display: none;

    &.enabled{
      display: block;
    }
  }

}



// STATIC PAGES

.static-content{
  p{
    padding: 0 $space;
  }
  .lc > .prose{
    @media all and (min-width: $bp-med) {
      @include span(18 of 24);
      max-width: 40em;
    }
    padding-bottom: $space-triple;

    p{
      padding-left: 0;
    }

    p:first-child{
      font-size: 1.5625em;
    }
  }
  .sidebar{
    @media all and (min-width: $bp-med) {
      @include span(last 6 of 24);
    }
  }

  .opus-img {
    background-image: url('../../images/search/europeana_opus.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 0;
    padding-top: 70.88%;
    width: 100%;
  }

}

.block-content-header {
  background-color: #ddebee;
  padding: $space-double $space;
  h1{
    color: $accent;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.section.page-header{
  @media all and (min-width: $bp-med) {
    padding-top: $space-triple;
  }

  > .lc{
    max-width: 40em;
  }
}


.prose li {
  margin-bottom: 0;
}


// LANGUAGE SELECTION PAGE
.language-selection {
  background: $white;
  padding: 0 $space;

  @media all and (min-width: $bp-med) {
    background: linear-gradient(to right, $offwhite 0%, $offwhite 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
  }

  .container{
    @include container($max-width);
    @media all and (min-width: $bp-med) {
      overflow: hidden;
    }
  }
}

#settings-form{

  h1{
    font-family: $font-primary;
    font-size: $font-size-norm;
    font-weight: bold;
    margin-bottom: $space-half;
  }
  .check-language {
    .control-group {
      margin-bottom: $pad-half;
      .title {
        font-size: $font-size-slightly-smaller;
        margin-bottom: $pad-half;
        padding-top: $pad;
      }
    }
    .field-container{
      .language_wrapper{
        label{
          font-weight: normal;
        }
        select{
          margin-left: $pad-half;
          margin-top: $pad;
        }
      }
      label{
        font-size: $font-size-slightly-smaller;
        font-weight: bold;
        margin-bottom: $pad-half;
        padding-top: $pad;
      }
    }
    p{
      font-size: $font-size-slightly-smaller;
      margin-bottom: $pad-half;
    }

    input{
      box-shadow: none;
      font-size: $font-size-slightly-smaller;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        background: $blue-dark;
      }
    }

    .pushbutton{
      background: $white;
      color: $gray-med;
      cursor: pointer;
      font-size: $font-size-sm;
      margin-bottom: $pad;
      padding: $pad-half;
      width: auto;
      &:hover {
        background: $offwhite;
      }
    }
  }

  .group-item {
    font-size: $font-size-slightly-smaller;
    padding-left: 0;
  }
  .group-checkbox {
    margin: 0;
  }

}

.settings-nav {
  .level1 > li > a {
    color: $gray87;
  }
}

// clear language selection button

.table-links {
  padding: 0 $pad;
  @media all and (min-width: $bp-small-3) {
    .table-responsive-break tbody:nth-of-type(even) {
      background-color: #f1f1ee;
    }
  }
  @media all and (max-width: $bp-small-3) {
    td{
      border-left: 0;
    }
  }
}

.js-hidden,
.eu-tooltip-container,
.feedback{
  display: none;
}


.data-table{

  th{
    text-transform: capitalize;
  }

  td,
  th{
    &:first-of-type{
      text-align: center;
    }
  }

  .linked-row{
    td{
      padding: 0;
      > a{
        display: block;
        padding: 0.5em;
      }
    }

    &:hover{
      background-color: $eu-blue;
      color:            $white;
      a{
        color: $white;
      }
    }
  }
}

