
// Search Site specific styles

//Logo for Search
.logo {
	background-image: url("../../images/europeana-logo-collections.png");
	.svg &{
		background-image: url("../../images/europeana-logo-collections.svg");
	}
}

.hero-contents{
	position: absolute;
	top: 55%;
	left: 50%;
	@include translate (-50%, -50%);
	z-index: 5;

	.searchbar{
		margin-bottom: $space;
	}

	.strapline{
		max-width: 50em;
		margin: 0 auto;

		padding: $space-half $space;

		@media all and (min-width: $bp-med) {
			padding: $space;
		}
	}
}

.search-hero{
	height: 50%;
	max-height: 50em;

	@media all and (min-width: $bp-med) {
		height: 75%;
	}
}

.section, .promo-list, .promo-topcontent{
	@include pad(1/4);
}

.promo-topcontent{

	border-bottom: 3px solid $gray-lighter;

	> .lc {
		text-align: center;
		padding: $space;
		margin: $space-half auto;
	}

	h2{
		margin: 0;
		font-weight: normal;
		line-height: 1.2;
	}

	a{
		background-image: linear-gradient(to top,
		    rgba($textcolour_link, 0) 10%,
		    rgba($textcolour_link, .5) 10%,
		    rgba($textcolour_link, .5) 13%,
		    rgba($textcolour_link, 0) 13%
		);
	}
}

.exhibitions-list{
	background-color: $offwhite;
	margin-bottom: $space;
}

.promo-list{

	padding-top: $space-quarter; //fallback
	padding-top: 1.05634vw;

	@media all and (min-width: $bp-med) {
		padding-top: $space-half; //fallback
		padding-top: 1.05634vw;
	}
}

.promo-list .list-item{

	margin-bottom: $space-quarter; //fallback
	margin-bottom: 1.05634vw;
	position: relative;

	min-height: 10em;
	min-height: 49vw;
	font-size: 5vw;

	@media all and (min-width: $bp-small) {
		@include span(12 of 24 split);
		font-size: 3.5vw;
	}

	@media all and (min-width: $bp-small-3) {
		@include span(8 of 24 split);
		min-height: 32vw;
		margin-bottom: $space-half; //fallback
		margin-bottom: 1.05634vw;
		font-size: 2vw;
	}

	@media all and (min-width: $bp-large) {
		@include span(6 of 24 split);
		min-height: 24vw;
		font-size: 1.5vw;
	}

	@media all and (min-width: 80em) {
		min-height: 16vw;
		font-size: 1.25vw;
	}
}

.home-promo .list-item{
	@media all and (min-width: 120em) {
		@include span(6 of 48 split);
		min-height: 11.5vw;
		font-size: 0.8vw;
	}

	&.list-item-wide{
		@media all and (min-width: $bp-small) {
			@include span(24 of 24 split);
		}

		@media all and (min-width: $bp-small-3) {
			@include span(16 of 24 split);
		}

		@media all and (min-width: $bp-large) {
			@include span(24 of 24 split);
		}
		@media all and (min-width: 80em) {
			@include span(12 of 24 split);
		}
		@media all and (min-width: 120em) {
			@include span(24 of 48 split);
		}
	}
}



.news-item{
	@media all and (min-width: $bp-med) {
		@include span(8);
		&:last-child{
			margin-right: 0;
		}
	}

	.b-inner{
		background: none;
	}

	.b-text{
		padding: $space;
	}
}



// Channel landing specific

.exhibitions-list .list-item{

	@media all and (min-width: $bp-large) {
		width: span(4 of 24 split);
		min-height: 15vw;
	}

	&.list-item-wide {
		@media all and (min-width: $bp-small) {
			width: span(24 of 24 split);
		}

		@media all and (min-width: $bp-large) {
			width: span(12 of 24 split);
		}
	}
}

.soundcloud{
	background-color: #FC5B1F;
	//border: 1px solid $gray-lighter;
	background-size: inherit;
	background-repeat: no-repeat;
	background-position: 84% 50%;

	.inner{
		@media all and (min-width: $bp-small) {
			width: 50%;
		}
	}
}

.prelaunch-feedback .lc{

	text-align: center;

	@media all and (min-width: $bp-med) {
		@include flexbox();
		-webkit-align-items: center;
		align-items: center;
	}

	& > div{
		@media all and (min-width: $bp-med) {
			@include span(12 of 24);
			text-align: left;

			&:last-child{
				margin-right: 0;
				text-align: center;
			}
		}
	}

}


.channel-hero{
	background-position: 50% 80%;
	@media all and (min-width: $bp-med) {
		min-height: 30em;
	}
}

.channel-info{
	padding: 0 $space;
	margin-top: $space;
	margin-bottom: 0;
}

.channel-intro{

	@media all and (min-width: $bp-med) {
		@include flexbox();
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;

		-webkit-align-items: center;
		align-items: center;
	}

	.title{
		line-height: inherit;
	}

	& > div{
		margin-bottom: $space;
	}
}

.channel-description{
	@media all and (min-width: $bp-med) {
		@include span(10 of 24);
		padding: $space;
	}
}

.channel-credits{
	@include fontSize(14px);
}

.channel-description-text{
	margin-bottom: $space-half;
}

.channel-stats{

	li{
		line-height: 1;
		margin-bottom: $space-half;
	}

	@media all and (min-width: $bp-med) {
		@include span(last 5 of 24);
		padding: $space;
		border-left: 1px solid $gray-lighter;
	}



	.number{
		@include fontSize(18px);
		font-weight: bold;
	}

	a:hover, a:focus{
		border-bottom: 1px dotted $textcolour_link_hover;
	}
}

.channel-newstuff{
	background-color: $offwhite;
	padding: $space;

	@media all and (min-width: $bp-med) {
		@include span(9 of 24);
	}

	ul{
		display: block;
	}

	li > a{
		display: table;
		width: 100%;
		line-height: 1;
		margin-bottom: $space-half;
	}

	span{
		display: table-cell;
	}

	.link-text{
		width: 40%;
		font-weight: bold;
		padding-right: 0.5em;
	}
	.link-number{
		width: 30%;
	}
	.link-date{
		width: 30%;
	}
}

.browse-entry-list{

	margin-bottom: $space;
	display: block;

	@media all and (min-width: $bp-med) {
		//padding: $space-half;
	}

	.list-item {
		position: relative;
		min-height: 0;

		@media all and (min-width: $bp-small) {
			@include gallery(12 of 24);
		}

		@media all and (min-width: $bp-med) {
			@include gallery(8 of 24);
		}
	}
}

.section-title .link-more{
	@include fontSize(14px);
	margin-left: 1em;
}

.section.channel-credits{

	.title{
		@media all and (min-width: $bp-med) {
			@include span(4 of 24);
		}
	}
	.credit-list{
		@media all and (min-width: $bp-med) {
			@include span(last 20 of 24);
		}
	}
}

.channel-social{
	.lc{
		border-top: 6px solid $offwhite;
		text-align: center;
		padding: $space-double;
	}
}
