
// Search Site specific styles

.search-home-hero{
	height: 50%;
	position: relative;
	margin-top: $globalnavheight;

	@media all and (min-width: $bp-med) {
		height: 80%;
	}

	.hero-contents{
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate (-50%, -50%);
		width: 80%;
	}

	.searchbar{
		margin-bottom: $space;
	}

	.strapline{
		padding: $space;

		@media all and (min-width: $bp-med) {
			padding: $space-double;
		}
	}
}

.section, .promo-list{
	@include pad(1/4);
}

.promo-list{
	background-color: $offwhite;
	padding-top: $space-quarter; //fallback
	padding-top: 1.05634vw;

	@media all and (min-width: $bp-med) {
		padding-top: $space-half; //fallback
		padding-top: 1.05634vw;
	}
}

.promo-list .list-item{

	@extend .prototype; // Remove me

	position: relative;
	margin-bottom: $space-quarter; //fallback
	margin-bottom: 1.05634vw;
	min-height: 50vw;

	overflow: hidden;

	@media all and (min-width: $bp-small) {
		@include gallery(12 of 24);
	}

	@media all and (min-width: $bp-med) {
		@include gallery(6 of 24);
		min-height: 25vw;
		margin-bottom: $space-half; //fallback
		margin-bottom: 1.05634vw;
	}

	&:last-child{
		//margin-right: 0;
	}

	.title{
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate (-50%, -50%);

		color: $white;
		text-align: center;
		text-transform: uppercase;
		max-width: 80%;
		@include fontSize(20px);
		letter-spacing: 0.2em;
		line-height: 1;

	}

	a{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

	}
}

.category-flag{
	background-color: $accent;
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	@include fontSize(12px);
	display: block;
	padding: $space-quarter $space-half;
	position: absolute;
	top: 5%;
	left: -2px;
	min-width: 30%;
    letter-spacing: 0.1rem;

    .item-channel &{
    	background-color: $eu-orange;
    }

    .item-exhibition &{
    	background-color: $eu-yellow;
    }

    .item-new &{
    	background-color: $eu-blue;
    }

    .item-partner &{
    	background-color: $eu-pro;
    }
}

.news-item{
	@media all and (min-width: $bp-med) {
		@include span(8);
		&:last-child{
			margin-right: 0;
		}
	}
}