
// Search Site specific styles



.hero-contents{
	position: absolute;
	top: 55%;
	left: 50%;
	@include translate (-50%, -50%);
	z-index: 5;

	.searchbar{
		margin-bottom: $space;
	}

	.strapline{
		max-width: 50em;
		margin: 0 auto;

		padding: $space-half $space;

		@media all and (min-width: $bp-med) {
			padding: $space;
		}
	}
}

.search-home-hero{
	height: 50%;	

	@media all and (min-width: $bp-med) {
		height: 75%;
	}

	.hero-contents{
		width: 80%;
	}
}

.section, .promo-list, .promo-topcontent{
	@include pad(1/4);
}

.promo-topcontent{

	border-bottom: 3px solid $gray-lighter;

	> .lc {
		text-align: center;
		padding: $space;
		margin: $space-half auto;
	}

	h2{
		margin: 0;
		font-weight: normal;
		line-height: 1.2;
	}

	a{
		background-image: linear-gradient(to top,
		    rgba($textcolour_link, 0) 10%,
		    rgba($textcolour_link, .5) 10%,
		    rgba($textcolour_link, .5) 13%,
		    rgba($textcolour_link, 0) 13%
		);
	}
}

.promo-list{
	background-color: $offwhite;
	padding-top: $space-quarter; //fallback
	padding-top: 1.05634vw;

	@media all and (min-width: $bp-med) {
		padding-top: $space-half; //fallback
		padding-top: 1.05634vw;
	}

	.list-item{
		margin-bottom: $space-quarter; //fallback
		margin-bottom: 1.05634vw;
		position: relative;
	}
}

.home-promo .list-item{
	min-height: 10em;
	min-height: 49vw;

	@media all and (min-width: $bp-small) {
		@include gallery(12 of 24);
	}

	@media all and (min-width: $bp-med) {
		@include gallery(6 of 24);
		min-height: 24vw;
		margin-bottom: $space-half; //fallback
		margin-bottom: 1.05634vw;
	}
}

.news-item{
	@media all and (min-width: $bp-med) {
		@include span(8);
		&:last-child{
			margin-right: 0;
		}
	}

	.excerpt{
		padding: 0 $space-half;
	}
}

// Channel landing specific
.channel-hero{
	height: 40%;
}


.channel_landing{

	.exhibitions-list .list-item{
		min-height: 10em;
		min-height: 49vw;

		@media all and (min-width: $bp-small) {
			@include gallery(12 of 24);
		}

		@media all and (min-width: $bp-med) {
			@include gallery(5 of 25);
			min-height: 19vw;
		}
	}

	.suggested-list{

		background-color: $blue_dark;

		.list-item{

			@media all and (min-width: $bp-small) {
				@include gallery(12 of 24);
			}

			@media all and (min-width: $bp-med) {
				min-height: 10em;
				min-height: 12vw;
				@include gallery(8 of 24);
			}

			@media all and (min-width: $bp-large) {
				@include gallery(4 of 24);
			}
		}

		.lower{
			@media all and (min-width: $bp-med) {
				position: absolute;
				bottom: 0;
			}
		}
	}
}



.channel-info{

	padding: $space;
	margin-bottom: 0;

	.lc > div{
		margin-bottom: $space-half;
	}

	@media all and (min-width: $bp-med) {
		margin-top: $space-double;
		margin-bottom: $space;
		.lc > div{
			margin-bottom: $space;
		}
	}
}
.channel-description{
	@include fontSize(18px);

	@media all and (min-width: $bp-med) {
		@include span(8 of 24);
	}
}
.channel-stats{

	@media all and (min-width: $bp-small) {
		@include span(10 of 24);
	}

	@media all and (min-width: $bp-med) {
		@include span(6 of 24);
	}

	.number{
		@include fontSize(18px);
		font-weight: bold;
	}

	a:hover, a:focus{
		border-bottom: 1px dotted $textcolour_link_hover;
	}
}
.channel-newstuff{
	@media all and (min-width: $bp-small) {
		@include span(last 14 of 24);
	}
	@media all and (min-width: $bp-med) {
		@include span(last 10 of 24);
	}

	.link-text{
		@include span(5 of 10);
		font-weight: bold;
	}
	.link-number{
		margin-right: .5em;
	}
	.link-number,.link-date{
		display: inline-block;
	}
}

.channel-credits{
	.title{
		@media all and (min-width: $bp-med) {
			@include span(4 of 24);
		}
	}
	.credit-list{
		@media all and (min-width: $bp-med) {
			@include span(last 20 of 24);
		}
	}
}


