
// Search Site specific styles

.search-home-hero{
	height: 50%;
	position: relative;
	overflow: hidden;
	

	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;

	@media all and (min-width: $bp-small) {
		margin-top: $globalnavheight;
	}	

	@media all and (min-width: $bp-med) {
		height: 70%;
	}

	.hero-contents{
		position: absolute;
		top: 55%;
		left: 50%;
		@include translate (-50%, -50%);
		width: 80%;
		z-index: 5;
	}

	.searchbar{
		margin-bottom: $space;
	}

	.strapline{
		max-width: 50em;
		margin: 0 auto;

		padding: $space-half $space;

		@media all and (min-width: $bp-med) {
			padding: $space;
		}
	}

	.attribution{
		position: absolute;
		z-index: 10;
		bottom: 10px;

		@media all and (min-width: $bp-small) {
			display: inline-block;
			right: 0;
		}
	}
}

.section, .promo-list, .promo-topcontent{
	@include pad(1/4);
}

.promo-topcontent{

	border-bottom: 3px solid $gray-lighter;

	> .lc {
		// background-color: $offwhite;
		text-align: center;
		padding: $space;
		margin: $space-half auto;
		// border: 1px solid $gray-lighter;
	}

	h2{
		margin: 0;
		font-weight: normal;
		line-height: 1.2;
	}

	a{
		background-image: linear-gradient(to top,
		    rgba($textcolour_link, 0) 10%,
		    rgba($textcolour_link, .5) 10%,
		    rgba($textcolour_link, .5) 13%,
		    rgba($textcolour_link, 0) 13%
		);
	}
}

.promo-list{
	background-color: $offwhite;
	padding-top: $space-quarter; //fallback
	padding-top: 1.05634vw;

	@media all and (min-width: $bp-med) {
		padding-top: $space-half; //fallback
		padding-top: 1.05634vw;
	}
}

.promo-list .list-item{

	position: relative;
	margin-bottom: $space-quarter; //fallback
	margin-bottom: 1.05634vw;
	min-height: 50vw;

	background-color: $accent;
	background-position: center center;
	background-size: cover;
	//background-blend-mode: multiply;

	@media all and (min-width: $bp-small) {
		@include gallery(12 of 24);
	}

	@media all and (min-width: $bp-med) {
		@include gallery(6 of 24);
		min-height: 25vw;
		margin-bottom: $space-half; //fallback
		margin-bottom: 1.05634vw;
	}

	.title{
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate (-50%, -50%);

		color: $white;
		text-align: center;
		text-transform: uppercase;
		max-width: 80%;
		@include fontSize(20px);
		letter-spacing: 0.2em;
		line-height: 1;

	}

	a{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		overflow: hidden;

		background-color: rgba($black, .2);

		&:hover, &:focus{
			background-color: rgba($accent, .8);
		}
	}
}

.category-flag{
	background-color: $accent;
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	@include fontSize(12px);
	display: block;
	padding: $space-quarter $space-half;
	position: absolute;
	z-index: 50;
	top: 5%;
	left: -4px;
    letter-spacing: 0.1rem;

    .item-channel &{
    	background-color: $eu-orange;
    }

    .item-exhibition &{
    	background-color: $eu-yellow;
    }

    .item-new &{
    	background-color: $eu-blue;
    }

    .item-partner &{
    	background-color: $eu-pro;
    }
}

.news-item{
	@media all and (min-width: $bp-med) {
		@include span(8);
		&:last-child{
			margin-right: 0;
		}
	}
}