
// Search Site specific styles

//Logo for Search
.logo {
  background-image: url("../../images/europeana-logo-collections.png");
  .svg &{
    background-image: url("../../images/europeana-logo-collections.svg");
      @media all and (min-width: $bp-med) and (max-width: $bp-large) {
        background-image: url("../../images/europeana-logo-symbol.svg");
        min-width:50px;
        max-width:50px;
      }
  }
}

.hero-contents{

  position: relative;

  //z-index: 5;
  // updated to stop smart menu going under attribution
  z-index: 11;

  top: 50%;
  @include translate (0, -50%);

  @media all and (min-width: $bp-med) {
    position: absolute;
    left: 50%;
    @include translate (-50%, -50%);
    width: 80%;
  }

  .searchbar{
    margin-bottom: $space;
  }

  .strapline{
    display: none;
    max-width: 50em;
    margin: 0 auto;
    word-wrap: normal;

    padding: $space-half $space;

    @media all and (min-width: $bp-med) {
      padding: $pad;
      display: block;
    }
  }
}

.search-hero{
  height: 50%;

  @media all and (min-width: $bp-med) {
    height: 75%;
  }
}

.tumblr-feed-section{
  margin-bottom: 5em;
  //@include pad(1/3);
  .tumblr-feed{
    margin: $space 0;
  }
}

.section, .promo-list, .promo-topcontent{
  @include pad(1/4);
}
.section-box{
  padding: $space;
}

.promo-topcontent{

  border-bottom: 3px solid $gray-lighter;

  > .lc {
    text-align: center;
    padding: $space;
    margin: $space-half auto;
  }

  h2{
    margin: 0;
    font-weight: normal;
    line-height: 1.2;
  }

  a{
    background-image: linear-gradient(to top,
        rgba($textcolour_link, 0) 10%,
        rgba($textcolour_link, .5) 10%,
        rgba($textcolour_link, .5) 13%,
        rgba($textcolour_link, 0) 13%
    );
  }
}

.exhibitions-list{
  background-color: $offwhite;
  margin-bottom: $space;
}

.promo-list{

  padding-top: $space-quarter; //fallback
  padding-top: 1.05634vw;

  @media all and (min-width: $bp-med) {
    padding-top: $space-half; //fallback
    padding-top: 1.05634vw;
  }
}

.promo-list .list-item{

  margin-bottom: $space-quarter; //fallback
  margin-bottom: 1.05634vw;
  position: relative;

  min-height: 10em;
  min-height: 49vw;
  font-size: 5vw;

  @media all and (min-width: $bp-small) {
    @include span(12 of 24 split);
    font-size: 3.5vw;
  }

  @media all and (min-width: $bp-small-3) {
    @include span(8 of 24 split);
    min-height: 32vw;
    margin-bottom: $space-half; //fallback
    margin-bottom: 1.05634vw;
    font-size: 2vw;
  }

  @media all and (min-width: $bp-large) {
    @include span(6 of 24 split);
    min-height: 24vw;
    font-size: 1.5vw;
  }

  @media all and (min-width: 80em) {
    min-height: 16vw;
    font-size: 1.25vw;
  }
}

.home-promo .list-item{
  @media all and (min-width: 120em) {
    @include span(6 of 48 split);
    min-height: 11.5vw;
    font-size: 0.8vw;
  }

  &.list-item-wide{
    @media all and (min-width: $bp-small) {
      @include span(24 of 24 split);
    }

    @media all and (min-width: $bp-small-3) {
      @include span(8 of 24 split);
    }

    @media all and (min-width: $bp-large) {
      @include span(18 of 24 split);
    }
    @media all and (min-width: 80em) {
      @include span(18 of 24 split);
    }
    @media all and (min-width: 120em) {
      @include span(18 of 48 split);
    }
  }
}



.news-item{
  @media all and (min-width: $bp-med) {
    @include span(8);
    &:last-child{
      margin-right: 0;
    }
  }

  .b-inner{
    background: none;
  }

  .b-text{
    padding: $space;
  }
}



// Channel landing specific
.above-hero {
  @media all and (min-width: $bp-small) {
    margin-top: $globalnavheight;
  }
}

.exhibitions-list .list-item{

  @media all and (min-width: $bp-large) {
    width: span(4 of 24 split);
    min-height: 15vw;
  }

  &.list-item-wide {
    @media all and (min-width: $bp-small) {
      width: span(24 of 24 split);
    }

    @media all and (min-width: $bp-large) {
      width: span(12 of 24 split);
    }
  }
}

.soundcloud{
  background-color: #FC5B1F;
  //border: 1px solid $gray-lighter;
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: 84% 50%;

  .inner{
    @media all and (min-width: $bp-small) {
      width: 50%;
    }
  }
}

.banner .lc{

  text-align: center;

  @media all and (min-width: $bp-med) {
    @include flexbox();
    -webkit-align-items: center;
    align-items: center;
  }

  & > div{
    @media all and (min-width: $bp-med) {
      @include span(12 of 24);
      text-align: left;

      &:last-child{
        margin-right: 0;
        text-align: center;
      }
    }
  }

}


.channel-hero{
  background-position: 50% 80%;
  @media all and (min-width: $bp-med) {
    min-height: 30em;
  }
}

.channel-info{
  padding: 0 $space;
  margin-top: $space;
  margin-bottom: 0;
}

.channel-intro{

  @media all and (min-width: $bp-med) {
    @include flexbox();
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .title{
    line-height: inherit;
  }

  & > div{
    margin-bottom: $space;
    padding-top: $space;
  }

  .item-line{
    display: flex;
    .link-text{

      @media all and (min-width: $bp-large) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 11em;
      }
      @media all and (min-width: $bp-xl){
        width: 13em;
      }
      @media all and (min-width: $bp-xxl){
        width: 16em;
      }
    }
    .link-date{
        margin-left: $pad-half;
    }

    .link-number{
        margin-left: $pad-half;
      }

    @media all and (min-width: $bp-med) {
      display: inline-flex;
    }
    @media all and (max-width: $bp-small-3) {
      display: block;
    }
  }

}

.channel-credits{
  @include fontSize(14px);
}

.channel-newstuff,
.about-collection{
  @media all and (min-width: $bp-med) {
    @include span(first 24 of 24);
  }
  @media all and (min-width: $bp-large) {
    @include span(first 9 of 24);
  }
}


.channel-description,
.collection-social{
  @media all and (min-width: $bp-med) {
    @include span(14 of 24);
    padding: $space 0;

  }
  @media all and (min-width: $bp-large) {
    @include span(10 of 24);
  }
  .channel-description-text{
    margin-bottom: $space-half;
  }
}



.channel-stats{

  li{
    line-height: 1;
    margin-bottom: $space-half;
  }

  @media all and (min-width: $bp-med) {
    @include span(last 10 of 24);
    padding: $space;
    border-left: 1px solid $gray-lighter;
  }
  @media all and (min-width: $bp-large) {
    @include span(last 5 of 24);
  }



  .number{
    @include fontSize(18px);
    font-weight: bold;
  }

  a:hover, a:focus{
    border-bottom: 1px dotted $textcolour_link_hover;
  }
}

.colour-palette{
  //background-color: $offwhite;
  //padding: $space;

  @media all and (min-width: $bp-med) {
    @include span(19 of 24);
    .filter-list li {
      width: 18%;
    }
    padding-left: $pad;
  }

  @media all and (min-width: $bp-small) and (max-width: $bp-med) {
    @include span(24 of 24);
    .filter-list li {
      width: 25%;
    }
    padding-left: $pad;
  }

  @media all and (max-width: $bp-small) {
    @include span(24 of 24);
    .filter-list li {
      width: 50%;
    }
    padding-left: $pad;
  }

  ul{
    @include flexbox();
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  li > a{
    display: table;
    width: 100%;
    //line-height: 1;
    margin-bottom: $space-quarter;
    height: 4em;

  }

  span{
    display: table-cell;
  }

  .filter-list li {
    display: inline-block;
    padding-right: 1em;
    margin-bottom: $space;
  }

  .link-text{
    width: 40%;
    font-weight: bold;
    padding-right: 0.5em;
  }
  .link-number{
    width: 30%;
  }
  .link-date{
    width: 30%;
  }

  .colour-results{
    position: absolute;
    top: -999999em;
    left: auto;
    width: 1px;
    height: 1px;
    overflow:hidden;
}

  .colour-name{
    font-size: $font-size-slightly-smaller;
  }
}

.colour-hex{
    font-size: $font-size-slightly-smaller;
  }


.browse-entry-list{

  margin-bottom: $space;
  display:       block;
  position:      relative;

  @media all and (min-width: $bp-med) {
    //padding: $space-half;
  }

  .list-item {
    position: relative;
    min-height: 0;

    @media all and (min-width: $bp-small) {
      @include gallery(12 of 24);
    }

    @media all and (min-width: $bp-med) {
      @include gallery(8 of 24);
    }
  }

  .browse-entries-more{
    color:        $eu-blue;
    display:      none;
    font-weight:  bold;
    text-align:   right;

    @media all and (min-width: $bp-small) and (max-width: $bp-small-2){
      border-top:    1px solid $eu-blue;
      border-bottom: 1px solid $eu-blue;
      margin-left:   -100%;
      width:         200%;
    }

    @media all and (min-width: $bp-small-2){
      bottom:       0;
      position:     absolute;
      margin-right: 1em;
      right:        0;
    }

    @media all and (max-width: $bp-med){
      font-size:    small;
    }

    &:after{
      content: "..."
    }
  }


  @media all and (max-width: $bp-small){

    .list-item:nth-child(3n+3) .browse-entries-more.upper-row{
      display: block;
    }

    .list-item:nth-child(3n+6) .browse-entries-more.upper-row{
      display: none;
    }

    .list-item:nth-child(3n+6) .browse-entries-more.lower-row{
      display: block;
    }
  }

  @media all and (min-width: $bp-small) and (max-width: $bp-med){

    .list-item:nth-child(2n) .browse-entries-more.upper-row{
      display: block;
    }

    .list-item:nth-child(2n+4) .browse-entries-more.upper-row{
      display: none;
    }

    .list-item:nth-child(2n+6) .browse-entries-more.lower-row{
      display: block;
    }
  }

  @media all and (min-width: $bp-med){
    .list-item:nth-child(3n+3) .browse-entries-more.upper-row{
      display: block;
    }

    .list-item:nth-child(3n+6) .browse-entries-more.upper-row{
      display: none;
    }

    .list-item:nth-child(3n+6) .browse-entries-more.lower-row{
      display: block;
    }
  }
}

.section-title .link-more{
  @include fontSize(14px);
  margin-left: 1em;
}

.section.channel-credits{

  .title{
    @media all and (min-width: $bp-med) {
      @include span(4 of 24);
    }
  }
  .credit-list{
    @media all and (min-width: $bp-med) {
      @include span(last 20 of 24);
    }
  }
}

.channel-social{
  .lc{
    border-top: 6px solid $offwhite;
    text-align: center;
    padding: $space-double;
  }
}


// STATIC PAGES
.static-content{
  p{
    padding: 0 $space;
  }
  .lc > .prose{
    @media all and (min-width: $bp-med) {
      @include span(18 of 24);
      max-width: 40em;
    }
    padding-bottom: $space-triple;

    & p{
      padding-left: 0;
    }

    & p:first-child{
      font-size: 1.5625em;
    }
  }
  .sidebar{
    @media all and (min-width: $bp-med) {
      @include span(last 6 of 24);
    }
  }
}

.block-content-header {
  background-color: #DDEBEE;
  padding: $space-double $space;
  h1{
    margin-bottom: 0;
    margin-left: 0;
    color: $accent;
  }
}

.section.page-header{
  @media all and (min-width: $bp-med) {
    padding-top: $space-triple;
  }

  & > .lc{
    max-width: 40em;
  }
}


.prose li {
    margin-bottom: 0;
  }


// LANGUAGE SELECTION PAGE


.language-selection{
  padding: 0 $space;

  background: $white; // fallback

  @media all and (min-width: $bp-med) {
    background: $offwhite; // fallback
    @include background(linear-gradient(to right, $offwhite 0%,$offwhite 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%));
  }

  .container{
    @include container($max-width);
    @media all and (min-width: $bp-med) {
      overflow:hidden;
    }
  }
}

#settings-form{

  h1{
    font-size: $font-size-norm;
    margin-bottom: $space-half;
    font-family: $font-primary;
    font-weight: bold;
  }
  .check-language{
    .control-group{
      margin-bottom: $pad-half;
      .title{
        padding-top: $pad;
        margin-bottom: $pad-half;
        font-size: $font-size-slightly-smaller;
      }
    }
    .field-container{
      .language_wrapper{
        display: flex;
        label{
          font-weight: normal;
        }
        select{
          margin-top: $pad;
          margin-left: $pad-half;
        }
      }
      label{
        padding-top: $pad;
        margin-bottom: $pad-half;
        font-size: $font-size-slightly-smaller;
        font-weight: bold;
      }
    }
    p{
      font-size: $font-size-slightly-smaller;
      margin-bottom: $pad-half
    }

    input{
      box-shadow: none;
      font-size: $font-size-slightly-smaller;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        background: $blue-dark;
      }
    }

    .pushbutton{
      color: $gray-med;
      margin-bottom: $pad;
      background: $white;
      font-size: $font-size-sm;
      padding: $pad-half;
      width: auto;
      cursor: pointer;
      &:hover {
        background: $offwhite;
      }
    }
  }

  .group-item {
      padding-left: 0;
      font-size: $font-size-slightly-smaller;
  }
  .group-checkbox {
    margin: 0;
  }

}

.settings-nav {
    .level1 > li > a {
      color: $gray87;
    }
}

// clear language selection button

.table-links {
  padding: 0 $pad;
  @media all and (min-width: $bp-small-3) {
    .table-responsive-break tbody:nth-of-type(even) {
      background-color: #F1F1EE;
    }
  }
  @media all and (max-width: $bp-small-3) {
    td{
      border-left: none;
    }
  }
}
