.ugc-content{

  abbr{
    border-bottom: 0;
  }

  legend{
    font-size:   $font-size-large;
    font-weight: bold;
  }

  fieldset{

    margin-bottom: $space;
    text-align:    right;

    fieldset{
      border:     1px solid $eu-blue;
      margin-top: $space;
      padding:    0 $space $space-and-half $space;

      legend{
        font-size: $font-size-med;
        margin:    0;
        padding:   0 $space-half;
      }
    }

    .input{
      text-align: left;
    }
  }

  label{
    color:       $gray-med;
    font-weight: bold;
    margin-top:  $space;

    &.file::before{
      background-image:  url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg' width='23' height='32'%3E%3Cpath d='M21.333 24.727H1.939q-.216 0-.35-.135t-.135-.35v-2.909q0-.215.135-.35t.35-.135h19.394q.215 0 .35.135t.135.35v2.909q0 .215-.135.35t-.35.135zM1.589 11.286l9.697-9.697q.189-.135.35-.135t.35.135l9.697 9.697q.215.216.108.539-.135.296-.458.296H16v6.303q0 .215-.135.35t-.35.135H7.757q-.215 0-.35-.135t-.135-.35v-6.303H1.939q-.323 0-.458-.296-.108-.323.108-.539z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:   ' ';
      display:   inline-block;
      height:    1.5em;
      transform: translateY(0.4em) scale(0.8);
      width:     1.8em;
    }
  }

  .btn{
    display: inline-block;
    &:hover{
      background-color: $blue-dark;
      color: $white;
    }
    &.disabled{
      pointer-events: none;
    }
  }

  .error{
    color:      $eu-red;
    font-size:  $font-size-slightly-smaller;

    &::before{

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-encode-color($eu-red)}' viewBox='0 0 23 32'%3E%3Cpath d='M23.003 21.226q.62 1.212-.081 2.343-.727 1.158-2.074 1.158H2.424q-1.347 0-2.074-1.158-.673-1.104-.108-2.343L9.454 2.802q.7-1.347 2.182-1.347 1.508 0 2.155 1.347zM10.182 7.758V16h2.909V7.758h-2.909zm1.454 14.545q.808 0 1.374-.566t.566-1.374-.566-1.374-1.374-.566-1.374.566-.566 1.374.566 1.374 1.374.566z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;

      content:   ' ';
      display:   inline-block;
      height:    1.4em;
      transform: translateY(0.4em);
      width:     1.3em;
    }
  }

  .flash-notice{
    display: block;
    padding: 0 0 1.6rem 0;
  }

  .hint{
    font-size:  $font-size-slightly-smaller;
    font-style: italic;
  }

  .remove_nested_fields_link{
    display:     inline-block;
    padding-top: 0.5em;
  }

  .sequenced_object::after{
    content:      attr(index);
    padding-left: 0.4em;
  }

  .story-select{
    margin: 0 0 1.6em 0;
  }

  a[data-association-path]{
    color: $gray-med;
    &:hover{
      color: $eu-blue;
    }
  }

  [data-association-path="ore_aggregation_edm_aggregatedCHO_dc_subject_agents"]{

    &:hover::before{
      background-image:  url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($eu-blue)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.273 23.273v0.97q0 0.215-0.135 0.35t-0.35 0.135h-22.303q-0.216 0-0.35-0.135t-0.135-0.35v-0.97q0-1.347 0.902-2.276t2.182-1.455 2.559-0.997 2.182-1.226 0.902-1.805q-0.108-0.108-0.31-0.337t-0.7-1.024-0.889-1.684-0.7-2.303-0.31-2.896q0-2.397 1.71-4.108t4.108-1.71 4.108 1.71 1.71 4.108q0 1.481-0.296 2.882t-0.727 2.33-0.862 1.643-0.727 1.064l-0.296 0.323q0 1.051 0.902 1.805t2.182 1.226 2.559 0.997 2.182 1.455 0.902 2.276z'%3E%3C/path%3E%3C/svg%3E");
    }

    &::before{
      background-image:  url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.273 23.273v0.97q0 0.215-0.135 0.35t-0.35 0.135h-22.303q-0.216 0-0.35-0.135t-0.135-0.35v-0.97q0-1.347 0.902-2.276t2.182-1.455 2.559-0.997 2.182-1.226 0.902-1.805q-0.108-0.108-0.31-0.337t-0.7-1.024-0.889-1.684-0.7-2.303-0.31-2.896q0-2.397 1.71-4.108t4.108-1.71 4.108 1.71 1.71 4.108q0 1.481-0.296 2.882t-0.727 2.33-0.862 1.643-0.727 1.064l-0.296 0.323q0 1.051 0.902 1.805t2.182 1.226 2.559 0.997 2.182 1.455 0.902 2.276z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:           ' ';
      display:           inline-block;
      height:            2em;
      transform:         translate(0, .7em) scale(0.7);
      width:             1.6em;
    }

  }

  [data-association-path="ore_aggregation_edm_hasViews"]{

    &:hover::before{
      background-image: url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($eu-blue)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 32'%3E%3Cpath d='M23.192 8.269q.081.189.081.458v14.545q0 .593-.431 1.024t-1.024.431H1.454q-.593 0-1.024-.431t-.431-1.024V8.727q0-.269.081-.458l1.939-5.818q.135-.431.525-.714t.849-.283h16.485q.458 0 .849.283t.525.714zM2.99 8.727h17.293l-1.455-4.364H4.444z'%3E%3C/path%3E%3C/svg%3E");
    }
    &::before{
      background-image: url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 32'%3E%3Cpath d='M23.192 8.269q.081.189.081.458v14.545q0 .593-.431 1.024t-1.024.431H1.454q-.593 0-1.024-.431t-.431-1.024V8.727q0-.269.081-.458l1.939-5.818q.135-.431.525-.714t.849-.283h16.485q.458 0 .849.283t.525.714zM2.99 8.727h17.293l-1.455-4.364H4.444z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:           ' ';
      display:           inline-block;
      height:            2em;
      transform:         translate(0, .7em) scale(0.7);
      width:             1.6em;
    }
  }


  .hint ~ .error{
    margin-left: $space;
  }

  .invalid,
  .had-focus:invalid{
    border: 1px solid $eu-red;
  }

  .submit{
    display: block;
    margin-top: $space;
  }

  .submits{
    text-align: right;
    .submit{
      display: inline-block;
    }
  }

  p{
    padding: 0 $space;
  }

  .lc > .prose{
    @media all and (min-width: $bp-med) {
      @include span(18 of 24);
      max-width: 40em;
    }
    padding-bottom: $space-triple;

    p{
      padding-left: 0;
    }

    p:first-child{
      font-size: 1.5625em;
    }

    ul.eu-autocomplete{
      list-style: none;
      margin:     0;
    }
  }

  .sidebar{
    @media all and (min-width: $bp-med) {
      @include span(last 6 of 24);
    }
  }

  .eu-autocomplete{
    display: block;
  }

  .prose .btn-copy{
    border-bottom:  1px dotted $black;
    color:          $black;
    font-size:      $font-size-sm;
    opacity:        0;
    padding-top:    0.5em;
    pointer-events: none;
    position:       absolute;
    right:          1em;
    top:            3.1em;
    transition:     opacity 0.3s ease;

    &.enabled{
      opacity:        1;
      pointer-events: auto;
    }

    &:hover,
    &:focus{
      border-bottom: 1px dotted $eu-blue;
      color:         $eu-blue;
    }

  }

  .copies-other-field{
    position: relative;
  }

  .requires-other-field{

    display: none;

    &.enabled{
      display: block;
    }
  }
}
