@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');

$ugc-padding:             2rem;
$ugc-padding-half:        calc(#{$ugc-padding} / 2);
$ugc-thumb-dimension-w:   10rem;
$ugc-thumb-dimension-h:   8rem;

$desktop-breakpoint:      952px;
$desktop-form-max-width:  872px;
$desktop-form-full-width: calc(#{$ugc-padding} + #{$desktop-form-max-width} + #{$ugc-padding});
$desktop-input-max-width: 607px;
$desktop-label-width:     calc(#{$desktop-form-max-width} - #{$desktop-input-max-width});

$cb-margin-right:         0.5em;

noscript div{
  color:       $eu-red;
  font-size:   1.6rem;
  font-weight: bold;
  margin:      1.6rem;
  text-align:  center;
}

.ugc-landing-hero{

  background-blend-mode: multiply;
  background-color:      rgba(22, 118, 170, 0.7);

  &::after{
    content:  '';
  }

  .hero-text{
    background-color: transparent;
    bottom:           auto;
    left:             0;
    margin:           auto;
    right:            0;
    top:              50%;
    transform:        translateY(-50%);
    width:            auto;

    h1{
      font-weight: 600;
    }
    h3{
      font-weight: normal;
    }
    .btn{
      border-color: $white;
      border-width: 1px;
      color:        $white;
      left:         50%;
      margin-top:   $space-half;
      transform:    translateX(-50%);

      &:active,
      &:hover{
        background-color: $white;
        border-color:     $white;
        color:            $eu-blue;
      }
    }
  }

  @media all and (min-width: $bp-med) {
    .hero-text{
      width: 50%;
    }
  }
  @media all and (min-width: $bp-large) {
    .hero-text{
      width: 50%;
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    &::after{
      background: transparentize(darken($eu-blue, 8), .5);
      bottom:     0;
      content:    ' ';
      position:   absolute;
      top:        0;
      width:      100%;
    }
  }

  @supports (-ms-ime-align:auto) {
    &::after{
      background: transparentize(darken($eu-blue, 8), .5);
      bottom:     0;
      content:    ' ';
      position:   absolute;
      top:        0;
      width:      100%;
    }
  }

}

.captioned-image{

  display:        flex;
  flex-direction: column;

  a{
    border-top:  1px solid $gray-lighter;
    margin-top:  $space;
    padding-top: $pad;
    text-align:  center;
  }

  .height-to-width{
    position: relative;
    width:    100%;

    &.js-disabled{
      img{
        display: inline;
      }
      > .inner{
        background-size: 0;
      }
    }
    img{
      display: none;
    }
  }

  .inner{
    background-position: center;
    background-size:     cover;
    text-align:          center;
  }
}

.ugc-closing-remark,
.ugc-landing-description{

  font-size: $font-size-slightly-larger;
  margin:    auto;
  padding:   2em;

  @media all and (min-width: $bp-med) {
    width:     70%;
  }
}

.main-call-to-contribute{
  left:      50%;
  transform: translateX(-50%);
}

.ugc-preview{

  display:        flex;
  flex-direction: column;
  padding:        2em;

  &.person::after{
    border-top: 3px solid $eu-blue;
    content:    ' ';
    left:       0;
    position:   absolute;
    transform:  translateY(-2em);
    width:      calc(100% - 2em);
  }

  .text{
    align-self:     center;
    display:        flex;
    flex-direction: column;

    a{
      align-self: center;
    }
  }

  @media all and (min-width: $bp-med) {

    flex-direction: row;
    padding:        2em 0;

    .captioned-image,
    .text{
      padding: 0 2em;
      width:   50%;
    }

    .text a{
      align-self: start;
    }

    &.person::after{
      transform:  none;
      width:      calc(50% - 2em);
    }

    &:nth-of-type(even){
      flex-direction: row-reverse;
    }

    &:nth-of-type(odd){
      &.person::after{
        left:  auto;
        right: 0;
      }
    }
  }

}


.ugc-content,
.ugc-landing-hero,
.ugc-landing-hero ~ .lc,
.ugc-landing-hero ~ .section,
.ugc-landing-hero ~ .footer{

  font-family: 'Open Sans', sans-serif;

  .hero-text{

    h1{
      font-weight: 600;
    }

    h1,
    h3{
      font-family: 'Open Sans', sans-serif;
    }
  }
}

.ugc-content{

  margin:  auto;

  abbr{
    border-bottom:   0;
    text-decoration: none;
  }

  input[type="checkbox"]{
    transform: translateY(0.25em);

    + label{
      cursor: pointer;
    }
  }

  .button-row{
    align-items:     flex-end;
    display:         flex;
    justify-content: center;

    .enable-flex:last-of-type{
      margin-left: 3em;
    }

    .enable-flex:first-of-type{
      margin-left: 0;
    }

    input{
      ::-moz-focus-inner {
        border: 0;
        padding: 0;
      }
    }
  }

  .eu-confirmation-form{

    margin-bottom:   3rem;

    input[name="commit"]{

      background:     transparent;
      border:         1px solid $eu-blue;
      color:          $eu-blue;
      display:        inline-block;
      padding:        1em 2.5em;

      &:focus,
      &:hover{
        background-color: $eu-blue;
        color:            $white;
      }
    }
  }

  .label-and-input:not(.positioned-right) label{
    color:          $gray-med;
    display:        block;
    font-weight:    bold;
    hyphens:        none;
    padding:        0;
    padding-bottom: 0.5em;
    width:          100%;

    &.file::before{
      background-image:  url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg' width='23' height='32'%3E%3Cpath d='M21.333 24.727H1.939q-.216 0-.35-.135t-.135-.35v-2.909q0-.215.135-.35t.35-.135h19.394q.215 0 .35.135t.135.35v2.909q0 .215-.135.35t-.35.135zM1.589 11.286l9.697-9.697q.189-.135.35-.135t.35.135l9.697 9.697q.215.216.108.539-.135.296-.458.296H16v6.303q0 .215-.135.35t-.35.135H7.757q-.215 0-.35-.135t-.135-.35v-6.303H1.939q-.323 0-.458-.296-.108-.323.108-.539z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:   ' ';
      display:   inline-block;
      height:    1.5em;
      transform: translateY(0.4em) scale(0.8);
      width:     1.8em;
    }
  }

  legend,
  .legend{
    font-size:     $font-size-large;
    font-weight:   bold;
    margin-bottom: 0;
    padding:       $ugc-padding 0 $ugc-padding-half 0;
  }

  legend{
    text-align: left;
  }

  fieldset{
    margin:     0 auto;
    text-align: right;

    fieldset{
      legend{
        font-size: $font-size-med;
        margin:    0;
      }
    }

    .input{
      text-align: left;
      ::placeholder{
        color: rgba(77, 77, 77, 0.7);
      }
    }
  }

  &.new-contribution form{
    margin:    auto;
    max-width: 100%;
    overflow:  hidden;
    padding:   0 $ugc-padding $ugc-padding $ugc-padding;

    select,
    input:not([type="submit"]){
      align-self: start;
      width:      100%;
    }
  }

  input[name="commit"]{
    display:  block;
    margin:   $ugc-padding auto 0 auto;
    width:    auto;
  }

  input[type="radio"]{

    -moz-appearance:    radio;
    -webkit-appearance: radio;
    appearance:         radio;
    opacity:            0;

    &:hover,
    &:active,
    &:focus{
      border:  0;
      outline: 0;
    }
  }

  input:not([name="commit"]):not([type="submit"]):not([type="radio"]),
  textarea{

    &:hover{
      border: 1px solid $black;
    }
    &:active,
    &:focus{
      border: 1px solid $eu-blue;
    }
  }

  .btn{
    display: inline-block;
    &:hover{
      background-color: $blue-dark;
      color: $white;
    }
    &.disabled{
      pointer-events: none;
    }
  }

  .error{
    color:      $eu-red;
    font-size:  $font-size-slightly-smaller;

    &::before{

      background-image:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{url-encode-color($eu-red)}' viewBox='0 0 23 32'%3E%3Cpath d='M23.003 21.226q.62 1.212-.081 2.343-.727 1.158-2.074 1.158H2.424q-1.347 0-2.074-1.158-.673-1.104-.108-2.343L9.454 2.802q.7-1.347 2.182-1.347 1.508 0 2.155 1.347zM10.182 7.758V16h2.909V7.758h-2.909zm1.454 14.545q.808 0 1.374-.566t.566-1.374-.566-1.374-1.374-.566-1.374.566-.566 1.374.566 1.374 1.374.566z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:           ' ';
      display:           inline-block;
      height:            1.4em;
      transform:         translateY(0.4em);
      width:             1.3em;
    }

    &.global{
      display: block;
      &.hidden{
        display: none;
      }
    }
  }

  .flash-notice{
    display: block;
    padding: 0 0 1.6rem 0;
  }

  .ugc-confirm-header{

    font-size:  1.6em;
    text-align: center;

    &:last-of-type{
      font-size: 1.2em;
    }

  }

  .hint{
    font-size:  $font-size-slightly-smaller;
    font-style: normal;
  }

  .error,
  .hint{
    display:       block;
  }

  .input:not(.hidden){
    margin: $space 0;

    .relative{
      display: inline-block;
      width:   100%;
    }
  }

  form > fieldset > .nested_fields,
  .media-items fieldset{
    background-color: $offwhite;
    left:             -$ugc-padding;
    padding:          0 $ugc-padding;
    position:         relative;
    width:            calc(#{$ugc-padding} + 100% + #{$ugc-padding});
  }

  .label-and-input.positioned-right{

    display:        flex;
    flex-direction: column-reverse;

    input[type="checkbox"]{

      margin-left:  0;
      margin-right: auto;
      width:        auto;
    }
  }

  .label-and-input.full-width{

    justify-content: flex-start;

    input[type="checkbox"]{
      display:      inline-block;
      margin-right: $cb-margin-right;
    }

    label{
      display: inline;
      font-weight: normal;
    }

    input[type="checkbox"],
    label{
      width:   auto;
    }
  }

  .license-radios{

    a:hover .icon-license-unknown{
      background-image: url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($linkblue)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M104.76 0v52.38a52.38 52.38 0 0 1-52.38 52.38H0V52.38A52.38 52.38 0 0 1 52.38 0h52.38zM9.57 52.36A42.81 42.81 0 1 0 52.38 9.55 42.82 42.82 0 0 0 9.57 52.36z' class='cls-1'%3E%3C/path%3E%3Cpath d='M69.6 39.74a10.64 10.64 0 0 1-.81 4.75c-.51 1-.89 1.74-1.1 2.21a11 11 0 0 1-1.44 2c-.81.89-1.32 1.48-1.57 1.74-1.27 1.27-2.46 2.46-3.6 3.56a11.53 11.53 0 0 0-2.25 2.71 7.1 7.1 0 0 0-.55 3.22v4.75H46.19v-5.94a11.17 11.17 0 0 1 .85-4.88 22.46 22.46 0 0 1 3.52-4.41l5.39-5.56a5.4 5.4 0 0 0 1.19-3.65 5.57 5.57 0 0 0-1.27-3.77 4 4 0 0 0-3.31-1.53 4.17 4.17 0 0 0-3.44 1.78 8.71 8.71 0 0 0-1.7 4.75H34.78c.59-5.3 2.5-9.46 5.81-12.47a17.49 17.49 0 0 1 12.3-4.54q7.44 0 12.09 4.07c3.1 2.72 4.62 6.46 4.62 11.21zM57.34 69.93a7 7 0 1 0 0 9.88 7 7 0 0 0 0-9.88z' class='cls-1'%3E%3C/path%3E%3C/svg%3E");
    }

    .icon-license-unknown{
      background-image: url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($black)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M104.76 0v52.38a52.38 52.38 0 0 1-52.38 52.38H0V52.38A52.38 52.38 0 0 1 52.38 0h52.38zM9.57 52.36A42.81 42.81 0 1 0 52.38 9.55 42.82 42.82 0 0 0 9.57 52.36z' class='cls-1'%3E%3C/path%3E%3Cpath d='M69.6 39.74a10.64 10.64 0 0 1-.81 4.75c-.51 1-.89 1.74-1.1 2.21a11 11 0 0 1-1.44 2c-.81.89-1.32 1.48-1.57 1.74-1.27 1.27-2.46 2.46-3.6 3.56a11.53 11.53 0 0 0-2.25 2.71 7.1 7.1 0 0 0-.55 3.22v4.75H46.19v-5.94a11.17 11.17 0 0 1 .85-4.88 22.46 22.46 0 0 1 3.52-4.41l5.39-5.56a5.4 5.4 0 0 0 1.19-3.65 5.57 5.57 0 0 0-1.27-3.77 4 4 0 0 0-3.31-1.53 4.17 4.17 0 0 0-3.44 1.78 8.71 8.71 0 0 0-1.7 4.75H34.78c.59-5.3 2.5-9.46 5.81-12.47a17.49 17.49 0 0 1 12.3-4.54q7.44 0 12.09 4.07c3.1 2.72 4.62 6.46 4.62 11.21zM57.34 69.93a7 7 0 1 0 0 9.88 7 7 0 0 0 0-9.88z' class='cls-1'%3E%3C/path%3E%3C/svg%3E");
      display:          block;
      height:           1em;
      margin:           0.35em 0;
      width:            1.37em;
    }

    .license-section label{
      padding-bottom: 1em;
    }

    .licenses{
      display:          flex;
      justify-content:  space-between;

      label,
      .cc-info{
        display:        flex;
        height:         100%;
      }

      label{
        flex-direction: column;
      }

      .cc-info{
        align-items:    flex-end;
        flex-direction: row;
        font-weight:    normal;
        margin:         auto;

        a:hover{
          color: $link-blue;
        }
      }

      // TODO: delete .license-icon after EC-2808 deployed
      .license-icon{
        background-repeat: no-repeat;
        font-size:         1.6em;
      }

      .cc-name{
        flex-basis:  55px;
        font-size:   $font-size-sm;
        line-height: 1em;
      }

      .cc-info-row{
        align-items:     center;
        display:         flex;
        flex-direction:  row;
        justify-content: center;
      }
    }

    .license-radio-option{

      margin:    $space $space-half $space-half $space-half;
      position:  relative;
      width:     calc(33% - 0.5em);

      &:first-of-type{
        margin-left: 0;
      }

      &:last-of-type{
        margin-right: 0;
      }

      input{
        box-shadow: none;
        margin:     0;
      }

      a{
        border-bottom: 0;
      }

      input:checked ~ label,
      input:active  ~ label,
      label:hover{
        background-color: $white;
        border-color: $eu-blue;

        .checkmark {
          background-color: $gray-lighter;
        }
      }

      label{
        border:        1px solid $gray-light;
        border-radius: 0.25em;
        padding:       2.4em 1em 1em 1em;
        transform:     translateY(-3em);
      }

      // TODO: delete li EC-2808 deployed
      li,
      .item,
      .license-description{
        display:     block;
        font-weight: normal;
      }

      // TODO: delete li after EC-2808 deployed
      li,
      .item{
        font-size:   $font-size-slightly-smaller;
        margin-left: 1em;

        &::before{
          content:    '*';
          left:       1.25em;
          margin-top: 0.25em;
          position:   absolute;
        }
      }
      .this-means::after{ content: ':';}

      .checkmark{
        background-color: $white;
        border-radius:    12px;
        cursor:           pointer;
        height:           24px;
        left:             50%;
        position:         absolute;
        top:              1em;
        transform:        translateX(-50%);
        width:            24px;

        &::after {
          background-color:  $linkblue;
          border:            solid $white;
          border-width:      0 3px 3px 0;
          content:           '';
          display:           none;
          height:            10px;
          left:              8px;
          position:          absolute;
          top:               4.5px;
          -ms-transform:     rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform:         rotate(45deg);
          width:             5px;
        }
      }

      .license-description{
        padding: $pad 0;
      }

      input:not(:checked) ~ label .checkmark {
        border: 1px solid #979797;
      }

      input:checked ~ label .checkmark {

        background-color: $linkblue;

        &::after{
          display: block;
        }
      }

    }
  }

  .slide-rail{
    left:     0;
    position: relative;

    &.js-swipe-transition{
      transition: left 0.3s linear;
    }
  }

  .remove_nested_fields_link{
    display:     inline-block;
    padding-top: $space;
  }

  .sequenced_object::after{
    content:      attr(index);
    padding-left: 0.4em;
  }

  .contribution-select{
    margin: 0 0 1.6em 0;
  }

  .create-new-link{
    margin: $space 0;
  }

  .contribution-select,
  .create-new-link{
    display: table;
  }

  a{
    color: $gray-med;
    &:hover{
      color: $eu-blue;
    }
  }

  label a{
    border-bottom: 1px dotted;
  }

  &.new-contribution form .media-preview{
    text-align: center;
    img{
      background-color: $gray-lighter;
      color:            $offwhite;
      display:          inline-block;
      font-size:        $font-size-slightly-smaller;
      font-weight:      bold;
      max-height:       $ugc-thumb-dimension-h;
      min-height:       $ugc-thumb-dimension-h;
      min-width:        $ugc-thumb-dimension-w;
      padding:          1em;
    }
    label{
      max-width:  none;
      text-align: left;
    }

    input[type="checkbox"]{
      width: auto;
    }
    .input{
      margin:     0.5rem 0;
      text-align: center;
    }
  }

  [data-association-path="ore_aggregation_edm_aggregatedCHO_dc_subject_agents"]{

    &:hover::before{
      background-image:  url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($eu-blue)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.273 23.273v0.97q0 0.215-0.135 0.35t-0.35 0.135h-22.303q-0.216 0-0.35-0.135t-0.135-0.35v-0.97q0-1.347 0.902-2.276t2.182-1.455 2.559-0.997 2.182-1.226 0.902-1.805q-0.108-0.108-0.31-0.337t-0.7-1.024-0.889-1.684-0.7-2.303-0.31-2.896q0-2.397 1.71-4.108t4.108-1.71 4.108 1.71 1.71 4.108q0 1.481-0.296 2.882t-0.727 2.33-0.862 1.643-0.727 1.064l-0.296 0.323q0 1.051 0.902 1.805t2.182 1.226 2.559 0.997 2.182 1.455 0.902 2.276z'%3E%3C/path%3E%3C/svg%3E");
    }

    &::before{
      background-image:  url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.273 23.273v0.97q0 0.215-0.135 0.35t-0.35 0.135h-22.303q-0.216 0-0.35-0.135t-0.135-0.35v-0.97q0-1.347 0.902-2.276t2.182-1.455 2.559-0.997 2.182-1.226 0.902-1.805q-0.108-0.108-0.31-0.337t-0.7-1.024-0.889-1.684-0.7-2.303-0.31-2.896q0-2.397 1.71-4.108t4.108-1.71 4.108 1.71 1.71 4.108q0 1.481-0.296 2.882t-0.727 2.33-0.862 1.643-0.727 1.064l-0.296 0.323q0 1.051 0.902 1.805t2.182 1.226 2.559 0.997 2.182 1.455 0.902 2.276z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:           ' ';
      display:           inline-block;
      height:            2em;
      transform:         translate(0, .7em) scale(0.7);
      width:             1.6em;
    }

  }

  [data-association-path="ore_aggregation_edm_hasViews"]{

    &:hover::before{
      background-image: url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($eu-blue)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 32'%3E%3Cpath d='M23.192 8.269q.081.189.081.458v14.545q0 .593-.431 1.024t-1.024.431H1.454q-.593 0-1.024-.431t-.431-1.024V8.727q0-.269.081-.458l1.939-5.818q.135-.431.525-.714t.849-.283h16.485q.458 0 .849.283t.525.714zM2.99 8.727h17.293l-1.455-4.364H4.444z'%3E%3C/path%3E%3C/svg%3E");
    }
    &::before{
      background-image: url("data:image/svg+xml,%3Csvg fill='#{url-encode-color($gray-med)}' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 32'%3E%3Cpath d='M23.192 8.269q.081.189.081.458v14.545q0 .593-.431 1.024t-1.024.431H1.454q-.593 0-1.024-.431t-.431-1.024V8.727q0-.269.081-.458l1.939-5.818q.135-.431.525-.714t.849-.283h16.485q.458 0 .849.283t.525.714zM2.99 8.727h17.293l-1.455-4.364H4.444z'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content:           ' ';
      display:           inline-block;
      height:            2em;
      transform:         translate(0, .7em) scale(0.7);
      width:             1.6em;
    }
  }

  .add_nested_fields_link,
  .remove_nested_fields_link{
    display: none;
  }

  &.external-js-loaded{
    .add_nested_fields_link,
    .remove_nested_fields_link{
      display: inline-block;
    }
  }

  .invalid,
  .had-focus:invalid{
    border: 1px solid $eu-red;
  }

  .submits{
    padding-bottom: $ugc-padding;
    text-align:     right;

    .submit{
      display: inline-block;
    }
  }

  ul.eu-autocomplete{
    list-style: none;
    margin:     0;
  }

  .eu-autocomplete{
    display: block;
  }

  .btn-copy{
    border-bottom:  1px dotted $black;
    color:          $black;
    font-size:      $font-size-sm;
    opacity:        0;
    padding-top:    0.75em;
    pointer-events: none;
    position:       absolute;
    right:          1em;
    transition:     opacity 0.3s ease;

    &.enabled{
      opacity:        1;
      pointer-events: auto;
    }

    &:hover,
    &:focus{
      border-bottom: 1px dotted $eu-blue;
      color:         $eu-blue;
    }

  }

  .copies-other-field{
    position: relative;
  }

  .required abbr{
    margin-left: 0.3em;
  }

  .required-fields-hint{
    display:     inline-block;
    padding-top: $ugc-padding;

    &::before{
      content: '* ';
    }
  }

  [data-requires]{
    display: none;
    &.enabled{
      display: block;
    }
  }

  @media all and (max-width: $desktop-breakpoint){

    .license-radios{

      .js-swipeable{
        position: relative;
      }

      .licenses{
        margin-right: -53em;
        width:         53em;
      }

    }
  }

  @media all and (min-width: $desktop-breakpoint){

    &.new-contribution form{

      width: $desktop-form-full-width;

      input,
      select,
      textarea,
      .relative{
        display:    inline-block;
        max-width:  $desktop-input-max-width;
      }
      .licenses{
        max-width:  100%;
      }
    }

    .error:not(.global),
    .hint{
      left:      $desktop-label-width;
      max-width: $desktop-input-max-width;
      position:  relative;
    }

    .license-section + .error:not(.global),
    .full-width + .error,
    .full-width + .hint{
      position:  static;
    }


    .label-and-input{
      display:         flex;
      justify-content: space-between;

      &:not(.positioned-right):not(.full-width):not(.license-section){

        label{
          max-width:      $desktop-label-width;
          padding-bottom: 0;
          padding-right:  $space;
        }
      }

      &.license-section{

        display: block;

        label{
          max-width:      none;
          width:          100%;
        }
      }

      &.positioned-right{

        flex-direction:  row;
        justify-content: start;
        margin-left:     $desktop-label-width;

        label{
          font-weight:  normal;
          width:        auto;
        }

        input[type="checkbox"]{
          align-self:   start;
          margin-right: $cb-margin-right;
        }
      }

      .input.array{
        margin: 0;
        width: 100%;

        li:first-of-type{
          margin: 0;
        }
      }

    }

    .media-preview{

      float:      right;

      img{
        text-align: center;
      }
      label{
        padding-right: 0;
      }
      .input{
        margin:     0;
        text-align: right;
      }
    }

    .add_nested_fields_link{
      padding-top: 0.58em;
    }

    .remove_nested_fields_link{
      padding-top: 0.85em;
      position:    relative;
      transform:   translateY(0.75em);
    }
  }


  @media all and (min-width: $bp-med) {
    .input:not(.hidden){
      margin: $ugc-padding 0;
    }
  }
}

.ugc-migrations{

  margin-top: 0;

  .hero-text{
    background-color: transparent;
    bottom:           auto;
    position:         relative;
    width:            auto;
    h1{
      font-weight:    600;
      text-transform: none;
    }
    h3{
      font-weight:    normal;
    }
  }
}
