$bp-js-carousel-to-v: 555em;

$thumbnail_max_dimension_media:        100px;
$thumbnail_max_dimension_mlt:          200px;
$thumbnail_max_dimension_result_grid:  200px;

$box-shadow-panel:                 0 1px 3px 0 rgba(0, 0, 0, 0.25);
