@charset "UTF-8";
/*
 EUROPEANA Search

 Requires: Sass, Compass, Susy
*/
// Sass stuff
@import "compass/css3";
@import "scss/generic/variables";
@import "scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-user;
$textcolour_highlight: $accent;


// Reset
@import "scss/generic/reset";

/*------------------------------------*\
	$GLOBAL ELEMENTS
\*------------------------------------*/
@import "scss/base/global-classes";
@import "scss/base/main";
@import "scss/base/links";
@import "scss/base/headings_simple";
@import "scss/base/text";
@import "scss/base/lists";
@import "scss/base/media";
@import "scss/base/forms";


/*------------------------------------*\
	$GRIDS
\*------------------------------------*/

@import "scss/grid/susy";

/*------------------------------------*\
	$PAGE STRUCTURE
\*------------------------------------*/
@import "scss/objects/header";
@import "scss/objects/footer";
@import "scss/objects/sections";

/*------------------------------------*\
	$NAVIGATION
\*------------------------------------*/
//global nav styles - includes primary, secondary, tertiary and global offscreen navigation styles 
@import "scss/objects/nav";

//navigation types
@import "scss/objects/navigation/pagination";

/*------------------------------------*\
	$TEXT Styles
\*------------------------------------*/
@import "scss/objects/buttons";

// Global icons (svg)
@import "scss/objects/icons/svgicons";


/*------------------------------------*\
	Components
\*------------------------------------*/




/*------------------------------------*\
	site modules
\*------------------------------------*/
//module layout using susy grid
@import "layout_susy";

@import "search/results-list";


