@charset "UTF-8";
/*
 EUROPEANA Search

 Requires: Sass, Compass, Susy
*/
// Sass stuff
@import "compass/css3";
@import "../scss/generic/variables";

// Europeana variables
@import "variables";

// Mixins
@import "../scss/generic/mixins";


//SITE SPECIFIC VARIABLE OVERRIDES HERE
$accent: $eu-user;
$textcolour_highlight: $accent;


// Reset
@import "../scss/generic/reset";

/*------------------------------------*\
	$GLOBAL ELEMENTS
\*------------------------------------*/
@import "../scss/base/global-classes";
@import "../scss/base/main";
@import "../scss/base/links";
@import "../scss/base/headings_simple";
@import "../scss/base/text";
@import "../scss/base/lists";
@import "../scss/base/media";
@import "../scss/base/forms";
@import "../scss/base/utility";


/*------------------------------------*\
	$GRIDS
\*------------------------------------*/

@import "../scss/grid/susy";
//module layout using susy grid

$susy: (
  columns: 24,
  gutters: 1/2,
  math: fluid,
  use-custom: (
    box-sizing: false,
  ),
  global-box-sizing: border-box
);

@import "./layout_susy";


/*------------------------------------*\
	$PAGE STRUCTURE
\*------------------------------------*/
@import "../scss/objects/header";
@import "../scss/objects/footer";
@import "../scss/objects/sections";
@import "../scss/objects/blocks";
@import "../scss/objects/blocks/promo-module";
@import "../scss/objects/blocks/site-hero";

/*------------------------------------*\
	$NAVIGATION
\*------------------------------------*/
//global nav styles - includes primary, secondary, tertiary and global offscreen navigation styles
@import "../scss/objects/nav";

//navigation types
@import "../scss/objects/navigation/pagination";
@import "../scss/objects/navigation/next-previous";
@import "../scss/objects/navigation/breadcrumbs";

/*------------------------------------*\
	Buttons and text Styles
\*------------------------------------*/
@import "../scss/objects/buttons";
@import "../scss/objects/tags";
@import "../scss/objects/action-links";
@import "../scss/objects/corner-ribbon";
@import "../scss/objects/category-flags";
@import "../scss/objects/file-detail";
@import "../scss/objects/attribution";
@import "../scss/theme/hero-branding";

// Global icons (svg)
@import "../scss/objects/icons/svgicons";
// license icons
@import "../scss/objects/icons/icons-licenses";

/*------------------------------------*\
	Components
\*------------------------------------*/
@import "../scss/objects/controls/dropdown";
@import "../scss/objects/controls/buttonbar";
@import "../scss/objects/controls/results-filter";
@import "../scss/objects/controls/sparkline";
@import "../scss/objects/controls/search-multiterm";
// @import "../scss/objects/controls/accordion-tabs";

/*------------------------------------*\
	SITE SPECIFIC - global
\*------------------------------------*/
@import "./search-site";

/*------------------------------------*\
	SITE SPECIFIC - modules
\*------------------------------------*/
// Search list item
@import "./listitem";


/*------------------------------------*\
	Page specific
\*------------------------------------*/
@import "./results-list";

@import "./object";

