<div id="template-markup">
  {{> organisms/cards/js-template-promo-entity}}
  {{> organisms/cards/js-template-promo-exhibition}}
  {{> organisms/cards/js-template-promo-gallery}}
  {{> organisms/cards/js-template-promo-generic}}
  {{> organisms/cards/js-template-promo-next-prev}}
  {{> organisms/cards/js-template-promo-news}}
</div>
