<div id="template-markup">
  {{> js_template/cho/promotions/js-template-promo-entity}}
  {{> js_template/cho/promotions/js-template-promo-exhibition}}
  {{> js_template/cho/promotions/js-template-promo-gallery}}
  {{> js_template/cho/promotions/js-template-promo-generic}}
  {{> js_template/cho/promotions/js-template-promo-next-prev}}
  {{> js_template/cho/promotions/js-template-promo-news}}
</div>
